Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

[CSPM] add oscap-exec subcommand (to drop capabilities)
  cmd/security-agent/subcommands/compliance/command.go
  cmd/security-agent/subcommands/compliance/command_linux.go
  cmd/security-agent/subcommands/compliance/command_nonlinux.go
  cmd/security-agent/subcommands/compliance/oscapexec.go
  pkg/compliance/cli/oscapexec.go
Due: copyright, go-mod-tidy

[CSPM] use new `oscap-exec` subcommand
  pkg/compliance/evaluator_xccdf.go
Due: copyright, go-mod-tidy

[CSPM] add oscap-exec subcommand for system-probe as well
  cmd/system-probe/subcommands/compliance/command.go
  cmd/system-probe/subcommands/compliance/command_linux.go
  cmd/system-probe/subcommands/compliance/command_nonlinux.go
  cmd/system-probe/subcommands/compliance/oscapexec.go
Due: copyright, go-mod-tidy

Make sure we run dmg build on C files update (#45175)
  .gitlab-ci.yml
  .gitlab/build/package_build/dmg.yml
  .gitlab/deploy/e2e_testing_deploy/e2e_deploy.yml
Due: shell-check-no-set-x, gitlab-configuration

Use tmpl-v10 for the cluster-agent
  .gitlab/deploy/internal_image_deploy/internal_image_deploy.yml
Due: shell-check-no-set-x, gitlab-configuration

stricter confmap setting requirements
  comp/host-profiler/collector/impl/converters/converter_with_agent.go
  comp/host-profiler/collector/impl/converters/converters.go
  comp/host-profiler/collector/impl/converters/converters_test.go
  comp/host-profiler/collector/impl/converters/testdata/error_exporter_config_not_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/error_pipelines_not_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/error_processor_config_not_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/error_receiver_endpoints_wrong_type.yaml
  comp/host-profiler/collector/impl/converters/testdata/processor_name_similar_but_not_exact_match.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

wip
  comp/host-profiler/collector/impl/converters/converter_with_agent.go
  comp/host-profiler/collector/impl/converters/converters.go
  comp/host-profiler/collector/impl/converters/converters_test.go
  comp/host-profiler/collector/impl/otel_col_factories.go
Due: copyright, go-mod-tidy

moved test yaml to own files
  comp/host-profiler/collector/impl/converters/converter_with_agent.go
  comp/host-profiler/collector/impl/converters/converters_test.go
  comp/host-profiler/collector/impl/converters/testdata/adds_default_when_no_infraattributes.yaml
  comp/host-profiler/collector/impl/converters/testdata/adds_hostprofiler_to_pipeline.yaml
  comp/host-profiler/collector/impl/converters/testdata/adds_hostprofiler_when_missing.yaml
  comp/host-profiler/collector/impl/converters/testdata/both_default_and_custom_infraattributes.yaml
  comp/host-profiler/collector/impl/converters/testdata/converts_non_string_api_key.yaml
  comp/host-profiler/collector/impl/converters/testdata/converts_non_string_app_key.yaml
  comp/host-profiler/collector/impl/converters/testdata/creates_default_hostprofiler.yaml
  comp/host-profiler/collector/impl/converters/testdata/empty_pipeline.yaml
  comp/host-profiler/collector/impl/converters/testdata/empty_string_processor_name.yaml
  comp/host-profiler/collector/impl/converters/testdata/ensures_headers.yaml
  comp/host-profiler/collector/impl/converters/testdata/ensures_infraattributes_config.yaml
  comp/host-profiler/collector/impl/converters/testdata/errors_when_no_otlphttp.yaml
  comp/host-profiler/collector/impl/converters/testdata/global_processors_section_is_not_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/handles_infraattributes_custom_name.yaml
  comp/host-profiler/collector/impl/converters/testdata/headers_exist_but_wrong_type.yaml
  comp/host-profiler/collector/impl/converters/testdata/hostprofiler_in_pipeline_but_no_config.yaml
  comp/host-profiler/collector/impl/converters/testdata/ignores_non_otlphttp.yaml
  comp/host-profiler/collector/impl/converters/testdata/missing_service_section.yaml
  comp/host-profiler/collector/impl/converters/testdata/multiple_otlphttp_exporters.yaml
  comp/host-profiler/collector/impl/converters/testdata/multiple_otlphttp_with_mixed_keys.yaml
  comp/host-profiler/collector/impl/converters/testdata/multiple_resourcedetection_processors.yaml
  comp/host-profiler/collector/impl/converters/testdata/multiple_symbol_endpoints.yaml
  comp/host-profiler/collector/impl/converters/testdata/non_string_processor_name_in_pipeline.yaml
  comp/host-profiler/collector/impl/converters/testdata/otlphttp_converts_non_string_api_key.yaml
  comp/host-profiler/collector/impl/converters/testdata/otlphttp_with_string_api_key.yaml
  comp/host-profiler/collector/impl/converters/testdata/overrides_allow_hostname_override_to_true.yaml
  comp/host-profiler/collector/impl/converters/testdata/preserves_otlp_protocols.yaml
  comp/host-profiler/collector/impl/converters/testdata/processor_name_similar_but_not_exact_match.yaml
  comp/host-profiler/collector/impl/converters/testdata/receiver_config_is_not_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/removes_resourcedetection.yaml
  comp/host-profiler/collector/impl/converters/testdata/removes_resourcedetection_custom_name.yaml
  comp/host-profiler/collector/impl/converters/testdata/symbol_endpoints_exists_but_wrong_type.yaml
  comp/host-profiler/collector/impl/converters/testdata/symbol_uploader_disabled.yaml
  comp/host-profiler/collector/impl/converters/testdata/symbol_uploader_enabled_with_empty_endpoints.yaml
  comp/host-profiler/collector/impl/converters/testdata/symbol_uploader_with_mixed_endpoint_types.yaml
  comp/host-profiler/collector/impl/converters/testdata/symbol_uploader_with_string_keys.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

check, cleanup & comments
  comp/host-profiler/collector/impl/converters/converter_with_agent.go
  comp/host-profiler/collector/impl/converters/converters_test.go
  comp/host-profiler/collector/impl/converters/testdata/hostprofiler_in_pipeline_but_no_config.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

added standalone mode configuration enforcement
  comp/host-profiler/collector/impl/converters/converter_with_agent.go
  comp/host-profiler/collector/impl/converters/converter_with_agent_test.go
  comp/host-profiler/collector/impl/converters/converter_without_agent.go
  comp/host-profiler/collector/impl/converters/converter_without_agent_test.go
  comp/host-profiler/collector/impl/converters/converters.go
  comp/host-profiler/collector/impl/converters/converters_test.go
  comp/host-profiler/collector/impl/converters/testdata/error_exporter_config_not_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/error_processor_config_not_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/error_receiver_endpoints_wrong_type.yaml
  comp/host-profiler/collector/impl/converters/testdata/helper_functions/get_intermediate_non_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/helper_functions/get_maps_and_arrays.yaml
  comp/host-profiler/collector/impl/converters/testdata/helper_functions/get_nested_values.yaml
  comp/host-profiler/collector/impl/converters/testdata/helper_functions/get_simple_values.yaml
  comp/host-profiler/collector/impl/converters/testdata/helper_functions/get_wrong_types.yaml
  comp/host-profiler/collector/impl/converters/testdata/helper_functions/set_intermediate_non_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/helper_functions/set_overwrites_values.yaml
  comp/host-profiler/collector/impl/converters/testdata/missing_service_section.yaml
  comp/host-profiler/collector/impl/converters/testdata/multiple_otlphttp_with_mixed_keys.yaml
  comp/host-profiler/collector/impl/converters/testdata/receiver_config_is_not_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/symbol_uploader_with_mixed_endpoint_types.yaml
  comp/host-profiler/collector/impl/converters/testdata/without_agent_empty_pipeline.yaml
  comp/host-profiler/collector/impl/converters/testdata/without_agent_global_processors_section_is_not_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/without_agent_processor_name_similar_but_not_exact_match.yaml
  comp/host-profiler/collector/impl/converters/testdata/without_agent_removes_agent_extensions.yaml
  comp/host-profiler/collector/impl/converters/testdata/without_agent_removes_infraattributes_from_metrics_pipeline.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

removed api/app key inference & cleaned up logic & tests
  cmd/host-profiler/dist/host-profiler-config.yaml
  comp/host-profiler/collector/impl/converters/converter_with_agent.go
  comp/host-profiler/collector/impl/converters/converters.go
  comp/host-profiler/collector/impl/converters/converters_test.go
  comp/host-profiler/collector/impl/converters/testdata/adds_default_when_no_infraattributes.yaml
  comp/host-profiler/collector/impl/converters/testdata/adds_hostprofiler_to_pipeline.yaml
  comp/host-profiler/collector/impl/converters/testdata/adds_hostprofiler_when_missing.yaml
  comp/host-profiler/collector/impl/converters/testdata/both_default_and_custom_infraattributes.yaml
  comp/host-profiler/collector/impl/converters/testdata/converts_non_string_api_key.yaml
  comp/host-profiler/collector/impl/converters/testdata/converts_non_string_app_key.yaml
  comp/host-profiler/collector/impl/converters/testdata/creates_default_hostprofiler.yaml
  comp/host-profiler/collector/impl/converters/testdata/empty_string_processor_name.yaml
  comp/host-profiler/collector/impl/converters/testdata/ensures_headers.yaml
  comp/host-profiler/collector/impl/converters/testdata/ensures_infraattributes_config.yaml
  comp/host-profiler/collector/impl/converters/testdata/error_pipelines_not_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/error_processor_config_not_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/error_receiver_endpoints_wrong_type.yaml
  comp/host-profiler/collector/impl/converters/testdata/errors_when_no_otlphttp.yaml
  comp/host-profiler/collector/impl/converters/testdata/global_processors_section_is_not_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/handles_infraattributes_custom_name.yaml
  comp/host-profiler/collector/impl/converters/testdata/headers_exist_but_wrong_type.yaml
  comp/host-profiler/collector/impl/converters/testdata/ignores_non_otlphttp.yaml
  comp/host-profiler/collector/impl/converters/testdata/missing_service_section.yaml
  comp/host-profiler/collector/impl/converters/testdata/multiple_hostprofiler_receivers.yaml
  comp/host-profiler/collector/impl/converters/testdata/multiple_resourcedetection_processors.yaml
  comp/host-profiler/collector/impl/converters/testdata/multiple_symbol_endpoints.yaml
  comp/host-profiler/collector/impl/converters/testdata/non_string_processor_name_in_pipeline.yaml
  comp/host-profiler/collector/impl/converters/testdata/non_string_receiver_name_in_pipeline.yaml
  comp/host-profiler/collector/impl/converters/testdata/overrides_allow_hostname_override_to_true.yaml
  comp/host-profiler/collector/impl/converters/testdata/preserves_otlp_protocols.yaml
  comp/host-profiler/collector/impl/converters/testdata/processor_name_similar_but_not_exact_match.yaml
  comp/host-profiler/collector/impl/converters/testdata/receiver_config_is_not_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/removes_resourcedetection.yaml
  comp/host-profiler/collector/impl/converters/testdata/removes_resourcedetection_custom_name.yaml
  comp/host-profiler/collector/impl/converters/testdata/symbol_endpoints_exists_but_wrong_type.yaml
  comp/host-profiler/collector/impl/converters/testdata/symbol_uploader_disabled.yaml
  comp/host-profiler/collector/impl/converters/testdata/symbol_uploader_with_mixed_endpoint_types.yaml
  comp/host-profiler/collector/impl/converters/testdata/symbol_uploader_with_string_keys.yaml
  comp/host-profiler/collector/impl/otel_col_factories.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

refacto between converters
  comp/host-profiler/collector/impl/converters/converter_with_agent.go
  comp/host-profiler/collector/impl/converters/converter_without_agent.go
  comp/host-profiler/collector/impl/converters/converters.go
  comp/host-profiler/collector/impl/converters/helper.go
Due: copyright, go-mod-tidy

clean up
  comp/host-profiler/collector/impl/converters/converter_with_agent.go
  comp/host-profiler/collector/impl/converters/converter_with_agent_test.go
  comp/host-profiler/collector/impl/converters/converter_without_agent.go
  comp/host-profiler/collector/impl/converters/converter_without_agent_test.go
  comp/host-profiler/collector/impl/converters/converters.go
Due: copyright, go-mod-tidy

lint again
  comp/host-profiler/collector/impl/converters/converters_test.go
  comp/host-profiler/collector/impl/converters/testdata/helper_functions/get_inter_nonmap.yaml
  comp/host-profiler/collector/impl/converters/testdata/helper_functions/set_inter_nonmap.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

lint
  comp/host-profiler/collector/impl/converters/converter_with_agent.go
  comp/host-profiler/collector/impl/converters/converter_with_agent_test.go
  comp/host-profiler/collector/impl/converters/converter_without_agent.go
  comp/host-profiler/collector/impl/converters/converter_without_agent_test.go
  comp/host-profiler/collector/impl/converters/converters.go
  comp/host-profiler/collector/impl/converters/converters_test.go
  comp/host-profiler/collector/impl/converters/testdata/default_and_custom_infraattrs.yaml
  comp/host-profiler/collector/impl/converters/testdata/helper_functions/get_intermediate_nonmap.yaml
  comp/host-profiler/collector/impl/converters/testdata/helper_functions/set_intermediate_nonmap.yaml
  comp/host-profiler/collector/impl/converters/testdata/helper_functions/set_overwrites.yaml
  comp/host-profiler/collector/impl/converters/testdata/overrides_hostname_override_true.yaml
  comp/host-profiler/collector/impl/converters/testdata/processor_name_similar_not_exact.yaml
  comp/host-profiler/collector/impl/converters/testdata/symbol_endpoints_wrong_type.yaml
  comp/host-profiler/collector/impl/converters/testdata/symbol_uploader_empty_endpoints.yaml
  comp/host-profiler/collector/impl/converters/testdata/wo_agent_global_procs_not_map.yaml
  comp/host-profiler/collector/impl/converters/testdata/wo_agent_proc_name_similar_not_exact.yaml
  comp/host-profiler/collector/impl/converters/testdata/wo_agent_removes_extensions.yaml
  comp/host-profiler/collector/impl/converters/testdata/wo_agent_removes_infraattrs_metrics.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Apply suggestions from code review
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

feat(pre-commit): Allow parallelism on non-write checks
  .pre-commit-config.yaml
Due: shell-check-no-set-x

Fix linter
  pkg/gpu/integrationtests/mig_test.go
Due: copyright, go-mod-tidy

removed unused test functions
  comp/host-profiler/collector/impl/converters/converters_test.go
Due: copyright, go-mod-tidy

Add gpu_type
  comp/core/workloadmeta/collectors/internal/nvml/nvml.go
  comp/core/workloadmeta/collectors/internal/nvml/nvml_test.go
  comp/core/workloadmeta/def/types.go
Due: copyright, go-mod-tidy

Add MIG case
  comp/core/workloadmeta/collectors/internal/nvml/nvml_test.go
Due: copyright, go-mod-tidy

Add tag generation
  comp/core/tagger/collectors/workloadmeta_extract.go
  comp/core/tagger/collectors/workloadmeta_test.go
  comp/core/tagger/tags/tags.go
Due: copyright, go-mod-tidy

Add changelog
  releasenotes/notes/gpu-type-eb19eca3cde87e4a.yaml
Due: shell-check-no-set-x

Add changelog
  releasenotes/notes/gpu-mig-core-e7f58edfd92c36e7.yaml
Due: shell-check-no-set-x

Remove serverless support
  cmd/serverless-init/main.go
  cmd/serverless-init/main_test.go
  comp/filterlist/impl/tagfilterlist.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_serverless.go
  pkg/collector/corechecks/snmp/integration_profile_metadata_test.go
  pkg/collector/corechecks/snmp/integration_topology_test.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_test.go
  pkg/collector/corechecks/systemd/systemd_test.go
  pkg/serverless/metrics/metric.go
  pkg/serverless/metrics/metric_test.go
  test/benchmarks/kubernetes_state/main.go
Due: copyright, go-mod-tidy

Apply suggestions from code review
  CHANGELOG.rst
Due: none

Use a single input argument
  .github/workflows/ask_review.yml
  tasks/issue.py
  tasks/unit_tests/issue_tests.py
Due: shell-check-no-set-x

Revert "[EBPF] gpu: add support for cuLaunchKernelEx method (#45177)"
  pkg/gpu/ebpf/c/runtime/gpu.c
  pkg/gpu/ebpf/c/types.h
  pkg/gpu/probe.go
  pkg/gpu/probe_test.go
  pkg/gpu/testdata/common_functions.h
  pkg/gpu/testdata/cudasample.c
Due: copyright, win-clang-format, go-mod-tidy

Revert "Fix difference raised on staging by TEE Config. (#45133)"
  pkg/config/nodetreemodel/getter.go
  pkg/config/teeconfig/teeconfig.go
  pkg/config/viperconfig/viper.go
Due: copyright, go-mod-tidy

Datadog Internal Artifact Registry Setup
  .adms/adms.bazelrc
  .adms/bazel/adms.mirror.cfg
  .adms/bazel/bazel.bazelrc
  .adms/go/gitlab.yaml
  .adms/go/go.bazelrc
  .adms/npm/gitlab.yaml
  .adms/npm/npm.bazelrc
  .adms/python/gitlab.yaml
  .adms/python/python.bazelrc
  .bazelrc
  .gitlab-ci.yml
  .gitlab/build/bazel/build-deps.yml
Due: shell-check-no-set-x, gitlab-configuration

added metrics and tags to some metrics
  pkg/security/metrics/metrics.go
  pkg/security/security_profile/manager_v2.go
Due: copyright, go-mod-tidy

Allow more bazel URLs
  .adms/bazel/adms.mirror.cfg
Due: none

feat: create script to consolidate jsonl results into excel spreadsheet
  q_branch/mcp-evaluation/pyproject.toml
  q_branch/mcp-evaluation/scripts/consolidate_results.py
Due: none

Move bazel config flag for CI into .bazelrc
  .adms/bazel/adms.mirror.cfg
  .adms/bazel/bazel.bazelrc
  .bazelrc
Due: none

Test removing mappings
  .adms/bazel/bazel.bazelrc
Due: none

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
