Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

anomalydetection: remove obsolete Holt median helper
  comp/anomalydetection/observer/impl/metrics_detector_holt_residual.go
Due: copyright, go-mod-tidy

Allow filterlist to specify prefixes
  comp/dogstatsd/server/impl/enrich_test.go
  comp/dogstatsd/server/impl/filterlist_init_test.go
  comp/filterlist/impl/filterlist.go
  comp/filterlist/impl/filterlist_test.go
  comp/filterlist/impl/rc.go
  comp/filterlist/impl/rc_test.go
  pkg/config/schema/yaml/core_schema.yaml
  pkg/util/strings/matcher.go
  pkg/util/strings/matcher_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

CWS: read the tracer memfd name at syscall exit
  pkg/security/ebpf/c/include/hooks/memfd.h
  pkg/security/ebpf/c/include/structs/syscalls.h
Due: win-clang-format

[AAD] add observer Bazel key dependencies
  comp/anomalydetection/observer/impl/BUILD.bazel
Due: none

Bump devenv
  .devcontainer/datadog/default/prebuild-devcontainer.json
Due: none

[AAD] align observer key collisions with metrics pipeline
  comp/anomalydetection/observer/impl/filter_rules_test.go
  comp/anomalydetection/observer/impl/storage.go
  comp/anomalydetection/observer/impl/storage_test.go
Due: copyright, go-mod-tidy

fix(ssi): verify the version of the installer used by apm-inject (#55297)
  pkg/fleet/installer/packages/apminject/BUILD.bazel
  pkg/fleet/installer/packages/apminject/apm_inject.go
  pkg/fleet/installer/packages/apminject/apm_inject_test.go
  pkg/fleet/installer/packages/apminject/systemd.go
  pkg/fleet/installer/packages/apminject/systemd_other.go
  pkg/fleet/installer/packages/apminject/systemd_test.go
  test/new-e2e/tests/installer/host/BUILD.bazel
  test/new-e2e/tests/installer/host/host.go
  test/new-e2e/tests/installer/host/host_test.go
  test/new-e2e/tests/installer/unix/package_apm_inject_reboot_test.go
Due: copyright, go-mod-tidy

Run as dd-agent, addesse comments
  pkg/fleet/installer/commands/status.go
  pkg/fleet/installer/commands/status.tmpl
  pkg/procmgr/coat/client_cli.go
  pkg/procmgr/coat/client_cli_unix.go
  pkg/procmgr/coat/client_cli_windows.go
Due: copyright, go-mod-tidy

[AAD] test telemetry storage identity
  comp/anomalydetection/observer/impl/observer_test.go
Due: copyright, go-mod-tidy

Fix failing macos tests
  comp/process/BUILD.bazel
  pkg/process/checks/BUILD.bazel
Due: none

pkg/ebpf/BUILD.bazel
  pkg/ebpf/BUILD.bazel
Due: none

Disable cgo for agent_lib for non-Linux builds
  cmd/agent/BUILD.bazel
Due: none

Add keep directive to preserve cgo settings
  cmd/agent/BUILD.bazel
Due: none

Widen fallback for sbom check
  pkg/collector/corechecks/sbom/check_no_trivy.go
Due: copyright, go-mod-tidy

fix auth_token fetching in system-probe test
  cmd/system-probe/subcommands/run/command_test.go
Due: copyright, go-mod-tidy

tidy
  cmd/system-probe/subcommands/run/BUILD.bazel
Due: none

fix(ssi): verify the version of the installer used by apm-inject (#55297)
  pkg/fleet/installer/packages/apminject/BUILD.bazel
  pkg/fleet/installer/packages/apminject/apm_inject.go
  pkg/fleet/installer/packages/apminject/apm_inject_test.go
  pkg/fleet/installer/packages/apminject/systemd.go
  pkg/fleet/installer/packages/apminject/systemd_other.go
  pkg/fleet/installer/packages/apminject/systemd_test.go
  test/new-e2e/tests/installer/host/host.go
  test/new-e2e/tests/installer/host/host_test.go
  test/new-e2e/tests/installer/unix/package_apm_inject_reboot_test.go
Due: copyright, go-mod-tidy

fix(e2e): wire mirror hardening into step-by-step suite (#55360)
  test/new-e2e/tests/agent-platform/tests/step_by_step_test.go
Due: copyright, go-mod-tidy

fixup
  pkg/security/tests/syscall_tester/c/otel_tls_common.h
Due: win-clang-format

test(e2e): use development Operator Helm chart
  test/e2e-framework/components/datadog/operator/helm.go
  test/e2e-framework/resources/helm/helm.go
Due: copyright, go-mod-tidy

fix(e2e): skip mirror-hardening host construction on CentOS 6
  test/new-e2e/tests/agent-platform/tests/step_by_step_test.go
Due: copyright, go-mod-tidy

disable kustomize's Go-plugin loader via a module patch
  bazel/patches/kustomize-disable-go-plugin-loader.patch
  deps/go.MODULE.bazel
Due: none

add package object (#55050)
  pkg/privateactionrunner/bundle-support/authoredscripts/BUILD.bazel
  pkg/privateactionrunner/bundle-support/authoredscripts/catalog.go
  pkg/privateactionrunner/bundle-support/authoredscripts/environment.go
  pkg/privateactionrunner/bundle-support/authoredscripts/environment_test.go
  pkg/privateactionrunner/bundle-support/authoredscripts/local_store.go
  pkg/privateactionrunner/bundle-support/authoredscripts/manifest.go
  pkg/privateactionrunner/bundle-support/authoredscripts/manifest_test.go
  pkg/privateactionrunner/bundle-support/authoredscripts/package.go
  pkg/privateactionrunner/bundle-support/authoredscripts/package_test.go
  pkg/privateactionrunner/bundle-support/authoredscripts/session.go
Due: copyright, go-mod-tidy

[anomalydetection] Update E2E team tag
  .gitlab/test/e2e/e2e.yml
Due: shell-check-no-set-x, gitlab-configuration

[FA] Rename Slack channel for fleet automation monitoring
  tasks/libs/pipeline/github_slack_map.yaml
Due: shell-check-no-set-x

Add SSH install-script host agent installer
  test/e2e-framework/testing/components/remotehost_agent.go
  test/e2e-framework/testing/installers/host/installscript/BUILD.bazel
  test/e2e-framework/testing/installers/host/installscript/installscript.go
  test/e2e-framework/testing/installers/host/installscript/installscript_test.go
Due: copyright, go-mod-tidy

Add example e2e tests using the no-Pulumi installers
  test/new-e2e/examples/BUILD.bazel
  test/new-e2e/examples/host_nopulumi_test.go
  test/new-e2e/examples/kind_nopulumi_rc_loglevel_test.go
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

Add Helm-based Kubernetes agent installer
  deps/go.MODULE.bazel
  test/e2e-framework/AGENTS.md
  test/e2e-framework/go.mod
  test/e2e-framework/go.sum
  test/e2e-framework/testing/installers/kubernetes/helm/BUILD.bazel
  test/e2e-framework/testing/installers/kubernetes/helm/helm.go
  test/e2e-framework/testing/installers/kubernetes/helm/helm_test.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

Remove release note
  comp/core/agenttelemetry/impl/BUILD.bazel
  comp/core/agenttelemetry/impl/agenttelemetry_test.go
  comp/core/agenttelemetry/impl/go.mod
  comp/dogstatsd/replay/impl/BUILD.bazel
  comp/dogstatsd/replay/impl/writer_test.go
  comp/host-profiler/symboluploader/BUILD.bazel
  comp/host-profiler/symboluploader/symbol_uploader_test.go
  comp/otelcol/otlp/integrationtest/BUILD.bazel
  comp/otelcol/otlp/integrationtest/integration_test.go
  comp/trace/compression/impl-zstd/zstd.go
  go.mod
  releasenotes/notes/zstd-pure-go-fallback-50d5a83f80194ba2.yaml
  test/fakeintake/aggregator/BUILD.bazel
  test/fakeintake/aggregator/metricAggregatorV3_test.go
  test/fakeintake/go.mod
Due: copyright, go-mod-tidy, shell-check-no-set-x, check-go-modules-in-python, protocol-buffer

[AAD] require observer metric context keys
  comp/anomalydetection/logssource/impl/pipeline_test.go
  comp/anomalydetection/observer/def/types.go
  comp/anomalydetection/observer/impl/agent_logs_test.go
  comp/anomalydetection/observer/impl/bench_ingestion_test.go
  comp/anomalydetection/observer/impl/debug.go
  comp/anomalydetection/observer/impl/filter_rules_test.go
  comp/anomalydetection/observer/impl/ingest_metrics_disabled_test.go
  comp/anomalydetection/observer/impl/observer.go
  comp/anomalydetection/observer/impl/test_helpers_test.go
  pkg/aggregator/observer_handle_test.go
Due: copyright, go-mod-tidy

Use a typed Level for zstd compression constants
  comp/core/agenttelemetry/impl/sender.go
  pkg/util/compression/impl-zstd/zstd_strategy.go
  pkg/zstd/zstd.go
  pkg/zstd/zstd_cgo.go
  pkg/zstd/zstd_nocgo.go
Due: copyright, go-mod-tidy

[AAD] simplify metadata-derived storage lookups
  comp/anomalydetection/observer/impl/events_test.go
  comp/anomalydetection/observer/impl/storage.go
Due: copyright, go-mod-tidy

Remove tailscale install
  .devcontainer/datadog/default/features/datadog-agent/install.sh
Due: shell-check-no-set-x

[AAD] avoid repeated storage tag canonicalization
  comp/anomalydetection/observer/impl/bench_ingestion_test.go
  comp/anomalydetection/observer/impl/engine.go
  comp/anomalydetection/observer/impl/observer_test.go
  comp/anomalydetection/observer/impl/storage.go
Due: copyright, go-mod-tidy

Alias Level to the active backend's native level type
  comp/core/agenttelemetry/impl/sender.go
  pkg/util/compression/impl-zstd/zstd_strategy.go
  pkg/zstd/zstd.go
  pkg/zstd/zstd_cgo.go
  pkg/zstd/zstd_nocgo.go
Due: copyright, go-mod-tidy

ci: make apt mirror config resilient to slow mirrors across agent images
  Dockerfiles/agent/Dockerfile
  Dockerfiles/base-image/Dockerfile
  Dockerfiles/cluster-agent/Dockerfile
  Dockerfiles/ddot-ebpf/Dockerfile
  Dockerfiles/otel-agent/Dockerfile
Due: shell-check-no-set-x

ci: extend apt/apk mirror resilience to fakeintake, podman e2e, dogstatsd
  Dockerfiles/dogstatsd/alpine/Dockerfile
  test/e2e-framework/resources/local/podman/data/Dockerfile
  test/fakeintake/Dockerfile
Due: shell-check-no-set-x
