Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 3.9.2 # should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==21.11.28
        - flake8-comprehensions==3.7.0
        - flake8-unused-arguments==0.0.6
        - flake8-use-fstring==1.3.0
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
- repo: https://github.com/timothycrosley/isort/
  rev: 5.12.0
  hooks:
    - id: isort
- repo: https://github.com/jendrikseipp/vulture
  rev: v2.3
  hooks:
    - id: vulture
      args: ["--ignore-decorators", "@task", "--ignore-names", "test_*,Test*", "tasks"]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 2.1.5
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
    - id: go-fmt
      args: [ "-w", "-s" ]
- repo: local
  hooks:
    - id: protected-branches
      name: protected-branches
      description: checks that the commit isn't created on a protected branch
      entry: 'python3 tasks/git-hooks/protected-branches.py'
      language: system
    - id: revive
      name: revive
      description: revive
      entry: 'python3 tasks/git-hooks/revive.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: copyright
      name: copyright
      description: copyright headers
      entry: 'python3 tasks/git-hooks/copyright.py'
      language: system
      require_serial: true
      files: \.go$
    - id: win-clang-format
      name: win-clang-format
      description: clang-format
      entry: './tasks/git-hooks/wincpplang.py'
      language: system
      types_or: [c, c++, c#]
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 tasks/git-hooks/clang-format.py'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'

[agentless-scanner] Deduplicate agentless_scanner collection
  tasks/__init__.py
Due: none

optimized pprof label wrapper
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/utils/pprof.go
Due: revive, govet, copyright

[agentless-scanner] inv generate-licenses
  LICENSE-3rdparty.csv
Due: none

send strip metrics when available
  tasks/agent.py
Due: none

pre-allocate pprof labels map
  pkg/security/secl/compiler/eval/rule.go
  pkg/security/secl/rules/ruleset.go
Due: revive, govet, copyright

[testutil] add flake testing marker (#22028) (#22998)
  .github/CODEOWNERS
  pkg/util/testutil/flake/flake.go
  pkg/util/testutil/flake/flake_test.go
Due: revive, govet, copyright

[gitlab] skip known flakes by default (#22196)
  pkg/util/testutil/flake/flake.go
  pkg/util/testutil/flake/flake_test.go
Due: revive, govet, copyright

[agentless-scanner] Add agentless_scanner_suse-x64 in pkg_metrics
  .gitlab/pkg_metrics.yml
Due: none

[process-agent] explicitly invoke the tagger component to fix container tagging
  cmd/process-agent/command/main_common.go
  cmd/process-agent/subcommands/check/check.go
Due: revive, govet, copyright

[agentles-scanner] Don't delete dd-user after uninstalling agentless-scanner deb package
  omnibus/package-scripts/agentless-scanner-deb/postrm
Due: none

feat: no container environment detection in serverless
  pkg/config/env/environment_containers.go
  pkg/config/env/environment_containers_test.go
  pkg/config/env/environment_nocontainers.go
Due: revive, govet, copyright

comment out changes to test CI
  cmd/process-agent/command/main_common.go
  cmd/process-agent/subcommands/check/check.go
Due: revive, govet, copyright

try disabling the otlp queue
  comp/otelcol/otlp/map_provider_config_not_serverless.go
Due: revive, govet, copyright

refactor(tasks): move external methods on top of the file
  tasks/libs/junit_upload_core.py
Due: none

revert changes to only use HTTP2DynamicTableMapCleanerInterval
  pkg/config/setup/system_probe.go
  pkg/network/config/config_test.go
Due: revive, govet, copyright

changed EBPFTelemetry ctor to private fixed possible nil dereference in errors_collector_linux.go Collect method_
  pkg/ebpf/telemetry/errors_collector_linux.go
  pkg/ebpf/telemetry/errors_telemetry.go
Due: revive, govet, copyright

fixed tests marked telemetry manager wrapper as deprecated
  pkg/ebpf/telemetry/modifier.go
  pkg/network/tracer/tracer_linux_test.go
Due: revive, govet, copyright

- renamed ctor to singleton getter - fixed some linter errors
  pkg/ebpf/telemetry/errors_collector_linux.go
  pkg/ebpf/telemetry/errors_telemetry.go
  pkg/ebpf/telemetry/modifier.go
Due: revive, govet, copyright

- added ErrorsTelemetryModifier - introduced private ebpfTelemetry singleton instance
  pkg/ebpf/telemetry/errors_collector_linux.go
  pkg/ebpf/telemetry/errors_telemetry.go
  pkg/ebpf/telemetry/modifier.go
  pkg/network/tracer/tracer.go
Due: revive, govet, copyright

fixed telemetry initialization as tests are failing when executed in a suite
  pkg/ebpf/telemetry/errors_collector_linux.go
  pkg/ebpf/telemetry/errors_telemetry.go
Due: revive, govet, copyright

Try to ensure UDP and TCP don't have the same port
  pkg/network/port_test.go
Due: revive, govet, copyright

feat(ci): add a new tag in ci-visibility test for known flakes
  tasks/libs/junit_upload_core.py
Due: none

revert
  pkg/network/config/config_test.go
Due: revive, govet, copyright

Creating an authtoken comp (#22968)
  cmd/agent/subcommands/flare/command.go
  cmd/agent/subcommands/jmx/command.go
  cmd/agent/subcommands/run/command.go
  cmd/dogstatsd/subcommands/start/command.go
  cmd/systray/command/command.go
  comp/README.md
  comp/api/api/apiimpl/api.go
  comp/api/api/apiimpl/server.go
  comp/api/authtoken/component.go
  comp/api/authtoken/createandfetchimpl/authtoken.go
  comp/api/authtoken/createandfetchimpl/authtoken_test.go
  comp/api/authtoken/fetchonlyimpl/authtoken.go
  comp/metadata/bundle_test.go
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent.go
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent_test.go
  comp/metadata/inventoryagent/inventoryagentimpl/mock.go
  pkg/cli/subcommands/check/command.go
Due: revive, govet, copyright

[gitlab] skip known flakes by default (#22196) (#22999)
  pkg/util/testutil/flake/flake.go
  pkg/util/testutil/flake/flake_test.go
Due: revive, govet, copyright

Fix nil bug when using sync.once (#23002)
  pkg/clusteragent/admission/mutate/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_test.go
Due: revive, govet, copyright

Add missing WINDOWS_DDPROCMON entries in release.json
  release.json
Due: none

change http2_fetch_stream to bpf_map_lookup_elem in eos (#23036)
  pkg/network/ebpf/c/protocols/http2/decoding-tls.h
  pkg/network/ebpf/c/protocols/http2/decoding.h
Due: clang-format

temp commit
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/statsraw.go
  pkg/trace/testutil/stats.go
Due: revive, govet, copyright

Add Options for constructing IPCEndpoint, tests
  cmd/agent/subcommands/secret/command.go
  cmd/agent/subcommands/status/command.go
  go.mod
  pkg/api/go.mod
  pkg/api/util/ipc_endpoint.go
  pkg/api/util/ipc_endpoint_test.go
Due: revive, govet, copyright

fix flaky eventlog integration tests (#22140)
  .gitlab/JOBOWNERS
  pkg/collector/corechecks/windows_event_log/check_test.go
  pkg/logs/tailers/windowsevent/tailer_test.go
  pkg/util/winutil/eventlog/api/fake/fake.go
  pkg/util/winutil/eventlog/api/fake/test.go
  pkg/util/winutil/eventlog/api/fake/wevtapi.go
  pkg/util/winutil/eventlog/api/types.go
  pkg/util/winutil/eventlog/api/windows/types.go
  pkg/util/winutil/eventlog/api/windows/wevtapi.go
  pkg/util/winutil/eventlog/example_test.go
  pkg/util/winutil/eventlog/test/fake.go
  pkg/util/winutil/eventlog/test/test.go
  pkg/util/winutil/eventlog/test/windows.go
Due: revive, govet, copyright

Remove batch processor from traces pipeline (#22757)
  comp/otelcol/otlp/map_provider_config_not_serverless.go
  comp/otelcol/otlp/map_provider_not_serverless_test.go
Due: revive, govet, copyright

Go mod tidy
  comp/core/config/go.mod
  comp/core/config/go.sum
  comp/core/log/go.mod
  comp/core/log/go.sum
  comp/core/status/statusimpl/go.mod
  comp/core/status/statusimpl/go.sum
  comp/forwarder/defaultforwarder/go.mod
  comp/forwarder/defaultforwarder/go.sum
  comp/forwarder/orchestrator/orchestratorinterface/go.mod
  comp/forwarder/orchestrator/orchestratorinterface/go.sum
  comp/logs/agent/config/go.mod
  comp/logs/agent/config/go.sum
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.sum
  pkg/api/go.mod
  pkg/api/go.sum
  pkg/config/env/go.mod
  pkg/config/env/go.sum
  pkg/config/logs/go.mod
  pkg/config/logs/go.sum
  pkg/config/remote/go.mod
  pkg/config/remote/go.sum
  pkg/config/setup/go.mod
  pkg/config/setup/go.sum
  pkg/config/utils/go.mod
  pkg/config/utils/go.sum
  pkg/metrics/go.mod
  pkg/metrics/go.sum
  pkg/serializer/go.mod
  pkg/serializer/go.sum
  pkg/util/flavor/go.mod
  pkg/util/flavor/go.sum
  pkg/util/http/go.mod
  pkg/util/http/go.sum
Due: none

remove batch and add memory limiter
  comp/otelcol/otlp/map_provider_config_not_serverless.go
Due: revive, govet, copyright

[process-agent] explicitly invoke the tagger component to fix container tagging (#23001)
  cmd/process-agent/command/main_common.go
  cmd/process-agent/subcommands/check/check.go
Due: revive, govet, copyright

[USM] Fix dynamic table map cleaner interval (#22987)
  pkg/network/protocols/http2/protocol.go
Due: revive, govet, copyright

[windows][cws] increase buffer size to ensure we receive notifications
  pkg/windowsdriver/procmon/procmon.go
Due: revive, govet, copyright

update loggin for dogstatsd server when started
  cmd/agent/subcommands/run/command.go
  comp/dogstatsd/server/serverless.go
Due: revive, govet, copyright

update the driver buffer size
  pkg/windowsdriver/procmon/procmon.go
Due: revive, govet, copyright
