Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

copyright:
  name: copyright
  description: copyright headers
  entry: inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: inv tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

gitlab-lint-jobs-codeowners:
  name: gitlab-lint-jobs-codeowners
  description: lint the gitlab configuration to verify jobs codeowners
  entry: inv linter.gitlab-ci-jobs-codeowners
  language: system
  require_serial: true
  pass_filenames: false

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: inv modules.validate
  language: system
  pass_filenames: false

kafka: tests: Split produce/fetch tests into separate units (#35631)
  pkg/network/usm/tests/tracer_usm_kafka_classification_linux_test.go
  pkg/network/usm/tests/tracer_usm_linux_test.go
  pkg/network/usm/tests/utils.go
Due: copyright, go-mod-tidy

[RC] Restore ignoring unauthorized/proxy errors in poll org status (#35848)
  pkg/config/remote/service/service.go
Due: copyright, go-mod-tidy

[NPM-4178] Add second goroutine to ParallelTraceroute for ICMP (#35524)
  pkg/networkpath/traceroute/common/traceroute_parallel.go
  pkg/networkpath/traceroute/common/traceroute_parallel_test.go
Due: copyright, go-mod-tidy

fix(assess_permissions): Rework the assess_permissions workflow (#35840)
  .github/workflows/assess_permissions.yml
  tasks/github_tasks.py
  tasks/libs/ciproviders/github_api.py
  tasks/libs/common/slack.py
  tasks/libs/notify/permissions.py
  tasks/libs/types/types.py
  tasks/unit_tests/github_api_tests.py
  tasks/unit_tests/github_tasks_tests.py
Due: shell-check-no-set-x

eBPF: strip the LBB* symbols from eBPF object files (#35837)
  tasks/system_probe.py
Due: none

fix remote-tagger stopping race-condition (#35818)
  comp/core/tagger/impl-remote/remote.go
Due: copyright, go-mod-tidy

feat(renovate): Several updates (#35859)
  .github/workflows/bump_integrations_core.yml
  renovate.json
  tasks/release.py
Due: shell-check-no-set-x

[OTAGENT-331] Stop DDOT if otelCollector.enabled is false (#35641)
  comp/otelcol/collector/impl/collector.go
  comp/otelcol/otlp/integrationtest/integration_test.go
  test/new-e2e/tests/otel/otel-agent/complete_test.go
  test/new-e2e/tests/otel/otel-agent/config.go
  test/new-e2e/tests/otel/otel-agent/host_metrics_receiver_test.go
  test/new-e2e/tests/otel/otel-agent/infraattributes_eks_test.go
  test/new-e2e/tests/otel/otel-agent/infraattributes_test.go
  test/new-e2e/tests/otel/otel-agent/loadbalancing_test.go
  test/new-e2e/tests/otel/otel-agent/minimal_test.go
  test/new-e2e/tests/otel/otel-agent/no_dd_exporter_test.go
  test/new-e2e/tests/otel/otel-agent/receive_resource_spans_v2_test.go
  test/new-e2e/tests/otel/otel-agent/sampling_test.go
Due: copyright, go-mod-tidy

[CWS] add option to enable span tracking (#35827)
  pkg/config/setup/system_probe.go
  pkg/security/ebpf/c/include/maps.h
  pkg/security/ebpf/probes/all.go
  pkg/security/probe/config/config.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/tests/module_tester_linux.go
Due: copyright, win-clang-format, go-mod-tidy

Update CODEOWNERS (#35866)
  .github/CODEOWNERS
Due: none

[CWS] remove usage of `modernc.org/sqlite` in functional tests (#35825)
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/util/trivy/sqlite.go
  pkg/util/trivy/sqlite_functests.go
Due: copyright, go-mod-tidy, check-go-modules-in-python

Revert "eBPF: strip the LBB* symbols from eBPF object files" (#35867)
  tasks/system_probe.py
Due: none

service discovery: Add endpoint to get internal state (#35857)
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
Due: copyright, go-mod-tidy

Add releasenote
  releasenotes/notes/fix-kyverno-and-slurm-metric-origin-ce4d09d9d1fbf6b4.yaml
Due: shell-check-no-set-x

[CWS] require kernel 5.17 for bpf for each map helper on arm64 (#35873)
  pkg/security/ebpf/kernel/kernel.go
Due: copyright, go-mod-tidy

Fix event parsing logic (#35839)
  pkg/dynamicinstrumentation/uploader/di_log_converter.go
Due: copyright, go-mod-tidy

Create a release branch in datadog-agent-buildimages (#35887)
  tasks/libs/releasing/json.py
Due: none

[NDMII-3368] Add SNMP E2E test for API key refresh (#35706)
  .github/CODEOWNERS
  test/fakeintake/aggregator/fixtures/ndm_bytes
  test/fakeintake/aggregator/ndmAggregator.go
  test/fakeintake/aggregator/ndmAggregator_test.go
  test/fakeintake/client/client.go
  test/fakeintake/client/client_test.go
  test/fakeintake/client/fixtures/api_v2_ndm_response
  test/new-e2e/tests/ndm/snmp/compose-vm/snmpCompose.yaml
  test/new-e2e/tests/ndm/snmp/config-vm/cisco-nexus.yaml
  test/new-e2e/tests/ndm/snmp/snmp_vm_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

Update the CODEOWNERS for some release tooling files (#35897)
  .github/CODEOWNERS
Due: none

Improve OTel Agent status error message (#35668)
  comp/otelcol/status/impl/status.go
Due: copyright, go-mod-tidy

[CONTINT-3403, CONTINT-4156] Add e2e tests for EKS Fargate (#35601)
  test/new-e2e/pkg/provisioners/aws/kubernetes/eks.go
  test/new-e2e/tests/containers/eks_test.go
Due: copyright, go-mod-tidy

[CWS][VM] change procfs from host fs to container fs (#35876)
  pkg/collector/corechecks/sbom/processor.go
Due: copyright, go-mod-tidy

[OTAGENT-364] properly support APM stats in serializer exporter (#35845)
  .gitlab/integration_test/otel.yml
  comp/otelcol/otlp/collector.go
  comp/otelcol/otlp/components/exporter/datadogexporter/factory.go
  comp/otelcol/otlp/components/exporter/serializerexporter/apm_stats_test.go
  comp/otelcol/otlp/components/exporter/serializerexporter/exporter_test.go
  comp/otelcol/otlp/components/exporter/serializerexporter/factory.go
  comp/otelcol/otlp/components/exporter/serializerexporter/factory_test.go
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/config.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

Update ADP to version 0.1.4. (#35900)
  .gitlab/internal_image_deploy/internal_image_deploy.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[OTAGENT-345] error out on nil OTel Go meters (#35666)
  comp/otelcol/otlp/components/connector/datadogconnector/factory.go
  comp/otelcol/otlp/components/exporter/datadogexporter/factory.go
  comp/otelcol/otlp/components/metricsclient/metrics_client.go
  comp/otelcol/otlp/components/metricsclient/metrics_client_test.go
  comp/otelcol/otlp/components/statsprocessor/agent_test.go
Due: copyright, go-mod-tidy

[NPM-4293] Implement parallel SACK traceroute (#35527)
  pkg/networkpath/traceroute/common/frame_parser.go
  pkg/networkpath/traceroute/common/frame_parser_test.go
  pkg/networkpath/traceroute/sack/portable_sack/portable_sack.go
  pkg/networkpath/traceroute/sack/sack_driver_linux.go
  pkg/networkpath/traceroute/sack/sack_packet_linux.go
  pkg/networkpath/traceroute/sack/traceroute_sack.go
  pkg/networkpath/traceroute/sack/traceroute_sack_linux.go
  pkg/networkpath/traceroute/sack/traceroute_sack_nolinux.go
Due: copyright, go-mod-tidy

usm: tests: Cleanup protocol map before running the tests (#35634)
  pkg/network/usm/tests/tracer_usm_kafka_classification_linux_test.go
  pkg/network/usm/tests/tracer_usm_linux_test.go
Due: copyright, go-mod-tidy

fleet e2e cleanup (#35493)
  .gitlab/e2e/e2e.yml
  test/new-e2e/tests/installer/windows/agent_package.go
  test/new-e2e/tests/installer/windows/base_suite.go
  test/new-e2e/tests/installer/windows/doc.go
  test/new-e2e/tests/installer/windows/installer.go
  test/new-e2e/tests/installer/windows/params.go
  test/new-e2e/tests/installer/windows/suites/agent-package/upgrade_test.go
  test/new-e2e/tests/installer/windows/suites/apm-library-dotnet-package/install_no_iis_test.go
  test/new-e2e/tests/installer/windows/suites/apm-library-dotnet-package/msi_install_test.go
  test/new-e2e/tests/installer/windows/suites/install-script/install_test.go
  test/new-e2e/tests/windows/common/agent/package.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

gitlab-ci.yml: Use a variable for compare_to (#35693)
  .gitlab-ci.yml
  .gitlab/.pre/ci_configuration.yml
  .gitlab/notify/notify.yml
  tasks/pipeline.py
  tasks/release.py
  tasks/unit_tests/testdata/ci_config_with_reference.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[OTAGENT-355] add tests on serializer exporter configs (#35911)
  comp/otelcol/otlp/components/exporter/serializerexporter/config_test.go
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/testdata/config.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x, check-go-modules-in-python

Go DI e2e test improvements (#35895)
  pkg/dynamicinstrumentation/testutil/e2e_test.go
  pkg/dynamicinstrumentation/testutil/fixtures.go
  pkg/dynamicinstrumentation/testutil/sample/structs.go
Due: copyright, go-mod-tidy

[oracle] hide query timeout config param (#35903)
  cmd/agent/dist/conf.d/oracle.d/conf.yaml.example
Due: none

[CSPM] do not import open-policy-agent/opa on windows (#35904)
  pkg/compliance/evaluator_rego.go
  pkg/compliance/evaluator_rego_unsupported.go
  pkg/compliance/tests/base_test.go
  pkg/compliance/tests/helpers.go
  pkg/compliance/tests/kubernetes_test.go
Due: copyright, go-mod-tidy

[CWS] make sure cilium/ebpf is not imported by the cluster agent (#35885)
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/ebpf/kernel/kernel_bpf.go
  pkg/security/ebpf/kernel/kernel_nobpf.go
  pkg/security/rules/filtermodel/rule_filters_model_linux.go
  pkg/security/tests/rule_filters_test.go
Due: copyright, go-mod-tidy

eBPF: strip the LBB* symbols from eBPF object files (#35894)
  tasks/system_probe.py
Due: none

[CSPM] only include kubernetes rules in cluster agent package (#35890)
  Dockerfiles/cluster-agent/Dockerfile
Due: shell-check-no-set-x

[AGENTRUN-205] remove unused component in API component (#35864)
  cmd/agent/subcommands/jmx/command.go
  comp/api/api/apiimpl/api.go
  comp/api/api/apiimpl/api_test.go
Due: copyright, go-mod-tidy

fix(fleet): Fix flaky test (#35855)
  test/new-e2e/tests/installer/unix/upgrade_scenario_test.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$
