Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Fix token providing
  .gitlab/build/source_test/kmt_tasks.yml
Due: shell-check-no-set-x, gitlab-configuration

Add DNS monitoring for macOS CNM (#47938)
  pkg/network/dns/cache.go
  pkg/network/dns/cache_test.go
  pkg/network/dns/monitor_darwin.go
  pkg/network/dns/monitor_darwin_test.go
  pkg/network/dns/monitor_linux.go
  pkg/network/dns/monitor_windows.go
  pkg/network/dns/parser.go
  pkg/network/dns/parser_test.go
  pkg/network/dns/snooper.go
  pkg/network/dns/stats.go
  pkg/network/dns/stats_test.go
  pkg/network/dns/tcp_dns_layer.go
  pkg/network/dns/udp_dns_layer.go
  pkg/network/filter/packet_source_darwin.go
  releasenotes/notes/dns-monitor-darwin-b3c83d901e852aa6.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

[CWS] Populate pid_ignored map with kworkers during process snapshot
  pkg/security/ebpf/c/include/helpers/process.h
  pkg/security/ebpf/c/include/hooks/module.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/probe/probe_ebpf.go
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/resolvers/process/resolver_linux.go
  pkg/security/resolvers/resolvers_ebpf.go
Due: copyright, win-clang-format, go-mod-tidy

Update sqlite3
  deps/cpython.BUILD.bazel
  deps/cpython/cpython.MODULE.bazel
  deps/repos.MODULE.bazel
  deps/sqlite3.BUILD.bazel
Due: none

Remove debug eBPF object files from agent package (#49164)
  omnibus/config/software/datadog-agent-finalize.rb
  test/static/static_quality_gates.yml
Due: shell-check-no-set-x

fix: Fix create-vm -p flag (#48841)
  tasks/__init__.py
  tasks/e2e_framework/aws/deploy.py
Due: none

[EBPF-1051] gpu: allow testing the spec against actual device output (#49031)
  comp/core/workloadmeta/collectors/internal/nvml/nvml.go
  comp/core/workloadmeta/collectors/internal/nvml/nvml_test.go
  pkg/collector/corechecks/gpu/gpu_test.go
  pkg/collector/corechecks/gpu/integrationtests/check_test.go
  pkg/collector/corechecks/gpu/spec/testutil.go
  pkg/collector/corechecks/gpu/testutil.go
  pkg/gpu/safenvml/lib.go
  pkg/util/gpu/nvml.go
  pkg/util/gpu/nvml_test.go
Due: copyright, go-mod-tidy

lint
  tasks/github_tasks.py
  tasks/libs/ciproviders/github_api.py
Due: none

Migrate Python code to Go
  pkg/collector/corechecks/gpu/spec/metrics-validator/.gitignore
  pkg/collector/corechecks/gpu/spec/metrics-validator/client.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/main.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/types.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/validation.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/validation_test.go
  tasks/gpu.py
  tasks/libs/gpu/api.py
  tasks/libs/gpu/types.py
  tasks/libs/gpu/validation.py
Due: copyright, go-mod-tidy

Formatting
  pkg/collector/corechecks/gpu/spec/validation.go
Due: copyright, go-mod-tidy

Validation fixes
  pkg/collector/corechecks/gpu/spec/metrics-validator/client.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/main.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/validation.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/validation_test.go
  pkg/collector/corechecks/gpu/spec/validation.go
  pkg/collector/corechecks/gpu/testutil.go
  tasks/gpu.py
  tasks/libs/gpu/render.py
  tasks/libs/gpu/types.py
Due: copyright, go-mod-tidy

Refactor GPU validation logic and error handling; streamline tag processing and improve metrics reporting
  pkg/collector/corechecks/gpu/spec/metrics-validator/validation.go
  pkg/collector/corechecks/gpu/spec/testutil.go
  pkg/collector/corechecks/gpu/spec/validation.go
  tasks/gpu.py
  tasks/libs/gpu/render.py
  tasks/libs/gpu/types.py
Due: copyright, go-mod-tidy

Simplify code
  pkg/collector/corechecks/gpu/gpu_test.go
  pkg/collector/corechecks/gpu/integrationtests/check_test.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/client.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/main.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/types.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/validation.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/validation_test.go
  pkg/collector/corechecks/gpu/spec/spec.go
  pkg/collector/corechecks/gpu/spec/spec_test.go
  pkg/collector/corechecks/gpu/spec/testutil.go
  pkg/collector/corechecks/gpu/spec/validation.go
  pkg/collector/corechecks/gpu/testutil.go
Due: copyright, go-mod-tidy

Validation
  pkg/collector/corechecks/gpu/gpu_test.go
  pkg/collector/corechecks/gpu/integrationtests/check_test.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/client.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/types.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/validation.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/validation_test.go
  pkg/collector/corechecks/gpu/spec/spec.go
  pkg/collector/corechecks/gpu/spec/testutil.go
  pkg/collector/corechecks/gpu/spec/validation.go
  pkg/collector/corechecks/gpu/testutil.go
Due: copyright, go-mod-tidy

Filter GPU validator queries by kube cluster.
  pkg/collector/corechecks/gpu/spec/metrics-validator/client.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/types.go
Due: copyright, go-mod-tidy

Simplify validation
  pkg/collector/corechecks/gpu/spec/metrics-validator/types.go
  pkg/collector/corechecks/gpu/spec/metrics-validator/validation.go
  pkg/collector/corechecks/gpu/spec/validation.go
  tasks/libs/gpu/render.py
  tasks/libs/gpu/types.py
Due: copyright, go-mod-tidy

Add logging and fix rendering
  pkg/collector/corechecks/gpu/spec/metrics-validator/validation.go
  pkg/collector/corechecks/gpu/spec/validation.go
  tasks/gpu.py
  tasks/libs/gpu/render.py
  tasks/libs/gpu/types.py
Due: copyright, go-mod-tidy

fix: formatting
  test/e2e-framework/components/os/linux_descriptors.go
Due: copyright, go-mod-tidy

[CWS] do not use the parent cgroup as a fallback
  pkg/security/probe/probe_ebpf.go
  pkg/security/resolvers/cgroup/resolver.go
  pkg/security/resolvers/cgroup/resolver_test.go
  pkg/security/resolvers/process/resolver_ebpf.go
Due: copyright, go-mod-tidy

fix lint and default value from schema
  pkg/config/setup/apm.go
Due: copyright, go-mod-tidy

bazel: add a gazelle extension to handle build tags
  BUILD.bazel
  bazel/rules/go_build_tags/BUILD.bazel
  bazel/rules/go_build_tags/_gazelle_extension.go
Due: copyright, go-mod-tidy

bazel: hardcode the agent build tags for now
  .bazelrc
Due: none

bazel: remove grpcnotrace and retrynotrace tags from the default
  .bazelrc
Due: none

provide the build tags with the dedicated gazelle argument
  BUILD.bazel
Due: none

split global build tags per-platform
  .bazelrc
Due: none

bazel: gazelle: build_tags: no need to handle negated tags
  bazel/rules/go_build_tags/_gazelle_extension.go
Due: copyright, go-mod-tidy

bazel: include test in gazelle tags & dispatch the sources to go_test
  BUILD.bazel
  bazel/rules/go_build_tags/_gazelle_extension.go
Due: copyright, go-mod-tidy

disable pcap build tag for now.
  BUILD.bazel
Due: none

gazelle: always pass the `test` tag to go_test targets
  bazel/rules/go_build_tags/_gazelle_extension.go
Due: copyright, go-mod-tidy

address codex reviews
  bazel/rules/go_build_tags/_gazelle_extension.go
Due: copyright, go-mod-tidy

cleanup/fixup gazelle extension
  bazel/rules/go_build_tags/_gazelle_extension.go
Due: copyright, go-mod-tidy

regenerate build files with the new changes
  pkg/dyninst/BUILD.bazel
  pkg/dyninst/actuator/BUILD.bazel
  pkg/dyninst/compiler/BUILD.bazel
  pkg/dyninst/ir/BUILD.bazel
  pkg/dyninst/rcjson/BUILD.bazel
  pkg/fips/BUILD.bazel
  pkg/security/secl/compiler/eval/BUILD.bazel
  pkg/security/secl/model/BUILD.bazel
  pkg/security/secl/rules/BUILD.bazel
  pkg/trace/log/BUILD.bazel
Due: none

simplification/clarifications to the gazelle extension
  bazel/rules/go_build_tags/_gazelle_extension.go
Due: copyright, go-mod-tidy

reorder build tags
  BUILD.bazel
Due: none

fixup rebase mistake
  BUILD.bazel
Due: none

fixup erroneous dyninst migration
  pkg/dyninst/BUILD.bazel
  pkg/dyninst/actuator/BUILD.bazel
  pkg/dyninst/compiler/BUILD.bazel
  pkg/dyninst/ir/BUILD.bazel
  pkg/dyninst/rcjson/BUILD.bazel
Due: none

bazel: gazelle: allow cross-package test files
  bazel/rules/go_build_tags/BUILD.bazel
  bazel/rules/go_build_tags/_gazelle_extension.go
  bazel/rules/go_build_tags/defs.bzl
Due: copyright, go-mod-tidy

ensure we don't generate BUILD files for pkg/dyninst
  pkg/dyninst/BUILD.bazel
Due: none

bazel: gazelle: simplify cross packages testing
  bazel/rules/go_build_tags/BUILD.bazel
  bazel/rules/go_build_tags/_gazelle_extension.go
  bazel/rules/go_build_tags/defs.bzl
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
