Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$

[ha-agent] Add ha_agent.enabled and config_id to template
  pkg/config/config_template.yaml
Due: shell-check-no-set-x

typo
  pkg/config/config_template.yaml
Due: shell-check-no-set-x

[macos-python-version] fix
  .gitlab/common/macos.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[macos-python-version] test
  .gitlab/lint/macos.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Revert "Deleted exploration tests - to be added in a separate PR"
  pkg/dynamicinstrumentation/diconfig/mem_config_manager.go
  pkg/dynamicinstrumentation/proctracker/proctracker.go
  pkg/dynamicinstrumentation/testutil/exploration_e2e_test.go
  pkg/dynamicinstrumentation/testutil/exploration_tests/patches/protobuf/integration_test.go
  pkg/dynamicinstrumentation/testutil/exploration_tests/patches/protobuf/test.bash
  pkg/dynamicinstrumentation/testutil/exploration_tests/patches/protobuf/testing/prototest/message.go
Due: copyright, go-mod-tidy

fix indent
  pkg/config/config_template.yaml
Due: shell-check-no-set-x

fix(installer): Put the task DB outside of the versioned agent path
  cmd/installer/subcommands/daemon/run_windows_test.go
  pkg/fleet/daemon/daemon.go
Due: copyright, go-mod-tidy

Add verbose flag to tidy task (#36361)
  tasks/go.py
Due: none

WIP
  tasks/quality_gates.py
Due: none

[OTAGENT-380] fix and put back CI datadog_otel_components_ocb_build (#36342)
  .gitlab/integration_test/otel.yml
  comp/otelcol/otlp/components/exporter/serializerexporter/factory.go
  test/otel/testdata/builder-config.yaml
  test/otel/testdata/ocb_build_script.sh
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[OTAGENT-368] fix otel-agent converter (#36023)
  comp/otelcol/converter/impl/prometheus.go
  comp/otelcol/converter/impl/testdata/receivers/multi-dd-partial-prom/config-result.yaml
  comp/otelcol/converter/impl/testdata/receivers/multi-dd-partial-prom/config.yaml
  comp/otelcol/converter/impl/testdata/receivers/no-prom-not-default-addr/config-result.yaml
  comp/otelcol/converter/impl/testdata/receivers/no-prom-not-default-addr/config.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(static_quality_gates): stripping byte strings
  tasks/static_quality_gates/lib/gates_lib.py
Due: none

[macos-python-version] -n -> -z
  .gitlab/common/macos.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Update pkg/template code when updating go version (#36365)
  tasks/update_go.py
Due: none

[CWS] refactor approvers/discarders and file cache handling on Windows
  pkg/security/probe/probe_kernel_file_windows.go
  pkg/security/probe/probe_kernel_file_windows_test.go
  pkg/security/probe/probe_windows.go
Due: copyright, go-mod-tidy

[CWS] report the error when self tests failed
  pkg/security/probe/selftests/tester.go
Due: copyright, go-mod-tidy

Update pkg/config/config_template.yaml
  pkg/config/config_template.yaml
Due: shell-check-no-set-x

[CWS] remove runtime CLI from security agent binary (#36367)
  cmd/security-agent/subcommands/runtime/activity_dump.go
  cmd/security-agent/subcommands/runtime/activity_dump_test.go
  cmd/security-agent/subcommands/runtime/command.go
  cmd/security-agent/subcommands/runtime/command_linux.go
  cmd/security-agent/subcommands/runtime/command_test.go
  cmd/security-agent/subcommands/runtime/command_unsupported.go
  cmd/security-agent/subcommands/runtime/command_windows.go
  cmd/security-agent/subcommands/runtime/deprecated_commands.go
  cmd/security-agent/subcommands/runtime/deprecated_commands_test.go
  cmd/security-agent/subcommands/runtime/security_profile.go
  cmd/security-agent/subcommands/runtime/security_profile_test.go
  cmd/security-agent/subcommands/subcommands.go
Due: copyright, go-mod-tidy

Use random named pipe name
  pkg/system-probe/api/server/testutil/server_windows.go
Due: copyright, go-mod-tidy

[CWS] change the log level of sysctl
  pkg/security/probe/probe_ebpf.go
Due: copyright, go-mod-tidy

Revert "[CIP] feat: Use s3 clone strategy for datadog-agent CI jobs (#35902)" (#36356)
  .gitlab-ci.yml
  .gitlab/.ci-linters.yml
  .gitlab/.pre/clone.yml
  .gitlab/.pre/include.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[AGENTRUN-201] Update RTLoader to use PyConfig (#35796)
  rtloader/test/rtloader/rtloader_test.go
  rtloader/three/three.cpp
  rtloader/three/three.h
Due: copyright, win-clang-format, go-mod-tidy

update wording
  pkg/config/config_template.yaml
Due: shell-check-no-set-x

[CONTP-547] reset loglevel overrides in kind e2e tests (#36187)
  test/new-e2e/tests/containers/kindvm_test.go
Due: copyright, go-mod-tidy

Adjust `uds_dogstatsd_20mb_12k_contexts_20_senders` to use default block size (#36347)
  test/regression/cases/uds_dogstatsd_20mb_12k_contexts_20_senders/lading/lading.yaml
Due: shell-check-no-set-x

Use getCheckClient in tests
  pkg/system-probe/api/client/client_test.go
Due: copyright, go-mod-tidy

Update go-sqllexer
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python

Update go-sqllexer
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/ddprofilingextension/impl/go.mod
  comp/otelcol/ddprofilingextension/impl/go.sum
  comp/otelcol/otlp/components/connector/datadogconnector/go.mod
  comp/otelcol/otlp/components/connector/datadogconnector/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/statsprocessor/go.mod
  comp/otelcol/otlp/components/statsprocessor/go.sum
  go.sum
  pkg/config/remote/go.mod
  pkg/config/remote/go.sum
  pkg/obfuscate/go.mod
  pkg/obfuscate/go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
  pkg/trace/stats/oteltest/go.mod
  pkg/trace/stats/oteltest/go.sum
  test/otel/go.mod
  test/otel/go.sum
Due: go-mod-tidy, check-go-modules-in-python

migrating old implementation to the new component
  comp/README.md
  comp/api/apiobserver/def/component.go
  comp/api/apiobserver/impl/apiobserver.go
  comp/api/apiobserver/impl/apiobservert_test.go
  comp/api/apiobserver/impl/logging.go
  comp/api/apiobserver/impl/logging_test.go
  comp/api/apiobserver/impl/telemetry.go
  comp/api/apiobserver/impl/utils.go
  comp/api/apiobserver/impl/utils_test.go
  comp/api/apiobserver/mock/mock.go
Due: copyright, go-mod-tidy

migrate comp/api/api component
  comp/api/api/apiimpl/api.go
  comp/api/api/apiimpl/api_test.go
  comp/api/api/apiimpl/server.go
  comp/api/api/apiimpl/server_cmd.go
  comp/api/api/apiimpl/server_ipc.go
  pkg/cli/subcommands/check/command.go
Due: copyright, go-mod-tidy

adding log middleware
  comp/api/apiobserver/def/component.go
  comp/api/apiobserver/impl/apiobserver.go
  comp/api/apiobserver/impl/apiobservert_test.go
  comp/api/apiobserver/impl/logging.go
  comp/api/apiobserver/impl/logging_test.go
Due: copyright, go-mod-tidy

Reno
  .python-version
  releasenotes/notes/update-sqllexer-1910605a54c70607.yaml
Due: shell-check-no-set-x

[clusteragent/autoscaling/workload] Ensure lock is released in config retriever (#36301)
  pkg/clusteragent/autoscaling/workload/config_retriever_values.go
Due: copyright, go-mod-tidy

feat(gate): add manual_threshold_update
  .gitlab/functional_test/static_quality_gate.yml
  tasks/quality_gates.py
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

fix(gate): byte conversion error
  tasks/static_quality_gates/lib/gates_lib.py
Due: none

fix(installer): Put the task DB outside of the versioned agent path (#36370)
  cmd/installer/subcommands/daemon/run_windows_test.go
  pkg/fleet/daemon/daemon.go
Due: copyright, go-mod-tidy

[clusteragent/autoscaling/workload] Ignore pods owned directly by `Deployment` (#36260)
  pkg/clusteragent/autoscaling/workload/pod_patcher.go
  pkg/clusteragent/autoscaling/workload/pod_patcher_test.go
  pkg/clusteragent/autoscaling/workload/pod_watcher.go
  pkg/clusteragent/autoscaling/workload/pod_watcher_test.go
Due: copyright, go-mod-tidy

[CWS] report the error when self tests failed (#36378)
  pkg/security/probe/selftests/tester.go
Due: copyright, go-mod-tidy

[incident-37521] Fix gitlab runners python setup (7.66) (#36369)
  .gitlab/common/macos.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners
