Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$

remove header name
  pkg/security/probe/constantfetch/btfhub.go
  pkg/security/probe/constantfetch/core.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/constantfetch/fetcher.go
  pkg/security/probe/constantfetch/offset_guesser.go
  pkg/security/probe/probe_ebpf.go
Due: copyright, go-mod-tidy

Add system.cpu.*.total metrics per core to the CPU check (#32330)
  cmd/agent/dist/conf.d/cpu.d/conf.yaml.default
  pkg/collector/corechecks/system/cpu/cpu/context_switches.go
  pkg/collector/corechecks/system/cpu/cpu/context_switches_linux.go
  pkg/collector/corechecks/system/cpu/cpu/cpu.go
  pkg/collector/corechecks/system/cpu/cpu/cpu_ctx_switches.go
  pkg/collector/corechecks/system/cpu/cpu/cpu_test.go
  releasenotes/notes/add_system_cpu_total_metrics-769eed5d476ba712.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(deploy): [agent6] Deploy RC on agent-dev and remove useless internal stuff (#32387)
  .gitlab/deploy_containers/conditions.yml
  .gitlab/deploy_containers/deploy_containers_a6.yml
  .gitlab/deploy_containers/deploy_containers_a7.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Add BeforeStop to test modifier
  pkg/ebpf/manager_test.go
Due: copyright, go-mod-tidy

run GC early in the main function
  pkg/util/flavor/flavor.go
Due: copyright, go-mod-tidy

[e2e] move Context from e2e to utils/common
  test/new-e2e/pkg/components/docker_agent.go
  test/new-e2e/pkg/components/ecs_cluster.go
  test/new-e2e/pkg/components/fakeintake.go
  test/new-e2e/pkg/components/kubernetes_cluster.go
  test/new-e2e/pkg/components/remotehost.go
  test/new-e2e/pkg/components/remotehost_agent.go
  test/new-e2e/pkg/components/remotehost_docker.go
  test/new-e2e/pkg/e2e/suite_test.go
  test/new-e2e/pkg/e2e/types.go
  test/new-e2e/pkg/environments/dockerhost.go
  test/new-e2e/pkg/environments/host.go
  test/new-e2e/pkg/environments/host_win.go
  test/new-e2e/pkg/utils/common/types.go
  test/new-e2e/pkg/utils/e2e/client/agent_client.go
  test/new-e2e/pkg/utils/e2e/client/agent_docker.go
  test/new-e2e/pkg/utils/e2e/client/host.go
  test/new-e2e/tests/agent-platform/common/test_client.go
  test/new-e2e/tests/agent-shared-components/forwarder/nss_failover_test.go
  test/new-e2e/tests/windows/install-test/installtester.go
Due: copyright, go-mod-tidy

[e2e] move Initializable from e2e to common
  test/new-e2e/pkg/components/docker_agent.go
  test/new-e2e/pkg/components/ecs_cluster.go
  test/new-e2e/pkg/components/fakeintake.go
  test/new-e2e/pkg/components/kubernetes_cluster.go
  test/new-e2e/pkg/components/remotehost.go
  test/new-e2e/pkg/components/remotehost_agent.go
  test/new-e2e/pkg/components/remotehost_docker.go
  test/new-e2e/pkg/e2e/suite.go
  test/new-e2e/pkg/e2e/suite_test.go
  test/new-e2e/pkg/e2e/types.go
  test/new-e2e/pkg/environments/dockerhost.go
  test/new-e2e/pkg/environments/host.go
  test/new-e2e/pkg/environments/host_win.go
  test/new-e2e/pkg/utils/common/types.go
Due: copyright, go-mod-tidy

[e2e] remove RawResources, moved to provisioners
  test/new-e2e/pkg/e2e/types.go
Due: copyright, go-mod-tidy

[e2e] delete types.go
  test/new-e2e/pkg/e2e/types.go
Due: copyright, go-mod-tidy

Rename the freeze to cut-off in the Agent Release manager page
  tasks/libs/releasing/documentation.py
  tasks/release.py
Due: none

update profile_resolver
  pkg/collector/corechecks/snmp/internal/profile/profile_resolver.go
  pkg/collector/corechecks/snmp/internal/profile/utils.go
Due: copyright, go-mod-tidy

Remove apm-trace-storage to the releasing team
  tasks/libs/releasing/documentation.py
Due: none

Fix signature
  pkg/ebpf/telemetry/modifier.go
Due: copyright, go-mod-tidy

[CWS] drop the runtime compilation constants provider (#32410)
  pkg/config/setup/system_probe.go
  pkg/security/probe/config/config.go
  pkg/security/probe/constantfetch/available.go
  pkg/security/probe/constantfetch/available_unsupported.go
  pkg/security/probe/constantfetch/btfhub.go
  pkg/security/probe/constantfetch/core.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/constantfetch/fetcher.go
  pkg/security/probe/constantfetch/offset_guesser.go
  pkg/security/probe/constantfetch/runtime_compiled.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/tests/constants_test.go
Due: copyright, go-mod-tidy

omnibus: fips provider: parallelize the build
  omnibus/config/software/openssl-fips-provider.rb
Due: none

Update emr.go
  pkg/fleet/installer/setup/djm/emr.go
Due: copyright, go-mod-tidy

better emr test
  pkg/fleet/installer/setup/djm/emr.go
  pkg/fleet/installer/setup/djm/emr_test.go
Due: copyright, go-mod-tidy

lint + emr verion tag
  pkg/fleet/installer/setup/djm/emr.go
Due: copyright, go-mod-tidy

make isMaster bool
  pkg/fleet/installer/setup/djm/emr.go
  pkg/fleet/installer/setup/djm/emr_test.go
Due: copyright, go-mod-tidy

PR feedback
  pkg/fleet/installer/setup/djm/emr.go
Due: copyright, go-mod-tidy

Add DJM init script for EMR
  .gitlab/package_build/installer.yml
  pkg/fleet/installer/setup/common/config.go
  pkg/fleet/installer/setup/djm/emr.go
  pkg/fleet/installer/setup/setup.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

better command error handling
  pkg/fleet/installer/setup/djm/emr.go
Due: copyright, go-mod-tidy

use localhost ip directly
  pkg/fleet/installer/setup/djm/emr.go
Due: copyright, go-mod-tidy

Remove duplicate lines
  pkg/fleet/installer/setup/djm/emr.go
  pkg/fleet/installer/setup/djm/emr_test.go
Due: copyright, go-mod-tidy

Better tests
  pkg/fleet/installer/setup/djm/emr_test.go
  pkg/fleet/installer/setup/djm/testdata/emrDescribeClusterResponse.json
  pkg/fleet/installer/setup/djm/testdata/extraInstanceData.json
  pkg/fleet/installer/setup/djm/testdata/instance.json
Due: copyright, go-mod-tidy

Fix linter
  pkg/ebpf/telemetry/modifier.go
Due: copyright, go-mod-tidy

omnibus: ignore GOPROXY when computing cache key (#32412)
  tasks/libs/common/omnibus.py
Due: none

make `AddRule` return the event category
  pkg/security/secl/rules/ruleset.go
Due: copyright, go-mod-tidy

[CWS] include rule parsing in rule creation
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/compiler/eval/rule.go
  pkg/security/secl/rules/actions.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/ruleset_test.go
  pkg/security/secl/validators/rule_structure.go
  pkg/security/secl/validators/rule_structure_test.go
Due: copyright, go-mod-tidy

[CWS] do not request `OffsetInode[CM]time` constant outside of kernel range (#32406)
  pkg/security/ebpf/c/include/helpers/filesystem.h
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/probe/probe_ebpf.go
Due: copyright, win-clang-format, go-mod-tidy

Rename the freeze to cut-off in the Agent Release manager page (#32417)
  tasks/libs/releasing/documentation.py
  tasks/release.py
Due: none

Remove apm-trace-storage from the releasing teams (#32418)
  tasks/libs/releasing/documentation.py
Due: none

feat(ci): New task to add for code reviews with a PR label
  .github/workflows/label-analysis.yml
  tasks/issue.py
  tasks/libs/pipeline/github_slack_review_map.yaml
  tasks/libs/pipeline/notifications.py
Due: shell-check-no-set-x

add basic test
  pkg/security/tests/fim_test.go
Due: copyright, go-mod-tidy

prevent macro from using FIM event field
  pkg/security/secl/rules/ruleset.go
Due: copyright, go-mod-tidy

remove duplicated ID check in `(*RuleBucker).AddRule`
  pkg/security/secl/rules/bucket.go
Due: copyright, go-mod-tidy

add fim expansion
  pkg/security/secl/rules/errors.go
  pkg/security/secl/rules/fim_others.go
  pkg/security/secl/rules/fim_unix.go
  pkg/security/secl/rules/ruleset.go
Due: copyright, go-mod-tidy
