Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 3.9.2 # should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==21.11.28
        - flake8-comprehensions==3.7.0
        - flake8-unused-arguments==0.0.6
        - flake8-use-fstring==1.3.0
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
- repo: https://github.com/timothycrosley/isort/
  rev: 5.10.1
  hooks:
    - id: isort
- repo: https://github.com/jendrikseipp/vulture
  rev: v2.3
  hooks:
    - id: vulture
      args: ["--ignore-decorators", "@task", "--ignore-names", "test_*,Test*", "tasks"]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 2.1.5
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
    - id: go-fmt
      args: [ "-w", "-s" ]
- repo: local
  hooks:
    - id: revive
      name: revive
      description: revive
      entry: 'python3 tasks/git-hooks/revive.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: copyright
      name: copyright
      description: copyright headers
      entry: 'python3 tasks/git-hooks/copyright.py'
      language: system
      require_serial: true
      files: \.go$
    - id: win-clang-format
      name: win-clang-format
      description: clang-format
      entry: './tasks/git-hooks/wincpplang.py'
      language: system
      types_or: [c, c++, c#]
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 tasks/git-hooks/clang-format.py'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'

change metric type from count to gauge
  pkg/security/probe/monitors/syscalls/syscalls_monitor.go
Due: revive, govet, copyright

[ASCII-858] Separate pulumi logic from VM client (#20317)
  test/new-e2e/examples/customenv_with_filemanager_test.go
  test/new-e2e/examples/customenv_with_two_vm_test.go
  test/new-e2e/pkg/utils/e2e/client/agent.go
  test/new-e2e/pkg/utils/e2e/client/agent_client.go
  test/new-e2e/pkg/utils/e2e/client/agent_cmd_runner.go
  test/new-e2e/pkg/utils/e2e/client/docker.go
  test/new-e2e/pkg/utils/e2e/client/ec2_metadata.go
  test/new-e2e/pkg/utils/e2e/client/fakeintake.go
  test/new-e2e/pkg/utils/e2e/client/pulumi_stack_agent.go
  test/new-e2e/pkg/utils/e2e/client/pulumi_stack_initializer.go
  test/new-e2e/pkg/utils/e2e/client/pulumi_stack_initializer_test.go
  test/new-e2e/pkg/utils/e2e/client/pulumi_stack_vm.go
  test/new-e2e/pkg/utils/e2e/client/vm.go
  test/new-e2e/pkg/utils/e2e/client/vm_client.go
  test/new-e2e/pkg/utils/e2e/stack_definition.go
  test/new-e2e/test-infra-definition/docker_test.go
  test/new-e2e/tests/agent-platform/common/file-manager/unix.go
  test/new-e2e/tests/agent-platform/common/pkg-manager/apt.go
  test/new-e2e/tests/agent-platform/common/svc-manager/systemctl.go
  test/new-e2e/tests/agent-platform/common/test_client.go
  test/new-e2e/tests/agent-platform/install-script/install_script_test.go
Due: revive, govet, copyright

Ignore rootCA error if kubelet_tls_verify=false
  pkg/util/kubernetes/kubelet/kubelet_client.go
Due: revive, govet, copyright

[omnibus] Farewell APT
  omnibus/config/patches/apt/cmake-bindir.patch
  omnibus/config/patches/apt/disable_arch_check.patch
  omnibus/config/patches/apt/disable_systemd.patch
  omnibus/config/patches/apt/no_doc.patch
  omnibus/config/patches/apt/triehash.patch
  omnibus/config/patches/openscap/dpkginfo-no-apt.patch
  omnibus/config/software/apt.rb
  omnibus/config/software/liblz4.rb
  omnibus/config/software/libxxhash.rb
  omnibus/config/software/openscap.rb
Due: none

[CWS] fix snapshot timestamp for proc cache (#20270)
  pkg/security/ebpf/c/include/hooks/exec.h
  pkg/security/resolvers/process/resolver_linux.go
  pkg/security/resolvers/time/resolver.go
  pkg/security/secl/model/marshallers_linux.go
  pkg/security/secl/model/unmarshallers_linux.go
  pkg/security/tests/process_test.go
Due: revive, govet, copyright, clang-format

linter fix
  test/integration/serverless/log_normalize.py
  test/integration/serverless/src/appSecPython.py
Due: none

tasks: github: add a helper to fetch the latest release
  tasks/libs/common/github_api.py
Due: none

tasks: release: add a task to update the last_release field in release.json
  tasks/release.py
Due: none

Remove lock on Pulumi commands
  test/new-e2e/pkg/utils/infra/stack_manager.go
Due: revive, govet, copyright

[CI] Headless mode for golangci-lint + path improvment (#20301)
  tasks/build_tags.py
  tasks/go.py
  tasks/security_agent.py
  tasks/show_linters_issues/show_linters_issues.py
  tasks/test.py
  tasks/utils.py
Due: none

[logs] only send impacted hosts.
  pkg/logs/tailers/journald/tailer.go
  pkg/logs/tailers/windowsevent/tailer.go
Due: revive, govet, copyright

add missing codeowner entries
  .github/CODEOWNERS
Due: none

add fixme comment (#20331)
  pkg/util/fxutil/createcomponent.go
Due: revive, govet, copyright

better isolate integration test suites (improved specificity of pass/fail/flake signal)
  .github/workflows/serverless-integration.yml
  test/integration/serverless/run.sh
Due: none

improved doc in run.sh
  test/integration/serverless/run.sh
Due: none

[CWS] improve syscalls stats monitor (#20022)
  pkg/security/ebpf/c/include/helpers/syscalls.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/ebpf/c/include/structs/syscalls.h
  pkg/security/ebpf/probes/all.go
  pkg/security/probe/monitors/syscalls/syscalls_monitor.go
  pkg/security/probe/probe_linux.go
  pkg/security/probe/probe_monitor.go
  pkg/security/secl/model/consts_map_names.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/stress_test.go
Due: revive, govet, copyright, clang-format

print out selected test suite when one has been selected...
  test/integration/serverless/run.sh
Due: none

Fix codeowners (#20334)
  .github/CODEOWNERS
Due: none

add hooks on exec syscalls exit (#20307)
  pkg/security/ebpf/c/include/hooks/exec.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/exec.go
Due: revive, govet, copyright, clang-format

replace dns in comments with nss
  test/new-e2e/tests/agent-shared-components/forwarder/dns_failover_test.go
Due: revive, govet, copyright

rename test to nss
  test/new-e2e/tests/agent-shared-components/forwarder/nss_failover_test.go
Due: revive, govet, copyright

wait for 2 reports to have been emitted
  test/integration/serverless/run.sh
Due: none

Release note
  releasenotes/notes/kubelet-tls-verify-precedence-373a7ece8830d6e4.yaml
Due: none

feat(dev): more dev tarfet branch support
  .gitlab/internal_image_deploy.yml
Due: none

output raw logs on test failure
  test/integration/serverless/run.sh
Due: none

update default node layer version to latest
  test/integration/serverless/run.sh
Due: none

fix CR
  pkg/network/ebpf/c/protocols/http2/decoding.h
  pkg/network/ebpf/c/protocols/http2/tls-decoding.h
  pkg/network/protocols/grpc/monitor_test.go
  pkg/network/protocols/http2/protocol.go
  pkg/network/tracer/testutil/grpc/client.go
  pkg/network/tracer/testutil/grpc/server.go
Due: revive, govet, copyright, clang-format

redo TLS tests
  pkg/network/protocols/grpc/monitor_test.go
  pkg/network/protocols/http/testutil/testutil.go
  pkg/network/tracer/testutil/grpc/client.go
  pkg/network/tracer/testutil/grpc/grpc_tls_server/grpc_tls_server.go
  pkg/network/tracer/testutil/grpc/server.go
  pkg/network/tracer/testutil/grpc/server_builder.go
  pkg/network/tracer/testutil/grpc/testdata/cert.pem.0
  pkg/network/tracer/testutil/grpc/testdata/server.key
  tasks/system_probe.py
Due: revive, govet, copyright

CI: do_not_merge: check omnibus branches (#20306)
  .gitlab/do_not_merge.yml
Due: none

[ci] migrate kitchen deploy_rpm_testing-a6 to k8s runners
  .gitlab/kitchen_deploy.yml
Due: none

Add a process-agent Single Machine Performance(SMP) experiments for processes (#20345)
  test/regression/cases/process_agent_real_time_mode/datadog-agent/datadog.yaml
  test/regression/cases/process_agent_real_time_mode/experiment.yaml
  test/regression/cases/process_agent_real_time_mode/lading/lading.yaml
  test/regression/cases/process_agent_standard_check/datadog-agent/datadog.yaml
  test/regression/cases/process_agent_standard_check/experiment.yaml
  test/regression/cases/process_agent_standard_check/lading/lading.yaml
Due: none

fix: linter issue
  test/new-e2e/test-infra-definition/agent_test.go
Due: revive, govet, copyright

add necessary node configuration, duh
  test/integration/serverless/serverless.yml
Due: none

E2E fix edge cases for clean up script (#20284)
  tasks/new_e2e_tests.py
Due: none

Use require.EventuallyWithT to avoid asserting when fakeintake is not ready
  test/new-e2e/tests/agent-subcommands/flare/flare_test.go
Due: revive, govet, copyright

Added tls_library tag for the USM http total_hits metric
  pkg/network/protocols/http/model_linux.go
  pkg/network/protocols/http/telemetry.go
Due: revive, govet, copyright

Fix changelog
  releasenotes/notes/fix_auto_inherited_flag_missing-6172d139e7f87b4a.yaml
Due: none

fix typo
  releasenotes/notes/fix_auto_inherited_flag_missing-6172d139e7f87b4a.yaml
Due: none

Fix another typo
  releasenotes/notes/fix_auto_inherited_flag_missing-6172d139e7f87b4a.yaml
Due: none
