Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format

revive:
  name: revive
  description: revive
  entry: python3 tasks/git-hooks/revive.py
  language: system

govet:
  name: govet
  description: go vet
  entry: python3 tasks/git-hooks/govet.py
  language: system
  require_serial: true

copyright:
  name: copyright
  description: copyright headers
  entry: python3 tasks/git-hooks/copyright.py
  language: system
  require_serial: true

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 tasks/git-hooks/clang-format.py
  language: system
  require_serial: true

add optional config ok
  cmd/serverless-init/main.go
Due: revive, govet, copyright

fix offset calculation
  pkg/ebpf/c/bpf_telemetry.h
Due: clang-format

[gitlab-use-module] Tested and refactored failed jobs
  tasks/libs/common/gitlab_api.py
  tasks/libs/pipeline_data.py
  tasks/libs/pipeline_stats.py
Due: none

Use pid for updater
  cmd/updater/subcommands/run/command.go
Due: revive, govet, copyright

[SVLS-4646] Update serverless integration tests retry job to use node 20 and increase timeout from 45 to 60 minutes
  .github/workflows/serverless-integration.yml
Due: none

system-probe: Allow specifying extra test arguments in invoke task
  tasks/system_probe.py
Due: none

address failures due to unconstrained minimum value
  pkg/ebpf/c/bpf_telemetry.h
Due: clang-format

Update rules
  .gitlab/pkg_metrics/pkg_metrics.yml
Due: none

remove config since it cannot be ignored
  cmd/serverless-init/main.go
Due: revive, govet, copyright

[CWS] Fix security profile sliding window (#24130)
  pkg/config/setup/system_probe_cws.go
  pkg/security/metrics/metrics.go
  pkg/security/security_profile/profile/manager.go
Due: revive, govet, copyright

Rename Speed method to GetSpeedMbps
  pkg/collector/corechecks/network-devices/cisco-sdwan/payload/cedge_interface.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/payload/cedge_interface_test.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/payload/interfaces.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/payload/vedge_interface.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/payload/vedge_interface_test.go
Due: revive, govet, copyright

increase the wait time for the instances to come up
  .gitlab/kernel_matrix_testing/common.yml
Due: none

[CONTINT-3920] Fakeintake with db (#24064)
  test/fakeintake/cmd/server/main.go
  test/fakeintake/go.mod
  test/fakeintake/go.sum
  test/fakeintake/server/server.go
  test/fakeintake/server/server_test.go
  test/fakeintake/server/serverstore/db.go
  test/fakeintake/server/serverstore/db_test.go
  test/fakeintake/server/serverstore/store.go
  test/fakeintake/server/serverstore/store_test.go
  test/fakeintake/server/testhelper.go
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: revive, govet, copyright

Create PID component
  comp/README.md
  comp/core/pid/component.go
  comp/core/pid/pidimpl/pid.go
Due: revive, govet, copyright

Use PID component for `agent run` command Note: PID is not used on Windows
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/command_test.go
  cmd/agent/subcommands/run/command_windows.go
  comp/core/bundle.go
  comp/core/bundle_test.go
  comp/core/pid/pidimpl/pid.go
Due: revive, govet, copyright

Use pid component for the process Agent
  cmd/process-agent/command/main_common.go
Due: revive, govet, copyright

Use PID component for the security agent
  cmd/security-agent/main_windows.go
  cmd/security-agent/subcommands/start/command.go
  cmd/security-agent/subcommands/start/command_test.go
Due: revive, govet, copyright

Use PID component for system-probe
  cmd/system-probe/subcommands/run/command.go
Due: revive, govet, copyright

[CWS] add a no op mount resolver
  pkg/security/resolvers/mount/interface.go
  pkg/security/resolvers/mount/no_op_resolver.go
  pkg/security/resolvers/mount/resolver.go
  pkg/security/resolvers/path/interface.go
  pkg/security/resolvers/path/no_op_resolver.go
  pkg/security/resolvers/path/resolver.go
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/resolvers/resolvers_ebpf.go
Due: revive, govet, copyright

debug
  pkg/security/ptracer/ptracer.go
  pkg/security/ptracer/state.go
Due: revive, govet, copyright

give the same set of dependencies to packaging jobs
  .gitlab/kernel_matrix_testing/security_agent.yml
  .gitlab/kernel_matrix_testing/system_probe.yml
Due: none

increase timeout to 40 minutes
  .gitlab/kernel_matrix_testing/common.yml
Due: none

backwards compatibility for older kernels
  pkg/network/config/config.go
  pkg/network/ebpf/c/sock.h
  pkg/network/ebpf/c/tracer.c
  pkg/network/ebpf/c/tracer/events.h
  pkg/network/tracer/connection/failed_conn_consumer.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/connection/util/conn_tracer.go
Due: revive, govet, copyright, clang-format

[SBOM] Reduce Trivy size (#24117)
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Due: none

Address feedback and use `testify.Require` in all unit tests.
  comp/logs/agent/agent_core_init.go
  comp/logs/agent/config/integration_config.go
  pkg/logs/pipeline/provider.go
  pkg/logs/sds/go.mod
  pkg/logs/sds/reconfigure.go
  pkg/logs/sds/rules_test.go
  pkg/logs/sds/scanner_test.go
Due: revive, govet, copyright

Update pkg/logs/processor/processor.go
  pkg/logs/processor/processor.go
Due: revive, govet, copyright

[e2e] keep junit as artifacts
  .gitlab/e2e/e2e.yml
  .gitlab/e2e_pre_test/e2e_pre_test.yml
  .gitlab/kitchen_testing/new-e2e_testing.yml
Due: none

Upgrade collector to v0.97.0
  comp/otelcol/otlp/collector.go
  comp/otelcol/otlp/components/exporter/serializerexporter/factory.go
  comp/otelcol/otlp/components/exporter/serializerexporter/internal/metadata/generated_status.go
  comp/otelcol/otlp/internal/logsagentexporter/factory.go
  comp/otelcol/otlp/internal/logsagentexporter/internal/metadata/generated_status.go
  go.mod
  go.sum
Due: revive, govet, copyright

...
  test/fakeintake/go.mod
  test/new-e2e/go.mod
Due: none

fix: wait for non-core agents to be started for the first check
  test/new-e2e/tests/agent-shared-components/config-refresh/non_core_agents_sync_test.go
Due: revive, govet, copyright

fix windows compatibility
  pkg/network/config/config.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/tracer.go
Due: revive, govet, copyright

try another ami
  test/kitchen/platforms.json
Due: none

Move tracking metric to start and add warn log
  pkg/trace/api/otlp.go
Due: revive, govet, copyright

use fakeintake sql
  .gitlab-ci.yml
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: none

feat(ci): Remove leading slash to ease future file parsing
  .gitlab-ci.yml
  .gitlab/benchmarks/include.yml
  .gitlab/binary_build/include.yml
  .gitlab/container_build/docker_windows.yml
  .gitlab/container_build/include.yml
  .gitlab/deploy_containers/deploy_containers_a6.yml
  .gitlab/deploy_containers/deploy_containers_a7.yml
  .gitlab/deploy_cws_instrumentation/deploy_cws_instrumentation.yml
  .gitlab/deploy_dca/deploy_dca.yml
  .gitlab/deploy_packages/include.yml
  .gitlab/dev_container_deploy/docker_linux.yml
  .gitlab/dev_container_deploy/docker_windows.yml
  .gitlab/dev_container_deploy/include.yml
  .gitlab/functional_test/common.yml
  .gitlab/functional_test/include.yml
  .gitlab/functional_test/security_agent.yml
  .gitlab/functional_test/system_probe_windows.yml
  .gitlab/functional_test_cleanup/functional_test_cleanup.yml
  .gitlab/functional_test_sysprobe/system_probe.yml
  .gitlab/integration_test/include.yml
  .gitlab/internal_kubernetes_deploy/include.yml
  .gitlab/kitchen_cleanup/include.yml
  .gitlab/kitchen_cleanup/kitchen_cleanup.yml
  .gitlab/kitchen_testing/centos.yml
  .gitlab/kitchen_testing/debian.yml
  .gitlab/kitchen_testing/include.yml
  .gitlab/kitchen_testing/new-e2e_testing/include.yml
  .gitlab/kitchen_testing/suse.yml
  .gitlab/kitchen_testing/ubuntu.yml
  .gitlab/kitchen_testing/windows.yml
  .gitlab/maintenance_jobs/docker.yml
  .gitlab/maintenance_jobs/include.yml
  .gitlab/package_build/include.yml
  .gitlab/packaging/include.yml
  .gitlab/source_test/include.yml
  tasks/unit-tests/testdata/fake_gitlab-ci.yml
Due: none

[ASCII-1321] Ensure agent startup requests order (#23875)
  comp/metadata/host/hostimpl/host.go
  comp/metadata/internal/util/inventory_payload.go
  comp/metadata/internal/util/inventory_payload_test.go
  comp/metadata/runner/runnerimpl/runner.go
  comp/metadata/runner/runnerimpl/runner_test.go
  pkg/config/setup/config.go
Due: revive, govet, copyright

feat(ci): Add new methods to generate full gitlab configuration
  tasks/linter_tasks.py
  tasks/unit-tests/linter_tests.py
  tasks/unit-tests/testdata/a.yml
  tasks/unit-tests/testdata/b.yml
  tasks/unit-tests/testdata/c.yml
  tasks/unit-tests/testdata/ci_config_with_reference.yml
  tasks/unit-tests/testdata/expected.yml
  tasks/unit-tests/testdata/in.yml
  tasks/unit-tests/testdata/out.yml
Due: none

avoid using config since it would crash the application
  cmd/serverless-init/main.go
Due: revive, govet, copyright

Address feedback
  pkg/trace/api/otlp.go
Due: revive, govet, copyright

Path conditions:
  revive: any of: \.go$
  govet: any of: \.go$
  copyright: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
