Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

tidy
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: check-go-modules-in-python, protocol-buffer

SVLS-9645: microvm inventory, too
  cmd/serverless-init/inventory/inventory.go
Due: copyright, go-mod-tidy

cmd/dogstatsd: add AAS inventory producer (SVLS-9604)
  cmd/dogstatsd/aas/inventory/BUILD.bazel
  cmd/dogstatsd/aas/inventory/inventory.go
  cmd/dogstatsd/aas/inventory/inventory_test.go
  cmd/dogstatsd/subcommands/start/BUILD.bazel
  cmd/dogstatsd/subcommands/start/command.go
Due: copyright, go-mod-tidy

bazel: fix BUILD.bazel deps sort order for cmd/dogstatsd/aas/inventory
  cmd/dogstatsd/subcommands/start/BUILD.bazel
Due: none

do the other usm_debugger tag
  pkg/network/usm/debugger/cmd/BUILD.bazel
  pkg/network/usm/debugger/cmd/usm_debugger.go
Due: copyright, go-mod-tidy

aas/inventory: standalone periodic runner, Inject bool, ForceEnabled, register gate env var
  cmd/dogstatsd/aas/inventory/inventory.go
  cmd/dogstatsd/aas/inventory/inventory_test.go
  cmd/dogstatsd/subcommands/start/command.go
  comp/metadata/inventoryagent/def/component.go
  comp/metadata/inventoryagent/impl/inventoryagent.go
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

fix(aas): gofmt alignment after adding DD_SERVERLESS_AAS_EXTENSION_INVENTORY_ENABLED
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

feat(aas-inventory): switch flavor to serverless-extension, add extension_version
  cmd/dogstatsd/aas/inventory/inventory.go
  cmd/dogstatsd/aas/inventory/inventory_test.go
Due: copyright, go-mod-tidy

[SNMP] Retry scan roots when no OIDs are collected
  comp/snmpscan/impl/devicescan.go
  comp/snmpscan/impl/devicescan_test.go
  pkg/snmp/gosnmplib/walk.go
  releasenotes/notes/snmp-scan-root-fallback-6b336c8221acc892.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

ci: package the Windows FIPS Agent as OCI (#56623)
  .gitlab/JOBOWNERS
  .gitlab/build/packaging/oci.yml
  .gitlab/windows/build/packaging/oci.yml
Due: shell-check-no-set-x, gitlab-configuration

fix(serverless-init): identity guard, aws_lambda_microvm rename, wrapped_command scoping
  cmd/serverless-init/cloudservice/inventory.go
  cmd/serverless-init/inventory/inventory.go
  cmd/serverless-init/inventory/inventory_test.go
  cmd/serverless-init/main.go
Due: copyright, go-mod-tidy

fix(serverless-init): drop serverless/env import in inventory_test, use literal ARN env var name
  cmd/serverless-init/inventory/inventory_test.go
Due: copyright, go-mod-tidy

refactor(aas-inventory): scope PR to AAS dogstatsd only, remove serverless-init changes
  cmd/serverless-init/cloudservice/inventory.go
  cmd/serverless-init/inventory/inventory.go
  cmd/serverless-init/inventory/inventory_test.go
  cmd/serverless-init/main.go
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

style: apply gofmt to inventory_test.go and config.go
  cmd/dogstatsd/aas/inventory/inventory_test.go
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

refactor(aas-inventory): remove StartPeriodicRunner, delegate periodic sends to inventoryagent runner
  cmd/dogstatsd/aas/inventory/inventory.go
  cmd/dogstatsd/aas/inventory/inventory_test.go
  cmd/dogstatsd/subcommands/start/command.go
Due: copyright, go-mod-tidy

refactor(aas/inventory): isolate wiring into self-contained fx Module
  cmd/dogstatsd/aas/inventory/BUILD.bazel
  cmd/dogstatsd/aas/inventory/inventory.go
  cmd/dogstatsd/subcommands/start/BUILD.bazel
  cmd/dogstatsd/subcommands/start/command.go
Due: copyright, go-mod-tidy

test(dogstatsd): provide real config dir in TestStartCommand
  cmd/dogstatsd/subcommands/start/command_test.go
Due: copyright, go-mod-tidy

refactor(aas/inventory): move aas/inventory pkg to comp/metadata/inventoryagent/aas
  cmd/dogstatsd/subcommands/start/BUILD.bazel
  cmd/dogstatsd/subcommands/start/command.go
  cmd/serverless-init/main.go
  comp/metadata/inventoryagent/aas/BUILD.bazel
  comp/metadata/inventoryagent/aas/inventory.go
  comp/metadata/inventoryagent/aas/inventory_test.go
Due: copyright, go-mod-tidy

[CWS] Rename traced_cgroups_reserve_failed, its trimmed name is not unique
  pkg/security/ebpf/c/include/helpers/activity_dump.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/secl/model/consts_map_names_linux.go
  pkg/security/tests/module_tester_linux.go
Due: copyright, win-clang-format, go-mod-tidy

[CWS] Name the process behind a path resolution error, and the event behind an abnormal path
  pkg/security/probe/field_handlers_ebpf.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/module_tester_linux.go
  pkg/security/tests/module_tester_windows.go
Due: copyright, go-mod-tidy

refactor(healthplatform): simplify docker socket instanceIssueID to take issue id directly
  comp/healthplatform/issues/dockerpermissions/check.go
  comp/healthplatform/issues/dockerpermissions/issue_test.go
  comp/healthplatform/issues/dockerpermissions/module.go
Due: copyright, go-mod-tidy

Fix one more sysprobe path
  test/new-e2e/tests/sysprobe-functional/apmtags_test.go
Due: copyright, go-mod-tidy

fix(otel-agent): read site from pkgconfig instead of hardcoding datadoghq.com (#56593)
  cmd/otel-agent/config/agent_config.go
  cmd/otel-agent/config/agent_config_test.go
  cmd/otel-agent/config/testdata/config_nil_datadog_exporter.yaml
  cmd/otel-agent/config/testdata/config_no_api_block.yaml
  releasenotes/notes/fix-otel-agent-site-ignored-9ed52b89ef44532a.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

refactor(healthplatform): rename docker permission issue consts for symmetry
  comp/healthplatform/issues/dockerpermissions/check.go
  comp/healthplatform/issues/dockerpermissions/issue.go
  comp/healthplatform/issues/dockerpermissions/issue_test.go
  comp/healthplatform/issues/dockerpermissions/module.go
Due: copyright, go-mod-tidy

[quantile] Reject sketch buckets whose boundaries cannot be remapped
  pkg/util/quantile/ddsketch.go
  pkg/util/quantile/ddsketch_test.go
  releasenotes/notes/fix-otlp-expohist-unrepresentable-bounds-panic-4b7e1a90c6d3f582.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

[otlp/metrics] Cover the exponential histogram panic through MapMetrics
  pkg/opentelemetry-mapping-go/otlp/metrics/default_mapper.go
  pkg/opentelemetry-mapping-go/otlp/metrics/metrics_translator_test.go
Due: copyright, go-mod-tidy

[otlp/metrics] Validate boundaries when converting duration histograms
  pkg/opentelemetry-mapping-go/otlp/metrics/BUILD.bazel
  pkg/opentelemetry-mapping-go/otlp/metrics/expo_bucket_converter.go
  pkg/opentelemetry-mapping-go/otlp/metrics/expo_bucket_converter_test.go
  pkg/opentelemetry-mapping-go/otlp/metrics/histograms.go
Due: copyright, go-mod-tidy

refactor(healthplatform): rename dockerpermissions package to dockersocket
  comp/healthplatform/AGENTS.md
  comp/healthplatform/BUILD.bazel
  comp/healthplatform/README.md
  comp/healthplatform/bundle.go
  comp/healthplatform/issues/dockersocket/BUILD.bazel
  comp/healthplatform/issues/dockersocket/Fix-DockerSocketPermissions.ps1
  comp/healthplatform/issues/dockersocket/check.go
  comp/healthplatform/issues/dockersocket/check_noop.go
  comp/healthplatform/issues/dockersocket/check_test.go
  comp/healthplatform/issues/dockersocket/fix-docker-socket-permissions.sh
  comp/healthplatform/issues/dockersocket/issue.go
  comp/healthplatform/issues/dockersocket/issue_test.go
  comp/healthplatform/issues/dockersocket/module.go
  test/new-e2e/tests/agent-health/.claude/skills/write-agent-health-e2e/SKILL.md
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(healthplatform): scope docker socket issue id by host and socket set (#56658)
  comp/healthplatform/README.md
  comp/healthplatform/issues/dockerpermissions/BUILD.bazel
  comp/healthplatform/issues/dockerpermissions/check.go
  comp/healthplatform/issues/dockerpermissions/check_noop.go
  comp/healthplatform/issues/dockerpermissions/check_test.go
  comp/healthplatform/issues/dockerpermissions/module.go
  releasenotes/notes/docker-socket-issue-id-per-socket-9f3c1a7b2e4d6058.yaml
  test/new-e2e/tests/agent-health/docker_permission_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

[PROF-15962] Add support for reading OTEL_RESOURCE_ATTRIBUTES env vars in the profiler (#56176)
  comp/host-profiler/collector/impl/receiver/config.go
Due: copyright, go-mod-tidy

Add macOS Computer Name to host system info inventory
  comp/metadata/hostsysteminfo/README.md
  comp/metadata/hostsysteminfo/impl/hostsysteminfo.go
  comp/metadata/hostsysteminfo/impl/hostsysteminfo_supported_test.go
  pkg/inventory/systeminfo/collector.go
  pkg/inventory/systeminfo/collector_darwin.go
  pkg/inventory/systeminfo/collector_darwin_test.go
  pkg/inventory/systeminfo/systeminfo_darwin.h
  pkg/inventory/systeminfo/systeminfo_darwin.m
  releasenotes/notes/macos-computer-name-inventory-ab3265666262b6e5.yaml
Due: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x

fix(installer): preserve rollback state on config write failure
  pkg/fleet/installer/config/config_windows.go
  pkg/fleet/installer/config/config_windows_test.go
Due: copyright, go-mod-tidy

[EBPF] fix uprobe sync rate limiter lint
  pkg/ebpf/uprobes/attacher.go
Due: copyright, go-mod-tidy

test(privateactionrunner): fix heroku lint errors
  test/new-e2e/tests/privateactionrunner/private_action_runner_enabled_test.go
Due: copyright, go-mod-tidy

feat: add support for OTEL_K8S_NODE_IP (#56641)
  cmd/host-profiler/subcommands/run/command.go
  comp/host-profiler/collector/impl/processor/ddhostnameprocessor/factory.go
Due: copyright, go-mod-tidy

[SNMP] Fail scans that collect no OIDs
  comp/snmpscan/impl/devicescan.go
  comp/snmpscan/impl/devicescan_test.go
  pkg/snmp/gosnmplib/walk.go
  releasenotes/notes/snmp-scan-root-fallback-6b336c8221acc892.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

mount host docker.sock so host profiler can retrieve container metadata
  .devcontainer/datadog/default/devcontainer.json
  .devcontainer/datadog/default/prebuild-devcontainer.json
Due: none

[SNMP] Name scan fallback conditions
  comp/snmpscan/impl/devicescan.go
  pkg/snmp/gosnmplib/walk.go
Due: copyright, go-mod-tidy
