Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, gofmt, clang-format

revive:
  name: revive
  description: revive
  entry: python3 tasks/git-hooks/revive.py
  language: system

govet:
  name: govet
  description: go vet
  entry: python3 tasks/git-hooks/govet.py
  language: system
  require_serial: true

gofmt:
  name: gofmt
  description: go fmt
  entry: python3 tasks/git-hooks/gofmt.py
  language: system

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 tasks/git-hooks/clang-format.py
  language: system
  require_serial: true

better log
  pkg/netflow/flowaggregator/aggregator.go
Due: revive, govet, gofmt

Fix log
  pkg/netflow/flowaggregator/aggregator.go
Due: revive, govet, gofmt

change log level
  pkg/netflow/flowaggregator/aggregator.go
Due: revive, govet, gofmt

js instead of node
  pkg/clusteragent/admission/mutate/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_test.go
Due: revive, govet, gofmt

tag nightly main builds
  .gitlab-ci.yml
  .gitlab/dev_container_deploy/docker_linux.yml
Due: none

missing tag
  .gitlab/dev_container_deploy/docker_linux.yml
Due: none

added tests for pid mapper
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/oom-kill.go
  pkg/ebpf/bytecode/runtime/pid_mapper.go
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/ebpf/bytecode/runtime/tcp-queue-length.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/runtime/pid_mapper.c
  pkg/network/pid-mapper/pid_mapper_test.go
  pkg/network/pid-mapper/procfs.go
Due: revive, govet, gofmt, clang-format

[Admission][Auto-Instrumentation] Rename repos and annotations (#13094)
  pkg/clusteragent/admission/mutate/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_test.go
  test/e2e/argo-workflows/templates/mutate-busybox.yaml
Due: revive, govet, gofmt

linter error fixes
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/oom-kill.go
  pkg/ebpf/bytecode/runtime/pid_mapper.go
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/ebpf/bytecode/runtime/tcp-queue-length.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/ebpf/ksyms.go
  pkg/network/pid-mapper/ebpf.go
  pkg/network/pid-mapper/pid_mapper_test.go
  pkg/network/pid-mapper/procfs.go
Due: revive, govet, gofmt

func test improvements
  pkg/security/tests/module_tester.go
  pkg/security/tests/process_test.go
Due: revive, govet, gofmt

TO POLISH kprobe ordering
  pkg/security/probe/probe.go
Due: revive, govet, gofmt

revert 'on_stack' vars
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/process.h
Due: revive, govet, gofmt, clang-format

fix conflict
  pkg/logs/internal/tailers/channel/tailer_test.go
Due: revive, govet, gofmt

add isError flag to channelMessage
  pkg/logs/config/channel_message.go
  pkg/logs/internal/tailers/channel/tailer.go
  pkg/logs/internal/tailers/channel/tailer_test.go
Due: revive, govet, gofmt

fix tests
  cmd/serverless-init/metric/metric_test.go
  pkg/logs/internal/tailers/channel/tailer_test.go
Due: revive, govet, gofmt

Retry failed performance counter initilization
  pkg/collector/corechecks/system/cpu/cpu_windows.go
  pkg/collector/corechecks/system/disk/iostats_pdh_windows.go
  pkg/collector/corechecks/system/filehandles/file_handles_windows.go
  pkg/collector/corechecks/system/memory/memory_windows.go
  pkg/collector/corechecks/system/winproc/winproc_windows.go
  pkg/util/winutil/pdhutil/pdhcounter.go
  pkg/util/winutil/pdhutil/pdhhelper.go
  releasenotes/notes/retry-failed-performance-counter-init-ed7a676e7a98eee9.yaml
Due: revive, govet, gofmt

Use Check.Warnf in golang PDH checks
  pkg/collector/corechecks/system/cpu/cpu_windows.go
  pkg/collector/corechecks/system/disk/iostats_pdh_windows.go
  pkg/collector/corechecks/system/filehandles/file_handles_windows.go
  pkg/collector/corechecks/system/memory/memory_windows.go
  pkg/collector/corechecks/system/winproc/winproc_windows.go
  pkg/util/winutil/pdhutil/pdhhelper.go
Due: revive, govet, gofmt

Update pkg/config/config_template.yaml
  pkg/config/config_template.yaml
Due: none

Update config_template.yaml
  pkg/config/config_template.yaml
Due: none

Adds instructions for attaching delve to stripped running binary
  docs/dev/tools.md
Due: none

which python
  pkg/security/tests/module_tester.go
  pkg/security/tests/process_test.go
Due: revive, govet, gofmt

revert reverting of on_stack vars
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/process.h
Due: clang-format

func tests finally work on 4.15
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/probe.go
Due: revive, govet, gofmt

send api key to shell
  cmd/serverless/api_key.go
  cmd/serverless/api_key_test.go
  cmd/serverless/main.go
Due: revive, govet, gofmt

adding debug flag to object_files task
  tasks/system_probe.py
Due: none

switching var name from executable to interpreter
  pkg/security/ebpf/c/exec.h
Due: clang-format

passes on 5.4
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/exec.h
Due: revive, govet, gofmt, clang-format

Added binprm_file_offset and setup_new_exec_is_last constants
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/exec.h
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/probe.go
Due: revive, govet, gofmt, clang-format

Use which to detect python interpreter version
  pkg/security/tests/process_test.go
Due: revive, govet, gofmt

Update release.json and Go modules for 6/7.39.0-rc.2
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  release.json
Due: none

Update release.json and Go modules for 6/7.39.0-rc.2 (#13104)
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  release.json
Due: none

not using bpf_get_current_task for kernel < 4.8.0
  pkg/ebpf/bytecode/runtime/pid_mapper.go
  pkg/network/ebpf/c/runtime/pid_mapper.c
Due: revive, govet, gofmt, clang-format

Path conditions:
  revive: any of: \.go$
  govet: any of: \.go$
  gofmt: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
