Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$

[Backport 7.65.x] bugfix: allow v1 of the auto instrumentation webhook (#36654)
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/version.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/version_test.go
  releasenotes-dca/notes/allow-deprecated-usages-of-v1-2301b1b4bd1d0460.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

[report-versions] Report versions
  .gitlab/common/macos.yml
  tasks/__init__.py
  tasks/macos.py
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

fix typo in deploy_containers fips job
  .gitlab/deploy_containers/deploy_containers_a7.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[Backport] Changelog update 7.65.0 (#36678)
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

Update last_stable to 7.65.0
  release.json
Due: none

Remove python setup in github workflows (#36642)
  .github/workflows/add_reviewer_bot_pr.yml
  .github/workflows/assess_permissions.yml
  .github/workflows/buildimages-update.yml
  .github/workflows/bump_integrations_core.yml
  .github/workflows/chase_for_qa_cards.yml
  .github/workflows/chase_release_managers.yml
  .github/workflows/code_review_complexity.yml
  .github/workflows/collector-generate-and-update.yml
  .github/workflows/create_rc_pr.yml
  .github/workflows/create_release_schedule.yml
  .github/workflows/cws-btfhub-sync.yml
  .github/workflows/docs-dev.yml
  .github/workflows/external-contributor.yml
  .github/workflows/go_mod_tidy.yml
  .github/workflows/label-analysis.yml
  .github/workflows/report-merged-pr.yml
  .github/workflows/update_dependencies.yml
Due: shell-check-no-set-x

Revert "chore(deps): update dependency buildimages to v64110916" (#36689)
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Ensure cleanupRotatedTailers and scan run once
  pkg/logs/launchers/file/launcher.go
Due: copyright, go-mod-tidy

Add lock around rotatedTailers
  pkg/logs/launchers/file/launcher.go
Due: copyright, go-mod-tidy

Fix test
  comp/logs/agent/config/config.go
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/agent_test.go
Due: copyright, go-mod-tidy

[EBPF]: GPU: safenvml small refactor (#36687)
  pkg/gpu/safenvml/README.md
  pkg/gpu/safenvml/device.go
  pkg/gpu/safenvml/device_impl.go
  pkg/gpu/safenvml/device_impl_test.go
  pkg/gpu/safenvml/lib.go
  pkg/gpu/safenvml/lib_mock.go
Due: copyright, go-mod-tidy

change default compression
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

Remove fmt.Print
  comp/logs/agent/config/config.go
Due: copyright, go-mod-tidy

Bump EKS version test
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: check-go-modules-in-python

Fix bug where setting a value in the config would disable env transformer (#36656)
  pkg/config/viperconfig/viper.go
  pkg/config/viperconfig/viper_test.go
Due: copyright, go-mod-tidy

chore: use WithIntegration instead of WithFile when possible
  test/new-e2e/tests/agent-subcommands/check/check_nix_test.go
  test/new-e2e/tests/agent-subcommands/check/check_win_test.go
  test/new-e2e/tests/agent-subcommands/status/status_nix_test.go
  test/new-e2e/tests/agent-subcommands/status/status_win_test.go
Due: copyright, go-mod-tidy

Add ECS Fargate static tags
  comp/core/tagger/collectors/workloadmeta_extract.go
  pkg/util/ecs/host_tags.go
  pkg/util/tags/static_tags.go
Due: copyright, go-mod-tidy

fix typo in deploy_containers fips job (#36694)
  .gitlab/deploy_containers/deploy_containers_a7.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Remove breaking change
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/agent.go
Due: copyright, go-mod-tidy

add forced compression for log pipelines
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder.go
  comp/logs/agent/config/config_keys.go
Due: copyright, go-mod-tidy

Provide intake origin in fx
  cmd/otel-agent/subcommands/run/command.go
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/agent.go
Due: copyright, go-mod-tidy

Increase replica size to investigate zstd/gzip effect
  .gitlab/functional_test/regression_detector.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Fix integration test
  comp/otelcol/otlp/integrationtest/integration_test.go
Due: copyright, go-mod-tidy

Add extra_dbm template variable to Aurora autodiscovery
  cmd/agent/dist/conf.d/postgres.d/conf_aws_aurora.yaml.default
  comp/core/autodiscovery/listeners/dbm_aurora.go
  pkg/databasemonitoring/aws/aurora.go
Due: copyright, go-mod-tidy

Docs
  cmd/agent/dist/conf.d/postgres.d/conf_aws_aurora.yaml.default
Due: none

fix di ringbuf close
  pkg/dynamicinstrumentation/ringbufconsumer.go
Due: copyright, go-mod-tidy

Reno
  .python-version
  releasenotes/notes/add-extra-dbm-variable-3d28f1c0d786b8d3.yaml
Due: shell-check-no-set-x

update e2e tests
  test/new-e2e/tests/otel/otel-agent/testdata/minimal-full-config.yml
  test/new-e2e/tests/otel/otel-agent/testdata/minimal-provided-config.yml
  test/new-e2e/tests/otel/otel-agent/testdata/no-dd-exporter-full-config.yml
  test/new-e2e/tests/otel/otel-agent/testdata/no-dd-exporter-provided-config.yml
Due: shell-check-no-set-x

`inv -e generate-licenses`
  LICENSE-3rdparty.csv
Due: none

add more information/comment about pkg/util/grpc/hack.go
  pkg/util/grpc/hack.go
Due: copyright, go-mod-tidy

clean up pkg/config/remote/go.mod
  pkg/config/remote/go.mod
Due: check-go-modules-in-python

APM: Remove use of regex from ip quantization for perf improvement
  pkg/obfuscate/ip_address.go
  pkg/obfuscate/ip_address_test.go
Due: copyright, go-mod-tidy

Changelog update for 7.65.0 release (#36671)
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none
