Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

Nest remote action policy fields
  pkg/privateactionrunner/bundles/remoteaction/rshell/BUILD.bazel
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command_test.go
  pkg/privateactionrunner/task-verifier/BUILD.bazel
  pkg/privateactionrunner/task-verifier/verifier.go
  pkg/privateactionrunner/task-verifier/verifier_test.go
  pkg/privateactionrunner/types/task.go
  pkg/proto/datadog/privateactionrunner/private_actions.proto
  pkg/proto/pbgo/privateactionrunner/privateactions/private_actions.pb.go
  test/fakeintake/server/par.go
Due: copyright, go-mod-tidy, protocol-buffer

revert comment
  pkg/config/setup/privateactionrunner.go
Due: copyright, go-mod-tidy

uncomment allowed paths config
  pkg/config/setup/privateactionrunner.go
Due: copyright, go-mod-tidy

revert comments
  pkg/config/setup/privateactionrunner_test.go
Due: copyright, go-mod-tidy

refactor(scenario/ec2host): defaulted NewParams(), drop NewEC2HostParams + zero-value warning
  test/e2e-framework/AGENTS.md
  test/e2e-framework/scenario/scenarios/ec2host/params.go
  test/e2e-framework/scenario/scenarios/ec2host/scenario.go
  test/e2e-framework/scenario/scenarios/ec2host/scenario_test.go
  test/new-e2e/tests/scenario-model/ec2host_test.go
Due: copyright, go-mod-tidy

[QB1HZ-15] Use consistent shadow flag naming
  pkg/collector/scheduler/job.go
Due: copyright, go-mod-tidy

Warn on unprefixed configured rshell commands
  pkg/privateactionrunner/adapters/config/BUILD.bazel
  pkg/privateactionrunner/adapters/config/transform.go
  pkg/privateactionrunner/adapters/config/transform_test.go
Due: copyright, go-mod-tidy

Restore rshell command allowlist comment
  pkg/privateactionrunner/adapters/config/transform.go
Due: copyright, go-mod-tidy

Restore rshell path allowlist warnings
  pkg/privateactionrunner/adapters/config/transform.go
  pkg/privateactionrunner/adapters/config/transform_test.go
Due: copyright, go-mod-tidy

feat(scenario): EnvResolver + DispatchAction; RunAction delegates via StateResolver
  test/e2e-framework/scenario/dispatch.go
  test/e2e-framework/scenario/dispatch_test.go
  test/e2e-framework/scenario/runnable.go
Due: copyright, go-mod-tidy

only warn on paths if they are set in config
  pkg/privateactionrunner/adapters/config/transform.go
Due: copyright, go-mod-tidy

Preserve parameters in calls to getAllEntries.
  pkg/collector/corechecks/network-devices/cisco-sdwan/client/request.go
  pkg/collector/corechecks/network-devices/cisco-sdwan/client/request_test.go
Due: copyright, go-mod-tidy

Remove unused private action task reservations
  pkg/proto/datadog/privateactionrunner/private_actions.proto
  pkg/proto/pbgo/privateactionrunner/privateactions/private_actions.pb.go
Due: copyright, go-mod-tidy, protocol-buffer

Use next private action remote_action field
  pkg/proto/datadog/privateactionrunner/private_actions.proto
  pkg/proto/pbgo/privateactionrunner/privateactions/private_actions.pb.go
Due: copyright, go-mod-tidy, protocol-buffer

add back remediation command handler
  pkg/privateactionrunner/bundles/remoteaction/rshell/entrypoint.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command.go
Due: copyright, go-mod-tidy

refactor: rename command handler fields from Agent* to Operator*
  pkg/privateactionrunner/bundles/remoteaction/rshell/entrypoint.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command_test.go
Due: copyright, go-mod-tidy

fix,test: fix the tests
  pkg/privateactionrunner/bundles/remoteaction/rshell/BUILD.bazel
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command_test.go
Due: copyright, go-mod-tidy

refactor: update handler to filter out redundant paths and commands
  pkg/privateactionrunner/bundles/remoteaction/rshell/entrypoint.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/helper.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/helper_test.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command_test.go
Due: copyright, go-mod-tidy

Fix PAR fakeintake allowed path shapes
  test/fakeintake/server/BUILD.bazel
  test/fakeintake/server/par.go
  test/fakeintake/server/par_test.go
  test/new-e2e/tests/privateactionrunner/rshell_k8s_test.go
Due: copyright, go-mod-tidy

Preserve rw backend paths for rshell root allowlist
  pkg/privateactionrunner/bundles/remoteaction/rshell/helper.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command_test.go
Due: copyright, go-mod-tidy

feat(scenario): registry-keyed Create/RunAction/Destroy; CLI delegates to them
  test/e2e-framework/cmd/scenariorun/main.go
  test/e2e-framework/scenario/lifecycle.go
  test/e2e-framework/scenario/lifecycle_registry_test.go
Due: copyright, go-mod-tidy

Fix PAR rshell CI generated files
  pkg/privateactionrunner/adapters/config/transform_test.go
  test/fakeintake/server/BUILD.bazel
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

[QB1HZ-16] Add metric lookback shadow config metadata
  pkg/collector/metriclookback/BUILD.bazel
  pkg/collector/metriclookback/metadata.go
  pkg/collector/metriclookback/metadata_test.go
Due: copyright, go-mod-tidy

chore: update rshell version
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

add fallback values
  pkg/security/probe/constantfetch/fallback.go
Due: copyright, go-mod-tidy

Prefer read-write rshell path duplicates
  pkg/privateactionrunner/bundles/remoteaction/rshell/helper.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/helper_test.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command_test.go
Due: copyright, go-mod-tidy

refactor: rename agentAllowed -> operatorAllowed
  pkg/privateactionrunner/bundles/remoteaction/rshell/helper.go
Due: copyright, go-mod-tidy

refactor: remove obscure slice cloning technique
  pkg/privateactionrunner/bundles/remoteaction/rshell/helper.go
Due: copyright, go-mod-tidy

refactor: remove redundant dedupe function call
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command.go
Due: copyright, go-mod-tidy

docs: add doc comment for intersectAllowedPathsByAccess
  pkg/privateactionrunner/bundles/remoteaction/rshell/helper.go
Due: copyright, go-mod-tidy

test: add more tests for operator configuration
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command_test.go
Due: copyright, go-mod-tidy

fix: deduplicate filepaths when operator config is not present
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command_test.go
Due: copyright, go-mod-tidy

fix,test: fix e2e test
  .gitlab-ci.yml
  .gitlab/test/e2e/e2e.yml
Due: shell-check-no-set-x, gitlab-configuration

chore: bump rshell version
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

chore: update licenses
  go.sum
Due: go-mod-tidy

docs: add release note
  releasenotes/notes/par-rshell-policy-enforcement-6c0d44b4d6353e0a.yaml
Due: shell-check-no-set-x

Refactor PAR rshell policy payload
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command_test.go
  pkg/privateactionrunner/task-verifier/verifier.go
  pkg/privateactionrunner/task-verifier/verifier_test.go
  pkg/privateactionrunner/types/task.go
  pkg/privateactionrunner/types/task_test.go
  pkg/proto/datadog/privateactionrunner/private_actions.proto
  pkg/proto/pbgo/privateactionrunner/privateactions/private_actions.pb.go
  test/fakeintake/server/par.go
  test/fakeintake/server/par_test.go
Due: copyright, go-mod-tidy, protocol-buffer

Make PAR system inputs a oneof
  pkg/privateactionrunner/task-verifier/verifier_test.go
  pkg/proto/datadog/privateactionrunner/private_actions.proto
  pkg/proto/pbgo/privateactionrunner/privateactions/private_actions.pb.go
Due: copyright, go-mod-tidy, protocol-buffer

Use proto remote action in PAR task model
  pkg/privateactionrunner/bundles/remoteaction/rshell/BUILD.bazel
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command_test.go
  pkg/privateactionrunner/task-verifier/verifier.go
  pkg/privateactionrunner/types/task.go
Due: copyright, go-mod-tidy
