Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, gofmt, clang-format

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.3 # should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==20.1.4
        - flake8-unused-arguments==0.0.6
- repo: https://github.com/psf/black
  rev: 19.10b0
  hooks:
    - id: black
- repo: https://github.com/timothycrosley/isort/
  rev: 5.2.2
  hooks:
    - id: isort
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 2.1.1
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
      additional_dependencies: [] # Can be removed after this fix gets merged: https://github.com/jumanjihouse/pre-commit-hooks/pull/80
- repo: local
  hooks:
    - id: revive
      name: revive
      description: revive
      entry: 'python3 tasks/git-hooks/revive.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: gofmt
      name: gofmt
      description: go fmt
      entry: 'python3 tasks/git-hooks/gofmt.py'
      language: system
      files: \.go$
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 tasks/git-hooks/clang-format.py'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'

added some documentation
  pkg/network/ebpf/c/http2.h
Due: clang-format

WIP
  pkg/network/ebpf/c/http2.h
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/runtime/http.c
Due: clang-format

Linter: move to go.uber.org/atomic
  pkg/serverless/appsec/limiter.go
  pkg/serverless/appsec/limiter_test.go
  pkg/serverless/appsec/waf/types.go
  pkg/serverless/appsec/waf/waf.go
  pkg/serverless/appsec/waf/waf_test.go
Due: revive, govet, gofmt

Adds the actual modified pattern
  pkg/logs/internal/decoder/auto_multiline_handler.go
Due: revive, govet, gofmt

Apply suggestions from code review
  tools/windows/DatadogAgentInstaller/CustomActions/UserCustomActions.cs
Due: none

Add new expvar to expose customer-facing rates by service
  cmd/agent/subcommands/status/command.go
  pkg/status/templates/trace-agent.tmpl
  pkg/trace/info/info.go
  pkg/trace/info/testdata/okay.json
Due: revive, govet, gofmt

Handle default domain\user name on workstations and domains (#14192)
  tools/windows/DatadogAgentInstaller/CustomActions/Native/NativeMethods.cs
  tools/windows/DatadogAgentInstaller/CustomActions/UserCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentInstaller.cs
Due: none

WIP - working on the user mode
  pkg/network/ebpf/c/kafka/socket-filter-approach/kafka-maps.h
  pkg/network/ebpf/c/kafka/socket-filter-approach/kafka-types.h
  pkg/network/ebpf/c/kafka/socket-filter-approach/kafka.h
  pkg/network/ebpf/c/prebuilt/kafka.c
  pkg/network/kafka/batch_manager.go
  pkg/network/kafka/ebpf_main.go
  pkg/network/kafka/incomplete_stats.go
  pkg/network/kafka/kafka_statkeeper.go
  pkg/network/kafka/kafka_stats.go
  pkg/network/kafka/kafka_types.go
  pkg/network/kafka/kafka_types_linux.go
  pkg/network/kafka/model.go
  pkg/network/kafka/model_linux.go
  pkg/network/kafka/monitor.go
  pkg/network/kafka/monitor_test.go
  pkg/network/kafka/telemetry.go
Due: revive, govet, gofmt, clang-format

feat: Move coldstart span creation out of conditional where span tag is missing
  pkg/serverless/trace/span_modifier.go
Due: revive, govet, gofmt

revent redundant changes
  pkg/network/ebpf/c/runtime/http.c
Due: clang-format

Linter: overall fixes
  pkg/serverless/appsec/appsec.go
  pkg/serverless/appsec/rules.go
Due: revive, govet, gofmt

WIP
  pkg/network/ebpf/c/runtime/http.c
Due: clang-format

Include 3rd-party licenses in the Agent package
  omnibus/config/projects/agent.rb
Due: none

Fix the use of node labels to determine the cluster name on the DCA
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/clustername/clustername.go
  pkg/util/kubernetes/hostinfo/cluster_name_from_node_label.go
  pkg/util/kubernetes/hostinfo/cluster_name_from_node_label_apiserver.go
  pkg/util/kubernetes/hostinfo/cluster_name_from_node_label_kubelet.go
  pkg/util/kubernetes/hostinfo/cluster_name_from_node_label_nothing.go
  pkg/util/kubernetes/hostinfo/no_node_labels.go
  pkg/util/kubernetes/hostinfo/node_labels.go
Due: revive, govet, gofmt

Linter: simplify code
  pkg/serverless/appsec/config_test.go
Due: revive, govet, gofmt

Fix panic in the agent when the DCA isn’t reachable (#14208)
  pkg/util/kubernetes/hostinfo/tags.go
Due: revive, govet, gofmt

[CWS] do not send of closed channel if all components are disabled
  cmd/security-agent/app/start.go
Due: revive, govet, gofmt

Linter: move test to go.uber.org/atomic
  pkg/serverless/appsec/waf/waf_test.go
Due: revive, govet, gofmt

add release note
  releasenotes/notes/security-agent-fix-14214-8615ad801c6b8c83.yaml
Due: none

fix release note
  releasenotes/notes/security-agent-fix-14214-8615ad801c6b8c83.yaml
Due: none

Fix metric loss with re-scheduled checks
  pkg/aggregator/aggregator.go
  pkg/aggregator/test_common.go
  pkg/collector/collector_test.go
Due: revive, govet, gofmt

Adjust tests for delayed sampler creation
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/sender_test.go
Due: revive, govet, gofmt

Fix the flaky tests `TestDestroySender`
  pkg/aggregator/sender_test.go
Due: revive, govet, gofmt

[RCM] Add the stored and received orgUUID to the orgUUID error message (#14215)
  pkg/config/remote/uptane/client.go
Due: revive, govet, gofmt

cmd/agent/status: don't display empty env values for rates by service (#14193)
  pkg/status/templates/trace-agent.tmpl
  pkg/trace/info/info.go
  pkg/trace/info/testdata/okay.json
Due: revive, govet, gofmt

[Windows][system probe] Reduce log verbosity (#14196)
  pkg/network/etw/etw-http-service.go
Due: revive, govet, gofmt

Add copyright headers
  cmd/trace-agent/config/config.go
  cmd/trace-agent/config/config_linux.go
  cmd/trace-agent/config/config_notlinux.go
Due: revive, govet, gofmt

Fix python bug
  tasks/libs/junit_upload.py
Due: none

files end up in root
  .gitlab/functional_test/system_probe.yml
Due: none

Separate test cases to avoid data races on the globals
  pkg/collector/collector_demux_test.go
  pkg/collector/collector_test.go
Due: revive, govet, gofmt

Hack 6.0
  pkg/ebpf/c/bpf_builtins.h
Due: clang-format

Bump cilium for enum64
  go.mod
  go.sum
Due: none

Fix env for test2json build
  tasks/system_probe.py
Due: none

feat: Wrap call to creator in sync.Once to prevent duplicate spans
  pkg/serverless/trace/cold_start_span_creator.go
  pkg/serverless/trace/cold_start_span_creator_test.go
  pkg/serverless/trace/trace.go
Due: revive, govet, gofmt

Return number of messages from ReceiveAndDiscard
  pkg/network/netlink/conntrack.go
  pkg/network/netlink/consumer.go
  pkg/network/netlink/socket.go
Due: revive, govet, gofmt

Add needs to make upload run sooner
  .gitlab/functional_test_junit_upload.yml
Due: none

Linter: general fixes
  pkg/serverless/appsec/waf/waf.go
  pkg/serverless/appsec/waf/waf_test.go
Due: revive, govet, gofmt

Check correct directory for artifacts
  .gitlab/functional_test/system_probe.yml
  .gitlab/functional_test_junit_upload.yml
Due: none

Skip appsec tests on windows (unsupported)
  pkg/serverless/appsec/appsec_test.go
Due: revive, govet, gofmt

Add some more logging
  cmd/trace-agent/config/config.go
  pkg/trace/api/api.go
  pkg/trace/watchdog/info.go
Due: revive, govet, gofmt
