Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

copyright:
  name: copyright
  description: copyright headers
  entry: inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: inv tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

gitlab-lint-jobs-codeowners:
  name: gitlab-lint-jobs-codeowners
  description: lint the gitlab configuration to verify jobs codeowners
  entry: inv linter.gitlab-ci-jobs-codeowners
  language: system
  require_serial: true
  pass_filenames: false

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: inv modules.validate
  language: system
  pass_filenames: false

[CWS] move r0 set to footer instructions
  pkg/security/ebpf/probes/rawpacket/pcap.go
Due: copyright, go-mod-tidy

[CWS] Clean up unused fields
  pkg/security/ebpf/c/include/helpers/network/stats.h
  pkg/security/ebpf/c/include/hooks/network/flow.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/ebpf/c/include/structs/network.h
Due: win-clang-format

[CWS] Fix Selftests functional tests by reloading the module tester (#33119)
  pkg/security/tests/selftests_test.go
  pkg/security/tests/testopts.go
Due: copyright, go-mod-tidy

upgrade(installer): Support remote / local API remove
  pkg/fleet/daemon/daemon.go
  pkg/fleet/daemon/local_api.go
  pkg/fleet/daemon/local_api_test.go
  pkg/fleet/installer/packages/apm_inject_windows.go
Due: copyright, go-mod-tidy

skip all-with-limit on debian 10
  pkg/security/tests/network_test.go
Due: copyright, go-mod-tidy

use latest image
  .circleci/config.yml
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[remove-replace-check] Removed test
  tasks/unit_tests/modules_tests.py
Due: none

[CWS] split BTFHub constant files into specific arch (#33095)
  .github/workflows/cws-btfhub-sync.yml
  pkg/security/probe/constantfetch/btfhub.go
  pkg/security/probe/constantfetch/btfhub/.gitignore
  pkg/security/probe/constantfetch/btfhub/constants.json
  pkg/security/probe/constantfetch/btfhub/constants_amd64.json
  pkg/security/probe/constantfetch/btfhub/constants_arm64.json
  pkg/security/probe/constantfetch/btfhub_amd64.go
  pkg/security/probe/constantfetch/btfhub_arm64.go
  tasks/security_agent.py
Due: copyright, go-mod-tidy, shell-check-no-set-x

feat(admissioncontroller): refactor webhook registration
  pkg/clusteragent/admission/controllers/webhook/common_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_base.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1_test.go
  pkg/clusteragent/admission/controllers/webhook/types/default.go
  pkg/clusteragent/admission/controllers/webhook/types/interfaces.go
  pkg/clusteragent/admission/mutate/agent_sidecar/agent_sidecar.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/autoscaling/autoscaling.go
  pkg/clusteragent/admission/mutate/config/config.go
  pkg/clusteragent/admission/mutate/cwsinstrumentation/cws_instrumentation.go
  pkg/clusteragent/admission/mutate/tagsfromlabels/tags.go
  pkg/clusteragent/admission/start.go
  pkg/clusteragent/admission/validate/kubernetesadmissionevents/kubernetesadmissionevents.go
Due: copyright, go-mod-tidy

add Start() func in admission-controller webhook
  cmd/cluster-agent/subcommands/start/command.go
  pkg/clusteragent/admission/controllers/webhook/types/interfaces.go
  pkg/clusteragent/admission/mutate/agent_sidecar/agent_sidecar.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/autoscaling/autoscaling.go
  pkg/clusteragent/admission/mutate/config/config.go
  pkg/clusteragent/admission/mutate/cwsinstrumentation/cws_instrumentation.go
  pkg/clusteragent/admission/mutate/tagsfromlabels/tags.go
  pkg/clusteragent/admission/validate/kubernetesadmissionevents/kubernetesadmissionevents.go
Due: copyright, go-mod-tidy

Add APIExtClient in AdmissionController webhook base
  cmd/cluster-agent/subcommands/start/command.go
  pkg/clusteragent/admission/controllers/webhook/controller_base.go
  pkg/clusteragent/admission/controllers/webhook/controller_base_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1_test.go
  pkg/clusteragent/admission/controllers/webhook/utils_test.go
  pkg/clusteragent/admission/start.go
  pkg/collector/corechecks/cluster/ksm/customresources/crd.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator.go
  pkg/collector/corechecks/cluster/orchestrator/orchestrator_test.go
  pkg/util/kubernetes/apiserver/apiserver.go
Due: copyright, go-mod-tidy

add deprecatedresources admissioncontroller webhook
  go.mod
  go.sum
  pkg/clusteragent/admission/controllers/webhook/controller_base.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1_test.go
  pkg/clusteragent/admission/validate/deprecatedresources/const.go
  pkg/clusteragent/admission/validate/deprecatedresources/crdsdeprecationinfo.go
  pkg/clusteragent/admission/validate/deprecatedresources/crdsdeprecationinfo_test.go
  pkg/clusteragent/admission/validate/deprecatedresources/types.go
  pkg/clusteragent/admission/validate/deprecatedresources/webhook.go
  pkg/clusteragent/admission/validate/deprecatedresources/webhook_test.go
Due: copyright, go-mod-tidy, check-go-modules-in-python

add debug logs present in python check
  pkg/collector/corechecks/system/disk/disk/disk_nix.go
Due: copyright, go-mod-tidy

logs: shared senders should be started in the Pipeline
  pkg/logs/pipeline/pipeline.go
  pkg/logs/sender/go.mod
  pkg/logs/sender/go.sum
  pkg/logs/sender/shared_sender.go
Due: copyright, go-mod-tidy, check-go-modules-in-python

remove redundant definition
  pkg/proto/pbgo/core/api_grpc.pb.go
Due: copyright, go-mod-tidy

usm: sharedlibraries: Track programs using ebpf telemetry
  pkg/network/usm/sharedlibraries/ebpf.go
Due: copyright, go-mod-tidy

Cached deletions are not treated as not present data
  pkg/config/remote/uptane/transactional_store.go
Due: copyright, go-mod-tidy

CWS: sync BTFhub constants
  pkg/security/probe/constantfetch/btfhub/constants_arm64.json
Due: none

[CWS-3832] fix field array cache when using registers (#33097)
  pkg/security/secl/compiler/generators/accessors/accessors.tmpl
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/seclwin/model/accessors_win.go
Due: copyright, go-mod-tidy

[CWS] move accessors generator out of the secl package
  pkg/security/generators/accessors/accessors.go
  pkg/security/generators/accessors/accessors.tmpl
  pkg/security/generators/accessors/common/types.go
  pkg/security/generators/accessors/doc/doc.go
  pkg/security/generators/accessors/field_accessors.tmpl
  pkg/security/generators/accessors/field_handlers.tmpl
  pkg/security/secl/model/model_unix.go
  tasks/security_agent.py
Due: copyright, go-mod-tidy

[CWS] move syscall table generator out of the secl package
  pkg/security/generators/syscall_table_generator/syscall_table_generator.go
  tasks/security_agent.py
Due: copyright, go-mod-tidy

`inv -e tidy`
  go.mod
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
Due: go-mod-tidy, check-go-modules-in-python

[CWS] move operators generator out of the secl package
  pkg/security/generators/operators/operators.go
  tasks/security_agent.py
Due: copyright, go-mod-tidy

Manual version of job generate_windows_gitlab_runner_bump_pr (#33121)
  .gitlab/JOBOWNERS
  .gitlab/trigger_release/trigger_release.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

fix(ci): Remove the kmt_secagent tests
  .github/CODEOWNERS
  .gitlab-ci.yml
  .gitlab/JOBOWNERS
  .gitlab/functional_test/include.yml
  .gitlab/junit_upload/junit_upload.yml
  .gitlab/kernel_matrix_testing/security_agent.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

fix bundle arg check when building the agent (#32998)
  omnibus/config/software/datadog-agent.rb
Due: none

enable security-agent internal profiling in `quality_gate_idle_all_features` (#33117)
  test/regression/cases/quality_gate_idle_all_features/experiment.yaml
Due: shell-check-no-set-x

usm: sharedlibraries: Track programs using ebpf telemetry (#33115)
  pkg/network/usm/sharedlibraries/ebpf.go
Due: copyright, go-mod-tidy

[CWS] move generators out of SECL package (#33137)
  go.mod
  pkg/security/generators/accessors/accessors.go
  pkg/security/generators/accessors/accessors.tmpl
  pkg/security/generators/accessors/common/types.go
  pkg/security/generators/accessors/doc/doc.go
  pkg/security/generators/accessors/field_accessors.tmpl
  pkg/security/generators/accessors/field_handlers.tmpl
  pkg/security/generators/operators/operators.go
  pkg/security/generators/syscall_table_generator/syscall_table_generator.go
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
  pkg/security/secl/model/model_unix.go
  tasks/security_agent.py
Due: copyright, go-mod-tidy, check-go-modules-in-python

re-add security_profiles map entry deletion
  pkg/security/resolvers/tags/resolver_linux.go
Due: copyright, go-mod-tidy

check
  pkg/security/resolvers/tags/resolver_linux.go
Due: copyright, go-mod-tidy

debug with error log
  pkg/security/resolvers/tc/resolver.go
Due: copyright, go-mod-tidy

logs: do not stop a shared sender twice.
  pkg/logs/sender/shared_sender.go
Due: copyright, go-mod-tidy

[CWS] re-generate syscall table from linux 6.13
  pkg/security/secl/model/syscalls_linux_amd64.go
  pkg/security/secl/model/syscalls_linux_arm64.go
  pkg/security/secl/model/syscalls_string_linux_amd64.go
  pkg/security/secl/model/syscalls_string_linux_arm64.go
  tasks/security_agent.py
Due: copyright, go-mod-tidy

windows udp implementation receives packets
  pkg/networkpath/traceroute/common/common.go
  pkg/networkpath/traceroute/common/common_windows.go
  pkg/networkpath/traceroute/udp/udpv4_windows.go
  pkg/networkpath/traceroute/udp/utils.go
Due: copyright, go-mod-tidy

fix linter errors
  pkg/networkpath/traceroute/common/common.go
  pkg/networkpath/traceroute/tcp/utils.go
  pkg/networkpath/traceroute/udp/udpv4.go
  pkg/networkpath/traceroute/udp/utils.go
Due: copyright, go-mod-tidy

fix windows linter errors
  pkg/networkpath/traceroute/common/common_windows.go
  pkg/networkpath/traceroute/tcp/utils_windows.go
Due: copyright, go-mod-tidy

Only set cluster name initDone to true when detection succeeded
  pkg/util/kubernetes/clustername/clustername.go
Due: copyright, go-mod-tidy

address PR comments, fix linter errors
  pkg/networkpath/traceroute/common/common.go
  pkg/networkpath/traceroute/common/common_windows.go
  pkg/networkpath/traceroute/common/common_windows_test.go
  pkg/networkpath/traceroute/tcp/utils_test.go
  pkg/networkpath/traceroute/tcp/utils_unix_test.go
Due: copyright, go-mod-tidy

update sampler metrics
  pkg/trace/sampler/catalog_test.go
  pkg/trace/sampler/coresampler.go
  pkg/trace/sampler/coresampler_test.go
  pkg/trace/sampler/prioritysampler.go
  pkg/trace/sampler/prioritysampler_test.go
  pkg/trace/sampler/probabilistic.go
  pkg/trace/sampler/probabilistic_test.go
  pkg/trace/sampler/scoresampler.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$
