Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

try again
  tasks/winbuildscripts/Invoke-Linters.ps1
Due: none

test setting AWS env vars in omnibus invocation
  tasks/omnibus.py
Due: none

fix dns response discarders
  pkg/security/probe/discarders_linux.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/tests/dns_response_test.go
Due: copyright, go-mod-tidy

[e2e][kind] enable csi driver from agent helm config
  test/new-e2e/pkg/provisioners/aws/kubernetes/kind.go
  test/new-e2e/tests/containers/kindvm_test.go
Due: copyright, go-mod-tidy

[e2e][kind] move helm values to embedded file
  test/new-e2e/pkg/provisioners/aws/kubernetes/agent_helm_values.yaml
  test/new-e2e/pkg/provisioners/aws/kubernetes/kind.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

[e2e][k8s] add new line to yaml file
  test/new-e2e/pkg/provisioners/aws/kubernetes/agent_helm_values.yaml
Due: shell-check-no-set-x

Pass CI
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration

use ci-identities-gitlab-job-client
  tasks/omnibus.py
Due: none

update Install workflow
  tools/windows/DatadogAgentInstaller/CustomActions/InstallOciPackages.cs
Due: none

Restructured OrgPoller
  pkg/config/remote/service/service.go
  pkg/config/remote/service/service_test.go
Due: copyright, go-mod-tidy

feat(ask_review): Remove duplicated messages (#42049)
  tasks/issue.py
Due: none

[update-amis] updated test infra with all images
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: check-go-modules-in-python, protocol-buffer

address comment
  pkg/security/probe/discarders_linux.go
  pkg/security/probe/probe_ebpf.go
Due: copyright, go-mod-tidy

[CWS] fix merge of 2 defaults with a disable
  pkg/security/secl/rules/policy_loader_test.go
Due: copyright, go-mod-tidy

Skip test on docker
  pkg/security/tests/ssh_user_session_test.go
Due: copyright, go-mod-tidy

Change algo to improve offset edition + refacto
  pkg/security/resolvers/usersessions/resolver_linux.go
Due: copyright, go-mod-tidy

fix(upgrade): Restore upgrade tests (#42037)
  test/new-e2e/tests/agent-platform/upgrade/upgrade_test.go
Due: copyright, go-mod-tidy

Build nghttp2 via bazel (#41984)
  .gitlab/bazel/build-deps.yaml
  MODULE.bazel
  deps/BUILD.bazel
  deps/libffi.BUILD.bazel
  deps/nghttp2.BUILD.bazel
  deps/nghttp2/BUILD.bazel
  deps/nghttp2/config.h
  deps/repos.MODULE.bazel
Due: win-clang-format, shell-check-no-set-x

Move logic for isBlockForRetry into blockedEndpoints
  comp/forwarder/defaultforwarder/blocked_endpoints.go
  comp/forwarder/defaultforwarder/blocked_endpoints_test.go
  comp/forwarder/defaultforwarder/domain_forwarder.go
  comp/forwarder/defaultforwarder/domain_forwarder_test.go
Due: copyright, go-mod-tidy

Introduce in place measurer for MSI
  .gitlab/container_build/common.yml
  .gitlab/package_build/windows.yml
  .gitlab/packaging/common.yml
  tasks/libs/package/size.py
  tasks/quality_gates.py
  tasks/static_quality_gates/experimental_gates.py
  tasks/unit_tests/experimental_gates_tests.py
Due: shell-check-no-set-x, gitlab-configuration

small fix
  pkg/security/probe/discarders_linux.go
  pkg/security/probe/probe_ebpf.go
Due: copyright, go-mod-tidy

update the rule merging policy
  pkg/security/secl/rules/policy.go
  pkg/security/secl/rules/policy_loader_test.go
Due: copyright, go-mod-tidy

add infra_mode tag to system.user.cpu
  pkg/collector/corechecks/system/cpu/cpu/cpu.go
Due: copyright, go-mod-tidy

Fix arch in msi search patter + unit tests
  .gitlab/package_build/windows.yml
  tasks/unit_tests/experimental_gates_tests.py
Due: shell-check-no-set-x, gitlab-configuration

fix managed dir permissions
  pkg/fleet/installer/packages/datadog_agent_linux.go
Due: copyright, go-mod-tidy

remove changelog as we only touch a test
  releasenotes/notes/fix-flakey-deployment-test-1a31969470e01812.yaml
Due: shell-check-no-set-x

add a BUILD file for util-linux/blkid
  deps/repos.MODULE.bazel
  deps/util-linux.BUILD.bazel
  deps/util-linux/config.h
Due: win-clang-format

omnibus: build util-linux with bazel
  omnibus/config/software/util-linux.rb
Due: none

wip
  pkg/logs/launchers/file/launcher.go
  pkg/logs/tailers/file/fingerprint.go
  pkg/logs/tailers/file/tailer.go
  pkg/logs/tailers/file/tailer_test.go
  pkg/logs/tailers/file/tailer_windows.go
Due: copyright, go-mod-tidy

add a sync on traced cgroup map before inserting anew dump userspace side
  pkg/security/security_profile/ad.go
Due: copyright, go-mod-tidy

poc
  comp/otelcol/otlp/components/exporter/logsagentexporter/factory.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.mod
  comp/otelcol/otlp/components/exporter/logsagentexporter/logs_exporter.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/orchestrator_exporter.go
  go.mod
  go.sum
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

deps: add a BUILD file for xz/liblzma
  .gitlab/bazel/build-deps.yaml
  MODULE.bazel.lock
  deps/BUILD.bazel
  deps/pkgconfig/BUILD.bazel
  deps/pkgconfig/liblzma.pc.in
  deps/repos.MODULE.bazel
  deps/xz.BUILD.bazel
  deps/xz/0001-add-generated-config.h-files-for-the-platforms-we-ta.patch
Due: shell-check-no-set-x

apply review suggestions
  deps/xz.BUILD.bazel
Due: none

omnibus: build xz/liblzma through bazel
  omnibus/config/software/liblzma.rb
Due: none

don't force the rpath at build time
  deps/xz.BUILD.bazel
Due: none

rename shared library target to `lzma`
  deps/BUILD.bazel
  deps/xz.BUILD.bazel
Due: none

lzma: use build_on_repo_root
  omnibus/config/software/liblzma.rb
Due: none

enable compiler optimizations
  deps/xz.BUILD.bazel
Due: none

use http_archive overlay instead of a patch
  deps/repos.MODULE.bazel
  deps/xz.BUILD.bazel
  deps/xz/0001-add-generated-config.h-files-for-the-platforms-we-ta.patch
  deps/xz/BUILD.bazel
  deps/xz/config.lzma-linux-arm64.h
  deps/xz/config.lzma-linux-x86_64.h
  deps/xz/config.lzma-osx-arm64.h
  deps/xz/config.lzma-osx-x86_64.h
  deps/xz/config.lzma-windows.h
Due: win-clang-format

update xzutils to the latest stable
  deps/repos.MODULE.bazel
  deps/xz/config.lzma-linux-arm64.h
  deps/xz/config.lzma-linux-x86_64.h
  deps/xz/config.lzma-windows.h
Due: win-clang-format

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
