Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: govet, copyright, clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

govet:
  name: govet
  description: go vet
  entry: python3 -m tasks.git-hooks.govet
  language: system
  require_serial: true

copyright:
  name: copyright
  description: copyright headers
  entry: inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 -m tasks.git-hooks.clang-format
  language: system
  require_serial: true

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: inv tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

notify-only-on-main: Removed tests
  .gitlab/notify/notify.yml
Due: shell-check-no-set-x, gitlab-configuration

Fix incorrect slice pre-allocation (#26409)
  pkg/util/profiling/profiling.go
Due: govet, copyright, go-mod-tidy

[CONTINT-4216] Make the `oom_kill` check capture the `oom_score` (#26384)
  pkg/collector/corechecks/ebpf/c/runtime/oom-kill-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/oom-kill-kern.c
  pkg/collector/corechecks/ebpf/oomkill/oom_kill.go
  pkg/collector/corechecks/ebpf/probe/oomkill/model/oom_kill_types.go
  pkg/collector/corechecks/ebpf/probe/oomkill/oom_kill.go
  pkg/collector/corechecks/ebpf/probe/oomkill/oom_kill_test.go
  releasenotes/notes/oom_score-384c6e7f13906123.yaml
Due: govet, copyright, go-mod-tidy, shell-check-no-set-x

Enable linting in `new-e2e/examples` package and fix a warning (#26199)
  tasks/modules.py
Due: none

Fix incorrect slice pre-allocation (#26410)
  pkg/network/usm/sharedlibraries/testutil/fmapper/fmapper.go
Due: govet, copyright, go-mod-tidy

[workloadmeta/cached_entity] Avoid deep copy when there's 1 source
  comp/core/workloadmeta/impl/cached_entity.go
Due: govet, copyright, go-mod-tidy

redis: add server support for TLS
  pkg/network/protocols/redis/common.go
  pkg/network/protocols/redis/server.go
  pkg/network/protocols/redis/testdata/docker-compose.yml
  pkg/network/tracer/tracer_usm_linux_test.go
Due: govet, copyright, go-mod-tidy, shell-check-no-set-x

tests: wrap test to allow choosing between plaintext & TLS
  pkg/network/tracer/tracer_usm_linux_test.go
Due: govet, copyright, go-mod-tidy

redis: add client support for TLS
  pkg/network/protocols/redis/client.go
  pkg/network/tracer/tracer_usm_linux_test.go
Due: govet, copyright, go-mod-tidy

tests: add Redis TLS test
  pkg/network/tracer/tracer_usm_linux_test.go
Due: govet, copyright, go-mod-tidy

ebpf: tls: add Redis classification
  pkg/network/ebpf/c/protocols/redis/helpers.h
  pkg/network/ebpf/c/protocols/tls/https.h
Due: clang-format

server: add runner script to copy and fix permissions for the certificates
  pkg/network/protocols/redis/server.go
  pkg/network/protocols/redis/testdata/docker-compose.yml
  pkg/network/protocols/redis/testdata/runner.sh
Due: govet, copyright, go-mod-tidy, shell-check-no-set-x

ebpf: refactor classification logic
  pkg/network/ebpf/c/protocols/tls/https.h
Due: clang-format

fix postgres_monitor_tests
  pkg/network/usm/postgres_monitor_test.go
Due: govet, copyright, go-mod-tidy

redis: client: use custom dialer with TLS
  pkg/network/protocols/redis/client.go
Due: govet, copyright, go-mod-tidy

move TLS settings constants to protocols/testutils
  pkg/network/protocols/amqp/server.go
  pkg/network/protocols/postgres/server.go
  pkg/network/protocols/redis/client.go
  pkg/network/protocols/redis/server.go
  pkg/network/protocols/testutil/tls_settings.go
  pkg/network/tracer/tracer_usm_linux_test.go
Due: govet, copyright, go-mod-tidy

packaging: oci: provide INSTALL_DIR (#26489)
  .gitlab/packaging/oci.yml
Due: shell-check-no-set-x, gitlab-configuration

improve release note
  releasenotes/notes/accept-extra-config-files-f0ab26a4c6bc78c0.yaml
Due: shell-check-no-set-x

mysql: add client support for TLS
  pkg/network/protocols/mysql/client.go
Due: govet, copyright, go-mod-tidy

mysql: add server support for TLS
  pkg/network/protocols/mysql/common.go
  pkg/network/protocols/mysql/server.go
  pkg/network/protocols/mysql/testdata/docker-compose.yml
  pkg/network/tracer/tracer_usm_linux_test.go
Due: govet, copyright, go-mod-tidy, shell-check-no-set-x

ebpf: tls: add MySQL classification
  pkg/network/ebpf/c/protocols/tls/https.h
Due: clang-format

move TLS settings constants to protocols/testutils
  pkg/network/protocols/amqp/server.go
  pkg/network/protocols/postgres/server.go
  pkg/network/protocols/testutil/tls_settings.go
  pkg/network/tracer/tracer_usm_linux_test.go
Due: govet, copyright, go-mod-tidy

fixup! ebpf: tls: add MySQL classification
  pkg/network/ebpf/c/protocols/tls/https.h
Due: clang-format

mysql: client: remove err declaration
  pkg/network/protocols/mysql/client.go
Due: govet, copyright, go-mod-tidy

mysql: remove TLSSettings
  pkg/network/protocols/mysql/client.go
  pkg/network/protocols/mysql/common.go
  pkg/network/protocols/mysql/server.go
  pkg/network/tracer/tracer_usm_linux_test.go
Due: govet, copyright, go-mod-tidy

tests: add MySQL TLS test
  pkg/network/tracer/tracer_usm_linux_test.go
Due: govet, copyright, go-mod-tidy

ebpf: fix verifier issue on older kernels
  pkg/network/ebpf/c/protocols/mysql/helpers.h
Due: clang-format

server: add runner script to copy and fix permissions for the certificates
  pkg/network/protocols/mysql/server.go
  pkg/network/protocols/mysql/testdata/docker-compose.yml
  pkg/network/protocols/mysql/testdata/runner.sh
Due: govet, copyright, go-mod-tidy, shell-check-no-set-x

tests: fix flaky TLS classification tests
  pkg/network/tracer/tracer_usm_linux_test.go
Due: govet, copyright, go-mod-tidy

tests: skip flaky classification tests
  pkg/network/tracer/tracer_usm_linux_test.go
Due: govet, copyright, go-mod-tidy

USM: tests: only skip TLS classification tests
  pkg/network/tracer/tracer_usm_linux_test.go
Due: govet, copyright, go-mod-tidy

adding unit tests
  pkg/config/model/viper_test.go
Due: govet, copyright, go-mod-tidy

update AddExtraConfigPaths to avoid internal modification on error case
  pkg/config/model/viper.go
Due: govet, copyright, go-mod-tidy

[e2e] handle context timeout on pulumi up and destroy (#26253)
  test/new-e2e/pkg/e2e/pulumi_provisioner.go
  test/new-e2e/pkg/utils/infra/stack_manager.go
  test/new-e2e/pkg/utils/infra/stack_manager_test.go
  test/new-e2e/system-probe/system-probe-test-env.go
  test/new-e2e/tests/containers/ecs_test.go
  test/new-e2e/tests/containers/eks_test.go
  test/new-e2e/tests/containers/kindvm_test.go
  test/new-e2e/tests/orchestrator/suite_test.go
Due: govet, copyright, go-mod-tidy

CI: don't rely on a workflow to force DEPLOY_AGENT for conductor runs (#26446)
  .gitlab-ci.yml
  service.datadog.yaml
Due: shell-check-no-set-x, gitlab-configuration

use Go 1.22.4 version
  .circleci/config.yml
  .gitlab-ci.yml
  .go-version
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  releasenotes/notes/bump-go-to-1.22.0-1a0dc3ab73f6c917.yaml
  releasenotes/notes/bump-go-to-1.22.4-1a0dc3ab73f6c917.yaml
  tasks/go.py
  test/fakeintake/Dockerfile
  tools/gdb/Dockerfile
Due: shell-check-no-set-x, gitlab-configuration

fix dogstatsd telemetry for windows. go vet was complaining about copylocks: literal copies lock value from packetReadingErrors: expvar.Int contains sync/atomic.Int64 contains sync/atomic.noCopy
  comp/dogstatsd/listeners/telemetry_windows.go
Due: govet, copyright, go-mod-tidy

Path conditions:
  govet: any of: \.go$
  copyright: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
