Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

Move remoteAgentDetails to details.go file
  comp/core/remoteagentregistry/impl/details.go
  comp/core/remoteagentregistry/impl/remoteagentregistry.go
Due: copyright, go-mod-tidy

Rename to detail.go
  comp/core/remoteagentregistry/impl/detail.go
Due: copyright, go-mod-tidy

[EBPF] gpu: handle runtime changes of CUDA_VISIBLE_DEVICES (#38312)
  pkg/ebpf/cgo/genpost.go
  pkg/ebpf/uprobes/attacher_test.go
  pkg/ebpf/uprobes/testutil.go
  pkg/gpu/consumer.go
  pkg/gpu/context.go
  pkg/gpu/context_test.go
  pkg/gpu/cuda/env.go
  pkg/gpu/cuda/env_test.go
  pkg/gpu/e2e_events_test.go
  pkg/gpu/ebpf/c/runtime/gpu.c
  pkg/gpu/ebpf/c/types.h
  pkg/gpu/ebpf/kprobe_types.go
  pkg/gpu/ebpf/kprobe_types_linux.go
  pkg/gpu/ebpf/kprobe_types_linux_test.go
  pkg/gpu/ebpf/kprobe_types_string_linux.go
  pkg/gpu/probe.go
  pkg/gpu/probe_test.go
  pkg/gpu/testdata/cudasample.c
  pkg/network/ebpf/c/shared-libraries/maps.h
  pkg/network/ebpf/c/shared-libraries/probes.h
  pkg/network/usm/sharedlibraries/libset.go
  releasenotes/notes/gpu-cuda-visible-devices-fe4de39c7ce14b97.yaml
Due: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x

Increase -all-features memory limit to 610MiB (#38637)
  test/regression/cases/quality_gate_idle_all_features/experiment.yaml
Due: shell-check-no-set-x

WorkloadFilter Additional Filters Initializations (#38474)
  comp/core/autodiscovery/listeners/kube_endpoints.go
  comp/core/autodiscovery/listeners/kube_endpoints_test.go
  comp/core/autodiscovery/listeners/kube_services.go
  comp/core/autodiscovery/listeners/kube_services_test.go
  comp/core/workloadfilter/catalog/container.go
  comp/core/workloadfilter/catalog/image.go
  comp/core/workloadfilter/catalog/kube_endpoints.go
  comp/core/workloadfilter/catalog/kube_service.go
  comp/core/workloadfilter/catalog/utils.go
  comp/core/workloadfilter/catalog/utils_test.go
  comp/core/workloadfilter/def/component.go
  comp/core/workloadfilter/def/proto/filter.pb.go
  comp/core/workloadfilter/def/proto/filter.proto
  comp/core/workloadfilter/def/types.go
  comp/core/workloadfilter/impl/filter.go
  comp/core/workloadfilter/impl/filter_test.go
Due: copyright, go-mod-tidy, protocol-buffer

Create a release branch in datadog-agent-buildimages after the cut-off on the right commit (#38658)
  tasks/libs/ciproviders/gitlab_api.py
  tasks/libs/releasing/json.py
Due: none

adding waitforservicestatus check for windefend
  test/new-e2e/tests/windows/components/defender/component.go
Due: copyright, go-mod-tidy

Merge the `v1` branch into main (#66)
  cmd/secret-backend/.copyright-overrides.yml
  cmd/secret-backend/.github/workflows/release.yaml
  cmd/secret-backend/LICENSE-3rdparty.csv
  cmd/secret-backend/README.md
  cmd/secret-backend/backend/akeyless/vault.go
  cmd/secret-backend/backend/akeyless/vault_test.go
  cmd/secret-backend/backend/aws/secrets.go
  cmd/secret-backend/backend/aws/secrets_test.go
  cmd/secret-backend/backend/aws/ssm.go
  cmd/secret-backend/backend/aws/ssm_test.go
  cmd/secret-backend/backend/azure/keyvault.go
  cmd/secret-backend/backend/azure/keyvault_test.go
  cmd/secret-backend/backend/backend.go
  cmd/secret-backend/backend/error.go
  cmd/secret-backend/backend/error_test.go
  cmd/secret-backend/backend/file/json.go
  cmd/secret-backend/backend/file/json_test.go
  cmd/secret-backend/backend/file/yaml.go
  cmd/secret-backend/backend/file/yaml_test.go
  cmd/secret-backend/backend/hashicorp/session.go
  cmd/secret-backend/backend/hashicorp/vault.go
  cmd/secret-backend/backend/hashicorp/vault_test.go
  cmd/secret-backend/datadog-secret-backend.yaml.example
  cmd/secret-backend/docs/akeyless/README.md
  cmd/secret-backend/docs/akeyless/secrets.md
  cmd/secret-backend/docs/aws/README.md
  cmd/secret-backend/docs/aws/secrets.md
  cmd/secret-backend/docs/aws/ssm.md
  cmd/secret-backend/docs/azure/README.md
  cmd/secret-backend/docs/azure/keyvault.md
  cmd/secret-backend/docs/file/json.md
  cmd/secret-backend/docs/file/yaml.md
  cmd/secret-backend/docs/hashicorp/README.md
  cmd/secret-backend/docs/hashicorp/vault.md
  cmd/secret-backend/go.mod
  cmd/secret-backend/go.sum
  cmd/secret-backend/main.go
  cmd/secret-backend/secret/secret.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, check-go-modules-in-python, protocol-buffer

Update internal remote-agent example impl
  internal/remote-agent/main.go
Due: copyright, go-mod-tidy

[CWS/CSPM] Bump security agent policies to v0.69.0 (#38670)
  release.json
Due: none

bumping changelog (#67)
  cmd/secret-backend/CHANGELOG.md
Due: none

Add sleep on errors creating/sending the snapshot
  comp/core/remoteagentregistry/impl/remoteagentregistry.go
Due: copyright, go-mod-tidy

[CWS] Change log level of cgroup sysfs parsing error to warning (#38664)
  pkg/security/resolvers/process/resolver_ebpf.go
Due: copyright, go-mod-tidy

update to backoff/v5
  pkg/fleet/installer/go.mod
  pkg/fleet/installer/go.sum
  pkg/fleet/installer/msi/msiexec.go
  pkg/fleet/installer/msi/msiexec_test.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

use realcmdrunner in unit test
  pkg/fleet/installer/msi/msiexec.go
  pkg/fleet/installer/msi/msiexec_test.go
Due: copyright, go-mod-tidy

coverage on cmdline gen
  pkg/fleet/installer/msi/msiexec_test.go
Due: copyright, go-mod-tidy

fix err scoping issue
  pkg/fleet/installer/msi/msiexec.go
Due: copyright, go-mod-tidy

Fix attachment
  pkg/gpu/cgroups.go
  pkg/gpu/cgroups_test.go
Due: copyright, go-mod-tidy

stop trying to find datadog.yaml.example file (#68)
  cmd/secret-backend/.github/workflows/release.yaml
Due: shell-check-no-set-x

Bump test-infra-definitions for fixing flaky dca e2e test (#38655)
  .gitlab/common/test_infra_version.yml
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python, protocol-buffer

Update LICENSE
  LICENSE-3rdparty.csv
Due: none

[netlink] Loosen timing requirements for TestConsumerKeepsRunningAfterCircuitBreakerTrip
  pkg/network/netlink/consumer_test.go
Due: copyright, go-mod-tidy

bumping sgc to 1.0.0
  omnibus/config/software/secret-generic-connector.rb
Due: none

Revert "Mark the TestKindSuite flaky (#38644)" (#38654)
  test/new-e2e/tests/containers/kindvm_test.go
Due: copyright, go-mod-tidy

use lookback for analytics calls, pass tenant
  pkg/collector/corechecks/network-devices/versa/client/client.go
  pkg/collector/corechecks/network-devices/versa/client/client_test.go
  pkg/collector/corechecks/network-devices/versa/versa.go
Due: copyright, go-mod-tidy

Include `resolve` field in advanced ad identifiers (#38218)
  comp/core/autodiscovery/integration/config.go
  comp/core/autodiscovery/proto/proto.go
  comp/core/autodiscovery/proto/proto_test.go
  comp/core/autodiscovery/providers/config_reader_test.go
  comp/core/autodiscovery/providers/kube_endpoints.go
  comp/core/autodiscovery/providers/kube_endpoints_common.go
  comp/core/autodiscovery/providers/kube_endpoints_file.go
  comp/core/autodiscovery/providers/kube_endpoints_file_test.go
  comp/core/autodiscovery/providers/kube_services_file_test.go
  comp/core/autodiscovery/providers/tests/advanced_ad_kube_endpoints.yaml
  pkg/proto/datadog/autodiscovery/autodiscovery.proto
  pkg/proto/pbgo/core/autodiscovery.pb.go
  releasenotes/notes/endpoint-resolution-ad-identifier-fc98a529857cfe29.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x, protocol-buffer

Fix messy merge
  pkg/logs/processor/go.mod
  pkg/logs/processor/processor.go
  pkg/logs/processor/processor_test.go
  pkg/logs/sender/batch_strategy.go
  pkg/logs/sender/batch_strategy_test.go
  pkg/logs/sender/worker_test.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

Formatting issues
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/sender/batch_strategy.go
Due: copyright, go-mod-tidy

Use a integer distance to compare check values for networkv2 e2e test output
  test/new-e2e/tests/agent-runtimes/checks/common/utils.go
  test/new-e2e/tests/agent-runtimes/checks/network/common.go
  test/new-e2e/tests/agent-runtimes/checks/network/network_nix_test.go
  test/new-e2e/tests/agent-runtimes/checks/network/network_win_test.go
Due: copyright, go-mod-tidy

dyninst: basic SCI tag scraping and uploading (#38638)
  pkg/dyninst/module/controller.go
  pkg/dyninst/module/module.go
  pkg/dyninst/module/reporter.go
  pkg/dyninst/module/sink.go
  pkg/dyninst/module/state.go
  pkg/dyninst/procmon/analyze.go
  pkg/dyninst/procmon/process_monitor.go
  pkg/dyninst/procmon/state.go
  pkg/dyninst/uploader/batcher.go
  pkg/dyninst/uploader/config.go
  pkg/dyninst/uploader/config_test.go
  pkg/dyninst/uploader/diagnostics.go
  pkg/dyninst/uploader/logs.go
  pkg/dyninst/uploader/uploader_test.go
Due: copyright, go-mod-tidy

Ensure WinDefend is running before disabling Windows Defender (#38672)
  test/new-e2e/tests/windows/components/defender/component.go
Due: copyright, go-mod-tidy

[CWS] improve variable error message
  pkg/security/secl/compiler/eval/variables.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/secl/rules/scope.go
  pkg/security/secl/rules/scope_linux.go
Due: copyright, go-mod-tidy

add missing err argument
  pkg/security/secl/rules/ruleset.go
Due: copyright, go-mod-tidy

dyninst/actuator: fix segfault when failing to generate program (#38671)
  pkg/dyninst/actuator/actuator.go
  pkg/dyninst/actuator/actuator_test.go
Due: copyright, go-mod-tidy

re-remove MarshalSplitCompress, convert tests
  pkg/serializer/internal/metrics/iterable_series.go
  pkg/serializer/internal/metrics/series_test.go
Due: copyright, go-mod-tidy

Update MRF settings using callback instead of checking config
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/processor_only_provider.go
  pkg/logs/processor/processor.go
Due: copyright, go-mod-tidy

Compare old and new value setting
  pkg/logs/processor/processor.go
Due: copyright, go-mod-tidy

refactor: added fingerprinting strategy and maxBytes constants in config for clarity
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

adding cert chain validation
  pkg/collector/corechecks/system/windowscertificate/windows_certificate.go
Due: copyright, go-mod-tidy

Do not generate fake repo digest
  pkg/collector/corechecks/sbom/processor.go
  pkg/collector/corechecks/sbom/processor_test.go
Due: copyright, go-mod-tidy
