Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: govet, copyright, clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

.pre-commit-config.yaml:

default_language_version:
  python: python3
default_install_hook_types:
  - pre-commit
  - pre-push
default_stages:
  - pre-commit

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 0ccbb5b7942d83fbcf7cb5e0fd99633efd2351d7 # v0.3.5
  hooks:
    - id: ruff
      args: [ --fix ]
    - id: ruff-format
- repo: https://github.com/jendrikseipp/vulture
  rev: 44aed44e226ec0e5660851462f764ec5d5da957c # v2.3
  hooks:
    - id: vulture
      args: ["--ignore-decorators", "@task", "--ignore-names", "test_*,Test*", "tasks"]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 7cc5848088fd8412905ab79feea6c8edc3ac76c6 # 2.1.5
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: bd69b816c43306f28bad4d7b303d981b0ecd2fd5 # v1.0.0-beta.5
  hooks:
    - id: go-fmt
      args: [ "-w", "-s" ]
- repo: local
  hooks:
    - id: protected-branches
      name: protected-branches
      description: checks that the commit isn't created on a protected branch
      entry: 'inv git.check-protected-branch'
      language: system
      pass_filenames: false
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 -m tasks.git-hooks.govet'
      language: system
      require_serial: true
      files: \.go$
    - id: copyright
      name: copyright
      description: copyright headers
      entry: 'inv linter.copyrights --only-staged-files'
      language: system
      require_serial: true
      files: \.go$
      pass_filenames: false
    - id: win-clang-format
      name: win-clang-format
      description: clang-format
      entry: './tasks/git-hooks/wincpplang.py'
      language: system
      types_or: [c, c++, c#]
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 -m tasks.git-hooks.clang-format'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'
    - id: go-mod-tidy
      name: go-mod-tidy
      description: check that all go.mod files are tidy
      entry: 'inv tidy'
      language: system
      require_serial: true
      files: (\.go|^go\.mod|^go\.sum)$
      pass_filenames: false
      stages: [pre-push]
    - id: go-test
      name: go-test
      description: run go test on modified packages
      entry: 'inv test --only-modified-packages'
      language: system
      require_serial: true
      always_run: true
      pass_filenames: false
      stages: [pre-push]
    - id: go-linter
      name: go-linter
      description: run go linter on modified packages
      entry: 'inv linter.go --only-modified-packages'
      language: system
      require_serial: true
      always_run: true
      pass_filenames: false
      stages: [ pre-push ]
    - id: shell-check-no-set-x
      name: shell-check-no-set-x
      description: check that no `set -x` is set within github / gitlab workflows
      entry: 'inv pre-commit.check-set-x'
      language: system
      require_serial: true
      files: (\.yaml|\.yml|\.sh|Dockerfile)$
      pass_filenames: false
    - id: gitlab-configuration
      name: gitlab-configuration
      description: test the gitlab configuration on main
      entry: 'inv linter.gitlab-ci -t main'
      language: system
      require_serial: true
      files: .*gitlab.*\.yml$
      pass_filenames: false
      stages: [pre-push]
    - id: update-go
      name: update-go
      description: test formatting of files will allow go update
      entry: 'inv linter.update-go'
      language: system
      pass_filenames: false

Clarify OpenSSL update on changelog (#29372)
  CHANGELOG.rst
Due: none

packaging: ensure a minimal set of required files are present
  .gitlab/common/shared.yml
  .gitlab/packaging/deb.yml
  .gitlab/packaging/rpm.yml
  test/required_files/agent-deb.txt
  test/required_files/agent-rpm.txt
  test/required_files/dogstatsd-deb.txt
  test/required_files/dogstatsd-rpm.txt
  test/required_files/iot-agent-deb.txt
  test/required_files/iot-agent-rpm.txt
Due: shell-check-no-set-x, gitlab-configuration

fix(fleet): Properly handle ExitErrors
  pkg/fleet/installer/service/commands.go
  pkg/fleet/installer/service/datadog_agent.go
  pkg/fleet/installer/service/datadog_installer.go
  pkg/fleet/installer/service/systemd.go
Due: govet, copyright, go-mod-tidy

Fix a path issue in the get_modified_packages task
  tasks/gotest.py
  tasks/modules.py
Due: none

Pass correct value of internal spec to hash
  pkg/clusteragent/autoscaling/workload/controller.go
Due: govet, copyright, go-mod-tidy

Fix lint
  test/new-e2e/tests/installer/all_packages_test.go
Due: govet, copyright, go-mod-tidy

Remove Agent6 from .gitlab-ci.yml and .gitlab/
  .gitlab-ci.yml
  .gitlab/check_deploy/check_deploy.yml
  .gitlab/container_build/docker_linux.yml
  .gitlab/container_build/docker_windows.yml
  .gitlab/container_build/docker_windows_agent6.yml
  .gitlab/container_scan/container_scan.yml
  .gitlab/deploy_packages/nix.yml
  .gitlab/deploy_packages/windows.yml
  .gitlab/dev_container_deploy/docker_linux.yml
  .gitlab/dev_container_deploy/docker_windows.yml
  .gitlab/e2e/e2e.yml
  .gitlab/e2e_install_packages/amazonlinux.yml
  .gitlab/e2e_install_packages/centos.yml
  .gitlab/e2e_install_packages/common.yml
  .gitlab/e2e_install_packages/debian.yml
  .gitlab/e2e_install_packages/suse.yml
  .gitlab/e2e_install_packages/ubuntu.yml
  .gitlab/e2e_install_packages/windows.yml
  .gitlab/install_script_testing/install_script_testing.yml
  .gitlab/kitchen_cleanup/kitchen_cleanup.yml
  .gitlab/kitchen_deploy/kitchen_deploy.yml
  .gitlab/kitchen_testing/common.yml
  .gitlab/package_build/heroku.yml
  .gitlab/package_build/linux.yml
  .gitlab/package_build/windows.yml
  .gitlab/packaging/deb.yml
  .gitlab/packaging/rpm.yml
  .gitlab/pkg_metrics/pkg_metrics.yml
Due: shell-check-no-set-x, gitlab-configuration

Remove retry from APT errors
  test/new-e2e/system-probe/errors.go
Due: govet, copyright, go-mod-tidy

Refactor nodejs monitor
  pkg/network/usm/nodejs.go
Due: govet, copyright, go-mod-tidy

Update releasenotes/notes/fix-panic-on-readonly-filesystems-1012ba761aa70aaa.yaml
  releasenotes/notes/fix-panic-on-readonly-filesystems-1012ba761aa70aaa.yaml
Due: shell-check-no-set-x

Fix cleanup job
  .gitlab/e2e/e2e.yml
Due: shell-check-no-set-x, gitlab-configuration

Fix a path issue in the `get_modified_packages` task (#29373)
  tasks/gotest.py
  tasks/modules.py
Due: none

Tests
  pkg/serverless/invocationlifecycle/init.go
  pkg/serverless/invocationlifecycle/lifecycle_test.go
  pkg/serverless/trace/inferredspan/span_enrichment.go
  pkg/serverless/trace/inferredspan/span_enrichment_test.go
  pkg/serverless/trace/propagation/carriers_test.go
  pkg/serverless/trace/propagation/extractor_test.go
  pkg/serverless/trace/testdata/event_samples/eventbridge-custom.json
  pkg/serverless/trace/testdata/event_samples/eventbridge-no-bus.json
  pkg/serverless/trace/testdata/event_samples/eventbridge-no-sent-timestamp.json
  pkg/serverless/trace/testdata/event_samples/eventbridgesns.json
  pkg/serverless/trace/testdata/event_samples/eventbridgesqs.json
Due: govet, copyright, go-mod-tidy

remove my debug statements
  pkg/serverless/invocationlifecycle/init.go
Due: govet, copyright, go-mod-tidy

refactoring
  pkg/serverless/trace/testdata/event_samples/eventbridge-custom.json
  pkg/serverless/trigger/testData/eventbridge-custom.json
Due: none

Combined rate limit error and no error batch handling
  pkg/clusteragent/autoscaling/externalmetrics/metrics_retriever.go
Due: govet, copyright, go-mod-tidy

Fix linter
  test/new-e2e/tests/installer/all_packages_test.go
Due: govet, copyright, go-mod-tidy

discovery: Allow delta for create time check
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
Due: govet, copyright, go-mod-tidy

[gitlab] source bashrc for VERSION to be properly exported
  .gitlab/deploy_containers/deploy_containers_a7.yml
Due: shell-check-no-set-x, gitlab-configuration

[CONS-6599] Bug fix kubelet probe issue with containerExclude (#29321)
  pkg/collector/corechecks/containers/kubelet/provider/probe/provider.go
  pkg/collector/corechecks/containers/kubelet/provider/probe/provider_test.go
Due: govet, copyright, go-mod-tidy

Avoid derefencing local spec
  pkg/clusteragent/autoscaling/workload/controller.go
Due: govet, copyright, go-mod-tidy

Add release note
  releasenotes/notes/add-eventbridge-inferred-spans-a68b489a4184c8f1.yaml
Due: shell-check-no-set-x

e2e test
  test/new-e2e/tests/installer/package_agent_test.go
Due: govet, copyright, go-mod-tidy

Fix cleanup job for real this time I hope
  .gitlab/e2e/e2e.yml
Due: shell-check-no-set-x, gitlab-configuration

[EBPF] Add more recognized error types to KMT (#29365)
  test/new-e2e/system-probe/errors.go
Due: govet, copyright, go-mod-tidy

Missed a6 references and py2 in .gitlab/
  .gitlab/e2e_install_packages/centos.yml
  .gitlab/e2e_install_packages/common.yml
  .gitlab/kitchen_cleanup/cleanup.yml
  .gitlab/kitchen_testing/windows.yml
  .gitlab/maintenance_jobs/docker.yml
  .gitlab/source_test/linux.yml
Due: shell-check-no-set-x, gitlab-configuration

Fix calls to fetch_secrets
  .gitlab/e2e_install_packages/common.yml
Due: shell-check-no-set-x, gitlab-configuration

[clusteragent/autoscaling] Pass correct value of internal spec to hash (#29374)
  pkg/clusteragent/autoscaling/workload/controller.go
Due: govet, copyright, go-mod-tidy

auto-instrumentation: increase default memory request to 100Mi
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation_test.go
  releasenotes/notes/auto-instrumentation-fix-memory-request-8391bb2d06ac6990.yaml
Due: govet, copyright, go-mod-tidy, shell-check-no-set-x

Remove net import
  cmd/agent/subcommands/flare/command.go
Due: govet, copyright, go-mod-tidy

Revert "Remove net import"
  cmd/agent/subcommands/flare/command.go
Due: govet, copyright, go-mod-tidy

feat(linux): rpath complete rpath editing
  omnibus/config/software/datadog-agent.rb
  tasks/omnibus.py
Due: none

Option to support empty strings as nil slices. Fix tests.
  comp/logs/agent/config/config.go
  comp/logs/agent/config/config_keys_test.go
  pkg/config/structure/unmarshal.go
Due: govet, copyright, go-mod-tidy

feat(macos): remove useless macos flag
  release.json
Due: none

feat(macOS): use loader_path instead of executable_path
  tasks/omnibus.py
Due: none

fix stats + stats test
  pkg/security/probe/kfilters/approvers.go
  pkg/security/probe/kfilters/process.go
  pkg/security/probe/monitors/approver/approver_monitor.go
  pkg/security/tests/filters_test.go
Due: govet, copyright, go-mod-tidy

Use strings prefix to detect error in output
  test/new-e2e/tests/installer/windows/datadog_installer.go
Due: govet, copyright, go-mod-tidy

Rename bootstrap not windows file
  pkg/fleet/internal/bootstrap/bootstrap_nix.go
Due: govet, copyright, go-mod-tidy

fix typo
  test/new-e2e/tests/installer/windows/datadog_installer.go
Due: govet, copyright, go-mod-tidy
