Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format

revive:
  name: revive
  description: revive
  entry: python3 tasks/git-hooks/revive.py
  language: system

govet:
  name: govet
  description: go vet
  entry: python3 tasks/git-hooks/govet.py
  language: system
  require_serial: true

copyright:
  name: copyright
  description: copyright headers
  entry: python3 tasks/git-hooks/copyright.py
  language: system
  require_serial: true

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 tasks/git-hooks/clang-format.py
  language: system
  require_serial: true

Remove debug info
  tasks/pipeline.py
Due: none

Revert "[usm][npm] Use LRU map type for `connection_protocol` when available (#17839)"
  pkg/network/ebpf/c/protocols/classification/shared-tracer-maps.h
  pkg/network/tracer/connection/kprobe/tracer.go
Due: revive, govet, copyright, clang-format

Add FakeIntakeStackDef (#18554)
  test/new-e2e/examples/agentenv_checkruns_test.go
  test/new-e2e/examples/agentenv_logs_test.go
  test/new-e2e/examples/agentenv_metrics_test.go
  test/new-e2e/utils/e2e/stack_definition.go
Due: revive, govet, copyright

Update release.json and Go modules for 6/7.47.0-rc.7
  go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
  test/new-e2e/go.mod
Due: none

Fix integrations-core tag
  release.json
Due: none

Logic to change custom tags through concentrator
  pkg/remoteconfig/state/agent_config.go
  pkg/trace/remoteconfighandler/remote_config_handler.go
  pkg/trace/stats/concentrator.go
Due: revive, govet, copyright

Removing comments
  pkg/trace/stats/concentrator.go
Due: revive, govet, copyright

Interface for setting custom tags
  pkg/trace/agent/agent.go
  pkg/trace/remoteconfighandler/remote_config_handler.go
Due: revive, govet, copyright

Display hex string for SNMP trap BITS fields.
  pkg/snmp/traps/formatter.go
  pkg/snmp/traps/formatter_test.go
Due: revive, govet, copyright

Internal profiling UDS & custom tags (#18544)
  pkg/config/config.go
  pkg/config/settings/runtime_setting_profiling.go
  pkg/util/profiling/profiling.go
  pkg/util/profiling/settings.go
Due: revive, govet, copyright

Update release note
  releasenotes/notes/process-comm-e0a76997f81d0542.yaml
Due: none

Upgrade gotestsum with rerun fixes
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

pop syscall cache event in `do_exit`
  pkg/security/ebpf/c/include/hooks/exec.h
Due: clang-format

Fixing logic for updating custom tags, adding synchronization to concentrator custom tags update
  pkg/trace/config/config.go
  pkg/trace/customtagsRC/custom_tags_rc_handler.go
  pkg/trace/remoteconfighandler/remote_config_handler.go
  pkg/trace/stats/concentrator.go
Due: revive, govet, copyright

add comment
  pkg/security/ebpf/c/include/hooks/exec.h
Due: clang-format

Handle kitchen nesting directory of downloads
  tasks/libs/junit_upload.py
  tasks/security_agent.py
  tasks/system_probe.py
Due: none

[collector/worker] Add utilization to the telemetry (#18591)
  pkg/collector/worker/worker.go
  releasenotes/notes/worker-utilization-in-telemetry-15708e06cd138ea7.yaml
Due: revive, govet, copyright

Add release note.
  releasenotes/notes/snmp-traps-display-hex-string-for-SNMP-trap-BITS-fields-67642c9a06083e7d.yaml
Due: none

Add connections to connection buffer after aggregation
  pkg/network/buffer.go
  pkg/network/event_common.go
  pkg/network/resolver.go
  pkg/network/state.go
  pkg/network/state_intrahost_test.go
  pkg/network/state_linux_test.go
  pkg/network/state_test.go
  pkg/network/tracer/tracer.go
Due: revive, govet, copyright

Revert "[usm][npm] Use LRU map type for `connection_protocol` when available (#17839)" (#18602)
  pkg/network/ebpf/c/protocols/classification/shared-tracer-maps.h
  pkg/network/tracer/connection/kprobe/tracer.go
Due: revive, govet, copyright, clang-format

rename releasenotes file
  releasenotes/notes/snmp-traps-display-hex-string-for-BITS-fields-67642c9a06083e7d.yaml
Due: none

buffer and only flush when log chunk ends with newline
  cmd/serverless-init/initcontainer/initcontainer.go
  cmd/serverless-init/log/log.go
Due: revive, govet, copyright

fix(gohai): fix gohai revive lint warnings on arm64 Linux
  pkg/gohai/cpu/cpu_linux_arm64.go
  pkg/gohai/cpu/util_linux.go
  pkg/gohai/cpu/util_linux_test.go
Due: revive, govet, copyright

reset .golangci.yml
  .golangci.yml
Due: none

maje CI test output more verbose
  test/kitchen/test/integration/security-agent-test/rspec_datadog/security-agent-test_spec.rb
Due: none

Aggregate twice
  pkg/network/event_common.go
  pkg/network/state.go
Due: revive, govet, copyright

Missing files
  pkg/network/slice/chain.go
  pkg/network/tracer/buffer_pool.go
Due: revive, govet, copyright

fix common
  pkg/process/net/common.go
Due: revive, govet, copyright

usm: process monitor: fix a possible deadlock
  pkg/process/monitor/process_monitor.go
Due: revive, govet, copyright

Split http malformed metric to more specific metrics
  pkg/network/protocols/http/statkeeper.go
  pkg/network/protocols/http/statkeeper_test.go
  pkg/network/protocols/http/telemetry.go
Due: revive, govet, copyright

update to newer version
  release.json
Due: none

network
  pkg/collector/corechecks/netpath/netpath.go
Due: revive, govet, copyright

lint
  cmd/serverless-init/initcontainer/initcontainer.go
  cmd/serverless-init/log/log.go
Due: revive, govet, copyright

usm: http2: increased kernel batch size from 10 to 17
  pkg/network/ebpf/c/protocols/http2/decoding-defs.h
Due: clang-format

usm: http2: Removed parse_result_t
  pkg/network/ebpf/c/protocols/http2/decoding-defs.h
Due: clang-format

usm: http2: Clean static table
  pkg/network/ebpf/c/protocols/http2/decoding-defs.h
  pkg/network/ebpf/c/protocols/http2/decoding.h
  pkg/network/ebpf/c/protocols/http2/maps-defs.h
  pkg/network/protocols/http2/protocol.go
  pkg/network/protocols/http2/types.go
  pkg/network/protocols/http2/types_linux.go
Due: revive, govet, copyright, clang-format

add buffer overflow check
  cmd/serverless-init/log/log.go
Due: revive, govet, copyright

Path conditions:
  revive: any of: \.go$
  govet: any of: \.go$
  copyright: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
