Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 3.9.2 # should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==21.11.28
        - flake8-comprehensions==3.7.0
        - flake8-unused-arguments==0.0.6
        - flake8-use-fstring==1.3.0
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
- repo: https://github.com/timothycrosley/isort/
  rev: 5.12.0
  hooks:
    - id: isort
- repo: https://github.com/jendrikseipp/vulture
  rev: v2.3
  hooks:
    - id: vulture
      args: ["--ignore-decorators", "@task", "--ignore-names", "test_*,Test*", "tasks"]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 2.1.5
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
    - id: go-fmt
      args: [ "-w", "-s" ]
- repo: local
  hooks:
    - id: protected-branches
      name: protected-branches
      description: checks that the commit isn't created on a protected branch
      entry: 'python3 tasks/git-hooks/protected-branches.py'
      language: system
    - id: revive
      name: revive
      description: revive
      entry: 'python3 tasks/git-hooks/revive.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: copyright
      name: copyright
      description: copyright headers
      entry: 'python3 tasks/git-hooks/copyright.py'
      language: system
      require_serial: true
      files: \.go$
    - id: win-clang-format
      name: win-clang-format
      description: clang-format
      entry: './tasks/git-hooks/wincpplang.py'
      language: system
      types_or: [c, c++, c#]
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 tasks/git-hooks/clang-format.py'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'

Rename kind test
  test/new-e2e/examples/kind_test.go
Due: revive, govet, copyright

feat(CI): do not fail macos task when github workflow is cancelled
  .gitlab/source_test/macos.yml
  tasks/github_tasks.py
  tasks/libs/github_actions_tools.py
  tasks/libs/junit_upload_core.py
Due: none

compile with '-stack-size-section' argumnet
  pkg/collector/corechecks/ebpf/probe/oomkill/oom_kill.go
  pkg/collector/corechecks/ebpf/probe/tcpqueuelength/tcp_queue_length.go
  pkg/ebpf/bytecode/runtime/asset.go
  pkg/ebpf/bytecode/runtime/generated_asset.go
  pkg/ebpf/bytecode/runtime/runtime_compilation_helpers.go
  pkg/ebpf/compiler/compiler.go
  pkg/network/tracer/compile.go
  pkg/network/tracer/connection/kprobe/compile.go
  pkg/network/usm/compile.go
  pkg/network/usm/sharedlibraries/compile.go
  pkg/security/ebpf/compile.go
  pkg/security/probe/constantfetch/runtime_compiled.go
  tasks/system_probe.py
Due: revive, govet, copyright

Increase the limit of allocations in MultipleBatch test to avoid flakes
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/probe_test.go
Due: revive, govet, copyright

Fix linter
  test/new-e2e/pkg/environments/aws/kubernetes/kind.go
  test/new-e2e/pkg/environments/kubernetes.go
Due: revive, govet, copyright

[CWS] fix differentiate_args of secprofile activity tree (#22991)
  pkg/security/security_profile/profile/manager.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/module_tester_linux.go
  pkg/security/tests/module_tester_windows.go
  pkg/security/tests/security_profile_test.go
  pkg/security/tests/testopts.go
Due: revive, govet, copyright

(fleet) obtain the catalog from remote config (#22871)
  .github/CODEOWNERS
  cmd/updater/subcommands/bootstrap/command.go
  cmd/updater/subcommands/bootstrap/command_test.go
  cmd/updater/subcommands/run/command.go
  cmd/updater/subcommands/run/command_test.go
  comp/README.md
  comp/updater/bundle.go
  comp/updater/localapi/component.go
  comp/updater/localapi/localapiimpl/local_api.go
  comp/updater/updater/component.go
  comp/updater/updater/updaterimpl/updater.go
  comp/updater/updater/updaterimpl/updater_test.go
  pkg/updater/api.go
  pkg/updater/data/catalog.json
  pkg/updater/org_config.go
  pkg/updater/updater.go
Due: revive, govet, copyright

remove max file count check
  pkg/updater/download.go
Due: revive, govet, copyright

remove unneeded pre-cleanup
  pkg/updater/download.go
Due: revive, govet, copyright

add -p support
  cmd/updater/command/command.go
  cmd/updater/subcommands/run/command.go
Due: revive, govet, copyright

[windows] [cws] Enable windows CWS on release builds
  release.json
  releasenotes/notes/addwindowscws-6453f984b75187e0.yaml
Due: none

remove duplicated arch/platform check, we pre-filter in the org_config
  pkg/updater/download.go
Due: revive, govet, copyright

add open lineage endpoint
  cmd/trace-agent/config/remote/config_test.go
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
  pkg/trace/api/endpoints.go
  pkg/trace/openlineage/event_to_span.go
Due: revive, govet, copyright

Update releasenotes/notes/addwindowscws-6453f984b75187e0.yaml
  releasenotes/notes/addwindowscws-6453f984b75187e0.yaml
Due: none

fix updater user
  omnibus/config/templates/updater/datadog-updater.service.erb
Due: none

nit simplifications
  pkg/updater/download.go
Due: revive, govet, copyright

Make containers e2e test not complain on unexpected tags on nginx
  test/new-e2e/tests/containers/base_test.go
  test/new-e2e/tests/containers/ecs_test.go
  test/new-e2e/tests/containers/k8s_test.go
  test/new-e2e/tests/containers/utils.go
  test/new-e2e/tests/containers/utils_test.go
Due: revive, govet, copyright

remove support for hardlinks (we should likely deref the files instead, they are small), simplify simlink
  pkg/updater/download.go
Due: revive, govet, copyright

further optimize and remove debug
  pkg/network/state.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/tracer.go
Due: revive, govet, copyright

Fix utility for getting the current Git reference
  tasks/libs/common/utils.py
Due: none

pkg/trace/api: limit concurrent otlp requests to prevent RAM exhaustion
  pkg/trace/api/otlp.go
Due: revive, govet, copyright

Add stats Agent + benchmark tests
  pkg/trace/go.mod
  pkg/trace/go.sum
  pkg/trace/statsagent/stats_agent.go
  pkg/trace/statsagent/stats_agent_test.go
Due: revive, govet, copyright

import dublintraceroute from module
  comp/forwarder/eventplatform/component.go
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder.go
  go.mod
  go.sum
  pkg/collector/check/stats/stats.go
  pkg/collector/corechecks/networkpath/config.go
  pkg/collector/corechecks/networkpath/networkpath.go
  pkg/collector/corechecks/networkpath/payload.go
  pkg/commonchecks/corechecks.go
  pkg/config/setup/config.go
Due: revive, govet, copyright

Add host/container APM instrumentation settings
  pkg/config/config_template.yaml
Due: none

add opt/datadog-packages
  omnibus/config/software/updater.rb
  omnibus/package-scripts/updater-deb/postinst
  omnibus/package-scripts/updater-deb/postrm
Due: none

also circle
  tasks/libs/common/utils.py
Due: none

remove tail calls, fix various issues
  pkg/config/setup/system_probe.go
  pkg/network/ebpf/c/co-re/tracer-fentry.c
  pkg/network/ebpf/c/tracer.c
  pkg/network/ebpf/c/tracer/events.h
  pkg/network/ebpf/c/tracer/maps.h
  pkg/network/ebpf/c/tracer/tracer.h
  pkg/network/ebpf/probes/probes.go
  pkg/network/protocols/events/batch_reader.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/connection/perf_batching.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_linux_test.go
Due: revive, govet, copyright, clang-format

Aggregate USM data during connection aggregation in state code
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/marshal/http.go
  pkg/network/encoding/marshal/http2.go
  pkg/network/encoding/marshal/kafka.go
  pkg/network/encoding/marshal/usm.go
  pkg/network/encoding/marshal/usm_lookup_windows.go
  pkg/network/event_common.go
  pkg/network/state.go
  pkg/network/tracer/tracer.go
  pkg/network/usm_connection_keys.go
  pkg/network/usm_lookup.go
  pkg/network/usm_lookup_test.go
  pkg/network/usm_lookup_windows.go
  pkg/network/usm_lookup_windows_test.go
Due: revive, govet, copyright

.
  tasks/libs/common/utils.py
Due: none

fix tests + remove un-needed
  pkg/trace/statsagent/stats_agent.go
  pkg/trace/statsagent/stats_agent_test.go
Due: revive, govet, copyright

Start untangling all the dependencies
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/statsraw.go
Due: revive, govet, copyright

CWS: sync BTFhub constants
  pkg/security/probe/constantfetch/btfhub/constants.json
Due: none

[windows][cws] make procmon buffers configurable.
  pkg/config/config_template.yaml
  pkg/config/setup/system_probe_cws_windows.go
  pkg/security/probe/config/config.go
  pkg/security/probe/probe_kernel_reg_windows_test.go
  pkg/security/probe/probe_windows.go
  pkg/windowsdriver/procmon/procmon.go
Due: revive, govet, copyright

fix
  omnibus/config/software/updater.rb
Due: none

Merge junit-repack with trigger workflow test
  .gitlab/package_build/dmg.yml
  .gitlab/source_test/macos.yml
  tasks/__init__.py
  tasks/github_tasks.py
  tasks/junit_tasks.py
  tasks/libs/junit_upload_core.py
Due: none

improve doc
  pkg/network/protocols/http2/protocol.go
Due: revive, govet, copyright

[CWS] add group id to rule def
  pkg/security/module/server.go
  pkg/security/secl/rules/policy.go
  pkg/security/secl/rules/ruleset.go
Due: revive, govet, copyright

Also ignore gocensus goroutines in goleak check
  pkg/serverless/appsec/limiter_test.go
Due: revive, govet, copyright

reverted the change
  pkg/network/protocols/http2/protocol.go
Due: revive, govet, copyright
