Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

.pre-commit-config.yaml:

default_language_version:
  python: python3
default_install_hook_types:
  - pre-commit
  - pre-push
default_stages:
  - pre-commit

repos:
- repo: https://github.com/pycqa/flake8
  rev: c6e0d27593a45342ffa96a18bba708a5aab32fdf # 3.9.2 should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==21.11.28
        - flake8-comprehensions==3.7.0
        - flake8-unused-arguments==0.0.6
        - flake8-use-fstring==1.3.0
- repo: https://github.com/psf/black
  rev: ae2c0758c9e61a385df9700dc9c231bf54887041 # 22.3.0
  hooks:
    - id: black
- repo: https://github.com/timothycrosley/isort/
  rev: e44834b7b294701f596c9118d6c370f86671a50d # 5.12.0
  hooks:
    - id: isort
- repo: https://github.com/jendrikseipp/vulture
  rev: 44aed44e226ec0e5660851462f764ec5d5da957c # v2.3
  hooks:
    - id: vulture
      args: ["--ignore-decorators", "@task", "--ignore-names", "test_*,Test*", "tasks"]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 7cc5848088fd8412905ab79feea6c8edc3ac76c6 # 2.1.5
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: bd69b816c43306f28bad4d7b303d981b0ecd2fd5 # v1.0.0-beta.5
  hooks:
    - id: go-fmt
      args: [ "-w", "-s" ]
- repo: local
  hooks:
    - id: protected-branches
      name: protected-branches
      description: checks that the commit isn't created on a protected branch
      entry: 'python3 tasks/git-hooks/protected-branches.py'
      language: system
      pass_filenames: false
    - id: revive
      name: revive
      description: revive
      entry: 'python3 tasks/git-hooks/revive.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: copyright
      name: copyright
      description: copyright headers
      entry: 'python3 -m tasks.git-hooks.copyright'
      language: system
      require_serial: true
      files: \.go$
    - id: win-clang-format
      name: win-clang-format
      description: clang-format
      entry: './tasks/git-hooks/wincpplang.py'
      language: system
      types_or: [c, c++, c#]
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 tasks/git-hooks/clang-format.py'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'
    - id: go-mod-tidy
      name: go-mod-tidy
      description: check that all go.mod files are tidy
      entry: 'python3 -m tasks.git-hooks.go-mod-tidy'
      language: system
      require_serial: true
      files: (\.go|^go\.mod|^go\.sum)$
      # no need to pass filenames, all go.mod have to be tidied anyway
      pass_filenames: false
      # inv tidy-all takes several seconds so only run it on pre-push
      stages: [pre-push]
    - id: go-test
      name: go-test
      description: run go test on modified packages
      entry: 'inv test --only-modified-packages'
      language: system
      require_serial: true
      always_run: true
      pass_filenames: false
      stages: [pre-push]
    - id: shell-check-no-set-x
      name: shell-check-no-set-x
      description: check that no `set -x` is set within github / gitlab workflows
      entry: inv pre-commit.shell-check-no-set-x
      language: system
      require_serial: true
      files: (\.yaml|\.yml|\.sh|Dockerfile)$
      pass_filenames: false
    - id: gitlab-configuration
      name: gitlab-configuration
      description: test the gitlab configuration on main
      entry: 'inv linter.gitlab-ci -t main'
      language: system
      require_serial: true
      files: .*gitlab.*\.yml$
      pass_filenames: false
      stages: [pre-push]

Change otel modules for serializer to 1.21
  comp/core/status/go.mod
  pkg/aggregator/ckey/go.mod
  pkg/errors/go.mod
  pkg/metrics/go.mod
  pkg/orchestrator/model/go.mod
  pkg/process/util/api/go.mod
  pkg/tagset/go.mod
  pkg/util/buf/go.mod
  pkg/util/hostname/validate/go.mod
  pkg/util/json/go.mod
  pkg/util/sort/go.mod
Due: none

fix bad merge main
  cmd/agent/subcommands/jmx/command.go
  pkg/cli/subcommands/check/command.go
Due: revive, govet, copyright, go-mod-tidy

use smaller timeouts
  pkg/sbom/scanner/scanner_test.go
Due: revive, govet, copyright, go-mod-tidy

add general boostrap
  cmd/updater/subcommands/bootstrap/command.go
  cmd/updater/subcommands/setup-units/command.go
  cmd/updater/subcommands/setup-units/command_test.go
  cmd/updater/subcommands/subcommands.go
  omnibus/package-scripts/updater-deb/postinst
  omnibus/package-scripts/updater-rpm/posttrans
  pkg/installer/install.go
  pkg/installer/installer.go
  pkg/installer/service/datadog_installer.go
Due: revive, govet, copyright, go-mod-tidy

Reduce size of api key/version
  pkg/network/ebpf/c/protocols/kafka/types.h
  pkg/network/protocols/kafka/model_linux.go
  pkg/network/protocols/kafka/types_linux.go
Due: revive, govet, copyright, clang-format, go-mod-tidy

fix name
  pkg/process/checks/net.go
Due: revive, govet, copyright, go-mod-tidy

fix lint
  pkg/process/checks/net.go
Due: revive, govet, copyright, go-mod-tidy

put back WantedBy in systemd unit since we are removing it anyway
  omnibus/config/templates/installer/datadog-installer.service.erb
Due: none

add reno
  releasenotes/notes/network_conns_to_network_path-a7cfeeff61dca424.yaml
Due: shell-check-no-set-x

return errors from start installer units
  pkg/installer/installer.go
Due: revive, govet, copyright, go-mod-tidy

fix(injector): Fix injector tests on Debian
  test/new-e2e/tests/updater/docker.go
  test/new-e2e/tests/updater/linux_test.go
Due: revive, govet, copyright, go-mod-tidy

generate constants `creds_cap_inheritable_offset`
  pkg/security/probe/constantfetch/btfhub/constants.json
Due: none

fix process-agent/subcommands/check/check.go
  cmd/process-agent/subcommands/check/check.go
Due: revive, govet, copyright, go-mod-tidy

fetch netns from net_device
  pkg/security/ebpf/c/include/constants/offsets/netns.h
  pkg/security/ebpf/c/include/hooks/network/net_device.h
Due: clang-format

Add some comments
  pkg/network/ebpf/c/protocols/kafka/kafka-parsing.h
  pkg/network/ebpf/c/protocols/kafka/types.h
Due: clang-format

Rename variable
  pkg/network/ebpf/c/protocols/kafka/kafka-parsing.h
Due: clang-format

Add comment
  pkg/network/ebpf/c/protocols/kafka/kafka-parsing.h
Due: clang-format

Edit modules.py
  tasks/modules.py
Due: none

address
  rtloader/test/python/datadog_checks/base/checks/__init__.py
  tasks/rtloader.py
Due: none

refactor
  comp/networkpath/npscheduler/npschedulerimpl/npscheduler.go
  pkg/process/checks/enabled_checks_test.go
  pkg/process/checks/net.go
Due: revive, govet, copyright, go-mod-tidy

tmp
  pkg/installer/install.go
  pkg/installer/install_test.go
  pkg/installer/repository/repositories.go
  pkg/installer/repository/repositories_test.go
  pkg/installer/repository/repository.go
  pkg/installer/repository/repository_test.go
  pkg/installer/service/apm_inject.go
  pkg/installer/service/cmd_executor.go
  pkg/installer/service/cmd_executor_windows.go
  pkg/installer/service/datadog_agent.go
  pkg/installer/service/datadog_agent_windows.go
  pkg/installer/service/systemd.go
  pkg/installer/service/systemd_test.go
Due: revive, govet, copyright, go-mod-tidy

fix fallback values
  pkg/security/probe/constantfetch/fallback.go
Due: revive, govet, copyright, go-mod-tidy

fix lint
  pkg/installer/installer.go
Due: revive, govet, copyright, go-mod-tidy

keep last unknown
  pkg/networkpath/traceroute/runner.go
Due: revive, govet, copyright, go-mod-tidy

fix import
  comp/process/connectionscheck/connectionscheckimpl/check.go
Due: revive, govet, copyright, go-mod-tidy

Fix stable installer paths
  omnibus/package-scripts/updater-deb/postinst
  omnibus/package-scripts/updater-rpm/posttrans
Due: none

update npscheduler.go
  comp/networkpath/npscheduler/npschedulerimpl/npscheduler.go
Due: revive, govet, copyright, go-mod-tidy

add check
  pkg/networkpath/traceroute/runner.go
Due: revive, govet, copyright, go-mod-tidy

update index
  pkg/networkpath/traceroute/runner.go
Due: revive, govet, copyright, go-mod-tidy

add -exclude flag for status subcommand
  cmd/agent/subcommands/status/command.go
  comp/api/api/apiimpl/internal/agent/agent.go
Due: revive, govet, copyright, go-mod-tidy

return list of availables status sections in case of undefined status provided
  comp/core/status/statusimpl/status.go
Due: revive, govet, copyright, go-mod-tidy

simplify
  pkg/process/checks/net.go
Due: revive, govet, copyright, go-mod-tidy

schedule
  pkg/process/checks/net.go
Due: revive, govet, copyright, go-mod-tidy

fix ctime/mtime name changes (#24689)
  pkg/security/ebpf/c/include/helpers/filesystem.h
Due: clang-format

PR feedback
  pkg/security/secl/go.mod
  pkg/security/seclwin/go.mod
Due: none

Configure log source name and otel source in logsagentexporter (#24622)
  comp/otelcol/otlp/components/exporter/logsagentexporter/factory.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/logs_exporter.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/logs_exporter_test.go
Due: revive, govet, copyright, go-mod-tidy

Fix notify for e2e internal errors and add tests
  tasks/libs/pipeline/notifications.py
  tasks/unit-tests/notify_tests.py
Due: none

update releasenote for clarity
  releasenotes/notes/decompose-status-further-with-subcommands-8fd7f1282e990449.yaml
Due: shell-check-no-set-x
