Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, gofmt, clang-format

revive:
  name: revive
  description: revive
  entry: python3 tasks/git-hooks/revive.py
  language: system

govet:
  name: govet
  description: go vet
  entry: python3 tasks/git-hooks/govet.py
  language: system
  require_serial: true

gofmt:
  name: gofmt
  description: go fmt
  entry: python3 tasks/git-hooks/gofmt.py
  language: system

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 tasks/git-hooks/clang-format.py
  language: system
  require_serial: true

Address review comments
  tasks/libs/pipeline_stats.py
  tasks/libs/types.py
  tasks/pipeline.py
Due: none

Apply suggestions from code review
  tasks/libs/types.py
Due: none

Silence Fx logging by default in fxutil.Run
  pkg/util/fxutil/run.go
Due: revive, govet, gofmt

More linting
  tasks/libs/types.py
Due: none

[RCM] Allow the backend to override the agent's refresh interval (#13660)
  pkg/config/config.go
  pkg/config/remote/service/service.go
  pkg/config/remote/service/service_test.go
  pkg/config/remote/service/util.go
Due: revive, govet, gofmt

[RCM] Support filtering expired configs in agent
  pkg/config/remote/service/client_predicates.go
  pkg/config/remote/service/service_test.go
Due: revive, govet, gofmt

add comp/core/log.Component#Flush
  comp/core/log/component.go
  comp/core/log/logger.go
Due: revive, govet, gofmt

Fix dropped point telemetry (#13654)
  pkg/forwarder/internal/retry/transaction_retry_queue.go
Due: revive, govet, gofmt

Fix dropped point telemetry
  pkg/forwarder/internal/retry/transaction_retry_queue.go
Due: revive, govet, gofmt

Removed Windows 1909 from pipeline
  .gitlab/container_build/docker_windows_agent6.yml
  .gitlab/container_build/docker_windows_agent7.yml
  .gitlab/deploy_7/container.yml
  .gitlab/dev_container_deploy/docker_windows.yml
  .gitlab/kitchen_testing/windows.yml
Due: none

Remove Windows 2004
  .gitlab/container_build/docker_windows_agent6.yml
  .gitlab/container_build/docker_windows_agent7.yml
  .gitlab/deploy_7/container.yml
  .gitlab/dev_container_deploy/docker_windows.yml
  .gitlab/kitchen_testing/windows.yml
Due: none

Remove Windows 20H2
  .gitlab/container_build/docker_windows_agent6.yml
  .gitlab/container_build/docker_windows_agent7.yml
  .gitlab/deploy_7/container.yml
  .gitlab/dev_container_deploy/docker_windows.yml
  .gitlab/kitchen_testing/windows.yml
Due: none

update title
  docs/cloud-workload-security/scripts/templates/agent_expressions.md
Due: none

update title
  docs/cloud-workload-security/scripts/templates/backend.md
Due: none

Update agent_expressions.md
  docs/cloud-workload-security/agent_expressions.md
Due: none

Update backend.md
  docs/cloud-workload-security/backend.md
Due: none

Upgrade tracer_agent debugger proxy to use logs V2 intake
  pkg/trace/api/debugger.go
  pkg/trace/go.mod
  pkg/trace/go.sum
  releasenotes/notes/upgrade-debugger-logs-intake-963210e615404bdd.yaml
Due: revive, govet, gofmt

First pass at CODEOWNERS update for team split
  .github/CODEOWNERS
Due: none

Add pipeline mapping
  tasks/pipeline.py
Due: none

[RCM] Support filtering expired configs in agent (#13686)
  pkg/config/remote/service/client_predicates.go
  pkg/config/remote/service/service_test.go
Due: revive, govet, gofmt

Update JOBOWNERS
  .gitlab/JOBOWNERS
Due: none

Normalize windowsevent log tailer EventID field type
  pkg/logs/internal/tailers/windowsevent/tailer.go
  pkg/logs/internal/tailers/windowsevent/tailer_test.go
Due: revive, govet, gofmt

add release note
  releasenotes/notes/normalize-windowsevent-eventid-type-7ecd543601521137.yaml
Due: none

Reset changes to the kitchen tests
  .gitlab/kitchen_testing/windows.yml
Due: none

Save/restore iptables state during tests
  pkg/network/netlink/conntrack_integration_test.go
  pkg/network/netlink/testutil/conntrack.go
  pkg/network/testutil/iptables.go
  pkg/network/tracer/tracer_linux_test.go
Due: revive, govet, gofmt

Fix test
  pkg/network/tracer/tracer_test.go
Due: revive, govet, gofmt

Fix test
  pkg/network/tracer/tracer_linux_test.go
Due: revive, govet, gofmt

Zero out tcp stats object fully
  pkg/network/tracer/connection/kprobe/tracer.go
Due: revive, govet, gofmt

Fix tcp shared socket test
  pkg/network/tracer/tracer_linux_test.go
Due: revive, govet, gofmt

Remove comment
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/tracer-events.h
Due: revive, govet, gofmt, clang-format

linter fixes
  pkg/logs/internal/tailers/windowsevent/tailer.go
Due: revive, govet, gofmt

gofmt
  pkg/logs/internal/tailers/windowsevent/tailer.go
  pkg/logs/internal/tailers/windowsevent/tailer_test.go
Due: revive, govet, gofmt

usm: ssl: openssl: Support SSL_read_ex and SSL_write_ex methods
  go.mod
  go.sum
  pkg/ebpf/bytecode/runtime/http.go
  pkg/network/ebpf/c/http-maps.h
  pkg/network/ebpf/c/http-types.h
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/http/ebpf_ssl.go
Due: revive, govet, gofmt, clang-format

Fixed new line in XMLs Goland configuration
  .run/Build agent.run.xml
  .run/Build process-agent.run.xml
  .run/Build system-probe.run.xml
  .run/Run agent.run.xml
  .run/Run process-agent.run.xml
  .run/Run system-probe.run.xml
Due: none

usm: ssl: openssl: Added tracer tests
  go.mod
  go.sum
  pkg/network/http/ebpf_ssl.go
  pkg/network/http/testutil/testutil.go
  pkg/network/tracer/tracer_test.go
Due: revive, govet, gofmt

usm: ssl: openssl: Added missing imports
  pkg/network/tracer/tracer_test.go
Due: revive, govet, gofmt

usm: ssl: openssl: Increased timeouts
  pkg/network/tracer/tracer_test.go
Due: revive, govet, gofmt

usm: ssl: openssl: Fixed CR notes
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/http/ebpf_ssl.go
  pkg/network/tracer/tracer_test.go
Due: revive, govet, gofmt, clang-format

Path conditions:
  revive: any of: \.go$
  govet: any of: \.go$
  gofmt: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
