Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Remove stray TEST_RESULTS.md file (#55930)
  TEST_RESULTS.md
Due: none

assign datadog-agent packaging related BUILD.bazel to agent-build (#55869)
  .github/CODEOWNERS
Due: none

fixup! CONTINT-5548 - expose control plane component status
  pkg/collector/corechecks/cluster/kubernetesapiserver/kubernetes_apiserver_test.go
Due: copyright, go-mod-tidy

fix(configfilesdiscovery): keep include reads within root
  comp/core/configfilesdiscovery/impl/collectors/helpers_test.go
  comp/core/configfilesdiscovery/impl/collectors/kafka_test.go
  comp/core/configfilesdiscovery/impl/collectors/postgres_test.go
  comp/core/configfilesdiscovery/impl/collectors/redis.go
  comp/core/configfilesdiscovery/impl/collectors/redis_test.go
  comp/core/configfilesdiscovery/impl/configfilesdiscovery_test.go
  comp/core/configfilesdiscovery/impl/docker_reader.go
  comp/core/configfilesdiscovery/impl/docker_reader_test.go
  comp/core/configfilesdiscovery/impl/kubernetes_reader.go
  comp/core/configfilesdiscovery/impl/kubernetes_reader_test.go
  comp/core/configfilesdiscovery/impl/reader_helpers.go
  comp/core/configfilesdiscovery/impl/reader_helpers_test.go
  comp/core/configfilesdiscovery/impl/types.go
Due: copyright, go-mod-tidy

keep the integrations-core version
  release.json
Due: none

ci: add explicit timeout to long-running jobs missing one (#55588)
  .gitlab/test/e2e/e2e_containers.yml
  .gitlab/test/e2e/e2e_fleet.yml
  .gitlab/test/e2e/e2e_npm.yml
  .gitlab/test/e2e/e2e_otel.yml
  .gitlab/test/e2e/e2e_ssi.yml
  .gitlab/test/e2e_install_packages/ubuntu.yml
  .gitlab/test/integration_test/otel.yml
  .gitlab/test/kernel_matrix_testing/system_probe.yml
  .gitlab/windows/build/source_test/windows.yml
  .gitlab/windows/test/e2e/windows_products.yml
Due: shell-check-no-set-x, gitlab-configuration

[AXT] testing: add GPU burner integration coverage (#55506)
  .gitlab/build/source_test/linux.yml
  pkg/collector/corechecks/gpu/integrationtests/BUILD.bazel
  pkg/collector/corechecks/gpu/integrationtests/gpu_burner_helper.go
  pkg/collector/corechecks/gpu/integrationtests/gpu_burner_test.go
  pkg/gpu/testutil/smi.go
  tasks/gpu.py
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

Drop flavor tests on Linux
  .gitlab/build/source_test/linux.yml
  .gitlab/build/source_test/notify.yml
Due: shell-check-no-set-x, gitlab-configuration

iterate
  releasenotes-dca/notes/private-action-runner-backend-override-b070e8bf82063df0.yaml
Due: shell-check-no-set-x

Disable implicit init py on rules_python
  .bazelrc
Due: none

Remove the memory override from new-e2e-unit-tests
  .gitlab/build/source_test/linux.yml
Due: shell-check-no-set-x, gitlab-configuration

[DATASEC] First e2e tests for data security
  .github/CODEOWNERS
  .gitlab/JOBOWNERS
  .gitlab/test/e2e/e2e_data_security.yml
  test/new-e2e/tests/data-security/BUILD.bazel
  test/new-e2e/tests/data-security/fixtures/datasecurity.yaml
  test/new-e2e/tests/data-security/postgres_scan_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

[DATASEC] no longer auto run ci
  .gitlab/test/e2e/e2e_data_security.yml
Due: shell-check-no-set-x, gitlab-configuration

Fixups
  test/fakeintake/version/VERSION
Due: none

[DATASEC] Rename datadog.yaml to datadog-agent.yaml
  test/new-e2e/tests/data-security/BUILD.bazel
  test/new-e2e/tests/data-security/fixtures/datadog-agent.yaml
  test/new-e2e/tests/data-security/postgres_scan_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

[DATASEC-314] Allow group read/exec when loading shared-library checks (#55938)
  pkg/util/filesystem/permission_check.go
Due: copyright, go-mod-tidy

[ABLD-311] Selinux policy bazel rule (#55717)
  MODULE.bazel
  bazel/rules/selinux/BUILD.bazel
  bazel/rules/selinux/selinux.bzl
  bazel/toolchains/selinux_tools/BUILD.bazel
  bazel/toolchains/selinux_tools/configure.bzl
  bazel/toolchains/selinux_tools/defs.bzl.tpl
  cmd/agent/selinux/BUILD.bazel
Due: none

CONTINT-5548 - expose control plane component status (#55940)
  pkg/collector/corechecks/cluster/kubernetesapiserver/kubernetes_apiserver.go
  pkg/collector/corechecks/cluster/kubernetesapiserver/kubernetes_apiserver_test.go
Due: copyright, go-mod-tidy

ci: add automated backport assessment for merged PRs
  .github/chainguard/self.assess-backport.label-pr.sts.yaml
  .github/workflows/assess-backport.yml
Due: shell-check-no-set-x

ci: clarify backport assessment prompt on release-branch state
  .github/workflows/assess-backport.yml
Due: shell-check-no-set-x

security(ci): assess backports from the merged diff only, not PR metadata
  .github/workflows/assess-backport.yml
Due: shell-check-no-set-x

Enable basic Network Path dynamic tests by default
  comp/networkpath/npcollector/impl/config_test.go
  comp/rdnsquerier/impl/config_test.go
  pkg/config/schema/yaml/core_schema.yaml
  pkg/config/setup/config_test.go
  pkg/system-probe/config/config_traceroute_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

Disable failing OpenShift E2E jobs
  .gitlab/test/e2e/e2e_containers.yml
  .gitlab/test/e2e/e2e_ssi.yml
Due: shell-check-no-set-x, gitlab-configuration

fix: single mountpoint usage call in parallel
  pkg/collector/corechecks/system/disk/diskv2/disk.go
  pkg/collector/corechecks/system/disk/diskv2/disk_test.go
Due: copyright, go-mod-tidy

Drop flavor tests on Linux (#55954)
  .gitlab/build/source_test/linux.yml
  .gitlab/build/source_test/notify.yml
Due: shell-check-no-set-x, gitlab-configuration

fix: test
  pkg/collector/corechecks/system/disk/diskv2/disk_test.go
Due: copyright, go-mod-tidy

chore: set -x
  .gitlab/aix/test/aix_unit_tests.yml
Due: shell-check-no-set-x, gitlab-configuration

[AXT] Transfer GPU ownership to GPU Monitoring (#55743)
  .github/CODEOWNERS
  .gitlab/JOBOWNERS
  .gitlab/test/e2e/e2e_ebpf.yml
  .gitlab/test/e2e/e2e_gpu.yml
  comp/README.md
  comp/metadata/hostgpu/def/component.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

[CWS] Remove kernel-side DNS event sampling
  pkg/config/schema/yaml/system-probe-cws.yaml
  pkg/security/config/config.go
  pkg/security/ebpf/c/include/constants/custom.h
  pkg/security/ebpf/c/include/helpers/approvers.h
  pkg/security/ebpf/c/include/helpers/network/dns.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/ebpf/probes/all.go
  pkg/security/probe/probe_ebpf.go
Due: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x

Remove memory re-overrides from `new-e2e-unit-tests` (#55943)
  .gitlab/build/source_test/linux.yml
Due: shell-check-no-set-x, gitlab-configuration

[ABLD-310] Support --injector-only with cws-instrumentation --enable-bazel
  cmd/cws-instrumentation/BUILD.bazel
  tasks/cws_instrumentation.py
Due: none

Better ownership of top level folders in /cmd/
  .github/CODEOWNERS
Due: none

[WP] Correctly count the dentry resolution error (#55939)
  pkg/security/ebpf/c/include/constants/custom.h
  pkg/security/ebpf/c/include/maps.h
Due: win-clang-format

[ABLD-310] Apply CWS_INSTRUMENTATION_TAGS to cws-instrumentation bazel targets
  cmd/cws-instrumentation/BUILD.bazel
  tasks/cws_instrumentation.py
Due: none

fix(aix-ci): run aix_run_cmd scripts from a temp file, not a stdin pipe
  .gitlab/aix/aix_remote.yml
Due: shell-check-no-set-x, gitlab-configuration

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
