Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$

update
  test/new-e2e/tests/netpath/network_path_integration_test.go
Due: copyright, go-mod-tidy

codeowner and gitlab
  .github/CODEOWNERS
  .gitlab-ci.yml
  .gitlab/e2e/e2e.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

nit(): edit JOBOWNER
  .gitlab/JOBOWNERS
Due: none

fix path
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Fix expected state log line
  pkg/fleet/daemon/daemon.go
Due: copyright, go-mod-tidy

CWS: sync BTFhub constants
  pkg/security/probe/constantfetch/btfhub/constants.json
Due: none

Refactor configuration to be able to pass a different SSH key per cloud provider (#31482)
  .gitlab/e2e/e2e.yml
  test/new-e2e/pkg/runner/configmap.go
  test/new-e2e/pkg/runner/configmap_test.go
  test/new-e2e/pkg/runner/parameters/const.go
  test/new-e2e/pkg/runner/parameters/store_config_file.go
  test/new-e2e/pkg/runner/parameters/store_config_file_test.go
  test/new-e2e/pkg/runner/parameters/store_env.go
  test/new-e2e/pkg/utils/e2e/client/docker.go
  test/new-e2e/pkg/utils/e2e/client/host.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[diff-invoke-tasks] Added task
  tasks/diff.py
  tasks/libs/common/worktree.py
Due: none

Simplify Copy method on WorkloadSelector
  pkg/security/resolvers/cgroup/model/types.go
Due: copyright, go-mod-tidy

Add apm_config.additional_endpoints to authorized config paths (#31851)
  comp/api/api/def/component.go
Due: copyright, go-mod-tidy

[usm] reliability, http, simplify BenchmarkHTTPStatkeeperWithPool/NoPool.
  pkg/network/protocols/http/statkeeper.go
  pkg/network/protocols/http/statkeeper_test.go
  pkg/network/protocols/http/stats.go
Due: copyright, go-mod-tidy

[disable-dual-shipping-adxt-512] Removed dual shipping option in docker / ecs
  .gitlab/common/test_infra_version.yml
  test/new-e2e/tests/containers/docker_test.go
  test/new-e2e/tests/containers/ecs_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Quote path and quotes
  Dockerfiles/agent/windows/amd64/Dockerfile
Due: shell-check-no-set-x

add `dentry_d_sb_offset` constant
  pkg/security/ebpf/c/include/constants/offsets/filesystem.h
  pkg/security/probe/constantfetch/constant_names.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/probe_ebpf.go
Due: copyright, win-clang-format, go-mod-tidy

fix rh9.4
  pkg/security/ebpf/kernel/kernel.go
  pkg/security/probe/probe_ebpf.go
Due: copyright, go-mod-tidy

Update copyright
  pkg/network/usm/testutil/buildmode.go
Due: copyright, go-mod-tidy

[CWS] Lower ptrace tracee resolution issue log level (#31950)
  pkg/security/probe/probe_ebpf.go
Due: copyright, go-mod-tidy

Remove flake designation from darwin-based dogstatsd tests (#31890)
  comp/dogstatsd/server/server_util_test.go
Due: copyright, go-mod-tidy

Domain User Syntax Test
  test/new-e2e/tests/windows/domain-test/domain_test.go
Due: copyright, go-mod-tidy

When running in CI, scrub e2e tests output to avoid leaking keys (#31902)
  tasks/new_e2e_tests.py
  tasks/tools/gotest-scrubbed.sh
Due: shell-check-no-set-x

Post process e2e tests logs to make them more readable (#31615)
  .gitlab/e2e/e2e.yml
  .gitlab/e2e_install_packages/common.yml
  tasks/new_e2e_tests.py
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

feat(assign_owner): Send to correct channel and improve message (#31954)
  tasks/issue.py
Due: none

remove inactivity timer from test
  cmd/agent/subcommands/analyzelogs/command_test.go
Due: copyright, go-mod-tidy

[disable-dual-shipping-adxt-512] tidy
  test/new-e2e/go.sum
Due: none

[diff-invoke-tasks] Removed todo
  tasks/libs/common/worktree.py
Due: none

assert no error
  cmd/agent/subcommands/analyzelogs/command_test.go
Due: copyright, go-mod-tidy

Revert "Do not print Ansible logs (#31814)"
  test/new-e2e/tests/installer/unix/all_packages_test.go
Due: copyright, go-mod-tidy

Support components multiple implementation for package name (#31551)
  comp/core/log/impl-systemprobe/systemprobe_logger.go
  comp/core/log/impl-systemprobe/systemprobe_logger_test.go
  comp/core/log/impl-trace/trace_logger.go
  comp/core/log/impl-trace/trace_logger_test.go
  comp/core/tagger/impl-remote/remote.go
  comp/core/tagger/impl-remote/remote_test.go
  comp/core/tagger/impl-remote/tagstore.go
  comp/core/tagger/impl-remote/tagstore_test.go
  comp/dogstatsd/replay/impl-noop/noop.go
  comp/otelcol/collector/impl-pipeline/flare_filler.go
  comp/otelcol/collector/impl-pipeline/flare_filler_test.go
  comp/otelcol/collector/impl-pipeline/no_otlp.go
  comp/otelcol/collector/impl-pipeline/pipeline.go
  comp/otelcol/collector/impl-pipeline/status.go
  comp/otelcol/collector/impl-pipeline/status_test.go
  comp/rdnsquerier/impl-none/none.go
  comp/serializer/compression/impl-noop/no_strategy.go
  comp/serializer/compression/impl-zlib/zlib_strategy.go
  comp/serializer/compression/impl-zstd/zstd_strategy.go
  comp/trace/compression/impl-gzip/gzip.go
  comp/trace/compression/impl-zstd/zstd.go
  docs/public/components/creating-components.md
  tasks/components.py
  tasks/unit_tests/components_tests.py
  tasks/unit_tests/testdata/components_src/comp/multiple/impl-one/multiple.go
  tasks/unit_tests/testdata/components_src/comp/multiple/impl-two/multiple.go
Due: copyright, go-mod-tidy

ci: Fix CODEOWNERS due to team split (#31896)
  .github/CODEOWNERS
  tasks/libs/pipeline/github_slack_map.yaml
Due: shell-check-no-set-x

usm: sowatcher: Extend paths support up to 220 characters
  pkg/network/ebpf/c/shared-libraries/types.h
  pkg/network/usm/sharedlibraries/types_linux.go
Due: copyright, win-clang-format, go-mod-tidy

usm: sowatcher: tests: Added a UT to cover long paths
  pkg/network/usm/sharedlibraries/watcher_test.go
Due: copyright, go-mod-tidy

Add linux ctrl-c test
  test/new-e2e/pkg/utils/e2e/client/host.go
  test/new-e2e/pkg/utils/e2e/client/host_ssh.go
  test/new-e2e/tests/agent-platform/common/test_client.go
  test/new-e2e/tests/agent-subcommands/run/run_common_test.go
  test/new-e2e/tests/agent-subcommands/run/run_nix_test.go
Due: copyright, go-mod-tidy

Fix agent.exe run ctrl-c on windows
  cmd/agent/subcommands/run/command_windows.go
  pkg/util/winutil/winctrlhandler.go
  rtloader/three/three.cpp
Due: copyright, win-clang-format, go-mod-tidy

Release Notes
  releasenotes/notes/fix-agent-ctrlc-520d29d346ee6939.yaml
Due: shell-check-no-set-x

Lower an noisy info log to debug
  pkg/security/probe/probe_ebpf.go
Due: copyright, go-mod-tidy

[diff-invoke-tasks] Updated date format
  tasks/diff.py
Due: none

[NETPATH-371] Move common functions to separate package, create separate testutils package (#31819)
  pkg/networkpath/traceroute/common/common.go
  pkg/networkpath/traceroute/common/common_test.go
  pkg/networkpath/traceroute/runner/runner.go
  pkg/networkpath/traceroute/tcp/tcpv4.go
  pkg/networkpath/traceroute/tcp/tcpv4_unix.go
  pkg/networkpath/traceroute/tcp/tcpv4_windows.go
  pkg/networkpath/traceroute/tcp/utils.go
  pkg/networkpath/traceroute/tcp/utils_test.go
  pkg/networkpath/traceroute/tcp/utils_unix.go
  pkg/networkpath/traceroute/tcp/utils_unix_test.go
  pkg/networkpath/traceroute/tcp/utils_windows.go
  pkg/networkpath/traceroute/tcp/utils_windows_test.go
  pkg/networkpath/traceroute/testutils/doc.go
  pkg/networkpath/traceroute/testutils/testutils.go
Due: copyright, go-mod-tidy

[CWS] Move tags from cgroup to tags resolver (#31874)
  pkg/security/resolvers/cgroup/model/model.go
  pkg/security/resolvers/cgroup/model/types.go
  pkg/security/resolvers/sbom/resolver.go
  pkg/security/resolvers/sbom/resolver_unsupported.go
  pkg/security/resolvers/tags/resolver.go
  pkg/security/resolvers/tags/resolver_linux.go
  pkg/security/security_profile/dump/manager.go
  pkg/security/security_profile/profile/manager.go
  pkg/security/security_profile/profile/manager_test.go
  pkg/security/security_profile/profile/profile.go
  pkg/security/security_profile/tests/activity_tree_test.go
Due: copyright, go-mod-tidy

feat(ci-linter): allow job
  .gitlab/.ci-linters.yml
  tasks/github_tasks.py
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners
