Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

fix(serverless-init): update cloudrun_test to use renamed workload type and CCRID prefixes
  cmd/serverless-init/cloudservice/cloudrun_test.go
Due: copyright, go-mod-tidy

SVLS-9645: cloud run inventory data
  cmd/serverless-init/INVENTORY_METADATA_PLAN.md
  cmd/serverless-init/cloudservice/cloudrun.go
  cmd/serverless-init/cloudservice/cloudrun_test.go
  cmd/serverless-init/cloudservice/inventory.go
  cmd/serverless-init/cloudservice/service.go
  cmd/serverless-init/inventory/inventory.go
Due: copyright, go-mod-tidy

fix(serverless-init): set WEBSITE_NODE_DEFAULT_VERSION in TestAppServiceGetInventoryData for Windows compat
  cmd/serverless-init/cloudservice/appservice_test.go
Due: copyright, go-mod-tidy

SVLS-9645: less commentary
  cmd/serverless-init/cloudservice/appservice.go
  cmd/serverless-init/cloudservice/cloudrun.go
  cmd/serverless-init/cloudservice/cloudrun_jobs.go
  cmd/serverless-init/cloudservice/containerapp.go
  cmd/serverless-init/cloudservice/inventory.go
  cmd/serverless-init/cloudservice/service.go
  cmd/serverless-init/inventory/inventory.go
  comp/metadata/inventoryagent/def/component.go
  comp/metadata/inventoryagent/impl/inventoryagent.go
Due: copyright, go-mod-tidy

SVLS-9645: pull env tags
  cmd/serverless-init/inventory/inventory.go
  cmd/serverless-init/inventory/inventory_test.go
Due: copyright, go-mod-tidy

SVLS-9645: do not include the tags, please
  cmd/serverless-init/inventory/inventory.go
  cmd/serverless-init/inventory/inventory_test.go
Due: copyright, go-mod-tidy

SVLS-9645: microvm inventory, too
  cmd/serverless-init/INVENTORY_METADATA_PLAN.md
  cmd/serverless-init/cloudservice/inventory.go
  cmd/serverless-init/cloudservice/microvm.go
  cmd/serverless-init/cloudservice/microvm_test.go
  cmd/serverless-init/inventory/inventory.go
  cmd/serverless-init/inventory/inventory_test.go
  cmd/serverless-init/lifecycle/server.go
  cmd/serverless-init/lifecycle/server_test.go
  cmd/serverless-init/main.go
Due: copyright, go-mod-tidy

fix(serverless-init): align inventory wire contract with REDAPL and EPRW
  cmd/serverless-init/cloudservice/cloudrun.go
  cmd/serverless-init/cloudservice/inventory.go
  cmd/serverless-init/inventory/inventory.go
Due: copyright, go-mod-tidy

SVLS-9645: we don't need the plan file anymore
  cmd/serverless-init/INVENTORY_METADATA_PLAN.md
  cmd/serverless-init/inventory/inventory.go
Due: copyright, go-mod-tidy

SVLS-9645: app service
  cmd/serverless-init/INVENTORY_METADATA_PLAN.md
  cmd/serverless-init/cloudservice/appservice.go
  cmd/serverless-init/cloudservice/appservice_test.go
  cmd/serverless-init/cloudservice/inventory.go
  pkg/trace/traceutil/azure.go
  pkg/trace/traceutil/azure_test.go
Due: copyright, go-mod-tidy

SVLS-9645: less context
  cmd/serverless-init/INVENTORY_METADATA_PLAN.md
Due: none

SVLS-9645: include the serverless tags for the future
  cmd/serverless-init/inventory/inventory.go
  cmd/serverless-init/inventory/inventory_test.go
Due: copyright, go-mod-tidy

SVLS-9645: microvm uuid is more complicated
  cmd/serverless-init/inventory/inventory.go
  cmd/serverless-init/inventory/inventory_test.go
  cmd/serverless-init/main.go
  comp/metadata/inventoryagent/def/component.go
  comp/metadata/inventoryagent/impl/inventoryagent.go
Due: copyright, go-mod-tidy

SVLS-9645: fix bazel and lints
  cmd/serverless-init/BUILD.bazel
  cmd/serverless-init/cloudservice/BUILD.bazel
  cmd/serverless-init/inventory/BUILD.bazel
  comp/connectivitychecker/impl/connectivitychecker_test.go
  comp/metadata/inventoryagent/impl/BUILD.bazel
Due: copyright, go-mod-tidy

SVLS-9645: fix bazel
  cmd/serverless-init/inventory/BUILD.bazel
Due: none

SVLS-9645: microvm plan
  cmd/serverless-init/INVENTORY_METADATA_PLAN.md
Due: none

fix(serverless-init): update inventory_test to use bare deployment_id key
  cmd/serverless-init/inventory/inventory_test.go
Due: copyright, go-mod-tidy

SVLS-9645: cloud run jobs
  cmd/serverless-init/INVENTORY_METADATA_PLAN.md
  cmd/serverless-init/cloudservice/cloudrun.go
  cmd/serverless-init/cloudservice/cloudrun_jobs.go
  cmd/serverless-init/cloudservice/cloudrun_jobs_test.go
  cmd/serverless-init/cloudservice/inventory.go
Due: copyright, go-mod-tidy

fix(serverless-init): update TestMicroVMGetInventoryData to expect AWSAccountID
  cmd/serverless-init/cloudservice/microvm_test.go
Due: copyright, go-mod-tidy

test(npm): restart iperf3 server before every TCP congestion test
  test/new-e2e/tests/npm/ec2_1host_tcp_congestion_test.go
Due: copyright, go-mod-tidy

[CWS] Wait for the first capabilities report instead of only sleeping
  pkg/security/tests/capabilities_test.go
Due: copyright, go-mod-tidy

[SNMP] Update existing retry test expectations
  comp/snmpscan/impl/devicescan_test.go
Due: copyright, go-mod-tidy

[SNMP] Remove the unused ConditionalWalk root parameter
  comp/snmpscan/impl/devicescan.go
  pkg/snmp/gosnmplib/walk.go
Due: copyright, go-mod-tidy

[SNMP] Remove redundant retry test comment
  comp/snmpscan/impl/devicescan_test.go
Due: copyright, go-mod-tidy

Bound the configstream consumer bootstrap
  comp/core/configstreamconsumer/README.md
  comp/core/configstreamconsumer/impl/consumer.go
  comp/core/configstreamconsumer/impl/consumer_test.go
Due: copyright, go-mod-tidy

Edit tests
  pkg/security/secl/rules/model_test.go
  pkg/security/secl/rules/policy_loader_test.go
Due: copyright, go-mod-tidy

[CWS] Shorten the wait before the second capability is used
  pkg/security/tests/capabilities_test.go
Due: copyright, go-mod-tidy

Pass Bazel-managed go sdk to symboluploader tests
  comp/host-profiler/symboluploader/BUILD.bazel
  comp/host-profiler/symboluploader/symbol_uploader_test.go
Due: copyright, go-mod-tidy

fix(healthplatform): scope docker socket issue id by affected socket set too
  comp/healthplatform/README.md
  comp/healthplatform/issues/dockerpermissions/check.go
  comp/healthplatform/issues/dockerpermissions/issue_test.go
  comp/healthplatform/issues/dockerpermissions/module.go
  releasenotes/notes/docker-socket-unavailable-issue-1ac61c95bf94c65a.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Bump go.etcd.io/etcd/{api,client/pkg,client}/v3 to v3.6.14
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

test(npm): enable TCP congestion e2e suite in CI
  .gitlab/test/e2e/e2e_npm.yml
Due: shell-check-no-set-x, gitlab-configuration

fix hash, no copy of runtime value
  pkg/clusteragent/autoscaling/workload/config_retriever_values.go
  pkg/clusteragent/autoscaling/workload/config_retriever_values_test.go
  pkg/clusteragent/autoscaling/workload/controller_test.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_helpers.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_helpers_test.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_test.go
  pkg/clusteragent/autoscaling/workload/model/recommendations.go
  pkg/clusteragent/autoscaling/workload/pod_patcher.go
  pkg/clusteragent/autoscaling/workload/pod_patcher_test.go
Due: copyright, go-mod-tidy

Clear the mapObjects backing array on reset
  pkg/security/resolvers/process/otel_tls.go
Due: copyright, go-mod-tidy

reuse the OTel TLS target process across resolutions
  pkg/security/probe/procfs/proc_maps_parser.go
  pkg/security/resolvers/process/otel_tls.go
  pkg/security/resolvers/process/otel_tls_test.go
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/resolvers/resolvers_ebpf.go
Due: copyright, go-mod-tidy

fix build errors
  comp/netflow/goflowlib/additionalfields/BUILD.bazel
  comp/netflow/goflowlib/additionalfields/application_mapper_test.go
Due: copyright, go-mod-tidy

Debug
  .gitlab/build/bazel/test.yml
  MODULE.bazel
  bazel/tools/packages_txt_diagnostics.py
Due: shell-check-no-set-x, gitlab-configuration

fix(par): remove legacy rshell policy fallback
  pkg/config/setup/privateactionrunner.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/helper.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command_test.go
Due: copyright, go-mod-tidy

ddot and procmgr service to conflict each other
  pkg/fleet/installer/packages/embedded/tmpl/datadog-agent-ddot.service.tmpl
  pkg/fleet/installer/packages/embedded/tmpl/datadog-agent-procmgr.service.tmpl
  pkg/fleet/installer/packages/embedded/tmpl/gen/pm/debrpm-nc/datadog-agent-procmgr-exp.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/pm/debrpm-nc/datadog-agent-procmgr.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/pm/debrpm/datadog-agent-procmgr-exp.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/pm/debrpm/datadog-agent-procmgr.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/pm/oci-nc/datadog-agent-procmgr-exp.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/pm/oci-nc/datadog-agent-procmgr.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/pm/oci/datadog-agent-procmgr-exp.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/pm/oci/datadog-agent-procmgr.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/sd/debrpm-nc/datadog-agent-ddot-exp.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/sd/debrpm-nc/datadog-agent-ddot.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/sd/debrpm/datadog-agent-ddot-exp.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/sd/debrpm/datadog-agent-ddot.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/sd/oci-nc/datadog-agent-ddot-exp.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/sd/oci-nc/datadog-agent-ddot.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/sd/oci/datadog-agent-ddot-exp.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/sd/oci/datadog-agent-ddot.service
Due: experiment-systemd-units

Remove release note for Vault pointer compatibility fix
  releasenotes/notes/sgc-vault-legacy-pointers-f4b1d0aaf7e932c1.yaml
Due: shell-check-no-set-x

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
