Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

feat: add default config files for default system checks
  packaging/aix/stages/10-assemble.sh
Due: shell-check-no-set-x

[PROF-13807] added devtest image publish job (#46573)
  .gitlab/JOBOWNERS
  .gitlab/deploy/dev_container_deploy/docker_linux.yml
Due: shell-check-no-set-x, gitlab-configuration

update release.json to point to latest commit in security-branch in ints core
  release.json
Due: none

[observer] Remove storage wrapper, fix AggregateString default, update README
  comp/observer/README.md
  comp/observer/def/component.go
  comp/observer/impl/context_provider.go
  comp/observer/impl/engine.go
  comp/observer/impl/storage.go
  comp/observer/impl/storage_test.go
Due: copyright, go-mod-tidy

remove unneeded tag (#47997)
  pkg/config/render_config/render_config.go
Due: copyright, go-mod-tidy

Updated metrics view
  cmd/observer-testbench/ui/src/App.tsx
  cmd/observer-testbench/ui/src/components/ChartWithAnomalyDetails.tsx
  cmd/observer-testbench/ui/src/components/LogView.tsx
  cmd/observer-testbench/ui/src/components/MetricsView.tsx
Due: none

add device status
  pkg/networkconfigmanagement/sender/sender.go
  pkg/networkconfigmanagement/sender/sender_test.go
Due: copyright, go-mod-tidy

Patch type must be StrategicMergePatchType
  pkg/clusteragent/autoscaling/workload/controller_vertical.go
Due: copyright, go-mod-tidy

Add rollback as fallback action
  pkg/clusteragent/autoscaling/workload/controller_vertical.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_helpers.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_test.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_validation.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_validation_test.go
Due: copyright, go-mod-tidy

Patches that fail at API server should indicate a pod eviction, better error signaling
  pkg/clusteragent/autoscaling/errors.go
  pkg/clusteragent/autoscaling/workload/controller_vertical.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_helpers.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_test.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_validation.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_validation_test.go
Due: copyright, go-mod-tidy

Add vertical action updates
  pkg/clusteragent/autoscaling/workload/controller_vertical.go
  pkg/clusteragent/autoscaling/workload/model/const.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_test_utils.go
Due: copyright, go-mod-tidy

Add in-place resizing to vertical controller
  pkg/clusteragent/autoscaling/workload/controller.go
  pkg/clusteragent/autoscaling/workload/controller_test.go
  pkg/clusteragent/autoscaling/workload/controller_vertical.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_helpers.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_test.go
  pkg/clusteragent/autoscaling/workload/provider/provider.go
Due: copyright, go-mod-tidy

Add lastTransitionTime to kubelet collection
  pkg/util/kubernetes/kubelet/pod_test.go
  pkg/util/kubernetes/kubelet/types_kubelet.go
Due: copyright, go-mod-tidy

Validate resize pending period
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_validation.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_validation_test.go
Due: copyright, go-mod-tidy

Add lastTransitionTime to workloadmeta pod condition struct
  comp/core/workloadmeta/collectors/internal/kubelet/kubelet_test.go
  comp/core/workloadmeta/collectors/util/kubelet.go
  comp/core/workloadmeta/def/types.go
Due: copyright, go-mod-tidy

Address code review:
  comp/core/workloadmeta/collectors/internal/kubelet/kubelet_test.go
  pkg/clusteragent/autoscaling/errors.go
  pkg/clusteragent/autoscaling/workload/controller_vertical.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_helpers.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_validation.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_validation_test.go
Due: copyright, go-mod-tidy

Use action to indicate end of resize cycle
  pkg/clusteragent/autoscaling/workload/controller_test.go
  pkg/clusteragent/autoscaling/workload/controller_vertical.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_helpers.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_test.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler.go
Due: copyright, go-mod-tidy

Add releasenote
  releasenotes/notes/In-place-vertical-pod-resizing-e6c9c7ce1b0d9cc3.yaml
Due: shell-check-no-set-x

isInPlaceResizeSupported gate for ipvpa, improve event surfacing
  pkg/clusteragent/autoscaling/workload/controller_vertical.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_helpers.go
  pkg/clusteragent/autoscaling/workload/model/const.go
Due: copyright, go-mod-tidy

Improve event surfacing
  pkg/clusteragent/autoscaling/errors.go
  pkg/clusteragent/autoscaling/workload/controller_vertical.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_test.go
  pkg/clusteragent/autoscaling/workload/model/const.go
Due: copyright, go-mod-tidy

address nits
  pkg/clusteragent/autoscaling/errors.go
  pkg/clusteragent/autoscaling/workload/controller_vertical.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_helpers.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler.go
Due: copyright, go-mod-tidy

Drop traffic
  test/regression/cases/tagfilter_0tags/lading/lading.yaml
  test/regression/cases/tagfilter_100metrics/lading/lading.yaml
  test/regression/cases/tagfilter_500metrics/lading/lading.yaml
Due: shell-check-no-set-x

Add prebuilt guard, deduplicate helpers, btf.Union support.
  pkg/network/ebpf/c/tracer/stats.h
  pkg/network/tracer/connection/ebpf_tracer.go
  pkg/network/tracer/tracer_linux_test.go
Due: copyright, win-clang-format, go-mod-tidy

Update cacerts to 2026-03-19
  omnibus/config/software/cacerts.rb
Due: none

update to 2026-03-19
  deps/cacerts/cacert.pem
  deps/cacerts/cacert.sha256
Due: none

Update go-sqllexer to v0.2.1
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/ddprofilingextension/impl/go.mod
  comp/otelcol/ddprofilingextension/impl/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  go.mod
  go.sum
  pkg/dyninst/testprogs/progs/go.mod
  pkg/dyninst/testprogs/progs/go.sum
  pkg/obfuscate/go.mod
  pkg/obfuscate/go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
  pkg/trace/otel/go.mod
  pkg/trace/otel/go.sum
  pkg/trace/stats/go.mod
  pkg/trace/stats/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/otel/go.mod
  test/otel/go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

Add release notes
  releasenotes/notes/bump-go-sqllexer-v0.2.1-9cfd836faafcf1b9.yaml
Due: shell-check-no-set-x

Update Go version to 1.25.8
  .gitlab-ci.yml
  .go-version
  .wwhrd.yml
  devenv/scripts/Install-DevEnv.ps1
  go.work
  pkg/template/html/attr_string.go
  pkg/template/html/context.go
  pkg/template/html/element_string.go
  pkg/template/html/escape.go
  pkg/template/html/state_string.go
  pkg/template/html/transition.go
  releasenotes/notes/bump-go-to-1.25.8-fea563ab9ace576f.yaml
  tasks/go.py
  test/fakeintake/Dockerfile
  tools/gdb/Dockerfile
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

add loging
  comp/observer/impl/storage.go
Due: copyright, go-mod-tidy

[WINA-2483] OS-aware default actions_allowlist for PAR config
  pkg/fleet/installer/setup/common/setup.go
  pkg/fleet/installer/setup/common/setup_test.go
Due: copyright, go-mod-tidy

fix(networkv2): host network stats when host proc is mounted (AGENT-15840)
  pkg/collector/corechecks/net/networkv2/network.go
  pkg/collector/corechecks/net/networkv2/network_test.go
Due: copyright, go-mod-tidy

[ABLD-402] Create bazel package to begin replacing datadog-agent.rb (#47465)
  omnibus/config/software/datadog-agent.rb
  packages/agent/product/BUILD.bazel
  pkg/config/BUILD.bazel
Due: none

[ABLD-316] Make release.json data available to bazel rules. (#47993)
  MODULE.bazel
  bazel/repo/release_json.bzl
Due: none

(windows) Enable system-probe when apm-inject is installed with host instrumentation (#46723)
  .gitlab/windows/test/e2e_install_packages/windows.yml
  pkg/fleet/installer/packages/apm_inject_windows.go
  pkg/fleet/installer/packages/apm_inject_windows_test.go
  pkg/fleet/installer/setup/config/config.go
  pkg/fleet/installer/setup/config/write.go
  pkg/fleet/installer/setup/config/write_test.go
  releasenotes/notes/ssi-use-windows-crash-detection-config-b5787251e03880f0.yaml
  test/new-e2e/go.mod
  test/new-e2e/tests/installer/windows/suites/apm-inject-package/system_probe_config_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer

Adding release note
  releasenotes/notes/fix-networkv2-docker-host-proc-net-metrics-a8b3c7d1e2f40596.yaml
Due: shell-check-no-set-x

Update operator && bazel run //:go_mod_tidy_all
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

Update process-agent shouldStayAlive check in Kubernetes environments (#48031)
  cmd/process-agent/command/main_common.go
Due: copyright, go-mod-tidy

revert dyninst package bump
  pkg/dyninst/testprogs/progs/go.mod
  pkg/dyninst/testprogs/progs/go.sum
Due: check-go-modules-in-python, protocol-buffer

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
