Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

iff
  MODULE.bazel.lock
  bazel/multitool/private/lockfile.bzl
Due: none

try fix leak
  pkg/network/ebpf/c/protocols/http2/decoding.h
Due: win-clang-format

[CWS] add in_upper_layer approver to open (#40467)
  pkg/security/ebpf/c/include/constants/enums.h
  pkg/security/ebpf/c/include/helpers/approvers.h
  pkg/security/ebpf/c/include/hooks/open.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/ebpf/c/include/structs/filter.h
  pkg/security/probe/kfilters/approvers.go
  pkg/security/probe/kfilters/approvers_test.go
  pkg/security/probe/kfilters/open.go
  pkg/security/probe/monitors/approver/approver_monitor.go
  pkg/security/secl/compiler/eval/eval.go
  pkg/security/secl/compiler/eval/operators.go
  pkg/security/secl/model/consts_map_names_linux.go
  pkg/security/tests/filters_test.go
Due: copyright, win-clang-format, go-mod-tidy

[CWS] move activity dump message creation to api server
  pkg/security/module/cws.go
  pkg/security/module/server.go
Due: copyright, go-mod-tidy

extract activity dump msg sending into something similar to events
  pkg/security/module/msg_sender.go
  pkg/security/module/opts.go
  pkg/security/module/server.go
Due: copyright, go-mod-tidy

`DirectMsgSender` -> `DirectEventMsgSender`
  pkg/security/module/msg_sender.go
  pkg/security/module/server.go
Due: copyright, go-mod-tidy

direct sender, for activity dumps
  pkg/security/module/msg_sender.go
  pkg/security/module/server.go
Due: copyright, go-mod-tidy

`SendEventFromSystemProbe` -> `SendPayloadsFromSystemProbe`
  pkg/security/config/config.go
  pkg/security/module/cws.go
  pkg/security/module/server.go
Due: copyright, go-mod-tidy

plug AD backend telemetry to api server
  pkg/security/module/msg_sender.go
  pkg/security/module/server.go
  pkg/security/tests/module_tester.go
Due: copyright, go-mod-tidy

make workload selector cross-platform
  pkg/security/resolvers/cgroup/model/types.go
Due: copyright, go-mod-tidy

make `pkg/security/security_profile/storage/backend` cross-platform
  pkg/security/security_profile/storage/backend/forwarder.go
Due: copyright, go-mod-tidy

Address PR review: Convert DumpMaps to switch statement
  pkg/network/protocols/redis/protocol.go
Due: copyright, go-mod-tidy

commit
  bazel/multitool/private/hub_repo_tool_template/BUILD.bazel.template
Due: none

Fake 3x traceroute
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

fix(renovate): Update the registry URL
  renovate.json
Due: none

update wlm process entity logs
  comp/core/workloadmeta/def/types.go
  comp/core/workloadmeta/def/types_test.go
Due: copyright, go-mod-tidy

[CWS-5004] Add overlayfs path operator override (#40392)
  pkg/security/generators/accessors/accessors.go
  pkg/security/generators/accessors/accessors.tmpl
  pkg/security/generators/accessors/common/types.go
  pkg/security/resolvers/path/resolver.go
  pkg/security/secl/compiler/eval/eval.go
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/compiler/eval/evaluators.go
  pkg/security/secl/compiler/eval/model_test.go
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/secl/model/model_helpers_unix.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/oo_overlayfs_unix.go
  pkg/security/seclwin/go.sum
  pkg/security/seclwin/model/accessors_win.go
  pkg/security/tests/module_tester_linux.go
  pkg/security/tests/overlayfs_test.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

apiimpl: use the tested function `getIPCServerAddressPort`
  comp/api/api/apiimpl/server.go
Due: copyright, go-mod-tidy

use `pkgconfigsetup.GetIPCPort` in `getIPCAddressPort`
  comp/api/api/apiimpl/listener.go
Due: copyright, go-mod-tidy

[CONTP-939] Fix autodiscovery check de-duplication for docker listeners in k8s environments (#40399)
  comp/core/autodiscovery/listeners/container.go
  comp/core/autodiscovery/listeners/container_test.go
  releasenotes/notes/autodiscovery_dedup_docker-e7cb1ac40368444a.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

add release notes
  releasenotes/notes/workload-list-logs-2c91e1e88ee56e08.yaml
Due: shell-check-no-set-x

Update ImageResolver to initialize imageMapping cache asynch
  pkg/clusteragent/admission/mutate/autoinstrumentation/image_resolver.go
Due: copyright, go-mod-tidy

Use a known key for the configsync integration test
  comp/core/configsync/configsyncimpl/module_integration_test.go
Due: copyright, go-mod-tidy

getNodeValue should always return non-node values, even in error cases
  pkg/config/nodetreemodel/getter.go
Due: copyright, go-mod-tidy

Build the schema for the system-probe config.
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

Check for string in error message, to be more flexible
  cmd/otel-agent/config/agent_config_test.go
Due: copyright, go-mod-tidy

Resolve pointers twice for UnmarshalKey
  pkg/config/structure/unmarshal.go
Due: copyright, go-mod-tidy

Add support for process entities in remoteworkloadmeta
  comp/core/workloadmeta/proto/proto.go
  comp/core/workloadmeta/proto/proto_test.go
  pkg/proto/datadog/workloadmeta/workloadmeta.proto
  pkg/proto/pbgo/core/workloadmeta.pb.go
Due: copyright, go-mod-tidy, protocol-buffer

[CWS] Fix cgroup cache consistency and add cgroupfs fallbacks (#40137)
  pkg/security/resolvers/cgroup/model/model.go
  pkg/security/resolvers/cgroup/resolver.go
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/resolvers/process/resolver_test.go
  pkg/security/rules/engine_linux.go
  pkg/security/security_profile/secprofs.go
  pkg/security/utils/cgroup.go
  pkg/security/utils/cgroup_test.go
Due: copyright, go-mod-tidy

feat(github): Use octo-sts in workflows using GithubApp
  .github/workflows/add_dependabot_pr_to_mq.yml
  .github/workflows/add_reviewer_bot_pr.yml
  .github/workflows/ask_review_bot_pr.yml
  .github/workflows/backport-pr.yml
  .github/workflows/update_dependencies.yml
Due: shell-check-no-set-x

Fix systemd device permission update
  pkg/gpu/cgroups.go
  pkg/gpu/cgroups_test.go
Due: copyright, go-mod-tidy

[FA] Add log integration source (#40493)
  comp/logs/agent/config/integration_config.go
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks.go
  pkg/logs/schedulers/ad/scheduler.go
Due: copyright, go-mod-tidy

try to rely only on cgroup inodes
  pkg/security/ebpf/c/include/hooks/raw_syscalls.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/resolvers/cgroup/resolver.go
  pkg/security/security_profile/secprofs.go
Due: copyright, win-clang-format, go-mod-tidy

[CWS] Fix Centos 7 by adding tail call
  pkg/security/ebpf/c/include/hooks/prctl.h
  pkg/security/ebpf/probes/raw_sys_exit.go
Due: copyright, win-clang-format, go-mod-tidy

[CWS] remove profiled containers telemetry (#40487)
  cmd/security-agent/main_windows.go
  cmd/security-agent/subcommands/start/command.go
  pkg/config/setup/config.go
  pkg/security/agent/agent.go
  pkg/security/agent/agent_nix.go
  pkg/security/agent/agent_windows.go
  pkg/security/agent/prof_containers_telemetry.go
  pkg/security/agent/start.go
  pkg/security/agent/start_unsupported.go
  pkg/security/agent/telemetry_others.go
Due: copyright, go-mod-tidy

Update ImageResolver tests to account for async cache initialization
  pkg/clusteragent/admission/mutate/autoinstrumentation/image_resolver_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/injector_test.go
Due: copyright, go-mod-tidy

Removed panic from injectorWithImageTag option, added error log instead
  pkg/clusteragent/admission/mutate/autoinstrumentation/injector.go
Due: copyright, go-mod-tidy

[CWS] add support for activity dumps in direct sender (#40519)
  pkg/security/config/config.go
  pkg/security/module/cws.go
  pkg/security/module/msg_sender.go
  pkg/security/module/opts.go
  pkg/security/module/server.go
  pkg/security/resolvers/cgroup/model/types.go
  pkg/security/security_profile/storage/backend/forwarder.go
  pkg/security/tests/module_tester.go
Due: copyright, go-mod-tidy

[Dynamic Instrumentation] Reverting a line that activated Go DI on arbitrary Go processes (#40503)
  pkg/dyninst/procmon/analyze.go
Due: copyright, go-mod-tidy
