Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Remove inactive Android remnants (#45119)
  .gitignore
  pkg/gohai/platform/platform.go
  pkg/gohai/platform/platform_android.go
  pkg/gohai/processes/gops/process_info.go
Due: copyright, go-mod-tidy

Remove AIX-specific implementation from `pkg/trace/watchdog`
  deps/bzip2/overlay.BUILD.bazel
  omnibus/config/software/python3.rb
  pkg/config/setup/config_nix.go
  pkg/pidfile/pidfile_nix.go
  pkg/trace/watchdog/cpu.go
  pkg/trace/watchdog/cpu_aix.go
  pkg/util/hostname/container_stub.go
  pkg/util/log/setup/defaults_nix.go
  pkg/util/log/setup/log_nix.go
Due: copyright, go-mod-tidy

feat: implement mcp tools
  q_branch/mcp-evaluation/mcp/internal/server/server.go
  q_branch/mcp-evaluation/mcp/internal/tools/files/read.go
  q_branch/mcp-evaluation/mcp/internal/tools/files/search.go
  q_branch/mcp-evaluation/mcp/internal/tools/files/tail.go
  q_branch/mcp-evaluation/mcp/internal/tools/network/connections.go
  q_branch/mcp-evaluation/mcp/internal/tools/network/connectivity.go
  q_branch/mcp-evaluation/mcp/internal/tools/network/interfaces.go
  q_branch/mcp-evaluation/mcp/internal/tools/network/ports.go
  q_branch/mcp-evaluation/mcp/internal/tools/process/find.go
  q_branch/mcp-evaluation/mcp/internal/tools/process/info.go
  q_branch/mcp-evaluation/mcp/internal/tools/process/list.go
  q_branch/mcp-evaluation/mcp/internal/tools/sysinfo/env.go
  q_branch/mcp-evaluation/mcp/internal/tools/sysinfo/system.go
  q_branch/mcp-evaluation/mcp/internal/tools/system/cpu.go
  q_branch/mcp-evaluation/mcp/internal/tools/system/disk.go
  q_branch/mcp-evaluation/mcp/internal/tools/system/io.go
  q_branch/mcp-evaluation/mcp/internal/tools/system/memory.go
Due: copyright, go-mod-tidy

[CWS] Add subvolumeid
  pkg/security/ebpf/c/include/constants/offsets/filesystem.h
  pkg/security/probe/constantfetch/constant_names.go
  pkg/security/probe/constantfetch/fallback.go
Due: copyright, win-clang-format, go-mod-tidy

Add Slack notifications configuration for team management
  tasks/libs/pipeline/slack_notifications_config.yaml
Due: shell-check-no-set-x

Update test build tag
  pkg/cli/subcommands/workloadfilter/command_test.go
  pkg/cli/subcommands/workloadfilter/verify_config_cel_test.go
Due: copyright, go-mod-tidy

add poc for noisy neighbor
  .github/CODEOWNERS
  cmd/system-probe/modules/noisy_neighbor.go
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern.c
  pkg/collector/corechecks/ebpf/noisyneighbor/common.go
  pkg/collector/corechecks/ebpf/noisyneighbor/noisy_neighbor.go
  pkg/collector/corechecks/ebpf/noisyneighbor/stub.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types_linux.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types_linux_test.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/model/types.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe_stub.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe_test.go
  pkg/commonchecks/corechecks.go
  pkg/config/setup/system_probe.go
  pkg/ebpf/c/bpf_telemetry.h
  pkg/ebpf/c/telemetry_types.h
  pkg/ebpf/cgo/genpost.go
  pkg/ebpf/telemetry/errors_telemetry.go
  pkg/ebpf/telemetry/types_linux.go
  pkg/system-probe/config/config.go
  tasks/agent.py
  tasks/system_probe.py
Due: copyright, win-clang-format, go-mod-tidy

working module and check
  cmd/system-probe/modules/modules.go
  cmd/system-probe/modules/noisy_neighbor.go
  pkg/collector/corechecks/ebpf/noisyneighbor/noisy_neighbor.go
  pkg/collector/corechecks/ebpf/noisyneighbor/stub.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe.go
  pkg/commonchecks/corechecks.go
  pkg/commonchecks/corechecks_sysprobe.go
Due: copyright, go-mod-tidy

fix lint
  pkg/collector/corechecks/ebpf/noisyneighbor/stub.go
Due: copyright, go-mod-tidy

fix unit test
  pkg/ebpf/telemetry/errors_collector_linux_test.go
Due: copyright, go-mod-tidy

Upgrade Bazel Rust toolchain to 1.92.0 with edition 2024
  MODULE.bazel
  MODULE.bazel.lock
  pkg/fgm/observer/Cargo.lock
  pkg/fgm/observer/Cargo.toml
  pkg/fgm/observer/src/observer.rs
Due: none

psl/psp test build
  cmd/agent/dist/conf.d/noisy_neighbor.d/conf.yaml.example
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern.c
  pkg/collector/corechecks/ebpf/noisyneighbor/noisy_neighbor.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types_linux.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types_linux_test.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/model/types.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe.go
  pkg/config/setup/system_probe.go
  pkg/ebpf/bytecode/runtime/noisy-neighbor.go
  tasks/system_probe.py
Due: copyright, win-clang-format, go-mod-tidy

discovery: Add missing files from sd-agent import
  pkg/discovery/module/rust/src/bin/disco.rs
  pkg/discovery/module/rust/testdata/python/bin/WALinuxAgent.egg
  pkg/discovery/module/rust/testdata/python/usr/bin/pytest
Due: none

fix(cla): Use the correct yaml format
  .github/workflows/cla.yml
Due: shell-check-no-set-x

Add DD_MAX_PROTOCOL_CLASSIFICATION_ATTEMPTS
  pkg/config/setup/system_probe.go
  pkg/network/config/config.go
  pkg/network/ebpf/c/protocols/classification/protocol-classification.h
  pkg/network/ebpf/c/protocols/classification/shared-tracer-maps.h
  pkg/network/ebpf/c/tracer/telemetry.h
  pkg/network/ebpf/c/tracer/tracer.h
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/tracer/connection/ebpf_tracer.go
Due: copyright, win-clang-format, go-mod-tidy

remove gpu workload
  test/e2e-framework/components/datadog/apps/gpu/k8s.go
  test/e2e-framework/scenarios/aws/eks/run.go
Due: copyright, go-mod-tidy

[CONTP-1184] Support GPU instance in EKS cluster
  test/e2e-framework/components/datadog/apps/gpu/k8s.go
  test/e2e-framework/components/datadog/kubernetesagentparams/params.go
  test/e2e-framework/resources/aws/eks/nodeGroups.go
  test/e2e-framework/resources/aws/eks/nodes_versions.json
  test/e2e-framework/resources/aws/environment.go
  test/e2e-framework/resources/aws/environmentDefaults.go
  test/e2e-framework/scenarios/aws/eks/args.go
  test/e2e-framework/scenarios/aws/eks/cluster.go
  test/e2e-framework/scenarios/aws/eks/run.go
  test/e2e-framework/tasks/aws/eks.py
  test/e2e-framework/tasks/doc.py
  test/e2e-framework/tasks/eks.py
Due: copyright, go-mod-tidy

delete node label
  test/e2e-framework/resources/aws/eks/nodeGroups.go
  test/e2e-framework/scenarios/aws/eks/cluster.go
Due: copyright, go-mod-tidy

remove linux/bottlerocket node
  test/e2e-framework/scenarios/aws/eks/cluster.go
  test/e2e-framework/tasks/aws/eks.py
Due: copyright, go-mod-tidy

disable arm node for GPU node group
  test/e2e-framework/tasks/aws/eks.py
Due: none

add nvidia label
  test/e2e-framework/resources/aws/eks/nodeGroups.go
  test/e2e-framework/scenarios/aws/eks/cluster.go
  test/e2e-framework/scenarios/aws/eks/run.go
Due: copyright, go-mod-tidy

Switch FGM observer to git dependency for lading-observer
  pkg/fgm/observer/Cargo.lock
  pkg/fgm/observer/Cargo.toml
Due: none

Fix tests
  pkg/fleet/installer/packages/datadog_agent_hooks_test.go
Due: copyright, go-mod-tidy

Try to fix rtloader make so it works locally
  docs/dev/checks/README.md
  tasks/libs/common/utils.py
  tasks/rtloader.py
Due: none

Reapply "feat(review): Automatically call for review when a PR become… (#45126)
  .github/workflows/ask_review.yml
  .github/workflows/label-analysis.yml
  tasks/issue.py
  tasks/libs/ciproviders/github_api.py
  tasks/unit_tests/issue_tests.py
Due: shell-check-no-set-x

[SGC]: run `dda inv tidy` after merge
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

Added tests for enabled, disabled, and excludepaths
  pkg/logs/launchers/file/provider/file_provider_test.go
Due: copyright, go-mod-tidy

gofmt
  pkg/logs/launchers/file/provider/file_provider_test.go
Due: copyright, go-mod-tidy

Update workflow title and body
  .github/workflows/update-kubernetes-versions.yml
Due: shell-check-no-set-x

refactor: add setup and teardown scripts for each scenario
  q_branch/mcp-evaluation/lima.yaml
  q_branch/mcp-evaluation/scenarios/connection-exhaustion/setup.sh
  q_branch/mcp-evaluation/scenarios/connection-exhaustion/teardown.sh
  q_branch/mcp-evaluation/scenarios/context-switching-storm/setup.sh
  q_branch/mcp-evaluation/scenarios/context-switching-storm/teardown.sh
  q_branch/mcp-evaluation/scenarios/disk-space-full/setup.sh
  q_branch/mcp-evaluation/scenarios/disk-space-full/teardown.sh
  q_branch/mcp-evaluation/scenarios/disk-space-full/workload.py
  q_branch/mcp-evaluation/scenarios/dns-resolution-failure/setup.sh
  q_branch/mcp-evaluation/scenarios/dns-resolution-failure/teardown.sh
  q_branch/mcp-evaluation/scenarios/file-descriptor-leak/setup.sh
  q_branch/mcp-evaluation/scenarios/file-descriptor-leak/teardown.sh
  q_branch/mcp-evaluation/scenarios/high-cpu-usage/setup.sh
  q_branch/mcp-evaluation/scenarios/high-cpu-usage/teardown.sh
  q_branch/mcp-evaluation/scenarios/inode-exhaustion/setup.sh
  q_branch/mcp-evaluation/scenarios/inode-exhaustion/teardown.sh
  q_branch/mcp-evaluation/scenarios/io-wait/setup.sh
  q_branch/mcp-evaluation/scenarios/io-wait/teardown.sh
  q_branch/mcp-evaluation/scenarios/log-rotation-failure/setup.sh
  q_branch/mcp-evaluation/scenarios/log-rotation-failure/teardown.sh
  q_branch/mcp-evaluation/scenarios/memory-leak/setup.sh
  q_branch/mcp-evaluation/scenarios/memory-leak/teardown.sh
  q_branch/mcp-evaluation/scenarios/port-conflict/setup.sh
  q_branch/mcp-evaluation/scenarios/port-conflict/teardown.sh
  q_branch/mcp-evaluation/scenarios/swap-thrashing/setup.sh
  q_branch/mcp-evaluation/scenarios/swap-thrashing/teardown.sh
  q_branch/mcp-evaluation/scenarios/tcp-close-wait/setup.sh
  q_branch/mcp-evaluation/scenarios/tcp-close-wait/teardown.sh
  q_branch/mcp-evaluation/scenarios/tcp-syn-flood/setup.sh
  q_branch/mcp-evaluation/scenarios/tcp-syn-flood/teardown.sh
  q_branch/mcp-evaluation/scenarios/zombie-processes/setup.sh
  q_branch/mcp-evaluation/scenarios/zombie-processes/teardown.sh
  q_branch/mcp-evaluation/scripts/start-vm.sh
  q_branch/mcp-evaluation/scripts/teardown-vm.sh
Due: shell-check-no-set-x

[CWS] do not use bpf cgroup helper
  pkg/security/ebpf/c/include/hooks/network/tc.h
Due: win-clang-format

Expand comment for AdditionalProfileTags config
  pkg/trace/config/config.go
Due: copyright, go-mod-tidy

...
  pkg/network/ebpf/c/protocols/classification/defs.h
  pkg/network/ebpf/c/protocols/classification/protocol-classification.h
  pkg/network/ebpf/c/protocols/classification/shared-tracer-maps.h
  pkg/network/ebpf/c/tracer/telemetry.h
  pkg/network/ebpf/c/tracer/tracer.h
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/tracer/connection/ebpf_tracer.go
Due: copyright, win-clang-format, go-mod-tidy

...
  pkg/network/ebpf/c/protocols/classification/protocol-classification.h
  pkg/network/tracer/connection/ebpf_tracer.go
Due: copyright, win-clang-format, go-mod-tidy

Use defaultRunPath instead of /var/run/datadog string for default ipc socket path
  pkg/config/setup/config.go
  test/new-e2e/tests/agent-configuration/config-refresh/fixtures/config.yaml.tmpl
Due: copyright, go-mod-tidy

addressing reviews - centralized verinfo, tidied tags/headers
  pkg/util/lsof/modules_other.go
  pkg/util/lsof/modules_windows.go
  pkg/util/winutil/fileverinfo_other.go
  pkg/util/winutil/fileverinfo_windows.go
  pkg/util/winutil/winver.go
Due: copyright, go-mod-tidy

refactor: incorporate logrotate.conf into log rotation scenario
  q_branch/mcp-evaluation/cluster.py
  q_branch/mcp-evaluation/scenarios/log-rotation-failure/logrotate.conf
  q_branch/mcp-evaluation/scenarios/log-rotation-failure/setup.sh
  q_branch/mcp-evaluation/scenarios/log-rotation-failure/teardown.sh
Due: shell-check-no-set-x

Add release note
  releasenotes/notes/apm-conv-agent-ac9f935f69589576.yaml
Due: shell-check-no-set-x

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
