Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

Skip `bazel:.*windows.*` jobs if requested
  .gitlab/build/bazel/build-deps.yml
  .gitlab/build/bazel/test.yml
Due: shell-check-no-set-x, gitlab-configuration

Add release note.
  releasenotes/notes/windows-cnm-tcp-failure-closed-count-6d50f489bd7d242f.yaml
Due: shell-check-no-set-x

Add Phase 3 signals: loss-moment context, window fields, and ECN negotiation.
  pkg/network/ebpf/c/co-re/tracer-fentry.c
  pkg/network/ebpf/c/tracer.c
  pkg/network/ebpf/c/tracer/stats.h
  pkg/network/ebpf/c/tracer/tracer.h
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/event_common.go
  pkg/network/event_common_linux.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_linux_test.go
Due: copyright, win-clang-format, go-mod-tidy

ignore "no such process" error in container store
  pkg/network/containers/container_item_linux.go
Due: copyright, go-mod-tidy

Track min-over-interval for snd_wnd/rcv_wnd to detect zero-window conditions.
  pkg/network/ebpf/c/tracer/stats.h
  pkg/network/ebpf/c/tracer/tracer.h
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/event_common.go
  pkg/network/event_common_linux.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_linux_test.go
Due: copyright, win-clang-format, go-mod-tidy

Added some optimisations
  comp/filterlist/impl/tagfilterlist.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/context_resolver_bench_test.go
  pkg/metrics/histogram_bucket.go
  pkg/tagset/hashing_tags_accumulator.go
Due: copyright, go-mod-tidy

Mac logon duration
  cmd/agent/subcommands/run/command_notwin.go
  cmd/system-probe/modules/logon_duration_darwin.go
  cmd/system-probe/modules/modules.go
  comp/core/gui/guiimpl/systray/Sources/DesktopReadyTracker.swift
  comp/core/gui/guiimpl/systray/Sources/WiFiIPCServer.swift
  comp/core/gui/guiimpl/systray/Sources/gui.swift
  comp/core/gui/guiimpl/systray/Sources/main.swift
  comp/logonduration/fx/fx.go
  comp/logonduration/impl/impl_darwin.go
  comp/logonduration/impl/impl_noop.go
  comp/logonduration/impl/impl_windows.go
  docs/dev/macos_boot_logon_duration.md
  docs/dev/macos_boot_logon_solutions.md
  pkg/config/setup/system_probe.go
  pkg/logonduration/timestamps.go
  pkg/logonduration/timestamps_darwin.go
  pkg/logonduration/timestamps_darwin.m
  pkg/logonduration/timestamps_noop.go
  pkg/system-probe/config/config.go
  pkg/system-probe/config/ns.go
Due: copyright, go-mod-tidy

Mac logon duration
  cmd/agent/subcommands/run/command_notwin.go
  cmd/system-probe/modules/logon_duration_darwin.go
  cmd/system-probe/modules/modules.go
  comp/core/gui/guiimpl/systray/Sources/DesktopReadyTracker.swift
  comp/core/gui/guiimpl/systray/Sources/WiFiIPCServer.swift
  comp/core/gui/guiimpl/systray/Sources/gui.swift
  comp/core/gui/guiimpl/systray/Sources/main.swift
  comp/logonduration/fx/fx.go
  comp/logonduration/impl/impl_darwin.go
  comp/logonduration/impl/impl_noop.go
  comp/logonduration/impl/impl_windows.go
  pkg/config/setup/system_probe.go
  pkg/logonduration/timestamps.go
  pkg/logonduration/timestamps_darwin.go
  pkg/logonduration/timestamps_darwin.m
  pkg/logonduration/timestamps_noop.go
  pkg/system-probe/config/config.go
  pkg/system-probe/config/ns.go
Due: copyright, go-mod-tidy

Add benchmarks
  test/regression/cases/tagfilter_0tags/datadog-agent/datadog.yaml
  test/regression/cases/tagfilter_0tags/experiment.yaml
  test/regression/cases/tagfilter_0tags/lading/lading.yaml
  test/regression/cases/tagfilter_100metrics/datadog-agent/datadog.yaml
  test/regression/cases/tagfilter_100metrics/experiment.yaml
  test/regression/cases/tagfilter_100metrics/lading/.#lading.yaml
  test/regression/cases/tagfilter_100metrics/lading/lading.yaml
  test/regression/cases/tagfilter_500metrics/datadog-agent/datadog.yaml
  test/regression/cases/tagfilter_500metrics/experiment.yaml
  test/regression/cases/tagfilter_500metrics/lading/lading.yaml
Due: shell-check-no-set-x

Revert "Extend progressive cache to `bazel`-managed Go and `pip` (#47007)"
  .gitlab/build/bazel/defs.yml
  tools/bazel
  tools/bazel.bat
Due: shell-check-no-set-x, gitlab-configuration

Revert "Extend progressive cache to `bazel`-managed Go and `pip` (#47007)" (#47083)
  .gitlab/build/bazel/defs.yml
  tools/bazel
  tools/bazel.bat
Due: shell-check-no-set-x, gitlab-configuration

Handle race conditions for configmap creation
  pkg/clusteragent/admission/mutate/agent_sidecar/cert_utils.go
  pkg/clusteragent/admission/mutate/agent_sidecar/cert_utils_test.go
Due: copyright, go-mod-tidy

feat: adding traces to cluster agent (#46735)
  pkg/clusteragent/api/handler_telemetry.go
  pkg/clusteragent/api/handler_telemetry_test.go
  pkg/clusteragent/clusterchecks/handler.go
  pkg/clusteragent/clusterchecks/handler_tracing_test.go
Due: copyright, go-mod-tidy

Refactor process manager: extract modules, add ProcessState, and restart policies
  pkg/procmgr/rust/Cargo.toml
  pkg/procmgr/rust/src/config.rs
  pkg/procmgr/rust/src/env.rs
  pkg/procmgr/rust/src/main.rs
  pkg/procmgr/rust/src/process.rs
  pkg/procmgr/rust/src/shutdown.rs
  pkg/procmgr/rust/src/state.rs
  releasenotes/notes/dd-procmgrd-restart-policies-d844000553eb4954.yaml
Due: shell-check-no-set-x

Add integration tests for dd-procmgrd with Bazel test targets
  pkg/procmgr/rust/BUILD.bazel
  pkg/procmgr/rust/Cargo.toml
  pkg/procmgr/rust/tests/helpers/mod.rs
  pkg/procmgr/rust/tests/integration.rs
Due: none

Fix Clippy warnings and skip permission test when running as root
  pkg/procmgr/rust/src/config.rs
  pkg/procmgr/rust/src/process.rs
Due: none

Enable nix "user" feature for root detection in unit test
  pkg/procmgr/rust/Cargo.toml
Due: none

Move configs declaration closer to its first use in load_configs
  pkg/procmgr/rust/src/config.rs
Due: none

Fix rustfmt formatting in integration test files
  pkg/procmgr/rust/tests/helpers/mod.rs
  pkg/procmgr/rust/tests/integration.rs
Due: none

Fix Bazel test deps: use @crates instead of undefined @procmgrd_crates
  pkg/procmgr/rust/BUILD.bazel
Due: none

Remove redundant [profile.release] from member Cargo.toml
  pkg/procmgr/rust/Cargo.toml
Due: none

Fix dangerous PID unwrap_or(0) in spawn
  pkg/procmgr/rust/src/process.rs
Due: none

Cap RestartTracker timestamps to prevent unbounded growth
  pkg/procmgr/rust/src/process.rs
Due: none

Kill child process on watcher wait error
  pkg/procmgr/rust/src/main.rs
Due: none

Add release-mode guard for invalid state transitions
  pkg/procmgr/rust/src/process.rs
Due: none

Added newline at end of file
  pkg/procmgr/rust/Cargo.toml
Due: none

Fix mark_stopped race by awaiting watcher JoinHandle
  pkg/procmgr/rust/src/main.rs
  pkg/procmgr/rust/src/process.rs
  pkg/procmgr/rust/src/shutdown.rs
Due: none

fix clippy: collapse nested if into else-if condition
  pkg/procmgr/rust/src/process.rs
Due: none

fix rustfmt: break long timeout chain into multiple lines
  pkg/procmgr/rust/src/process.rs
Due: none

lint
  pkg/aggregator/aggregator.go
Due: copyright, go-mod-tidy

[procmgrd] Add restart policies with backoff and burst limiting (#46880)
  pkg/procmgr/rust/BUILD.bazel
  pkg/procmgr/rust/Cargo.toml
  pkg/procmgr/rust/src/config.rs
  pkg/procmgr/rust/src/env.rs
  pkg/procmgr/rust/src/main.rs
  pkg/procmgr/rust/src/process.rs
  pkg/procmgr/rust/src/shutdown.rs
  pkg/procmgr/rust/src/state.rs
  pkg/procmgr/rust/tests/helpers/mod.rs
  pkg/procmgr/rust/tests/integration.rs
  releasenotes/notes/dd-procmgrd-restart-policies-d844000553eb4954.yaml
Due: shell-check-no-set-x

(update 3rd party licences list)
  LICENSE-3rdparty.csv
Due: none

(regenerate collector)
  comp/otelcol/collector-contrib/impl/components.go
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

The BYOC requires the contrib version, not the core version
  .gitlab/test/integration_test/otel.yml
Due: shell-check-no-set-x, gitlab-configuration

Core and contrib versions may or may not be equal, store both in collector.py
  tasks/collector.py
  tasks/gotest.py
Due: none

(add go mod replace)
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
Due: check-go-modules-in-python, protocol-buffer

Update otel configuration baselines
  test/new-e2e/tests/otel/otel-agent/testdata/minimal-full-config-datadogextension.yml
  test/new-e2e/tests/otel/otel-agent/testdata/minimal-full-config.yml
  test/new-e2e/tests/otel/otel-agent/testdata/no-dd-exporter-full-config.yml
  test/new-e2e/tests/otel/otel-agent/testdata/no-dd-exporter-provided-config.yml
Due: shell-check-no-set-x

[ABLD-250] Sign jmxfetch with a bazel rule Got it working, but skip signing is backwards. Sign should not be the default. Skipping should.
  MODULE.bazel
  bazel/BUILD.bazel
  bazel/constants.bzl
  bazel/rules/macos/codesign/BUILD.bazel
  bazel/rules/macos/codesign/Entitlements.plist
  bazel/rules/macos/codesign/code_sign_jar_macos.bzl
  bazel/rules/macos/codesign/sign_jar_macos.sh
  deps/jmxfetch/BUILD.bazel
  omnibus/config/software/datadog-agent-dependencies.rb
  pkg/procmgr/rust/BUILD.bazel
  pkg/procmgr/rust/Cargo.toml
  pkg/procmgr/rust/src/config.rs
  pkg/procmgr/rust/src/env.rs
  pkg/procmgr/rust/src/main.rs
  pkg/procmgr/rust/src/process.rs
  pkg/procmgr/rust/src/shutdown.rs
  pkg/procmgr/rust/src/state.rs
  pkg/procmgr/rust/tests/helpers/mod.rs
  pkg/procmgr/rust/tests/integration.rs
  releasenotes/notes/dd-procmgrd-restart-policies-d844000553eb4954.yaml
  tasks/omnibus.py
Due: shell-check-no-set-x

lost a commit
  tasks/omnibus.py
Due: none
