Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$

add serialization part
  docs/cloud-workload-security/backend_linux.schema.json
  pkg/security/module/server.go
  pkg/security/probe/discarders_test.go
  pkg/security/probe/selftests/tester.go
  pkg/security/secl/compiler/eval/context.go
  pkg/security/secl/compiler/eval/eval_test.go
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/serializers/serializers_base.go
  pkg/security/serializers/serializers_base_linux_easyjson.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/serializers/serializers_windows.go
Due: copyright, go-mod-tidy

add rule expression
  docs/cloud-workload-security/backend_linux.schema.json
  pkg/security/rules/engine.go
  pkg/security/rules/filtermodel/os_only_filter.go
  pkg/security/secl/compiler/eval/context.go
  pkg/security/secl/model/model.go
  pkg/security/serializers/serializers_base.go
  pkg/security/serializers/serializers_base_linux_easyjson.go
  pkg/security/tests/module_tester.go
  pkg/security/tests/module_tester_linux.go
Due: copyright, go-mod-tidy

fix serializer
  pkg/security/secl/model/model.go
  pkg/security/serializers/serializers_base_linux_easyjson.go
  pkg/security/serializers/serializers_linux_easyjson.go
Due: copyright, go-mod-tidy

fix lint
  docs/cloud-workload-security/backend_linux.md
  docs/cloud-workload-security/backend_linux.schema.json
  pkg/security/rules/filtermodel/rule_filters_model_other.go
  pkg/security/serializers/serializers_linux_easyjson.go
Due: copyright, go-mod-tidy

fix after rebase
  pkg/security/seclwin/model/accessors_win.go
  pkg/security/seclwin/model/model.go
Due: copyright, go-mod-tidy

use string
  docs/cloud-workload-security/backend_linux.md
  docs/cloud-workload-security/backend_linux.schema.json
  pkg/security/secl/compiler/eval/context.go
  pkg/security/serializers/serializers_base.go
Due: copyright, go-mod-tidy

fix copyright
  pkg/security/secl/compiler/eval/eval_test.go
Due: copyright, go-mod-tidy

fix lint
  pkg/security/secl/compiler/eval/context.go
  pkg/security/secl/compiler/eval/evaluators.go
  pkg/security/secl/compiler/eval/strings.go
  pkg/security/serializers/serializers_base.go
Due: copyright, go-mod-tidy

sync model
  pkg/security/seclwin/model/model.go
Due: copyright, go-mod-tidy

fix other serializer
  pkg/security/serializers/serializers_others.go
Due: copyright, go-mod-tidy

[Backport 7.65.x] [SBOM] Fix running state for container images excluded from SBOM generation (#35802)
  pkg/collector/corechecks/sbom/processor.go
Due: copyright, go-mod-tidy

Use isolated config
  rtloader/three/three.cpp
Due: win-clang-format

address review
  pkg/fleet/installer/packages/datadog_agent.go
  pkg/fleet/installer/packages/systemd/systemd.go
Due: copyright, go-mod-tidy

[FA] Add startAgent to the trace (#35720)
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/command_windows.go
  comp/core/agenttelemetry/def/component.go
  comp/core/agenttelemetry/impl/agenttelemetry.go
  pkg/fleet/installer/telemetry/span.go
Due: copyright, go-mod-tidy

add prerm command
  pkg/fleet/daemon/daemon_test.go
  pkg/fleet/installer/commands/command.go
  pkg/fleet/installer/commands/command_mock.go
  pkg/fleet/installer/exec/installer_exec.go
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/packages/datadog_agent.go
  pkg/fleet/installer/packages/datadog_agent_windows.go
Due: copyright, go-mod-tidy

fix concurrency
  comp/core/autodiscovery/listeners/snmp.go
Due: copyright, go-mod-tidy

[test/integration] Delete zookeeper AD config provider test
  tasks/agent.py
  tasks/gointegrationtest.py
  test/integration/config_providers/zookeeper/testdata/zk.compose
  test/integration/config_providers/zookeeper/zookeeper_provider_test.go
Due: copyright, go-mod-tidy

?
  rtloader/three/three.cpp
Due: win-clang-format

[CWS] remove usage of `modernc.org/sqlite` in functional tests
  pkg/util/trivy/sqlite.go
  pkg/util/trivy/sqlite_functests.go
Due: copyright, go-mod-tidy

[CWS] add option to enable span tracking
  pkg/config/setup/system_probe.go
  pkg/security/ebpf/c/include/maps.h
  pkg/security/ebpf/probes/all.go
  pkg/security/probe/config/config.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/tests/module_tester_linux.go
Due: copyright, win-clang-format, go-mod-tidy

[OTAGENT-320] Use ddprofilingextension for internal profiling of the otel agent (#35798)
  cmd/otel-agent/subcommands/run/command.go
  comp/trace/agent/impl/agent.go
  comp/trace/agent/impl/params.go
  comp/trace/agent/impl/run.go
  comp/trace/agent/impl/run_test.go
Due: copyright, go-mod-tidy

[CWS] onboard `cws-instrumentation` to deps diff system
  tasks/diff.py
Due: none

[test-macos-build-runners] Try runner
  .gitlab/lint/macos.yml
  .gitlab/source_test/macos.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[build-macos-gitlabci] Fixed syntax
  .gitlab/package_build/dmg.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

tidy + licenses
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python

Add rules for cursor to interact with Gitlab and explain job failures
  .cursor/rules/giltab-interactions.mdc
  tasks/gitlab_helpers.py
Due: none

Update buildimages to use the 7.64.x branch with go 1.23.8
  .circleci/config.yml
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Update Go version to 1.23.8
  .circleci/config.yml
  .gitlab-ci.yml
  .go-version
  .wwhrd.yml
  comp/api/authtoken/go.mod
  comp/core/log/impl-trace/go.mod
  comp/core/status/statusimpl/go.mod
  devenv/scripts/Install-DevEnv.ps1
  docs/dev/agent_dev_env.md
  go.mod
  releasenotes/notes/bump-go-to-1.23.8-f7022a18227cafe4.yaml
  tasks/go.py
  test/fakeintake/Dockerfile
  test/new-e2e/go.mod
  tools/gdb/Dockerfile
Due: go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

OTAGENT-360 add infraattributes processor to ocb build script (#35774)
  test/otel/testdata/collector-config.yaml
  test/otel/testdata/ocb_build_script.sh
Due: shell-check-no-set-x

FIx test
  pkg/gpu/context_test.go
Due: copyright, go-mod-tidy

changing the output of the Warning function to []error
  pkg/config/model/types.go
  pkg/config/nodetreemodel/config.go
  pkg/config/nodetreemodel/config_test.go
  pkg/config/nodetreemodel/read_config_file.go
  pkg/config/nodetreemodel/read_config_file_test.go
  pkg/config/setup/config_test.go
  pkg/config/teeconfig/teeconfig.go
  pkg/config/viperconfig/viper.go
Due: copyright, go-mod-tidy

Remove orchestrator config as it is no longer used in the process/runner
  pkg/process/runner/runner.go
Due: copyright, go-mod-tidy

Encapsulate error
  rtloader/three/three.cpp
Due: win-clang-format

make sure IsDest is preserved
  pkg/networkpath/traceroute/common/traceroute_parallel.go
  pkg/networkpath/traceroute/common/traceroute_parallel_test.go
Due: copyright, go-mod-tidy

[NPM-4178] Add second goroutine to ParallelTraceroute for ICMP
  pkg/networkpath/traceroute/common/traceroute_parallel.go
  pkg/networkpath/traceroute/common/traceroute_parallel_test.go
Due: copyright, go-mod-tidy

[test/integration] Delete zookeeper AD config provider test (#35824)
  tasks/agent.py
  tasks/gointegrationtest.py
  test/integration/config_providers/zookeeper/testdata/zk.compose
  test/integration/config_providers/zookeeper/zookeeper_provider_test.go
Due: copyright, go-mod-tidy

Update buildimages to include the setuptools fix commit
  .circleci/config.yml
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

move to tests funcs
  pkg/security/secl/compiler/eval/context.go
  pkg/security/secl/compiler/eval/context_functests.go
  pkg/security/serializers/serializers_others.go
Due: copyright, go-mod-tidy

discovery: use wmeta and tagger directly (#35463)
  pkg/collector/corechecks/servicediscovery/module/comm_test.go
  pkg/collector/corechecks/servicediscovery/module/config_test.go
  pkg/collector/corechecks/servicediscovery/module/ignore_proc_test.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/module/network_test.go
Due: copyright, go-mod-tidy
