Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

feat(clusteragent): add hardening mutating webhook
  pkg/clusteragent/admission/mutate/hardening/BUILD.bazel
  pkg/clusteragent/admission/mutate/hardening/webhook.go
  pkg/clusteragent/admission/mutate/hardening/webhook_test.go
Due: copyright, go-mod-tidy

fix(clusteragent): isolate configmock in hardening webhook tests
  pkg/clusteragent/admission/mutate/hardening/webhook_test.go
Due: copyright, go-mod-tidy

feat(clusteragent): add hardening leader controller and Start
  pkg/clusteragent/hardening/BUILD.bazel
  pkg/clusteragent/hardening/controller.go
  pkg/clusteragent/hardening/controller_test.go
Due: copyright, go-mod-tidy

fix(clusteragent): retry transient dry-run errors in hardening controller
  pkg/clusteragent/hardening/controller.go
  pkg/clusteragent/hardening/controller_test.go
Due: copyright, go-mod-tidy

feat(clusteragent): wire workload hardening into cluster agent start
  cmd/cluster-agent/subcommands/start/BUILD.bazel
  cmd/cluster-agent/subcommands/start/command.go
  pkg/clusteragent/admission/BUILD.bazel
  pkg/clusteragent/admission/controllers/webhook/BUILD.bazel
  pkg/clusteragent/admission/controllers/webhook/controller_base.go
  pkg/clusteragent/admission/controllers/webhook/controller_base_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1_test.go
  pkg/clusteragent/admission/start.go
Due: copyright, go-mod-tidy

fix(clusteragent): close hardening review findings on capabilities and rollout safety
  pkg/clusteragent/hardening/BUILD.bazel
  pkg/clusteragent/hardening/controller.go
  pkg/clusteragent/hardening/controller_test.go
  pkg/clusteragent/hardening/render.go
  pkg/clusteragent/hardening/render_test.go
  pkg/clusteragent/hardening/request.go
  pkg/clusteragent/hardening/request_test.go
Due: copyright, go-mod-tidy

fix(cluster-agent): make flare archive naming safe
  pkg/flare/clusteragent/BUILD.bazel
  pkg/flare/clusteragent/identity.go
  pkg/flare/clusteragent/identity_nocompile.go
  pkg/flare/clusteragent/rc_task.go
  pkg/flare/clusteragent/rc_task_test.go
Due: copyright, go-mod-tidy

fix(cluster-agent): identify remote flare archives
  pkg/flare/clusteragent/BUILD.bazel
  pkg/flare/clusteragent/rc_task.go
  pkg/flare/clusteragent/rc_task_test.go
Due: copyright, go-mod-tidy

test(npm): address TCP congestion e2e review comments
  test/new-e2e/tests/npm/common_1host.go
  test/new-e2e/tests/npm/ec2_1host_tcp_congestion_test.go
Due: copyright, go-mod-tidy

Fix triggered files with pre-existing broken links
  comp/otelcol/README.md
  comp/otelcol/dogtelextension/README.md
Due: none

[CONS-8547] Add e2e coverage for the logs service from annotations-as-tags
  comp/core/tagger/k8s_metadata/k8s_metadata.go
  test/e2e-framework/components/datadog/apps/nginx/k8s.go
  test/new-e2e/tests/containers/k8s_test.go
  test/new-e2e/tests/containers/values.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

bump qg limits
  test/regression/cases/quality_gate_idle/experiment.yaml
  test/regression/cases/quality_gate_idle_all_features/experiment.yaml
  test/regression/cases/quality_gate_security_idle/experiment.yaml
  test/regression/cases/quality_gate_security_mean_fs_load/experiment.yaml
  test/regression/cases/quality_gate_security_no_fs_load/experiment.yaml
Due: shell-check-no-set-x

[OTel] Map Azure Functions sources (#56773)
  comp/otelcol/otlp/components/exporter/serializerexporter/consumer_collector_test.go
  pkg/opentelemetry-mapping-go/otlp/attributes/source.go
  pkg/opentelemetry-mapping-go/otlp/attributes/source/source_provider.go
  pkg/opentelemetry-mapping-go/otlp/attributes/source_test.go
  pkg/opentelemetry-mapping-go/otlp/metrics/BUILD.bazel
  pkg/opentelemetry-mapping-go/otlp/metrics/azure_functions_test.go
  pkg/opentelemetry-mapping-go/otlp/metrics/metrics_translator.go
  pkg/opentelemetry-mapping-go/otlp/metrics/minimal_translator.go
Due: copyright, go-mod-tidy

[FA] Better identify Cluster Agent flare archives (#56313)
  pkg/flare/clusteragent/BUILD.bazel
  pkg/flare/clusteragent/identity.go
  pkg/flare/clusteragent/identity_nocompile.go
  pkg/flare/clusteragent/rc_task.go
  pkg/flare/clusteragent/rc_task_test.go
Due: copyright, go-mod-tidy

[ABLD-351] Add package_metadata declarations to some of the C dependencies.
  deps/jemalloc.BUILD.bazel
  deps/libffi.BUILD.bazel
  deps/libyaml.BUILD.bazel
  deps/patchelf.BUILD.bazel
  deps/popt.BUILD.bazel
  deps/sqlite3.BUILD.bazel
  deps/unixodbc.BUILD.bazel
  deps/xz.BUILD.bazel
  deps/zlib.BUILD.bazel
  deps/zstd.BUILD.bazel
Due: none

fix version for xz
  deps/xz.BUILD.bazel
Due: none

checkpoint sbom generation work to share
  MODULE.bazel
  deps/jemalloc.BUILD.bazel
  deps/libffi.BUILD.bazel
  deps/libyaml.BUILD.bazel
  deps/patchelf.BUILD.bazel
  deps/popt.BUILD.bazel
  deps/sqlite3.BUILD.bazel
  deps/unixodbc.BUILD.bazel
  deps/xz.BUILD.bazel
  deps/zlib.BUILD.bazel
  deps/zstd.BUILD.bazel
  zzz_sbom/BUILD.bazel
  zzz_sbom/Makefile
  zzz_sbom/gather_metadata/core.bzl
  zzz_sbom/gather_metadata/serialization.bzl
Due: none

[ABLD-351] Add package_metadata declarations to nested C dependencies
  deps/bzip2/overlay.BUILD.bazel
  deps/curl/overlay/overlay.BUILD.bazel
  deps/dbus/dbus.BUILD.bazel
  deps/krb5/krb5.BUILD.bazel
  deps/libxml2/overlay.BUILD.bazel
  deps/libxslt/overlay.BUILD.bazel
  deps/lua/lua.BUILD.bazel
  deps/msodbcsql18/BUILD.bazel
  deps/nghttp2/nghttp2.BUILD.bazel
  deps/rpm/rpm.BUILD.bazel
Due: none

[ABLD-351] Add package_metadata declaration to deps/xmlsec
  deps/xmlsec/xmlsec.BUILD.bazel
Due: none

Fix wrong package name in libselinux's package_metadata PURL
  deps/libselinux.BUILD.bazel
Due: none

linty.fresh
  deps/bzip2/overlay.BUILD.bazel
  deps/curl/overlay/overlay.BUILD.bazel
  deps/dbus/dbus.BUILD.bazel
  deps/krb5/krb5.BUILD.bazel
  deps/libxml2/overlay.BUILD.bazel
  deps/libxslt/overlay.BUILD.bazel
  deps/lua/lua.BUILD.bazel
  deps/msodbcsql18/BUILD.bazel
  deps/nghttp2/nghttp2.BUILD.bazel
  deps/rpm/rpm.BUILD.bazel
Due: none

lint
  deps/libselinux.BUILD.bazel
  deps/xmlsec/xmlsec.BUILD.bazel
Due: none

fix.merge
  deps/libxslt/overlay.BUILD.bazel
  deps/nghttp2/nghttp2.BUILD.bazel
  deps/rpm/rpm.BUILD.bazel
Due: none

Consolidate Windows installer e2e procmgr helpers and assert process-agent under dd-procmgr
  test/new-e2e/tests/installer/windows/agent_config_test.go
  test/new-e2e/tests/installer/windows/ddot_install_test.go
  test/new-e2e/tests/installer/windows/ddot_msi_install_test.go
  test/new-e2e/tests/installer/windows/ddot_procmgr.go
  test/new-e2e/tests/installer/windows/persisting_extensions_test.go
  test/new-e2e/tests/installer/windows/procmgr.go
Due: copyright, go-mod-tidy

Update installer Windows e2e BUILD.bazel for procmgr.go rename
  test/new-e2e/tests/installer/windows/BUILD.bazel
Due: none

Fixups
  test/fakeintake/version/VERSION
Due: none

Add info about how long it takes to build binaries
  tasks/new_e2e_tests.py
Due: none

remove no longer relevant comment
  .gitlab/test/e2e/e2e_ssi.yml
Due: shell-check-no-set-x, gitlab-configuration

Don't set target_compatible_with based on tag presence
  bazel/rules/go/dd_agent_go_test.bzl
  pkg/logs/launchers/journald/BUILD.bazel
  pkg/logs/launchers/journald/launcher.go
  pkg/logs/launchers/journald/launcher_nosystemd.go
  pkg/logs/launchers/journald/launcher_test.go
Due: copyright, go-mod-tidy

Add linux build constraints to `pkg/logs/tailers/journald` as well
  pkg/logs/tailers/journald/BUILD.bazel
  pkg/logs/tailers/journald/docker.go
  pkg/logs/tailers/journald/docker_test.go
  pkg/logs/tailers/journald/journal_factory.go
  pkg/logs/tailers/journald/tailer.go
  pkg/logs/tailers/journald/tailer_test.go
  pkg/logs/tailers/journald/tailer_util.go
Due: copyright, go-mod-tidy

Add linux constraint to pair with `jetson`
  pkg/collector/corechecks/nvidia/jetson/BUILD.bazel
  pkg/collector/corechecks/nvidia/jetson/cpuMetricsSender.go
  pkg/collector/corechecks/nvidia/jetson/gpuMetricsSender.go
  pkg/collector/corechecks/nvidia/jetson/iramMetricsSender.go
  pkg/collector/corechecks/nvidia/jetson/jetson.go
  pkg/collector/corechecks/nvidia/jetson/jetson_test.go
  pkg/collector/corechecks/nvidia/jetson/metricsSender.go
  pkg/collector/corechecks/nvidia/jetson/powerMetricsSender.go
  pkg/collector/corechecks/nvidia/jetson/ramMetricsSender.go
  pkg/collector/corechecks/nvidia/jetson/stub.go
  pkg/collector/corechecks/nvidia/jetson/swapMetricsSender.go
  pkg/collector/corechecks/nvidia/jetson/temperatureMetricsSender.go
Due: copyright, go-mod-tidy

[skip cancel] TEST check build without cache
  .gitlab/test/e2e/e2e_templates.yml
  tasks/new_e2e_tests.py
Due: shell-check-no-set-x, gitlab-configuration

Migrate CWS easyjson codegen to Bazel (#56509)
  bazel/rules/cws_codegen/defs.bzl
  pkg/security/events/BUILD.bazel
  pkg/security/generators/easyjson_bootstrap/BUILD.bazel
  pkg/security/generators/easyjson_bootstrap/main.go
  pkg/security/generators/easyjson_bootstrap/main_test.go
  pkg/security/probe/BUILD.bazel
  pkg/security/rules/monitor/BUILD.bazel
  pkg/security/serializers/BUILD.bazel
  tasks/security_agent.py
Due: copyright, go-mod-tidy

remote queries: remove the unused postgres integration constant
  comp/remotequeries/impl/BUILD.bazel
  comp/remotequeries/impl/remote_query_match.go
Due: copyright, go-mod-tidy

pkg/collector/corechecks/cluster/ksm: fix DaemonSet ControllerRevision cleanup leak (#56794)
  pkg/collector/corechecks/cluster/ksm/customresources/rollout_tracker.go
  pkg/collector/corechecks/cluster/ksm/customresources/rollout_tracker_test.go
Due: copyright, go-mod-tidy

fix(otel-agent): fall back to datadoghq.com when both OTel site and DD_SITE are empty
  cmd/otel-agent/config/agent_config.go
Due: copyright, go-mod-tidy

test/benchmarks/kubernetes_state: fix kubernetes_state benchmark (#56817)
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  test/benchmarks/kubernetes_state/BUILD.bazel
  test/benchmarks/kubernetes_state/main.go
  test/benchmarks/kubernetes_state/noop_sender.go
Due: copyright, go-mod-tidy

Set CPU limit
  .gitlab/test/e2e/e2e_templates.yml
Due: shell-check-no-set-x, gitlab-configuration

[ACTP] create getPodLogs action
  pkg/privateactionrunner/adapters/config/constants.go
  pkg/privateactionrunner/adapters/config/transform_test.go
  pkg/privateactionrunner/bundles/kubernetes/core/BUILD.bazel
  pkg/privateactionrunner/bundles/kubernetes/core/entrypoint.gen.go
  pkg/privateactionrunner/bundles/kubernetes/core/get_pod_logs.go
  pkg/privateactionrunner/bundles/kubernetes/core/get_pod_logs_test.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
