Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

dyninst/actuator: add rate limiting for type recompilation
  pkg/dyninst/actuator/actuator.go
  pkg/dyninst/actuator/state.go
  pkg/dyninst/actuator/state_event_yaml_test.go
  pkg/dyninst/actuator/state_helpers_test.go
  pkg/dyninst/actuator/state_snapshot_test.go
  pkg/dyninst/actuator/testdata/snapshot/recompilation_rate_limited.yaml
  pkg/dyninst/actuator/testdata/snapshot/recompilation_rate_limited_burst.yaml
  pkg/dyninst/actuator/testdata/snapshot/recompilation_rate_negative_disables.yaml
  pkg/dyninst/end_to_end_test.go
  pkg/dyninst/integration_test.go
  pkg/dyninst/missing_type_recompilation_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

dyninst/uploader: set timeout sending requests (#46420)
  pkg/dyninst/uploader/config.go
  pkg/dyninst/uploader/config_test.go
  pkg/dyninst/uploader/diagnostics.go
  pkg/dyninst/uploader/logs.go
Due: copyright, go-mod-tidy

[NETPATH-438] Add networkpath private action bundle (v2) (#45704)
  .github/CODEOWNERS
  cmd/cluster-agent/subcommands/start/command.go
  cmd/privateactionrunner/subcommands/run/command.go
  comp/privateactionrunner/impl/privateactionrunner.go
  pkg/networkpath/payload/pathevent.go
  pkg/networkpath/traceroute/runner/runner.go
  pkg/privateactionrunner/bundles/networkpath/entrypoint.go
  pkg/privateactionrunner/bundles/networkpath/get_network_path.go
  pkg/privateactionrunner/bundles/networkpath/get_network_path_test.go
  pkg/privateactionrunner/bundles/registry.go
  pkg/privateactionrunner/bundles/registry_kubeapiserver.go
  pkg/privateactionrunner/runners/workflow_runner.go
  releasenotes/notes/add-networkpath-private-action-73e8c5fa4f7a6d6c.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Increase the time a PR is allowed to be in the merge queue from 4 to 6 hours (#46290)
  repository.datadog.yml
Due: shell-check-no-set-x

improve comments
  packages/agent/linux/BUILD.bazel
Due: none

Added ssl_ctx_by_pid_tgid race condition investigation
  pkg/network/usm/testdata/bio_leak_test/bio_leak
  pkg/network/usm/testdata/ssl_ctx_race_test/INVESTIGATION.md
  pkg/network/usm/testdata/ssl_ctx_race_test/Makefile
  pkg/network/usm/testdata/ssl_ctx_race_test/analyze_results.py
  pkg/network/usm/testdata/ssl_ctx_race_test/manual_test.sh
  pkg/network/usm/testdata/ssl_ctx_race_test/run_race_test.sh
  pkg/network/usm/testdata/ssl_ctx_race_test/ssl_ctx_race.c
  pkg/network/usm/testdata/ssl_ctx_race_test/ssl_ctx_race_v2.c
Due: win-clang-format, shell-check-no-set-x

sent to backend
  pkg/privateactionrunner/bundles/networkpath/get_network_path.go
  pkg/privateactionrunner/bundles/networkpath/get_network_path_test.go
Due: copyright, go-mod-tidy

[NETPATH] Add sendToBackend input to networkpath private action
  cmd/cluster-agent/subcommands/start/command.go
  cmd/privateactionrunner/subcommands/run/command.go
  comp/privateactionrunner/impl/privateactionrunner.go
  pkg/privateactionrunner/bundles/networkpath/entrypoint.go
  pkg/privateactionrunner/bundles/networkpath/get_network_path.go
  pkg/privateactionrunner/bundles/networkpath/get_network_path_test.go
  pkg/privateactionrunner/bundles/registry.go
  pkg/privateactionrunner/bundles/registry_kubeapiserver.go
  pkg/privateactionrunner/runners/workflow_runner.go
Due: copyright, go-mod-tidy

privateactionrunner: add optional network path backend send
  cmd/privateactionrunner/subcommands/run/command.go
  comp/privateactionrunner/impl/privateactionrunner.go
  pkg/privateactionrunner/bundles/networkpath/entrypoint.go
  pkg/privateactionrunner/bundles/networkpath/get_network_path.go
  pkg/privateactionrunner/bundles/networkpath/get_network_path_test.go
  pkg/privateactionrunner/bundles/registry.go
  pkg/privateactionrunner/bundles/registry_kubeapiserver.go
  pkg/privateactionrunner/runners/workflow_runner.go
Due: copyright, go-mod-tidy

deps: stop providing fetch-ocsp-response
  deps/nghttp2/nghttp2.BUILD.bazel
  third_party/nghttp2/BUILD.bazel
  third_party/nghttp2/DATADOG.md
  third_party/nghttp2/README.rst
  third_party/nghttp2/fetch-ocsp-response
Due: none

Add `bazelisk` to automated tool installation list
  internal/tools/go.mod
  internal/tools/go.sum
  internal/tools/tools.go
  tasks/install_tasks.py
  tasks/libs/common/utils.py
  tasks/unit_tests/libs/common/utils_tests.py
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

Remove redundant build from `bazel:test:linux-amd64`
  .gitlab/build/bazel/tests.yml
Due: shell-check-no-set-x, gitlab-configuration

Revert "[CWS] add a TLD SeCL helper (#46088)"
  docs/cloud-workload-security/linux_expressions.md
  docs/cloud-workload-security/secl_linux.json
  pkg/security/generators/accessors/accessors.go
  pkg/security/generators/accessors/accessors.tmpl
  pkg/security/generators/accessors/common/types.go
  pkg/security/generators/accessors/doc/doc.go
  pkg/security/secl/compiler/eval/dns_linux.go
  pkg/security/secl/compiler/eval/dns_others.go
  pkg/security/secl/compiler/eval/eval.go
  pkg/security/secl/compiler/eval/strings_linux.go
  pkg/security/secl/compiler/eval/strings_linux_test.go
  pkg/security/secl/compiler/eval/strings_others.go
  pkg/security/secl/go.mod
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/strings.go
  pkg/security/seclwin/go.mod
  pkg/security/seclwin/go.sum
  pkg/security/seclwin/model/model.go
  pkg/security/tests/dns_test.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

[ACTP] Resync private bundles for DCA
  pkg/privateactionrunner/bundles/registry_kubeapiserver.go
Due: copyright, go-mod-tidy

Properly get parent
  pkg/security/probe/ssh_user_session.go
Due: copyright, go-mod-tidy

Do not update Session Type
  pkg/security/probe/ssh_user_session.go
Due: copyright, go-mod-tidy

Only copy SSHContext to the child
  pkg/security/secl/model/process_cache_entry_unix.go
Due: copyright, go-mod-tidy

Edit PCE tests
  pkg/security/secl/model/process_cache_entry_unix_test.go
Due: copyright, go-mod-tidy

Fix ssh tracking for ubuntu 25 10
  pkg/security/probe/ssh_user_session.go
Due: copyright, go-mod-tidy

SSH Session works at snapshot
  pkg/security/probe/model_test.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/probe/ssh_user_session.go
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/resolvers/process/resolver_test.go
  pkg/security/resolvers/resolvers_ebpf.go
  pkg/security/resolvers/usersessions/resolver_linux.go
  pkg/security/tests/ssh_user_session_test.go
Due: copyright, go-mod-tidy

Start reading from the begining to get key from snapshot
  pkg/security/resolvers/usersessions/resolver_linux.go
Due: copyright, go-mod-tidy

Dockerfiles: don't install suggested packages
  Dockerfiles/agent/Dockerfile
  Dockerfiles/cluster-agent/Dockerfile
Due: shell-check-no-set-x

sd-agent: Fix clippy lint
  pkg/discovery/module/rust/src/ffi.rs
Due: none

sd-agent: fallback based on env vars value (#46397)
  pkg/discovery/module/rust/src/config.rs
  pkg/discovery/module/rust/tests/fallback_integration_test.rs
Due: none

Comment return value
  pkg/tagset/hashing_tags_accumulator.go
Due: copyright, go-mod-tidy

Fix missing reference to configurable base image registry
  Dockerfiles/cluster-agent/Dockerfile
Due: shell-check-no-set-x

CI: include Dockerfiles folder to the artifacts changing patterns
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration

sd-agent: fix clippy warning
  pkg/discovery/module/rust/src/apm.rs
  pkg/discovery/module/rust/src/envs.rs
  pkg/discovery/module/rust/src/ffi.rs
  pkg/discovery/module/rust/src/language.rs
  pkg/discovery/module/rust/src/procfs/fd.rs
  pkg/discovery/module/rust/src/service_name/context.rs
  pkg/discovery/module/rust/src/services.rs
Due: none

chore: update to 2.9.0
  internal/tools/go.mod
  internal/tools/go.sum
Due: check-go-modules-in-python, protocol-buffer

Create a Unified Test Output Format
  tasks/libs/testing/unified_output.py
  tasks/unit_tests/unified_output_tests.py
Due: none

Implement UTOF generation for unit tests
  tasks/gotest.py
Due: none

fix: add more known environment variables to prevent false-positive warnings in the log
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

deps: stop providing fetch-ocsp-response (#46454)
  deps/nghttp2/nghttp2.BUILD.bazel
  third_party/nghttp2/BUILD.bazel
  third_party/nghttp2/DATADOG.md
  third_party/nghttp2/README.rst
  third_party/nghttp2/fetch-ocsp-response
Due: none

Fix typo in agenttelemetry check error message (#46339)
  tasks/github_tasks.py
Due: none

flatten ActivityTreeNodeStats to eliminate ~2.3M heap allocations per 5-min window
  pkg/security/security_profile/activity_tree/activity_tree.go
  pkg/security/security_profile/activity_tree/activity_tree_stats.go
Due: copyright, go-mod-tidy

Set hostname to empty string when configured as gateway
  cmd/otel-agent/config/agent_config.go
Due: copyright, go-mod-tidy

[ACTP] [par] Use k8s secret for enrollment only in DCA (#46414)
  pkg/privateactionrunner/bundles/gitlab/users/test_connection.go
  pkg/privateactionrunner/enrollment/storage.go
Due: copyright, go-mod-tidy

Fix flare tests running providers after the test ended (#45562)
  comp/core/flare/flare_test.go
Due: copyright, go-mod-tidy

chore: remove bind_at_load linker flag
  tasks/libs/common/utils.py
Due: none

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
