Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: dda inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

gitlab-lint-jobs-codeowners:
  name: gitlab-lint-jobs-codeowners
  description: lint the gitlab configuration to verify jobs codeowners
  entry: dda inv linter.gitlab-ci-jobs-codeowners
  language: system
  require_serial: true
  pass_filenames: false

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Remove unnecessary empty echo commands
  .gitlab/e2e_testing_deploy/e2e_deploy.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

remove shared-libraries-debug.o
  omnibus/config/software/datadog-agent-finalize.rb
Due: none

Use BUCKET_BRANCH to detect nightly in SQG
  tasks/quality_gates.py
  tasks/unit_tests/quality_gates_tests.py
  tasks/unit_tests/testdata/quality_gate_config_test.yml
Due: shell-check-no-set-x

chore: revert changes in .golangci.yml
  .golangci.yml
Due: shell-check-no-set-x

fix: initialize cond
  pkg/util/log/handlers/async_handler.go
Due: copyright, go-mod-tidy

Restore json redaction
  pkg/dyninst/decode/decoder.go
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/notCapturedReason.go
  pkg/dyninst/decode/types.go
  pkg/dyninst/end_to_end_test.go
  pkg/dyninst/integration_test.go
  pkg/dyninst/json_redaction_test.go
  pkg/dyninst/testdata/decoded/sample/testBigStruct.json
  pkg/dyninst/testdata/decoded/sample/testLinkedList.json
  pkg/dyninst/testdata/decoded/sample/testMapArrayToArray.json
  pkg/dyninst/testdata/decoded/sample/testMapStringToSlice.json
  pkg/dyninst/testdata/decoded/sample/testMapStringToStruct.json
  pkg/dyninst/testdata/decoded/sample/testOneStringInStructPointer.json
  pkg/dyninst/testdata/decoded/sample/testPointerLoop.json
  pkg/dyninst/testdata/decoded/sample/testPointerToSimpleStruct.json
  pkg/dyninst/testdata/decoded/sample/testStringPointer.json
  pkg/dyninst/testdata/decoded/sample/testThreeStringsInStructPointer.json
  pkg/dyninst/testdata/decoded/sample/testUintPointer.json
  pkg/dyninst/testdata/decoded/simple/PointerChainArg.json
  pkg/dyninst/testdata/decoded/simple/PointerSmallChainArg.json
  pkg/dyninst/testdata/decoded/simple/bigMapArg.json
  pkg/dyninst/testdata/e2e/rc_tester.json
Due: copyright, go-mod-tidy

Lint fixes
  pkg/dyninst/decode/types.go
Due: copyright, go-mod-tidy

Revert "Promote uds_dogstatsd_to_api_cpu to quality_gate_metrics_logs (#38534)"
  test/regression/cases/quality_gate_metrics_logs/README.md
  test/regression/cases/quality_gate_metrics_logs/datadog-agent/conf.d/disk-listener.d/conf.yaml
  test/regression/cases/quality_gate_metrics_logs/datadog-agent/datadog.yaml
  test/regression/cases/quality_gate_metrics_logs/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api_cpu/datadog-agent/datadog.yaml
  test/regression/cases/uds_dogstatsd_to_api_cpu/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api_cpu/lading/lading.yaml
Due: shell-check-no-set-x

Revert "Promote uds_dogstatsd_to_api_cpu to quality_gate_metrics_logs" (#39140)
  test/regression/cases/quality_gate_metrics_logs/README.md
  test/regression/cases/quality_gate_metrics_logs/datadog-agent/conf.d/disk-listener.d/conf.yaml
  test/regression/cases/quality_gate_metrics_logs/datadog-agent/datadog.yaml
  test/regression/cases/quality_gate_metrics_logs/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api_cpu/datadog-agent/datadog.yaml
  test/regression/cases/uds_dogstatsd_to_api_cpu/experiment.yaml
  test/regression/cases/uds_dogstatsd_to_api_cpu/lading/lading.yaml
Due: shell-check-no-set-x

go fmt
  comp/metadata/inventorysoftware/impl/inventorysoftware.go
  comp/metadata/inventorysoftware/impl/inventorysoftware_test.go
Due: copyright, go-mod-tidy

[CWS] start even on cgroup detection context error
  pkg/security/probe/probe_linux.go
  pkg/security/utils/cgroup.go
Due: copyright, go-mod-tidy

dyninst/compiler: add support for swiss maps
  pkg/dyninst/compiler/generate.go
  pkg/dyninst/compiler/instructions.go
  pkg/dyninst/compiler/ops.go
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/ebpf/stack_machine.h
  pkg/dyninst/integration_test.go
  pkg/dyninst/ir/types.go
  pkg/dyninst/irgen/type_catalog.go
  pkg/dyninst/json_redaction_test.go
  pkg/dyninst/output/event.go
  pkg/dyninst/testdata/decoded/sample/testMapIntToInt.json
  pkg/dyninst/testdata/decoded/sample/testMapStringToInt.json
  pkg/dyninst/testdata/decoded/sample/testSmallMap.json
  pkg/dyninst/testprogs/progs/sample/maps.go
  pkg/dyninst/testprogs/testdata/probes/sample.yaml
Due: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x

Fix bug with offset calculation in arrays/slice
  pkg/dyninst/compiler/generate.go
  pkg/dyninst/ebpf/stack_machine.h
  pkg/dyninst/testdata/decoded/sample/testMapStringToInt.json
  pkg/dyninst/testprogs/testdata/probes/sample.yaml
Due: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x

Define decoder specific ir.Type equivalents
  pkg/dyninst/decode/decoder.go
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/types.go
Due: copyright, go-mod-tidy

Fix slice indicies and type conversions
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/types.go
Due: copyright, go-mod-tidy

Lint fixes for unused params, sorter change
  pkg/dyninst/decode/types.go
  pkg/dyninst/integration_test.go
  pkg/dyninst/json_redaction_test.go
  pkg/dyninst/testdata/decoded/sample/testMapIntToInt.json
Due: copyright, go-mod-tidy

Enable zstd compression for docker layers
  .gitlab/container_build/docker_linux.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Review feedback
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/types.go
  pkg/dyninst/ebpf/stack_machine.h
Due: copyright, win-clang-format, go-mod-tidy

Add decoder context
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/types.go
Due: copyright, go-mod-tidy

Add test cases
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/types.go
  pkg/dyninst/testdata/decoded/sample/testMapArrayToArray.json
  pkg/dyninst/testdata/decoded/sample/testMapStringToSlice.json
  pkg/dyninst/testprogs/progs/sample/maps.go
  pkg/dyninst/testprogs/testdata/probes/sample.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Remove JSONEq call
  pkg/dyninst/integration_test.go
Due: copyright, go-mod-tidy

Fix issue with decoder types that can cause infinite recursion
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/types.go
Due: copyright, go-mod-tidy

Add test case for cycle of types
  pkg/dyninst/testdata/decoded/sample/testCycle.json
  pkg/dyninst/testprogs/progs/sample/pointers.go
  pkg/dyninst/testprogs/testdata/probes/sample.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Fix use of decoder types
  pkg/dyninst/actuator/errors.go
  pkg/dyninst/decode/decoder.go
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/types.go
Due: copyright, go-mod-tidy

Regenerate test files, fix redaction over multiple redactors
  pkg/dyninst/json_redaction_test.go
  pkg/dyninst/testdata/decoded/sample/testMapStringToStruct.json
  pkg/dyninst/testdata/decoded/simple/bigMapArg.json
  pkg/dyninst/testdata/decoded/simple/mapArg.json
  pkg/dyninst/testprogs/testdata/probes/sample.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

More testfiles
  pkg/dyninst/compiler/testdata/snapshot/simple.arch=amd64,toolchain=go1.24.3.sm.txt
  pkg/dyninst/compiler/testdata/snapshot/simple.arch=arm64,toolchain=go1.24.3.sm.txt
  pkg/dyninst/irgen/testdata/snapshot/simple.arch=amd64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/simple.arch=arm64,toolchain=go1.24.3.yaml
  pkg/dyninst/testdata/e2e/rc_tester.json
Due: shell-check-no-set-x

Simplify and optimize use of decoder context
  pkg/dyninst/decode/decoder.go
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/types.go
  pkg/dyninst/testdata/decoded/sample/testMassiveString.json
  pkg/dyninst/testprogs/progs/sample/strings.go
  pkg/dyninst/testprogs/testdata/probes/sample.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Precompute type assertions
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/types.go
  pkg/dyninst/json_redaction_test.go
  pkg/dyninst/testdata/decoded/sample/testBigStruct.json
  pkg/dyninst/testdata/decoded/sample/testLinkedList.json
  pkg/dyninst/testdata/decoded/sample/testOneStringInStructPointer.json
  pkg/dyninst/testdata/decoded/sample/testPointerLoop.json
  pkg/dyninst/testdata/decoded/sample/testPointerToSimpleStruct.json
  pkg/dyninst/testdata/decoded/sample/testStringPointer.json
  pkg/dyninst/testdata/decoded/sample/testThreeStringsInStructPointer.json
  pkg/dyninst/testdata/decoded/sample/testUintPointer.json
  pkg/dyninst/testdata/decoded/simple/PointerChainArg.json
  pkg/dyninst/testdata/decoded/simple/PointerSmallChainArg.json
  pkg/dyninst/testdata/decoded/simple/bigMapArg.json
Due: copyright, go-mod-tidy

Handle not captured reason for partial capture
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/notCapturedReason.go
  pkg/dyninst/decode/types.go
  pkg/dyninst/testdata/decoded/sample/testCombinedByte.json
  pkg/dyninst/testdata/decoded/sample/testMassiveString.json
  pkg/dyninst/testdata/decoded/sample/testSingleFloat32.json
  pkg/dyninst/testdata/decoded/sample/testSingleFloat64.json
  pkg/dyninst/testdata/decoded/simple/inlined.json
Due: copyright, go-mod-tidy

Get rid of decoder context
  pkg/dyninst/decode/decoder.go
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/types.go
Due: copyright, go-mod-tidy

Lint fixes
  pkg/dyninst/decode/types.go
  pkg/ebpf/kernelbugs/c/uprobe-trigger.bc.d
  pkg/ebpf/kernelbugs/c/uprobe-trigger.o
Due: copyright, go-mod-tidy

Fix broken file
  comp/metadata/inventorysoftware/impl/inventorysoftware.go
Due: copyright, go-mod-tidy

finish test
  go.work
  test/new-e2e/tests/containers/autoscaling_test.go
  test/new-e2e/tests/containers/utils.go
Due: copyright, go-mod-tidy

[SBOM] bump trivy fork to include partial result crash fix
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

[CWS] migrate the SBOM resolver to use `DefaultCGroupFS`
  pkg/security/resolvers/sbom/resolver.go
Due: copyright, go-mod-tidy

un-export `NewCGroupFS` and always use `DefaultCGroupFS`
  pkg/security/tests/cgroup_test.go
  pkg/security/utils/cgroup.go
  pkg/security/utils/cgroup_test.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
