Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: govet, copyright, clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

govet:
  name: govet
  description: go vet
  entry: python3 -m tasks.git-hooks.govet
  language: system
  require_serial: true

copyright:
  name: copyright
  description: copyright headers
  entry: inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 -m tasks.git-hooks.clang-format
  language: system
  require_serial: true

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: inv tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

[migrate-agent-iam] Pushed to registry.ddbuild.io
  .gitlab/container_build/docker_linux.yml
  .gitlab/container_build/fakeintake.yml
Due: shell-check-no-set-x, gitlab-configuration

fixing linting
  test/new-e2e/tests/agent-platform/common/agent_behaviour.go
Due: govet, copyright, go-mod-tidy

[POC] duplicate pod and deployment metadata in wlm
  comp/core/workloadmeta/collectors/internal/kubeapiserver/deployments.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/deployments_test.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/metadata.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/metadata_test.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/pod.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/pod_test.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/reflector_store.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/reflector_store_test.go
  comp/core/workloadmeta/def/types.go
Due: govet, copyright, go-mod-tidy

[migrate-agent-iam] Updated images
  .gitlab/container_build/docker_windows.yml
  .gitlab/container_build/fakeintake.yml
Due: shell-check-no-set-x, gitlab-configuration

[dockerfile] fix dockerfile typo
  Dockerfiles/agent/Dockerfile
Due: shell-check-no-set-x

fix(update-build-links): Improve title parsing
  tasks/release.py
Due: none

second intent to fix cmd/agent/subcommands/flare test
  cmd/agent/subcommands/flare/command_test.go
Due: govet, copyright, go-mod-tidy

[dockerfile] addressing PR feedback
  Dockerfiles/agent-ot/Dockerfile
Due: shell-check-no-set-x

codereview: Improve clone method, fix rm as list and small improvements
  tasks/libs/common/git.py
  tasks/libs/pipeline/notifications.py
  tasks/libs/releasing/json.py
  tasks/release.py
Due: none

feat(release): check modifications on all release repos
  .github/workflows/create_rc_pr.yml
  tasks/libs/common/git.py
  tasks/release.py
  tasks/unit_tests/release_tests.py
Due: shell-check-no-set-x

move the check earlier and print instead of return
  .github/workflows/create_rc_pr.yml
  tasks/release.py
Due: shell-check-no-set-x

improve the create_rc workflow and add a warning mode
  .github/workflows/create_rc_pr.yml
  tasks/libs/common/git.py
  tasks/libs/pipeline/notifications.py
  tasks/libs/releasing/documentation.py
  tasks/libs/releasing/json.py
  tasks/libs/releasing/version.py
  tasks/libs/requirements-github.txt
  tasks/libs/types/version.py
  tasks/release.py
  tasks/unit_tests/release_tests.py
Due: shell-check-no-set-x

plugin only
  .github/dependabot.yaml
Due: shell-check-no-set-x

print go env in CI
  .gitlab/source_test/linux.yml
Due: shell-check-no-set-x, gitlab-configuration

fix(update-build-links): Improve title parsing (#27448)
  tasks/release.py
Due: none

adjust stream log to non-cli
  cmd/agent/subcommands/flare/command.go
  cmd/systray/command/command.go
  comp/api/api/utils/common.go
  comp/api/api/utils/stream/stream.go
  comp/core/flare/flare.go
  comp/core/flare/providers.go
  comp/remote-config/rcclient/rcclientimpl/rcclient.go
  pkg/config/setup/config.go
Due: govet, copyright, go-mod-tidy

Review comments
  pkg/ebpf/ebpftest/buildmode.go
  pkg/ebpf/ebpftest/buildmode_linux.go
  pkg/network/filter/packet_source_linux.go
Due: govet, copyright, go-mod-tidy

Rename files
  test/otel/dependencies.go
  test/otel/go.mod
Due: govet, copyright, go-mod-tidy

attempt to install custom golangci binary when installing tools
  .custom-gcl.yml
  .gitlab/source_test/linux.yml
  tasks/go.py
  tasks/install_tasks.py
  tasks/linter.py
Due: shell-check-no-set-x, gitlab-configuration

Documentation suggestion
  releasenotes-dca/notes/admission-controller-profiling-fd7678fa28f7b90e.yaml
Due: shell-check-no-set-x

Add test/otel module
  tasks/gotest.py
  tasks/modules.py
  test/otel/.gitignore
  test/otel/go.mod
Due: none

Add go.sum
  test/otel/go.sum
Due: none

fix(releasing): Remove occurrences of agent6 in the documentation
  release.json
  tasks/libs/releasing/notes.py
  tasks/release.py
Due: none

[PROCS-4196] make the find containers test function more flexible (#27436)
  test/new-e2e/tests/process/testing.go
Due: govet, copyright, go-mod-tidy

Python linter
  tasks/gotest.py
Due: none

fix: load proxy and secrets only for Datadog config
  pkg/config/setup/config.go
Due: govet, copyright, go-mod-tidy

feat(release): Update the `create_rc` workflow (#27131)
  .github/workflows/create_rc_pr.yml
  tasks/libs/common/git.py
  tasks/libs/pipeline/notifications.py
  tasks/libs/releasing/documentation.py
  tasks/libs/releasing/json.py
  tasks/libs/releasing/version.py
  tasks/libs/requirements-github.txt
  tasks/libs/types/version.py
  tasks/release.py
  tasks/unit_tests/release_tests.py
Due: shell-check-no-set-x

Move installer.pid to instance directory
  pkg/fleet/installer/service/embedded/datadog-installer-exp.service
  pkg/fleet/installer/service/embedded/datadog-installer.service
Due: none

logs: optimization and fixes to `toValidUtf8`
  pkg/logs/processor/encoder.go
Due: govet, copyright, go-mod-tidy

simplify handling of invalid utf8 RuneError/ReplacementChar
  pkg/logs/processor/encoder.go
Due: govet, copyright, go-mod-tidy

add some more test cases for `toValidUtf8`
  pkg/logs/processor/encoder_test.go
Due: govet, copyright, go-mod-tidy

Make some errors sticky for sysctl
  pkg/network/config/sysctl/sysctl.go
  pkg/network/config/sysctl/sysctl_darwin.go
  pkg/network/config/sysctl/sysctl_test.go
Due: govet, copyright, go-mod-tidy

propagate error so non zero error code is returned
  cmd/serverless-init/main.go
  cmd/serverless-init/mode/initcontainer_mode.go
  cmd/serverless-init/mode/mode.go
  cmd/serverless-init/mode/sidecarcontainer_mode.go
Due: govet, copyright, go-mod-tidy

[OASIS-69] Upgrade datadog connector version
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  go.mod
  go.sum
Due: go-mod-tidy

remove go env command
  .gitlab/source_test/linux.yml
Due: shell-check-no-set-x, gitlab-configuration

more tests
  comp/rdnsquerier/impl/config_test.go
  comp/rdnsquerier/impl/rdnsquerier_test.go
Due: govet, copyright, go-mod-tidy

one more test
  comp/rdnsquerier/impl/rdnsquerier_test.go
Due: govet, copyright, go-mod-tidy

pkg/trace/config: set max sender retries default in New
  pkg/trace/config/config.go
Due: govet, copyright, go-mod-tidy

integrations core version
  release.json
Due: none

initial commit
  go.mod
  go.sum
  pkg/util/port/portlist/netstat.go
  pkg/util/port/portlist/netstat_noimpl.go
  pkg/util/port/portlist/netstat_windows.go
  pkg/util/port/portlist/poller_windows.go
Due: govet, copyright, go-mod-tidy

Path conditions:
  govet: any of: \.go$
  copyright: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
