Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

Strip pre-compiled bytecode from `python_win` outputs (#49338)
  deps/cpython/build_python.bat
Due: none

Remove pkg/logs/pipeline from go.work and modules.yml
  go.work
  modules.yml
Due: shell-check-no-set-x, check-go-modules-in-python, protocol-buffer

Fetch tags inside the worktree, not the local repo
  tasks/release.py
Due: none

flightrecorder: arena-based zero-copy log accumulator
  tools/flightrecorder/benches/writer_bench.rs
  tools/flightrecorder/src/writers/logs.rs
  tools/flightrecorder/src/writers/metrics.rs
  tools/flightrecorder/src/writers/thread.rs
  tools/flightrecorder/src/writers/trace_stats.rs
  tools/flightrecorder/tests/disk_cap_test.rs
Due: none

feat: add packaging logic for AIX
  .github/CODEOWNERS
  packaging/aix/build.sh
  packaging/aix/clean.sh
  packaging/aix/gen.template.in
  packaging/aix/lib/env.sh
  packaging/aix/package-scripts/config
  packaging/aix/package-scripts/postinst
  packaging/aix/package-scripts/postrm
  packaging/aix/package-scripts/preinst
  packaging/aix/package-scripts/prerm
  packaging/aix/package-scripts/unconfig
  packaging/aix/package.sh
  packaging/aix/sitecustomize.py
  packaging/aix/stages/00-checkout.sh
  packaging/aix/stages/01-native-libs.sh
  packaging/aix/stages/02-python.sh
  packaging/aix/stages/03-rtloader.sh
  packaging/aix/stages/04-agent.sh
  packaging/aix/stages/05-python-extensions.sh
  packaging/aix/stages/06-pydantic.sh
  packaging/aix/stages/07-checks-base.sh
  packaging/aix/stages/08-integrations.sh
  packaging/aix/stages/09-strip-bytecode.sh
  packaging/aix/stages/10-assemble.sh
Due: shell-check-no-set-x

remove SizeLimitedReader
  pkg/discovery/module/rust/src/fs.rs
Due: none

refactor(netflow/config): migrate comp/netflow/config to V2 component structure
  comp/netflow/bundle.go
  comp/netflow/config/def/component.go
  comp/netflow/config/def/config.go
  comp/netflow/config/def/config_test.go
  comp/netflow/config/fx/fx.go
  comp/netflow/config/impl/config.go
  comp/netflow/config/mock/mock.go
  comp/netflow/config/service.go
  comp/netflow/flowaggregator/aggregator.go
  comp/netflow/flowaggregator/aggregator_test.go
  comp/netflow/goflowlib/additionalfields/netflow.go
  comp/netflow/goflowlib/additionalfields/netflow_test.go
  comp/netflow/goflowlib/flowstate.go
  comp/netflow/goflowlib/flowstate_test.go
  comp/netflow/goflowlib/netflowstate/netflow.go
  comp/netflow/server/integration_test.go
  comp/netflow/server/listener.go
  comp/netflow/server/server.go
  comp/netflow/server/server_test.go
  comp/netflow/server/status.go
  comp/netflow/server/status_test.go
  pkg/diagnose/firewallscanner/firewallscanner.go
Due: copyright, go-mod-tidy

fix(netflow/config): add //go:build test tag to config_test.go to fix golangci-lint typecheck
  comp/netflow/config/def/config_test.go
Due: copyright, go-mod-tidy

fix(test): fix netflow config mock and containercheck test
  comp/netflow/config/mock/mock.go
Due: copyright, go-mod-tidy

fix: wrap newMock args in deps struct for ProvideComponentConstructor
  comp/netflow/config/mock/mock.go
Due: copyright, go-mod-tidy

Revert "changed source priority so that SourceLocalConfigProcess is below AgentRuntime"
  pkg/config/model/types.go
Due: copyright, go-mod-tidy

Revert "fixing tests that failed as a side effect of the config priority switch"
  pkg/config/nodetreemodel/compatibility_test.go
  pkg/config/viperconfig/viper_test.go
Due: copyright, go-mod-tidy

Fix go.mod/go.sum after pkg/logs/pipeline removal
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/logsagentpipeline/go.mod
  comp/otelcol/logsagentpipeline/go.sum
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.mod
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  test/otel/go.mod
  test/otel/go.sum
Due: check-go-modules-in-python, protocol-buffer

Add explicit api_key_only_enrollment config flag for PAR enrollment mode
  comp/privateactionrunner/def/component.go
  comp/privateactionrunner/impl/privateactionrunner.go
  pkg/config/setup/privateactionrunner.go
  pkg/config/setup/privateactionrunner_test.go
  pkg/fleet/installer/env/env.go
  pkg/fleet/installer/env/env_test.go
  pkg/fleet/installer/setup/common/setup.go
  pkg/fleet/installer/setup/config/config.go
  pkg/fleet/installer/setup/config/config_test.go
  releasenotes/notes/par-api-key-only-enrollment-6fa12405d186454b.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Added custom name to component to avoid conflicts
  comp/logs/locallogtailer/impl/locallogtailer.go
  pkg/logs/schedulers/ad/scheduler.go
Due: copyright, go-mod-tidy

bazel: deps: migrate cpython to dd_cc_packaged
  deps/cpython.BUILD.bazel
Due: none

bazel: rules: convert so_symlink to a symbolic macro
  bazel/rules/dd_packaging/dd_cc_packaged.bzl
  bazel/rules/so_symlink.bzl
Due: none

krb5: expand so_symlink comprehension into individual calls
  deps/krb5/krb5.BUILD.bazel
Due: none

omnibus: stop manually installing python dependencies
  omnibus/config/software/python3.rb
Due: none

bazel: deps: remove now unused :install targets
  deps/bzip2/overlay.BUILD.bazel
  deps/sqlite3.BUILD.bazel
  deps/xz.BUILD.bazel
Due: none

deps: start migrating curl to dd_collect_dependencies
  deps/curl/overlay/overlay.BUILD.bazel
  omnibus/config/software/datadog-agent-dependencies.rb
Due: none

deps: openscap: stop manually installing openscap dependencies
  deps/openscap/openscap.BUILD.bazel
  omnibus/config/software/openscap.rb
Due: none

deps: migrate unixodbc to dd_collect_dependencies
  deps/unixodbc.BUILD.bazel
  omnibus/config/software/datadog-agent-integrations-py3-dependencies.rb
Due: none

add a missing install_dir parameter when installing curl & its deps
  omnibus/config/software/datadog-agent-dependencies.rb
Due: none

deps: freetds: explicitly collect deps & install them from omnibus
  deps/freetds/overlay/freetds.BUILD.bazel
  omnibus/config/software/datadog-agent-integrations-py3-dependencies.rb
Due: none

freetds: ensure we ship the license file
  deps/freetds/overlay/freetds.BUILD.bazel
Due: none

don't install freetds headers
  deps/freetds/overlay/freetds.BUILD.bazel
Due: none

Add telemetry for ring buffer eviction.
  pkg/aggregator/aggregator.go
  pkg/aggregator/tagfilter_cache.go
  pkg/aggregator/tagfilter_cache_test.go
Due: copyright, go-mod-tidy

Ensure file is removed
  tasks/gpu.py
Due: none

Fix naming format
  pkg/fleet/installer/setup/common/setup.go
  pkg/fleet/installer/setup/config/config.go
  pkg/fleet/installer/setup/config/config_test.go
Due: copyright, go-mod-tidy

Do not print anything
  internal/tools/gotest-custom/main.go
Due: copyright, go-mod-tidy

Allow cache capacity to be configured.
  pkg/aggregator/context_resolver.go
  pkg/aggregator/tagfilter_cache.go
  pkg/aggregator/tagfilter_cache_test.go
  pkg/config/setup/common_settings.go
Due: copyright, go-mod-tidy

Recreate the stack when google asks us to retry later (#49354)
  test/e2e-framework/testing/utils/infra/retriable_errors.go
Due: copyright, go-mod-tidy

Remove superfluous comments
  comp/privateactionrunner/impl/privateactionrunner.go
Due: copyright, go-mod-tidy

Fix the failing dll load
  pkg/inventory/software/integration_windows_test.go
  tools/windows/DatadogInterop/build_interop.bat
Due: copyright, go-mod-tidy

discovery: runtime dispatch between Go and Rust-library backends
  pkg/config/setup/system_probe.go
  pkg/config/setup/system_probe_test.go
  pkg/discovery/core/config.go
  pkg/discovery/module/comm_test.go
  pkg/discovery/module/discovery_rust_library_suite_test.go
  pkg/discovery/module/impl_linux.go
  pkg/discovery/module/impl_linux_test.go
  pkg/discovery/module/impl_module_linux.go
  pkg/discovery/module/impl_services_dispatch_linux.go
  pkg/discovery/module/impl_services_go_only_linux.go
  pkg/discovery/module/impl_services_rust_linux.go
  pkg/discovery/module/test_helpers.go
Due: copyright, go-mod-tidy

Update OTel v0.150.0 release note per review feedback
  releasenotes/notes/upgrade-otel-collector-v0.150.0-f341e91566fe9075.yaml
Due: shell-check-no-set-x
