Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 3.9.2 # should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==21.11.28
        - flake8-comprehensions==3.7.0
        - flake8-unused-arguments==0.0.6
        - flake8-use-fstring==1.3.0
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
- repo: https://github.com/timothycrosley/isort/
  rev: 5.10.1
  hooks:
    - id: isort
- repo: https://github.com/jendrikseipp/vulture
  rev: v2.3
  hooks:
    - id: vulture
      args: ["--ignore-decorators", "@task", "--ignore-names", "test_*,Test*", "tasks"]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 2.1.5
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
    - id: go-fmt
      args: [ "-w", "-s" ]
- repo: local
  hooks:
    - id: revive
      name: revive
      description: revive
      entry: 'python3 tasks/git-hooks/revive.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: copyright
      name: copyright
      description: copyright headers
      entry: 'python3 tasks/git-hooks/copyright.py'
      language: system
      require_serial: true
      files: \.go$
    - id: win-clang-format
      name: win-clang-format
      description: clang-format
      entry: './tasks/git-hooks/wincpplang.py'
      language: system
      types_or: [c, c++, c#]
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 tasks/git-hooks/clang-format.py'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'

[ci] Correctly tag and push internal images to build-stable (#16417)
  .gitlab-ci.yml
  .gitlab/deploy_7/container.yml
  .gitlab/deploy_dca.yml
Due: none

Add e2eSuite.Env() Note: Test in e2e_test.go were replaced.
  test/new-e2e/utils/e2e/e2e.go
  test/new-e2e/utils/e2e/e2e_test.go
Due: revive, govet, copyright

[CWS] simplify the code in the raw_syscalls/sys_enter hook point (#16596)
  pkg/security/ebpf/c/include/hooks/raw_syscalls.h
  pkg/security/probe/probe.go
  pkg/security/security_profile/dump/activity_dump.go
Due: revive, govet, copyright, clang-format

changed some gauges to counters, fixed dns stat delta logic
  pkg/network/dns/cache.go
  pkg/network/dns/cache_test.go
  pkg/network/dns/stats.go
  pkg/network/netlink/conntracker.go
  pkg/network/protocols/http/monitor.go
  pkg/network/tracer/ebpf_conntracker.go
Due: revive, govet, copyright

[kitchen] Split Win2008R2/2012/2012R2 kitchen tests from the rest, allow them to fail (#16603)
  .gitlab/kitchen_testing/windows.yml
Due: none

move cache cleaning logic
  pkg/sbom/collectors/collectors.go
  pkg/sbom/collectors/containerd/containerd.go
  pkg/sbom/collectors/docker/docker.go
  pkg/sbom/collectors/host/host.go
  pkg/sbom/scanner/scanner.go
  pkg/util/trivy/trivy.go
Due: revive, govet, copyright

Fix WriteConfig custom action that got inadvertently moved
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentCustomActions.cs
Due: none

remove mutexes
  pkg/util/trivy/trivy.go
Due: revive, govet, copyright

[gitlab] Temporarily fix package size checks
  .gitlab/pkg_metrics.yml
Due: none

[process-agent] Fix panic if config is not found
  cmd/process-agent/main_common.go
Due: revive, govet, copyright

Remove unused usings
  tools/windows/DatadogAgentInstaller/CustomActions/Constants.cs
Due: none

Remove unused code
  tools/windows/DatadogAgentInstaller/CustomActions/ServiceCustomAction.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentCustomActions.cs
Due: none

Add `WithConfigMissingOk` to oneshot bundle params
  cmd/process-agent/command/command.go
Due: revive, govet, copyright

fix lint
  pkg/util/trivy/trivy.go
Due: revive, govet, copyright

Fix comment
  tools/windows/DatadogAgentInstaller/CustomActions/ServiceCustomAction.cs
Due: none

[process-agent] Log errors on failure to initialize
  cmd/process-agent/main_common.go
  pkg/util/fxutil/errorunwrapper.go
  pkg/util/fxutil/oneshot.go
  pkg/util/fxutil/run.go
Due: revive, govet, copyright

Remove logger component
  cmd/process-agent/main_common.go
Due: revive, govet, copyright

[gitlab] Temporarily fix package size checks (#16609)
  .gitlab/pkg_metrics.yml
Due: none

new cache for sbom collection
  .gitignore
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/config/config.go
  pkg/sbom/collectors/collectors.go
  pkg/sbom/collectors/containerd/containerd.go
  pkg/sbom/collectors/docker/docker.go
  pkg/sbom/collectors/host/host.go
  pkg/sbom/scanner/scanner.go
  pkg/util/trivy/cache.go
  pkg/util/trivy/cache_test.go
  pkg/util/trivy/containerd.go
  pkg/util/trivy/db.go
  pkg/util/trivy/db_test.go
  pkg/util/trivy/trivy.go
  pkg/workloadmeta/telemetry/telemetry.go
  releasenotes/notes/add-custom-local-cache-sbom-d64e46b509e40161.yaml
Due: revive, govet, copyright

fix misspelling
  cmd/process-agent/main_common.go
Due: revive, govet, copyright

move cleaner in goroutine
  pkg/sbom/scanner/scanner.go
Due: revive, govet, copyright

Revert "[CWS] simplify the code in the raw_syscalls/sys_enter hook point (#16596)"
  pkg/security/ebpf/c/include/hooks/raw_syscalls.h
  pkg/security/probe/probe.go
  pkg/security/security_profile/dump/activity_dump.go
Due: revive, govet, copyright, clang-format

fix ticker
  pkg/sbom/scanner/scanner.go
Due: revive, govet, copyright

Revert "[CWS] simplify the code in the raw_syscalls/sys_enter hook point (#16596)" (#16613)
  pkg/security/ebpf/c/include/hooks/raw_syscalls.h
  pkg/security/probe/probe.go
  pkg/security/security_profile/dump/activity_dump.go
Due: revive, govet, copyright, clang-format

Update clean routine
  pkg/util/trivy/trivy.go
Due: revive, govet, copyright

fix ticker Stop()
  pkg/util/trivy/trivy.go
Due: revive, govet, copyright

Set AllowClosedSource to be a DWORD value in the registry
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentInstaller.cs
Due: none

Fix encoding tests
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/format_usm_linux_test.go
  pkg/network/encoding/protocols.go
Due: revive, govet, copyright

Add closed source component consent dialog in NG installer. (#16393)
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/CustomActions.Tests.csproj
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/InstallState/InstallStateTestSetup.cs
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/InstallState/InstallStateTests.cs
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/SessionTestBaseSetup.cs
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/UserCustomActions/UserCustomActionsTestSetup.cs
  tools/windows/DatadogAgentInstaller/CustomActions/Constants.cs
  tools/windows/DatadogAgentInstaller/CustomActions/CustomActions.csproj
  tools/windows/DatadogAgentInstaller/CustomActions/InstallStateCustomActions.cs
  tools/windows/DatadogAgentInstaller/CustomActions/Interfaces/IRegistryKey.cs
  tools/windows/DatadogAgentInstaller/CustomActions/Interfaces/IRegistryServices.cs
  tools/windows/DatadogAgentInstaller/CustomActions/Interfaces/IServiceController.cs
  tools/windows/DatadogAgentInstaller/CustomActions/Interfaces/IWindowsService.cs
  tools/windows/DatadogAgentInstaller/CustomActions/Native/RegistryKey.cs
  tools/windows/DatadogAgentInstaller/CustomActions/Native/RegistryServices.cs
  tools/windows/DatadogAgentInstaller/CustomActions/Native/ServiceController.cs
  tools/windows/DatadogAgentInstaller/CustomActions/Native/ServiceControllerExtensions.cs
  tools/windows/DatadogAgentInstaller/CustomActions/Native/WindowsService.cs
  tools/windows/DatadogAgentInstaller/CustomActions/ServiceCustomAction.cs
  tools/windows/DatadogAgentInstaller/CustomActions/UserCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Conditions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentFeatures.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentInstaller.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentInstallerUI.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Dialogs.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Program.cs
  tools/windows/DatadogAgentInstaller/WixSetup/dialogs/closedsourceconsentdlg.wxi
  tools/windows/DatadogAgentInstaller/WixSetup/localization-en-us.wxl
Due: none

Organize routing file
  pkg/network/ebpf/c/protocols/classification/routing-helpers.h
  pkg/network/ebpf/c/protocols/classification/routing.h
Due: clang-format

[SBOM] Replace BadgerDB cache by a custom LRU cache with a cleaning mechanism for Trivy (#16612)
  .gitignore
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/config/config.go
  pkg/sbom/collectors/collectors.go
  pkg/sbom/collectors/containerd/containerd.go
  pkg/sbom/collectors/docker/docker.go
  pkg/sbom/collectors/host/host.go
  pkg/sbom/scanner/scanner.go
  pkg/util/trivy/cache.go
  pkg/util/trivy/cache_test.go
  pkg/util/trivy/containerd.go
  pkg/util/trivy/db.go
  pkg/util/trivy/db_test.go
  pkg/util/trivy/trivy.go
  pkg/workloadmeta/telemetry/telemetry.go
  releasenotes/notes/add-custom-local-cache-sbom-d64e46b509e40161.yaml
Due: revive, govet, copyright

Upgrades JMXFetch and adds config option to control statsd blocking mode (#16602)
  .circleci/requirements.txt
  .github/workflows/windows-unittests.yml
  pkg/config/config.go
  pkg/jmxfetch/jmxfetch.go
  release.json
  releasenotes/notes/jmxfetch-0.47.8-52ab4c3b6b877cd2.yaml
Due: revive, govet, copyright

Update release.json and Go modules for 6/7.43.2-rc.1
  go.mod
  pkg/otlp/model/go.mod
  pkg/trace/go.mod
  pkg/util/cgroups/go.mod
  pkg/util/log/go.mod
  release.json
Due: none

fix macos tests (#16607)
  pkg/network/event_common_linux.go
  pkg/network/event_common_notwindows.go
Due: revive, govet, copyright

add fallback instance types for security agent functional tests (#16303)
  .gitlab/functional_test/security_agent.yml
Due: none

Fill new information in container payload in process-agent (#16315)
  go.mod
  go.sum
  pkg/process/checks/container_rt.go
  pkg/process/util/containers.go
  pkg/process/util/containers_test.go
Due: revive, govet, copyright

manually add logging changes
  pkg/network/driver/utils.go
Due: revive, govet, copyright
