Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Increase timeout on docker windows job to 60m
  .gitlab/container_build/docker_windows.yml
Due: shell-check-no-set-x, gitlab-configuration

add wait for ready
  pkg/privateactionrunner/remoteconfig/keys_manager.go
Due: copyright, go-mod-tidy

fix startup crash on missing par config
  comp/privateactionrunner/impl/privateactionrunner.go
Due: copyright, go-mod-tidy

Fix TestActivityDumps/activity-dump-cgroup-counts (and cgroup traced cgroups / eviction mechanism)
  pkg/security/ebpf/c/include/helpers/activity_dump.h
  pkg/security/resolvers/cgroup/resolver.go
  pkg/security/security_profile/ad.go
  pkg/security/tests/activity_dumps_common.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/module_tester_linux.go
Due: copyright, win-clang-format, go-mod-tidy

Add virus total invoke task using vt-py
  .gitlab/scan/windows.yml
  tasks/__init__.py
  tasks/virustotal.py
Due: shell-check-no-set-x, gitlab-configuration

Add code owner
  .github/CODEOWNERS
Due: none

Update build images
  tasks/__init__.py
Due: none

log instead of return on fd use not found
  pkg/serverless/metrics/enhanced_metrics.go
  pkg/serverless/proc/proc.go
  pkg/serverless/proc/proc_test.go
Due: copyright, go-mod-tidy

disable preaggregation endpoint for otel-agent (#40847)
  cmd/otel-agent/config/agent_config.go
Due: copyright, go-mod-tidy

Removed extra allocation when calling processHTTPDirect
  pkg/network/protocols/events/consumer.go
  pkg/network/protocols/http/protocol.go
Due: copyright, go-mod-tidy

fix get_path_id return type
  pkg/security/ebpf/c/include/helpers/filesystem.h
Due: win-clang-format

ngen
  test/new-e2e/tests/windows/common/powershell/command_builder.go
Due: copyright, go-mod-tidy

[CWS] Fix raw packet action tests
  pkg/security/ebpf/probes/event_types.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/secl/rules/model.go
  pkg/security/secl/rules/policy.go
  pkg/security/secl/rules/ruleset.go
  pkg/security/tests/network_test.go
Due: copyright, go-mod-tidy

[pin-all-amis] Updated test infra
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

fix(docs) Update the mkdocs
  mkdocs.yml
Due: shell-check-no-set-x

CONTINT-4813: statefulset rollout duration metric and refactoring
  pkg/collector/corechecks/cluster/ksm/customresources/controllerrevisions.go
  pkg/collector/corechecks/cluster/ksm/customresources/controllerrevisions_test.go
  pkg/collector/corechecks/cluster/ksm/customresources/deployment.go
  pkg/collector/corechecks/cluster/ksm/customresources/deployment_test.go
  pkg/collector/corechecks/cluster/ksm/customresources/replicaset.go
  pkg/collector/corechecks/cluster/ksm/customresources/replicaset_test.go
  pkg/collector/corechecks/cluster/ksm/customresources/rollout_tracker.go
  pkg/collector/corechecks/cluster/ksm/customresources/rollout_tracker_test.go
  pkg/collector/corechecks/cluster/ksm/customresources/statefulset.go
  pkg/collector/corechecks/cluster/ksm/customresources/statefulset_test.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_transformers.go
  pkg/kubestatemetrics/builder/builder.go
  pkg/kubestatemetrics/store/event_callbacks.go
  pkg/kubestatemetrics/store/rollout_store.go
  pkg/kubestatemetrics/store/store.go
Due: copyright, go-mod-tidy

Update pkg/config/config_template.yaml
  pkg/config/config_template.yaml
Due: shell-check-no-set-x

Fix field order in USMConfig constructor
  pkg/network/config/usm_config.go
Due: copyright, go-mod-tidy

Fix field alignment formatting to match main branch
  pkg/network/config/usm_config.go
Due: copyright, go-mod-tidy

fix(add_reviewer): Update token permissions
  .github/chainguard/self.add-reviewer-bot-pr.review-pr.sts.yaml
Due: shell-check-no-set-x

[CWS] do not use model.FileEvent in ad FileNode
  pkg/security/security_profile/activity_tree/activity_tree.go
  pkg/security/security_profile/activity_tree/activity_tree_proto_dec_v1.go
  pkg/security/security_profile/activity_tree/activity_tree_proto_enc_v1.go
  pkg/security/security_profile/activity_tree/file_node.go
Due: copyright, go-mod-tidy

Fix line endings
  tasks/__init__.py
  tasks/virustotal.py
Due: none

add a change log for load-more-gui-fix (#40807)
  releasenotes/notes/load-more-gui-fix-bff84f0212617313.yaml
Due: shell-check-no-set-x

CONTINT-4813: adds releasenote
  releasenotes/notes/add-statefulset-rollout-duration-metric-fae82bcd0b62f50b.yaml
Due: shell-check-no-set-x

Add parsing of message to decoder
  pkg/dyninst/decode/decoder.go
  pkg/dyninst/decode/decoder_test.go
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/irgen/irgen.go
  pkg/dyninst/rcjson/rcjson.go
Due: copyright, go-mod-tidy

typo
  test/new-e2e/tests/windows/common/powershell/command_builder.go
Due: copyright, go-mod-tidy

fix
  pkg/serverless/metrics/enhanced_metrics.go
Due: copyright, go-mod-tidy

fix: ignore established metrics in Linux network e2e test
  test/new-e2e/tests/agent-runtimes/checks/network/network_nix_test.go
Due: copyright, go-mod-tidy

fix: use correct receiver for assertions
  pkg/network/tracer/tracer_test.go
Due: copyright, go-mod-tidy

small refactor
  cmd/cluster-agent/subcommands/start/command.go
  pkg/clusteragent/admission/controllers/webhook/controller_base_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/config.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/image_resolver.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/image_resolver_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/injector_test.go
  pkg/clusteragent/admission/mutate/common/common.go
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

log par URN
  comp/privateactionrunner/impl/privateactionrunner.go
Due: copyright, go-mod-tidy

best effort to keep comments when updating YAMLs (#40593)
  pkg/config/config_template.yaml
  pkg/config/render_config.go
  pkg/fleet/installer/setup/config/config.go
  pkg/fleet/installer/setup/config/write.go
  pkg/fleet/installer/setup/config/write_test.go
  releasenotes/notes/fleet-setup-keep-yaml-comments-40d804ecd60e916c.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Configurable DD default registries (#40855)
  cmd/cluster-agent/subcommands/start/command.go
  pkg/clusteragent/admission/controllers/webhook/controller_base_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/image_resolver.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/image_resolver_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/injector_test.go
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

Test
  .gitlab-ci.yml
  .gitlab/e2e/e2e.yml
  .gitlab/e2e_pre_test/e2e_pre_test.yml
  test/new-e2e/tests/agent-devx/base_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

[CWS] Try to fix TestFilterOpenLeafDiscarderActivityDump flackyness (#40635)
  pkg/security/ebpf/c/include/helpers/activity_dump.h
  pkg/security/resolvers/cgroup/resolver.go
  pkg/security/security_profile/ad.go
  pkg/security/tests/activity_dumps_common.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/module_tester_linux.go
Due: copyright, win-clang-format, go-mod-tidy

CONTINT-4813: linter fixes
  pkg/kubestatemetrics/store/event_callbacks.go
Due: copyright, go-mod-tidy

fix test
  pkg/serverless/proc/proc_test.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
