Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

.pre-commit-config.yaml:

default_language_version:
  python: python3
default_install_hook_types:
  - pre-commit
  - pre-push
default_stages:
  - pre-commit

repos:
- repo: https://github.com/pycqa/flake8
  rev: c6e0d27593a45342ffa96a18bba708a5aab32fdf # 3.9.2 should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==21.11.28
        - flake8-comprehensions==3.7.0
        - flake8-unused-arguments==0.0.6
        - flake8-use-fstring==1.3.0
- repo: https://github.com/psf/black
  rev: ae2c0758c9e61a385df9700dc9c231bf54887041 # 22.3.0
  hooks:
    - id: black
- repo: https://github.com/timothycrosley/isort/
  rev: e44834b7b294701f596c9118d6c370f86671a50d # 5.12.0
  hooks:
    - id: isort
- repo: https://github.com/jendrikseipp/vulture
  rev: 44aed44e226ec0e5660851462f764ec5d5da957c # v2.3
  hooks:
    - id: vulture
      args: ["--ignore-decorators", "@task", "--ignore-names", "test_*,Test*", "tasks"]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 7cc5848088fd8412905ab79feea6c8edc3ac76c6 # 2.1.5
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: bd69b816c43306f28bad4d7b303d981b0ecd2fd5 # v1.0.0-beta.5
  hooks:
    - id: go-fmt
      args: [ "-w", "-s" ]
- repo: local
  hooks:
    - id: protected-branches
      name: protected-branches
      description: checks that the commit isn't created on a protected branch
      entry: 'python3 tasks/git-hooks/protected-branches.py'
      language: system
      pass_filenames: false
    - id: revive
      name: revive
      description: revive
      entry: 'python3 tasks/git-hooks/revive.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: copyright
      name: copyright
      description: copyright headers
      entry: 'python3 -m tasks.git-hooks.copyright'
      language: system
      require_serial: true
      files: \.go$
    - id: win-clang-format
      name: win-clang-format
      description: clang-format
      entry: './tasks/git-hooks/wincpplang.py'
      language: system
      types_or: [c, c++, c#]
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 tasks/git-hooks/clang-format.py'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'
    - id: go-mod-tidy
      name: go-mod-tidy
      description: check that all go.mod files are tidy
      entry: 'python3 -m tasks.git-hooks.go-mod-tidy'
      language: system
      require_serial: true
      files: (\.go|^go\.mod|^go\.sum)$
      # no need to pass filenames, all go.mod have to be tidied anyway
      pass_filenames: false
      # inv tidy-all takes several seconds so only run it on pre-push
      stages: [pre-push]
    - id: go-test
      name: go-test
      description: run go test on modified packages
      entry: 'inv test --only-modified-packages'
      language: system
      require_serial: true
      always_run: true
      pass_filenames: false
      stages: [pre-push]
    - id: shell-check-no-set-x
      name: shell-check-no-set-x
      description: check that no `set -x` is set within github / gitlab workflows
      entry: inv pre-commit.shell-check-no-set-x
      language: system
      require_serial: true
      files: (\.yaml|\.yml|\.sh|Dockerfile)$
      pass_filenames: false
    - id: gitlab-configuration
      name: gitlab-configuration
      description: test the gitlab configuration on main
      entry: 'inv linter.gitlab-ci -t main'
      language: system
      require_serial: true
      files: .*gitlab.*\.yml$
      pass_filenames: false
      stages: [pre-push]

Add OTEL task number
  pkg/trace/api/otlp.go
Due: revive, govet, copyright, go-mod-tidy

[ASCII-1458] remove prometheus dependency from serverless binary using a separate telemetry implementation for serverless (#24854)
  comp/core/telemetry/collector.go
  comp/core/telemetry/collector_noop.go
  comp/core/telemetry/component.go
  comp/core/telemetry/component_mock.go
  comp/core/telemetry/metric.go
  comp/core/telemetry/metric_noop.go
  comp/core/telemetry/noopsimpl/counter.go
  comp/core/telemetry/noopsimpl/gauge.go
  comp/core/telemetry/noopsimpl/histogram.go
  comp/core/telemetry/noopsimpl/simple_noop_counter.go
  comp/core/telemetry/noopsimpl/simple_noop_gauge.go
  comp/core/telemetry/noopsimpl/simple_noop_histogram.go
  comp/core/telemetry/noopsimpl/telemetry.go
  comp/core/telemetry/telemetryimpl/telemetry.go
  comp/trace/config/setup.go
  pkg/network/tracer/tracer.go
  pkg/telemetry/counter.go
  pkg/telemetry/gauge.go
  pkg/telemetry/histogram.go
  pkg/telemetry/simple_counter.go
  pkg/telemetry/simple_gauge.go
  pkg/telemetry/simple_histogram.go
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_noop.go
Due: revive, govet, copyright, go-mod-tidy

commit
  comp/core/workloadmeta/collectors/internal/kubeapiserver/deployments.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/node.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/pod.go
  pkg/util/kubernetes/apiserver/apiserver.go
Due: revive, govet, copyright, go-mod-tidy

Update releasenotes/notes/bump-viper-version-to-1.13.1-daf1a3e5bb933264.yaml
  releasenotes/notes/bump-viper-version-to-1.13.1-daf1a3e5bb933264.yaml
Due: shell-check-no-set-x

update error
  pkg/process/checks/net.go
Due: revive, govet, copyright, go-mod-tidy

[e2e]: Use exponential backoff for retries, retry install script call (#25161)
  test/new-e2e/tests/agent-platform/common/test_client.go
  test/new-e2e/tests/agent-platform/install/install.go
Due: revive, govet, copyright, go-mod-tidy

trailing dot
  pkg/networkpath/traceroute/runner.go
Due: revive, govet, copyright, go-mod-tidy

trim trailing dot
  pkg/networkpath/traceroute/runner.go
Due: revive, govet, copyright, go-mod-tidy

bump security agent policies to v0.54.0
  release.json
Due: none

[CWS] Implement the `kubectl cp` strategy for K8s user session instrumentation (#24175)
  .gitlab/binary_build/cws_instrumentation.yml
  .gitlab/container_build/docker_linux.yml
  Dockerfiles/cluster-agent/Dockerfile
  Dockerfiles/cws-instrumentation/Dockerfile
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/clusteragent/admission/controllers/webhook/controller_base.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1_test.go
  pkg/clusteragent/admission/metrics/metrics.go
  pkg/clusteragent/admission/mutate/cwsinstrumentation/cws_instrumentation.go
  pkg/clusteragent/admission/mutate/cwsinstrumentation/cws_instrumentation_test.go
  pkg/clusteragent/admission/mutate/cwsinstrumentation/k8scp/cp.go
  pkg/clusteragent/admission/mutate/cwsinstrumentation/k8scp/filespec.go
  pkg/clusteragent/admission/mutate/cwsinstrumentation/k8scp/streamOptions.go
  pkg/clusteragent/admission/mutate/cwsinstrumentation/k8scp/utils.go
  pkg/config/setup/config.go
  pkg/util/kubernetes/apiserver/apiserver.go
  tasks/cluster_agent.py
  tasks/cws_instrumentation.py
Due: revive, govet, copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

(fleet) fix remote updates permissions
  comp/updater/localapi/localapiimpl/local_api.go
  comp/updater/localapiclient/localapiclientimpl/localapiclient.go
  pkg/fleet/daemon/local_api.go
  pkg/fleet/installer/service/datadog_installer.go
Due: revive, govet, copyright, go-mod-tidy

Fix data dir permissions
  tasks/ebpf.py
Due: none

[e2e]: break out of retry loop, instead of waiting again (#25164)
  test/new-e2e/tests/agent-platform/common/test_client.go
Due: revive, govet, copyright, go-mod-tidy

Fix directory
  tasks/ebpf.py
Due: none

update signature
  comp/networkpath/npscheduler/component.go
  comp/networkpath/npscheduler/npschedulerimpl/npscheduler.go
Due: revive, govet, copyright, go-mod-tidy

Testwasher circleCI and windows
  .circleci/config.yml
  .github/workflows/windows-unittests.yml
Due: shell-check-no-set-x

Update doc and remove failures [skip cancel]
  flakes.yaml
  pkg/gohai/gohai_test.go
Due: revive, govet, copyright, go-mod-tidy, shell-check-no-set-x

fix var name
  pkg/networkpath/traceroute/runner.go
Due: revive, govet, copyright, go-mod-tidy

comp/trace/config: do not ignore no_proxy config in trace agent (#25152)
  cmd/trace-agent/test/testsuite/proxy_test.go
  comp/trace/config/setup.go
  releasenotes/notes/trace-agent-no-proxy-41af1a10df52522d.yaml
Due: revive, govet, copyright, go-mod-tidy, shell-check-no-set-x

fix traceroute.New
  comp/networkpath/npscheduler/npschedulerimpl/npscheduler.go
Due: revive, govet, copyright, go-mod-tidy

[CWS] add delete event support
  pkg/security/probe/probe_windows.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/secl/model/events.go
  pkg/security/secl/model/field_accessors_windows.go
  pkg/security/secl/model/field_handlers_windows.go
  pkg/security/secl/model/model_windows.go
Due: revive, govet, copyright, go-mod-tidy

add test
  pkg/security/tests/file_windows_test.go
Due: revive, govet, copyright, go-mod-tidy

fix discarder
  pkg/security/probe/discarders_windows.go
Due: revive, govet, copyright, go-mod-tidy

fix serializers
  pkg/security/serializers/serializers_windows.go
Due: revive, govet, copyright, go-mod-tidy

Prepare testwasher for macos [skip cancel]
  tasks/github_tasks.py
  tasks/libs/ciproviders/github_actions_tools.py
Due: none

[CWS] apply review suggestion in rename event release note
  releasenotes/notes/cws-windows-rename-event-acaae7110b09c4a5.yaml
Due: shell-check-no-set-x

Fix directory permissions too
  pkg/ebpf/verifier/calculator/main.go
  tasks/ebpf.py
Due: revive, govet, copyright, go-mod-tidy

(fleet) add a notice in `agent flare` that it can now be done from the UI
  cmd/agent/subcommands/flare/command.go
Due: revive, govet, copyright, go-mod-tidy

Better custom_task import
  pyproject.toml
  tasks/__init__.py
  tasks/custom_task/__init__.py
Due: none

print in stderr in windows and collapse
  tasks/msi.py
  tasks/omnibus.py
Due: none

Fix test washer
  .circleci/config.yml
  .github/workflows/windows-unittests.yml
Due: shell-check-no-set-x

Fix message
  tasks/go_test.py
Due: none

[CWS-1954] Add EKS Fargate configuration to the inventory agent payload (#25129)
  comp/metadata/inventoryagent/README.md
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent.go
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent_test.go
  releasenotes/notes/add-eks-fargate-to-agent-metadata-payload-3d6f2900fd328784.yaml
Due: revive, govet, copyright, go-mod-tidy, shell-check-no-set-x

Warn when GOROOT is not set
  tasks/kmt.py
Due: none

fix: flare tests with system probe on Darwin
  cmd/agent/subcommands/flare/command.go
  cmd/agent/subcommands/flare/command_test.go
Due: revive, govet, copyright, go-mod-tidy

Fix rsync command
  tasks/kernel_matrix_testing/infra.py
Due: none

usm: Move READ_INTO_BUFFER_USER to correct header
  pkg/network/ebpf/c/protocols/http/buffer.h
  pkg/network/ebpf/c/protocols/kafka/kafka-classification.h
  pkg/network/ebpf/c/protocols/kafka/pktbuf.h
  pkg/network/ebpf/c/protocols/read_into_buffer.h
Due: clang-format
