Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

copyright:
  name: copyright
  description: copyright headers
  entry: inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: inv tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

gitlab-lint-jobs-codeowners:
  name: gitlab-lint-jobs-codeowners
  description: lint the gitlab configuration to verify jobs codeowners
  entry: inv linter.gitlab-ci-jobs-codeowners
  language: system
  require_serial: true
  pass_filenames: false

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: inv modules.validate
  language: system
  pass_filenames: false

Reduce amount of changes
  pkg/util/scrubber/default.go
Due: copyright, go-mod-tidy

feat(PR): apply suggestions
  tasks/github_tasks.py
Due: none

feat(comment): clarification
  .gitlab/trigger_release/trigger_release.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

usm: Remove redundant duplication of flushing events (#32497)
  pkg/network/ebpf/c/prebuilt/usm.c
  pkg/network/ebpf/c/protocols/flush.h
  pkg/network/ebpf/c/runtime/usm.c
Due: win-clang-format

usm: Add raw tracepoint implementation for netif_receive_skb
  pkg/network/ebpf/c/protocols/flush.h
Due: win-clang-format

usm: Add user mode algorithm to dynamically decide which probe to use
  pkg/network/usm/ebpf_main.go
Due: copyright, go-mod-tidy

Update AMI
  test/new-e2e/tests/gpu/provisioner.go
Due: copyright, go-mod-tidy

Add better errors
  test/new-e2e/tests/gpu/provisioner.go
Due: copyright, go-mod-tidy

feat(task): early exit when workflow_conclusion is different than success
  tasks/github_tasks.py
Due: none

Update releasenotes/notes/agent-tel-extend-histogr-6e2da94e63edcaf8.yaml
  releasenotes/notes/agent-tel-extend-histogr-6e2da94e63edcaf8.yaml
Due: shell-check-no-set-x

fix(fleet): More flaky mitigations again (#32495)
  pkg/fleet/installer/packages/docker.go
  test/new-e2e/tests/installer/host/host.go
  test/new-e2e/tests/installer/unix/all_packages_test.go
Due: copyright, go-mod-tidy

Change dependencies
  test/new-e2e/tests/gpu/provisioner.go
Due: copyright, go-mod-tidy

Filter out return values for now
  pkg/dynamicinstrumentation/diconfig/dwarf.go
Due: copyright, go-mod-tidy

Add config variable for whether or not to collect program counters that correspond with inlined subroutines
  pkg/config/setup/system_probe.go
  pkg/dynamicinstrumentation/di.go
  pkg/dynamicinstrumentation/diconfig/binary_inspection.go
  pkg/dynamicinstrumentation/diconfig/config_manager.go
  pkg/dynamicinstrumentation/diconfig/dwarf.go
  pkg/dynamicinstrumentation/diconfig/file_config_manager.go
  pkg/dynamicinstrumentation/diconfig/mem_config_manager.go
  pkg/dynamicinstrumentation/ditypes/config.go
  pkg/dynamicinstrumentation/module/module.go
  pkg/dynamicinstrumentation/testutil/sample/stacktraces.go
Due: copyright, go-mod-tidy

Add back return to sample function
  pkg/dynamicinstrumentation/testutil/sample/stacktraces.go
Due: copyright, go-mod-tidy

Completely remove inlined function program counter resolution
  pkg/config/setup/system_probe.go
  pkg/dynamicinstrumentation/di.go
  pkg/dynamicinstrumentation/diconfig/binary_inspection.go
  pkg/dynamicinstrumentation/diconfig/config_manager.go
  pkg/dynamicinstrumentation/diconfig/dwarf.go
  pkg/dynamicinstrumentation/diconfig/file_config_manager.go
  pkg/dynamicinstrumentation/diconfig/mem_config_manager.go
  pkg/dynamicinstrumentation/ditypes/analysis.go
  pkg/dynamicinstrumentation/ditypes/config.go
  pkg/dynamicinstrumentation/module/module.go
  pkg/dynamicinstrumentation/uploader/stack_trace.go
Due: copyright, go-mod-tidy

Removing caching of DWARF info completely
  pkg/dynamicinstrumentation/diconfig/dwarf.go
Due: copyright, go-mod-tidy

Linting fix
  pkg/dynamicinstrumentation/ditypes/config.go
Due: copyright, go-mod-tidy

Close elf file
  pkg/dynamicinstrumentation/diconfig/dwarf.go
Due: copyright, go-mod-tidy

Base: track dangling configs with time
  pkg/clusteragent/clusterchecks/dangling_config.go
  pkg/clusteragent/clusterchecks/dispatcher_configs.go
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/dispatcher_test.go
  pkg/clusteragent/clusterchecks/helpers.go
  pkg/clusteragent/clusterchecks/metrics.go
  pkg/clusteragent/clusterchecks/stores.go
Due: copyright, go-mod-tidy

Generate a PR to auto bump windows gitlab runner version on every new RC (#31971)
  .gitlab/.ci-linters.yml
  .gitlab/JOBOWNERS
  .gitlab/trigger_release/trigger_release.yml
  tasks/github_tasks.py
  tasks/libs/ciproviders/github_actions_tools.py
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[ASCII-1006] Fix scrubber misuses key for http:// in urls (#32503)
  pkg/util/scrubber/default.go
  pkg/util/scrubber/default_test.go
Due: copyright, go-mod-tidy

enable ci
  .gitlab/e2e/e2e.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Use runModifiersOfType
  pkg/ebpf/manager.go
Due: copyright, go-mod-tidy

fix ci
  .gitlab/e2e/e2e.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Fix tests
  pkg/ebpf/manager_test.go
Due: copyright, go-mod-tidy

fix ci
  .gitlab/e2e/e2e.yml
  test/new-e2e/tests/agent-onboarding/k8sSuite_test.go
  test/new-e2e/tests/agent-onboarding/kind_aws_test.go
  test/new-e2e/tests/agent-onboarding/kind_local_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

fix ci
  .gitlab/e2e/e2e.yml
  junit-out-base.xml
  test/new-e2e/junit-out-base.xml
  test/new-e2e/tests/agent-onboarding/common/common.go
  test/new-e2e/tests/agent-onboarding/k8sSuite_test.go
  test/new-e2e/tests/agent-onboarding/kind_aws_test.go
  test/new-e2e/tests/agent-onboarding/kind_local_test.go
  test/new-e2e/tests/agent-onboarding/provisioners/common.go
  test/new-e2e/tests/agent-onboarding/provisioners/kind.go
  test/new-e2e/tests/agent-onboarding/provisioners/kindProvisioner.go
  test/new-e2e/tests/agent-onboarding/utils/utils.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Reduce agent RSS
  cmd/agent/main.go
  cmd/cluster-agent/main.go
  cmd/internal/rssshrinker/rssshrinker_linux.go
  cmd/internal/rssshrinker/rssshrinker_stub.go
  cmd/otel-agent/main.go
  cmd/process-agent/main.go
  cmd/security-agent/main_nix.go
  cmd/system-probe/main.go
  cmd/trace-agent/main.go
Due: copyright, go-mod-tidy

Removes timers from rss-shrinker, make it a one-time operation
  cmd/internal/rssshrinker/rssshrinker_linux.go
Due: copyright, go-mod-tidy

Convert to counting number of reschedule attempts
  pkg/clusteragent/clusterchecks/dangling_config.go
  pkg/clusteragent/clusterchecks/dispatcher_configs.go
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/helpers.go
  pkg/clusteragent/clusterchecks/helpers_test.go
  pkg/clusteragent/clusterchecks/metrics.go
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

Remove inlined function PC resolution for stack traces, remove DWARF caching (#32166)
  pkg/dynamicinstrumentation/di.go
  pkg/dynamicinstrumentation/diconfig/config_manager.go
  pkg/dynamicinstrumentation/diconfig/dwarf.go
  pkg/dynamicinstrumentation/ditypes/analysis.go
  pkg/dynamicinstrumentation/module/module.go
  pkg/dynamicinstrumentation/uploader/stack_trace.go
Due: copyright, go-mod-tidy

Add more sample functions to sample service, add span creation
  pkg/dynamicinstrumentation/testutil/e2e_test.go
  pkg/dynamicinstrumentation/testutil/expressions_e2e_test.go
  pkg/dynamicinstrumentation/testutil/sample/complex.go
  pkg/dynamicinstrumentation/testutil/sample/pointers.go
  pkg/dynamicinstrumentation/testutil/sample/sample_service/sample_service.go
  pkg/dynamicinstrumentation/testutil/sample/slices.go
Due: copyright, go-mod-tidy

Break up bpf program into multiple headers
  pkg/dynamicinstrumentation/codegen/c/base_event.h
  pkg/dynamicinstrumentation/codegen/c/dynamicinstrumentation.c
  pkg/dynamicinstrumentation/codegen/c/event.h
  pkg/dynamicinstrumentation/codegen/c/expressions.h
  pkg/dynamicinstrumentation/codegen/c/macros.h
  pkg/dynamicinstrumentation/codegen/c/maps.h
Due: win-clang-format

Refactor central logic of instrumentation to use location expressions
  pkg/dynamicinstrumentation/codegen/codegen.go
  pkg/dynamicinstrumentation/codegen/expression_templates.go
  pkg/dynamicinstrumentation/codegen/output_offsets.go
  pkg/dynamicinstrumentation/codegen/templates.go
  pkg/dynamicinstrumentation/diconfig/binary_inspection.go
  pkg/dynamicinstrumentation/diconfig/binary_inspection_test.go
  pkg/dynamicinstrumentation/diconfig/config_manager.go
  pkg/dynamicinstrumentation/diconfig/dwarf.go
  pkg/dynamicinstrumentation/diconfig/location_expression.go
  pkg/dynamicinstrumentation/diconfig/location_expression_test.go
  pkg/dynamicinstrumentation/ditypes/analysis.go
  pkg/dynamicinstrumentation/ditypes/arch_amd64.go
  pkg/dynamicinstrumentation/ditypes/arch_arm64.go
  pkg/dynamicinstrumentation/ditypes/config.go
  pkg/dynamicinstrumentation/eventparser/event_parser.go
  pkg/dynamicinstrumentation/eventparser/param_stack.go
  pkg/dynamicinstrumentation/ringbufconsumer.go
  pkg/dynamicinstrumentation/uploader/di_log_converter.go
Due: copyright, go-mod-tidy

Fix dynamic string reading
  pkg/dynamicinstrumentation/codegen/c/dynamicinstrumentation.c
  pkg/dynamicinstrumentation/codegen/c/event.h
  pkg/dynamicinstrumentation/codegen/c/expressions.h
  pkg/dynamicinstrumentation/codegen/expression_templates.go
  pkg/dynamicinstrumentation/diconfig/location_expression.go
  pkg/dynamicinstrumentation/testutil/sample/strings.go
Due: copyright, win-clang-format, go-mod-tidy

Rename header file with type that gets generated for Go consumption
  tasks/system_probe.py
Due: none

Remove global map of seenTypes
  pkg/dynamicinstrumentation/diconfig/config_manager.go
  pkg/dynamicinstrumentation/diconfig/dwarf.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$
