Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

anomalydetection: simplify metric tag lifetime contract
  comp/anomalydetection/observer/def/types.go
Due: copyright, go-mod-tidy

anomalydetection: remove redundant metric view comment
  pkg/aggregator/context_resolver.go
Due: copyright, go-mod-tidy

anomalydetection: clarify metric view lifetime
  comp/anomalydetection/observer/def/types.go
Due: copyright, go-mod-tidy

anomalydetection: prefilter metric handoffs
  comp/anomalydetection/observer/AGENTS.md
  comp/anomalydetection/observer/impl/filter_rules_test.go
  comp/anomalydetection/observer/impl/metric_handoff_test.go
  comp/anomalydetection/observer/impl/observer.go
  pkg/aggregator/observer_handle_test.go
Due: copyright, go-mod-tidy

anomalydetection: keep aggregator observer tests unchanged
  pkg/aggregator/observer_handle_test.go
Due: copyright, go-mod-tidy

fix(procmgr): use rlocationpath for graceful-sleeper in Windows tests
  pkg/procmgr/rust/BUILD.bazel
  pkg/procmgr/rust/src/test_helpers.rs
Due: none

[NDM] Trim comments in the SNMP listener
  comp/core/autodiscovery/listeners/snmp.go
  comp/core/autodiscovery/listeners/snmp_test.go
Due: copyright, go-mod-tidy

Split the record read out of the OTel TLS reader
  pkg/security/ebpf/c/include/helpers/span.h
  pkg/security/ebpf/c/include/helpers/span_otel.h
Due: win-clang-format

Read the thread context of Node.js processes
  pkg/security/ebpf/c/include/constants/custom.h
  pkg/security/ebpf/c/include/constants/enums.h
  pkg/security/ebpf/c/include/helpers/span.h
  pkg/security/ebpf/c/include/helpers/span_nodejs.h
  pkg/security/ebpf/c/include/structs/span_context.h
  pkg/security/otelprocessctx/attributes.go
  pkg/security/probe/monitors/spanctxevent/spanctxevent_monitor.go
  pkg/security/resolvers/process/otel_tls.go
  pkg/security/resolvers/process/otel_tls_upstream_access.go
  pkg/security/resolvers/process/resolver_ebpf.go
Due: copyright, win-clang-format, go-mod-tidy

Add the Node.js thread context tester and its functional tests
  pkg/security/tests/span_test.go
  pkg/security/tests/syscall_tester/.gitignore
  pkg/security/tests/syscall_tester/c/BUILD.bazel
  pkg/security/tests/syscall_tester/c/otel_nodejs_common.h
  pkg/security/tests/syscall_tester/c/otel_nodejs_driver.c
  pkg/security/tests/syscall_tester/c/otel_nodejs_lib.c
  pkg/security/tests/syscall_tester/c/otel_nodejs_lib.h
  pkg/security/tests/syscall_tester/c/otel_process_ctx_common.h
  pkg/security/tests/syscall_tester/c/otel_tls.bzl
  tasks/security_agent.py
Due: copyright, win-clang-format, go-mod-tidy

[DATASEC-266] [CI] Add data security e2e tests (#55956)
  .github/CODEOWNERS
  .gitlab/JOBOWNERS
  .gitlab/test/e2e/e2e_data_security.yml
  test/e2e-framework/components/datadog/agentparams/params.go
  test/e2e-framework/components/integration/postgres/docker-compose.yaml
  test/new-e2e/tests/data-security/BUILD.bazel
  test/new-e2e/tests/data-security/fixtures/datadog-agent.yaml
  test/new-e2e/tests/data-security/fixtures/datasecurity.yaml
  test/new-e2e/tests/data-security/postgres_provisioner.go
  test/new-e2e/tests/data-security/postgres_scan_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

[DATASEC] Generate sdsresult for golang
  BUILD.bazel
  pkg/proto/pbgo/sds/BUILD.bazel
  pkg/proto/pbgo/sds/sds_result.pb.go
Due: copyright, go-mod-tidy

fix(dogtelextension): fetch ECS Fargate task ARN directly instead of via workloadmeta
  comp/otelcol/collector/impl/collector.go
  comp/otelcol/dogtelextension/impl/ecsfargate.go
  comp/otelcol/dogtelextension/impl/ecsfargate_test.go
  comp/otelcol/dogtelextension/impl/extension.go
  comp/otelcol/dogtelextension/impl/extension_test.go
  comp/otelcol/dogtelextension/impl/factory.go
  comp/otelcol/dogtelextension/impl/factory_test.go
Due: copyright, go-mod-tidy

feat(wls): use apm-inject policy schema if available
  comp/workloadselection/impl/BUILD.bazel
  comp/workloadselection/impl/workloadselection.go
  comp/workloadselection/impl/workloadselection_test.go
  comp/workloadselection/impl/workloadselection_unix.go
  comp/workloadselection/impl/workloadselection_windows.go
Due: copyright, go-mod-tidy

fix(healthplatform): clear stale egress error on idle tick
  comp/healthplatform/egress/def/component.go
  comp/healthplatform/egress/impl/egress.go
  comp/healthplatform/egress/impl/egress_test.go
  comp/healthplatform/status/impl/status_templates/healthplatform.tmpl
  comp/healthplatform/status/impl/status_templates/healthplatformHTML.tmpl
Due: copyright, go-mod-tidy

tidy
  pkg/clusteragent/api/BUILD.bazel
Due: none

Apply suggestions from code review
  packaging/aix/package-scripts/postinst
  packaging/aix/package-scripts/unconfig
Due: none

Fix port conflict in ddflareextension test (#56350)
  comp/otelcol/ddflareextension/impl/factory_test.go
Due: copyright, go-mod-tidy

Bump embedded pip to 26.2.1
  deps/agent_integrations/integrations.MODULE.bazel
  packaging/aix/stages/02-python.sh
  releasenotes/notes/bump-embedded-pip-26.2.1-03f6051fde6c2578.yaml
Due: shell-check-no-set-x

[ACTP] add support for new PAR credentials with agent secret
  pkg/config/schema/yaml/private_action_runner.yaml
  pkg/config/setup/privateactionrunner.go
  pkg/privateactionrunner/adapters/config/config_adapter.go
  pkg/privateactionrunner/adapters/config/transform.go
  pkg/privateactionrunner/adapters/config/transform_test.go
  pkg/privateactionrunner/credentials/resolver/BUILD.bazel
  pkg/privateactionrunner/credentials/resolver/credential_catalog.go
  pkg/privateactionrunner/credentials/resolver/credential_catalog_test.go
  pkg/privateactionrunner/credentials/resolver/credentials_resolver.go
  pkg/privateactionrunner/runners/workflow_task_executor.go
  pkg/proto/datadog/privateactionrunner/private_actions.proto
  pkg/proto/pbgo/privateactionrunner/privateactions/private_actions.pb.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, protocol-buffer

iterate
  pkg/config/schema/yaml/private_action_runner.yaml
  pkg/privateactionrunner/credentials/resolver/credential_catalog.go
  pkg/privateactionrunner/credentials/resolver/credential_catalog_test.go
  pkg/proto/datadog/privateactionrunner/private_actions.proto
  pkg/proto/pbgo/privateactionrunner/privateactions/private_actions.pb.go
  releasenotes/notes/par-runner-configured-credentials-a4327572cf492ff9.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x, protocol-buffer

add scruber
  pkg/util/scrubber/default.go
  pkg/util/scrubber/yaml_scrubber_test.go
Due: copyright, go-mod-tidy

added span kind tags to kubemetadata
  cmd/cluster-agent/api/v1/kubernetes_metadata_stream.go
Due: copyright, go-mod-tidy

run gazelle
  pkg/ebpf/BUILD.bazel
Due: none

feat(ndm): schedule NDM checks from Remote Configuration
  cmd/agent/subcommands/run/BUILD.bazel
  cmd/agent/subcommands/run/command.go
  comp/core/autodiscovery/providers/names/provider_names.go
  comp/core/autodiscovery/providers/ndm/BUILD.bazel
  comp/core/autodiscovery/providers/ndm/config_keys_test.go
  comp/core/autodiscovery/providers/ndm/document.go
  comp/core/autodiscovery/providers/ndm/document_test.go
  comp/core/autodiscovery/providers/ndm/handler/BUILD.bazel
  comp/core/autodiscovery/providers/ndm/handler/handler.go
  comp/core/autodiscovery/providers/ndm/handler/handler_test.go
  comp/core/autodiscovery/providers/ndm/ndm_test.go
  comp/core/autodiscovery/providers/ndm/provider.go
  comp/core/autodiscovery/providers/ndm/provider_test.go
  comp/core/autodiscovery/providers/ndm/snmp/BUILD.bazel
  comp/core/autodiscovery/providers/ndm/snmp/credentials.go
  comp/core/autodiscovery/providers/ndm/snmp/credentials_test.go
  comp/core/autodiscovery/providers/ndm/snmp/handler.go
  comp/core/autodiscovery/providers/ndm/snmp/handler_test.go
  comp/core/autodiscovery/providers/ndm/snmp/instance.go
  comp/core/autodiscovery/providers/ndm/snmp/instance_test.go
  comp/ndm/rcconfig/fx/BUILD.bazel
  comp/ndm/rcconfig/fx/fx.go
  comp/ndm/rcconfig/fx/fx_test.go
  pkg/config/remote/data/product.go
  pkg/config/schema/yaml/network_devices.yaml
  pkg/remoteconfig/state/configs_test.go
  pkg/remoteconfig/state/products.go
  releasenotes/notes/ndm-remote-config-provider-4d1e8a37c9b62f05.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

configfilesdiscovery: deny unsafe pgbouncer env vars
  comp/core/configfilesdiscovery/impl/collectors/pgbouncer.go
  comp/core/configfilesdiscovery/impl/collectors/pgbouncer_test.go
Due: copyright, go-mod-tidy

refactor(snmp): simplify FDB observation payload
  pkg/collector/corechecks/snmp/internal/checkconfig/config.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/internal/fdb/collect.go
  pkg/collector/corechecks/snmp/internal/fdb/collect_test.go
  pkg/collector/corechecks/snmp/internal/fdb/parse.go
  pkg/collector/corechecks/snmp/internal/fdb/parse_test.go
  pkg/collector/corechecks/snmp/internal/fdb/walk_corpus_test.go
  pkg/collector/corechecks/snmp/internal/report/BUILD.bazel
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata.go
  pkg/collector/corechecks/snmp/internal/report/report_fdb_test.go
  pkg/networkdevice/metadata/payload.go
  pkg/networkdevice/metadata/payload_utils.go
  pkg/networkdevice/metadata/payload_utils_test.go
  releasenotes/notes/snmp-collect-fdb-570bb273f3b31a62.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

configfilesdiscovery: sort pgbouncer e2e build data
  test/new-e2e/tests/discovery/BUILD.bazel
Due: none

Move telemetry e2e tests to health file (#56339)
  .github/CODEOWNERS
  .gitlab/test/e2e/e2e_agent_health.yml
  .gitlab/test/e2e/e2e_agent_runtimes.yml
Due: shell-check-no-set-x, gitlab-configuration

fix limits, try simplifying lading
  test/regression/cases/quality_gate_openmetrics/experiment.yaml
  test/regression/cases/quality_gate_openmetrics/lading/lading.yaml
Due: shell-check-no-set-x

[DATASEC] Address review and add regressions tests
  pkg/collector/sharedlibrary/rustchecks/checks/datasecurity/src/scanning/mod.rs
  pkg/collector/sharedlibrary/rustchecks/checks/datasecurity/src/scanning/scan_data_event.rs
  pkg/collector/sharedlibrary/rustchecks/checks/datasecurity/src/scanning/tests.rs
Due: none

refactor(dogtelextension): use time.Time for liveness metric timestamps
  comp/otelcol/collector/impl/BUILD.bazel
  comp/otelcol/dogtelextension/impl/BUILD.bazel
  comp/otelcol/dogtelextension/impl/extension.go
  comp/otelcol/dogtelextension/impl/metrics/metrics.go
  comp/otelcol/dogtelextension/impl/metrics/metrics_test.go
Due: copyright, go-mod-tidy

refactor(snmp): simplify FDB collection
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck_test.go
  pkg/collector/corechecks/snmp/internal/fdb/BUILD.bazel
  pkg/collector/corechecks/snmp/internal/fdb/collect.go
  pkg/collector/corechecks/snmp/internal/fdb/collect_test.go
  pkg/collector/corechecks/snmp/internal/fdb/oids.go
  pkg/collector/corechecks/snmp/internal/fdb/parse.go
  pkg/collector/corechecks/snmp/internal/fdb/parse_test.go
  pkg/collector/corechecks/snmp/internal/fdb/walk_corpus_test.go
  pkg/collector/corechecks/snmp/internal/report/report_fdb_test.go
  pkg/networkdevice/metadata/payload.go
  releasenotes/notes/snmp-collect-fdb-570bb273f3b31a62.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(procmgr): materialize graceful-sleeper for Windows Bazel tests
  pkg/procmgr/rust/src/test_helpers.rs
Due: none

add no-prealloc tag to max entries metric
  pkg/collector/corechecks/ebpf/ebpf.go
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/model/types.go
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/probe.go
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/probe_test.go
Due: copyright, go-mod-tidy

remove changes to SMP_VERSION
  .gitlab/childs/smp-regression-child-pipeline.yml
Due: shell-check-no-set-x, gitlab-configuration

Update buildimages ID to v137515717-cbd951c9
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration

Raise memory for SSI init jobs to 72Gi (#56352)
  .gitlab/test/e2e/e2e_ssi.yml
Due: shell-check-no-set-x, gitlab-configuration

license tidy fix
  LICENSE-3rdparty.csv
  cmd/cluster-agent/api/v1/BUILD.bazel
  go.sum
Due: go-mod-tidy

[overhead] bound log pattern tag registry (#56080)
  comp/anomalydetection/observer/impl/log_pattern_extractor.go
  comp/anomalydetection/observer/impl/log_tagged_pattern_clusterer.go
  comp/anomalydetection/observer/impl/log_tagged_pattern_clusterer_test.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
