Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

chore(serializer): remove unused serializer_max_series_points_per_payload setting
  comp/otelcol/otlp/components/exporter/serializerexporter/serializer.go
  pkg/config/schema/core_schema.yaml
  pkg/config/setup/common_settings.go
  pkg/serializer/internal/metrics/iterable_series.go
  pkg/serializer/internal/metrics/iterable_series_v3.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

packaging/aix: link SQLite with -lm for SQLITE_ENABLE_MATH_FUNCTIONS
  CHANGELOG-AIX.md
  packaging/aix/stages/01-native-libs.sh
Due: shell-check-no-set-x

macos: fix system-probe.yaml being clobbered on upgrade
  omnibus/package-scripts/agent-dmg/postinst
  omnibus/package-scripts/agent-dmg/preinst
Due: none

Fix TestInstallDDOTWithoutDatadogYAML on install-script hosts
  test/new-e2e/internal/procmgrtest/process.go
  test/new-e2e/tests/installer/unix/package_ddot_test.go
Due: copyright, go-mod-tidy

Clarify Remote Queries byte shift sizes
  comp/api/grpcserver/impl-agent/remote_query_execute_test.go
  comp/remotequeries/impl/remote_query_execute.go
  pkg/privateactionrunner/bundles/remotequeries/live_agent_ipc_par_loop_test.go
Due: copyright, go-mod-tidy

[autoscaling] Re-sync local-owner DPAs on annotation changes
  pkg/clusteragent/autoscaling/workload/controller.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_test.go
  pkg/clusteragent/autoscaling/workload/model/pod_autoscaler_test_utils.go
  releasenotes/notes/fix-dpa-annotation-resync-40deef59a1cde0aa.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

[SLES-2866] fix(serverless): move evp_proxy/ol_proxy defaults into setupAPM (#51110)
  pkg/config/setup/apm.go
  pkg/config/setup/common_settings.go
  pkg/config/setup/config_test.go
  releasenotes/notes/fix-serverless-evp-proxy-default-a8c1d2e3f4b5e6d7.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

clarify comments
  comp/core/autodiscovery/autodiscoveryimpl/trial.go
Due: copyright, go-mod-tidy

refactor(eventplatformreceiver): migrate comp/forwarder/eventplatformreceiver to V2 component architecture
  cmd/agent/subcommands/processchecks/command.go
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/snmp/command.go
  cmd/cluster-agent-cloudfoundry/subcommands/run/command.go
  cmd/cluster-agent/subcommands/start/command.go
  cmd/dogstatsd/subcommands/start/command.go
  cmd/privateactionrunner/subcommands/run/command.go
  cmd/process-agent/command/main_common.go
  cmd/process-agent/subcommands/check/check.go
  cmd/system-probe/subcommands/run/command.go
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder.go
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder_test.go
  comp/forwarder/eventplatformreceiver/BUILD.bazel
  comp/forwarder/eventplatformreceiver/component_mock.go
  comp/forwarder/eventplatformreceiver/def/BUILD.bazel
  comp/forwarder/eventplatformreceiver/def/component.go
  comp/forwarder/eventplatformreceiver/fx/BUILD.bazel
  comp/forwarder/eventplatformreceiver/fx/fx.go
  comp/forwarder/eventplatformreceiver/impl/BUILD.bazel
  comp/forwarder/eventplatformreceiver/impl/eventplatformreceiver.go
  comp/forwarder/eventplatformreceiver/impl/format.go
  comp/forwarder/eventplatformreceiver/mock/BUILD.bazel
  comp/forwarder/eventplatformreceiver/mock/mock.go
  comp/networkpath/npcollector/impl/npcollector_testutils_test.go
  comp/process/bundle_test.go
  pkg/aggregator/demultiplexer_test.go
  pkg/cli/subcommands/check/command.go
  tasks/components.py
Due: copyright, go-mod-tidy

Bump SQG absolute limits for pip 26.1.1 size increase
  test/static/static_quality_gates.yml
Due: shell-check-no-set-x

made chrome_extension_id optional in config
  cmd/ai_prompt_logger/README.md
  cmd/ai_prompt_logger/ai_usage_native_host.yaml.example
  omnibus/package-scripts/agent-dmg/postinst
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/WriteConfigUnitTests.cs
  tools/windows/DatadogAgentInstaller/CustomActions/ConfigCustomActions.cs
Due: none

set title on Agent lifecycle event
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_agent_test.go
Due: copyright, go-mod-tidy

deps: cpython: rpath-patch lib-dynload via dd_cc_packaged (#51159)
  bazel/rules/rewrite_rpath/macos.sh
  bazel/rules/rewrite_rpath/rewrite_rpath.bzl
  deps/cpython.BUILD.bazel
  omnibus/config/software/python3.rb
Due: shell-check-no-set-x

Query fixture table in Remote Queries proof
  comp/remotequeries/impl/remote_query_execute.go
  comp/remotequeries/impl/remote_query_par_poc_test.go
  comp/remotequeries/impl/remote_query_test.go
  pkg/privateactionrunner/bundles/remotequeries/execute_test.go
  pkg/privateactionrunner/bundles/remotequeries/live_agent_ipc_par_loop_test.go
  pkg/privateactionrunner/bundles/remotequeries/standalone_par_process_proof_test.go
  test/remotequeries/fused-local-par-agent-postgres-proof.sh
  test/remotequeries/standalone-par-agentsecure-postgres-proof.sh
Due: copyright, go-mod-tidy, shell-check-no-set-x

Detect procmgr from dd-procmgrd presence, drop marker and env gate
  pkg/fleet/installer/packages/datadog_agent_ddot_linux.go
  pkg/fleet/installer/packages/datadog_agent_linux.go
  pkg/fleet/installer/packages/service/BUILD.bazel
  pkg/fleet/installer/packages/service/gate.go
  pkg/fleet/installer/packages/service/procmgr_avail.go
  pkg/fleet/installer/packages/service/procmgr_avail_test.go
  pkg/fleet/installer/packages/service/service.go
  releasenotes/notes/ddot-extension-procmgr-linux-2cafdc711bb79480.yaml
  test/new-e2e/tests/agent-runtimes/procmgr/procmgr_extension_ddot_nix_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

dogstatsd: make stats consume shared series identity
  comp/dogstatsd/SMP_EXPERIMENT_PLAN.md
  comp/dogstatsd/VISION.md
  comp/dogstatsd/internal/identity/identity.go
  comp/dogstatsd/internal/identity/identity_test.go
  comp/dogstatsd/internal/lookback/store.go
  comp/dogstatsd/internal/lookback/store_test.go
  comp/dogstatsd/internal/semantic/replay.go
  comp/dogstatsd/internal/semantic/replay_test.go
  comp/dogstatsd/server/impl/server.go
  comp/dogstatsd/server/impl/server_bench_test.go
  comp/dogstatsd/server/impl/server_worker_test.go
  comp/dogstatsd/serverDebug/def/component.go
  comp/dogstatsd/serverDebug/impl/debug.go
  comp/dogstatsd/serverDebug/impl/debug_baseline_test.go
  comp/dogstatsd/serverDebug/impl/debug_stats_view.go
  comp/dogstatsd/serverDebug/impl/identity_contract_test.go
  comp/dogstatsd/serverDebug/impl/materialized_view_test.go
  comp/dogstatsd/serverDebug/impl/resolved_context_test.go
  comp/dogstatsd/serverDebug/mock/mock.go
  reports/smp/dogstatsd-agg-serde-20260516-143205/notes/stageW-fastlane.md
  reports/smp/dogstatsd-agg-serde-20260516-143205/report.html
Due: copyright, go-mod-tidy

Simplified Windows ConfigRoot registry lookup by limiting type to REG_SZ and using windows-registry while preserving access to the 64-bit HKLM registry view
  Cargo.lock
  Cargo.toml
  cmd/ai_prompt_logger/BUILD.bazel
  cmd/ai_prompt_logger/Cargo.toml
  cmd/ai_prompt_logger/src/datadog.rs
Due: none

Use container-scoped `outputBase` for Windows GitLab jobs (#51154)
  MODULE.bazel.lock
  tools/bazel.bat
Due: none

perf(preprocessor): 3 Go tokenizer pipeline optimizations
  pkg/logs/internal/decoder/preprocessor/json_aggregator.go
  pkg/logs/internal/decoder/preprocessor/json_aggregator_benchmark_test.go
  pkg/logs/internal/decoder/preprocessor/sampler.go
  pkg/logs/internal/decoder/preprocessor/tokenizer.go
Due: copyright, go-mod-tidy

Add large Remote Queries payload proof cases
  comp/remotequeries/impl/remote_query_execute.go
  comp/remotequeries/impl/remote_query_test.go
  pkg/privateactionrunner/bundles/remotequeries/live_agent_ipc_par_loop_test.go
  pkg/privateactionrunner/bundles/remotequeries/standalone_par_process_proof_test.go
  test/remotequeries/standalone-par-agentsecure-postgres-proof.sh
Due: copyright, go-mod-tidy, shell-check-no-set-x

Fix Remote Queries streaming proof assertions
  pkg/privateactionrunner/bundles/remotequeries/live_agent_ipc_par_loop_test.go
  test/remotequeries/fused-local-par-agent-postgres-proof.sh
Due: copyright, go-mod-tidy, shell-check-no-set-x

Fix CodeQL scan failing on unset XDG_CACHE_HOME (#51169)
  .gitlab/build/source_test/codeql_scan.yml
Due: shell-check-no-set-x, gitlab-configuration

updated rust dependency metadata for windows-registry
  MODULE.bazel.lock
  rust/LICENSE-3rdparty.csv
Due: none

dogstatsd: add stats-on SMP feature cost
  comp/dogstatsd/SMP_EXPERIMENT_PLAN.md
  reports/smp/dogstatsd-agg-serde-20260516-143205/README.md
  reports/smp/dogstatsd-agg-serde-20260516-143205/dogstatsd_stats_debug_on_high_selected_metrics.csv
  reports/smp/dogstatsd-agg-serde-20260516-143205/dogstatsd_stats_debug_on_standard_selected_metrics.csv
  reports/smp/dogstatsd-agg-serde-20260516-143205/images.txt
  reports/smp/dogstatsd-agg-serde-20260516-143205/local-experiment-dogstatsd-stats-debug-on-stageW/cases/uds_dogstatsd_to_api_v3_endpoint_fixed_250mb_metrics_only_compact_batch/datadog-agent/datadog.yaml
  reports/smp/dogstatsd-agg-serde-20260516-143205/local-experiment-dogstatsd-stats-debug-on-stageW/cases/uds_dogstatsd_to_api_v3_endpoint_fixed_250mb_metrics_only_compact_batch/experiment.yaml
  reports/smp/dogstatsd-agg-serde-20260516-143205/local-experiment-dogstatsd-stats-debug-on-stageW/cases/uds_dogstatsd_to_api_v3_endpoint_fixed_250mb_metrics_only_compact_batch/lading/lading.yaml
  reports/smp/dogstatsd-agg-serde-20260516-143205/local-experiment-dogstatsd-stats-debug-on-stageW/cases/uds_dogstatsd_to_api_v3_endpoint_fixed_compact_batch/datadog-agent/datadog.yaml
  reports/smp/dogstatsd-agg-serde-20260516-143205/local-experiment-dogstatsd-stats-debug-on-stageW/cases/uds_dogstatsd_to_api_v3_endpoint_fixed_compact_batch/experiment.yaml
  reports/smp/dogstatsd-agg-serde-20260516-143205/local-experiment-dogstatsd-stats-debug-on-stageW/cases/uds_dogstatsd_to_api_v3_endpoint_fixed_compact_batch/lading/lading.yaml
  reports/smp/dogstatsd-agg-serde-20260516-143205/local-experiment-dogstatsd-stats-debug-on-stageW/config.yaml
  reports/smp/dogstatsd-agg-serde-20260516-143205/notes/dogstatsd-stats-feature-cost.md
  reports/smp/dogstatsd-agg-serde-20260516-143205/notes/stageW-fastlane.md
  reports/smp/dogstatsd-agg-serde-20260516-143205/report.html
Due: shell-check-no-set-x

Remove telemetry-onboarding as codeowners for macOS install script (#51115)
  .github/CODEOWNERS
Due: none

dogstatsd: highlight stats feature cost result
  reports/smp/dogstatsd-agg-serde-20260516-143205/report.html
Due: none

docs(AGENTS.md): document how to fetch GitLab CI job logs
  AGENTS.md
Due: none

Add remote query Postgres match endpoint
  cmd/agent/subcommands/run/command.go
  comp/dataobs/remotequeries/fx/fx.go
  comp/dataobs/remotequeries/impl/postgres_match.go
  comp/dataobs/remotequeries/impl/postgres_match_test.go
Due: copyright, go-mod-tidy

Update schema after merge
  pkg/config/schema/compressed/core_schema.yaml.zstd
  pkg/config/schema/compressed/system-probe_schema.yaml.zstd
  pkg/config/schema/core_schema.yaml
  pkg/config/schema/system-probe_schema.yaml
Due: shell-check-no-set-x

add release note for system-probe.yaml preservation fix
  releasenotes/notes/macos-preserve-system-probe-yaml-fb19dd3338a82b3b.yaml
Due: shell-check-no-set-x

hacks
  pkg/collector/corechecks/gpu/gpu.go
  pkg/collector/corechecks/gpu/gpu_test.go
  pkg/collector/corechecks/gpu/spec/gpu_metrics.yaml
  releasenotes/notes/add-gpu-devices-counter-metrics-2953074038727dff.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

refactor(collector): migrate comp/collector/collector to V2 component architecture
  cmd/agent/subcommands/diagnose/command.go
  cmd/agent/subcommands/flare/command.go
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/command_windows.go
  cmd/cluster-agent-cloudfoundry/subcommands/run/command.go
  cmd/cluster-agent/subcommands/start/command.go
  comp/api/grpcserver/impl-agent/grpc.go
  comp/collector/collector/component.go
  comp/collector/collector/component_mock.go
  comp/collector/collector/def/BUILD.bazel
  comp/collector/collector/def/component.go
  comp/collector/collector/fx/BUILD.bazel
  comp/collector/collector/fx/fx.go
  comp/collector/collector/impl/BUILD.bazel
  comp/collector/collector/impl/agent_check_metadata.go
  comp/collector/collector/impl/agent_check_metadata_test.go
  comp/collector/collector/impl/collector.go
  comp/collector/collector/impl/collector_demux_test.go
  comp/collector/collector/impl/collector_endpoint_nopython.go
  comp/collector/collector/impl/collector_endpoint_python.go
  comp/collector/collector/impl/collector_mock.go
  comp/collector/collector/impl/collector_test.go
  comp/collector/collector/impl/internal/middleware/BUILD.bazel
  comp/collector/collector/impl/internal/middleware/check_wrapper.go
  comp/collector/collector/impl/internal/middleware/check_wrapper_test.go
  comp/collector/collector/impl/internal/middleware/test_utils.go
  comp/collector/collector/mock/BUILD.bazel
  comp/collector/collector/mock/mock.go
  comp/core/diagnose/local/local.go
  comp/core/flare/flare_test.go
  comp/metadata/bundle_test.go
  comp/metadata/inventorychecks/impl/integrations_jmx_test.go
  comp/metadata/inventorychecks/impl/inventorychecks.go
  comp/metadata/inventorychecks/impl/inventorychecks_test.go
  pkg/cli/subcommands/check/command.go
  pkg/collector/scheduler.go
  pkg/collector/scheduler_test.go
  pkg/status/collector/status.go
  pkg/status/collector/status_test.go
Due: copyright, go-mod-tidy

refactor(collector): delete shims, update 2 callers, delete stale collectorimpl, run tidy
  cmd/agent/subcommands/run/command.go
  comp/collector/collector/collectorimpl/agent_check_metadata.go
  comp/collector/collector/collectorimpl/agent_check_metadata_test.go
  comp/collector/collector/collectorimpl/collector.go
  comp/collector/collector/collectorimpl/collector_demux_test.go
  comp/collector/collector/collectorimpl/collector_endpoint_nopython.go
  comp/collector/collector/collectorimpl/collector_endpoint_python.go
  comp/collector/collector/collectorimpl/collector_mock.go
  comp/collector/collector/collectorimpl/collector_test.go
  comp/collector/collector/collectorimpl/internal/middleware/check_wrapper.go
  comp/collector/collector/collectorimpl/internal/middleware/check_wrapper_test.go
  comp/collector/collector/collectorimpl/internal/middleware/test_utils.go
  comp/collector/collector/component.go
  comp/collector/collector/component_mock.go
  comp/core/diagnose/local/local.go
Due: copyright, go-mod-tidy

fix(collector): move diagnose to def/, fix BUILD.bazel issues after V2 migration
  cmd/agent/subcommands/run/command.go
  comp/collector/collector/def/BUILD.bazel
  comp/collector/collector/def/diagnose.go
  comp/collector/collector/def/diagnose_test.go
  comp/collector/collector/impl/BUILD.bazel
  comp/collector/collector/mock/BUILD.bazel
  comp/core/diagnose/local/local.go
  comp/metadata/host/impl/BUILD.bazel
  comp/metadata/host/impl/hosttags/BUILD.bazel
  comp/metadata/host/impl/utils/BUILD.bazel
  tasks/components.py
  tasks/tools/clang_format.py
  tasks/update_go.py
Due: copyright, go-mod-tidy

fix(collector): mark impl/fx/mock as gazelle:ignore, fix buildifier in mock BUILD.bazel
  comp/collector/collector/fx/BUILD.bazel
  comp/collector/collector/impl/BUILD.bazel
  comp/collector/collector/impl/internal/middleware/BUILD.bazel
  comp/collector/collector/mock/BUILD.bazel
Due: none

fix(collector): mark host/impl BUILD.bazel files as gazelle:ignore
  comp/metadata/host/impl/BUILD.bazel
  comp/metadata/host/impl/hosttags/BUILD.bazel
  comp/metadata/host/impl/utils/BUILD.bazel
Due: none

refactor(collector): replace go.uber.org/fx with fxutil/compdef
  comp/collector/collector/def/BUILD.bazel
  comp/collector/collector/def/component.go
  comp/collector/collector/impl/collector.go
  comp/collector/collector/impl/collector_mock.go
Due: copyright, go-mod-tidy

chore(collector): delete gazelle:ignore BUILD.bazel files under metadata/host/impl
  comp/metadata/host/impl/BUILD.bazel
  comp/metadata/host/impl/hosttags/BUILD.bazel
  comp/metadata/host/impl/utils/BUILD.bazel
Due: none

chore(collector): delete gazelle:ignore BUILD.bazel placeholder files
  comp/collector/collector/fx/BUILD.bazel
  comp/collector/collector/impl/BUILD.bazel
  comp/collector/collector/impl/internal/middleware/BUILD.bazel
  comp/collector/collector/mock/BUILD.bazel
Due: none

revert: restore unrelated Python file changes to main
  tasks/tools/clang_format.py
  tasks/update_go.py
Due: none

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
