Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: govet, copyright, clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

govet:
  name: govet
  description: go vet
  entry: python3 -m tasks.git-hooks.govet
  language: system
  require_serial: true

copyright:
  name: copyright
  description: copyright headers
  entry: inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 -m tasks.git-hooks.clang-format
  language: system
  require_serial: true

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: inv tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

[Codecov] Move Codecov logic in its own file (#26720)
  tasks/__init__.py
  tasks/codecov.py
  tasks/gotest.py
Due: none

Add info about card
  test/new-e2e/tests/process/docker_test.go
Due: govet, copyright, go-mod-tidy

[workloadmeta/filter] Handle nil entity filter
  comp/core/workloadmeta/def/filter.go
  comp/core/workloadmeta/def/filter_test.go
Due: govet, copyright, go-mod-tidy

moving all implementation in impl
  comp/api/commonendpoints/fx/common_endpoints.go
  comp/api/commonendpoints/impl/common_endpoints.go
  comp/api/commonendpoints/impl/common_endpoints_test.go
Due: govet, copyright, go-mod-tidy

[rfc-team-notifications-summaries-remake] Send messages + tests [skip ci]
  tasks/libs/pipeline/failure_summary.py
  tasks/unit-tests/libs/pipeline/failure_summary_tests.py
Due: none

[CI] Add the dotnet linter to our Gitlab CI (#26611)
  .gitlab-ci.yml
  tasks/winbuildscripts/lint.ps1
Due: shell-check-no-set-x, gitlab-configuration

[rfc-team-notifications-summaries-remake] Send messages tested [skip ci]
  tasks/libs/pipeline/failure_summary.py
  tasks/unit-tests/libs/pipeline/failure_summary_tests.py
Due: none

[Installer] Check pinned version when installing default packages (#26346)
  pkg/fleet/env/env.go
  pkg/fleet/env/env_test.go
  pkg/fleet/installer/default_packages.go
  pkg/fleet/installer/default_packages_test.go
  pkg/fleet/installer/installer.go
  test/new-e2e/tests/installer/host/host.go
  test/new-e2e/tests/installer/package_apm_inject_test.go
Due: govet, copyright, go-mod-tidy

trace: fix idle connection timeout for outgoing traffic
  pkg/trace/config/config.go
  releasenotes/notes/trace-idle-timeout-20328713b855263d.yaml
Due: govet, copyright, go-mod-tidy, shell-check-no-set-x

Add image/imageID unit tests
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/pod_test.go
Due: govet, copyright, go-mod-tidy

Add release note
  releasenotes/notes/releasenotes-3e1c8c36dfd16d32.yaml
Due: shell-check-no-set-x

update CLI flag helper
  cmd/agent/command/command.go
Due: govet, copyright, go-mod-tidy

Bump github.com/antchfx/xmlquery to 1.3.1
  go.mod
  go.sum
Due: go-mod-tidy

fix tidy errors
  comp/core/config/go.mod
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
Due: none

test sigterm + exit 0
  test/new-e2e/tests/installer/host/fixtures.go
  test/new-e2e/tests/installer/host/fixtures/stop_with_sigterm_exit0.sh
  test/new-e2e/tests/installer/package_agent_test.go
Due: govet, copyright, go-mod-tidy, shell-check-no-set-x

[metadata] otel: TLS connection should skip verify
  comp/metadata/inventoryotel/inventoryotelimpl/inventoryotel.go
Due: govet, copyright, go-mod-tidy

Update test expected error to match new format
  pkg/clusteragent/autoscaling/externalmetrics/provider_test.go
Due: govet, copyright, go-mod-tidy

fix attempt
  pkg/fleet/installer/service/embedded/datadog-agent-exp.service
Due: none

[workloadmeta/filter] Handle nil entity filter (#26735)
  comp/core/workloadmeta/def/filter.go
  comp/core/workloadmeta/def/filter_test.go
Due: govet, copyright, go-mod-tidy

Add installer OCI update test
  test/new-e2e/tests/installer/all_packages_test.go
  test/new-e2e/tests/installer/package_installer_test.go
Due: govet, copyright, go-mod-tidy

update import path
  comp/api/commonendpoints/impl/common_endpoints.go
Due: govet, copyright, go-mod-tidy

fixing linter errors
  tools/windows/DatadogAgentInstaller/CustomActions/Native/NativeMethods.cs
Due: none

[SMP] Update to latest SMP release (#26673)
  .github/CODEOWNERS
  .gitlab/functional_test/include.yml
  .gitlab/functional_test/regression_detector.yml
  .gitlab/functional_test/workload_checks.yml
  test/regression/config.yaml
  test/workload-checks/README.md
  test/workload-checks/typical/cases/apm_app_server/README.md
  test/workload-checks/typical/cases/apm_app_server/datadog-agent/conf.d/tcp-listener.d/conf.yaml
  test/workload-checks/typical/cases/apm_app_server/datadog-agent/datadog.yaml
  test/workload-checks/typical/cases/apm_app_server/experiment.yaml
  test/workload-checks/typical/cases/apm_app_server/lading/lading.yaml
  test/workload-checks/typical/cases/app_server/README.md
  test/workload-checks/typical/cases/app_server/datadog-agent/conf.d/tcp-listener.d/conf.yaml
  test/workload-checks/typical/cases/app_server/datadog-agent/datadog.yaml
  test/workload-checks/typical/cases/app_server/experiment.yaml
  test/workload-checks/typical/cases/app_server/lading/lading.yaml
  test/workload-checks/typical/cases/otel_app_server/README.md
  test/workload-checks/typical/cases/otel_app_server/datadog-agent/conf.d/tcp-listener.d/conf.yaml
  test/workload-checks/typical/cases/otel_app_server/datadog-agent/datadog.yaml
  test/workload-checks/typical/cases/otel_app_server/experiment.yaml
  test/workload-checks/typical/cases/otel_app_server/lading/lading.yaml
  test/workload-checks/typical/machine.yaml
Due: shell-check-no-set-x, gitlab-configuration

[rfc-team-notifications-summaries-remake] AWS tmp [skip ci]
  tasks/libs/pipeline/failure_summary.py
  tasks/notify.py
Due: none

trace: fix idle connection timeout for outgoing traffic (#26664)
  pkg/trace/config/config.go
  releasenotes/notes/trace-idle-timeout-20328713b855263d.yaml
Due: govet, copyright, go-mod-tidy, shell-check-no-set-x

assert services running after install (#26200)
  test/new-e2e/tests/windows/install-test/installtester.go
  test/new-e2e/tests/windows/install-test/service-test/tester.go
Due: govet, copyright, go-mod-tidy

update omnibus-ruby to latest tag
  release.json
Due: none

Rename healthcheck to health_check
  comp/otelcol/collector/impl-pipeline/pipeline_test.go
Due: govet, copyright, go-mod-tidy

Verbose log e2e
  test/new-e2e/pkg/utils/infra/stack_manager.go
Due: govet, copyright, go-mod-tidy

Kfairise/mark process test flaky (#26734)
  test/new-e2e/tests/process/docker_test.go
Due: govet, copyright, go-mod-tidy

fix missing replace path in otel module
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
Due: none

on_installer rule should inherit from default behavior for e2e tests (#26715)
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration

adding log and update function doc
  pkg/config/model/viper.go
Due: govet, copyright, go-mod-tidy

fix lint
  comp/otelcol/converter/impl/autoconfigure.go
  comp/otelcol/converter/impl/converter.go
  comp/otelcol/converter/impl/extensions.go
  comp/otelcol/converter/impl/prometheus.go
Due: govet, copyright, go-mod-tidy

[Installer] Add installer OCI update test (#26742)
  test/new-e2e/tests/installer/all_packages_test.go
  test/new-e2e/tests/installer/package_installer_test.go
Due: govet, copyright, go-mod-tidy

[ASCII-1521] - Moving common endpoints outside of API component implementation (#26683)
  cmd/agent/subcommands/run/command.go
  comp/api/api/apiimpl/internal/agent/agent.go
  comp/api/api/apiimpl/internal/agent/agent_test.go
  comp/api/commonendpoints/fx/common_endpoints.go
  comp/api/commonendpoints/impl/common_endpoints.go
  comp/api/commonendpoints/impl/common_endpoints_test.go
Due: govet, copyright, go-mod-tidy

Updates lading to 0.21.0
  test/regression/config.yaml
Due: shell-check-no-set-x

Path conditions:
  govet: any of: \.go$
  copyright: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
