Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, gofmt, clang-format

revive:
  name: revive
  description: revive
  entry: python3 tasks/git-hooks/revive.py
  language: system

govet:
  name: govet
  description: go vet
  entry: python3 tasks/git-hooks/govet.py
  language: system
  require_serial: true

gofmt:
  name: gofmt
  description: go fmt
  entry: python3 tasks/git-hooks/gofmt.py
  language: system

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 tasks/git-hooks/clang-format.py
  language: system
  require_serial: true

remove unused macros
  pkg/ebpf/c/bpf_telemetry.h
Due: clang-format

fix conntracker test
  pkg/network/tracer/conntracker_test.go
  pkg/network/tracer/ebpf_conntracker.go
Due: revive, govet, gofmt

correctly check when interface is nil
  pkg/network/http/ebpf_main.go
Due: revive, govet, gofmt

bump down datadog-operator version, since v0.8.1 fails to build
  go.mod
Due: none

Use macros to generate helper_indx for helper telemetry
  pkg/ebpf/c/bpf_telemetry.h
Due: clang-format

removed macros for checking kernel version
  pkg/ebpf/c/bpf_telemetry.h
Due: clang-format

generate licenses
  LICENSE-3rdparty.csv
Due: none

check if subprogram is present
  pkg/network/http/ebpf_main.go
Due: revive, govet, gofmt

removed comment + pipeline force run
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/tracer-stats.h
Due: revive, govet, gofmt, clang-format

rename all telemetry macros
  pkg/ebpf/c/bpf_telemetry.h
Due: clang-format

oops, didn't include the file for the last commit
  pkg/network/ebpf/c/http-buffer.h
Due: clang-format

check if maps are nil
  pkg/network/tracer/tracer.go
Due: revive, govet, gofmt

resolve comments
  pkg/network/http/ebpf_main.go
  pkg/network/telemetry/ebpf_telemetry.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/ebpf_conntracker.go
  pkg/network/tracer/tracer.go
Due: revive, govet, gofmt

update ebpf manager
  go.mod
Due: none

fix linter errors
  pkg/network/tracer/connection/kprobe/tracer.go
Due: revive, govet, gofmt

emitting helper telemetry
  pkg/ebpf/c/telemetry_types.h
  pkg/network/telemetry/helper_telemetry.go
  pkg/network/telemetry/telemetry_types_linux.go
  pkg/network/tracer/tracer.go
Due: revive, govet, gofmt, clang-format

linter error fix
  pkg/network/telemetry/ebpf_telemetry.go
Due: revive, govet, gofmt

telemetry enabled for ebpf conntracker
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/conntrack.h
  pkg/network/ebpf/c/ipv6.h
  pkg/network/ebpf/c/runtime/conntrack.c
  pkg/network/ebpf/c/runtime/netns.h
  pkg/network/tracer/ebpf_conntracker.go
  pkg/network/tracer/tracer.go
Due: revive, govet, gofmt, clang-format

no telemetry for 4.4
  pkg/ebpf/c/bpf_telemetry.h
Due: clang-format

make telemetry macro names more obvious
  pkg/ebpf/c/bpf_telemetry.h
  pkg/network/ebpf/c/https.h
  pkg/network/ebpf/c/port.h
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/c/tracer-stats.h
Due: clang-format

added check to ignore bpf telemetry for 4.4
  pkg/ebpf/c/bpf_telemetry.h
  pkg/network/tracer/tracer.go
Due: revive, govet, gofmt, clang-format

return all probes of subprogram
  pkg/network/http/ebpf_main.go
  pkg/network/http/ebpf_ssl.go
Due: revive, govet, gofmt

run generate-licenses
  LICENSE-3rdparty.csv
Due: none

clang-format + comment fix
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/ebpf/c/bpf_telemetry.h
Due: revive, govet, gofmt, clang-format

remove telemetry helper from loop
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/runtime/http.c
Due: clang-format

fixed http monitor tests
  pkg/network/http/monitor_test.go
Due: revive, govet, gofmt

telemetry off switch for 4.4
  pkg/ebpf/c/bpf_telemetry.h
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/http/ebpf_main.go
  pkg/network/telemetry/helper_telemetry.go
  pkg/network/tracer/connection/kprobe/tracer.go
  pkg/network/tracer/tracer.go
Due: revive, govet, gofmt, clang-format

adding empty maps in telemetry, so that all metrics show up in backend
  pkg/network/telemetry/ebpf_telemetry.go
Due: revive, govet, gofmt

fix go.sum
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/tracer.go
Due: revive, govet, gofmt

change some read kernels to use telemetry
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/ebpf/c/bpf_telemetry.h
  pkg/network/ebpf/c/http-buffer.h
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/ebpf/c/runtime/tracer.c
Due: revive, govet, gofmt, clang-format

fix rebase messups
  pkg/network/ebpf/c/http-buffer.h
  pkg/network/ebpf/c/http.h
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/http/ebpf_ssl.go
Due: revive, govet, gofmt, clang-format

tidy
  go.mod
Due: none

fix golangci-lint issues
  pkg/network/http/ebpf_ssl.go
Due: revive, govet, gofmt

duplicate bounds check to generate correct code on 14.0.6
  pkg/ebpf/bytecode/runtime/conntrack.go
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/ebpf/c/bpf_telemetry.h
Due: revive, govet, gofmt, clang-format

fix nil map check
  pkg/network/telemetry/telemetry_manager.go
Due: revive, govet, gofmt

check if bpfTelemetry is nil before using
  pkg/network/telemetry/telemetry_manager.go
Due: revive, govet, gofmt

fix linter errors
  pkg/network/tracer/ebpf_conntracker.go
Due: revive, govet, gofmt

fix kprobe test
  pkg/network/tracer/connection/kprobe/perf_batching_test.go
Due: revive, govet, gofmt

fix rebase mess up
  tasks/system_probe.py
Due: none

rename init function for clean api
  pkg/network/http/ebpf_main.go
  pkg/network/telemetry/telemetry_manager.go
Due: revive, govet, gofmt

Path conditions:
  revive: any of: \.go$
  govet: any of: \.go$
  gofmt: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
