Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$

[build-macos-gitlabci] Cleaned code
  .gitlab/package_build/dmg.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

allow usage of the builder DSL
  omnibus/config/software/package-artifact.rb
Due: none

Fix unit test
  tasks/new_e2e_tests.py
Due: none

Bump go-sqllexer to v0.1.1 (#34433) (#34459)
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/ddprofilingextension/impl/go.mod
  comp/otelcol/ddprofilingextension/impl/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/statsprocessor/go.mod
  comp/otelcol/otlp/components/statsprocessor/go.sum
  go.mod
  go.sum
  pkg/config/remote/go.mod
  pkg/config/remote/go.sum
  pkg/obfuscate/go.mod
  pkg/obfuscate/go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
  pkg/trace/stats/oteltest/go.mod
  pkg/trace/stats/oteltest/go.sum
  releasenotes/notes/go-sqllexer-bump-v0.1.1-03913f68b1ccddf0.yaml
  test/otel/go.mod
  test/otel/go.sum
Due: go-mod-tidy, shell-check-no-set-x, check-go-modules-in-python

[Backport 7.64.x] [CWS] fix container id parsing from cgroup for eks fargate (#34437)
  pkg/security/ptracer/utils.go
  pkg/security/ptracer/utils_test.go
  releasenotes/notes/cws-eks-fargate-container-id-b38de264bf8c31e5.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Automatically add the team label to the integrations-core bump PR
  tasks/release.py
Due: none

fix: force disable ipc server in jmx and check commands
  cmd/agent/subcommands/jmx/command.go
  pkg/cli/subcommands/check/command.go
Due: copyright, go-mod-tidy

Fix on windows
  .gitlab/source_test/windows.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

continous self tests
  pkg/security/module/cws.go
Due: copyright, go-mod-tidy

Populate from initPython
  comp/metadata/inventorychecks/README.md
  comp/metadata/inventorychecks/component.go
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks.go
  pkg/collector/embed_python.go
  pkg/collector/python/helpers.go
  pkg/collector/python/init.go
Due: copyright, go-mod-tidy

Update junit upload command
  tasks/libs/common/junit_upload_core.py
Due: none

test(dogstatsd): debug PID resolution
  comp/core/tagger/impl/tagger.go
Due: copyright, go-mod-tidy

[build-macos-gitlabci] d
  .gitlab/package_build/build_script.sh
  .gitlab/package_build/dmg.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Disable Action that requires editing label on forks (#34428)
  .github/workflows/code_review_complexity.yml
  .github/workflows/label-analysis.yml
  .github/workflows/labeler.yml
Due: shell-check-no-set-x

fix linter
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent.go
Due: copyright, go-mod-tidy

Lint log.Component Printf like methods
  .golangci.yml
  comp/core/agenttelemetry/impl/agenttelemetry.go
  comp/core/gui/guiimpl/gui.go
  comp/core/tagger/impl/tagger.go
  comp/forwarder/defaultforwarder/default_forwarder.go
  comp/metadata/inventoryotel/inventoryotelimpl/inventoryotel.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

Extend secret refresh allow list to all api/app key
  comp/api/api/apiimpl/internal/config/endpoint.go
  comp/api/api/apiimpl/server_ipc.go
  comp/api/api/def/component.go
  comp/core/secrets/secretsimpl/secrets.go
  comp/core/secrets/secretsimpl/secrets_test.go
Due: copyright, go-mod-tidy

Do not override exclude list with pause containers
  pkg/sbom/collectors/collectors.go
Due: copyright, go-mod-tidy

fixed CR comment moved driver version API outside of devices loop
  comp/core/workloadmeta/collectors/internal/nvml/nvml.go
Due: copyright, go-mod-tidy

fixed fillMigData to try and process other MIG devices if one is failed
  comp/core/workloadmeta/collectors/internal/nvml/nvml.go
Due: copyright, go-mod-tidy

removed redundant parentheses
  comp/core/workloadmeta/collectors/internal/nvml/nvml.go
Due: copyright, go-mod-tidy

Fix linter on Windows
  comp/trace/etwtracer/etwtracerimpl/etwtracerimpl.go
Due: copyright, go-mod-tidy

Revert "use `github.com/mattn/go-sqlite3` instead of modernc for trivy (#34363)"
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/util/trivy/trivy.go
Due: copyright, go-mod-tidy, check-go-modules-in-python

Handle nil as the zero value for node values (#34454)
  pkg/config/nodetreemodel/node.go
  pkg/config/structure/unmarshal_test.go
Due: copyright, go-mod-tidy

[CWS] Fix: add missing EKS cluster name in inventory (#34422)
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent.go
Due: copyright, go-mod-tidy

release the metrics mutex lock as soon as possible
  pkg/trace/sampler/probabilistic.go
Due: copyright, go-mod-tidy

Update logs and ep forwarders to support API key refresh
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder.go
  comp/logs/agent/agentimpl/agent_test.go
  comp/logs/agent/config/config.go
  comp/logs/agent/config/config_keys.go
  comp/logs/agent/config/config_keys_test.go
  comp/logs/agent/config/config_test.go
  comp/logs/agent/config/endpoints.go
  comp/logs/agent/config/endpoints_test.go
  comp/logs/agent/config/go.mod
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/agent_test.go
  pkg/logs/client/http/destination_test.go
  pkg/logs/client/http/test_utils.go
  pkg/logs/client/tcp/connection_manager_test.go
  pkg/logs/client/tcp/destination_test.go
  pkg/logs/client/tcp/test_utils.go
Due: copyright, go-mod-tidy, check-go-modules-in-python

[build-macos-gitlabci] Install binutils / gmp
  .gitlab/package_build/build_script.sh
  .gitlab/package_build/dmg.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Update the reno template
  releasenotes-dca/config.yaml
  releasenotes/config.yaml
Due: shell-check-no-set-x

add missing CIDR for ipv6 loopback address
  pkg/config/setup/system_probe.go
  pkg/security/probe/field_handlers_test.go
Due: copyright, go-mod-tidy

Revert "use `github.com/mattn/go-sqlite3` instead of modernc for trivy" (#34468)
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/util/trivy/trivy.go
Due: copyright, go-mod-tidy, check-go-modules-in-python

Extend secret refresh allow list to all api/app key. (#34367)
  comp/api/api/apiimpl/internal/config/endpoint.go
  comp/api/api/apiimpl/server_ipc.go
  comp/api/api/def/component.go
  comp/core/secrets/secretsimpl/secrets.go
  comp/core/secrets/secretsimpl/secrets_test.go
Due: copyright, go-mod-tidy

Revert "Revert "use `github.com/mattn/go-sqlite3` instead of modernc for triv…"
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/util/trivy/trivy.go
Due: copyright, go-mod-tidy, check-go-modules-in-python

Change directory permissions on Windows
  pkg/fleet/installer/paths/installer_paths.go
  pkg/fleet/installer/paths/installer_paths_windows.go
  pkg/fleet/installer/repository/repository.go
Due: copyright, go-mod-tidy

Support install/remove
  pkg/fleet/installer/exec/dotnet_library_exec.go
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/packages/apm_library_dotnet.go
  pkg/fleet/installer/packages/apm_library_dotnet_windows.go
Due: copyright, go-mod-tidy

Add pre-remove hooks for dotnet
  pkg/fleet/installer/packages/apm_library_dotnet.go
  pkg/fleet/installer/packages/apm_library_dotnet_windows.go
  pkg/fleet/installer/packages/pre_remove_hooks.go
Due: copyright, go-mod-tidy

Add E2E tests
  .gitlab/e2e/e2e.yml
  go.mod
  pkg/fleet/installer/go.mod
  test/new-e2e/tests/installer/unix/package_definitions.go
  test/new-e2e/tests/installer/windows/installer.go
  test/new-e2e/tests/installer/windows/suites/apm-library-dotnet-package/install_no_iis_test.go
  test/new-e2e/tests/installer/windows/suites/apm-library-dotnet-package/install_test.go
  test/new-e2e/tests/installer/windows/suites/apm-library-dotnet-package/resources/index.aspx
  test/new-e2e/tests/installer/windows/suites/apm-library-dotnet-package/resources/web.config
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

register the sqlite sql driver
  pkg/util/trivy/trivy.go
Due: copyright, go-mod-tidy

chore: simplify code
  cmd/agent/subcommands/hostname/command.go
Due: copyright, go-mod-tidy
