Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

Keep the burst window from underflowing on a freshly booted host
  pkg/procmgr/rust/src/process.rs
Due: none

Let the external veto stop only system-probe
  pkg/procmgr/rust/src/config_gate.rs
  pkg/procmgr/rust/src/config_gate/system_probe.rs
  pkg/procmgr/rust/src/fleet_process_template.rs
  pkg/procmgr/rust/src/fleet_sysprobe_template.rs
Due: none

Make the procmgr test helpers converge instead of trusting one call
  test/new-e2e/tests/installer/windows/procmgr.go
  test/new-e2e/tests/sysprobe-functional/usmtest/test_tags.ps1
Due: copyright, go-mod-tidy

refactor(e2e): extract retry-loop planning into _plan_next_attempt
  tasks/new_e2e_tests.py
  tasks/unit_tests/e2e_testing_tests.py
Due: none

feat(e2e): stop retrying e2e tests when the job deadline is too close
  tasks/new_e2e_tests.py
  tasks/unit_tests/e2e_testing_tests.py
Due: none

Replace tests_linux-* jobs with bazel equivalents
  .gitlab/build/bazel/test.yml
  .gitlab/build/source_test/linux.yml
Due: shell-check-no-set-x, gitlab-configuration

Assert system-probe holds a LocalSystem token under dd-procmgrd
  test/new-e2e/tests/windows/install-test/npm_test.go
Due: copyright, go-mod-tidy

Rename go test tasks to make bazel-driven task the default
  tasks/__init__.py
  tasks/gotest.py
Due: none

Jobs still relying on the "legacy" logic should use legacy task
  .gitlab/build/source_test/linux.yml
Due: shell-check-no-set-x, gitlab-configuration

Update documentation
  doc/how-to/test/unit.md
  tasks/gotest.py
Due: none

Reduce getPodLogs limit to 9 MiB (#56955)
  pkg/privateactionrunner/bundles/kubernetes/core/get_pod_logs.go
  pkg/privateactionrunner/bundles/kubernetes/core/get_pod_logs_test.go
  releasenotes/notes/reduce-get-pod-logs-limit-fe75b16d02ef77f8.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

feat(admission): always detect the CSI driver in auto injection mode
  cmd/cluster-agent/subcommands/start/command.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/config.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/libraryinjection/auto.go
  pkg/config/schema/yaml/apm_config.yaml
  releasenotes-dca/notes/apm-csi-driver-autodetection-default-3cbdc3b839b0cd46.yaml
  test/new-e2e/tests/ssi/ssi_test.go
  test/new-e2e/tests/ssi/testdata/injection_mode.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

docs(releasenotes): fix minimum Operator version for CSI detection
  releasenotes-dca/notes/apm-csi-driver-autodetection-default-3cbdc3b839b0cd46.yaml
Due: shell-check-no-set-x

Test how sketch bin count scales with observation counts
  pkg/util/quantile/agent_test.go
  pkg/util/quantile/bin_test.go
  pkg/util/quantile/store_test.go
Due: copyright, go-mod-tidy

new(cws): add FindPodUID to extract a pod UID from a cgroup path
  pkg/security/secl/containerutils/helpers.go
  pkg/security/secl/containerutils/helpers_test.go
Due: copyright, go-mod-tidy

[OTLP] Drop histogram data points with implausible bucket counts
  pkg/opentelemetry-mapping-go/otlp/metrics/BUILD.bazel
  pkg/opentelemetry-mapping-go/otlp/metrics/default_mapper.go
  pkg/opentelemetry-mapping-go/otlp/metrics/lossless_mapper.go
  pkg/opentelemetry-mapping-go/otlp/metrics/validation.go
  pkg/opentelemetry-mapping-go/otlp/metrics/validation_test.go
  releasenotes/notes/otlp-histogram-bucket-count-guard-3f7c1a94be20d5e8.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

new(cws): add the container.pod_uid SECL field
  docs/cloud-workload-security/linux_expressions.md
  docs/cloud-workload-security/secl_linux.json
  docs/cloud-workload-security/secl_windows.json
  docs/cloud-workload-security/windows_expressions.md
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/secl/model/event_deep_copy_unix.go
  pkg/security/secl/model/event_deep_copy_windows.go
  pkg/security/secl/model/model.go
  pkg/security/seclwin/model/accessors_win.go
  pkg/security/seclwin/model/model.go
Due: copyright, go-mod-tidy

new(cws): resolve the pod UID in the cgroup resolver
  pkg/security/resolvers/cgroup/BUILD.bazel
  pkg/security/resolvers/cgroup/resolver.go
  pkg/security/resolvers/cgroup/resolver_test.go
Due: copyright, go-mod-tidy

new(cws): keep the container context of pod-only workloads
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/secl/model/process_cache_entry_unix.go
Due: copyright, go-mod-tidy

new(cws): serialize pod_uid in the container context
  docs/cloud-workload-security/backend.schema.json
  docs/cloud-workload-security/backend_linux.md
  docs/cloud-workload-security/backend_linux.schema.json
  docs/cloud-workload-security/backend_windows.md
  docs/cloud-workload-security/backend_windows.schema.json
  pkg/security/secl/schemas/container.schema.json
  pkg/security/serializers/deserializers.go
  pkg/security/serializers/serializers_base.go
  pkg/security/serializers/serializers_base_linux_easyjson.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/serializers/serializers_linux_test.go
  pkg/security/serializers/serializers_windows.go
Due: copyright, go-mod-tidy

test(cws): add a functional test for the kubernetes pod UID
  pkg/security/tests/cgroup_test.go
Due: copyright, go-mod-tidy

Log abnormal paths
  pkg/security/probe/probe_monitor.go
Due: copyright, go-mod-tidy

fix modules
  go.mod
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

fix(cws): resolve the mount root of moved mounts
  pkg/security/probe/probe_ebpf.go
  pkg/security/tests/mount_test.go
Due: copyright, go-mod-tidy

fix(cws): trim the parent mount root from event mount points
  pkg/security/resolvers/mount/misc.go
  pkg/security/resolvers/mount/resolver.go
  pkg/security/tests/mount_test.go
Due: copyright, go-mod-tidy

fix(cws): make snapshot mount points relative to their parent
  pkg/security/resolvers/mount/misc.go
  pkg/security/resolvers/mount/mountlister.go
  pkg/security/resolvers/mount/procfs_mountlister.go
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/tests/mount_test.go
Due: copyright, go-mod-tidy

[AAD-62] Reuse metrics hash to reduce overhead (#56344)
  comp/anomalydetection/logssource/impl/pipeline_test.go
  comp/anomalydetection/observer/def/types.go
  comp/anomalydetection/observer/impl/BUILD.bazel
  comp/anomalydetection/observer/impl/agent_logs_test.go
  comp/anomalydetection/observer/impl/bench_ingestion_test.go
  comp/anomalydetection/observer/impl/context_key.go
  comp/anomalydetection/observer/impl/context_key_test.go
  comp/anomalydetection/observer/impl/debug.go
  comp/anomalydetection/observer/impl/engine.go
  comp/anomalydetection/observer/impl/events_test.go
  comp/anomalydetection/observer/impl/filter_rules.go
  comp/anomalydetection/observer/impl/filter_rules_test.go
  comp/anomalydetection/observer/impl/ingest_metrics_disabled_test.go
  comp/anomalydetection/observer/impl/log_count_bucketizer.go
  comp/anomalydetection/observer/impl/log_count_bucketizer_test.go
  comp/anomalydetection/observer/impl/metric_handoff_test.go
  comp/anomalydetection/observer/impl/observer.go
  comp/anomalydetection/observer/impl/storage.go
  comp/anomalydetection/observer/impl/storage_test.go
  comp/anomalydetection/observer/impl/test_helpers_test.go
  internal/qbranch/anomalydetection-testbench/bench/bench.go
  internal/qbranch/anomalydetection-testbench/go.mod
  pkg/aggregator/check_sampler.go
  pkg/aggregator/no_aggregation_stream_worker.go
  pkg/aggregator/observer_handle_test.go
  pkg/aggregator/time_sampler.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

Add a release note
  releasenotes/notes/add-ddot-components-httpcheck-deltarate-49c890a1eafb6f9b.yaml
Due: shell-check-no-set-x

fix(bazel): refresh the rules_go build ID patch for the -macos link flag
  bazel/patches/rules_go-content-buildid.patch
Due: none

change runtime annotation to an id and hash
  pkg/clusteragent/autoscaling/workload/controller_vertical_helpers.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_helpers_test.go
  pkg/clusteragent/autoscaling/workload/model/const.go
  pkg/clusteragent/autoscaling/workload/pod_patcher.go
Due: copyright, go-mod-tidy

[procmgr] add Windows e2e coverage for process-agent under dd-procmgr (#56790)
  test/new-e2e/tests/agent-runtimes/procmgr/BUILD.bazel
  test/new-e2e/tests/agent-runtimes/procmgr/par_procmgr_win_test.go
  test/new-e2e/tests/agent-runtimes/procmgr/process_procmgr_win_test.go
  test/new-e2e/tests/agent-runtimes/procmgr/procmgr_win_test.go
  test/new-e2e/tests/windows/service-test/BUILD.bazel
  test/new-e2e/tests/windows/service-test/startstop_test.go
Due: copyright, go-mod-tidy

ci(aix): run packaging for release tags
  .gitlab/aix/build/aix_packaging.yml
Due: shell-check-no-set-x, gitlab-configuration

Add regression test
  test/regression/cases/metric_filterlist_mixed_10k/README.md
  test/regression/cases/metric_filterlist_mixed_10k/datadog-agent/datadog.yaml
  test/regression/cases/metric_filterlist_mixed_10k/experiment.yaml
  test/regression/cases/metric_filterlist_mixed_10k/lading/lading.yaml
Due: shell-check-no-set-x

Use device serial number as canonical hostname for EUDM hosts
  comp/core/hostname/hostnameinterface/def/data.go
  comp/metadata/host/impl/utils/meta.go
  pkg/util/cloudproviders/BUILD.bazel
  pkg/util/cloudproviders/cloudproviders.go
  pkg/util/cloudproviders/cloudproviders_test.go
  pkg/util/hostname/BUILD.bazel
  pkg/util/hostname/eudm.go
  pkg/util/hostname/eudm_test.go
  pkg/util/hostname/providers.go
Due: copyright, go-mod-tidy

Add native AIX packaging build job (#55841)
  .gitlab/JOBOWNERS
  .gitlab/aix/build/aix_packaging.yml
  .gitlab/aix/common/aix_remote.yml
  .gitlab/aix/test/aix_unit_tests.yml
  packaging/aix/build.sh
  packaging/aix/lib/env.sh
  packaging/aix/package.sh
  packaging/aix/setup-host.sh
  packaging/aix/stages/05-agent-data-plane.sh
Due: shell-check-no-set-x, gitlab-configuration

fix(workloadmeta): do not block readiness on csidrivers
  comp/core/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver.go
Due: copyright, go-mod-tidy

fix(anomalydetection): keep composite key generation local to observer
  comp/anomalydetection/observer/AGENTS.md
  comp/anomalydetection/observer/def/types.go
  comp/anomalydetection/observer/impl/context_key.go
  comp/anomalydetection/observer/impl/context_key_test.go
  comp/anomalydetection/observer/impl/engine.go
  comp/anomalydetection/observer/impl/metric_handoff_test.go
  comp/anomalydetection/observer/impl/metrics_detector_rrcf.go
  comp/anomalydetection/observer/impl/observer.go
  comp/anomalydetection/observer/impl/storage.go
  comp/anomalydetection/observer/impl/storage_test.go
  comp/anomalydetection/observer/impl/test_helpers_test.go
  internal/qbranch/anomalydetection-testbench/bench/bench.go
  internal/qbranch/anomalydetection-testbench/go.mod
  pkg/aggregator/ckey/key.go
  pkg/aggregator/ckey/key_test.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

config: the remote flags boolean is on by default (#56995)
  pkg/config/schema/yaml/core_schema.yaml
Due: shell-check-no-set-x

[OTLP] Check the sketch limit against the counts actually inserted
  pkg/opentelemetry-mapping-go/otlp/metrics/default_mapper.go
  pkg/opentelemetry-mapping-go/otlp/metrics/validation.go
  pkg/opentelemetry-mapping-go/otlp/metrics/validation_test.go
  releasenotes/notes/otlp-histogram-bucket-count-guard-3f7c1a94be20d5e8.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x
