Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: govet, copyright, clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

govet:
  name: govet
  description: go vet
  entry: python3 -m tasks.git-hooks.govet
  language: system
  require_serial: true

copyright:
  name: copyright
  description: copyright headers
  entry: inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 -m tasks.git-hooks.clang-format
  language: system
  require_serial: true

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: inv tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

APM: Remove trace_agent.started from e2e metrics test to reduce flake
  test/new-e2e/tests/apm/tests.go
Due: govet, copyright, go-mod-tidy

remove hot path telemetry tag string allocations (#27728)
  pkg/network/event_common.go
  pkg/network/event_common_string.go
  pkg/network/state.go
  pkg/network/tracer/tracer.go
  pkg/telemetry/stat_counter_wrapper.go
Due: govet, copyright, go-mod-tidy

change code for copying array
  pkg/logs/tailers/socket/tailer.go
Due: govet, copyright, go-mod-tidy

change naming to camel case
  pkg/logs/tailers/socket/tailer.go
Due: govet, copyright, go-mod-tidy

remove port
  pkg/logs/tailers/socket/tailer.go
Due: govet, copyright, go-mod-tidy

Implement comment suggestions
  cmd/agent/subcommands/run/command.go
  cmd/serverless/dependencies_linux_arm64.txt
  pkg/collector/python/check_context.go
Due: govet, copyright, go-mod-tidy

add check for no colon
  pkg/logs/tailers/socket/tailer.go
Due: govet, copyright, go-mod-tidy

[notify] Fix GitHub URLs
  tasks/libs/pipeline/notifications.py
Due: none

Revert "[E2e] Add basic e2e tests for agent CLI (#27709)"
  cmd/cluster-agent/subcommands/status/command.go
  test/new-e2e/tests/containers/k8s_test.go
Due: govet, copyright, go-mod-tidy

[OTEL-1977] Fix new OTel stats API to respect _dd.measured key
  pkg/trace/stats/otel_util.go
  pkg/trace/stats/otel_util_test.go
  pkg/trace/stats/oteltest/otel_apm_stats_comparison_test.go
Due: govet, copyright, go-mod-tidy

[OTEL-1931] Copy one more integration test
  comp/otelcol/otlp/integrationtest/integration_test.go
  comp/otelcol/otlp/integrationtest/integration_test_toplevel_config.yaml
Due: govet, copyright, go-mod-tidy, shell-check-no-set-x

Revert "[E2e] Add basic e2e tests for agent CLI" (#27769)
  cmd/cluster-agent/subcommands/status/command.go
  test/new-e2e/tests/containers/k8s_test.go
Due: govet, copyright, go-mod-tidy

Move Enable behavior into sync once helper function
  comp/process/agent/agent_linux.go
Due: govet, copyright, go-mod-tidy

Clean up duplicated code
  pkg/trace/stats/oteltest/go.mod
  pkg/trace/stats/oteltest/go.sum
  pkg/trace/stats/oteltest/otel_apm_stats_comparison_test.go
  pkg/trace/stats/oteltest/testutil.go
Due: govet, copyright, go-mod-tidy

tidy
  pkg/trace/stats/oteltest/go.mod
  pkg/trace/stats/oteltest/go.sum
Due: none

Add support for trace spans to the infra attributes processor (#26114)
  comp/otelcol/otlp/components/processor/infraattributesprocessor/factory.go
  comp/otelcol/otlp/components/processor/infraattributesprocessor/traces.go
  comp/otelcol/otlp/components/processor/infraattributesprocessor/traces_test.go
Due: govet, copyright, go-mod-tidy

Add BYOC docker file
  Dockerfiles/agent-ot/Dockerfile.byoc
Due: none

add ubuntu 16.04 to KMT
  .gitlab/kernel_matrix_testing/security_agent.yml
Due: shell-check-no-set-x, gitlab-configuration

-> best effor for sched_process_fork
  pkg/security/ebpf/probes/event_types.go
Due: govet, copyright, go-mod-tidy

usm: kafka: test: Add deadline to raw client read (#27762)
  pkg/network/usm/kafka_monitor_test.go
Due: govet, copyright, go-mod-tidy

use output path
  comp/otelcol/collector-contrib/impl/go.mod
  tasks/collector.py
Due: none

download the source code using git
  Dockerfiles/agent-ot/Dockerfile.byoc
Due: none

update go installation
  Dockerfiles/agent-ot/Dockerfile.byoc
Due: none

remove gcc / g++
  Dockerfiles/agent-ot/Dockerfile.byoc
Due: none

usm: tests: Added a manual attachment to a process as a fallback
  pkg/network/usm/ebpf_ssl_test.go
  pkg/network/usm/kafka_monitor_test.go
  pkg/network/usm/monitor_tls_test.go
  pkg/network/usm/postgres_monitor_test.go
  pkg/network/usm/tests/tracer_usm_linux_test.go
  pkg/network/usm/usm_grpc_monitor_test.go
  pkg/network/usm/usm_http2_monitor_test.go
  pkg/network/usm/utils/debugger_testutils.go
Due: govet, copyright, go-mod-tidy

Update README.md
  README.md
Due: none

Apply CR suggestion
  pkg/network/usm/utils/debugger_testutils.go
Due: govet, copyright, go-mod-tidy

[USM] Reducing complexity of Postgres entrypoint function (#27702)
  pkg/network/ebpf/c/protocols/postgres/decoding.h
Due: clang-format

Fixed TestProcessKafkaTransactions
  pkg/network/protocols/kafka/statkeeper_test.go
Due: govet, copyright, go-mod-tidy

fix testDecoding
  pkg/network/usm/postgres_monitor_test.go
Due: govet, copyright, go-mod-tidy

Improved Test_getBucketIndex
  pkg/network/protocols/postgres/telemetry_test.go
Due: govet, copyright, go-mod-tidy

Improved TestTelemetry_Count
  pkg/network/protocols/postgres/telemetry_test.go
Due: govet, copyright, go-mod-tidy

select sysdate in activity samples for cloud databases
  pkg/collector/corechecks/oracle/activity.go
  pkg/collector/corechecks/oracle/activity_integration_test.go
  pkg/collector/corechecks/oracle/activity_queries.go
  pkg/collector/corechecks/oracle/config/config.go
Due: govet, copyright, go-mod-tidy

relnote
  releasenotes/notes/oracle-wrong-durations-c814d98b99d7b552.yaml
Due: shell-check-no-set-x

usm: postgres: tests: Added a simple raw test for example
  pkg/network/usm/postgres_monitor_test.go
Due: govet, copyright, go-mod-tidy

Wip
  pkg/network/usm/postgres_monitor_test.go
Due: govet, copyright, go-mod-tidy

omnibus: fail the task when omnibus can't be installed (#27730)
  tasks/omnibus.py
  tasks/unit_tests/omnibus_tests.py
Due: none

Make current CWS bpf_printk's optional
  pkg/security/ebpf/c/include/helpers/approvers.h
  pkg/security/ebpf/c/include/helpers/iouring.h
  pkg/security/ebpf/c/include/helpers/process.h
  pkg/security/ebpf/c/include/helpers/syscalls.h
  pkg/security/ebpf/c/include/hooks/exec.h
  pkg/security/ebpf/c/include/hooks/network/bind.h
  pkg/security/ebpf/c/include/hooks/network/flow.h
  pkg/security/ebpf/c/include/hooks/procfs.h
Due: clang-format

another try at fixing flakiness
  test/new-e2e/tests/installer/host/fixtures.go
  test/new-e2e/tests/installer/host/host.go
  test/new-e2e/tests/installer/package_apm_inject_test.go
Due: govet, copyright, go-mod-tidy

Path conditions:
  govet: any of: \.go$
  copyright: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
