Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 3.9.2 # should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==21.11.28
        - flake8-comprehensions==3.7.0
        - flake8-unused-arguments==0.0.6
        - flake8-use-fstring==1.3.0
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
- repo: https://github.com/timothycrosley/isort/
  rev: 5.10.1
  hooks:
    - id: isort
- repo: https://github.com/jendrikseipp/vulture
  rev: v2.3
  hooks:
    - id: vulture
      args: ["--ignore-decorators", "@task", "--ignore-names", "test_*,Test*", "tasks"]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 2.1.5
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
    - id: go-fmt
      args: [ "-w", "-s" ]
- repo: local
  hooks:
    - id: revive
      name: revive
      description: revive
      entry: 'python3 tasks/git-hooks/revive.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: copyright
      name: copyright
      description: copyright headers
      entry: 'python3 tasks/git-hooks/copyright.py'
      language: system
      require_serial: true
      files: \.go$
    - id: win-clang-format
      name: win-clang-format
      description: clang-format
      entry: './tasks/git-hooks/wincpplang.py'
      language: system
      types_or: [c, c++, c#]
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 tasks/git-hooks/clang-format.py'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'

add release note
  releasenotes/notes/fix-incorrect-cold-start-tags-on-report-enhanced-metrics-d6621be0ddab44ef.yaml
Due: none

Move cleanup before stack creation to be sure it is called
  test/new-e2e/containers/kindvm_test.go
Due: revive, govet, copyright

[CWS] fix hardlink for exec in overlayfs
  pkg/security/ebpf/c/include/constants/offsets/filesystem.h
  pkg/security/ebpf/c/include/helpers/exec.h
  pkg/security/ebpf/c/include/helpers/filesystem.h
  pkg/security/ebpf/c/include/hooks/exec.h
  pkg/security/ebpf/c/include/hooks/link.h
  pkg/security/ebpf/c/include/hooks/mkdir.h
  pkg/security/ebpf/c/include/hooks/mmap.h
  pkg/security/ebpf/c/include/hooks/module.h
  pkg/security/ebpf/c/include/hooks/open.h
  pkg/security/ebpf/c/include/hooks/procfs.h
  pkg/security/ebpf/c/include/hooks/rename.h
  pkg/security/ebpf/c/include/hooks/rmdir.h
  pkg/security/ebpf/c/include/hooks/selinux.h
  pkg/security/ebpf/c/include/hooks/setattr.h
  pkg/security/ebpf/c/include/hooks/setxattr.h
  pkg/security/ebpf/c/include/hooks/splice.h
  pkg/security/ebpf/c/include/hooks/unlink.h
  pkg/security/tests/cmdwrapper.go
  pkg/security/tests/hardlink_test.go
  pkg/security/tests/process_test.go
Due: revive, govet, copyright, clang-format

Move cleanup before stack creation to be sure it is called
  test/new-e2e/containers/eks_test.go
Due: revive, govet, copyright

shorten release note name
  releasenotes/notes/fix-cold-start-tags-on-report-enhanced-metrics-d6621be0ddab44ef.yaml
Due: none

[CWS] merge sys fork and `kernel_clone` hooks (#18710)
  pkg/security/ebpf/c/include/hooks/exec.h
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/exec.go
Due: revive, govet, copyright, clang-format

Remove comments
  test/new-e2e/containers/eks_test.go
  test/new-e2e/containers/kindvm_test.go
Due: revive, govet, copyright

add maxBufferSize logic
  cmd/serverless-init/log/log.go
  cmd/serverless-init/log/log_test.go
Due: revive, govet, copyright

lint
  cmd/serverless-init/initcontainer/initcontainer.go
  cmd/serverless-init/log/log.go
Due: revive, govet, copyright

Update log.go
  cmd/serverless-init/log/log.go
Due: revive, govet, copyright

add buffer overflow check
  cmd/serverless-init/log/log.go
Due: revive, govet, copyright

add max buffer size logic
  cmd/serverless-init/log/log.go
  cmd/serverless-init/log/log_test.go
Due: revive, govet, copyright

release note
  releasenotes/notes/serverless-init-dotnet-log-buffering-9e2fcf02fcd67c78.yaml
Due: none

rename IsDotnet -> ShouldBuffer
  cmd/serverless-init/initcontainer/initcontainer.go
  cmd/serverless-init/log/log.go
  cmd/serverless-init/log/log_test.go
Due: revive, govet, copyright

buffer and only flush when log chunk ends with newline
  cmd/serverless-init/initcontainer/initcontainer.go
  cmd/serverless-init/log/log.go
Due: revive, govet, copyright

use fmt.Print to immediately passthrough user stdout. Add write facade for more readable unit testing
  cmd/serverless-init/log/log.go
  cmd/serverless-init/log/log_test.go
Due: revive, govet, copyright

log errors if logs are over maxBufferSize, or the buffer is being flushed to prevent overflow
  cmd/serverless-init/log/log.go
  cmd/serverless-init/log/log_test.go
Due: revive, govet, copyright

Update log_test.go
  cmd/serverless-init/log/log_test.go
Due: revive, govet, copyright

add comment to ShouldBuffer
  cmd/serverless-init/initcontainer/initcontainer.go
Due: revive, govet, copyright

refactor ShouldBuffer into a separate function for maintainability
  cmd/serverless-init/initcontainer/initcontainer.go
  cmd/serverless-init/initcontainer/initcontainer_test.go
Due: revive, govet, copyright

Add "ip_proto" tag to some connection metrics
  pkg/network/state.go
  pkg/network/telemetry/stat_counter_wrapper.go
  pkg/network/telemetry/stat_gauge_wrapper.go
  pkg/network/tracer/tracer.go
Due: revive, govet, copyright

Update CSM Threats docs links to match new URLs (#18647)
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/scripts/templates/backend.md
Due: none

@thedavl refactor ShouldBuffer into a separate function for maintainability
  cmd/serverless-init/initcontainer/initcontainer.go
Due: revive, govet, copyright

Add "ip_proto" tag to some connection metrics
  pkg/network/tracer/tracer.go
Due: revive, govet, copyright

Don't use config values for memory or CPU when they have been set based on cgroups.
  cmd/trace-agent/subcommands/run/run.go
  pkg/runtime/runtime.go
Due: revive, govet, copyright

[system-probe] Initial support for go language detection (#18386)
  .github/CODEOWNERS
  cmd/system-probe/config/config.go
  cmd/system-probe/modules/all_linux.go
  cmd/system-probe/modules/language_detection.go
  cmd/system-probe/modules/language_detection_test.go
  pkg/config/config_template.yaml
  pkg/config/system_probe.go
  pkg/languagedetection/cli_detector.go
  pkg/languagedetection/detector.go
  pkg/languagedetection/internal/detectors/go_detector.go
  pkg/languagedetection/internal/detectors/go_detector_test.go
  pkg/languagedetection/languagemodels/types.go
  pkg/languagedetection/privileged_detector.go
  pkg/proto/datadog/languagedetection/api.proto
  pkg/proto/pbgo/languagedetection/api.pb.go
  releasenotes/notes/go-language-detection-90f3908616e188e0.yaml
  tasks/go.py
Due: revive, govet, copyright

cleanup
  cmd/trace-agent/subcommands/run/run.go
Due: revive, govet, copyright

[CWS] fix the example rule making use of `args_options`
  docs/cloud-workload-security/agent_expressions.md
  docs/cloud-workload-security/scripts/templates/agent_expressions.md
Due: none

rename IsColdStart -> isColdstart
  pkg/serverless/daemon/routes.go
  pkg/serverless/daemon/routes_test.go
  pkg/serverless/executioncontext/executioncontext.go
  pkg/serverless/executioncontext/executioncontext_test.go
  pkg/serverless/logs/logs_collector.go
  pkg/serverless/serverless.go
Due: revive, govet, copyright

wip
  cmd/system-probe/modules/language_detection.go
  pkg/proto/datadog/languagedetection/api.proto
  pkg/proto/pbgo/languagedetection/api.pb.go
Due: revive, govet, copyright

Tests!
  cmd/system-probe/config/config.go
  cmd/system-probe/modules/language_detection.go
  cmd/system-probe/modules/language_detection_test.go
  pkg/config/system_probe.go
  pkg/languagedetection/detector.go
  pkg/languagedetection/internal/detectors/go.go
  pkg/languagedetection/internal/detectors/util.go
  pkg/languagedetection/privileged_detector.go
Due: revive, govet, copyright

Update go-language-detection-90f3908616e188e0.yaml
  releasenotes/notes/go-language-detection-90f3908616e188e0.yaml
Due: none

Update api.proto
  pkg/proto/datadog/languagedetection/api.proto
Due: none

fix endpoint name
  cmd/system-probe/modules/language_detection.go
Due: revive, govet, copyright

Add release note
  releasenotes/notes/go-language-detection-90f3908616e188e0.yaml
Due: none

Update releasenotes/notes/go-language-detection-90f3908616e188e0.yaml
  releasenotes/notes/go-language-detection-90f3908616e188e0.yaml
Due: none

Small cleanups
  cmd/system-probe/config/config.go
  cmd/system-probe/modules/language_detection.go
Due: revive, govet, copyright
