Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format

revive:
  name: revive
  description: revive
  entry: python3 tasks/git-hooks/revive.py
  language: system

govet:
  name: govet
  description: go vet
  entry: python3 tasks/git-hooks/govet.py
  language: system
  require_serial: true

copyright:
  name: copyright
  description: copyright headers
  entry: python3 tasks/git-hooks/copyright.py
  language: system
  require_serial: true

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 tasks/git-hooks/clang-format.py
  language: system
  require_serial: true

[CWS] gc after snapshot (#19526)
  pkg/security/probe/probe_linux.go
  pkg/security/probe/probe_windows.go
Due: revive, govet, copyright

[NDM] Add ndmtmp bundle that exposes epforwarder and defaultsender as components. (#19607)
  .github/CODEOWNERS
  comp/README.md
  comp/ndmtmp/aggregator/aggregator.go
  comp/ndmtmp/aggregator/component.go
  comp/ndmtmp/bundle.go
  comp/ndmtmp/bundle_test.go
  comp/ndmtmp/forwarder/component.go
  comp/ndmtmp/forwarder/forwarder.go
  comp/ndmtmp/sender/component.go
  comp/ndmtmp/sender/sender.go
Due: revive, govet, copyright

[CWS] add windows process tree (#19660)
  pkg/process/procutil/process_windows_toolhelp.go
  pkg/security/probe/field_handlers.go
  pkg/security/probe/field_handlers_linux.go
  pkg/security/probe/field_handlers_windows.go
  pkg/security/probe/probe_windows.go
  pkg/security/resolvers/process/resolver.go
  pkg/security/resolvers/process/resolver_linux.go
  pkg/security/resolvers/process/resolver_others.go
  pkg/security/resolvers/process/resolver_windows.go
  pkg/security/resolvers/resolvers_windows.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/secl/model/field_handlers_windows.go
  pkg/security/secl/model/model_windows.go
  pkg/security/secl/model/process_cache_entry_windows.go
  pkg/security/serializers/serializers_base_windows_easyjson.go
  pkg/security/serializers/serializers_windows.go
  pkg/security/serializers/serializers_windows_easyjson.go
  pkg/windowsdriver/procmon/procmon.go
Due: revive, govet, copyright

[CWS][SEC-10575] Change `security_profiles` and `secprofs_syscalls` LRU maps to hashmaps (#19372)
  pkg/security/ebpf/c/include/maps.h
  pkg/security/security_profile/profile/manager.go
Due: revive, govet, copyright, clang-format

[CWS] always lock using the same order (#19644)
  pkg/security/security_profile/profile/manager.go
Due: revive, govet, copyright

[fakeintake] 🐛 cleanup json payloads (#19655)
  test/fakeintake/Dockerfile
  test/fakeintake/client/client_integration_test.go
  test/fakeintake/server/parser.go
  test/fakeintake/server/server.go
  test/fakeintake/server/server_test.go
  test/fakeintake/server/serverstore/parser.go
  test/fakeintake/server/serverstore/store.go
Due: revive, govet, copyright

Use `namespace/name` to index kubernetes deployments in wlm (#19645)
  pkg/workloadmeta/collectors/internal/kubeapiserver/deployments.go
  pkg/workloadmeta/collectors/internal/kubeapiserver/deployments_test.go
Due: revive, govet, copyright

Rework junit_upload to improve trace (#19639)
  tasks/libs/junit_upload.py
Due: none

Upgrade ebpf-manager to v0.3.0 (#19558)
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/dedup.go
  pkg/ebpf/probes_test.go
  pkg/network/usm/ebpf_gotls.go
  pkg/network/usm/ebpf_main.go
  pkg/network/usm/ebpf_ssl.go
  pkg/security/probe/probe_linux.go
Due: revive, govet, copyright

bump `github.com/DataDog/go-libddwaf` to v1.5.0 (#19413)
  .copyright-overrides.yml
  LICENSE-3rdparty.csv
  go.mod
  go.sum
  pkg/serverless/appsec/appsec.go
  pkg/serverless/appsec/appsec_test.go
  pkg/serverless/appsec/rules_test.go
Due: revive, govet, copyright

ebpf platform: ebpf telemetry: Remove redundant allocations when accessing eBPF maps from user mode (#19697)
  pkg/network/telemetry/ebpf_telemetry.go
Due: revive, govet, copyright

[CSPM] Fix leak of oscap-io processes in XCCDF evaluator (#19690)
  pkg/compliance/evaluator_xccdf.go
Due: revive, govet, copyright

Forcibly disables language detection to reduce jmx subcommand log spam (#19594)
  cmd/agent/subcommands/jmx/command.go
Due: revive, govet, copyright

Fix revive linter issues for windows-agent owned files (#19689)
  cmd/agent/windows/service/service.go
  cmd/process-agent/main_windows.go
  cmd/systray/command/command.go
  cmd/systray/main_windows.go
  cmd/trace-agent/windows/controlsvc/controlsvc.go
  comp/README.md
  comp/core/flare/helpers/perm_info_win.go
  comp/systray/systray/component.go
  comp/systray/systray/doconfigure.go
  comp/systray/systray/doflare.go
  comp/systray/systray/systray.go
  pkg/network/protocols/http/etw_http_service.go
  pkg/network/protocols/http/etw_interface.go
  pkg/secrets/check_rights_windows.go
  pkg/util/system/network_windows.go
  pkg/util/winutil/etw/etw-http-service-table.go
  pkg/util/winutil/etw/etw-utils.go
  pkg/util/winutil/etw/etw.go
  pkg/util/winutil/iisconfig.go
  pkg/util/winutil/iisconfig_test.go
  pkg/util/winutil/iphelper/adapters.go
  pkg/util/winutil/iphelper/routes.go
  pkg/util/winutil/messagestrings/messages.go
  pkg/util/winutil/pdhutil/pdh.go
  pkg/util/winutil/pdhutil/pdh_amd64.go
  pkg/util/winutil/pdhutil/pdhcounter.go
  pkg/util/winutil/pdhutil/pdhformatter.go
  pkg/util/winutil/pdhutil/pdhhelper.go
  pkg/util/winutil/pdhutil/pdhmocks_windows.go
  pkg/util/winutil/scmmonitor.go
  pkg/util/winutil/service.go
  pkg/util/winutil/servicemain/servicemain.go
  pkg/util/winutil/time.go
  pkg/util/winutil/users.go
  pkg/util/winutil/winsec.go
  pkg/util/winutil/winver.go
Due: revive, govet, copyright

pkg/trace/api: decrease memory to ensure OOM kill test is triggered
  pkg/trace/api/api_oom_test.go
Due: revive, govet, copyright

Check ID when fetching github workflow (#19630)
  tasks/libs/common/github_api.py
  tasks/libs/github_actions_tools.py
Due: none

omnibus: finalize: remove config.guess files from install dir (#19633)
  omnibus/config/software/datadog-agent-finalize.rb
Due: none

Remove buggy chmod directives in the Dockerfile of the cluster-agent (#19673)
  Dockerfiles/cluster-agent/Dockerfile
Due: none

[CWS] Rename GetProcessScrubbedArgv to GetProcessArgvScrubbed (#19693)
  pkg/security/resolvers/process/resolver_linux.go
  pkg/security/resolvers/process/resolver_windows.go
  pkg/security/security_profile/activity_tree/activity_tree_graph.go
  pkg/security/security_profile/activity_tree/process_node.go
  pkg/security/serializers/serializers_linux.go
Due: revive, govet, copyright

[RC-1188] Send task UUID with flare (#19304)
  cmd/agent/gui/agent.go
  cmd/agent/subcommands/flare/command.go
  cmd/security-agent/subcommands/flare/command.go
  comp/core/flare/component.go
  comp/core/flare/flare.go
  comp/core/flare/helpers/send_flare.go
  comp/core/flare/helpers/send_flare_test.go
  comp/systray/systray/doflare.go
  pkg/cli/subcommands/dcaflare/command.go
  pkg/flare/flare.go
Due: revive, govet, copyright

[CWS][event monitor] add a config option to enable syscalls monitoring (#19679)
  cmd/system-probe/modules/eventmonitor.go
  pkg/config/system_probe.go
  pkg/security/module/cws_linux.go
  pkg/security/module/cws_others.go
  pkg/security/probe/config/config.go
  pkg/security/probe/opts_linux.go
  pkg/security/probe/probe_linux.go
  pkg/security/probe/probe_monitor.go
  pkg/security/tests/module_tester.go
Due: revive, govet, copyright

BUmp test infra definitions to use smaller instance size by default for e2e tests (#19716)
  .gitlab-ci.yml
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: none

Fix Agent version in installer (#19576)
  tools/windows/DatadogAgentInstaller/WixSetup.Tests/AgentVersionTests.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentInstaller.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog/AgentVersion.cs
Due: none

Add container metrics for page faults (#19457)
  pkg/collector/corechecks/containers/generic/processor.go
  pkg/util/containers/metrics/containerd/collector_cgroupv1.go
  pkg/util/containers/metrics/containerd/collector_cgroupv2.go
  pkg/util/containers/metrics/containerd/collector_linux_test.go
  pkg/util/containers/metrics/docker/collector_linux.go
  pkg/util/containers/metrics/ecsfargate/collector.go
  pkg/util/containers/metrics/ecsfargate/collector_test.go
  pkg/util/containers/metrics/kubelet/collector.go
  pkg/util/containers/metrics/kubelet/collector_test.go
  pkg/util/containers/metrics/kubelet/testdata/statsSummaryLinux.json
  pkg/util/containers/metrics/provider/types.go
  pkg/util/containers/metrics/system/collector_linux.go
  releasenotes/notes/page_fault-00282ba60277c61f.yaml
Due: revive, govet, copyright

release notes: mention the OpenSSL bump (#19715)
  releasenotes/notes/openssl-bump-3.0.9-to-3.0.11-93888b7f48c16881.yaml
Due: none

Adding Oracle 18c support (#19718)
  go.mod
  pkg/collector/corechecks/oracle-dbm/activity.go
  pkg/collector/corechecks/oracle-dbm/config/config.go
  pkg/collector/corechecks/oracle-dbm/connection_handling.go
  pkg/collector/corechecks/oracle-dbm/custom_queries.go
  pkg/collector/corechecks/oracle-dbm/init.go
  pkg/collector/corechecks/oracle-dbm/oracle.go
  pkg/collector/corechecks/oracle-dbm/oracle_dictionary_test.go
  pkg/collector/corechecks/oracle-dbm/sql_wrappers.go
  pkg/collector/corechecks/oracle-dbm/statement_metrics_queries.go
  pkg/collector/corechecks/oracle-dbm/statements.go
  releasenotes/notes/oracle-oracle-18c-support-0470eca8ffeef0a1.yaml
Due: revive, govet, copyright

feat(serverless/appsec/httpsec): support additional body types (#19654)
  pkg/serverless/appsec/httpsec/http.go
  pkg/serverless/appsec/httpsec/http_test.go
Due: revive, govet, copyright

Use string interning in statskeeper for the endpoint path (#19514)
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/http.go
  pkg/network/encoding/http2.go
  pkg/network/encoding/http2_test.go
  pkg/network/encoding/http_test.go
  pkg/network/encoding/usm_test.go
  pkg/network/protocols/grpc/monitor_test.go
  pkg/network/protocols/http/debugging/debugging.go
  pkg/network/protocols/http/statkeeper.go
  pkg/network/protocols/http/statkeeper_test.go
  pkg/network/protocols/http/stats.go
  pkg/network/state_test.go
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/network/usm/monitor_test.go
Due: revive, govet, copyright

pkg/obfuscate: make jsonObfuscator concurrency-safe by internal state isolation (#19643)
  pkg/obfuscate/json.go
  pkg/obfuscate/json_test.go
  pkg/obfuscate/testdata/json_tests.xml
  pkg/trace/agent/agent.go
  releasenotes/notes/faster-obfuscation-744c6710d52ad6d9.yaml
Due: revive, govet, copyright

enable custom cache by default (#19746)
  pkg/config/config.go
Due: revive, govet, copyright

[CWS] do not fork from the wrong parent (#19137)
  pkg/security/ebpf/c/include/hooks/exec.h
  pkg/security/metrics/metrics.go
  pkg/security/probe/probe_linux.go
  pkg/security/resolvers/process/resolver_linux.go
  pkg/security/resolvers/process/resolver_test.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/process_cache_entry_unix.go
Due: revive, govet, copyright, clang-format

[Component framework]: Add a linter to verify each fxutil.OneShot has an unit test (#19343)
  .circleci/config.yml
  cmd/cluster-agent/subcommands/diagnose/command_test.go
  cmd/cluster-agent/subcommands/metamap/command_test.go
  cmd/cluster-agent/subcommands/status/command_test.go
  cmd/process-agent/subcommands/check/check.go
  cmd/process-agent/subcommands/check/check_test.go
  cmd/process-agent/subcommands/config/config_test.go
  cmd/process-agent/subcommands/events/events_test.go
  cmd/process-agent/subcommands/status/status_test.go
  cmd/process-agent/subcommands/taggerlist/tagger_list_test.go
  cmd/process-agent/subcommands/workloadlist/command_test.go
  cmd/secrethelper/secret_helper_test.go
  cmd/security-agent/subcommands/config/config_test.go
  cmd/security-agent/subcommands/runtime/activity_dump_test.go
  cmd/security-agent/subcommands/runtime/command_test.go
  cmd/security-agent/subcommands/runtime/deprecated_commands_test.go
  cmd/security-agent/subcommands/runtime/security_profile_test.go
  cmd/system-probe/subcommands/config/command_test.go
  cmd/system-probe/subcommands/debug/command_test.go
  cmd/system-probe/subcommands/modrestart/command_test.go
  cmd/system-probe/subcommands/run/command_test.go
  tasks/__init__.py
  tasks/components.py
Due: revive, govet, copyright

usm: gotls: reuse file registry (#19701)
  pkg/network/usm/ebpf_gotls.go
  pkg/network/usm/utils/path_identifier.go
Due: revive, govet, copyright

usm: http2: use gostreamer (#19533)
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/format.go
  pkg/network/encoding/http2.go
  pkg/network/encoding/http2_test.go
Due: revive, govet, copyright

Add support for LPM_TRIE maps to ebpf check (#19688)
  pkg/collector/corechecks/ebpf/ebpf.go
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/probe.go
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/probe_test.go
Due: revive, govet, copyright

[e2e] new e2e containers owners (#19738)
  .github/CODEOWNERS
  .gitlab/e2e.yml
  test/new-e2e/tests/containers/containers.go
  test/new-e2e/tests/containers/ecs_test.go
  test/new-e2e/tests/containers/eks_test.go
  test/new-e2e/tests/containers/k8s_test.go
  test/new-e2e/tests/containers/kindvm_test.go
  test/new-e2e/tests/containers/main_test.go
  test/new-e2e/tests/containers/utils.go
  test/new-e2e/tests/containers/utils_test.go
Due: revive, govet, copyright

pkg/obfuscate: remove duplicate structs across packages (#19756)
  pkg/obfuscate/obfuscate.go
  pkg/trace/agent/obfuscate_test.go
  pkg/trace/api/info.go
  pkg/trace/api/info_test.go
  pkg/trace/config/config.go
Due: revive, govet, copyright

[CI] Improve Aerospike Integration fix (#17324)
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
Due: none

Path conditions:
  revive: any of: \.go$
  govet: any of: \.go$
  copyright: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
