Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Reject unresolved secret handles on the NPM direct-send path (#55014)
  pkg/network/sender/sender_linux.go
  pkg/process/runner/endpoint/BUILD.bazel
  pkg/process/runner/endpoint/endpoints.go
  pkg/process/runner/endpoint/endpoints_test.go
Due: copyright, go-mod-tidy

[SMP] Update CLI to v0.28.0 and lading to 0.33.0 (#55135)
  .gitlab/childs/smp-regression-child-pipeline.yml
  test/regression/config.yaml
Due: shell-check-no-set-x, gitlab-configuration

rename to types
  pkg/network/sender/event_consumer_types.go
  pkg/network/sender/sender_types.go
Due: copyright, go-mod-tidy

always return a clone
  pkg/network/sender/portmap.go
Due: copyright, go-mod-tidy

support direct send on windows
  pkg/network/sender/containers.go
  pkg/network/sender/dns.go
  pkg/network/sender/docker_proxy.go
  pkg/network/sender/encode.go
  pkg/network/sender/event_consumer.go
  pkg/network/sender/event_consumer_linux.go
  pkg/network/sender/event_consumer_unsupported.go
  pkg/network/sender/event_consumer_windows.go
  pkg/network/sender/format.go
  pkg/network/sender/header.go
  pkg/network/sender/network.go
  pkg/network/sender/network_linux.go
  pkg/network/sender/network_windows.go
  pkg/network/sender/payload.go
  pkg/network/sender/portmap.go
  pkg/network/sender/process_extract.go
  pkg/network/sender/route.go
  pkg/network/sender/sender.go
  pkg/network/sender/sender_linux.go
  pkg/network/sender/sender_test.go
  pkg/network/sender/sender_types.go
  pkg/network/sender/sender_windows.go
  pkg/network/sender/service_extract.go
  pkg/network/sender/tags.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_darwin.go
  pkg/system-probe/config/config_windows.go
  pkg/util/kernel/BUILD.bazel
  pkg/util/kernel/platform_windows.go
  pkg/util/kernel/uname_windows.go
  pkg/util/os/BUILD.bazel
  pkg/util/os/process_windows.go
Due: copyright, go-mod-tidy

rename without linux suffix
  pkg/network/sender/event_consumer.go
  pkg/network/sender/sender.go
  pkg/network/sender/sender_test.go
Due: copyright, go-mod-tidy

guard t.processCache
  pkg/network/tracer/tracer_windows.go
Due: copyright, go-mod-tidy

do not stringify IPs
  pkg/network/sender/portmap.go
  pkg/network/sender/sender.go
  pkg/network/sender/sender_linux.go
  pkg/network/sender/sender_windows.go
  pkg/network/sender/service_resolver.go
  pkg/network/sender/service_resolver_test.go
  pkg/network/sender/tags.go
Due: copyright, go-mod-tidy

include windows npm build tag
  pkg/network/sender/containers.go
  pkg/network/sender/dns.go
  pkg/network/sender/docker_proxy.go
  pkg/network/sender/encode.go
  pkg/network/sender/event_consumer.go
  pkg/network/sender/event_consumer_unsupported.go
  pkg/network/sender/event_consumer_windows.go
  pkg/network/sender/format.go
  pkg/network/sender/header.go
  pkg/network/sender/network.go
  pkg/network/sender/network_windows.go
  pkg/network/sender/payload.go
  pkg/network/sender/portmap.go
  pkg/network/sender/process_extract.go
  pkg/network/sender/route.go
  pkg/network/sender/sender.go
  pkg/network/sender/sender_test.go
  pkg/network/sender/sender_unsupported.go
  pkg/network/sender/sender_windows.go
  pkg/network/sender/service_extract.go
  pkg/network/sender/tags.go
Due: copyright, go-mod-tidy

fix SetInTest having no effect
  pkg/network/sender/sender_test.go
Due: copyright, go-mod-tidy

fix test for windows
  pkg/network/sender/sender_test.go
Due: copyright, go-mod-tidy

run gazelle
  pkg/network/sender/BUILD.bazel
Due: none

try port 8080 to avoid bind errors
  test/new-e2e/tests/npm/config/dockercompose_httpbin.yaml
  test/new-e2e/tests/npm/ec2_1host_containerized_test.go
  test/new-e2e/tests/npm/ec2_1host_direct_test.go
  test/new-e2e/tests/npm/ec2_1host_selinux_test.go
  test/new-e2e/tests/npm/ec2_1host_test.go
  test/new-e2e/tests/npm/ec2_1host_wkit_direct_test.go
  test/new-e2e/tests/npm/ec2_1host_wkit_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

add direct send test for windows
  .gitlab/windows/test/e2e/windows.yml
  test/new-e2e/tests/npm/ec2_1host_wkit_direct_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

fix httpd download
  test/new-e2e/tests/npm/ec2_1host_wkit_direct_test.go
  test/new-e2e/tests/npm/ec2_1host_wkit_test.go
Due: copyright, go-mod-tidy

use NewLazySystemDLL
  pkg/util/kernel/platform_windows.go
Due: copyright, go-mod-tidy

add comment about gopsutil.PidExists on windows
  pkg/util/os/process_windows.go
Due: copyright, go-mod-tidy

update mocks
  pkg/process/procutil/mocks/probe.go
Due: copyright, go-mod-tidy

add ProcessFromPID to procutil
  pkg/network/sender/event_consumer.go
  pkg/network/sender/event_consumer_linux.go
  pkg/network/sender/event_consumer_windows.go
  pkg/process/procutil/probe.go
  pkg/process/procutil/process_aix.go
  pkg/process/procutil/process_darwin.go
  pkg/process/procutil/process_fallback.go
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_windows.go
Due: copyright, go-mod-tidy

add toolhelp implementation
  pkg/process/procutil/process_windows_toolhelp.go
Due: copyright, go-mod-tidy

run gazelle
  pkg/network/sender/BUILD.bazel
  test/new-e2e/tests/npm/BUILD.bazel
Due: none

fix impl
  pkg/process/procutil/process_windows_toolhelp.go
Due: copyright, go-mod-tidy

only rely on exe in windows event consumer
  pkg/network/sender/event_consumer_windows.go
Due: copyright, go-mod-tidy

fix darwin ProcessFromPID
  pkg/process/procutil/process_darwin.go
Due: copyright, go-mod-tidy

fix panics
  pkg/network/sender/event_consumer.go
  pkg/process/procutil/process_windows.go
Due: copyright, go-mod-tidy

otel-agent: apply dogtel extension config before accepting a missing exporter
  cmd/otel-agent/config/agent_config.go
  cmd/otel-agent/config/agent_config_test.go
  cmd/otel-agent/config/testdata/config_standalone_no_dd_exporter.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

refactor(otel-metrics): pass SDK stats source
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/sdk_trace_stats.go
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/sdk_trace_stats_test.go
Due: copyright, go-mod-tidy

feat(otel-metrics): share SDK trace stats mapping
  pkg/opentelemetry-mapping-go/otlp/metrics/go.mod
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/BUILD.bazel
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/sdk_trace_stats.go
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/sdk_trace_stats_test.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

fix(otel-metrics): normalize SDK span kinds
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/sdk_trace_stats.go
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/sdk_trace_stats_test.go
Due: copyright, go-mod-tidy

fix(otel-metrics): bound SDK histogram counts
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/sdk_trace_stats.go
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/sdk_trace_stats_test.go
Due: copyright, go-mod-tidy

fix(otel-metrics): declare ptrace test dependency
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/BUILD.bazel
Due: none

preserve behavior
  pkg/collector/python/prometheus_parser.go
  pkg/collector/python/prometheus_parser_test.go
Due: copyright, go-mod-tidy

refactor(windows): drop the redundant IsDomainAccount check
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/Service/ProcmgrStartTypeTests.cs
  tools/windows/DatadogAgentInstaller/CustomActions/ServiceCustomAction.cs
Due: none

fix(wlan): do not panic when wlanapi.dll is unavailable on Windows (#55125)
  pkg/collector/corechecks/net/wlan/BUILD.bazel
  pkg/collector/corechecks/net/wlan/wlan_windows.go
  pkg/collector/corechecks/net/wlan/wlan_windows_test.go
  releasenotes/notes/fix-wlan-windows-missing-wlanapi-970ec599cdac2590.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix test
  pkg/network/sender/sender_test.go
Due: copyright, go-mod-tidy

fix(otel-metrics): skip client-computed spans in OTLP stats concentrator (#54280)
  pkg/trace/otel/stats/BUILD.bazel
  pkg/trace/otel/stats/otel_benchmark_test.go
  pkg/trace/otel/stats/otel_util.go
  pkg/trace/otel/stats/otel_util_test.go
Due: copyright, go-mod-tidy

add release notes
  releasenotes/notes/remove-curl-cluster-agent-188db3207dc253ce.yaml
Due: shell-check-no-set-x

APM: Reduce flakiness of tests, find and use free ports always (#55122)
  pkg/trace/api/api.go
  pkg/trace/api/api_nix_test.go
  pkg/trace/api/api_oom_test.go
  pkg/trace/api/api_test.go
  pkg/trace/testutil/testutil.go
Due: copyright, go-mod-tidy

feat(otel-metrics): share SDK stats serialization
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/BUILD.bazel
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/pb/BUILD.bazel
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/pb/trace_stats.pb.go
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/pb/trace_stats.proto
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/sdk_trace_stats.go
  pkg/opentelemetry-mapping-go/otlp/metrics/sdktracestats/sdk_trace_stats_test.go
Due: copyright, go-mod-tidy, protocol-buffer

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
