Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$

add constant for `vfsmount_mnt_flags`
  pkg/security/ebpf/c/include/constants/offsets/filesystem.h
  pkg/security/probe/constantfetch/constant_names.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/probe_ebpf.go
Due: copyright, win-clang-format, go-mod-tidy

add constant for `super_block_s_type_offset`
  pkg/security/ebpf/c/include/constants/offsets/filesystem.h
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/probe_ebpf.go
Due: copyright, win-clang-format, go-mod-tidy

add constant for `vfsmount_mnt_root_offset`
  pkg/security/ebpf/c/include/constants/offsets/filesystem.h
  pkg/security/probe/constantfetch/constant_names.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/probe_ebpf.go
Due: copyright, win-clang-format, go-mod-tidy

use backslashes as path separators
  omnibus/config/software/python3.rb
Due: none

fix(containers): [agent6] Updates on container deploy
  .gitlab/deploy_containers/conditions.yml
  .gitlab/deploy_containers/deploy_containers_a6.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

add a comment about PDB
  omnibus/config/software/python3.rb
Due: none

package python icons
  omnibus/config/software/python3.rb
Due: none

Publish only required images
  .gitlab/deploy_containers/deploy_containers_a6.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Improve the test case and use envvar for cipher templates in fips-server entrypoint
  test/new-e2e/tests/fips-compliance/fips_ciphers_nix_test.go
  test/new-e2e/tests/fips-compliance/fixtures/docker-compose.yaml.tmpl
Due: copyright, go-mod-tidy

add constant for `dentry_d_name_offset`
  pkg/security/ebpf/c/include/constants/offsets/filesystem.h
  pkg/security/probe/constantfetch/constant_names.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/probe_ebpf.go
Due: copyright, win-clang-format, go-mod-tidy

Ratchet the RSS limit down to lock in recent improvements
  test/regression/cases/quality_gate_idle/experiment.yaml
  test/regression/cases/quality_gate_idle_all_features/experiment.yaml
  test/regression/cases/quality_gate_logs/experiment.yaml
Due: shell-check-no-set-x

show log levels
  cmd/system-probe/api/debug/handlers_linux.go
  cmd/system-probe/api/debug/handlers_linux_test.go
Due: copyright, go-mod-tidy

feat(package_size): reduce all package size diff threshold to 0.1MB
  tasks/libs/package/size.py
Due: none

add release note
  releasenotes/notes/cws-fix-containers-billing-19580e6f968dd79a.yaml
Due: shell-check-no-set-x

add constant for `vfsmount_mnt_sb_offset`
  pkg/security/ebpf/c/include/constants/offsets/filesystem.h
  pkg/security/probe/constantfetch/constant_names.go
  pkg/security/probe/constantfetch/fallback.go
  pkg/security/probe/probe_ebpf.go
Due: copyright, win-clang-format, go-mod-tidy

fix typo
  omnibus/config/software/python3.rb
Due: none

[CWS] improve handling of missing inode key in exec file cache map
  pkg/security/resolvers/process/resolver_ebpf.go
Due: copyright, go-mod-tidy

fix error wrapping
  pkg/security/resolvers/process/resolver_ebpf.go
Due: copyright, go-mod-tidy

Remove skip
  test/new-e2e/tests/otel/otel-agent/complete_test.go
  test/new-e2e/tests/otel/otel-agent/infraattributes_eks_test.go
  test/new-e2e/tests/otel/otel-agent/infraattributes_test.go
  test/new-e2e/tests/otel/otel-agent/minimal_test.go
  test/new-e2e/tests/otel/otel-agent/no_dd_exporter_test.go
  test/new-e2e/tests/otel/otel-agent/receive_resource_spans_v2_test.go
  test/new-e2e/tests/otel/otel-agent/sampling_test.go
Due: copyright, go-mod-tidy

Fix linter naming issue
  test/new-e2e/tests/fips-compliance/fips_ciphers_nix_test.go
Due: copyright, go-mod-tidy

ci(macos): Migrate to macos13 ventura (#31033)
  .gitlab/lint/macos.yml
  .gitlab/source_test/macos.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[CWS] Add accept syscall (#32433)
  docs/cloud-workload-security/backend_linux.md
  docs/cloud-workload-security/backend_linux.schema.json
  docs/cloud-workload-security/linux_expressions.md
  docs/cloud-workload-security/secl_linux.json
  pkg/security/ebpf/c/include/constants/enums.h
  pkg/security/ebpf/c/include/constants/offsets/network.h
  pkg/security/ebpf/c/include/events_definition.h
  pkg/security/ebpf/c/include/hooks/all.h
  pkg/security/ebpf/c/include/hooks/network/accept.h
  pkg/security/ebpf/c/include/structs/syscalls.h
  pkg/security/ebpf/probes/accept.go
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/category.go
  pkg/security/secl/model/events.go
  pkg/security/secl/model/field_accessors_unix.go
  pkg/security/secl/model/field_handlers_unix.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/unmarshallers_linux.go
  pkg/security/secl/schemas/accept.schema.json
  pkg/security/seclwin/model/events.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/serializers/serializers_linux_easyjson.go
  pkg/security/tests/accept_test.go
  pkg/security/tests/schemas.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
Due: copyright, win-clang-format, go-mod-tidy

use same struct for PCAPTuple
  pkg/network/tracer/connection/ebpfless/tcp_processor.go
  pkg/network/tracer/connection/ebpfless/tcp_utils.go
Due: copyright, go-mod-tidy

CWS: sync BTFhub constants
  pkg/security/probe/constantfetch/btfhub/constants.json
Due: none

[Backport 7.62.x] Bump go-git to latest version
  go.mod
  go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: go-mod-tidy, check-go-modules-in-python

Revert "Use config for windows named pipe path (#31150)"
  .github/CODEOWNERS
  cmd/agent/subcommands/flare/command_darwin_test.go
  cmd/agent/subcommands/flare/command_other_test.go
  cmd/agent/subcommands/flare/command_test.go
  cmd/agent/subcommands/flare/command_windows_test.go
  cmd/system-probe/api/client/client_windows.go
  cmd/system-probe/config/adjust.go
  cmd/system-probe/config/config_unix.go
  cmd/system-probe/config/config_unsupported.go
  cmd/system-probe/config/config_windows.go
  pkg/collector/corechecks/system/wincrashdetect/wincrashdetect_windows_test.go
  pkg/config/setup/config_darwin.go
  pkg/config/setup/config_nix.go
  pkg/config/setup/config_windows.go
  pkg/config/setup/system_probe.go
  pkg/process/net/common.go
  pkg/process/net/windows_pipe_testutil.go
  pkg/util/funcs/memoize_arg.go
  pkg/util/funcs/memoize_test.go
Due: copyright, go-mod-tidy

WIP
  tasks/unit_tests/package_tests.py
Due: none

use network.ConnectionDirection
  pkg/network/event_common.go
  pkg/network/tracer/connection/ebpfless/tcp_processor.go
  pkg/network/tracer/connection/ebpfless/tcp_processor_test.go
  pkg/network/tracer/connection/ebpfless/tcp_utils.go
  pkg/network/tracer/connection/ebpfless_tracer.go
Due: copyright, go-mod-tidy

Fix linter issue with gofmt
  test/new-e2e/tests/fips-compliance/fips_ciphers_nix_test.go
Due: copyright, go-mod-tidy

upgrade(repo): Add licences tasks & lint job (#32)
  cmd/secret-backend/.copyright-overrides.yml
  cmd/secret-backend/.github/workflows/licenses.yaml
  cmd/secret-backend/.wwhrd.yml
  cmd/secret-backend/LICENSE-3rdparty.csv
  cmd/secret-backend/go.mod
  cmd/secret-backend/go.sum
  cmd/secret-backend/internal/tools/tools.go
  cmd/secret-backend/requirements.txt
  cmd/secret-backend/tasks/__init__.py
  cmd/secret-backend/tasks/licenses.py
Due: copyright, go-mod-tidy, shell-check-no-set-x, check-go-modules-in-python

[Backport 7.61.x] Bump go-git to latest version
  go.mod
  go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: go-mod-tidy, check-go-modules-in-python

Add associated release note
  releasenotes/notes/Fix-CVE-2025-21613-e315819fea996bd4.yaml
Due: shell-check-no-set-x

[usm] reliability, http, pool of objects, initialize object got from pool.
  pkg/network/protocols/http/stats.go
Due: copyright, go-mod-tidy

use python layout script instead of manually moving files
  omnibus/config/software/python3.rb
Due: none

[ADXT-823] Display attempt in "stack up took ..." message (#32690)
  test/new-e2e/pkg/utils/infra/stack_manager.go
Due: copyright, go-mod-tidy

[incident-33684] Reuse sysprobe-client between traceroute calls (#32709)
  pkg/networkpath/traceroute/traceroute_linux.go
  pkg/networkpath/traceroute/traceroute_sysprobe.go
  pkg/networkpath/traceroute/traceroute_windows.go
Due: copyright, go-mod-tidy

add tests and change the way we handle empty cgroups
  pkg/security/utils/cgroup.go
  pkg/security/utils/cgroup_test.go
Due: copyright, go-mod-tidy

feat(installer): Always load the installer unit & disable it using config (#32672)
  cmd/installer/subcommands/daemon/run_nix.go
  pkg/fleet/daemon/daemon.go
  pkg/fleet/installer/packages/datadog_installer.go
  test/new-e2e/tests/installer/unix/all_packages_test.go
  test/new-e2e/tests/installer/unix/package_installer_test.go
Due: copyright, go-mod-tidy

Update the license
  LICENSE-3rdparty.csv
Due: none

Move CORE telemetry to pkg/ebpf (#32721)
  pkg/ebpf/btf.go
  pkg/ebpf/btf_test.go
  pkg/ebpf/co_re.go
  pkg/ebpf/co_re_telemetry.go
  pkg/ebpf/co_re_telemetry_test.go
  pkg/ebpf/status_codes.go
  pkg/network/tracer/tracer.go
Due: copyright, go-mod-tidy
