Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$

[CWS] reduce allocations related to recv events in the security agent
  pkg/security/agent/agent.go
Due: copyright, go-mod-tidy

Lints
  pkg/util/compression/compression.go
  pkg/util/compression/impl-gzip/gzip_strategy.go
  pkg/util/compression/impl-noop/no_strategy.go
  pkg/util/compression/impl-zlib/zlib_strategy.go
  pkg/util/compression/impl-zstd/zstd_strategy.go
  pkg/util/compression/selector/zlib-and-zstd.go
Due: copyright, go-mod-tidy

remove accept from exclusions
  pkg/security/tests/main_linux.go
Due: copyright, go-mod-tidy

fix linter errors
  pkg/security/proto/ebpfless/msg.go
  pkg/security/ptracer/network_handlers.go
  pkg/security/ptracer/process.go
Due: copyright, go-mod-tidy

some improvements
  pkg/security/ptracer/network_handlers.go
Due: copyright, go-mod-tidy

linter fixes
  pkg/security/ptracer/network_handlers.go
Due: copyright, go-mod-tidy

fix run_command
  omnibus/python-scripts/packages.py
  tools/windows/DatadogAgentInstaller/CustomActions/PythonDistributionCustomAction.cs
Due: none

Fix Get() method not being able to return an inner node
  pkg/config/model/viper.go
  pkg/config/nodetreemodel/config.go
  pkg/config/nodetreemodel/config_test.go
  pkg/config/nodetreemodel/getter.go
  pkg/config/nodetreemodel/getter_test.go
Due: copyright, go-mod-tidy

fix another error
  pkg/security/ptracer/syscalls_amd64.go
Due: copyright, go-mod-tidy

More lints
  go.work
  pkg/security/tests/module_tester_linux.go
  pkg/security/tests/module_tester_windows.go
Due: copyright, go-mod-tidy

[APM] Normalize _dd.base_service meta tag (#32901)
  pkg/trace/agent/normalizer.go
  pkg/trace/agent/normalizer_test.go
  pkg/trace/info/info_test.go
  pkg/trace/info/stats.go
  pkg/trace/info/stats_test.go
Due: copyright, go-mod-tidy

test case
  pkg/trace/agent/obfuscate_test.go
Due: copyright, go-mod-tidy

add `MessageContent.GetContentLengthHint` and use it in serializer
  pkg/logs/message/message.go
  pkg/logs/sender/serializer.go
Due: copyright, go-mod-tidy

fix %s to %w
  pkg/util/winutil/users.go
Due: copyright, go-mod-tidy

usm: test: Fix wrong assumption in watcher test (#32949)
  pkg/network/usm/sharedlibraries/watcher_test.go
Due: copyright, go-mod-tidy

Pin integrations-core in nightly and dev builds
  release.json
Due: none

Improve auto multiline v2 truncation behavior to be consistent with single line logs (#32831)
  pkg/logs/internal/decoder/auto_multiline_detection/aggregator.go
  pkg/logs/internal/decoder/auto_multiline_detection/aggregator_test.go
  pkg/logs/internal/decoder/single_line_handler.go
  pkg/logs/internal/decoder/single_line_handler_test.go
Due: copyright, go-mod-tidy

Move the tests requiring FIPS into the same folder (#32849)
  .gitlab/e2e_install_packages/windows.yml
  test/new-e2e/tests/windows/fips-test/mutually_exclusive_product_test.go
  test/new-e2e/tests/windows/install-test/agent_user_test.go
  test/new-e2e/tests/windows/install-test/base.go
  test/new-e2e/tests/windows/install-test/install_subservices_test.go
  test/new-e2e/tests/windows/install-test/install_test.go
  test/new-e2e/tests/windows/install-test/npm_test.go
  test/new-e2e/tests/windows/install-test/upgrade_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[CSPM] Add image_repo metadata for docker rego rules (#32946)
  pkg/compliance/resolver.go
Due: copyright, go-mod-tidy

use correct build image
  .circleci/config.yml
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

wip
  tasks/windows_dev_env.py
Due: none

go fmt
  pkg/security/tests/schemas.go
Due: copyright, go-mod-tidy

improve system-probe handling of subcommands (#32950)
  cmd/system-probe/command/command.go
  cmd/system-probe/subcommands/runtime/command_linux.go
Due: copyright, go-mod-tidy

update close
  tools/windows/DatadogAgentInstaller/CustomActions/PythonDistributionCustomAction.cs
Due: none

switch to an older commit
  release.json
Due: none

[CWS] reduce allocations related to recv events in the security agent (#32956)
  pkg/security/agent/agent.go
Due: copyright, go-mod-tidy

Fix Get() method not being able to return an inner node (#31977)
  pkg/config/model/viper.go
  pkg/config/nodetreemodel/config.go
  pkg/config/nodetreemodel/config_test.go
  pkg/config/nodetreemodel/getter.go
  pkg/config/nodetreemodel/getter_test.go
Due: copyright, go-mod-tidy

[go.mod] Bump datadog-operator/api dependency
  go.mod
  go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: go-mod-tidy, check-go-modules-in-python

Fix diagnose for kind
  test/new-e2e/pkg/provisioners/aws/kubernetes/kubernetes_dump.go
Due: copyright, go-mod-tidy

Pass DBMS type to SQL Lexer obfuscator (#32928)
  pkg/obfuscate/sql.go
  pkg/trace/agent/obfuscate.go
  pkg/trace/agent/obfuscate_test.go
Due: copyright, go-mod-tidy

feat(ssi): enable language with a default version (#32879)
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/language_versions.go
  releasenotes/notes/enable-ssi-language-default-version-9bc955d06c045ae6.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Adding schema to OTLP config
  pkg/config/config_template.yaml
  pkg/config/setup/otlp.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

update name
  omnibus/python-scripts/packages.py
  tools/windows/DatadogAgentInstaller/CustomActions/PythonDistributionCustomAction.cs
Due: none

fixup! Collect container-level information in cluster agent podwatcher
  comp/core/workloadmeta/collectors/util/kubernetes_resource_parsers/pod.go
  comp/core/workloadmeta/collectors/util/kubernetes_resource_parsers/pod_test.go
  comp/core/workloadmeta/def/types.go
  comp/core/workloadmeta/def/types_test.go
Due: copyright, go-mod-tidy

change OTEL to OTAGENT
  tasks/libs/pipeline/github_jira_map.yaml
Due: shell-check-no-set-x

discovery: e2e: mark containerID test as flaky
  test/new-e2e/tests/discovery/docker_test.go
Due: copyright, go-mod-tidy

feat(PR): comment support
  .gitlab/functional_test/include.yml
  .gitlab/functional_test/regression_detector.yml
  .gitlab/functional_test/static_quality_gate.yml
  tasks/quality_gates.py
  tasks/static_quality_gates/static_quality_gate_docker_agent.py
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

add workspace name as tag
  pkg/fleet/installer/setup/djm/databricks.go
  pkg/fleet/installer/setup/djm/databricks_test.go
Due: copyright, go-mod-tidy

nit
  cmd/serverless-init/metric/metric.go
  cmd/serverless-init/metric/metric_test.go
Due: copyright, go-mod-tidy

fix run_command
  omnibus/python-scripts/packages.py
Due: none
