Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

corechecks/network: port AIX support to the v2 Go network check
  pkg/collector/corechecks/net/networkv2/BUILD.bazel
  pkg/collector/corechecks/net/networkv2/network.go
  pkg/collector/corechecks/net/networkv2/network_aix.go
  pkg/collector/corechecks/net/networkv2/stub.go
  pkg/config/setup/common_settings.go
Due: copyright, go-mod-tidy

Remove reverse children links from process cache entries
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/resolvers/process/resolver_test.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/process_cache_entry_unix.go
  pkg/security/seclwin/model/model.go
Due: copyright, go-mod-tidy

update bazel files
  pkg/security/resolvers/process/BUILD.bazel
Due: none

Update PPid only after successful procfs parent relink
  pkg/security/resolvers/process/resolver_ebpf.go
Due: copyright, go-mod-tidy

Repair target process lineage during resolution
  pkg/security/metrics/metrics.go
  pkg/security/probe/probe_ebpf.go
Due: copyright, go-mod-tidy

update generated files
  pkg/security/secl/model/event_deep_copy_unix.go
Due: copyright, go-mod-tidy

Remove flaky mark from test
  comp/process/runner/impl/BUILD.bazel
  comp/process/runner/impl/runner_test.go
Due: copyright, go-mod-tidy

fix(review): Remove redundant ask-review mechanism
  .github/workflows/update-kubernetes-versions.yml
Due: shell-check-no-set-x

fix(e2e): quote api_key in generated datadog.yaml for ADP 1.5.0 (#54550)
  test/e2e-framework/components/datadog/agent/host.go
Due: copyright, go-mod-tidy

[anomalydetection] Add scorer top anomaly buffer
  comp/anomalydetection/observer/impl/anomaly_scorer.go
  comp/anomalydetection/observer/impl/anomaly_scorer_test.go
Due: copyright, go-mod-tidy

Fix missing source attribute on non-aggregated metrics (#54528)
  pkg/aggregator/no_aggregation_stream_worker.go
  pkg/aggregator/no_aggregation_stream_worker_test.go
Due: copyright, go-mod-tidy

Convert security tests to dd_agent_go_test
  pkg/security/tests/BUILD.bazel
Due: none

Use expedited RCU grace periods when running eBPF tests
  pkg/ebpf/ebpftest/BUILD.bazel
  pkg/ebpf/ebpftest/rcu_linux.go
  pkg/security/tests/BUILD.bazel
  pkg/security/tests/main_linux.go
Due: copyright, go-mod-tidy

review
  test/new-e2e/tests/privateactionrunner/private_action_runner_executor_nix_test.go
Due: copyright, go-mod-tidy

Apply suggestion from @rdesgroppes
  comp/process/runner/impl/runner_test.go
Due: copyright, go-mod-tidy

fix(ci): Add config discovery paths to discovery e2e tests trigger (#53302)
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration

[ACIX-1926] chore(ci): pin GitHub Actions to commit SHAs (#54475)
  .github/workflows/add-dependabot-pr-to-mq.yml
  .github/workflows/add-label-pr.yml
  .github/workflows/agenttelemetry-metric-reminder.yml
  .github/workflows/check-issue-status.yml
  .github/workflows/codex-review-draft.yml
  .github/workflows/docs-dev.yml
  .github/workflows/go-update-commenter.yml
  .github/workflows/report-merged-pr.yml
  .github/workflows/update-kubernetes-versions.yml
Due: shell-check-no-set-x

[DOIO-136] Match resolved database identifiers (#54214)
  comp/dataobs/queryactions/impl/handler.go
  comp/dataobs/queryactions/impl/handler_test.go
  comp/dataobs/queryactions/impl/queryactions_test.go
  comp/dataobs/queryactions/impl/types.go
  releasenotes/notes/data-observability-resolved-db-identifier-ebbeb19d097b0f99.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Convert the leftovers
  pkg/dyninst/object/BUILD.bazel
  pkg/gpu/ebpf/BUILD.bazel
  pkg/network/ebpf/BUILD.bazel
  pkg/security/tests/BUILD.bazel
Due: none

Add Kueue and External Secrets origin mapping (#54241)
  pkg/metrics/metricsource.go
  pkg/serializer/internal/metrics/origin_mapping.go
  releasenotes/notes/kueue-external-secrets-origin-mapping-f921302d5782dc72.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(kmt): stop provisioning microVMs for test sets with no CI job
  tasks/kernel_matrix_testing/platforms.py
  tasks/unit_tests/kmt_tests.py
Due: none

Key `bazel_cache` on adjusted `MODULE.bazel.lock`
  .github/actions/bazel-cache/action.yml
  .gitlab/build/bazel/defs.yml
  MODULE.bazel.lock
  bazel/tools/bazelisk_check.bzl
Due: shell-check-no-set-x, gitlab-configuration

fix(review): Remove redundant ask-review mechanism (#54559)
  .github/workflows/update-kubernetes-versions.yml
Due: shell-check-no-set-x

fix(gpu): gate NVML workloadmeta collector
  comp/core/workloadmeta/collectors/internal/nvml/BUILD.bazel
  comp/core/workloadmeta/collectors/internal/nvml/nvml.go
  comp/core/workloadmeta/collectors/internal/nvml/nvml_test.go
Due: copyright, go-mod-tidy

test(gpu): enable NVML workloadmeta mock
  pkg/collector/corechecks/gpu/testutil.go
Due: copyright, go-mod-tidy

[ACTP] PAR executor mode e2e (#53734)
  test/new-e2e/tests/privateactionrunner/private_action_runner_executor_nix_test.go
Due: copyright, go-mod-tidy

[ACTP] migrate PAR e2e tests to fake intake for RC keys
  test/new-e2e/tests/privateactionrunner/private_action_runner_enabled_test.go
  test/new-e2e/tests/privateactionrunner/private_action_runner_executor_nix_test.go
  test/new-e2e/tests/privateactionrunner/rc_helpers.go
Due: copyright, go-mod-tidy

Fix bazel errors from update
  comp/kubeactions/kubeactions/impl/BUILD.bazel
  pkg/privateactionrunner/bundles/kubernetes/kubeactions/BUILD.bazel
Due: none

cleanup
  pkg/privateactionrunner/adapters/constants/constants_adapter.go
  pkg/privateactionrunner/opms/opms.go
  pkg/privateactionrunner/opms/opms_test.go
  pkg/privateactionrunner/task-verifier/keys_manager.go
  pkg/privateactionrunner/task-verifier/verifier.go
  pkg/privateactionrunner/task-verifier/verifier_test.go
  test/e2e-framework/components/datadog/agent/kubernetes_helm.go
  test/fakeintake/client/par.go
  test/fakeintake/server/par.go
  test/fakeintake/server/par_test.go
  test/fakeintake/server/server.go
  test/fakeintake/version/VERSION
  test/new-e2e/tests/privateactionrunner/identity.go
  test/new-e2e/tests/privateactionrunner/provisioner.go
  test/new-e2e/tests/privateactionrunner/rc_helpers.go
  test/new-e2e/tests/privateactionrunner/rshell_k8s_test.go
  test/regression/cases/quality_gate_private_action_runner/experiment.yaml
  test/regression/cases/quality_gate_private_action_runner/lading/lading.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

gazelle
  pkg/privateactionrunner/opms/BUILD.bazel
  pkg/privateactionrunner/task-verifier/BUILD.bazel
  test/fakeintake/server/BUILD.bazel
Due: none

fixing the offsets after rebase
  pkg/security/ebpf/probes/rawpacket/pcap.go
Due: copyright, go-mod-tidy

Split macOS-only corechecks into MACOS_CORECHECKS
  cmd/agent/dist/conf.d/BUILD.bazel
  cmd/agent/dist/core_checks.bzl
  tasks/agent.py
  tasks/core_checks.py
Due: none

corechecks/network: refresh config schema for AIX default
  pkg/config/schema/yaml/core_schema.yaml
Due: shell-check-no-set-x

less comments
  pkg/privateactionrunner/opms/opms.go
  pkg/privateactionrunner/opms/opms_test.go
  test/e2e-framework/components/datadog/agent/kubernetes_helm.go
  test/fakeintake/client/par.go
  test/fakeintake/server/par.go
  test/new-e2e/tests/privateactionrunner/identity.go
  test/new-e2e/tests/privateactionrunner/provisioner.go
  test/new-e2e/tests/privateactionrunner/rc_helpers.go
  test/new-e2e/tests/privateactionrunner/rshell_k8s_test.go
Due: copyright, go-mod-tidy

Keep battery and wlan in WINDOWS_CORECHECKS too
  cmd/agent/dist/core_checks.bzl
  tasks/core_checks.py
Due: none

chore: simplify comment
  pkg/collector/corechecks/net/networkv2/network.go
Due: copyright, go-mod-tidy

[datasecurity] add malloc trim
  pkg/collector/sharedlibrary/rustchecks/checks/datasecurity/src/check.rs
  pkg/collector/sharedlibrary/rustchecks/checks/datasecurity/src/config.rs
  pkg/collector/sharedlibrary/rustchecks/checks/datasecurity/src/scanning/mod.rs
Due: none

[anomalydetection] Interpolate top anomaly weights
  comp/anomalydetection/observer/impl/anomaly_scorer.go
  comp/anomalydetection/observer/impl/anomaly_scorer_test.go
Due: copyright, go-mod-tidy

fix(privileged-logs): use O_PATH for directory traversal in openPathWithoutSymlinks
  pkg/privileged-logs/module/open.go
  pkg/privileged-logs/module/open_test.go
Due: copyright, go-mod-tidy

get usm_debugger to build
  pkg/network/usm/debugger/cmd/BUILD.bazel
  pkg/network/usm/debugger/cmd/usm_debugger.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
