Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, gofmt, clang-format

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.3 # should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==20.1.4
        - flake8-unused-arguments==0.0.6
- repo: https://github.com/psf/black
  rev: 19.10b0
  hooks:
    - id: black
- repo: https://github.com/timothycrosley/isort/
  rev: 5.2.2
  hooks:
    - id: isort
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 2.1.1
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
      additional_dependencies: [] # Can be removed after this fix gets merged: https://github.com/jumanjihouse/pre-commit-hooks/pull/80
- repo: local
  hooks:
    - id: revive
      name: revive
      description: revive
      entry: 'python3 tasks/git-hooks/revive.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: gofmt
      name: gofmt
      description: go fmt
      entry: 'python3 tasks/git-hooks/gofmt.py'
      language: system
      files: \.go$
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 tasks/git-hooks/clang-format.py'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'

Add Handle interface for Windows driver handle testing
  pkg/network/dns/driver_windows.go
  pkg/network/driver/handle.go
  pkg/network/driver_interface.go
  pkg/network/driver_interface_fail_test.go
  pkg/network/driver_interface_test.go
  pkg/network/tracer/tracer_windows.go
Due: revive, govet, gofmt

Run `inv tidy-all`
  go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
Due: none

7.38.0 changelog (#12852)
  CHANGELOG.rst
Due: none

Update golangci-lint to 1.47.2
  internal/tools/go.mod
  internal/tools/go.sum
Due: none

CWS: do not generate an ID if not needed
  pkg/security/probe/activity_dump.go
Due: revive, govet, gofmt

deriveIDFromPtr
  pkg/security/probe/activity_dump_graph.go
Due: revive, govet, gofmt

remove NodeID from activity dump
  pkg/security/probe/activity_dump.go
  pkg/security/probe/activity_dump_graph.go
  pkg/security/probe/namespace_resolver_graph.go
Due: revive, govet, gofmt

CWS: add missing doc comment
  pkg/security/probe/activity_dump_graph.go
Due: revive, govet, gofmt

CWS: fix GraphID missing stringifier
  pkg/security/probe/activity_dump_graph.go
Due: revive, govet, gofmt

[DCA][Admission] Add autoinstrumentation
  cmd/cluster-agent/app/app.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1_test.go
  pkg/clusteragent/admission/metrics/metrics.go
  pkg/clusteragent/admission/mutate/auto_instru.go
  pkg/clusteragent/admission/mutate/auto_instru_test.go
  pkg/clusteragent/admission/mutate/common.go
  pkg/clusteragent/admission/mutate/test_utils.go
  pkg/config/config.go
Due: revive, govet, gofmt

Add e2e tests
  test/e2e/argo-workflows/templates/mutate-busybox.yaml
Due: none

Rename mount path + use the official java image
  pkg/clusteragent/admission/mutate/auto_instru.go
  pkg/clusteragent/admission/mutate/auto_instru_test.go
  test/e2e/argo-workflows/templates/mutate-busybox.yaml
Due: revive, govet, gofmt

s/auto_instru/auto_instrumentation/g
  cmd/cluster-agent/app/app.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1_test.go
  pkg/clusteragent/admission/mutate/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_test.go
  pkg/config/config.go
Due: revive, govet, gofmt

Implement node support
  pkg/clusteragent/admission/mutate/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_test.go
Due: revive, govet, gofmt

Unify cmd
  pkg/clusteragent/admission/mutate/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/auto_instrumentation_test.go
Due: revive, govet, gofmt

Avoid double scrubbing the inventory metadata payload
  cmd/agent/api/internal/agent/agent.go
Due: revive, govet, gofmt

[demultiplexer] use a separate serializer for the no-agg pipeline
  pkg/aggregator/demultiplexer_agent.go
Due: revive, govet, gofmt

Bump `github.com/docker/distribution` to `v2.8.1`
  pkg/trace/go.mod
  pkg/trace/go.sum
Due: none

fix GraphIDs
  pkg/security/probe/activity_dump_graph.go
Due: revive, govet, gofmt

populate exit time in exit events in user space
  pkg/security/probe/probe.go
  pkg/security/tests/process_test.go
  pkg/security/tests/schemas.go
  pkg/security/tests/schemas/exit.schema.json
Due: revive, govet, gofmt

[system-probe] report open connections on client-side before data transmission
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/tracer-maps.h
  pkg/network/ebpf/probes/probes.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/manager.go
  pkg/network/tracer/tracer_test.go
Due: revive, govet, gofmt, clang-format

fixup! [system-probe] report open connections on client-side before data transmission
  pkg/network/ebpf/c/prebuilt/tracer.c
Due: clang-format

fixup! use nil body for api key validation endpoint to make it work across all sites (#12629)
  pkg/network/ebpf/c/runtime/tracer.c
Due: clang-format

fixup! [system-probe] report open connections on client-side before data transmission
  pkg/network/ebpf/c/runtime/tracer.c
Due: clang-format

fixup! fixup! [system-probe] report open connections on client-side before data transmission
  pkg/network/ebpf/c/prebuilt/tracer.c
Due: clang-format

fixup! [system-probe] report open connections on client-side before data transmission
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/c/tracer-maps.h
  pkg/network/ebpf/probes/probes.go
  pkg/network/tracer/connection/kprobe/config.go
  pkg/network/tracer/connection/kprobe/manager.go
Due: revive, govet, gofmt, clang-format

fixup! fixup! fixup! [system-probe] report open connections on client-side before data transmission
  pkg/network/ebpf/c/runtime/tracer.c
Due: clang-format

fixup! [system-probe] report open connections on client-side before data transmission
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/ebpf/c/tracer-maps.h
  pkg/network/ebpf/probes/probes.go
Due: revive, govet, gofmt, clang-format

fixup! [system-probe] report open connections on client-side before data transmission
  pkg/network/tracer/tracer_test.go
Due: revive, govet, gofmt

CWS: delay id generation to graph generation. remove from tree (#12873)
  pkg/security/probe/activity_dump.go
  pkg/security/probe/activity_dump_graph.go
  pkg/security/probe/namespace_resolver_graph.go
Due: revive, govet, gofmt

fixed conflicts and copyrights
  go.mod
  go.sum
  pkg/network/go/dwarfutils/type_finder.go
  pkg/network/go/goid/internal/generate_goid_lut.go
  pkg/network/go/goid/internal/program.go
  pkg/network/go/goid/main.go
  pkg/network/go/lutgen/function.go
  pkg/network/go/lutgen/run.go
  pkg/network/go/lutgen/template.go
  pkg/network/go/rungo/install.go
  pkg/network/go/rungo/list.go
  pkg/network/go/rungo/matrix/matrix.go
Due: revive, govet, gofmt

Split edge structure
  pkg/security/probe/activity_dump_graph.go
  pkg/security/probe/namespace_resolver_graph.go
Due: revive, govet, gofmt

Reverse node derivation so that it's done only once (for sync guarantees)
  pkg/security/probe/activity_dump_graph.go
Due: revive, govet, gofmt
