Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Diagnose command only sends to softinv endpoint when it is enabled
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder.go
Due: copyright, go-mod-tidy

Increase timeout for ecs ec2 e2e tests
  test/new-e2e/tests/process/ecs_test.go
Due: copyright, go-mod-tidy

Follow existing component patterns more closely
  cmd/serverless-init/main.go
  comp/core/flare/flare_test.go
  comp/core/tagger/fx-mock/fx.go
  comp/core/telemetry/fx-full/fx.go
  comp/core/telemetry/fx-noop/fx.go
  comp/core/telemetry/impl-noop/go.mod
  comp/core/telemetry/impl-noop/go.sum
  comp/core/telemetry/impl-noop/telemetry.go
  comp/core/telemetry/impl/go.mod
  comp/core/telemetry/impl/telemetry.go
  comp/core/telemetry/impl/telemetry_mock.go
  comp/core/workloadfilter/fx-mock/fx.go
  comp/dogstatsd/replay/impl/writer_test.go
  comp/otelcol/otlp/components/processor/infraattributesprocessor/telemetry_noop.go
  comp/trace/config/config_test.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

remove flake marker for manual process check IO test
  test/new-e2e/tests/process/linux_test.go
Due: copyright, go-mod-tidy

we remove the tailer , so no need for dup check of rotatetailer
  pkg/logs/launchers/file/launcher.go
Due: copyright, go-mod-tidy

remove flake import
  test/new-e2e/tests/process/linux_test.go
Due: copyright, go-mod-tidy

Fix e2e tests for omitted metrics, omit events_sampled
  pkg/trace/info/stats.go
  test/new-e2e/tests/apm/tests.go
Due: copyright, go-mod-tidy

revert rocky 9.4 and amazon 5.4 bumps
  test/new-e2e/system-probe/config/platforms.json
Due: none

kmt: add ubuntu 25.04, eol 24.10
  .gitlab/kernel_matrix_testing/security_agent.yml
  .gitlab/kernel_matrix_testing/system_probe.yml
  test/new-e2e/system-probe/config/platforms.json
Due: shell-check-no-set-x, gitlab-configuration

allow more time for TestShortWrite
  pkg/network/tracer/tracer_linux_test.go
Due: copyright, go-mod-tidy

relax regexp for TestOOMKillProbe
  pkg/collector/corechecks/ebpf/probe/oomkill/oom_kill_test.go
Due: copyright, go-mod-tidy

regexp lint
  pkg/collector/corechecks/ebpf/probe/oomkill/oom_kill_test.go
Due: copyright, go-mod-tidy

adjust max ranges and use bpf_loop to pass test
  pkg/ebpf/c/lock_contention.c
  pkg/ebpf/lockcontention.go
Due: copyright, win-clang-format, go-mod-tidy

attempt at fixing older kernels
  pkg/ebpf/c/lock_contention.c
  pkg/ebpf/lockcontention.go
Due: copyright, win-clang-format, go-mod-tidy

Reapply "adjust max ranges and use bpf_loop to pass test"
  pkg/ebpf/c/lock_contention.c
  pkg/ebpf/lockcontention.go
Due: copyright, win-clang-format, go-mod-tidy

Revert "adjust max ranges and use bpf_loop to pass test"
  pkg/ebpf/c/lock_contention.c
  pkg/ebpf/lockcontention.go
Due: copyright, win-clang-format, go-mod-tidy

add tests
  test/new-e2e/tests/installer/windows/suites/apm-library-dotnet-package/install_script_test.go
Due: copyright, go-mod-tidy

[workloadfilter]: Refactor Filter Catalog (#41958)
  comp/core/workloadfilter/catalog/common.go
  comp/core/workloadfilter/catalog/container.go
  comp/core/workloadfilter/catalog/kube_endpoints.go
  comp/core/workloadfilter/catalog/kube_service.go
  comp/core/workloadfilter/catalog/pod.go
  comp/core/workloadfilter/catalog/utils.go
  comp/core/workloadfilter/catalog/utils_nocel.go
  comp/core/workloadfilter/catalog/utils_test.go
  comp/core/workloadfilter/def/types.go
  comp/core/workloadfilter/impl/filter.go
  comp/core/workloadfilter/impl/filter_test.go
  comp/core/workloadfilter/impl/filter_utils.go
  comp/core/workloadfilter/program/legacy_program.go
  comp/core/workloadfilter/program/program.go
  comp/core/workloadfilter/util/celprogram/create.go
  pkg/util/containers/filter.go
Due: copyright, go-mod-tidy

Start of protobuf form of the schema
  pkg/config/schema/fields.message
  pkg/config/schema/schema.proto
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy, protocol-buffer

Compile commands for protobuf
  pkg/config/processor/compile_it.sh
  pkg/config/schema/schema.proto
Due: shell-check-no-set-x, protocol-buffer

Compile the schema into bin format
  pkg/config/processor/compiler.py
  pkg/config/processor/schema_pb2.py
  pkg/config/schema/fields.message
Due: none

Run as a demo
  pkg/config/gen/fields.bin
  pkg/config/gen/result.go
  pkg/config/gen/schema.pb.go
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

Fix linting error
  test/new-e2e/tests/agent-platform/common/agent_behaviour.go
Due: copyright, go-mod-tidy

whoops fix unit test
  pkg/trace/info/stats_test.go
Due: copyright, go-mod-tidy

Clarify guidance for what belongs in //third_party/... (#42103)
  .github/CODEOWNERS
  third_party/README.md
  third_party/bazel/DATADOG.md
Due: none

Updates from PR comments
  pkg/collector/corechecks/system/disk/diskv2/disk_test.go
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

Fix error message in test
  pkg/config/structure/compatibility_test.go
Due: copyright, go-mod-tidy

clean refresh
  comp/core/secrets/impl/secrets.go
Due: copyright, go-mod-tidy

clean up tests
  pkg/logs/launchers/file/launcher_test.go
Due: copyright, go-mod-tidy

README explaining the prototype
  pkg/config/schema/README.md
Due: none

Removes now-unused telemetry noop serverless hack
  pkg/telemetry/telemetry_noop.go
Due: copyright, go-mod-tidy

Increase timeout for ecs ec2 e2e tests (#42109)
  test/new-e2e/tests/process/ecs_test.go
Due: copyright, go-mod-tidy

GetCompatComponent needs to return the full telemetry impl for network-tracer
  pkg/telemetry/telemetry.go
Due: copyright, go-mod-tidy

Create tool to generate module stanzas
  bazel/tools/BUILD.bazel
  bazel/tools/generate_module_bazel.bzl
  bazel/tools/generate_module_bazel.py
Due: none

[network path] update ip filter behaviour
  comp/networkpath/npcollector/npcollectorimpl/connfilter/connfilter.go
  comp/networkpath/npcollector/npcollectorimpl/connfilter/connfilter_test.go
  comp/networkpath/npcollector/npcollectorimpl/connfilter/defaultconnfilters.go
  comp/networkpath/npcollector/npcollectorimpl/connfilter/testutils_test.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
Due: copyright, go-mod-tidy

removing update install source custom action
  test/new-e2e/tests/installer/windows/suites/agent-package/upgrade_test.go
  tools/windows/DatadogAgentInstaller/AgentCustomActions/CustomAction.cs
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/CustomActions.Tests.csproj
  tools/windows/DatadogAgentInstaller/CustomActions.Tests/InstallSource/InstallSourceTests.cs
  tools/windows/DatadogAgentInstaller/CustomActions/CustomActions.csproj
  tools/windows/DatadogAgentInstaller/CustomActions/UpdateInstallSourceCustomAction.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog Agent/AgentCustomActions.cs
Due: copyright, go-mod-tidy

smp
  Dockerfiles/agent/entrypoint.d/installer
  Dockerfiles/agent/s6-services/installer/finish
  Dockerfiles/agent/s6-services/installer/run
Due: none

baseline
  cmd/installer/subcommands/daemon/run.go
Due: copyright, go-mod-tidy

refactor
  comp/networkpath/npcollector/npcollectorimpl/connfilter/connfilter_test.go
  comp/networkpath/npcollector/npcollectorimpl/connfilter/testutils_test.go
  comp/networkpath/npcollector/npcollectorimpl/npcollector.go
Due: copyright, go-mod-tidy

- use cwd to make it a little cleaner - update cert to 2025-09-09
  deps/cacerts/cacert.pem
  deps/cacerts/cacert.sha256
  omnibus/config/software/cacerts.rb
Due: none

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
