Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$

feat(default.go): add privkey and authkey in the scrubber
  pkg/util/scrubber/default.go
  pkg/util/scrubber/default_test.go
  pkg/util/scrubber/yaml_scrubber_test.go
Due: copyright, go-mod-tidy

Renamed for lint error
  go.mod
  pkg/util/kubernetes/apiserver/resourcetypes/mock/discoveryclient.go
Due: copyright, go-mod-tidy, check-go-modules-in-python

feat(default.go): Update github link for LastUpdated field
  pkg/util/scrubber/default.go
Due: copyright, go-mod-tidy

[build-macos-gitlabci] Build with new runner
  .gitlab/package_build/build_script.sh
  .gitlab/package_build/dmg.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

ensure the disk check folder is created
  tasks/agent.py
Due: none

feat(MQ): Grant merge permissions on release branches for agent-supply-chain (#32801)
  repository.datadog.yml
Due: shell-check-no-set-x

remove unrelated changes
  pkg/languagedetection/detector.go
  pkg/languagedetection/languagemodels/detector.go
  pkg/languagedetection/languagemodels/language.go
Due: copyright, go-mod-tidy

[EBPF] ebpfcheck: add occupation and occupation_increase map metrics (#33729)
  pkg/collector/corechecks/ebpf/ebpf.go
Due: copyright, go-mod-tidy

Revert "feat(MQ): Grant merge permissions on release branches for agent-supply-chain (#32801)"
  repository.datadog.yml
Due: shell-check-no-set-x

Revert "feat(MQ): Grant merge permissions on release branches for agent-supply-chain (#32801)" (#33747)
  repository.datadog.yml
Due: shell-check-no-set-x

Renamed mockdiscoveryclient
  pkg/collector/corechecks/cluster/kubernetesapiserver/events_common_test.go
  pkg/util/kubernetes/apiserver/resourcetypes/mock/discoveryclient.go
  pkg/util/kubernetes/apiserver/resourcetypes/resourcetypes_test.go
Due: copyright, go-mod-tidy

WIP
  tasks/google.py
Due: none

[netpath] Fix flake in e2e test (#33731)
  test/new-e2e/tests/netpath/network-path-integration/fake-traceroute/datadog_ttl.yaml
  test/new-e2e/tests/netpath/network-path-integration/fake_traceroute_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

Expose annotations after custom resources configured
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
Due: copyright, go-mod-tidy

Use scoped variables for globals
  pkg/security/rules/engine.go
  pkg/security/secl/compiler/eval/variables.go
  pkg/security/secl/model/model_windows.go
  pkg/security/secl/rules/policy_test.go
  pkg/security/secl/rules/ruleset.go
Due: copyright, go-mod-tidy

Reapply "feat(MQ): Grant merge permissions on release branches for agent-supply-chain (#32801)" (#33747)
  repository.datadog.yml
Due: shell-check-no-set-x

fix the configuration
  repository.datadog.yml
Due: shell-check-no-set-x

log collection on emr
  pkg/fleet/installer/setup/djm/dataproc.go
Due: copyright, go-mod-tidy

Move all logs config in 1 separate func
  pkg/fleet/installer/setup/djm/dataproc.go
Due: copyright, go-mod-tidy

fix log location
  pkg/fleet/installer/setup/djm/dataproc.go
Due: copyright, go-mod-tidy

feat(docker): gate metrics fixed
  .gitlab/functional_test/static_quality_gate.yml
  tasks/static_quality_gates/static_quality_gate_docker_agent_amd64.py
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

feat(linter): python
  tasks/static_quality_gates/static_quality_gate_docker_agent_amd64.py
Due: none

Remove CodeQL while it migrated to Gitlab
  .github/workflows/codeql-analysis.yml
Due: shell-check-no-set-x

[Windows][Fleet Automation] Hide package from control panel (#33188)
  pkg/fleet/installer/packages/datadog_agent_windows.go
  pkg/fleet/internal/msi/msiexec.go
Due: copyright, go-mod-tidy

feat(gitlab): not running static quality gates on merge queue
  .gitlab-ci.yml
  .gitlab/functional_test/static_quality_gate.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

update cobra.Command for inventory-otel diagnose cmd (#33713)
  cmd/agent/subcommands/diagnose/command.go
Due: copyright, go-mod-tidy

Apply suggestions from code review
  releasenotes/notes/decouple-admission-controller-webhooks-e75f98372d5edc01.yaml
Due: shell-check-no-set-x

remove typo in comment
  comp/trace/config/config.go
Due: copyright, go-mod-tidy

move reading memfd file to util/kernel
  pkg/collector/corechecks/servicediscovery/module/envs.go
  pkg/languagedetection/internal/detectors/injector.go
  pkg/util/kernel/proc.go
Due: copyright, go-mod-tidy

Add `privkey` and `authkey` in the scrubber (#33742)
  pkg/util/scrubber/default.go
  pkg/util/scrubber/default_test.go
  pkg/util/scrubber/yaml_scrubber_test.go
Due: copyright, go-mod-tidy

﻿Backport 33666 to 7.62.x
  releasenotes/notes/Ensure-IPC-perm-are-updated-ed0b55d227c2b271.yaml
  test/new-e2e/tests/windows/install-test/install_test.go
  tools/windows/DatadogAgentInstaller/CustomActions/CleanUpFilesCustomAction.cs
  tools/windows/DatadogAgentInstaller/CustomActions/ConfigCustomActions.cs
  tools/windows/DatadogAgentInstaller/CustomActions/ConfigureUserCustomActions.cs
  tools/windows/DatadogAgentInstaller/CustomActions/Extensions/SessionExtensions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog Agent/AgentCustomActions.cs
Due: copyright, go-mod-tidy, shell-check-no-set-x

Read 'datadog.' namespaced fields when mapping OTLP->DD span
  comp/trace/config/config_test.go
  comp/trace/config/setup.go
  pkg/config/config_template.yaml
  pkg/config/setup/otlp.go
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  pkg/trace/config/config.go
  pkg/trace/testutil/otlp.go
  pkg/trace/transform/transform.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix lint
  pkg/languagedetection/internal/detectors/injector.go
Due: copyright, go-mod-tidy

feat(Quality Gates): Add more docker image static quality gates
  tasks/static_quality_gates/lib/docker_agent_lib.py
  tasks/static_quality_gates/static_quality_gate_docker_agent_amd64.py
Due: none
