Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Fix teeconfig creating double updates
  pkg/config/teeconfig/teeconfig.go
Due: copyright, go-mod-tidy

transfer SQG unit test ownership to agent-build
  .github/CODEOWNERS
Due: none

[CWS] add a queue size limit bypassing the retry mechanism (#45442)
  pkg/config/setup/system_probe_cws.go
  pkg/security/config/config.go
  pkg/security/module/server.go
Due: copyright, go-mod-tidy

test serialization logic
  tasks/unit_tests/experimental_gates_tests.py
Due: none

fix: imports
  cmd/privateactionrunner/subcommands/run/command.go
Due: copyright, go-mod-tidy

Get caller frame once in json logger (#45489)
  pkg/util/log/setup/log_format.go
Due: copyright, go-mod-tidy

chore: update to tag version
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

feat: add a new mode for enhanced tool mcp
  q_branch/mcp-evaluation/mcp/internal/config/config.go
  q_branch/mcp-evaluation/mcp/internal/server/server.go
  q_branch/mcp-evaluation/mcp/internal/tools/files/filesystem.go
  q_branch/mcp-evaluation/mcp/internal/tools/files/find.go
  q_branch/mcp-evaluation/mcp/internal/tools/files/inodes.go
  q_branch/mcp-evaluation/mcp/internal/tools/files/list.go
  q_branch/mcp-evaluation/mcp/internal/tools/files/metadata.go
  q_branch/mcp-evaluation/mcp/internal/tools/kernel/modules.go
  q_branch/mcp-evaluation/mcp/internal/tools/kernel/parameters.go
  q_branch/mcp-evaluation/mcp/internal/tools/kernel/service.go
  q_branch/mcp-evaluation/mcp/internal/tools/logs/events.go
  q_branch/mcp-evaluation/mcp/internal/tools/logs/journal.go
  q_branch/mcp-evaluation/mcp/internal/tools/logs/kernel.go
  q_branch/mcp-evaluation/mcp/internal/tools/network/dns.go
  q_branch/mcp-evaluation/mcp/internal/tools/network/routes.go
  q_branch/mcp-evaluation/mcp/internal/tools/network/stats.go
  q_branch/mcp-evaluation/mcp/internal/tools/process/files.go
  q_branch/mcp-evaluation/mcp/internal/tools/process/limits.go
  q_branch/mcp-evaluation/mcp/internal/tools/process/threads.go
  q_branch/mcp-evaluation/mcp/internal/tools/process/tree.go
  q_branch/mcp-evaluation/mcp/internal/tools/system/load.go
  q_branch/mcp-evaluation/mcp/internal/tools/system/swap.go
  q_branch/mcp-evaluation/scripts/evaluate.py
Due: copyright, go-mod-tidy

add timezone in scenario metadata to avoid issue with relative timestamps
  q_branch/fine-grained-monitor/scenario.py
Due: none

adding payment-service scenario
  q_branch/fine-grained-monitor/scenarios/payment-service/README.md
  q_branch/fine-grained-monitor/scenarios/payment-service/deploy.yaml
  q_branch/fine-grained-monitor/scenarios/payment-service/load-generator/CUSTOMIZATION_PROMPT.md
  q_branch/fine-grained-monitor/scenarios/payment-service/load-generator/Dockerfile
  q_branch/fine-grained-monitor/scenarios/payment-service/load-generator/README.md
  q_branch/fine-grained-monitor/scenarios/payment-service/load-generator/icon.svg
  q_branch/fine-grained-monitor/scenarios/payment-service/load-generator/locustfile.py
  q_branch/fine-grained-monitor/scenarios/payment-service/load-generator/metadata.yaml
  q_branch/fine-grained-monitor/scenarios/payment-service/load-generator/people.json
  q_branch/fine-grained-monitor/scenarios/payment-service/load-generator/prompt.txt
  q_branch/fine-grained-monitor/scenarios/payment-service/load-generator/requirements.txt
  q_branch/fine-grained-monitor/scenarios/payment-service/load-generator/smoke.sh
  q_branch/fine-grained-monitor/scenarios/payment-service/load-generator/stats-test/go.mod
  q_branch/fine-grained-monitor/scenarios/payment-service/load-generator/stats-test/main.go
  q_branch/fine-grained-monitor/scenarios/payment-service/load-generator/test.sh
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/.gitignore
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/Dockerfile
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/ENHANCEMENT_PROMPT.md
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/IMPLEMENTATION_GUIDE.md
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/README.md
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/build.sh
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/config/config.go
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/docs/docs.go
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/docs/swagger.json
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/docs/swagger.yaml
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/go.mod
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/go.sum
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/main.go
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/smoke.sh
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/storage/s3.go
  q_branch/fine-grained-monitor/scenarios/payment-service/payment-service/test.sh
Due: copyright, go-mod-tidy, shell-check-no-set-x, check-go-modules-in-python, protocol-buffer

[ABLD-280] Fix freetds .so name and symlink to match omnibus. (#45450)
  deps/freetds/overlay/freetds.BUILD.bazel
Due: none

upgraded dd-otel-host dependency
  comp/host-profiler/collector/impl/receiver/config.go
  comp/host-profiler/collector/impl/receiver/config_test.go
  go.mod
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

Fix linter
  pkg/ebpf/uprobes/telemetry.go
Due: copyright, go-mod-tidy

more logging
  pkg/config/nodetreemodel/config.go
Due: copyright, go-mod-tidy

fix(tags): Increase hard-time limit on test (#45492)
  pkg/trace/containertags/buffer_test.go
Due: copyright, go-mod-tidy

[CWS] add config flag to control ssh user session resolution
  pkg/config/setup/system_probe_cws.go
  pkg/security/config/config.go
  pkg/security/module/server_linux.go
  pkg/security/probe/ssh_user_session.go
  pkg/security/resolvers/resolvers_ebpf.go
  pkg/security/resolvers/usersessions/resolver_linux.go
Due: copyright, go-mod-tidy

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

[CWS] Skip ssh session patcher
  pkg/security/module/server.go
Due: copyright, go-mod-tidy

delte unused file
  bazel/patches/gcc-toolchain/0004-fix-linker-flags.patch
Due: none

[CWS] fix config mock lifecycle around module tester (#45454)
  pkg/security/module/cws.go
  pkg/security/tests/module_tester_linux.go
  pkg/security/tests/module_tester_windows.go
Due: copyright, go-mod-tidy

[CWS] remove `SetCachedHostname` (#45458)
  pkg/eventmonitor/consumers/testutil/testutil.go
  pkg/security/utils/hostnameutils/hostname_testutil.go
Due: copyright, go-mod-tidy

[pkg/clusteragent/autoscaling/cluster] Emit events from cluster scaling controller (#45348)
  pkg/clusteragent/autoscaling/cluster/controller.go
  pkg/clusteragent/autoscaling/cluster/controller_test.go
  pkg/clusteragent/autoscaling/cluster/model/const.go
  pkg/clusteragent/autoscaling/cluster/model/node_pool_internal.go
  pkg/clusteragent/autoscaling/cluster/model/node_pool_internal_test.go
  pkg/collector/corechecks/cluster/kubernetesapiserver/kubernetes_apiserver.go
Due: copyright, go-mod-tidy

[SQG] Fix query that fetches metrics for failed gates (#45491)
  tasks/quality_gates.py
Due: none

Update the internal image templates the agent, cluster-agent and otel-agent
  .gitlab/deploy/internal_image_deploy/internal_image_deploy.yml
Due: shell-check-no-set-x, gitlab-configuration

Fix TestActionKillContainerWithSignature flakyness
  pkg/security/tests/action_test.go
Due: copyright, go-mod-tidy

Extend stack to 4 to include TeeConfig layer
  pkg/config/viperconfig/validate_basic.go
Due: copyright, go-mod-tidy

update todo
  test/new-e2e/tests/installer/windows/suites/apm-library-dotnet-package/msi_install_test.go
Due: copyright, go-mod-tidy

adjusting env vars and doc.go
  tasks/new_e2e_tests.py
  test/new-e2e/tests/installer/windows/doc.go
Due: copyright, go-mod-tidy

rename e2e folder
  test/new-e2e/tests/agent-configuration/sgc-embedded/fixtures/secrets.yaml
  test/new-e2e/tests/agent-configuration/sgc-embedded/sgc_aws_nix_test.go
  test/new-e2e/tests/agent-configuration/sgc-embedded/sgc_aws_win_test.go
  test/new-e2e/tests/agent-configuration/sgc-embedded/sgc_common_test.go
  test/new-e2e/tests/agent-configuration/sgc-embedded/sgc_nix_test.go
  test/new-e2e/tests/agent-configuration/sgc-embedded/sgc_win_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

feat: add lima-tools-plus vm config
  q_branch/mcp-evaluation/lima-tools-plus.yaml
Due: shell-check-no-set-x

rm readme
  cmd/secret-generic-connector/README.md
Due: none

Remove configRetrieveFromPath helper
  pkg/config/setup/config_test.go
Due: copyright, go-mod-tidy

Optimize Rust compression: remove 'thin' feature, add production-safe CPU targeting
  pkg/logs/sender/stream_strategy.go
  pkg/serializer/internal/metrics/iterable_series_v3.go
  pkg/serializer/serializer.go
  pkg/serializer/split/split.go
  pkg/util/compression/benchmark/benchmark_test.go
  pkg/util/compression/compression.go
  pkg/util/compression/impl-gzip/gzip_strategy.go
  pkg/util/compression/impl-noop/no_strategy.go
  pkg/util/compression/impl-rust/rust_strategy.go
  pkg/util/compression/impl-rust/rust_strategy_test.go
  pkg/util/compression/impl-zlib/zlib_strategy.go
  pkg/util/compression/impl-zstd-nocgo/zstd_nocgo_strategy.go
  pkg/util/compression/impl-zstd/zstd_strategy.go
  pkg/util/compression/rust/.cargo/config.toml
  pkg/util/compression/rust/Cargo.toml
  pkg/util/compression/rust/clippy.toml
  pkg/util/compression/rust/include/datadog_compression.h
  pkg/util/compression/rust/src/compressor.rs
  pkg/util/compression/rust/src/error.rs
  pkg/util/compression/rust/src/ffi.rs
  pkg/util/compression/rust/src/gzip_impl.rs
  pkg/util/compression/rust/src/lib.rs
  pkg/util/compression/rust/src/noop_impl.rs
  pkg/util/compression/rust/src/zlib_impl.rs
  pkg/util/compression/rust/src/zstd_impl.rs
  pkg/util/compression/selector/rust_test.go
Due: copyright, win-clang-format, go-mod-tidy

Fix teeconfig creating double updates (#45500)
  pkg/config/teeconfig/teeconfig.go
Due: copyright, go-mod-tidy

refactor(ssi): extract AutoProvider from factory for library injection (#45484)
  pkg/clusteragent/admission/mutate/autoinstrumentation/libraryinjection/auto.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/libraryinjection/factory.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/libraryinjection/factory_test.go
Due: copyright, go-mod-tidy

Fix TeeConfig wrapper
  pkg/config/teeconfig/teeconfig.go
Due: copyright, go-mod-tidy

lint: release note backticks
  releasenotes/notes/security-jetson-check-RCE-fix-65bd169fe4be28b8.yaml
Due: shell-check-no-set-x

renamed rc resolver tests consistently; moved util tests to util_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/imageresolver/resolver.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/imageresolver/resolver_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/imageresolver/util_test.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
