Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

copyright:
  name: copyright
  description: copyright headers
  entry: inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: inv tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

gitlab-lint-jobs-codeowners:
  name: gitlab-lint-jobs-codeowners
  description: lint the gitlab configuration to verify jobs codeowners
  entry: inv linter.gitlab-ci-jobs-codeowners
  language: system
  require_serial: true
  pass_filenames: false

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: inv modules.validate
  language: system
  pass_filenames: false

[build-macos-gitlabci] please build 15:35
  .gitlab/package_build/dmg.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[build-macos-gitlabci] please build 15:41
  .gitlab/package_build/build_script.sh
  .gitlab/package_build/builder_setup.sh
  .gitlab/package_build/dmg.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[build-macos-gitlabci] please build 15:44
  .gitlab/package_build/builder_setup.sh
Due: shell-check-no-set-x

feat(language_detection): add support for PHP (#33484)
  pkg/languagedetection/detector.go
  pkg/languagedetection/detector_nix_test.go
  pkg/languagedetection/languagemodels/language.go
  releasenotes/notes/language-detection-php-762044749e007343.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

adding fetch_ethtool_stats
  pkg/collector/corechecks/net/network/network.go
  pkg/collector/corechecks/net/network/network_test.go
Due: copyright, go-mod-tidy

[build-macos-gitlabci] please build 15:47
  .gitlab/package_build/builder_setup.sh
Due: shell-check-no-set-x

[CWS] Snapshot and replay bind events (#33265)
  pkg/security/probe/probe_ebpf.go
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/resolvers/resolvers_ebpf.go
  pkg/security/secl/model/model_unix.go
  pkg/security/security_profile/activity_tree/process_node_snapshot.go
  pkg/security/utils/snapshot_bound_sockets.go
Due: copyright, go-mod-tidy

Fix compliance test with new wording
  test/new-e2e/tests/fips-compliance/fips_nix_test.go
Due: copyright, go-mod-tidy

only config_id
  comp/haagent/impl/haagent.go
  comp/haagent/impl/haagent_comp.go
  comp/haagent/impl/haagent_test.go
  comp/haagent/impl/haagent_testutils_test.go
  comp/haagent/mock/mock.go
  comp/metadata/bundle_test.go
  comp/metadata/inventoryagent/README.md
  comp/metadata/inventoryagent/inventoryagentimpl/mock.go
  pkg/aggregator/aggregator_test.go
Due: copyright, go-mod-tidy

[build-macos-gitlabci] please build 15:55
  .gitlab/package_build/builder_setup.sh
Due: shell-check-no-set-x

lint
  pkg/collector/corechecks/net/network/network.go
Due: copyright, go-mod-tidy

Update opentelemetry-mapping-go to v0.25.0
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.mod
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.sum
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.sum
  comp/otelcol/otlp/components/statsprocessor/go.mod
  comp/otelcol/otlp/components/statsprocessor/go.sum
  comp/otelcol/otlp/testutil/go.mod
  comp/otelcol/otlp/testutil/go.sum
  comp/trace/agent/def/go.mod
  comp/trace/agent/def/go.sum
  go.mod
  go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
  pkg/trace/stats/oteltest/go.mod
  pkg/trace/stats/oteltest/go.sum
  test/otel/go.mod
  test/otel/go.sum
Due: go-mod-tidy, check-go-modules-in-python

fix libdb build
  deps/libdb/patches/0002-fix-configure-checks.patch
  deps/repos.MODULE.bazel
Due: none

wip attr
  deps/attr/BUILD.bazel
Due: none

not catching ethtool error for now
  pkg/collector/corechecks/net/network/network.go
Due: copyright, go-mod-tidy

inv tidy
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.mod
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.sum
  comp/otelcol/otlp/components/exporter/serializerexporter/go.sum
  comp/otelcol/otlp/components/statsprocessor/go.mod
  comp/otelcol/otlp/components/statsprocessor/go.sum
  comp/otelcol/otlp/testutil/go.mod
  comp/otelcol/otlp/testutil/go.sum
  comp/trace/agent/def/go.mod
  comp/trace/agent/def/go.sum
  go.sum
  pkg/metrics/go.mod
  pkg/metrics/go.sum
  pkg/serializer/go.mod
  pkg/serializer/go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
  pkg/trace/stats/oteltest/go.mod
  pkg/trace/stats/oteltest/go.sum
  test/otel/go.sum
Due: go-mod-tidy, check-go-modules-in-python

WIP
  tasks/unit_tests/quality_gates_tests.py
Due: none

discovery: move process scanning to system-probe (#32128)
  pkg/collector/corechecks/servicediscovery/events.go
  pkg/collector/corechecks/servicediscovery/events_test.go
  pkg/collector/corechecks/servicediscovery/impl_linux.go
  pkg/collector/corechecks/servicediscovery/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/model/model.go
  pkg/collector/corechecks/servicediscovery/module/comm_test.go
  pkg/collector/corechecks/servicediscovery/module/config_test.go
  pkg/collector/corechecks/servicediscovery/module/ignore_proc_test.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux.go
  pkg/collector/corechecks/servicediscovery/module/impl_linux_test.go
  pkg/collector/corechecks/servicediscovery/servicediscovery.go
  pkg/collector/corechecks/servicediscovery/servicediscovery_mock.go
  test/new-e2e/tests/discovery/linux_test.go
Due: copyright, go-mod-tidy

feat(buildenv): generate bump PR on rc only
  .gitlab/trigger_release/trigger_release.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[CWS] Add inet_bind return probes
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/flow.go
Due: copyright, go-mod-tidy

Fix test
  pkg/clusteragent/admission/mutate/autoinstrumentation/config_test.go
Due: copyright, go-mod-tidy

fix libattr build
  deps/libacl/BUILD.bazel
  deps/libattr/BUILD.bazel
  deps/openscap/BUILD.bazel
  deps/repos.MODULE.bazel
Due: none

fix libacl build
  deps/libacl/BUILD.bazel
Due: none

Fix typo
  comp/dogstatsd/listeners/uds_common.go
Due: copyright, go-mod-tidy

dogstatsd: proper comment on closing the read part of the socket
  comp/dogstatsd/listeners/connections_tracker.go
Due: copyright, go-mod-tidy

limit size of gopacket.SerializeBuffer
  pkg/networkpath/traceroute/icmp/tcp_parser.go
  pkg/networkpath/traceroute/icmp/udp_parser.go
  pkg/networkpath/traceroute/tcp/tcpv4.go
  pkg/networkpath/traceroute/udp/udpv4.go
Due: copyright, go-mod-tidy

Do not import model package from utils package
  pkg/security/probe/procfs/snapshot_bound_sockets.go
  pkg/security/resolvers/resolvers_ebpf.go
  pkg/security/security_profile/activity_tree/process_node_snapshot.go
Due: copyright, go-mod-tidy

use cached message in multiline handler
  pkg/logs/internal/decoder/multiline_handler.go
Due: copyright, go-mod-tidy

feat(unit-tests): TestOnDiskImageSizeCalculation
  tasks/unit_tests/quality_gates_tests.py
Due: none

Lint fix
  comp/languagedetection/client/clientimpl/client_test.go
  comp/languagedetection/client/clientimpl/util.go
Due: copyright, go-mod-tidy

[build-macos-gitlabci] please build 17:12
  .gitlab/package_build/dmg.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[build-macos-gitlabci] please build 17:19
  .gitlab/package_build/dmg.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[build-macos-gitlabci] please build 17:23
  .gitlab/package_build/dmg.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

PR feedback - update the builder config
  test/otel/testdata/builder-config.yaml
Due: shell-check-no-set-x

[build-macos-gitlabci] please build 17:26
  .gitlab/package_build/dmg.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Update last_stable to 7.62.0
  release.json
Due: none

[CSPM] first try to resolve the hostname from the core agent (#33523)
  cmd/security-agent/subcommands/check/command.go
Due: copyright, go-mod-tidy

Fix linting errors and imports
  cmd/cluster-agent/subcommands/start/command.go
  pkg/clusteragent/autoscaling/max_heap.go
  pkg/clusteragent/autoscaling/workload/config_retriever.go
  pkg/clusteragent/autoscaling/workload/config_retriever_test.go
  pkg/clusteragent/autoscaling/workload/pod_patcher.go
  pkg/clusteragent/autoscaling/workload/pod_patcher_test.go
  pkg/clusteragent/autoscaling/workload/pod_watcher.go
  pkg/clusteragent/autoscaling/workload/provider/doc.go
  pkg/clusteragent/autoscaling/workload/provider/provider.go
Due: copyright, go-mod-tidy

init comp/metadata/inventoryhaagent
  comp/metadata/inventoryhaagent/README.md
  comp/metadata/inventoryhaagent/component.go
  comp/metadata/inventoryhaagent/component_mock.go
  comp/metadata/inventoryhaagent/inventoryhaagentlimpl/configuration.go
  comp/metadata/inventoryhaagent/inventoryhaagentlimpl/dummy_data/response.json
  comp/metadata/inventoryhaagent/inventoryhaagentlimpl/inventoryhaagent.go
  comp/metadata/inventoryhaagent/inventoryhaagentlimpl/inventoryhaagent_test.go
  comp/metadata/inventoryhaagent/inventoryhaagentlimpl/mock.go
  comp/metadata/inventoryhaagent/inventoryhaagentlimpl/status.go
  comp/metadata/inventoryhaagent/inventoryhaagentlimpl/status_templates/inventory.tmpl
  comp/metadata/inventoryhaagent/inventoryhaagentlimpl/status_templates/inventoryHTML.tmpl
Due: copyright, go-mod-tidy

Updated CODEOWNERS with new agent-discovery team
  .ddqa/config.toml
  .github/CODEOWNERS
  tasks/libs/issue/model/constants.py
  tasks/libs/pipeline/github_jira_map.yaml
  tasks/libs/pipeline/github_slack_map.yaml
  tasks/libs/pipeline/github_slack_review_map.yaml
Due: shell-check-no-set-x

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$
