Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

fix
  pkg/privateactionrunner/enrollment/enrollment.go
Due: copyright, go-mod-tidy

Changelog updates for 7.78.0 release
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

fix(healthplatform): address Codex P1/P2 review comments
  comp/healthplatform/BUILD.bazel
  comp/healthplatform/bundle.go
  comp/healthplatform/checkrunner/impl/BUILD.bazel
  comp/healthplatform/checkrunner/mock/BUILD.bazel
  comp/healthplatform/core/impl/BUILD.bazel
  comp/healthplatform/core/impl/health-platform.go
  comp/healthplatform/forwarder/impl/BUILD.bazel
  comp/healthplatform/forwarder/mock/BUILD.bazel
Due: copyright, go-mod-tidy

[SINT-5112] Use new docker-credentials-helper token (#49638)
  .gitlab/windows/deploy/container_build/windows.yml
Due: shell-check-no-set-x, gitlab-configuration

fix(otlp/metrics): guard against panic on malformed histogram
  pkg/opentelemetry-mapping-go/otlp/metrics/default_mapper.go
  pkg/opentelemetry-mapping-go/otlp/metrics/metrics_translator_test.go
  pkg/opentelemetry-mapping-go/otlp/metrics/test/otlp/hist/simple-delta-non-monotonic-bound.json
  releasenotes/notes/fix-otlp-histogram-bounds-panic-55a9842ce0a5442f.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

test(otlp/metrics): cover counts < bounds+1 in malformed histogram test
  pkg/opentelemetry-mapping-go/otlp/metrics/metrics_translator_test.go
Due: copyright, go-mod-tidy

fix(otlp/metrics): make getLegacyBuckets return an error on malformed histogram
  pkg/opentelemetry-mapping-go/otlp/metrics/default_mapper.go
  pkg/opentelemetry-mapping-go/otlp/metrics/metrics_translator_test.go
Due: copyright, go-mod-tidy

fix(healthplatform): manually apply CI gazelle BUILD changes
  comp/healthplatform/BUILD.bazel
  comp/healthplatform/checkrunner/impl/BUILD.bazel
  comp/healthplatform/checkrunner/mock/BUILD.bazel
  comp/healthplatform/core/impl/BUILD.bazel
  comp/healthplatform/forwarder/impl/BUILD.bazel
  comp/healthplatform/forwarder/mock/BUILD.bazel
  comp/healthplatform/noop-impl/BUILD.bazel
Due: none

test(fleet-e2e): fire-and-forget stop in ResetConfigExperiment to avoid 7.5-min daemon-restart wait
  test/new-e2e/tests/fleet/backend/backend.go
Due: copyright, go-mod-tidy

Add metric specification
  pkg/collector/corechecks/gpu/spec/gpu_metrics.yaml
Due: shell-check-no-set-x

Add GetSramEccError Status
  pkg/gpu/safenvml/device.go
  pkg/gpu/safenvml/device_impl.go
  pkg/gpu/safenvml/lib.go
Due: copyright, go-mod-tidy

move the test k8s cluster dump and ssh function to infra package (#48951)
  test/e2e-framework/common/config/environment.go
  test/e2e-framework/resources/gcp/compute/vm.go
  test/e2e-framework/scenarios/gcp/compute/vm.go
  test/e2e-framework/scenarios/gcp/compute/vmargs.go
  test/e2e-framework/testing/e2e/suite.go
  test/e2e-framework/testing/provisioners/aws/kubernetes/kubernetes_dump.go
  test/e2e-framework/testing/provisioners/pulumi_provisioner.go
  test/e2e-framework/testing/utils/k8s/k8s.go
  test/e2e-framework/testing/utils/ssh/ssh.go
Due: copyright, go-mod-tidy

Implement error status
  pkg/collector/corechecks/gpu/nvidia/stateless.go
  pkg/collector/corechecks/gpu/nvidia/stateless_test.go
  pkg/gpu/testutil/mocks.go
Due: copyright, go-mod-tidy

fix: restore context import and fix test compilation in checkrunner
  comp/healthplatform/checkrunner/impl/check_runner.go
  comp/healthplatform/checkrunner/impl/check_runner_test.go
Due: copyright, go-mod-tidy

fix(healthplatform): fix import paths and test compilation issues
  comp/healthplatform/BUILD.bazel
  comp/healthplatform/core/impl/BUILD.bazel
  comp/healthplatform/core/impl/health-platform.go
  comp/healthplatform/forwarder/impl/forwarder.go
  comp/healthplatform/forwarder/impl/forwarder_test.go
  comp/healthplatform/noop-impl/BUILD.bazel
  comp/healthplatform/noop-impl/health_platform_noop.go
Due: copyright, go-mod-tidy

fix(bazel): add missing BUILD.bazel for comp/process/status/def
  comp/process/status/def/BUILD.bazel
Due: none

remove file_tree experiment
  test/regression/cases/file_tree/datadog-agent/datadog.yaml
  test/regression/cases/file_tree/datadog-agent/system-probe.yaml
  test/regression/cases/file_tree/experiment.yaml
  test/regression/cases/file_tree/lading/lading.yaml
Due: shell-check-no-set-x

fix(healthplatform): remove unresolvable Bazel test rules and fix test
  comp/healthplatform/BUILD.bazel
  comp/healthplatform/core/impl/BUILD.bazel
  comp/healthplatform/forwarder/impl/forwarder_test.go
Due: copyright, go-mod-tidy

[ACTP] PAR: intersect rshell allow-lists with datadog.yaml (#49536)
  pkg/config/setup/privateactionrunner.go
  pkg/config/setup/privateactionrunner_test.go
  pkg/privateactionrunner/adapters/config/config_adapter.go
  pkg/privateactionrunner/adapters/config/transform.go
  pkg/privateactionrunner/adapters/config/transform_test.go
  pkg/privateactionrunner/bundles/registry.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/entrypoint.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command_test.go
  test/new-e2e/tests/privateactionrunner/rshell_k8s_test.go
Due: copyright, go-mod-tidy

[EBPF] gpu: add metric type validation (#49595)
  pkg/collector/corechecks/gpu/spec/spec.go
  pkg/collector/corechecks/gpu/spec/spec_test.go
  pkg/collector/corechecks/gpu/spec/validation.go
  pkg/collector/corechecks/gpu/spec/validation_test.go
  pkg/collector/corechecks/gpu/testutil.go
Due: copyright, go-mod-tidy

Wire real DogStatsD client into Private Action Runner metrics
  cmd/cluster-agent/subcommands/start/command.go
  cmd/privateactionrunner/subcommands/run/command.go
  comp/privateactionrunner/impl/privateactionrunner.go
  pkg/privateactionrunner/adapters/config/transform.go
  pkg/privateactionrunner/adapters/config/transform_test.go
Due: copyright, go-mod-tidy

[clusteragent/autoscaling] Add pod collection gate
  pkg/clusteragent/autoscaling/podcollectiongate/gate.go
  pkg/clusteragent/autoscaling/podcollectiongate/gate_test.go
Due: copyright, go-mod-tidy

[clusteragent/autoscaling/workload] Enable pod collection gate on first DPA
  cmd/cluster-agent/subcommands/start/command.go
  pkg/clusteragent/autoscaling/workload/controller.go
  pkg/clusteragent/autoscaling/workload/controller_test.go
  pkg/clusteragent/autoscaling/workload/provider/provider.go
Due: copyright, go-mod-tidy

[workloadmeta/kubeapiserver] Use gate to start pod collection lazily
  comp/core/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver_test.go
Due: copyright, go-mod-tidy

Initial implementation of FEC metrics
  pkg/collector/corechecks/gpu/gpu.go
  pkg/collector/corechecks/gpu/gpu_test.go
  pkg/collector/corechecks/gpu/nvidia/nvlink.go
  pkg/collector/corechecks/gpu/nvidia/nvlink_test.go
  pkg/collector/corechecks/gpu/nvidia/types.go
  pkg/collector/corechecks/gpu/spec/architectures.yaml
  pkg/collector/corechecks/gpu/spec/gpu_metrics.yaml
  pkg/collector/corechecks/gpu/spec/testutil.go
  pkg/collector/corechecks/gpu/testutil.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

Changelog updates for 7.78.1 release
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

fix(healthplatform): fix test imports to use current telemetry package paths
  comp/healthplatform/BUILD.bazel
  comp/healthplatform/bundle_test.go
  comp/healthplatform/core/impl/BUILD.bazel
  comp/healthplatform/core/impl/health-platform_test.go
Due: copyright, go-mod-tidy

Add initial_snapshot_complete flag to StreamTagsResponse
  comp/core/tagger/impl-remote/remote.go
  comp/core/tagger/server/server.go
  comp/core/workloadmeta/server/server.go
  pkg/proto/datadog/model/v1/model.proto
  pkg/proto/pbgo/core/model.pb.go
  pkg/util/grpc/chunks.go
Due: copyright, go-mod-tidy, protocol-buffer

[CONTINT] dump openshift cluster state on e2e test failure
  test/e2e-framework/go.mod
  test/e2e-framework/go.sum
  test/e2e-framework/testing/provisioners/gcp/kubernetes/kubernetes_dump.go
  test/e2e-framework/testing/provisioners/gcp/kubernetes/openshiftvm/openshiftvm.go
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

update to head
  MODULE.bazel.lock
  test/e2e-framework/testing/utils/k8s/BUILD.bazel
  test/e2e-framework/testing/utils/ssh/BUILD.bazel
Due: none

Normalize stringer directives
  pkg/gpu/cuda/cubin.go
  pkg/gpu/cuda/fatbin.go
  pkg/gpu/ebpf/kprobe_types.go
  pkg/network/event_common.go
  pkg/security/secl/model/model.go
  pkg/security/seclwin/model/model.go
  tasks/security_agent.py
Due: copyright, go-mod-tidy

Regenerate stringer outputs with go.mod-pinned v0.44.0
  pkg/gpu/cuda/cubin_string.go
  pkg/gpu/cuda/fatbin_string.go
  pkg/gpu/ebpf/kprobe_types_string_linux.go
  pkg/network/event_common_string.go
Due: copyright, go-mod-tidy

refactor(process): migrate connectionscheck component to v2 (#48539)
  comp/process/bundle.go
  comp/process/connectionscheck/def/component.go
  comp/process/connectionscheck/fx/fx.go
  comp/process/connectionscheck/impl/check.go
  comp/process/connectionscheck/impl/check_darwin_test.go
  comp/process/connectionscheck/impl/check_test.go
Due: copyright, go-mod-tidy

fix(healthplatform): use internal Bazel paths for telemetry test deps
  comp/healthplatform/BUILD.bazel
  comp/healthplatform/core/impl/BUILD.bazel
Due: none

[NDM] Add metric origins for Cisco SD-WAN and Versa (#49467)
  pkg/metrics/metricsource.go
  pkg/serializer/internal/metrics/origin_mapping.go
  releasenotes/notes/add-metrics-origins-cisco-sdwan-versa-48014aa789cbed59.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

add logs in case of failure
  pkg/privateactionrunner/adapters/config/transform.go
Due: copyright, go-mod-tidy

Bump rshell to 0.0.13 (#49623)
  LICENSE-3rdparty.csv
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

[OTAGENT-1013] Guard against panic on malformed histogram (#49637)
  pkg/opentelemetry-mapping-go/otlp/metrics/default_mapper.go
  pkg/opentelemetry-mapping-go/otlp/metrics/metrics_translator_test.go
  pkg/opentelemetry-mapping-go/otlp/metrics/test/otlp/hist/simple-delta-non-monotonic-bound.json
  releasenotes/notes/fix-otlp-histogram-bounds-panic-55a9842ce0a5442f.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(healthplatform): fix bad telemetry imports and BUILD sort order
  cmd/serverless-init/main.go
  comp/healthplatform/BUILD.bazel
  comp/healthplatform/core/impl/BUILD.bazel
  pkg/collector/check/stats/stats_test.go
Due: copyright, go-mod-tidy

fix(assign-issue): Enable triage workflow for issues from external contributors (#49650)
  .github/workflows/assign-issue-triage.yml
Due: shell-check-no-set-x
