Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Lint
  comp/core/autodiscovery/impl/configmgr.go
  comp/core/autodiscovery/impl/configmgr_discovery.go
Due: copyright, go-mod-tidy

Add check metric lookback ringbuffer (#51987)
  cmd/agent/subcommands/run/command_windows.go
  pkg/collector/metriclookback/lookbacksender/sender_test.go
  pkg/collector/metriclookback/ringbuffer/BUILD.bazel
  pkg/collector/metriclookback/ringbuffer/buffer.go
  pkg/collector/metriclookback/ringbuffer/buffer_test.go
Due: copyright, go-mod-tidy

Update codeql_scan.yml
  .gitlab/build/source_test/codeql_scan.yml
Due: shell-check-no-set-x, gitlab-configuration

Add full-classification histogram; make shadow scalars absolute
  pkg/network/ebpf/c/protocols/classification/defs.h
  pkg/network/ebpf/c/protocols/classification/protocol-classification.h
  pkg/network/ebpf/c/tracer/telemetry.h
  pkg/network/ebpf/c/tracer/tracer.h
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/tracer/connection/ebpf_tracer.go
Due: copyright, win-clang-format, go-mod-tidy

Optimize Agent Sandbox Stage A startup
  tasks/agent_sandbox.py
  tasks/libs/agent_sandbox/manager.py
  tasks/unit_tests/agent_sandbox_tests.py
Due: none

metriclookback: wire ring buffer to the lookback shadow sender by default
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_lookback_test.go
  pkg/config/setup/common_settings.go
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

metriclookback: add 'agent metric-lookback-dump' command
  cmd/agent/subcommands/lookbackdump/command.go
  cmd/agent/subcommands/subcommands.go
  comp/aggregator/demultiplexerendpoint/impl/endpoint.go
  comp/aggregator/demultiplexerendpoint/impl/endpoint_test.go
  pkg/aggregator/demultiplexer_agent.go
Due: copyright, go-mod-tidy

metriclookback: dump retained samples through the serializer
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/lookback_dump_test.go
  pkg/collector/metriclookback/ringbuffer/BUILD.bazel
  pkg/collector/metriclookback/ringbuffer/buffer.go
  pkg/collector/metriclookback/ringbuffer/buffer_test.go
Due: copyright, go-mod-tidy

metriclookback: update core tests for config SetInTest
  pkg/aggregator/demultiplexer_lookback_test.go
Due: copyright, go-mod-tidy

metriclookback: add bazel targets for core lookback changes
  cmd/agent/subcommands/lookbackdump/BUILD.bazel
  pkg/aggregator/BUILD.bazel
Due: none

metriclookback: align dump series metadata
  pkg/collector/metriclookback/ringbuffer/buffer.go
  pkg/collector/metriclookback/ringbuffer/buffer_test.go
Due: copyright, go-mod-tidy

metriclookback: add lookback dump command test
  cmd/agent/subcommands/lookbackdump/BUILD.bazel
  cmd/agent/subcommands/lookbackdump/command_test.go
Due: copyright, go-mod-tidy

Harden Agent Sandbox installer readiness
  tasks/libs/agent_sandbox/manager.py
Due: none

Use process IO stats as ai-usage evidence, removed title matching as it's unreliable
  cmd/ai_prompt_logger/Cargo.toml
  cmd/ai_prompt_logger/README.md
  cmd/ai_prompt_logger/ai_usage_native_host.yaml.example
  cmd/ai_prompt_logger/src/datadog.rs
  cmd/ai_prompt_logger/src/desktop/macos.rs
  cmd/ai_prompt_logger/src/desktop/matcher.rs
  cmd/ai_prompt_logger/src/desktop/mod.rs
  cmd/ai_prompt_logger/src/desktop/windows.rs
Due: none

metriclookback: keep lookback disabled by default
  pkg/aggregator/demultiplexer_lookback_test.go
  pkg/config/setup/common_settings.go
Due: copyright, go-mod-tidy

metriclookback: align dump metric types with plan
  pkg/collector/metriclookback/ringbuffer/buffer.go
  pkg/collector/metriclookback/ringbuffer/buffer_test.go
Due: copyright, go-mod-tidy

add go tracing for windows e2e
  pkg/util/winutil/servicemain/servicemain.go
  pkg/util/winutil/servicemain/startuptrace.go
  test/new-e2e/tests/windows/service-test/startstop_test.go
Due: copyright, go-mod-tidy

add startuptrace.go to servicemain bazel srcs
  pkg/util/winutil/servicemain/BUILD.bazel
Due: none

[go migration] Migrate leaf dependencies of system-probe.
  BUILD.bazel
  cmd/system-probe/subcommands/ebpf/BUILD.bazel
  comp/core/workloadmeta/collectors/catalog-remote/BUILD.bazel
  comp/core/workloadmeta/collectors/internal/remote/workloadmeta/BUILD.bazel
  comp/core/workloadmeta/fx/BUILD.bazel
  comp/networkpath/npcollector/fx/BUILD.bazel
  comp/networkpath/npcollector/impl/BUILD.bazel
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/BUILD.bazel
  pkg/ebpf/telemetry/BUILD.bazel
  pkg/languagedetection/BUILD.bazel
  pkg/languagedetection/privileged/BUILD.bazel
  pkg/network/config/BUILD.bazel
  pkg/network/ebpf/BUILD.bazel
  pkg/network/protocols/http/gotls/BUILD.bazel
  pkg/network/protocols/postgres/ebpf/BUILD.bazel
  pkg/network/protocols/tls/BUILD.bazel
  pkg/network/tracer/offsetguess/BUILD.bazel
  pkg/network/usm/testutil/BUILD.bazel
  pkg/security/config/BUILD.bazel
  pkg/security/probe/eventstream/BUILD.bazel
  pkg/security/probe/eventstream/reorderer/BUILD.bazel
  pkg/security/probe/eventstream/ringbuffer/BUILD.bazel
  pkg/security/security_profile/BUILD.bazel
  pkg/security/security_profile/storage/BUILD.bazel
  pkg/security/security_profile/storage/backend/BUILD.bazel
  pkg/system-probe/api/module/BUILD.bazel
Due: none

fixed Windows module path
  cmd/ai_prompt_logger/Cargo.toml
  cmd/ai_prompt_logger/src/desktop/windows.rs
Due: none

missing dep
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/BUILD.bazel
Due: none

revert too agressive
  BUILD.bazel
  pkg/collector/corechecks/ebpf/probe/ebpfcheck/BUILD.bazel
  pkg/network/config/BUILD.bazel
  pkg/network/protocols/postgres/ebpf/BUILD.bazel
  pkg/network/tracer/offsetguess/BUILD.bazel
  pkg/security/security_profile/BUILD.bazel
Due: none

metriclookback: use check source type for dumps
  pkg/collector/metriclookback/ringbuffer/buffer.go
  pkg/collector/metriclookback/ringbuffer/buffer_test.go
Due: copyright, go-mod-tidy

rvert gotls
  pkg/network/protocols/http/gotls/BUILD.bazel
Due: none

[ABLD-430] PoC job to migrate unit tests to hybrid bazel/go test strategy. (#51609)
  .gitlab/build/source_test/linux.yml
  tasks/gotest.py
Due: shell-check-no-set-x, gitlab-configuration

removed StandardOutPath and StandardErrorPath from plist
  cmd/ai_prompt_logger/com.datadoghq.ai-prompt-logger.desktop-monitor.plist.example
Due: none

one desktop monitor instance per login user
  cmd/ai_prompt_logger/Cargo.toml
  cmd/ai_prompt_logger/src/main.rs
  tools/windows/DatadogAgentInstaller/CustomActions/AiUsageDesktopMonitorCustomAction.cs
Due: none

ensure desktop monitor task starts after registration on Windows
  tools/windows/DatadogAgentInstaller/CustomActions/AiUsageDesktopMonitorCustomAction.cs
Due: none

[Backport 7.80.x] Reapply "Update dependency linux-images to v114075546" (#51125) (#51136) (#52262)
  .gitlab/.pre/deps_fetch/deps_fetch.yml
  docs/public/.hooks/inject_variables.py
  omnibus/lib/project_extension.rb
  tasks/kmt.py
Due: shell-check-no-set-x, gitlab-configuration

added terminal-host foreground process-group gate so active AI processes in background terminal tabs do not trigger hosted AI usage detections
  cmd/ai_prompt_logger/src/desktop/matcher.rs
Due: none

Disable v3beta shadow in otel-agent (#52138) (#52243)
  cmd/otel-agent/config/agent_config.go
  comp/otelcol/otlp/components/exporter/serializerexporter/serializer.go
  releasenotes/notes/otel-agent-shadow-v3-6b39c3c08b7cf373.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Set DDOT standalone image to use otel-agent as entry point
  Dockerfiles/otel-agent/Dockerfile
Due: shell-check-no-set-x

gazelle
  comp/core/autodiscovery/impl/BUILD.bazel
Due: none

Align with ddot-ebpf image
  Dockerfiles/otel-agent/Dockerfile
Due: shell-check-no-set-x

Fix discovery test panic on non-python flavors
  comp/core/autodiscovery/impl/configmgr_discovery_test.go
Due: copyright, go-mod-tidy

refactor(healthplatform): replace EgressCallbacks channel with IssueObserver
  comp/healthplatform/egress/impl/egress.go
  comp/healthplatform/egress/impl/egress_test.go
  comp/healthplatform/noop-impl/health_platform_noop.go
  comp/healthplatform/runner/impl/runner_test.go
  comp/healthplatform/scheduler/impl/scheduler_test.go
  comp/healthplatform/store/def/component.go
  comp/healthplatform/store/impl/store.go
  comp/healthplatform/store/impl/store_test.go
  comp/healthplatform/store/mock/mock.go
  comp/healthplatform/store/noop-impl/noop.go
Due: copyright, go-mod-tidy

inv tidy
  tasks/agent_payload_version.bzl
Due: none

trim comments
  comp/healthplatform/egress/impl/egress.go
  comp/healthplatform/store/def/component.go
  comp/healthplatform/store/impl/store.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
