Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

Expose discovery_service_map_enabled in Windows tracer stats
  pkg/network/tracer/tracer_windows.go
Due: copyright, go-mod-tidy

Always show discovery service map status section
  pkg/network/usm/monitor.go
  pkg/status/systemprobe/status_templates/systemprobe.tmpl
Due: copyright, go-mod-tidy

Skip USM Status line when state is unset
  pkg/status/systemprobe/status_templates/systemprobe.tmpl
Due: none

Populate USM state in Windows tracer stats
  pkg/network/tracer/tracer_windows.go
  pkg/status/systemprobe/status_templates/systemprobe.tmpl
Due: copyright, go-mod-tidy

Revert USM state population in Windows tracer
  pkg/network/tracer/tracer_windows.go
  pkg/status/systemprobe/status_templates/systemprobe.tmpl
Due: copyright, go-mod-tidy

Fix copyright year on new discovery-mode files
  pkg/network/protocols/http/statkeeper_discovery_test.go
  pkg/system-probe/config/adjust_discovery.go
  pkg/system-probe/config/adjust_discovery_test.go
Due: copyright, go-mod-tidy

Simplify discovery-mode adjust + statkeeper + encoder
  pkg/network/encoding/marshal/usm_http.go
  pkg/network/protocols/http/statkeeper.go
  pkg/system-probe/config/adjust_discovery.go
  pkg/system-probe/config/adjust_discovery_test.go
Due: copyright, go-mod-tidy

Drop USM Status if-guard in system-probe status template
  pkg/status/systemprobe/status_templates/systemprobe.tmpl
Due: none

Mask usmEnabled on the wire when discovery mode is on
  pkg/network/encoding/marshal/modeler.go
  pkg/network/sender/sender_linux.go
Due: copyright, go-mod-tidy

Show USM as Restricted in agent status when discovery mode is on
  pkg/network/usm/monitor.go
  pkg/network/usm/state/state.go
Due: copyright, go-mod-tidy

Refactor autodiscovery to internalize health platform and provider catalog
  cmd/agent/common/autodiscovery.go
  cmd/agent/common/loader.go
  cmd/agent/subcommands/analyzelogs/command.go
  cmd/agent/subcommands/analyzelogs/command_test.go
  cmd/agent/subcommands/diagnose/command.go
  cmd/agent/subcommands/flare/command.go
  cmd/agent/subcommands/jmx/command.go
  cmd/agent/subcommands/run/command.go
  cmd/cluster-agent-cloudfoundry/subcommands/run/command.go
  cmd/cluster-agent/subcommands/start/command.go
  comp/core/autodiscovery/autodiscoveryimpl/autoconfig.go
  comp/core/autodiscovery/component.go
  comp/core/autodiscovery/noopimpl/autoconfig.go
  comp/core/diagnose/local/local.go
  pkg/cli/subcommands/check/command.go
Due: copyright, go-mod-tidy

refactor(api): remove gorilla/mux from observability middleware
  comp/api/api/apiimpl/observability/logging.go
  comp/api/api/apiimpl/observability/telemetry.go
  comp/api/api/apiimpl/observability/telemetry_test.go
  comp/api/api/apiimpl/observability/utils.go
  comp/api/api/apiimpl/observability/utils_test.go
  comp/api/api/apiimpl/server_cmd.go
  comp/api/api/apiimpl/server_ipc.go
Due: copyright, go-mod-tidy

chore: update BUILD.bazel after gorilla/mux removal from observability
  comp/api/api/apiimpl/observability/BUILD.bazel
Due: none

fix: rename unused test parameter to satisfy revive linter
  comp/api/api/apiimpl/observability/utils_test.go
Due: copyright, go-mod-tidy

chore(deps): replace golang.org/x/exp/maps and x/exp/slices with stdlib
  comp/core/agenttelemetry/impl/agenttelemetry.go
  comp/core/secrets/impl/secrets.go
  comp/metadata/haagent/impl/haagentimpl_test.go
  comp/metadata/host/hostimpl/host_test.go
  comp/metadata/inventoryagent/impl/inventoryagent_test.go
  pkg/ebpf/uprobes/attacher.go
  pkg/ebpf/uprobes/inspector_test.go
  pkg/ebpf/verifier/elf_test.go
  pkg/gpu/cuda/fatbin_test.go
  pkg/gpu/probe_test.go
  pkg/network/ebpf/bpf_module.go
  pkg/network/tracer/tracer_dump_conntrack.go
  pkg/util/lsof/lsof_windows_test.go
  test/e2e-framework/common/utils/yaml.go
  test/e2e-framework/components/datadog/agent/host_windowsos.go
  test/e2e-framework/components/datadog/agent/kubernetes_helm.go
  test/new-e2e/system-probe/test-json-review/main.go
Due: copyright, go-mod-tidy

chore: run go mod tidy and gazelle after x/exp/maps removal
  comp/core/agenttelemetry/fx/go.mod
  comp/core/agenttelemetry/fx/go.sum
  comp/core/agenttelemetry/impl/go.mod
  comp/core/agenttelemetry/impl/go.sum
  comp/core/secrets/fx/go.mod
  comp/core/secrets/fx/go.sum
  comp/core/secrets/impl/BUILD.bazel
  comp/core/secrets/impl/go.mod
  comp/core/secrets/impl/go.sum
  pkg/util/lsof/BUILD.bazel
  test/e2e-framework/go.mod
  test/new-e2e/go.mod
Due: check-go-modules-in-python, protocol-buffer

Apply `testing/synctest` to `TestTransactionEventHandlersOnRetry`
  comp/forwarder/defaultforwarder/forwarder_test.go
Due: copyright, go-mod-tidy

Apply `testing/synctest` to `TestHighPriorityTransaction`
  comp/forwarder/defaultforwarder/forwarder_test.go
Due: copyright, go-mod-tidy

chore(linter): forbid golang.org/x/exp/maps via depguard
  .golangci.yml
Due: shell-check-no-set-x

Revert "chore(renovate): add gomod grouping rules for common dependency clust…"
  renovate.json
Due: none

add fleet as codeowners for cluster flare agent_task
  .github/CODEOWNERS
Due: none

fix(ci): use step outputs instead of outcome for devcontainer change detection
  .github/workflows/test-devcontainer.yml
Due: shell-check-no-set-x

force repin and update deps-tidy workflow
  .github/workflows/deps-tidy.yml
  MODULE.bazel.lock
Due: shell-check-no-set-x

Fix merge conflicts with main
  test/otel/testdata/builder-config.yaml
Due: shell-check-no-set-x

Send raw latencySum on the wire instead of a precomputed avgLatency
  go.mod
  go.sum
  pkg/network/encoding/marshal/usm_http.go
  pkg/network/encoding/marshal/usm_http_test.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

Configure some useful MCPs by default
  .devcontainer/datadog/default/features/datadog-agent/lifecycle/postCreate.sh
  .devcontainer/datadog/default/prebuild-devcontainer.json
Due: shell-check-no-set-x

[test-mcall] test
  go.mod
  go.sum
  test/e2e-framework/go.mod
  test/e2e-framework/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer
