Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

dyninst: add capture expressions support
  pkg/dyninst/decode/decoder.go
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/ir/event_kind_string.go
  pkg/dyninst/ir/issuekind_string.go
  pkg/dyninst/ir/probe_definition.go
  pkg/dyninst/ir/probe_kind.go
  pkg/dyninst/ir/probe_kind_string.go
  pkg/dyninst/ir/types.go
  pkg/dyninst/irgen/irgen.go
  pkg/dyninst/irgen/snapshot_test.go
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=amd64,toolchain=go1.23.11.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=amd64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=amd64,toolchain=go1.25.0.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=amd64,toolchain=go1.26rc1.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=arm64,toolchain=go1.23.11.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=arm64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=arm64,toolchain=go1.25.0.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=arm64,toolchain=go1.26rc1.yaml
  pkg/dyninst/irprinter/json.go
  pkg/dyninst/module/diagnostics_test.go
  pkg/dyninst/rcjson/rcjson.go
  pkg/dyninst/rcjson/rcjson_test.go
  pkg/dyninst/testdata/decoded/sample/testCaptureExprGetmember.json
  pkg/dyninst/testdata/decoded/sample/testCaptureExprGetmember_geq_go1.26rc1.json
  pkg/dyninst/testdata/decoded/sample/testCaptureExprLine.json
  pkg/dyninst/testdata/decoded/sample/testCaptureExprLineWithTemplate.json
  pkg/dyninst/testdata/decoded/sample/testCaptureExprSimple.json
  pkg/dyninst/testdata/decoded/sample/testCaptureExprWithTemplate.json
  pkg/dyninst/testprogs/testdata/probes/sample.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Refactor common openssl_fips configure flags and run through buildifier
  deps/openssl_fips.BUILD.bazel
Due: none

[PROF-13742] Add missing endpoint index to query failure log in uploadWorker
  comp/host-profiler/symboluploader/symbol_uploader.go
Due: copyright, go-mod-tidy

CI_JOB_NAME has spaces
  .gitlab/test/e2e_install_packages/windows.yml
  test/e2e-framework/common/config/environment.go
  test/e2e-framework/scenarios/aws/ec2/windows/run.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

Onboard datadog-agent onto Depot Rust
  .adms/rust/gitlab.yaml
  .gitlab/build/binary_build/sd_agent.yml
Due: shell-check-no-set-x, gitlab-configuration

fixed lint cmd/host-profiler & tests
  cmd/host-profiler/subcommands/run/command.go
  cmd/host-profiler/subcommands/run/command_test.go
Due: copyright, go-mod-tidy

[Backport 7.75.x] Update Go version to 1.25.7 (#46319)
  .gitlab-ci.yml
  .go-version
  .wwhrd.yml
  devenv/scripts/Install-DevEnv.ps1
  go.work
  releasenotes/notes/bump-go-to-1.25.7-8bacd56be17dc535.yaml
  tasks/go.py
  test/fakeintake/Dockerfile
  tools/gdb/Dockerfile
Due: shell-check-no-set-x, gitlab-configuration

Pass tagger module
  cmd/privateactionrunner/subcommands/run/command.go
  cmd/privateactionrunner/subcommands/run/tagger.go
  cmd/privateactionrunner/subcommands/run/tagger_mock.go
Due: copyright, go-mod-tidy

Simplify the test version of the tagger fx module
  cmd/privateactionrunner/subcommands/run/tagger_mock.go
Due: copyright, go-mod-tidy

change exclude-zero-metric from false -> true
  comp/core/agenttelemetry/impl/config.go
Due: copyright, go-mod-tidy

Bump embedded python version to 3.13.12
  deps/cpython/cpython.MODULE.bazel
  omnibus/config/software/python3.rb
  releasenotes/notes/Bump-embedded-Python-to-3.13.12-d8ffe1cff32a6c63.yaml
  test/new-e2e/tests/agent-platform/common/agent_behaviour.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

Improve telemetry for metrics v3 serializer (#46188)
  pkg/serializer/internal/metrics/iterable_series_v3.go
  pkg/serializer/internal/metrics/iterable_series_v3_test.go
Due: copyright, go-mod-tidy

Update releasenotes/notes/Bump-embedded-Python-to-3.13.12-d8ffe1cff32a6c63.yaml
  releasenotes/notes/Bump-embedded-Python-to-3.13.12-d8ffe1cff32a6c63.yaml
Due: shell-check-no-set-x

Split Windows and Linux E2E tests in different jobs (#46243)
  .gitlab/test/e2e/e2e.yml
  test/new-e2e/tests/agent-subcommands/health/health_win_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

Updates based on PR feedback
  comp/core/delegatedauth/go.mod
  comp/core/delegatedauth/go.sum
  comp/core/delegatedauth/impl/delegatedauth.go
  comp/core/delegatedauth/impl/delegatedauth_test.go
  go.work
  pkg/config/utils/endpoints.go
  pkg/util/aws/creds/detection_test.go
  releasenotes/notes/cloud-auth-to-get-an-API-key-87334c4f96c3222b.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x, check-go-modules-in-python, protocol-buffer

[PROF-13747] Add shared ExtractSiteFromURL and unify Datadog domain regexes
  pkg/config/utils/endpoints.go
  pkg/config/utils/endpoints_test.go
Due: copyright, go-mod-tidy

[PROF-13747] Use shared ExtractSiteFromURL in host-profiler converter
  comp/host-profiler/collector/impl/converters/converter_table_test.go
  comp/host-profiler/collector/impl/converters/converter_with_agent.go
  comp/host-profiler/collector/impl/converters/td/agent/infer-dc-from-additional-ep/in.yaml
  comp/host-profiler/collector/impl/converters/td/agent/infer-dc-from-additional-ep/out.yaml
  comp/host-profiler/collector/impl/converters/td/agent/infer-dc-from-url/in.yaml
  comp/host-profiler/collector/impl/converters/td/agent/infer-dc-from-url/out.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

update timing, ordering, and race of TestIntakeRefreshAPIKey
  test/new-e2e/tests/agent-configuration/config-refresh/api_key_refresh_test.go
Due: copyright, go-mod-tidy

Reverted change in endpoints.go
  pkg/config/utils/endpoints.go
Due: copyright, go-mod-tidy

Removed comment
  pkg/config/utils/endpoints.go
Due: copyright, go-mod-tidy

add new-e2e-containers-openshift test
  .gitlab/test/e2e/e2e.yml
Due: shell-check-no-set-x, gitlab-configuration

Capture EXTRA_PARAMS
  .gitlab/test/e2e/e2e.yml
Due: shell-check-no-set-x, gitlab-configuration

Mitigate `test_kmt_local_setup_linux` timeouts
  tasks/kernel_matrix_testing/setup/common.py
Due: none

sd-agent: config: check for enabled keys values (#46250)
  pkg/discovery/module/rust/src/config.rs
Due: none

fix errors
  cmd/serverless-init/cloudservice/cloudrun_jobs_test.go
  cmd/serverless-init/cloudservice/containerapp.go
  cmd/serverless-init/collector/collector_test.go
  cmd/serverless-init/collector/collector_unsupported.go
  cmd/serverless-init/main_test.go
Due: copyright, go-mod-tidy

Refactored getAPIDomain to use GetMainEndpoint
  comp/core/delegatedauth/api/delegated_auth.go
  comp/core/delegatedauth/api/delegated_auth_test.go
Due: copyright, go-mod-tidy

Save parameter name as env var in .gitlab-ci.yml
  .gitlab-ci.yml
  .gitlab/test/e2e/e2e.yml
Due: shell-check-no-set-x, gitlab-configuration

APM: Fix decode panic in v1
  pkg/proto/pbgo/trace/idx/span.go
  pkg/proto/pbgo/trace/idx/tracer_payload.go
  pkg/proto/pbgo/trace/idx/tracer_payload_test.go
  releasenotes/notes/apm-fix-decode-panic-c91e6100dd0ef422.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(e2e): Revert to ':' separator - base_helpers concatenates with k+":"+v
  test/new-e2e/tests/ecs/apm_test.go
Due: copyright, go-mod-tidy

Revert "Refactored getAPIDomain to use GetMainEndpoint"
  comp/core/delegatedauth/api/delegated_auth.go
  comp/core/delegatedauth/api/delegated_auth_test.go
Due: copyright, go-mod-tidy

fix tests
  pkg/network/encoding/encoding_linux_test.go
  pkg/network/encoding/encoding_test.go
Due: copyright, go-mod-tidy

feat(01-01): update configManager and inference functions for proxy URL support
  comp/host-profiler/collector/impl/converters/converter_with_agent.go
  comp/host-profiler/collector/impl/converters/td/agent/infer-dc-from-additional-ep/out.yaml
  comp/host-profiler/collector/impl/converters/td/agent/infer-dc-from-url/out.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

chore: file provider return error
  comp/core/autodiscovery/providers/kube_endpointslices_file.go
Due: copyright, go-mod-tidy

test(01-01): add golden-file tests for proxy URL, FIPS localhost, and proxy additional endpoints
  comp/host-profiler/collector/impl/converters/converter_table_test.go
  comp/host-profiler/collector/impl/converters/converter_with_agent.go
  comp/host-profiler/collector/impl/converters/td/agent/fips-localhost/in.yaml
  comp/host-profiler/collector/impl/converters/td/agent/fips-localhost/out.yaml
  comp/host-profiler/collector/impl/converters/td/agent/proxy-additional-ep/in.yaml
  comp/host-profiler/collector/impl/converters/td/agent/proxy-additional-ep/out.yaml
  comp/host-profiler/collector/impl/converters/td/agent/proxy-url/in.yaml
  comp/host-profiler/collector/impl/converters/td/agent/proxy-url/out.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

remove test files
  pkg/trace/otel/stats/otel_util_test.go
  pkg/trace/otel/traceutil/otel_util_test.go
  pkg/trace/transform/transform_test.go
Due: copyright, go-mod-tidy

fix(01-01): disable symbol uploader when no Datadog endpoints available
  comp/host-profiler/collector/impl/converters/converter_with_agent.go
  comp/host-profiler/collector/impl/converters/td/agent/fips-localhost/out.yaml
  comp/host-profiler/collector/impl/converters/td/agent/proxy-url/out.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

[ABLD-317] Bump `rules_go` for `go.work` support (#46322)
  MODULE.bazel
  MODULE.bazel.lock
Due: none

[CONTP-1253] Avoid using subdirectories in monutpaths for UDS sockets when possible (#46326)
  pkg/clusteragent/admission/mutate/config/config_test.go
  pkg/clusteragent/admission/mutate/config/mutator.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
