Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

review: avoid unintentional domain matching
  pkg/config/remote/meta/meta.go
Due: copyright, go-mod-tidy

Build RPM with bazel (#44112)
  deps/popt.BUILD.bazel
  deps/repos.MODULE.bazel
  deps/rpm/config-linux-arm64.h
  deps/rpm/config-linux-x86_64.h
  deps/rpm/rpm.BUILD.bazel
  deps/zstd.BUILD.bazel
  omnibus/config/software/rpm.rb
  omnibus/config/software/zstd.rb
Due: win-clang-format

chore: factor out build flags in go test commands
  tasks/gotest.py
Due: none

Fix lint
  pkg/fleet/daemon/remote_config_state_test.go
Due: copyright, go-mod-tidy

Do not fetch in security_agent task
  tasks/security_agent.py
Due: none

chore: adding new modules to required configs
  .github/CODEOWNERS
  .gitlab-ci.yml
  modules.yml
Due: shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer

Fix test
  pkg/fleet/installer/packages/datadog_agent_test.go
Due: copyright, go-mod-tidy

chore: properly label modules used by OTel
  modules.yml
Due: shell-check-no-set-x, check-go-modules-in-python, protocol-buffer

fix: add retrynotrace build tag in common tags
  tasks/build_tags.py
Due: none

chore(comp/core/log/impl-trace): add missing replace directive
  comp/core/log/impl-trace/go.mod
Due: check-go-modules-in-python, protocol-buffer

Update OTLP Histogram helpers
  pkg/opentelemetry-mapping-go/otlp/metrics/histograms.go
  pkg/opentelemetry-mapping-go/otlp/metrics/histograms_test.go
Due: copyright, go-mod-tidy

Apply suggestions from code review
  releasenotes/notes/dd-extension-ddot.yaml
Due: shell-check-no-set-x

fix: Use Container Image from Pod Spec over Status (#44949)
  comp/core/workloadmeta/collectors/util/kubelet.go
  comp/core/workloadmeta/collectors/util/kubelet_test.go
  releasenotes/notes/container-spec-image-tag-0cf9247cff7970df.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

feat: check for owner and permisions when loading shlib
  comp/core/secrets/impl/check_rights_windows.go
  pkg/collector/sharedlibrary/ffi/library_loader.go
  pkg/collector/sharedlibrary/sharedlibraryimpl/loader.go
  pkg/util/filesystem/permission_nowindows.go
  pkg/util/filesystem/permission_windows.go
Due: copyright, go-mod-tidy

fix(ot): Use correct image name for ot in nightly pipelines (#44870)
  .gitlab/common/container_publish_job_templates.yml
Due: shell-check-no-set-x, gitlab-configuration

Fix
  pkg/fleet/installer/packages/datadog_agent_test.go
Due: copyright, go-mod-tidy

DELA-251 - Update auto-detection method to use pkg/utils/aws
  comp/core/delegatedauth/def/delegatedauth.go
  comp/core/delegatedauth/impl/delegatedauth.go
  comp/core/delegatedauth/impl/go.mod
  pkg/config/setup/config.go
  pkg/util/aws/creds/detection.go
  pkg/util/aws/creds/detection_noec2.go
  pkg/util/aws/creds/detection_test.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

Include `ssl` folder when installing openssl with bazel
  deps/openssl.BUILD.bazel
Due: none

chore: dda inv tidy
  comp/core/log/impl-trace/go.mod
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/ddprofilingextension/impl/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/trace/agent/def/go.mod
  pkg/config/remote/go.mod
  pkg/opentelemetry-mapping-go/inframetadata/go.mod
  pkg/opentelemetry-mapping-go/otlp/attributes/go.mod
  pkg/opentelemetry-mapping-go/otlp/logs/go.mod
  pkg/opentelemetry-mapping-go/otlp/metrics/go.mod
  pkg/trace/go.mod
  pkg/trace/otel/go.mod
  pkg/trace/otel/go.sum
  pkg/trace/otel/otel.go
  pkg/trace/stats/go.mod
  pkg/trace/stats/go.sum
  pkg/trace/traceutil/go.mod
  pkg/trace/traceutil/go.sum
  pkg/util/otel/go.mod
  test/e2e-framework/go.mod
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/otel/go.mod
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

chore(pkg/trace/otel): dda inv modules.add-all-replace
  pkg/trace/otel/go.mod
Due: check-go-modules-in-python, protocol-buffer

Revert "Do not fetch in security_agent task"
  tasks/security_agent.py
Due: none

Set try_fetch to False by default
  tasks/libs/ciproviders/gitlab_api.py
  tasks/libs/common/git.py
  tasks/libs/package/utils.py
  tasks/quality_gates.py
Due: none

PR comments
  .cursor/rules/e2e_tests.mdc
Due: none

Skip unknown arm instructions.
  pkg/dyninst/irgen/irgen.go
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=amd64,toolchain=go1.23.11.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=amd64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=amd64,toolchain=go1.25.0.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=amd64,toolchain=go1.26rc1.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=arm64,toolchain=go1.23.11.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=arm64,toolchain=go1.24.3.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=arm64,toolchain=go1.25.0.yaml
  pkg/dyninst/irgen/testdata/snapshot/sample.arch=arm64,toolchain=go1.26rc1.yaml
  pkg/dyninst/symdb/testdata/snapshot/sample.streaming.arch=amd64,toolchain=go1.23.11.out
  pkg/dyninst/symdb/testdata/snapshot/sample.streaming.arch=amd64,toolchain=go1.24.3.out
  pkg/dyninst/symdb/testdata/snapshot/sample.streaming.arch=amd64,toolchain=go1.25.0.out
  pkg/dyninst/symdb/testdata/snapshot/sample.streaming.arch=amd64,toolchain=go1.26rc1.out
  pkg/dyninst/symdb/testdata/snapshot/sample.streaming.arch=arm64,toolchain=go1.23.11.out
  pkg/dyninst/symdb/testdata/snapshot/sample.streaming.arch=arm64,toolchain=go1.24.3.out
  pkg/dyninst/symdb/testdata/snapshot/sample.streaming.arch=arm64,toolchain=go1.25.0.out
  pkg/dyninst/symdb/testdata/snapshot/sample.streaming.arch=arm64,toolchain=go1.26rc1.out
  pkg/dyninst/testdata/decoded/sample/testAtomicAdd.json
  pkg/dyninst/testprogs/progs/sample/other.go
  pkg/dyninst/testprogs/testdata/probes/sample.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

codereview
  .github/workflows/cla.yml
Due: shell-check-no-set-x

lint fix
  pkg/opentelemetry-mapping-go/otlp/metrics/histograms.go
Due: copyright, go-mod-tidy

Fix agentprofiling check retry loop causing excessive flare generation
  pkg/collector/corechecks/agentprofiling/agentprofiling.go
  pkg/collector/corechecks/agentprofiling/agentprofiling_test.go
Due: copyright, go-mod-tidy

Add observer component with read-only view interfaces
  comp/dogstatsd/server/server.go
  comp/logs/agent/agentimpl/agent.go
  comp/logs/agent/agentimpl/agent_core_init.go
  comp/logs/agent/agentimpl/agent_serverless_init.go
  comp/observer/bundle.go
  comp/observer/def/component.go
  comp/observer/fx/fx.go
  comp/observer/impl/observer.go
  pkg/logs/message/message.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/processor_only_provider.go
  pkg/logs/pipeline/provider.go
  pkg/logs/processor/processor.go
  pkg/metrics/metric_sample.go
Due: copyright, go-mod-tidy

Add analysis abstraction to observer component
  comp/observer/def/component.go
  comp/observer/impl/analysis_bad_detector.go
  comp/observer/impl/analysis_bad_detector_test.go
  comp/observer/impl/observer.go
Due: copyright, go-mod-tidy

Add time series storage and analysis to observer
  comp/observer/def/component.go
  comp/observer/impl/observer.go
  comp/observer/impl/storage.go
  comp/observer/impl/storage_test.go
  comp/observer/impl/ts_analysis_spike.go
  comp/observer/impl/ts_analysis_spike_test.go
Due: copyright, go-mod-tidy

Simplify time series interface and make aggregation explicit
  comp/observer/def/component.go
  comp/observer/impl/observer.go
  comp/observer/impl/storage.go
  comp/observer/impl/storage_test.go
  comp/observer/impl/ts_analysis_spike.go
  comp/observer/impl/ts_analysis_spike_test.go
Due: copyright, go-mod-tidy

add readme, update naming
  cmd/agent/subcommands/run/command.go
  comp/observer/README.md
  comp/observer/def/component.go
  comp/observer/impl/analysis_bad_detector.go
  comp/observer/impl/observer.go
Due: copyright, go-mod-tidy

Add anomaly consumer interface and memory implementation
  comp/observer/README.md
  comp/observer/def/component.go
  comp/observer/impl/consumer_memory.go
  comp/observer/impl/observer.go
Due: copyright, go-mod-tidy

Refactor observer to channel-based threading model
  comp/observer/README.md
  comp/observer/impl/consumer_memory.go
  comp/observer/impl/observer.go
Due: copyright, go-mod-tidy

Call Report() on consumers after processing each observation
  comp/observer/impl/observer.go
Due: copyright, go-mod-tidy

Use non-blocking sends in observer handles
  comp/observer/impl/observer.go
Due: copyright, go-mod-tidy

Fix instance id reported
  pkg/jmxfetch/scheduler.go
Due: copyright, go-mod-tidy

Logs -> Timeseries Data (#44857)
  .github/CODEOWNERS
  comp/README.md
  comp/observer/def/component.go
  comp/observer/fx/fx.go
  comp/observer/impl/agent_internal_logs_test.go
  comp/observer/impl/log_timeseries_analysis.go
  comp/observer/impl/log_timeseries_analysis_test.go
  comp/observer/impl/observer.go
  comp/observer/impl/storage.go
  pkg/config/setup/config.go
  pkg/logs/message/message.go
  pkg/logs/message/message_test.go
  pkg/util/log/log.go
  pkg/util/log/observer_tap.go
  pkg/util/log/setup/log.go
  pkg/util/log/slog/logger_test_utils_test.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
