Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

rework
  cmd/cluster-agent/subcommands/start/command.go
  pkg/privateactionrunner/enrollment/k8s_secret.go
  pkg/util/kubernetes/apiserver/leaderelection/leaderelection.go
Due: copyright, go-mod-tidy

wip
  pkg/privateactionrunner/enrollment/k8s_secret.go
Due: copyright, go-mod-tidy

remove unresolved commit
  cmd/cluster-agent/subcommands/start/command.go
Due: copyright, go-mod-tidy

run PAR async
  cmd/cluster-agent/subcommands/start/command.go
  comp/privateactionrunner/impl/privateactionrunner.go
Due: copyright, go-mod-tidy

better synchronization mechanism
  cmd/cluster-agent/subcommands/start/command.go
  comp/privateactionrunner/impl/privateactionrunner.go
Due: copyright, go-mod-tidy

use k8s secret
  pkg/config/setup/privateactionrunner.go
  pkg/privateactionrunner/enrollment/storage.go
Due: copyright, go-mod-tidy

add release note
  releasenotes/notes/par-k8s-identity-in-dca-09d00e972c674fda.yaml
Due: shell-check-no-set-x

Cluster Agent Generic Workload Patcher (#46595)
  cmd/cluster-agent/subcommands/start/command.go
  pkg/clusteragent/languagedetection/patcher.go
  pkg/clusteragent/languagedetection/patcher_test.go
  pkg/clusteragent/patcher/intent.go
  pkg/clusteragent/patcher/intent_test.go
  pkg/clusteragent/patcher/operations.go
  pkg/clusteragent/patcher/operations_test.go
  pkg/clusteragent/patcher/patcher.go
  pkg/clusteragent/patcher/patcher_test.go
  pkg/clusteragent/patcher/target.go
Due: copyright, go-mod-tidy

Move to fetch_artifacts
  tasks/msi.py
Due: none

[CONTP-1148] revert to v1
  .copyright-overrides.yml
  LICENSE-3rdparty.csv
  cmd/cluster-agent/subcommands/start/command.go
  go.mod
  go.sum
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/clusteragent/clusterchecks/dispatcher_rebalance.go
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: copyright, go-mod-tidy, shell-check-no-set-x, check-go-modules-in-python, protocol-buffer

add msi packagetype
  pkg/fleet/installer/commands/hooks.go
Due: copyright, go-mod-tidy

fix ddot version manually installed
  test/new-e2e/tests/installer/windows/suites/agent-package/persisting_extensions_test.go
Due: copyright, go-mod-tidy

do not coerce env tpml vars
  pkg/util/tmplvar/resolver.go
  pkg/util/tmplvar/resolver_test.go
Due: copyright, go-mod-tidy

Wrap config parser errors for compatibility with Viper (#46651)
  pkg/config/nodetreemodel/read_config_file.go
Due: copyright, go-mod-tidy

InitConfigObject has to lock to avoid test flakiness
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

change var name
  comp/trace/config/setup.go
  pkg/trace/config/config.go
  pkg/trace/config/config_test.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/span_concentrator.go
Due: copyright, go-mod-tidy

add BindEnvAndSetDefault
  pkg/config/setup/apm.go
Due: copyright, go-mod-tidy

add poc for noisy neighbor
  .github/CODEOWNERS
  cmd/system-probe/modules/noisy_neighbor.go
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern.c
  pkg/collector/corechecks/ebpf/noisyneighbor/common.go
  pkg/collector/corechecks/ebpf/noisyneighbor/noisy_neighbor.go
  pkg/collector/corechecks/ebpf/noisyneighbor/stub.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types_linux.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types_linux_test.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/model/types.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe_stub.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe_test.go
  pkg/commonchecks/corechecks.go
  pkg/config/setup/system_probe.go
  pkg/ebpf/c/bpf_telemetry.h
  pkg/ebpf/c/telemetry_types.h
  pkg/ebpf/cgo/genpost.go
  pkg/ebpf/telemetry/errors_telemetry.go
  pkg/ebpf/telemetry/types_linux.go
  pkg/system-probe/config/config.go
  tasks/agent.py
  tasks/system_probe.py
Due: copyright, win-clang-format, go-mod-tidy

working module and check
  cmd/system-probe/modules/modules.go
  cmd/system-probe/modules/noisy_neighbor.go
  pkg/collector/corechecks/ebpf/noisyneighbor/noisy_neighbor.go
  pkg/collector/corechecks/ebpf/noisyneighbor/stub.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe.go
  pkg/commonchecks/corechecks.go
  pkg/commonchecks/corechecks_sysprobe.go
Due: copyright, go-mod-tidy

fix lint
  pkg/collector/corechecks/ebpf/noisyneighbor/stub.go
Due: copyright, go-mod-tidy

fix unit test
  pkg/ebpf/telemetry/errors_collector_linux_test.go
Due: copyright, go-mod-tidy

psl/psp test build
  cmd/agent/dist/conf.d/noisy_neighbor.d/conf.yaml.example
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern.c
  pkg/collector/corechecks/ebpf/noisyneighbor/noisy_neighbor.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types_linux.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types_linux_test.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/model/types.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe.go
  pkg/config/setup/system_probe.go
  pkg/ebpf/bytecode/runtime/noisy-neighbor.go
  tasks/system_probe.py
Due: copyright, win-clang-format, go-mod-tidy

opts
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern.c
  pkg/collector/corechecks/ebpf/noisyneighbor/check_bench_test.go
  pkg/collector/corechecks/ebpf/noisyneighbor/noisy_neighbor.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types_linux.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types_linux_test.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/model/types.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe_bench_test.go
  pkg/ebpf/bytecode/runtime/noisy-neighbor.go
Due: copyright, win-clang-format, go-mod-tidy

bench
  pkg/collector/corechecks/ebpf/noisyneighbor/check_bench_test.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe_bench_test.go
Due: copyright, go-mod-tidy

fix codeowners
  .github/CODEOWNERS
Due: none

clean up unneeded changes
  pkg/ebpf/c/bpf_telemetry.h
  pkg/ebpf/c/telemetry_types.h
  pkg/ebpf/telemetry/errors_collector_linux_test.go
  pkg/ebpf/telemetry/types_linux.go
Due: copyright, win-clang-format, go-mod-tidy

remove noisy neighbor benchmark tests and clean up unused telemetry constants
  pkg/collector/corechecks/ebpf/noisyneighbor/check_bench_test.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe_bench_test.go
  pkg/ebpf/telemetry/errors_telemetry.go
  tasks/agent.py
Due: copyright, go-mod-tidy

more cleanup
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern.c
  pkg/collector/corechecks/ebpf/noisyneighbor/noisy_neighbor.go
  pkg/ebpf/c/bpf_telemetry.h
Due: copyright, win-clang-format, go-mod-tidy

Remove commented-out code and performance optimization notes from the noisy neighbor probe implementation for clarity and maintainability.
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe_stub.go
Due: copyright, go-mod-tidy

Remove unused metric submissions from the noisy neighbor check to streamline performance and improve code clarity.
  pkg/collector/corechecks/ebpf/noisyneighbor/noisy_neighbor.go
Due: copyright, go-mod-tidy

Refactor noisy neighbor eBPF structures and remove unused fields to enhance performance and maintainability.
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern-user.h
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern.c
  pkg/collector/corechecks/ebpf/noisyneighbor/noisy_neighbor.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types_linux.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/model/types.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe_test.go
Due: copyright, win-clang-format, go-mod-tidy

Add header generation and integrity checks for noisy neighbor eBPF probe
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe.go
Due: copyright, go-mod-tidy

Refactor cgroup_agg_stats_t structure by removing packed attribute for improved compatibility and clarity.
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern-user.h
Due: win-clang-format

Add package documentation for the noisy neighbor check in probe files for clarity and context.
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe_stub.go
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/probe_test.go
Due: copyright, go-mod-tidy

Refactor pid_key_t structure in noisy neighbor eBPF to remove packed attribute and add padding for alignment.
  pkg/collector/corechecks/ebpf/c/runtime/noisy-neighbor-kern-user.h
  pkg/collector/corechecks/ebpf/probe/noisyneighbor/ebpf_types_linux.go
Due: copyright, win-clang-format, go-mod-tidy

Enhance noisy neighbor check by integrating cgroup reader for improved container tagging and metrics collection.
  pkg/collector/corechecks/ebpf/noisyneighbor/noisy_neighbor.go
Due: copyright, go-mod-tidy

Refactor noisy neighbor check to improve error handling and streamline container tagging logic by renaming buildTags to getContainerTags.
  pkg/collector/corechecks/ebpf/noisyneighbor/noisy_neighbor.go
Due: copyright, go-mod-tidy

Update container tagging in noisy neighbor check to use high cardinality for improved accuracy in metrics collection.
  pkg/collector/corechecks/ebpf/noisyneighbor/noisy_neighbor.go
Due: copyright, go-mod-tidy

Increase the interval for the Noisy Neighbor Check from 5 seconds to 10 seconds to reduce the frequency of checks and improve performance.
  pkg/collector/corechecks/ebpf/noisyneighbor/noisy_neighbor.go
Due: copyright, go-mod-tidy
