Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Assert that the python version is correct when not lazy loaded
  test/new-e2e/tests/windows/install-test/installtester.go
Due: copyright, go-mod-tidy

Add orchestrator_kubelet_config check to collect kubelet configuration (#41538)
  cmd/agent/dist/conf.d/orchestrator_kubelet_config.d/conf.yaml.default
  comp/core/workloadmeta/collectors/internal/kubelet/kubelet.go
  comp/core/workloadmeta/def/types.go
  pkg/collector/corechecks/orchestrator/kubeletconfig/kubeletconfig.go
  pkg/collector/corechecks/orchestrator/kubeletconfig/kubeletconfig_test.go
  pkg/collector/corechecks/orchestrator/kubeletconfig/stub.go
  pkg/commonchecks/corechecks.go
  pkg/config/setup/config.go
  pkg/orchestrator/aliases.go
  pkg/orchestrator/config/config.go
  pkg/orchestrator/model/types.go
  releasenotes/notes/Add-orchestrator_kubelet_config-check-5389c7ae17549d9b.yaml
  tasks/agent.py
Due: copyright, go-mod-tidy, shell-check-no-set-x

DELA-237 - Fixed bad import
  cmd/process-agent/subcommands/check/check.go
Due: copyright, go-mod-tidy

moving status info to fingerprint.go
  pkg/logs/launchers/file/launcher.go
  pkg/logs/tailers/file/fingerprint.go
Due: copyright, go-mod-tidy

[NCM] Support loading once + compiling for device profiles when unmarshaled (#42012)
  pkg/collector/corechecks/networkconfigmanagement/networkconfigmanagement_test.go
  pkg/networkconfigmanagement/profile/profile.go
  pkg/networkconfigmanagement/profile/profile_processing.go
  pkg/networkconfigmanagement/profile/profile_processing_test.go
  pkg/networkconfigmanagement/profile/profile_test.go
  pkg/networkconfigmanagement/profile/profile_test_utils.go
  pkg/networkconfigmanagement/report/payload.go
  pkg/networkconfigmanagement/test/conf.d/network_config_management.d/default_profiles/p2.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

util/trivy: cleanup references to old interface
  pkg/util/trivy/db.go
Due: copyright, go-mod-tidy

Add Cisco IOS profile for NCM
  cmd/agent/dist/conf.d/network_config_management.d/default_profiles/cisco-ios.json
Due: none

Add NCM to the agent corechecks list for default_profiles directory to be part of agent build
  tasks/agent.py
Due: none

tests
  pkg/logs/tailers/file/fingerprint_test.go
Due: copyright, go-mod-tidy

Inject non-empty release overrides earlier (#40221)
  tasks/cluster_agent.py
  tasks/kmt.py
  tasks/libs/dependencies.py
  tasks/libs/releasing/version.py
  tasks/msi.py
  tasks/omnibus.py
Due: none

reno
  releasenotes/notes/fingerprint_config_in_status-14ae8ab916c1a726.yaml
Due: shell-check-no-set-x

Remove integration field from NCM agent payload
  pkg/collector/corechecks/networkconfigmanagement/networkconfigmanagement.go
  pkg/networkconfigmanagement/report/payload.go
  pkg/networkconfigmanagement/report/payload_test.go
  pkg/networkconfigmanagement/sender/sender_test.go
Due: copyright, go-mod-tidy

Return payload content as string vs. byte[]
  pkg/collector/corechecks/networkconfigmanagement/networkconfigmanagement_test.go
  pkg/networkconfigmanagement/report/payload.go
  pkg/networkconfigmanagement/report/payload_test.go
  pkg/networkconfigmanagement/sender/sender_test.go
Due: copyright, go-mod-tidy

Add multiline redactions (e.g. for banners in output)
  pkg/networkconfigmanagement/profile/profile_processing.go
Due: copyright, go-mod-tidy

Optimize AddTags method and string formatting to reduce allocations
  pkg/opentelemetry-mapping-go/otlp/metrics/dimensions.go
  pkg/opentelemetry-mapping-go/otlp/metrics/dimensions_test.go
  pkg/opentelemetry-mapping-go/otlp/metrics/internal/utils/tags.go
  pkg/opentelemetry-mapping-go/otlp/metrics/internal/utils/tags_test.go
Due: copyright, go-mod-tidy

perf: optimize FormatKeyValueTag with strings.Builder and refactor tests
  pkg/opentelemetry-mapping-go/otlp/metrics/internal/utils/tags.go
  pkg/opentelemetry-mapping-go/otlp/metrics/internal/utils/tags_test.go
Due: copyright, go-mod-tidy

add ddinjector to tracked driver (#42378)
  comp/checks/agentcrashdetect/agentcrashdetectimpl/agentcrashdetect.go
Due: copyright, go-mod-tidy

add reexec to fix centos
  test/new-e2e/tests/installer/agent/install.go
Due: copyright, go-mod-tidy

(fleet) fix windows config experiments
  pkg/fleet/installer/config/config.go
  pkg/fleet/installer/config/config_linux.go
  pkg/fleet/installer/config/config_linux_test.go
  pkg/fleet/installer/config/config_test.go
  pkg/fleet/installer/config/config_windows.go
  pkg/fleet/installer/config/file.go
  pkg/fleet/installer/config/file_nix.go
  pkg/fleet/installer/config/file_windows.go
Due: copyright, go-mod-tidy

try excluding buildifier
  bazel/buildifier/BUILD.bazel
  deps/supply_chain/overlay/tools/gather_metadata/core.bzl
Due: none

again
  bazel/buildifier/BUILD.bazel
Due: none

Implement noop retrier
  pkg/logs/sender/sender.go
  pkg/logs/sender/worker.go
Due: copyright, go-mod-tidy

more stateful changes + playing around with regression testing
  comp/logs/agent/config/config.go
  pip.conf
  pkg/config/setup/config.go
  pkg/logs/sender/grpc/grpc_sender.go
  pkg/logs/sender/grpc/stream_worker.go
  pkg/logs/sender/grpc_batch_strategy.go
  test/regression/cases/grpc_logs/datadog-agent/conf.d/disk-listener.d/conf.yaml
  test/regression/cases/grpc_logs/datadog-agent/datadog.yaml
  test/regression/cases/grpc_logs/experiment.yaml
  test/regression/cases/grpc_logs/lading/lading.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

comp readme
  comp/README.md
Due: none

fix buildif
  bazel/buildifier/BUILD.bazel
Due: none

Fix buildidifer excludes
  bazel/buildifier/BUILD.bazel
Due: none

fix delete from conntrack2 map
  pkg/network/tracer/ebpf_conntracker.go
Due: copyright, go-mod-tidy

Add to epforwarder to submit to NDM intake + the NCM track type
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder.go
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

util/trivy: cleanup references to old interface (#42284)
  pkg/util/trivy/db.go
Due: copyright, go-mod-tidy

comp lint
  .github/CODEOWNERS
  comp/notableevents/impl/impl.go
Due: copyright, go-mod-tidy

Add a version-script to control the agent binary's exported symbols
  datadog-agent.map
  releasenotes/notes/c-symbol-lockdown-727d8656351db12c.yaml
  tasks/libs/common/utils.py
Due: shell-check-no-set-x

x
  bazel/buildifier/BUILD.bazel
Due: none

DELA-237 - Addressing lint issues
  pkg/delegatedauth/delegated_auth.go
  pkg/delegatedauth/delegated_auth_test.go
  pkg/util/ec2/tags/ec2_tags.go
Due: copyright, go-mod-tidy

Change function name back to sidecar
  comp/core/autodiscovery/providers/config_reader.go
  pkg/process/checks/host_info.go
  pkg/security/config/config.go
  pkg/security/module/server.go
  pkg/util/ec2/dmi.go
  pkg/util/fargate/detection.go
  pkg/util/hostname/common.go
  pkg/util/hostname/common_test.go
  pkg/util/hostname/providers_test.go
  pkg/util/tags/static_tags.go
Due: copyright, go-mod-tidy

Add missing refactor functions
  pkg/collector/corechecks/sbom/processor.go
  pkg/network/gateway_lookup_linux.go
Due: copyright, go-mod-tidy

stop running on linux arm. python is borked there
  bazel/buildifier/BUILD.bazel
  deps/BUILD.bazel
Due: none

just make it manual
  deps/BUILD.bazel
Due: none

comments
  MODULE.bazel
Due: none

add ubuntu 25.04
  test/new-e2e/system-probe/config/platforms.json
Due: none

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
