Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: govet, copyright, clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

govet:
  name: govet
  description: go vet
  entry: python3 -m tasks.git-hooks.govet
  language: system
  require_serial: true

copyright:
  name: copyright
  description: copyright headers
  entry: inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 -m tasks.git-hooks.clang-format
  language: system
  require_serial: true

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: inv tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

Update codeowners
  .github/CODEOWNERS
Due: none

Document and move types to model
  pkg/collector/corechecks/gpu/model/model.go
  pkg/gpu/consumer.go
  pkg/gpu/probe.go
  pkg/gpu/stream.go
  pkg/gpu/types.go
Due: govet, copyright, go-mod-tidy

Copy events
  pkg/gpu/stream.go
Due: govet, copyright, go-mod-tidy

FIx linter
  pkg/collector/corechecks/gpu/model/model.go
Due: govet, copyright, go-mod-tidy

tcp_destroy_sock only
  pkg/network/ebpf/c/tracer.c
  pkg/network/ebpf/c/tracer/tracer.h
Due: clang-format

Fix typo
  .gitlab/source_test/linux.yml
Due: shell-check-no-set-x, gitlab-configuration

Fix codeowners
  .github/CODEOWNERS
Due: none

Bump python to 3.12 (#28492)
  .github/workflows/codeql-analysis.yml
  docs/dev/agent_dev_env.md
  omnibus/config/software/datadog-agent-finalize.rb
  omnibus/config/software/datadog-agent-integrations-py2.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
  omnibus/config/software/python3.rb
  releasenotes/notes/Bump-embedded-Python-version-to-address-vulnerability-8c18ff42b95042f7.yaml
  rtloader/README.md
  test/new-e2e/tests/agent-platform/common/agent_behaviour.go
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog Agent/AgentBinaries.cs
Due: govet, copyright, go-mod-tidy, shell-check-no-set-x

Logging statements cleanup
  pkg/gpu/stream.go
Due: govet, copyright, go-mod-tidy

assert -> require
  test/new-e2e/tests/installer/windows/suites/agent-package/agent-user_test.go
Due: govet, copyright, go-mod-tidy

Run GPU tests in KMT
  .gitlab-ci.yml
  tasks/system_probe.py
Due: shell-check-no-set-x, gitlab-configuration

remove commandline agentuser override
  pkg/fleet/installer/service/datadog_agent_windows.go
Due: govet, copyright, go-mod-tidy

(fleet) part 2 - use setup command (#29598)
  cmd/installer/subcommands/installer/command.go
  pkg/fleet/bootstraper/bootstraper.go
  pkg/fleet/installer/setup.go
  pkg/fleet/internal/exec/installer_exec.go
  test/new-e2e/tests/installer/package_installer_test.go
Due: govet, copyright, go-mod-tidy

Add support for `EventBridge -> SQS` for non-Java cases
  pkg/serverless/trace/propagation/carriers.go
  pkg/serverless/trace/propagation/carriers_test.go
Due: govet, copyright, go-mod-tidy

Add apikeyrefresh e2e test
  test/new-e2e/tests/apm/tests.go
  test/new-e2e/tests/apm/vm_test.go
Due: govet, copyright, go-mod-tidy

Remove psutil patch
  omnibus/config/patches/datadog-agent-integrations-py3/remove-maxfile-maxpath-psutil.patch
  omnibus/config/software/datadog-agent-integrations-py3.rb
Due: none

Remove --install-deps flag and add --timeout flag
  tasks/agent.py
  tasks/cluster_agent.py
  tasks/cluster_agent_cloudfoundry.py
  tasks/dogstatsd.py
  tasks/gotest.py
  tasks/trace_agent.py
  tasks/winbuildscripts/integrationtests.ps1
Due: none

[Fleet Automation] Sign and deploy the PowerShell script (#29605)
  .github/CODEOWNERS
  .gitlab-ci.yml
  .gitlab/JOBOWNERS
  .gitlab/choco_build/choco_build.yml
  .gitlab/choco_deploy/choco_deploy.yml
  .gitlab/powershell_script_deploy/powershell_script_deploy.yml
  .gitlab/powershell_script_signing/powershell_script_signing.yml
  tools/windows/DatadogAgentInstallScript/Install-Datadog.ps1
Due: shell-check-no-set-x, gitlab-configuration

feat(inv): Update task `list-parameters` (#29484)
  .gitlab-ci.yml
  tasks/linter.py
Due: shell-check-no-set-x, gitlab-configuration

Avoid iterating through the store multiple times, added error types for easier error detection
  pkg/clusteragent/autoscaling/externalmetrics/errors.go
  pkg/clusteragent/autoscaling/externalmetrics/metrics_retriever.go
  pkg/clusteragent/autoscaling/externalmetrics/metrics_retriever_backoff_test.go
  pkg/clusteragent/autoscaling/externalmetrics/metrics_retriever_test.go
  pkg/clusteragent/autoscaling/externalmetrics/store.go
Due: govet, copyright, go-mod-tidy

|fleet] Fix security-agent command in fleet systemd service (#29543)
  pkg/fleet/installer/service/embedded/datadog-agent-security-exp.service
  pkg/fleet/installer/service/embedded/datadog-agent-security.service
  tasks/security_agent.py
Due: none

Removed unused constants
  pkg/clusteragent/autoscaling/externalmetrics/metrics_retriever.go
Due: govet, copyright, go-mod-tidy

fix(installer): Reduce refreshState time
  pkg/fleet/daemon/daemon.go
Due: govet, copyright, go-mod-tidy

Update installer.py
  tasks/installer.py
Due: none

use pipeline.GetPipelineArtifact
  test/new-e2e/tests/windows/common/agent/package.go
Due: govet, copyright, go-mod-tidy

Fix typo
  tasks/gotest.py
Due: none

Only install shared lib.
  omnibus/config/software/libjemalloc.rb
Due: none

fix: only depend on openssl-fips and check symbols when FIPS support is enabled
  omnibus/config/projects/agent.rb
Due: none

chore: precise that it's the package that removes files and not omnibus
  omnibus/package-scripts/agent-deb/prerm
  omnibus/package-scripts/agent-rpm/prerm
Due: none

add openssl 3.3.2 release notes (#29640)
  releasenotes/notes/openssl_3.3.2-c9d44b25e5e1ef8d.yaml
Due: shell-check-no-set-x

Log FX events when log_level is debug for core and process agent
  cmd/agent/subcommands/run/command.go
  cmd/process-agent/command/main_common.go
  comp/core/log/fx-systemprobe/fx.go
  comp/core/log/fx-trace/fx.go
  comp/core/log/fx/fx.go
  comp/snmptraps/server/serverimpl/server.go
  pkg/util/fxutil/logging/logging.go
  pkg/util/fxutil/oneshot.go
  pkg/util/fxutil/provide_comp.go
  pkg/util/fxutil/run.go
  pkg/util/fxutil/test.go
Due: govet, copyright, go-mod-tidy

return err
  test/new-e2e/tests/installer/windows/datadog_installer.go
Due: govet, copyright, go-mod-tidy

again
  test/new-e2e/tests/installer/windows/datadog_installer.go
Due: govet, copyright, go-mod-tidy

Remove psutil patch (#29648)
  omnibus/config/patches/datadog-agent-integrations-py3/remove-maxfile-maxpath-psutil.patch
  omnibus/config/software/datadog-agent-integrations-py3.rb
Due: none

[system-probe] Add Oracle Linux to distros we install system-probe selinux policy on (#29612)
  omnibus/package-scripts/agent-rpm/posttrans
  releasenotes/notes/install-selinux-system-probe-policy-on-Oracle-linux-68e1fa8eacfde513.yaml
Due: shell-check-no-set-x

bump go-sqllexer to v0.0.15 with new KeepJsonPath option
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/statsprocessor/go.mod
  comp/otelcol/otlp/components/statsprocessor/go.sum
  go.mod
  go.sum
  pkg/collector/python/datadog_agent.go
  pkg/config/remote/go.mod
  pkg/config/remote/go.sum
  pkg/obfuscate/go.mod
  pkg/obfuscate/go.sum
  pkg/obfuscate/obfuscate.go
  pkg/obfuscate/sql.go
  pkg/obfuscate/sql_test.go
  pkg/trace/go.mod
  pkg/trace/go.sum
  pkg/trace/stats/oteltest/go.mod
  pkg/trace/stats/oteltest/go.sum
  releasenotes/notes/bump-go-sqllexer-0.0.15-18432a15bec8d683.yaml
  releasenotes/notes/bump-go-sqllexer-with-more-obfuscation-options-ca13fcbeb4c9b299.yaml
  test/otel/go.mod
  test/otel/go.sum
Due: govet, copyright, go-mod-tidy, shell-check-no-set-x

fix changelog
  releasenotes/notes/bump-go-sqllexer-0.0.15-18432a15bec8d683.yaml
  releasenotes/notes/bump-go-sqllexer-with-more-obfuscation-options-ca13fcbeb4c9b299.yaml
Due: shell-check-no-set-x

Update pkg/util/fxutil/logging/logging.go
  pkg/util/fxutil/logging/logging.go
Due: govet, copyright, go-mod-tidy

Path conditions:
  govet: any of: \.go$
  copyright: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
