Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$

[clusteragent/api/v1/types] Optimize DeepCopy() (#34988)
  pkg/clusteragent/api/v1/types.go
Due: copyright, go-mod-tidy

[usm] skip TestTCPConnectionStatesMap if kernel<4.14
  pkg/network/usm/monitor_test.go
Due: copyright, go-mod-tidy

Add an option to have an agent that can generate coverage
  cmd/agent/subcommands/coverage/command.go
  cmd/agent/subcommands/coverage/command_test.go
  cmd/agent/subcommands/subcommands_coverage.go
  comp/api/api/apiimpl/internal/agent/agent.go
  comp/api/api/apiimpl/internal/agent/agent_coverage.go
  comp/api/api/apiimpl/internal/agent/agent_nocoverage.go
  tasks/agent.py
Due: copyright, go-mod-tidy

Refactor stream collection
  pkg/gpu/consumer.go
  pkg/gpu/context.go
  pkg/gpu/context_test.go
  pkg/gpu/probe.go
  pkg/gpu/probe_test.go
  pkg/gpu/stats.go
  pkg/gpu/stats_test.go
  pkg/gpu/stream.go
  pkg/gpu/stream_collection.go
  pkg/gpu/stream_collection_test.go
  pkg/gpu/stream_test.go
  pkg/util/funcs/memoize_noerror_unsafe.go
Due: copyright, go-mod-tidy

[CWS/CSPM] remove the host metadata status part for the security agent
  cmd/security-agent/main_windows.go
  cmd/security-agent/subcommands/start/command.go
Due: copyright, go-mod-tidy

Add missing sm version to metadata
  pkg/gpu/stream.go
  pkg/gpu/stream_collection.go
Due: copyright, go-mod-tidy

usm: Split tracepoint__net__netif_receive_skb (#34962)
  pkg/network/ebpf/c/protocols/flush.h
  pkg/network/protocols/events/README.md
  pkg/network/protocols/http/protocol.go
  pkg/network/protocols/http2/protocol.go
  pkg/network/protocols/kafka/protocol.go
  pkg/network/protocols/postgres/protocol.go
  pkg/network/protocols/redis/protocol.go
  pkg/network/usm/ebpf_main.go
Due: copyright, win-clang-format, go-mod-tidy

Remove last mention in GitHub workflow
  .github/workflows/assess_permissions.yml
Due: shell-check-no-set-x

[USMON-1425] usm: Fix sketches object pool cleanup order (#34959)
  cmd/system-probe/modules/network_tracer.go
  pkg/network/nettop/main.go
  pkg/network/protocols/http2/testutils.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
  pkg/network/tracer/tracer_unsupported.go
  pkg/network/tracer/tracer_windows.go
  pkg/network/usm/tests/tracer_classification_test.go
  pkg/network/usm/tests/tracer_usm_linux_test.go
  pkg/network/usm/usm_http2_monitor_test.go
Due: copyright, go-mod-tidy

Tweak comment
  pkg/config/remote/service/service.go
Due: copyright, go-mod-tidy

Fix the error message
  pkg/config/remote/service/util.go
Due: copyright, go-mod-tidy

(fleet) mark dotnet test as flaky
  test/new-e2e/tests/installer/windows/suites/apm-library-dotnet-package/install_test.go
Due: copyright, go-mod-tidy

[kubernetes] Move WPA dependency so it's only imported in DCA
  pkg/clusteragent/autoscaling/externalmetrics/autoscaler_watcher.go
  pkg/util/kubernetes/apiserver/controllers/controller_util.go
  pkg/util/kubernetes/apiserver/controllers/wpa_controller.go
  pkg/util/kubernetes/apiserver/controllers/wpa_controller_test.go
  pkg/util/kubernetes/apiserver/util.go
Due: copyright, go-mod-tidy

specify required k8s version
  releasenotes/notes/kubelet_image_pull_duration_metrics-dee0e43d97e00fc7.yaml
Due: shell-check-no-set-x

Fix file owner test
  test/new-e2e/tests/installer/unix/package_apm_inject_test.go
Due: copyright, go-mod-tidy

add install info / selinux
  pkg/fleet/installer/installinfo/installinfo.go
  pkg/fleet/installer/installinfo/installinfo_test.go
  pkg/fleet/installer/packages/datadog_agent.go
  pkg/fleet/installer/packages/selinux/selinux.go
Due: copyright, go-mod-tidy

Update .gitlab/.pre/ci_configuration.yml
  .gitlab/.pre/ci_configuration.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[DJM] Enable debug logs from env var (#34990)
  pkg/fleet/installer/setup/djm/databricks.go
  pkg/fleet/installer/setup/djm/dataproc.go
  pkg/fleet/installer/setup/djm/emr.go
Due: copyright, go-mod-tidy

fix(slack_map): Update agent-integrations channel (#34992)
  tasks/libs/pipeline/github_slack_review_map.yaml
Due: shell-check-no-set-x

feat(ci): Replace slack webhooks by token (#34842)
  .github/workflows/bump_integrations_core.yml
  .github/workflows/create_rc_pr.yml
  tasks/release.py
Due: shell-check-no-set-x

[shellcheck-gitlab] Updated github action shellcheck
  .gitlab/.pre/ci_configuration.yml
  tasks/linter.py
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[shellcheck-gitlab] Changed is powershell condition
  tasks/linter.py
Due: none

[CWS/CSPM] remove the host metadata status part for the security agent (#34999)
  cmd/security-agent/main_windows.go
  cmd/security-agent/subcommands/start/command.go
Due: copyright, go-mod-tidy

upgrade(installer): Remove daemon dependency to run "status" command (#34893)
  cmd/installer/subcommands/daemon/api.go
  cmd/installer/subcommands/daemon/command.go
  cmd/installer/subcommands/daemon/status.go
  cmd/installer/subcommands/daemon/status.tmpl
  cmd/installer/subcommands/daemon/status_test.go
  pkg/fleet/daemon/local_api.go
  pkg/fleet/daemon/local_api_test.go
  pkg/fleet/installer/commands/command.go
  pkg/fleet/installer/commands/status.go
  pkg/fleet/installer/commands/status.tmpl
  pkg/fleet/installer/go.mod
  pkg/fleet/installer/go.sum
  test/new-e2e/tests/installer/unix/upgrade_scenario_test.go
  test/new-e2e/tests/installer/windows/suites/installer-package/base_installer_package_suite.go
  test/new-e2e/tests/installer/windows/suites/installer-package/install_test.go
Due: copyright, go-mod-tidy, check-go-modules-in-python

apm: fix data race in stats writer
  pkg/trace/writer/stats.go
  pkg/trace/writer/stats_test.go
Due: copyright, go-mod-tidy

add test on rename eaccess
  pkg/security/ebpf/c/include/hooks/rename.h
  pkg/security/tests/fim_test.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
Due: copyright, win-clang-format, go-mod-tidy

fix ocb issue
  comp/otelcol/otlp/components/exporter/logsagentexporter/factory.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/logs_exporter.go
Due: copyright, go-mod-tidy

add release note
  releasenotes/notes/statsrace-c56bd838484d6f5a.yaml
Due: shell-check-no-set-x

[e2e-token-duration] Changed duration to 3h
  .gitlab/e2e/e2e.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Add an error log when Oracle DB hostname cannot be determined (#34866)
  pkg/collector/corechecks/oracle/init.go
Due: copyright, go-mod-tidy

Add hostname resolution for OCB ddprofiling extension
  comp/otelcol/ddprofilingextension/impl/extension.go
  comp/otelcol/ddprofilingextension/impl/extension_test.go
  comp/otelcol/ddprofilingextension/impl/factory.go
Due: copyright, go-mod-tidy

ddExtension.NotifyConfig check conf is not nil
  comp/otelcol/ddflareextension/impl/extension.go
Due: copyright, go-mod-tidy

Fix panic when gwLookup has closed
  pkg/network/tracer/tracer.go
Due: copyright, go-mod-tidy

* Fix typo * Set profiler to auto
  pkg/fleet/installer/packages/apminject/apm_inject.go
  test/new-e2e/tests/installer/unix/package_apm_inject_test.go
Due: copyright, go-mod-tidy

[CTK-4739] support API key refresh in process agent (#34393)
  cmd/agent/subcommands/secret/command.go
  cmd/process-agent/api/secrets.go
  cmd/process-agent/api/server.go
  cmd/process-agent/api/util.go
  comp/process/apiserver/apiserver_test.go
  comp/process/bundle_test.go
  pkg/process/status/expvars.go
  test/fakeintake/client/client.go
  test/new-e2e/tests/process/config/core_agent_refresh_nix.yaml
  test/new-e2e/tests/process/config/process_agent_refresh_nix.yaml
  test/new-e2e/tests/process/config/process_agent_refresh_win.yaml
  test/new-e2e/tests/process/linux_test.go
  test/new-e2e/tests/process/testing.go
  test/new-e2e/tests/process/windows_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x
