Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$

Adding remote certificate collection
  cmd/agent/dist/conf.d/windows_certificate.d/conf.yaml.example
  pkg/collector/corechecks/system/windowscertificate/windows_certificate.go
  pkg/collector/corechecks/system/windowscertificate/windows_certificate_wnet.go
Due: copyright, go-mod-tidy

HACK test MatchField of iinterface name with regex.
  pkg/collector/corechecks/snmp/internal/report/report_utils.go
  pkg/config/config_template.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

bump dd-trace-go to v1.73.1
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/ddprofilingextension/impl/go.mod
  comp/otelcol/ddprofilingextension/impl/go.sum
  go.mod
  go.sum
  internal/tools/go.mod
  internal/tools/go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: go-mod-tidy, check-go-modules-in-python

`inv -e generate-licenses`
  LICENSE-3rdparty.csv
Due: none

wip
  b.txt
Due: none

Wip
  b.txt
Due: none

Remove dep on log from decoding code
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.mod
  comp/otelcol/otlp/components/processor/infraattributesprocessor/go.mod
  comp/otelcol/otlp/testutil/go.mod
  comp/trace/agent/def/go.mod
  comp/trace/agent/def/go.sum
  pkg/proto/go.mod
  pkg/proto/go.sum
  pkg/proto/pbgo/trace/idx/tracer_payload.go
  test/fakeintake/go.mod
  test/fakeintake/go.sum
Due: copyright, go-mod-tidy, check-go-modules-in-python

Fix bad reflection method
  pkg/collector/corechecks/net/networkv2/network_windows.go
Due: copyright, go-mod-tidy

[clusteragent/autoscaling/externalmetrics] Stop sending telemetry when associated `DatadogMetric` is deleted (#37427)
  pkg/clusteragent/autoscaling/externalmetrics/datadogmetric_controller.go
  releasenotes-dca/notes/clear-ddm-telemetry-on-delete-c899ecffd2138dd7.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

AGNTLOG-217 - fix panic during write failures in logs tcp destination (#37340)
  pkg/logs/client/tcp/destination.go
  pkg/logs/client/tcp/destination_test.go
  releasenotes/notes/tcp-destination-panic-85598c9c9884c5a3.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

add metrics for check runs
  comp/process/connectionscheck/connectionscheckimpl/check.go
  pkg/process/checks/net.go
Due: copyright, go-mod-tidy

update comment
  pkg/process/checks/net.go
Due: copyright, go-mod-tidy

setrlimit hook
  pkg/security/ebpf/c/include/constants/enums.h
  pkg/security/ebpf/c/include/events_definition.h
  pkg/security/ebpf/c/include/hooks/all.h
  pkg/security/ebpf/c/include/hooks/setrlimit.h
  pkg/security/ebpf/c/include/structs/syscalls.h
  pkg/security/ebpf/probes/all.go
  pkg/security/ebpf/probes/event_types.go
  pkg/security/ebpf/probes/setrlimit.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/category.go
  pkg/security/secl/model/events.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/unmarshallers_linux.go
Due: copyright, win-clang-format, go-mod-tidy

Skip test temporarily
  Dockerfiles/agent/test_image_contents.py
Due: none

Update proto definitions
  comp/core/remoteagentregistry/impl/remoteagentregistry.go
  pkg/proto/datadog/remoteagent/remoteagent.proto
  pkg/proto/pbgo/core/remoteagent.pb.go
Due: copyright, go-mod-tidy

[chore] update google.golang.org/genproto versions
  comp/core/tagger/fx-remote/go.mod
  comp/core/tagger/fx-remote/go.sum
  comp/core/tagger/impl-remote/go.mod
  comp/core/tagger/impl-remote/go.sum
  comp/otelcol/collector-contrib/def/go.mod
  comp/otelcol/collector-contrib/def/go.sum
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  comp/otelcol/otlp/components/connector/datadogconnector/go.mod
  comp/otelcol/otlp/components/connector/datadogconnector/go.sum
  comp/otelcol/otlp/components/processor/infraattributesprocessor/go.mod
  comp/otelcol/otlp/components/processor/infraattributesprocessor/go.sum
  go.mod
  go.sum
  internal/tools/proto/go.mod
  internal/tools/proto/go.sum
  pkg/config/remote/go.mod
  pkg/config/remote/go.sum
  pkg/proto/go.mod
  pkg/proto/go.sum
  pkg/trace/go.sum
  pkg/util/grpc/go.mod
  pkg/util/grpc/go.sum
  test/new-e2e/go.sum
Due: go-mod-tidy, check-go-modules-in-python

fix check related tests to mock statsd client
  comp/process/connectionscheck/connectionscheckimpl/check_darwin_test.go
  comp/process/connectionscheck/connectionscheckimpl/check_test.go
Due: copyright, go-mod-tidy

Fetch image from workloadmeta before pruning
  pkg/sbom/scanner/scanner.go
Due: copyright, go-mod-tidy

Added debug log
  pkg/logs/internal/decoder/auto_multiline_detection/user_samples.go
Due: copyright, go-mod-tidy

Update cmd/agent/dist/conf.d/network_path.d/conf.yaml.example
  cmd/agent/dist/conf.d/network_path.d/conf.yaml.example
Due: none

Document auto_multi_line_detection in config template
  pkg/config/config_template.yaml
Due: shell-check-no-set-x

Update pkg/config/config_template.yaml
  pkg/config/config_template.yaml
Due: shell-check-no-set-x

Revert "omnibus: update libffi from 3.2.1 to 3.4.8 (#37451)"
  omnibus/config/patches/libffi/libffi-3.2.1-disable-multi-os-directory.patch
  omnibus/config/software/libffi.rb
Due: none

JMW add a couple of telemetry histograms
  comp/netflow/flowaggregator/aggregator.go
Due: copyright, go-mod-tidy

start services in watchdog
  pkg/fleet/installer/packages/datadog_agent_windows.go
Due: copyright, go-mod-tidy

Add logs
  comp/core/workloadmeta/collectors/internal/remote/sbomcollector/sbom_collector.go
  pkg/collector/corechecks/sbom/processor.go
  pkg/security/module/server_linux.go
Due: copyright, go-mod-tidy

Fix wrong cast for ebpfless
  pkg/security/module/server_linux.go
Due: copyright, go-mod-tidy

Fail when no OS component was found
  pkg/security/resolvers/sbom/resolver.go
Due: copyright, go-mod-tidy

Search image based on its name or repo digests
  pkg/collector/corechecks/sbom/processor.go
Due: copyright, go-mod-tidy

Adjust Histogram buckets, try Distribution again
  comp/core/telemetry/options.go
  comp/netflow/flowaggregator/aggregator.go
Due: copyright, go-mod-tidy

removing unnecessary comment
  pkg/diagnose/connectivity/endpoint_info.go
Due: copyright, go-mod-tidy

WIP
  pkg/fleet/installer/installer.go
  pkg/fleet/installer/packages/datadog_agent_windows.go
  test/new-e2e/tests/installer/windows/suites/agent-package/config_test.go
Due: copyright, go-mod-tidy

add local api to override configs
  cmd/installer/subcommands/daemon/api.go
  pkg/fleet/daemon/daemon.go
  pkg/fleet/daemon/local_api.go
Due: copyright, go-mod-tidy

fix size of tcp_recvmsg eBPF map
  pkg/network/ebpf/c/tracer/maps.h
  pkg/network/tracer/connection/ebpf_tracer.go
Due: copyright, win-clang-format, go-mod-tidy

Fix extra tags windows check does not have
  pkg/collector/corechecks/net/networkv2/network_windows_test.go
Due: copyright, go-mod-tidy
