Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$

Update release.json
  release.json
Due: none

Implement a "repackaging mode" for Omnibus (with hardcoded base package)
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/existing-agent-package.rb
  omnibus/config/software/package-artifact.rb
  omnibus/lib/project_helpers.rb
Due: none

Support using relative path in local packages
  tasks/new_e2e_tests.py
Due: none

Add a wrapping omnibus task for the local repackaging build
  tasks/omnibus.py
Due: none

Fetch latest nightly deb package as base for the repackaged build
  omnibus/config/software/existing-agent-package.rb
  omnibus/lib/project_helpers.rb
  tasks/omnibus.py
  tasks/unit_tests/omnibus_tests.py
Due: none

Remove env variables that are now expected to be taken from the buildimages
  tasks/omnibus.py
Due: none

Pick up base package based on detected architecture
  tasks/omnibus.py
  tasks/unit_tests/omnibus_tests.py
Due: none

Update docs/public/guidelines/contributing.md
  docs/public/guidelines/contributing.md
Due: none

fix image name
  .gitlab-ci.yml
  .gitlab/lint/windows.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Update tasks/new_e2e_tests.py
  tasks/new_e2e_tests.py
Due: none

feat(PR): small improvements
  tasks/libs/package/size.py
  tasks/quality_gates.py
  tasks/static_quality_gates/lib/gates_lib.py
Due: none

[EBPF] kmt: disable complexity collection in amazon 5.4 (#36815)
  .gitlab/kernel_matrix_testing/common.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

feat(token): set access token
  tasks/quality_gates.py
Due: none

init new consumer
  pkg/network/usm/monitor_tls_test.go
Due: copyright, go-mod-tidy

Update xmlsec
  omnibus/config/software/xmlsec.rb
Due: none

fix(invoke): fix unit tests
  tasks/unit_tests/quality_gates_tests.py
Due: none

fix snmp trailing 0s string decoding
  pkg/snmp/gosnmplib/gosnmp_utils.go
  pkg/snmp/gosnmplib/gosnmp_utils_test.go
Due: copyright, go-mod-tidy

Pin ints core to head of `7.67.x` branch (#37003)
  release.json
Due: none

feat(renovate): Add a `stop updating` capability for renovate updates (#36956)
  renovate.json
  tasks/issue.py
Due: none

fix(github_api): Apply suggestions from source code analysis (#36959)
  tasks/libs/ciproviders/github_api.py
Due: none

(fleet) remove the agent OCI on DEB/RPM installs
  pkg/fleet/installer/packages/apm_inject_linux.go
  pkg/fleet/installer/packages/datadog_agent_linux.go
  pkg/fleet/installer/packages/packagemanager/package_manager.go
Due: copyright, go-mod-tidy

(fleet) remove the datadog-agent OCI during DEB/RPM installs
  omnibus/package-scripts/agent-deb/preinst
  omnibus/package-scripts/agent-rpm/preinst
Due: none

[AMCC-28] dogstatsd: do not ack a config that has been reported as an error (#36992)
  comp/dogstatsd/server/rc.go
  comp/dogstatsd/server/rc_test.go
Due: copyright, go-mod-tidy

Small edit to the 7.65.1 changelog (#37010)
  CHANGELOG-DCA.rst
Due: none

usm: redis: Remove user-mode struct duplication (#37007)
  pkg/network/ebpf/c/protocols/redis/types.h
  pkg/network/protocols/redis/client.go
  pkg/network/protocols/redis/model_common.go
  pkg/network/protocols/redis/model_linux.go
  pkg/network/protocols/redis/server.go
  pkg/network/protocols/redis/stats.go
  pkg/network/protocols/redis/statskeeper.go
  pkg/network/protocols/redis/types.go
  pkg/network/protocols/redis/types_linux.go
Due: copyright, win-clang-format, go-mod-tidy

Disable CentOS 8
  .gitlab/kernel_matrix_testing/common.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

feat(documentation): Update the contributing page to require signed commits (#36977)
  docs/public/guidelines/contributing.md
Due: none

Make the scatter mechanism a number of seconds
  comp/core/secrets/secretsimpl/secrets.go
Due: copyright, go-mod-tidy

Fix status page showing 0s refresh rate
  comp/core/secrets/secretsimpl/info_nix_test.go
  comp/core/secrets/secretsimpl/secrets.go
Due: copyright, go-mod-tidy

Fix secret refresh not being enabled when nobody subscribes to secret update
  comp/core/secrets/secretsimpl/secrets.go
  comp/core/secrets/secretsimpl/secrets_test.go
Due: copyright, go-mod-tidy

Implement a repackaging based faster local package build (#36423)
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/existing-agent-package.rb
  omnibus/config/software/package-artifact.rb
  omnibus/lib/project_helpers.rb
  tasks/omnibus.py
  tasks/unit_tests/omnibus_tests.py
Due: none

removed TelemetryMaxAPIVersion
  pkg/network/ebpf/c/protocols/kafka/defs.h
  pkg/network/protocols/kafka/kernel_telemetry.go
  pkg/network/protocols/kafka/types.go
  pkg/network/protocols/kafka/types_linux.go
Due: copyright, win-clang-format, go-mod-tidy

Update release.json with current milestone to 7.68.0
  release.json
Due: none

Handle EAGAIN returned by io_connect
  pkg/security/ebpf/c/include/hooks/network/connect.h
  pkg/security/tests/connect_test.go
Due: copyright, win-clang-format, go-mod-tidy

update hostname doc
  pkg/util/hostname/README.md
Due: none

Skip tls validation
  test/new-e2e/tests/installer/unix/package_definitions.go
Due: copyright, go-mod-tidy

fix verifier errors on non-CO-RE
  pkg/network/ebpf/c/protocols/kafka/kafka-parsing.h
Due: win-clang-format

omnibus: update libxml2 to 2.14.3 (#36983)
  omnibus/config/software/libxml2.rb
  omnibus/config/software/xmlsec.rb
Due: none
