Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: dda inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

gitlab-lint-jobs-codeowners:
  name: gitlab-lint-jobs-codeowners
  description: lint the gitlab configuration to verify jobs codeowners
  entry: dda inv linter.gitlab-ci-jobs-codeowners
  language: system
  require_serial: true
  pass_filenames: false

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Add signing scripts
  tools/ci/signing/sign_deb_package.sh
  tools/ci/signing/sign_rpm_package.sh
Due: shell-check-no-set-x

Pass canonical target to `swiftc` on AArch64/ARM64 (#39641)
  omnibus/config/software/datadog-agent.rb
Due: none

pass the source to the python checks constructor
  pkg/collector/python/check.go
  pkg/collector/python/test_check.go
  pkg/collector/python/test_loader.go
  rtloader/include/datadog_agent_rtloader.h
  rtloader/include/rtloader.h
  rtloader/rtloader/api.cpp
  rtloader/three/three.cpp
  rtloader/three/three.h
Due: copyright, win-clang-format, go-mod-tidy

[PROF-12108] Profiling multi-region failover support
  cmd/agent/subcommands/run/command.go
  comp/otelcol/ddprofilingextension/impl/extension_test.go
  comp/remote-config/rcclient/rcclientimpl/agent_failover.go
  comp/remote-config/rcclient/rcclientimpl/rcclient.go
  comp/remote-config/rcclient/rcclientimpl/rcclient_test.go
  comp/trace/config/config_test.go
  comp/trace/config/setup.go
  pkg/config/setup/multi_region_failover.go
  pkg/trace/api/profiles.go
  pkg/trace/api/profiles_test.go
  pkg/trace/config/config.go
  pkg/trace/info/info.go
  pkg/trace/info/info_test.go
  pkg/trace/remoteconfighandler/agent_failover.go
  pkg/trace/remoteconfighandler/remote_config_handler.go
  pkg/trace/remoteconfighandler/remote_config_handler_test.go
Due: copyright, go-mod-tidy

[ksm] Migrate from Kubelet pod watcher to workloadmeta
  cmd/cluster-agent/subcommands/start/command.go
  comp/core/workloadmeta/collectors/internal/kubelet/kubelet.go
  comp/core/workloadmeta/collectors/internal/kubelet/kubelet_test.go
  comp/core/workloadmeta/def/types.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_aggregators_test.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_test.go
  pkg/collector/corechecks/cluster/ksm/stub.go
  pkg/commonchecks/corechecks.go
  pkg/kubestatemetrics/builder/builder.go
  pkg/kubestatemetrics/builder/kubelet_pods.go
  pkg/kubestatemetrics/builder/kubelet_pods_stub.go
  pkg/kubestatemetrics/builder/kubelet_pods_test.go
  pkg/kubestatemetrics/builder/workloadmeta_conversion.go
  pkg/kubestatemetrics/builder/workloadmeta_conversion_test.go
  pkg/kubestatemetrics/builder/workloadmeta_pods.go
  pkg/kubestatemetrics/builder/workloadmeta_pods_stub.go
  pkg/kubestatemetrics/builder/workloadmeta_pods_test.go
  pkg/util/kubernetes/kubelet/conversion.go
  pkg/util/kubernetes/kubelet/conversion_test.go
Due: copyright, go-mod-tidy

update create_rc_pr.yml
  .github/workflows/create_rc_pr.yml
Due: shell-check-no-set-x

Migrate processes to WorkloadFilter
  cmd/process-agent/subcommands/check/check.go
  comp/core/workloadfilter/catalog/process.go
  comp/core/workloadfilter/catalog/utils.go
  comp/core/workloadfilter/catalog/utils_test.go
  comp/core/workloadfilter/def/component.go
  comp/core/workloadfilter/def/proto/filter.pb.go
  comp/core/workloadfilter/def/proto/filter.proto
  comp/core/workloadfilter/def/types.go
  comp/core/workloadfilter/def/types_test.go
  comp/core/workloadfilter/impl/filter.go
  comp/core/workloadfilter/impl/filter_test.go
  comp/process/bundle_test.go
  comp/process/processcheck/processcheckimpl/check.go
  comp/process/processcheck/processcheckimpl/check_linux_test.go
  comp/process/processcheck/processcheckimpl/check_test.go
  pkg/process/checks/process.go
  pkg/process/checks/process_nix_test.go
  pkg/process/checks/process_test.go
  pkg/process/runner/runner_test.go
Due: copyright, go-mod-tidy, protocol-buffer

Fixes
  .gitlab/e2e_testing_deploy/e2e_deploy.yml
  tools/ci/signing/sign_deb_package.sh
  tools/ci/signing/sign_rpm_package.sh
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Replace inheritance with composition
  tasks/quality_gates.py
  tasks/static_quality_gates/lib/gates.py
  tasks/static_quality_gates/lib/gates_lib.py
  tasks/static_quality_gates/lib/static_quality_gates_reporter.py
  tasks/unit_tests/quality_gates_tests.py
  tasks/unit_tests/quality_lib_tests.py
  tasks/unit_tests/static_quality_gates_reporter_tests.py
  tasks/unit_tests/static_quality_gates_tests.py
Due: none

Remove unused test file
  tasks/static_quality_gates/lib/static_quality_gates_test.yaml
Due: shell-check-no-set-x

Add decode fuzzer
  pkg/dyninst/decode/decoder_test.go
Due: copyright, go-mod-tidy

Add loclist fuzzer
  pkg/dyninst/dwarf/loclist/fuzz_test.go
Due: copyright, go-mod-tidy

add object fuzzer
  pkg/dyninst/object/fuzz_test.go
Due: copyright, go-mod-tidy

Add procmon fuzzer
  pkg/dyninst/procmon/analyze_fuzz_test.go
Due: copyright, go-mod-tidy

Enable linux_bpf tags to be run in fuzzing infra
  tasks/fuzz_infra.py
Due: none

inv tidy
  comp/otelcol/logsagentpipeline/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
Due: check-go-modules-in-python, protocol-buffer

Fix minimal-full-config
  test/new-e2e/tests/otel/otel-agent/testdata/minimal-full-config.yml
Due: shell-check-no-set-x

Simplify the code structure of SQG
  tasks/quality_gates.py
  tasks/static_quality_gates/gates.py
  tasks/static_quality_gates/gates_reporter.py
  tasks/unit_tests/static_quality_gates_reporter_tests.py
  tasks/unit_tests/static_quality_gates_tests.py
Due: none

Update jmxfetch omnibus code to new sonatype snapshot url format
  omnibus/config/software/jmxfetch.rb
Due: none

chore: disable every corecheck except for cpu check
  cmd/agent/dist/conf.d/apm.yaml.example
  cmd/agent/dist/conf.d/container_image.d/conf.yaml.example
  cmd/agent/dist/conf.d/container_lifecycle.d/conf.yaml.example
  cmd/agent/dist/conf.d/cpu.d/conf.yaml.example
  cmd/agent/dist/conf.d/disk.d/conf.yaml.example
  cmd/agent/dist/conf.d/file_handle.d/conf.yaml.example
  cmd/agent/dist/conf.d/io.d/conf.yaml.example
  cmd/agent/dist/conf.d/load.d/conf.yaml.example
  cmd/agent/dist/conf.d/memory.d/conf.yaml.example
  cmd/agent/dist/conf.d/ntp.d/conf.yaml.example
  cmd/agent/dist/conf.d/process_agent.yaml.example
  cmd/agent/dist/conf.d/telemetry.d/conf.yaml.example
  cmd/agent/dist/conf.d/uptime.d/conf.yaml.example
Due: none

fix: remove apm and process-agent init in agent.build invoke task
  tasks/agent.py
Due: none

feat(fleet): Add datadog-installer.exe as OCI layer (#39513)
  .gitlab/package_build/installer.yml
  .gitlab/package_build/windows.yml
  pkg/fleet/installer/bootstrap/bootstrap_windows.go
  tasks/winbuildscripts/Generate-OCIPackage.ps1
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[CIEXE-1103]Make vault read generalizable for omnibus tests (#39563)
  tasks/libs/common/omnibus.py
  tasks/unit_tests/omnibus_tests.py
Due: none

Sign packages one by one
  .gitlab/e2e_testing_deploy/e2e_deploy.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Profiler - Add better log diagnostics
  pkg/trace/api/profiles.go
Due: copyright, go-mod-tidy

Fix scripts
  tools/ci/signing/sign_deb_package.sh
  tools/ci/signing/sign_rpm_package.sh
Due: shell-check-no-set-x

process-agent init fx
  cmd/process-agent/command/main_common.go
Due: copyright, go-mod-tidy

feat: commit shared libraries metrics so that they can be seen in the dashboard
  pkg/collector/sharedlibrary/check.go
Due: copyright, go-mod-tidy

Enable GCE CCRID detection (#39658)
  pkg/util/cloudproviders/cloudproviders.go
  pkg/util/cloudproviders/gce/gce.go
  pkg/util/cloudproviders/gce/gce_test.go
Due: copyright, go-mod-tidy

[NDINT-290] Separate out Analytics parsers (#39357)
  pkg/collector/corechecks/network-devices/versa/client/client.go
  pkg/collector/corechecks/network-devices/versa/client/client_test.go
  pkg/collector/corechecks/network-devices/versa/client/parser.go
  pkg/collector/corechecks/network-devices/versa/client/parser_test.go
Due: copyright, go-mod-tidy

[CWS] Fix Flaky IOUring Connect Test (#39363)
  pkg/security/tests/connect_test.go
  pkg/security/tests/filters_test.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
Due: copyright, win-clang-format, go-mod-tidy

Activate remote tagger in CLC runner by default
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

add release note
  releasenotes/notes/activate_remote_tagger_in_clc_runner-c96e4bca48ea793b.yaml
Due: shell-check-no-set-x

feat(fleet): Add aditional RUNPATH to /opt/datadog-packages/datadog-agent/stable
  omnibus/config/software/datadog-agent-finalize.rb
  pkg/fleet/installer/packages/embedded/templates/datadog-agent-ddot.service.tmpl
  pkg/fleet/installer/packages/embedded/templates/datadog-agent-installer.service.tmpl
  pkg/fleet/installer/packages/embedded/templates/datadog-agent-process.service.tmpl
  pkg/fleet/installer/packages/embedded/templates/datadog-agent-security.service.tmpl
  pkg/fleet/installer/packages/embedded/templates/datadog-agent-sysprobe.service.tmpl
  pkg/fleet/installer/packages/embedded/templates/datadog-agent-trace.service.tmpl
  pkg/fleet/installer/packages/embedded/templates/datadog-agent.service.tmpl
  tasks/omnibus.py
  tasks/unit_tests/omnibus_tests.py
Due: none

CONTINT-4754: removed debug logging
  pkg/collector/corechecks/cluster/ksm/customresources/deployment.go
  pkg/collector/corechecks/cluster/ksm/customresources/job.go
  pkg/collector/corechecks/cluster/ksm/customresources/node.go
  pkg/collector/corechecks/cluster/ksm/customresources/statefulset.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
  pkg/collector/corechecks/cluster/ksm/kubernetes_state_transformers.go
Due: copyright, go-mod-tidy

feat: combined all of project into single commit
  comp/logs/agent/config/config.go
  comp/logs/agent/config/config_test.go
  comp/logs/agent/config/integration_config.go
  comp/logs/agent/config/integration_config_test.go
  comp/logs/auditor/def/types.go
  comp/logs/auditor/impl-none/auditor_noop.go
  comp/logs/auditor/impl/api_v2_test.go
  comp/logs/auditor/impl/auditor.go
  comp/logs/auditor/impl/auditor_test.go
  comp/logs/auditor/mock/auditor_mock.go
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks_test.go
  pkg/config/setup/config.go
  pkg/logs/launchers/file/launcher.go
  pkg/logs/launchers/file/launcher_test.go
  pkg/logs/launchers/file/position.go
  pkg/logs/launchers/file/position_test.go
  pkg/logs/message/origin.go
  pkg/logs/tailers/file/fingerprint.go
  pkg/logs/tailers/file/fingerprint_test.go
  pkg/logs/tailers/file/rotate_nix.go
  pkg/logs/tailers/file/rotate_windows.go
  pkg/logs/tailers/file/tailer.go
  releasenotes/notes/fingerprinting-logic-a51a9e92474ba9ef.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
