Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

.pre-commit-config.yaml:

default_language_version:
  python: python3
default_install_hook_types:
  - pre-commit
  - pre-push
default_stages:
  - pre-commit

repos:
- repo: https://github.com/pycqa/flake8
  rev: c6e0d27593a45342ffa96a18bba708a5aab32fdf # 3.9.2 should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==21.11.28
        - flake8-comprehensions==3.7.0
        - flake8-unused-arguments==0.0.6
        - flake8-use-fstring==1.3.0
- repo: https://github.com/psf/black
  rev: ae2c0758c9e61a385df9700dc9c231bf54887041 # 22.3.0
  hooks:
    - id: black
- repo: https://github.com/timothycrosley/isort/
  rev: e44834b7b294701f596c9118d6c370f86671a50d # 5.12.0
  hooks:
    - id: isort
- repo: https://github.com/jendrikseipp/vulture
  rev: 44aed44e226ec0e5660851462f764ec5d5da957c # v2.3
  hooks:
    - id: vulture
      args: ["--ignore-decorators", "@task", "--ignore-names", "test_*,Test*", "tasks"]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 7cc5848088fd8412905ab79feea6c8edc3ac76c6 # 2.1.5
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: bd69b816c43306f28bad4d7b303d981b0ecd2fd5 # v1.0.0-beta.5
  hooks:
    - id: go-fmt
      args: [ "-w", "-s" ]
- repo: local
  hooks:
    - id: protected-branches
      name: protected-branches
      description: checks that the commit isn't created on a protected branch
      entry: 'python3 tasks/git-hooks/protected-branches.py'
      language: system
      pass_filenames: false
    - id: revive
      name: revive
      description: revive
      entry: 'python3 tasks/git-hooks/revive.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: copyright
      name: copyright
      description: copyright headers
      entry: 'python3 -m tasks.git-hooks.copyright'
      language: system
      require_serial: true
      files: \.go$
    - id: win-clang-format
      name: win-clang-format
      description: clang-format
      entry: './tasks/git-hooks/wincpplang.py'
      language: system
      types_or: [c, c++, c#]
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 tasks/git-hooks/clang-format.py'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'
    - id: go-mod-tidy
      name: go-mod-tidy
      description: check that all go.mod files are tidy
      entry: 'python3 -m tasks.git-hooks.go-mod-tidy'
      language: system
      require_serial: true
      files: (\.go|^go\.mod|^go\.sum)$
      # no need to pass filenames, all go.mod have to be tidied anyway
      pass_filenames: false
      # inv tidy-all takes several seconds so only run it on pre-push
      stages: [pre-push]
    - id: go-test
      name: go-test
      description: run go test on modified packages
      entry: 'inv test --only-modified-packages'
      language: system
      require_serial: true
      always_run: true
      pass_filenames: false
      stages: [pre-push]
    - id: shell-check-no-set-x
      name: shell-check-no-set-x
      description: check that no `set -x` is set within github / gitlab workflows
      entry: inv pre-commit.shell-check-no-set-x
      language: system
      require_serial: true
      files: (\.yaml|\.yml|\.sh|Dockerfile)$
      pass_filenames: false
    - id: gitlab-configuration
      name: gitlab-configuration
      description: test the gitlab configuration on main
      entry: 'inv linter.gitlab-ci -t main'
      language: system
      require_serial: true
      files: .*gitlab.*\.yml$
      pass_filenames: false
      stages: [pre-push]

[CWS] add mount origin and source
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  pkg/security/probe/field_handlers_ebpf.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/resolvers/mount/interface.go
  pkg/security/resolvers/mount/no_op_resolver.go
  pkg/security/resolvers/mount/resolver.go
  pkg/security/resolvers/mount/resolver_test.go
  pkg/security/resolvers/path/interface.go
  pkg/security/resolvers/path/no_op_resolver.go
  pkg/security/resolvers/path/resolver.go
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/secl/model/model_helpers_unix.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/unmarshallers_linux.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/serializers/serializers_linux_easyjson.go
  pkg/security/tests/mount_test.go
  pkg/security/tests/schemas.go
  pkg/security/tests/schemas/file.json
  pkg/security/tests/schemas/process.json
Due: revive, govet, copyright, go-mod-tidy

fix schema
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/secl/model/model_helpers_unix.go
  pkg/security/tests/schemas/file.json
  pkg/security/tests/schemas/process.json
Due: revive, govet, copyright, go-mod-tidy

check source/origin in tests
  pkg/security/secl/model/model_helpers_unix.go
  pkg/security/tests/mount_test.go
Due: revive, govet, copyright, go-mod-tidy

usm: classification: tls: Classify postgres
  pkg/network/ebpf/c/protocols/tls/https.h
Due: clang-format

usm: postgres: tests: Modify client to support TLS connection
  pkg/network/protocols/postgres/testutils.go
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/network/usm/postgres_monitor_test.go
Due: revive, govet, copyright, go-mod-tidy

usm: postgres: tests: Docker server supports TLS
  pkg/network/protocols/postgres/server.go
  pkg/network/protocols/postgres/testdata/docker-compose.yml
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/network/usm/postgres_monitor_test.go
Due: revive, govet, copyright, go-mod-tidy, shell-check-no-set-x

usm: postgres: generalize testPostgresProtocolClassification to support both plaintext and tls
  pkg/network/tracer/tracer_usm_linux_test.go
Due: revive, govet, copyright, go-mod-tidy

wip
  go.mod
  go.sum
  pkg/network/ebpf/c/protocols/mysql/helpers.h
  pkg/network/ebpf/c/protocols/postgres/decoding.h
  pkg/network/ebpf/c/protocols/postgres/defs.h
  pkg/network/ebpf/c/protocols/postgres/helpers.h
  pkg/network/ebpf/c/protocols/sql/helpers.h
  pkg/network/ebpf/c/protocols/tls/https.h
  pkg/network/ebpf/c/protocols/tls/native-tls.h
  pkg/network/protocols/postgres/testutils.go
  pkg/network/tracer/tracer_usm_linux_test.go
  pkg/network/usm/postgres_monitor_test.go
Due: revive, govet, copyright, clang-format, go-mod-tidy

Use the latest api client version in e2e tests (#25814)
  cmd/security-agent/subcommands/runtime/command.go
  test/e2e/cws-tests/tests/lib/cws/app.py
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/tests/cws/api/security.go
Due: revive, govet, copyright, go-mod-tidy

PR review
  comp/core/tagger/taggerimpl/collectors/workloadmeta_test.go
  comp/core/workloadmeta/collectors/internal/cloudfoundry/vm/cf_vm_test.go
  comp/core/workloadmeta/collectors/internal/kubemetadata/kubemetadata.go
  comp/core/workloadmeta/collectors/internal/kubemetadata/kubemetadata_test.go
  pkg/util/clusteragent/clusteragent.go
  releasenotes-dca/notes/support_ns_annots_as_tags-7dcd19109a7d3f9e.yaml
  releasenotes/notes/support_ns_annots_as_tags-76aab85969e9a985.yaml
Due: revive, govet, copyright, go-mod-tidy, shell-check-no-set-x

wip
  pkg/network/ebpf/c/protocols/tls/https.h
  pkg/network/ebpf/c/protocols/tls/native-tls.h
Due: clang-format

[USM] Fix issue in postgres table name extraction (#25807)
  pkg/network/protocols/postgres/model_linux.go
  pkg/network/protocols/postgres/model_linux_test.go
Due: revive, govet, copyright, go-mod-tidy

[ASCII-1434] Migrate metadata endpoints to providers (#25336)
  comp/api/api/apiimpl/api.go
  comp/api/api/apiimpl/internal/agent/agent.go
  comp/api/api/apiimpl/internal/agent/agent_test.go
  comp/api/api/apiimpl/server.go
  comp/api/api/apiimpl/server_cmd.go
  comp/metadata/host/hostimpl/host.go
  comp/metadata/host/hostimpl/mock.go
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent.go
  comp/metadata/inventoryagent/inventoryagentimpl/mock.go
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks.go
  comp/metadata/inventorychecks/inventorychecksimpl/mock.go
  comp/metadata/inventoryhost/inventoryhostimpl/inventoryhost.go
  comp/metadata/inventoryhost/inventoryhostimpl/inventoryhost_mock.go
  comp/metadata/packagesigning/packagesigningimpl/mock.go
  comp/metadata/packagesigning/packagesigningimpl/packagesigning.go
  pkg/collector/corechecks/systemd/systemd_test.go
Due: revive, govet, copyright, go-mod-tidy

Move statsd server endpoint to separate file
  comp/dogstatsd/server/server.go
  comp/dogstatsd/server/stats_endpoint.go
Due: revive, govet, copyright, go-mod-tidy

Update buildimages ID to v34815905-ae40295e
  .circleci/config.yml
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration

update e2e tests
  test/new-e2e/tests/agent-shared-components/api/api_test.go
Due: revive, govet, copyright, go-mod-tidy

compute compressed container id
  pkg/security/ebpf/c/include/helpers/container.h
  pkg/security/ebpf/c/include/helpers/process.h
  pkg/security/ebpf/c/include/helpers/utils.h
  pkg/security/ebpf/c/include/hooks/cgroup.h
  pkg/security/ebpf/c/include/structs/process.h
Due: clang-format

address PR issues.
  comp/otelcol/otlp/components/pipeline/provider/go.mod
  pkg/collector/corechecks/servicediscovery/service_detector.go
  pkg/collector/corechecks/servicediscovery/usm/php.go
  pkg/collector/corechecks/servicediscovery/usm/tomcat.go
Due: revive, govet, copyright, go-mod-tidy

chore: rename replaydef imports to replay
  comp/dogstatsd/replay/impl/util_linux.go
  comp/dogstatsd/replay/impl/writer.go
  comp/dogstatsd/replay/impl/writer_test.go
  comp/dogstatsd/replay/mock/mock.go
  comp/dogstatsd/server/server_test.go
Due: revive, govet, copyright, go-mod-tidy

Add filters on agent rule creation
  test/new-e2e/tests/cws/api/security.go
  test/new-e2e/tests/cws/ec2_test.go
  test/new-e2e/tests/cws/windows_test.go
Due: revive, govet, copyright, go-mod-tidy

fix(junit): Upload junit for kitchen secagent and tweak the filepath for correct ownership assignation in kitchen testing
  .gitlab/functional_test/security_agent.yml
  tasks/libs/common/junit_upload_core.py
Due: shell-check-no-set-x, gitlab-configuration

do not report datadog-agent or livenessprobe as services
  pkg/collector/corechecks/servicediscovery/impl_linux.go
Due: revive, govet, copyright, go-mod-tidy

Updates from comments to simplify the endoint implementation for demultiplexer
  comp/aggregator/demultiplexer/demultiplexerimpl/demultiplexer.go
Due: revive, govet, copyright, go-mod-tidy

fix proc cache marshalling
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/secl/model/marshallers_linux.go
Due: revive, govet, copyright, go-mod-tidy

[ASCII-1434] Migrate config routes to providers (#25440)
  cmd/cluster-agent/api/agent/agent.go
  cmd/process-agent/api/server.go
  cmd/security-agent/api/agent/agent.go
  cmd/system-probe/api/config.go
  comp/api/api/apiimpl/api.go
  comp/api/api/apiimpl/api_test.go
  comp/api/api/apiimpl/internal/agent/agent.go
  comp/api/api/apiimpl/internal/agent/agent_test.go
  comp/api/api/apiimpl/server.go
  comp/api/api/apiimpl/server_cmd.go
  comp/core/settings/component.go
  comp/core/settings/settingsimpl/settings_mock.go
  comp/core/settings/settingsimpl/settingsimpl.go
  comp/core/settings/settingsimpl/settingsimpl_test.go
Due: revive, govet, copyright, go-mod-tidy

handle windows linter
  pkg/serverless/proc/clock_unix.go
  pkg/serverless/proc/clock_windows.go
  pkg/serverless/proc/proc.go
Due: revive, govet, copyright, go-mod-tidy

Add copyright to new file
  comp/dogstatsd/server/stats_endpoint.go
Due: revive, govet, copyright, go-mod-tidy

[CWS] limit process tree depth when serializing events
  docs/cloud-workload-security/backend.md
  docs/cloud-workload-security/backend.schema.json
  pkg/security/serializers/serializers_base.go
  pkg/security/serializers/serializers_base_linux_easyjson.go
  pkg/security/serializers/serializers_linux.go
Due: revive, govet, copyright, go-mod-tidy

retry on job timeout
  .gitlab/kernel_matrix_testing/security_agent.yml
  .gitlab/kernel_matrix_testing/system_probe.yml
Due: shell-check-no-set-x, gitlab-configuration

[workloadmeta/kubeapiserver] Use kube informers client
  comp/core/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver.go
Due: revive, govet, copyright, go-mod-tidy

Add release note
  releasenotes-dca/notes/kubeapiserver-wlmeta-informers-client-68de7f69c589480f.yaml
Due: shell-check-no-set-x

hide_project_coverage: true
  .codecov.yml
Due: shell-check-no-set-x

usm: Allow using eventstream instead of netlink
  cmd/system-probe/modules/eventmonitor.go
  pkg/config/setup/system_probe.go
  pkg/eventmonitor/testutil/testutil.go
  pkg/network/config/config.go
  pkg/network/config/config_test.go
  pkg/network/usm/ebpf_javatls_test.go
  pkg/network/usm/monitor.go
  pkg/network/usm/monitor_tls_test.go
  pkg/network/usm/sharedlibraries/watcher_test.go
  pkg/process/monitor/process_monitor.go
  pkg/process/monitor/process_monitor_test.go
  pkg/process/monitor/testutil/testutil.go
Due: revive, govet, copyright, go-mod-tidy

usm: process monitor: Make test wait for exit events
  pkg/process/monitor/process_monitor_test.go
Due: revive, govet, copyright, go-mod-tidy

move retry and timeout to sharedblock
  .gitlab/kernel_matrix_testing/security_agent.yml
  .gitlab/kernel_matrix_testing/system_probe.yml
Due: shell-check-no-set-x, gitlab-configuration

Updates generated file to prevent mismatch between aggregation and backend remapping
  pkg/trace/go.mod
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/concentrator_test.go
  pkg/trace/stats/peer_tags.ini
Due: revive, govet, copyright, go-mod-tidy

add more scenarios to trigger retries
  test/new-e2e/system-probe/errors.go
Due: revive, govet, copyright, go-mod-tidy

add error types to enum
  test/new-e2e/system-probe/errors.go
Due: revive, govet, copyright, go-mod-tidy

Update go.mod
  pkg/trace/go.mod
Due: none

[CI/Tooling] Remove Windows 32 bits usecase in the invoke tasks (#21240)
  .gitlab/source_test/ebpf.yml
  omnibus/config/software/datadog-agent.rb
  omnibus/config/software/datadog-iot-agent.rb
  tasks/agent.py
  tasks/agentless_scanner.py
  tasks/bench.py
  tasks/build_tags.py
  tasks/cluster_agent_helpers.py
  tasks/cws_instrumentation.py
  tasks/devcontainer.py
  tasks/diff.py
  tasks/dogstatsd.py
  tasks/emacs.py
  tasks/go.py
  tasks/go_test.py
  tasks/installer.py
  tasks/linter.py
  tasks/msi.py
  tasks/process_agent.py
  tasks/rtloader.py
  tasks/security_agent.py
  tasks/system_probe.py
  tasks/systray.py
  tasks/trace_agent.py
  tasks/vscode.py
  tasks/winbuildscripts/Generate-Pyzip.md
  tasks/winbuildscripts/Generate-Pyzip.ps1
  tasks/winbuildscripts/dobuild.bat
  tasks/winbuildscripts/integrationtests.ps1
  tasks/winbuildscripts/lint.ps1
  tasks/winbuildscripts/pre-go-build.ps1
  tasks/winbuildscripts/sysprobe.ps1
  tasks/winbuildscripts/unittests.ps1
  tasks/windows_resources.py
Due: shell-check-no-set-x, gitlab-configuration
