Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 3.9.2 # should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==21.11.28
        - flake8-comprehensions==3.7.0
        - flake8-unused-arguments==0.0.6
        - flake8-use-fstring==1.3.0
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
- repo: https://github.com/timothycrosley/isort/
  rev: 5.10.1
  hooks:
    - id: isort
- repo: https://github.com/jendrikseipp/vulture
  rev: v2.3
  hooks:
    - id: vulture
      args: ["--ignore-decorators", "@task", "--ignore-names", "test_*,Test*", "tasks"]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 2.1.5
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
    - id: go-fmt
      args: [ "-w", "-s" ]
- repo: local
  hooks:
    - id: revive
      name: revive
      description: revive
      entry: 'python3 tasks/git-hooks/revive.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: copyright
      name: copyright
      description: copyright headers
      entry: 'python3 tasks/git-hooks/copyright.py'
      language: system
      require_serial: true
      files: \.go$
    - id: win-clang-format
      name: win-clang-format
      description: clang-format
      entry: './tasks/git-hooks/wincpplang.py'
      language: system
      types_or: [c, c++, c#]
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 tasks/git-hooks/clang-format.py'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'

remove start command
  cmd/agent/subcommands/run/command.go
  comp/languagedetection/client/util.go
Due: revive, govet, copyright

fix test
  pkg/networkdevice/profile/profiledefinition/schema/testcases/valid_profile_apc_ups.json
Due: none

modify code owner
  .github/CODEOWNERS
Due: none

add comments
  pkg/networkdevice/profile/profiledefinition/metrics.go
Due: revive, govet, copyright

disable the component when the dca is not enabled
  comp/languagedetection/client/client.go
Due: revive, govet, copyright

[e2e] run with refresh on fail, disable pulumi warning on all pulumi calls
  tasks/new_e2e_tests.py
Due: none

fix bundle test
  comp/languagedetection/bundle.go
  comp/languagedetection/bundle_test.go
  comp/languagedetection/client/client.go
Due: revive, govet, copyright

make protobuf and msgpack changes
  pkg/proto/pbgo/core/api.pb.go
  pkg/proto/pbgo/core/api.pb.gw.go
  pkg/proto/pbgo/core/model.pb.go
  pkg/proto/pbgo/core/remoteconfig.pb.go
  pkg/proto/pbgo/core/workloadmeta.pb.go
  pkg/proto/pbgo/languagedetection/api.pb.go
  pkg/proto/pbgo/mocks/core/api_mockgen.pb.go
  pkg/proto/pbgo/process/process.pb.go
  pkg/proto/pbgo/process/workloadmeta_process.pb.go
  pkg/proto/pbgo/trace/agent_payload.pb.go
  pkg/proto/pbgo/trace/span.pb.go
  pkg/proto/pbgo/trace/span_gen.go
  pkg/proto/pbgo/trace/stats.pb.go
  pkg/proto/pbgo/trace/stats_gen.go
  pkg/proto/pbgo/trace/stats_vtproto.pb.go
  pkg/proto/pbgo/trace/tracer_payload.pb.go
Due: revive, govet, copyright

cmd/trace-agent: copyright header
  cmd/trace-agent/test/testsuite/span_sampling_test.go
Due: revive, govet, copyright

Temporary disable artifactory
  .gitlab-ci.yml
Due: none

update max supported open files for windows
  comp/logs/agent/config/config_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  releasenotes/notes/update-windows-max-supported-open-files-28b02d020ea20f6a.yaml
Due: revive, govet, copyright

psycopg2 to psycopg3 upgrade
  release.json
Due: none

remove duplicate structs across packages
  pkg/obfuscate/obfuscate.go
  pkg/trace/agent/obfuscate_test.go
  pkg/trace/api/info.go
  pkg/trace/api/info_test.go
  pkg/trace/config/config.go
Due: revive, govet, copyright

fix missing return statement
  pkg/trace/stats/aggregation.go
Due: revive, govet, copyright

enable custom cache by default (#19746)
  pkg/config/config.go
Due: revive, govet, copyright

pkg/obfuscate: remove duplicate structs across packages (#19756)
  pkg/obfuscate/obfuscate.go
  pkg/trace/agent/obfuscate_test.go
  pkg/trace/api/info.go
  pkg/trace/api/info_test.go
  pkg/trace/config/config.go
Due: revive, govet, copyright

refactor kubeapiserver test to make sure the resource is eventually fetched
  pkg/workloadmeta/collectors/internal/kubeapiserver/deployments_test.go
  pkg/workloadmeta/collectors/internal/kubeapiserver/node_test.go
  pkg/workloadmeta/collectors/internal/kubeapiserver/pod_test.go
  pkg/workloadmeta/collectors/internal/kubeapiserver/test_helpers.go
Due: revive, govet, copyright

Add check to dwarfutil type finding logic to include slices
  pkg/network/go/dwarfutils/type_finder.go
Due: revive, govet, copyright

Raymond.zhao/amlii 332 update max supported open files for windows (#19560)
  comp/logs/agent/config/config_test.go
  pkg/config/config.go
  pkg/config/config_template.yaml
  releasenotes/notes/update-windows-max-supported-open-files-28b02d020ea20f6a.yaml
Due: revive, govet, copyright

clean up
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/compiler/generators/accessors/common/types.go
  pkg/security/secl/compiler/generators/accessors/field_accessors.tmpl
  pkg/security/secl/model/field_accessors_unix.go
  pkg/security/secl/model/model_unix.go
Due: revive, govet, copyright

[languagedetection] Move privileged detector to separate package
  cmd/system-probe/modules/language_detection.go
  cmd/system-probe/modules/language_detection_test.go
  pkg/languagedetection/privileged/privileged_detector.go
  pkg/languagedetection/privileged/privileged_detector_test.go
Due: revive, govet, copyright

Fix lint
  cmd/system-probe/modules/language_detection.go
  cmd/system-probe/modules/language_detection_test.go
  pkg/languagedetection/detector.go
  pkg/languagedetection/privileged/privileged_detector.go
  pkg/languagedetection/privileged/privileged_detector_test.go
Due: revive, govet, copyright

Fix EBADF errors from ioctl call
  pkg/network/route_cache.go
Due: revive, govet, copyright

add missing proto change
  pkg/proto/pbgo/trace/span_gen.go
Due: revive, govet, copyright

add statsraw tests
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/statsraw_test.go
Due: revive, govet, copyright

Use util/intern instead of lru interner
  pkg/security/resolvers/process/resolver_linux.go
  pkg/security/utils/interner.go
  pkg/security/utils/lru_interner.go
Due: revive, govet, copyright

filtering instead of scrubbing envp
  pkg/security/probe/field_handlers_linux.go
  pkg/security/resolvers/process/resolver_linux.go
  pkg/security/secl/compiler/generators/accessors/accessors.go
  pkg/security/secl/compiler/generators/accessors/field_accessors.tmpl
  pkg/security/secl/model/args_envs.go
  pkg/security/secl/model/field_accessors_unix.go
  pkg/security/secl/model/field_handlers_unix.go
Due: revive, govet, copyright

move usage of perfbuffer to ringbuffer
  pkg/ebpf/c/map-defs.h
  pkg/network/ebpf/c/tracer/events.h
  pkg/network/ebpf/c/tracer/maps.h
Due: clang-format

initial commit
  pkg/util/winutil/eventlog/README.md
  pkg/util/winutil/eventlog/api/fake/fake.go
  pkg/util/winutil/eventlog/api/fake/test.go
  pkg/util/winutil/eventlog/api/fake/wevtapi.go
  pkg/util/winutil/eventlog/api/types.go
  pkg/util/winutil/eventlog/api/windows/render.go
  pkg/util/winutil/eventlog/api/windows/wevtapi.go
  pkg/util/winutil/eventlog/bookmark/bookmark.go
  pkg/util/winutil/eventlog/example_test.go
  pkg/util/winutil/eventlog/reporter/reporter.go
  pkg/util/winutil/eventlog/subscription/helpers_test.go
  pkg/util/winutil/eventlog/subscription/subscription.go
  pkg/util/winutil/eventlog/subscription/subscription_test.go
  pkg/util/winutil/eventlog/test/fake.go
  pkg/util/winutil/eventlog/test/test.go
  pkg/util/winutil/eventlog/test/windows.go
  pkg/util/winutil/winstrings.go
  tasks/agent.py
  tasks/cluster_agent.py
  tasks/dogstatsd.py
  tasks/test.py
  tasks/trace_agent.py
Due: revive, govet, copyright

add event SID
  pkg/util/winutil/eventlog/api/fake/fake.go
  pkg/util/winutil/eventlog/api/fake/test.go
  pkg/util/winutil/eventlog/api/fake/wevtapi.go
  pkg/util/winutil/eventlog/api/types.go
  pkg/util/winutil/eventlog/api/windows/render.go
  pkg/util/winutil/eventlog/api/windows/wevtapi.go
  pkg/util/winutil/eventlog/reporter/reporter.go
  pkg/util/winutil/eventlog/test/windows.go
Due: revive, govet, copyright

use windows-2019 runner
  .github/workflows/windows-unittests.yml
Due: none

export bookmark option
  pkg/util/winutil/eventlog/bookmark/bookmark.go
Due: revive, govet, copyright

Add SetBookmark to allow setting bookmark after subscription is created
  pkg/util/winutil/eventlog/subscription/subscription.go
Due: revive, govet, copyright

stub out integration test for windows
  .gitlab/integration_test.yml
  .gitlab/integration_test/dogstatsd.yml
  .gitlab/integration_test/windows.yml
  tasks/winbuildscripts/integrationtests.bat
  tasks/winbuildscripts/integrationtests.ps1
Due: none

fix windows integration test stage
  .gitlab/integration_test/windows.yml
Due: none

run go fix to remove buildtag
  pkg/util/winutil/eventlog/api/fake/fake.go
  pkg/util/winutil/eventlog/api/fake/test.go
  pkg/util/winutil/eventlog/api/fake/wevtapi.go
  pkg/util/winutil/eventlog/api/types.go
  pkg/util/winutil/eventlog/api/windows/render.go
  pkg/util/winutil/eventlog/api/windows/wevtapi.go
  pkg/util/winutil/eventlog/bookmark/bookmark.go
  pkg/util/winutil/eventlog/example_test.go
  pkg/util/winutil/eventlog/reporter/reporter.go
  pkg/util/winutil/eventlog/subscription/helpers_test.go
  pkg/util/winutil/eventlog/subscription/subscription.go
  pkg/util/winutil/eventlog/subscription/subscription_test.go
  pkg/util/winutil/eventlog/test/fake.go
  pkg/util/winutil/eventlog/test/test.go
  pkg/util/winutil/eventlog/test/windows.go
Due: revive, govet, copyright

simple revive linter fixes
  pkg/util/winutil/eventlog/api/fake/fake.go
  pkg/util/winutil/eventlog/api/fake/test.go
  pkg/util/winutil/eventlog/api/fake/wevtapi.go
  pkg/util/winutil/eventlog/api/types.go
  pkg/util/winutil/eventlog/api/windows/render.go
  pkg/util/winutil/eventlog/api/windows/wevtapi.go
  pkg/util/winutil/eventlog/bookmark/bookmark.go
  pkg/util/winutil/eventlog/example_test.go
  pkg/util/winutil/eventlog/reporter/reporter.go
  pkg/util/winutil/eventlog/subscription/helpers_test.go
  pkg/util/winutil/eventlog/subscription/subscription.go
  pkg/util/winutil/eventlog/subscription/subscription_test.go
  pkg/util/winutil/eventlog/test/fake.go
  pkg/util/winutil/eventlog/test/test.go
  pkg/util/winutil/eventlog/test/windows.go
Due: revive, govet, copyright

revive linter fix return unexported type
  pkg/util/winutil/eventlog/bookmark/bookmark.go
  pkg/util/winutil/eventlog/reporter/reporter.go
  pkg/util/winutil/eventlog/subscription/subscription.go
  pkg/util/winutil/eventlog/subscription/subscription_test.go
Due: revive, govet, copyright

gate feature by kernel version
  pkg/ebpf/c/map-defs.h
  pkg/network/ebpf/c/tracer/events.h
  pkg/network/ebpf/c/tracer/maps.h
Due: clang-format
