Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: govet, copyright, clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

govet:
  name: govet
  description: go vet
  entry: python3 -m tasks.git-hooks.govet
  language: system
  require_serial: true

copyright:
  name: copyright
  description: copyright headers
  entry: inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 -m tasks.git-hooks.clang-format
  language: system
  require_serial: true

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: inv tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

[otel] github: build image datadog-agent image off build artifacts
  .github/workflows/otel.yml
Due: shell-check-no-set-x

[otel] github: debug
  .github/workflows/otel.yml
Due: shell-check-no-set-x

[otel] github: use repo var actual name
  .github/workflows/otel.yml
Due: shell-check-no-set-x

[dockerfiles] otel: update collector section to otelcollector
  Dockerfiles/agent-ot/Dockerfile
  Dockerfiles/agent/cont-init.d/70-otel-check.sh
  tasks/otel_agent.py
Due: shell-check-no-set-x

[github] no need for CI integration
  .github/workflows/otel.yml
Due: shell-check-no-set-x

[tasks] lint python
  tasks/otel_agent.py
Due: none

add tests on versions for experiment
  test/new-e2e/tests/installer/upgrade_scenario_test.go
Due: govet, copyright, go-mod-tidy

[cluster-agent][cws-instrumentation] Disable mutate unlabelled by default (#27224)
  pkg/config/setup/config.go
Due: govet, copyright, go-mod-tidy

make service_discovery disabled by default
  cmd/agent/dist/conf.d/service_discovery.d/conf.yaml.default
  omnibus/config/software/datadog-agent-finalize.rb
  pkg/config/setup/config.go
  tasks/agent.py
  test/new-e2e/tests/agent-subcommands/configcheck/configcheck_nix_test.go
Due: govet, copyright, go-mod-tidy

[gitlab-config-diff] Removed github token task
  .gitlab/notify/notify.yml
Due: shell-check-no-set-x, gitlab-configuration

[e2e] update centos-79 arm64 AMI
  test/kitchen/platforms.json
  test/new-e2e/tests/agent-platform/platforms/platforms.json
Due: none

update message
  tasks/new_e2e_tests.py
Due: none

Add `Scheduled` as retry status
  pkg/util/retry/error.go
  pkg/util/retry/retrier.go
  pkg/util/retry/retrier_test.go
  pkg/util/retry/types.go
Due: govet, copyright, go-mod-tidy

[gitlab-config-diff] Cancelled auth changes
  tasks/github_tasks.py
  tasks/libs/ciproviders/github_api.py
Due: none

comment
  tasks/new_e2e_tests.py
Due: none

fix(service_discovery): Set default value as disabled
  pkg/config/setup/config.go
Due: govet, copyright, go-mod-tidy

[gitlab-config-diff] Cleaned code according to reviews
  tasks/github_tasks.py
  tasks/libs/ciproviders/github_api.py
Due: none

remove skip from process discovery check
  test/new-e2e/tests/process/k8s_test.go
Due: govet, copyright, go-mod-tidy

[FA] Fix installer flakiness (#27213)
  test/new-e2e/tests/installer/upgrade_scenario_test.go
Due: govet, copyright, go-mod-tidy

add mappings for community python integrations
  pkg/metrics/metricsource.go
  pkg/serializer/internal/metrics/origin_mapping.go
Due: govet, copyright, go-mod-tidy

add releasenotes
  releasenotes/notes/python_metrics_origins_community-c64eea75352e9d98.yaml
Due: shell-check-no-set-x

format
  pkg/metrics/metricsource.go
  pkg/serializer/internal/metrics/origin_mapping.go
Due: govet, copyright, go-mod-tidy

remove StartServers method in favor of fx Lifecycle
  cmd/agent/subcommands/run/command.go
  comp/api/api/apiimpl/api.go
  comp/api/api/apiimpl/server.go
  comp/api/api/def/component.go
  pkg/cli/standalone/jmx.go
Due: govet, copyright, go-mod-tidy

usm: Add support for Kafka Produce v9/v10 (#27176)
  go.mod
  go.sum
  pkg/network/ebpf/c/protocols/kafka/defs.h
  pkg/network/ebpf/c/protocols/kafka/kafka-classification.h
  pkg/network/ebpf/c/protocols/kafka/kafka-parsing.h
  pkg/network/protocols/kafka/testdata/docker-compose.yml
  pkg/network/usm/kafka_monitor_test.go
Due: govet, copyright, clang-format, go-mod-tidy, shell-check-no-set-x

Should require also API Group (in addition to resource name) for generic metadata collection
  comp/core/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/kubeapiserver_test.go
  comp/core/workloadmeta/collectors/internal/kubeapiserver/utils.go
  pkg/config/setup/config.go
Due: govet, copyright, go-mod-tidy

Install different allocators
  Dockerfiles/agent/Dockerfile
Due: shell-check-no-set-x

...
  comp/rdnsquerier/impl/cache.go
  comp/rdnsquerier/impl/config.go
  comp/rdnsquerier/impl/rdnsquerier.go
Due: govet, copyright, go-mod-tidy

Added stop method for integrations launcher and rudimentary tests
  pkg/logs/launchers/integration/launcher.go
  pkg/logs/launchers/integration/launcher_test.go
Due: govet, copyright, go-mod-tidy

Update collector to v0.104.0
  comp/core/log/go.mod
  comp/core/log/go.sum
  comp/otelcol/collector-contrib/def/go.mod
  comp/otelcol/collector-contrib/def/go.sum
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  comp/otelcol/converter/def/go.mod
  comp/otelcol/converter/def/go.sum
  comp/otelcol/converter/impl/go.mod
  comp/otelcol/converter/impl/go.sum
  comp/otelcol/extension/def/go.mod
  comp/otelcol/extension/def/go.sum
  comp/otelcol/extension/impl/go.mod
  comp/otelcol/extension/impl/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.mod
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.sum
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.sum
  comp/otelcol/otlp/components/statsprocessor/go.mod
  comp/otelcol/otlp/components/statsprocessor/go.sum
  go.mod
  go.sum
  pkg/trace/go.mod
  pkg/trace/go.sum
  pkg/trace/stats/oteltest/go.mod
  pkg/trace/stats/oteltest/go.sum
  test/e2e/containers/otlp_sender/go.mod
  test/e2e/containers/otlp_sender/go.sum
Due: go-mod-tidy

Remove debug code.
  comp/rdnsquerier/impl/config.go
  comp/rdnsquerier/impl/rdnsquerier.go
  comp/rdnsquerier/impl/resolver.go
Due: govet, copyright, go-mod-tidy

[gitlab] fixing yaml - name too long
  .gitlab/dev_container_deploy/docker_linux.yml
Due: shell-check-no-set-x, gitlab-configuration

add release note
  releasenotes/notes/collector-104-8697c1d5cc4b1745.yaml
Due: shell-check-no-set-x

fix ci
  cmd/serverless/dependencies_linux_amd64.txt
  cmd/serverless/dependencies_linux_arm64.txt
Due: none

bump api client version
  test/new-e2e/go.mod
  test/new-e2e/go.sum
  test/new-e2e/tests/cws/ec2_test.go
  test/new-e2e/tests/cws/windows_test.go
Due: govet, copyright, go-mod-tidy

uncomment
  test/new-e2e/tests/cws/windows_test.go
Due: govet, copyright, go-mod-tidy

Update dependency
  .gitlab/dev_container_deploy/docker_linux.yml
  .gitlab/e2e/e2e.yml
Due: shell-check-no-set-x, gitlab-configuration

Add windows test to CI
  .gitlab/e2e/e2e.yml
Due: shell-check-no-set-x, gitlab-configuration

Add syscall context to utimes event
  docs/cloud-workload-security/backend_linux.md
  docs/cloud-workload-security/backend_linux.schema.json
  docs/cloud-workload-security/linux_expressions.md
  docs/cloud-workload-security/secl_linux.json
  pkg/security/ebpf/c/include/constants/fentry_macro.h
  pkg/security/ebpf/c/include/constants/syscall_macro.h
  pkg/security/ebpf/c/include/events_definition.h
  pkg/security/ebpf/c/include/hooks/utimes.h
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/field_accessors_unix.go
  pkg/security/secl/model/field_handlers_unix.go
  pkg/security/secl/model/model_unix.go
  pkg/security/secl/model/unmarshallers_linux.go
  pkg/security/serializers/serializers_linux.go
  pkg/security/serializers/serializers_linux_easyjson.go
  pkg/security/tests/utimes_test.go
Due: govet, copyright, clang-format, go-mod-tidy

fix tests
  pkg/collector/corechecks/servicediscovery/impl_linux_test.go
Due: govet, copyright, go-mod-tidy

convert datadogclient to component
  cmd/cluster-agent/custommetrics/server.go
  cmd/cluster-agent/subcommands/start/command.go
  comp/core/datadogclient/component.go
  comp/core/datadogclient/datadogclientimpl/client.go
  comp/core/datadogclient/datadogclientimpl/fallbackclient.go
  comp/core/datadogclient/datadogclientimpl/singleclient.go
  pkg/clusteragent/autoscaling/externalmetrics/provider.go
  pkg/clusteragent/autoscaling/externalmetrics/status.go
  pkg/util/kubernetes/apiserver/controllers/controller_util.go
  pkg/util/kubernetes/apiserver/controllers/controllers.go
  pkg/util/kubernetes/apiserver/status.go
  pkg/util/kubernetes/autoscalers/datadogclient.go
  pkg/util/kubernetes/autoscalers/processor.go
Due: govet, copyright, go-mod-tidy

Path conditions:
  govet: any of: \.go$
  copyright: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
