Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Fix `bazel:mod-tidy` job to ignore lockfile changes
  .gitlab/build/bazel/lint.yml
Due: shell-check-no-set-x, gitlab-configuration

[SINT-4518] Add AWS assume role fallback
  tools/ci/fetch_secret.sh
Due: shell-check-no-set-x

log err
  pkg/security/tests/process_test.go
Due: copyright, go-mod-tidy

add gnn poc
  local_detective/.gitignore
  local_detective/README.md
  local_detective/deploy/Dockerfile
  local_detective/deploy/baseline-collector.yaml
  local_detective/deploy/trainer.yaml
  local_detective/docs/local detective.md
  local_detective/requirements.txt
  local_detective/scripts/collect_baseline.py
  local_detective/scripts/generate_traffic.sh
  local_detective/scripts/train_on_baseline.py
  local_detective/scripts/visualize_model_simple.py
  local_detective/src/__init__.py
  local_detective/src/events.py
  local_detective/src/gnn_model.py
  local_detective/src/graph_builder.py
  local_detective/src/host_proc_collector.py
Due: shell-check-no-set-x

docs: add README for sharedlibrary-tester
  pkg/collector/rustchecks/sharedlibrary-tester/README.md
  pkg/collector/rustchecks/sharedlibrary-tester/src/main.rs
Due: none

Fix installation path for openssl on macos (#45097)
  omnibus/config/software/openssl3.rb
Due: none

bazel mod tidy again
  MODULE.bazel.lock
Due: none

[cluster-agent/compliance] Use k8s reflectors to avoid costly list operations (#45029)
  cmd/cluster-agent/subcommands/start/compliance.go
  pkg/compliance/cli/check.go
  pkg/compliance/cli/resolver_cluster_agent.go
  pkg/compliance/cli/resolver_security_agent.go
  pkg/compliance/k8s_reflectors.go
  pkg/compliance/k8s_reflectors_no_k8s.go
  pkg/compliance/k8s_reflectors_test.go
  pkg/compliance/resolver.go
  pkg/compliance/resolver_k8s.go
  pkg/compliance/resolver_no_k8s.go
  releasenotes-dca/notes/kube-compliance-use-informers-c724a3cd1d3d48bc.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

tasks: force enable duashipping when using the fakeintake
  test/e2e-framework/tasks/deploy.py
Due: none

fix: go work sync
  go.work
  pkg/trace/log/go.mod
  pkg/trace/log/go.sum
Due: check-go-modules-in-python, protocol-buffer

fix: segfault when converting c-string to rust-string if ptr is null
  pkg/collector/rustchecks/core/src/cstring.rs
Due: none

Add hook tests
  pkg/fleet/installer/packages/datadog_agent_hooks_test.go
Due: copyright, go-mod-tidy

fix(logs): make container timestamp usage opt-in
  pkg/config/config_template.yaml
  pkg/config/setup/config.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/processor_only_provider.go
  pkg/logs/processor/encoder_test.go
  pkg/logs/processor/json.go
  pkg/logs/processor/proto.go
  pkg/logs/processor/raw.go
  releasenotes/notes/extra-container-log-timestamps-c4feb42f493d5a7e.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(logs): prefer container-provided timestamps over ingestion time
  pkg/logs/processor/json.go
  pkg/logs/processor/proto.go
  pkg/logs/processor/raw.go
  releasenotes/notes/extra-container-log-timestamps-c4feb42f493d5a7e.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

feat: add vm sandbox environment
  q_branch/mcp-evaluation/mcp/lima.yaml
  q_branch/mcp-evaluation/mcp/scripts/destroy-vm.sh
  q_branch/mcp-evaluation/mcp/scripts/start-vm.sh
Due: shell-check-no-set-x

refactor: clone C-struct Aggregator when received by Rust check to be sure that the content can't be overwritten
  pkg/collector/rustchecks/core/src/aggregator.rs
  pkg/collector/rustchecks/core/src/ffi.rs
Due: none

[CWS] fix replay events timestamp
  pkg/security/probe/probe_ebpf.go
Due: copyright, go-mod-tidy

set timestamp raw
  pkg/security/probe/file_hasher.go
  pkg/security/probe/probe_ebpf.go
Due: copyright, go-mod-tidy

Fix e2e tests
  test/new-e2e/tests/otel/otel-agent/testdata/minimal-full-config-datadogextension.yml
Due: shell-check-no-set-x

Address PR review
  pkg/clusteragent/autoscaling/workload/controller_vertical.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_test.go
Due: copyright, go-mod-tidy

feat: implement safe-shell tool
  q_branch/mcp-evaluation/mcp/Makefile
  q_branch/mcp-evaluation/mcp/internal/server/server.go
  q_branch/mcp-evaluation/mcp/internal/tools/safeshell.go
  q_branch/mcp-evaluation/mcp/scripts/mcp_bash.py
  q_branch/mcp-evaluation/mcp/scripts/mcp_safe_shell.py
Due: copyright, go-mod-tidy

send undefined jitter and latency if latency is 0 (destination not reached)
  comp/syntheticstestscheduler/common/result.go
  comp/syntheticstestscheduler/impl/assertions.go
  comp/syntheticstestscheduler/impl/assertions_test.go
  comp/syntheticstestscheduler/impl/syntheticstestscheduler_test.go
  comp/syntheticstestscheduler/impl/worker.go
  comp/syntheticstestscheduler/impl/worker_test.go
Due: copyright, go-mod-tidy

Fix `bazel:mod-tidy` job to ignore lockfile changes (#45129)
  .gitlab/build/bazel/lint.yml
Due: shell-check-no-set-x, gitlab-configuration

feat: add flag mode to run bash, safe-shell, and tools
  q_branch/mcp-evaluation/mcp/cmd/mcp-server/main.go
  q_branch/mcp-evaluation/mcp/internal/config/config.go
  q_branch/mcp-evaluation/mcp/internal/server/server.go
Due: copyright, go-mod-tidy

fix(pkg): dda inv tidy
  pkg/opentelemetry-mapping-go/inframetadata/go.mod
  pkg/opentelemetry-mapping-go/inframetadata/gohai/internal/gohaitest/go.sum
  pkg/trace/log/go.sum
  pkg/util/otel/go.mod
Due: check-go-modules-in-python, protocol-buffer

feat(ci): Only _ update_ dda at runtime
  .gitlab/.pre/common/macos.yml
Due: shell-check-no-set-x, gitlab-configuration

nolint
  pkg/redact/data_scrubber.go
  pkg/redact/pod.go
Due: copyright, go-mod-tidy

Add new new-e2e-containers-k8s-latest job
  .gitlab/test/e2e/e2e.yml
  tasks/k8s_versions.py
Due: shell-check-no-set-x, gitlab-configuration

Parse existing k8s verison only in matrix
  tasks/k8s_versions.py
Due: none

Refactor adding versions to matrix into fn; update docs
  tasks/k8s_versions.py
  tasks/k8s_versions_README.md
Due: none

Lint
  tasks/k8s_versions.py
Due: none

K8s version automation should not rotate versions into the new-e2e-containers job
  tasks/k8s_versions.py
  tasks/k8s_versions_README.md
Due: none

Hardcode the socket path in the dialer to allow localhost in request for mTLS verification
  comp/core/configsync/configsyncimpl/module.go
  comp/core/configsync/configsyncimpl/sync.go
  comp/core/ipc/httphelpers/client.go
Due: copyright, go-mod-tidy

[SBOM] bump ddtrivy to latest and use OfflineJar (#45120)
  go.mod
  go.sum
  pkg/util/trivy/trivy.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

[SQG] Add missing expression attribute (#45124)
  tasks/libs/common/datadog_api.py
  tasks/quality_gates.py
  tasks/unit_tests/static_quality_gates_tests.py
Due: none

fix kind deployment for kube v1.35
  test/e2e-framework/common/config/environment.go
  test/e2e-framework/components/kubernetes/cilium/hosts.toml
  test/e2e-framework/components/kubernetes/cilium/kind-cluster-v1.35+.yaml
  test/e2e-framework/components/kubernetes/cilium/kind.go
  test/e2e-framework/components/kubernetes/hosts.toml
  test/e2e-framework/components/kubernetes/kind-cluster-v1.35+.yaml
  test/e2e-framework/components/kubernetes/kind.go
  test/e2e-framework/components/kubernetes/kind_versions.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

add release note
  releasenotes/notes/update-image-resolution-attempt-telemetry-54cd9ebf6081c736.yaml
Due: shell-check-no-set-x

Update exclude pause container for security products
  comp/core/workloadfilter/baseimpl/filter_utils.go
  comp/core/workloadfilter/impl/filter_test.go
Due: copyright, go-mod-tidy

[CWS] add missing lock in `(*EBPFResolver).ApplyExitEntry`
  pkg/security/resolvers/process/resolver_ebpf.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
