Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: dda inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

gitlab-lint-jobs-codeowners:
  name: gitlab-lint-jobs-codeowners
  description: lint the gitlab configuration to verify jobs codeowners
  entry: dda inv linter.gitlab-ci-jobs-codeowners
  language: system
  require_serial: true
  pass_filenames: false

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Simplify and optimize use of decoder context
  pkg/dyninst/decode/decoder.go
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/types.go
  pkg/dyninst/testdata/decoded/sample/testMassiveString.json
  pkg/dyninst/testprogs/progs/sample/strings.go
  pkg/dyninst/testprogs/testdata/probes/sample.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Precompute type assertions
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/types.go
  pkg/dyninst/json_redaction_test.go
  pkg/dyninst/testdata/decoded/sample/testBigStruct.json
  pkg/dyninst/testdata/decoded/sample/testLinkedList.json
  pkg/dyninst/testdata/decoded/sample/testOneStringInStructPointer.json
  pkg/dyninst/testdata/decoded/sample/testPointerLoop.json
  pkg/dyninst/testdata/decoded/sample/testPointerToSimpleStruct.json
  pkg/dyninst/testdata/decoded/sample/testStringPointer.json
  pkg/dyninst/testdata/decoded/sample/testThreeStringsInStructPointer.json
  pkg/dyninst/testdata/decoded/sample/testUintPointer.json
  pkg/dyninst/testdata/decoded/simple/PointerChainArg.json
  pkg/dyninst/testdata/decoded/simple/PointerSmallChainArg.json
  pkg/dyninst/testdata/decoded/simple/bigMapArg.json
Due: copyright, go-mod-tidy

Handle not captured reason for partial capture
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/notCapturedReason.go
  pkg/dyninst/decode/types.go
  pkg/dyninst/testdata/decoded/sample/testCombinedByte.json
  pkg/dyninst/testdata/decoded/sample/testMassiveString.json
  pkg/dyninst/testdata/decoded/sample/testSingleFloat32.json
  pkg/dyninst/testdata/decoded/sample/testSingleFloat64.json
  pkg/dyninst/testdata/decoded/simple/inlined.json
Due: copyright, go-mod-tidy

Change default slack channel to be fuzzing-ops
  tasks/fuzz_infra.py
Due: none

missing new line..
  tasks/fuzz_infra.py
Due: none

Fix curl and wget retries for installer install-script (#39099)
  pkg/fleet/installer/setup/install.sh
Due: shell-check-no-set-x

fix compilation on linux by moving function
  pkg/inventory/software/collector.go
  pkg/inventory/software/collector_windows.go
Due: copyright, go-mod-tidy

adding cert chain validation
  pkg/collector/corechecks/system/windowscertificate/windows_certificate.go
Due: copyright, go-mod-tidy

adding cert chain validation functions
  pkg/collector/corechecks/system/windowscertificate/windows_certificate.go
  pkg/collector/corechecks/system/windowscertificate/windows_certificate_util.go
Due: copyright, go-mod-tidy

Adding service checks and tests
  pkg/collector/corechecks/system/windowscertificate/windows_certificate.go
  pkg/collector/corechecks/system/windowscertificate/windows_certificate_test.go
Due: copyright, go-mod-tidy

adding more flags and updating conf.yaml
  cmd/agent/dist/conf.d/windows_certificate.d/conf.yaml.example
  pkg/collector/corechecks/system/windowscertificate/windows_certificate.go
  pkg/collector/corechecks/system/windowscertificate/windows_certificate_test.go
Due: copyright, go-mod-tidy

renaming config parameter
  cmd/agent/dist/conf.d/windows_certificate.d/conf.yaml.example
  pkg/collector/corechecks/system/windowscertificate/windows_certificate.go
  pkg/collector/corechecks/system/windowscertificate/windows_certificate_test.go
Due: copyright, go-mod-tidy

reworking service checks
  pkg/collector/corechecks/system/windowscertificate/windows_certificate.go
  pkg/collector/corechecks/system/windowscertificate/windows_certificate_test.go
Due: copyright, go-mod-tidy

adding some comments
  pkg/collector/corechecks/system/windowscertificate/windows_certificate.go
Due: copyright, go-mod-tidy

Adding changelog
  releasenotes/notes/Windows-Add-certificate-chain-validation-to-win-cert-store-f8a0b52fd2acc5f8.yaml
Due: shell-check-no-set-x

feat(e2e coverage): Pass the E2E_COVERAGE_PIPELINE env variable to windows build job (#39101)
  .gitlab/package_build/windows.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Create default_metadata_test.go
  pkg/collector/corechecks/snmp/internal/buildprofile/buildprofile_test.go
  pkg/collector/corechecks/snmp/internal/buildprofile/default_metadata.go
  pkg/collector/corechecks/snmp/internal/buildprofile/default_metadata_test.go
Due: copyright, go-mod-tidy

WIP initial commit
  pkg/fleet/installer/packages/user/windows/lsa.c
  pkg/fleet/installer/packages/user/windows/lsa.h
  pkg/fleet/installer/packages/user/windows/user.go
  pkg/fleet/installer/packages/user/windows/user_manual_test.go
  pkg/fleet/installer/packages/user/windows/user_test.go
  pkg/fleet/installer/packages/user/windows/winapi.go
Due: copyright, win-clang-format, go-mod-tidy

Remove debug prints
  pkg/collector/corechecks/snmp/internal/buildprofile/buildprofile.go
  pkg/collector/corechecks/snmp/internal/buildprofile/default_metadata.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/internal/fetch/fetch.go
Due: copyright, go-mod-tidy

Use github token to avoid rate limits
  .gitlab/source_test/kmt_tasks.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[DJM] Update agent + tracer + inject versions (#39089)
  pkg/fleet/installer/setup/djm/databricks.go
  pkg/fleet/installer/setup/djm/dataproc.go
  pkg/fleet/installer/setup/djm/emr.go
  test/new-e2e/tests/installer/script/databricks_test.go
Due: copyright, go-mod-tidy

Set to true
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[CHAOSPLT-874] Add return early for v0.5 traces (#38696)
  pkg/trace/api/api.go
  pkg/trace/api/api_test.go
Due: copyright, go-mod-tidy

SBOM: convert to cyclonedx format sooner
  comp/core/workloadmeta/collectors/internal/containerd/image_sbom_trivy.go
  comp/core/workloadmeta/collectors/internal/crio/image_sbom_trivy.go
  comp/core/workloadmeta/collectors/internal/docker/image_sbom_trivy.go
  pkg/collector/corechecks/sbom/processor.go
  pkg/sbom/collectors/host/flare_provider.go
  pkg/sbom/sbom.go
  pkg/util/trivy/overlayfs.go
  pkg/util/trivy/report.go
  pkg/util/trivy/scan_image.go
  pkg/util/trivy/trivy.go
Due: copyright, go-mod-tidy

fix CWS code
  pkg/sbom/collectors/host/host.go
  pkg/security/resolvers/sbom/file_querier.go
  pkg/security/resolvers/sbom/resolver.go
  pkg/util/trivy/trivy.go
Due: copyright, go-mod-tidy

move SBOM conversion code to own package
  pkg/collector/corechecks/sbom/processor.go
  pkg/sbom/bomconvert/convert.go
  pkg/sbom/bomconvert/convert_test.go
Due: copyright, go-mod-tidy

convert to cyclonedx_v1_4.Bom sooner in the pipeline
  comp/core/workloadmeta/collectors/internal/containerd/image_sbom_trivy.go
  comp/core/workloadmeta/collectors/internal/crio/image_sbom_trivy.go
  comp/core/workloadmeta/collectors/internal/docker/image_sbom_trivy.go
  comp/core/workloadmeta/collectors/util/image_util.go
  comp/core/workloadmeta/def/types.go
  pkg/collector/corechecks/sbom/processor.go
  pkg/sbom/sbom.go
  pkg/util/trivy/report.go
Due: copyright, go-mod-tidy

Extend logs_dd_url to support path prefixes
  comp/core/agenttelemetry/impl/sender.go
  comp/logs/agent/agentimpl/agent_test.go
  comp/logs/agent/config/config.go
  comp/logs/agent/config/config_test.go
  comp/logs/agent/config/endpoints.go
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/agent_test.go
  pkg/logs/client/http/destination.go
  pkg/logs/client/http/destination_test.go
  pkg/logs/client/http/test_utils.go
  pkg/logs/client/tcp/connection_manager_test.go
  pkg/logs/client/tcp/destination_test.go
  pkg/logs/client/tcp/test_utils.go
  pkg/security/utils/endpoint.go
  pkg/security/utils/endpoint_test.go
  releasenotes/notes/logs-dd-url-path-prefix-53ce657fcf55a6e9.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Update releasenotes/notes/logs-dd-url-path-prefix-53ce657fcf55a6e9.yaml
  releasenotes/notes/logs-dd-url-path-prefix-53ce657fcf55a6e9.yaml
Due: shell-check-no-set-x

document new logs tag cardinality setting
  pkg/config/config_template.yaml
Due: shell-check-no-set-x

Support tag cardinality settings in the logs agent
  comp/core/tagger/impl/tagger.go
  comp/core/tagger/impl/tagger_test.go
  comp/core/tagger/types/types.go
  pkg/config/setup/config.go
  pkg/logs/internal/tag/provider.go
  pkg/logs/tailers/journald/docker.go
  releasenotes/notes/kube-cardinality-for-logs-8f6b1a20aaf31f56.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Fix comments for logs_tag_cardinality in config_template.yaml
  pkg/config/config_template.yaml
Due: shell-check-no-set-x

Fix lints
  pkg/collector/corechecks/snmp/internal/buildprofile/default_metadata_test.go
Due: copyright, go-mod-tidy

compare directly with ARCH_ARM64 object
  tasks/system_probe.py
Due: none

remove some debug ebpf object files to help reduce the package size
  omnibus/config/software/datadog-agent-finalize.rb
Due: none

Revert "[SBOM] enable languages scanner by default for host scans (#38497)"
  pkg/config/setup/config.go
  releasenotes/notes/sbom-host-languages-350d49c54b1329a9.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

[OTAGENT-457] upgrade docker to v28.2.2
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/go.sum
  go.mod
  go.sum
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
