Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

copyright:
  name: copyright
  description: copyright headers
  entry: inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: inv tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

gitlab-lint-jobs-codeowners:
  name: gitlab-lint-jobs-codeowners
  description: lint the gitlab configuration to verify jobs codeowners
  entry: inv linter.gitlab-ci-jobs-codeowners
  language: system
  require_serial: true
  pass_filenames: false

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: inv modules.validate
  language: system
  pass_filenames: false

Separate needs for ot_agent_standalone builds by architecture
  .gitlab/container_build/docker_linux.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

addSource tracks a queue of sources to be added in scan
  pkg/logs/launchers/file/launcher.go
Due: copyright, go-mod-tidy

lint
  comp/forwarder/defaultforwarder/domain_forwarder.go
Due: copyright, go-mod-tidy

improve GoDI test assertion
  pkg/dynamicinstrumentation/diconfig/binary_inspection.go
  pkg/dynamicinstrumentation/proctracker/proctracker.go
  pkg/dynamicinstrumentation/testutil/e2e_test.go
  pkg/dynamicinstrumentation/testutil/sample/sample_service/sample_service.go
Due: copyright, go-mod-tidy

Add locks around activeSources slice
  pkg/logs/launchers/file/launcher.go
Due: copyright, go-mod-tidy

Add process collector skeleton with TODOs
  comp/core/workloadmeta/collectors/internal/process/process_collector.go
  comp/core/workloadmeta/collectors/internal/process/process_collector_nop.go
  comp/core/workloadmeta/collectors/internal/process/stub.go
  comp/core/workloadmeta/def/types.go
Due: copyright, go-mod-tidy

Update CODEOWNERS for Dynamic Instrumentation
  .github/CODEOWNERS
Due: none

fix: map debugger-go channel to slack/JIRA
  tasks/libs/pipeline/github_jira_map.yaml
  tasks/libs/pipeline/github_slack_map.yaml
Due: shell-check-no-set-x

Update releasenotes/notes/no-useless-DNS-queries-1ed8ff14e0684da1.yaml
  releasenotes/notes/no-useless-DNS-queries-1ed8ff14e0684da1.yaml
Due: shell-check-no-set-x

Clean up the URL for Analytics, linting again lol
  pkg/collector/corechecks/network-devices/versa/client/client.go
  pkg/collector/corechecks/network-devices/versa/client/types.go
Due: copyright, go-mod-tidy

Add releasenote
  releasenotes/notes/add-versa-sla-metrics-4887d651ad0a64e3.yaml
Due: shell-check-no-set-x

[Backport 7.65.x] Backport 35826 to 7.65.x (#36767)
  test/new-e2e/tests/containers/k8s_test.go
Due: copyright, go-mod-tidy

APM: reduce calls to get container tags to improve performance
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/api/api.go
  pkg/trace/api/payload.go
  pkg/trace/stats/client_stats_aggregator.go
  pkg/trace/version/version.go
  pkg/trace/version/version_test.go
Due: copyright, go-mod-tidy

Changelog updates for 7.65.1 release
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

modify the date
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

Changelog update for 7.65.1 release (#36776)
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

Update releasenotes/notes/json-aggregation-fb6a85c1731f69e2.yaml
  releasenotes/notes/json-aggregation-fb6a85c1731f69e2.yaml
Due: shell-check-no-set-x

resolve err conflict
  pkg/fleet/installer/packages/apminject/file.go
Due: copyright, go-mod-tidy

More logs
  pkg/dynamicinstrumentation/diconfig/dwarf.go
Due: copyright, go-mod-tidy

usm: Remove debugger_windows.go
  pkg/network/usm/utils/debugger_windows.go
Due: copyright, go-mod-tidy

usm: postgres: Remove windows files
  pkg/network/protocols/kafka/model_windows.go
  pkg/network/protocols/postgres/stats_common.go
  pkg/network/protocols/postgres/stats_linux.go
Due: copyright, go-mod-tidy

usm: Move package documentation to be accessible from windows compilation as well
  pkg/network/usm/utils/connection_rollup.go
  pkg/network/usm/utils/debugger.go
Due: copyright, go-mod-tidy

omnibus: openssl: disable zlib on windows
  omnibus/config/software/openssl3.rb
Due: none

service discovery: Handle more gunicorn cmdlines (#36571)
  pkg/collector/corechecks/servicediscovery/usm/python.go
  pkg/collector/corechecks/servicediscovery/usm/python_test.go
Due: copyright, go-mod-tidy

Update releasenotes/notes/jmxfetch-0.49.7-578d16bad0959d71.yaml
  releasenotes/notes/jmxfetch-0.49.7-578d16bad0959d71.yaml
Due: shell-check-no-set-x

Wip
  pkg/network/encoding/marshal/dns.go
  pkg/network/encoding/marshal/dns_test.go
  pkg/network/encoding/marshal/format.go
  pkg/network/encoding/marshal/format_test.go
  pkg/network/encoding/marshal/format_usm_linux_test.go
  pkg/network/encoding/marshal/format_usm_test.go
  pkg/network/encoding/marshal/json.go
  pkg/network/encoding/marshal/marshaler.go
  pkg/network/encoding/marshal/modeler.go
  pkg/network/encoding/marshal/modeler_test.go
  pkg/network/encoding/marshal/protobuf.go
  pkg/network/encoding/marshal/usm.go
  pkg/network/encoding/marshal/usm_encoders_linux.go
  pkg/network/encoding/marshal/usm_encoders_windows.go
  pkg/network/encoding/marshal/usm_http.go
  pkg/network/encoding/marshal/usm_http2.go
  pkg/network/encoding/marshal/usm_http2_test.go
  pkg/network/encoding/marshal/usm_http_test.go
  pkg/network/encoding/marshal/usm_kafka.go
  pkg/network/encoding/marshal/usm_kafka_test.go
  pkg/network/encoding/marshal/usm_latency_encoding_test.go
  pkg/network/encoding/marshal/usm_lookup.go
  pkg/network/encoding/marshal/usm_lookup_test.go
  pkg/network/encoding/marshal/usm_lookup_windows.go
  pkg/network/encoding/marshal/usm_lookup_windows_test.go
  pkg/network/encoding/marshal/usm_postgres.go
  pkg/network/encoding/marshal/usm_postgres_test.go
  pkg/network/encoding/marshal/usm_protocols.go
  pkg/network/encoding/marshal/usm_redis.go
  pkg/network/encoding/marshal/usm_redis_test.go
  pkg/network/encoding/marshal/usm_test.go
  pkg/network/protocols/postgres/stats.go
Due: copyright, go-mod-tidy

[EBPF-702] gpu: convert ddnvml.Device to an interface (#36737)
  comp/core/workloadmeta/collectors/internal/nvml/nvml.go
  pkg/collector/corechecks/gpu/gpu.go
  pkg/collector/corechecks/gpu/nvidia/collector.go
  pkg/gpu/context.go
  pkg/gpu/cuda/env.go
  pkg/gpu/cuda/env_test.go
  pkg/gpu/safenvml/cache.go
  pkg/gpu/safenvml/cache_test.go
  pkg/gpu/safenvml/device.go
  pkg/gpu/safenvml/device_impl.go
  pkg/gpu/safenvml/device_impl_test.go
  pkg/gpu/safenvml/lib.go
  pkg/gpu/safenvml/testutil/nvml.go
  pkg/gpu/stats.go
  pkg/gpu/stream_collection.go
Due: copyright, go-mod-tidy

Fix metric
  tasks/ebpf.py
Due: none

Fix linter
  tasks/ebpf.py
Due: none

wip
  pkg/network/encoding/encoding_test.go
Due: copyright, go-mod-tidy

omnibus: openssl: disable zlib on windows (#36727)
  omnibus/config/software/openssl3.rb
Due: none

wip
  pkg/network/encoding/marshal/usm_http2_test.go
  pkg/network/encoding/marshal/usm_kafka_test.go
Due: copyright, go-mod-tidy

Wip
  pkg/network/encoding/marshal/usm_postgres_test.go
  pkg/network/encoding/marshal/usm_redis_test.go
Due: copyright, go-mod-tidy

Do not test system-probe things if it's not supported
  test/new-e2e/tests/gpu/gpu_test.go
  test/new-e2e/tests/gpu/provisioner.go
Due: copyright, go-mod-tidy

Wip
  pkg/network/protocols/postgres/stats.go
  pkg/network/usm/utils/connection_rollup.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$
