Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Changelog updates for 7.83.3 release
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

changes after pr: kernel-side cgroup filtering, changes syscalls to maps, small changes
  pkg/security/ebpf/c/include/hooks/raw_syscalls.h
  pkg/security/ebpf/c/include/maps.h
  pkg/security/ebpf/probes/all.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/security_profile/activity_tree/activity_tree_graph.go
  pkg/security/security_profile/activity_tree/activity_tree_proto_dec_v1.go
  pkg/security/security_profile/activity_tree/activity_tree_proto_enc_v1.go
  pkg/security/security_profile/activity_tree/activity_tree_test.go
  pkg/security/security_profile/activity_tree/process_node.go
  pkg/security/security_profile/manager_v2.go
  pkg/security/serializers/serializers_linux.go
Due: copyright, win-clang-format, go-mod-tidy

Fix storage objects E2E on Kubernetes 1.37
  test/new-e2e/tests/containers/BUILD.bazel
  test/new-e2e/tests/containers/kindvm_test.go
Due: copyright, go-mod-tidy

shrink go_generate_check to mocks only
  .gitlab/build/source_test/go_generate_check.yml
  tasks/security_agent.py
Due: shell-check-no-set-x, gitlab-configuration

e2e-framework: pin AlmaLinux 9 to a Datadog-built AMI in platforms.json
  test/e2e-framework/components/os/linux_descriptors.go
  test/e2e-framework/resources/aws/platforms.json
  test/e2e-framework/scenarios/aws/ec2/os_resolver.go
  test/e2e-framework/scenarios/aws/integrations/ibm_mq/run.go
  test/new-e2e/tests/cspm/host_benchmarks_container_nix_test.go
  test/new-e2e/tests/cspm/host_benchmarks_nix_test.go
Due: copyright, go-mod-tidy

Fix nil peer connection from shadowed variable in peer pool
  cmd/cluster-agent/subcommands/start/metadataring.go
Due: copyright, go-mod-tidy

fix: trigger rollout when gomemlimit is changing
  pkg/clusteragent/autoscaling/workload/controller_vertical.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_helpers.go
  pkg/clusteragent/autoscaling/workload/controller_vertical_helpers_test.go
  pkg/clusteragent/autoscaling/workload/model/const.go
  pkg/clusteragent/autoscaling/workload/pod_patcher.go
Due: copyright, go-mod-tidy

revert changes related to max_dump_size increase
  pkg/config/schema/yaml/system-probe-cws.yaml
  pkg/config/setup/system_probe_test.go
  pkg/security/config/config.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

feat(discovery): collect services immediately at startup (#55935)
  comp/core/workloadmeta/collectors/internal/process/process_collector.go
  comp/core/workloadmeta/collectors/internal/process/process_collector_test.go
  comp/core/workloadmeta/collectors/internal/process/process_service_collector_test.go
  pkg/system-probe/api/client/check.go
  pkg/system-probe/api/client/check_test.go
Due: copyright, go-mod-tidy

bazel: automatically collect `pkg_filegroup` present in the build graph for packaging (#56508)
  comp/core/gui/impl/BUILD.bazel
  packages/agent/dependencies/BUILD.bazel
  pkg/compliance/cli/BUILD.bazel
Due: none

rebase
  comp/host-profiler/symboluploader/symbolcopier/symbolcopier.go
Due: copyright, go-mod-tidy

fix(thermal): Remove residual macOS metric tags
  pkg/collector/corechecks/system/thermal/thermal_darwin.go
  pkg/collector/corechecks/system/thermal/thermal_darwin_test.go
Due: copyright, go-mod-tidy

chore(telemetry): remove unused metrics from telemetry check and push users towards OpenMetrics-based telemetry over expvars
  cmd/agent/dist/conf.d/BUILD.bazel
  cmd/agent/dist/conf.d/go_expvar.d/agent_stats.yaml.example
  cmd/agent/dist/conf.d/openmetrics.d/adp_compat.yaml.example
  comp/core/telemetry/def/options.go
  comp/forwarder/defaultforwarder/internal/retry/http_transactions_serializer.go
  comp/forwarder/defaultforwarder/internal/retry/point_count_telemetry.go
  comp/logs-library/client/http/BUILD.bazel
  comp/logs-library/client/http/destination.go
  comp/logs-library/sender/BUILD.bazel
  comp/logs-library/sender/worker.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/collector/corechecks/telemetry/BUILD.bazel
  pkg/collector/corechecks/telemetry/check.go
  pkg/collector/corechecks/telemetry/check_test.go
  pkg/collector/corechecks/telemetry/merge.go
  pkg/collector/scheduler/job.go
  pkg/collector/scheduler/scheduler.go
Due: copyright, go-mod-tidy

reintroduce point.sent/point.dropped but drop default registry + add scrape list directly to telemetry core check
  comp/anomalydetection/observer/impl/component_test.go
  comp/anomalydetection/observer/impl/filter_rules_test.go
  comp/anomalydetection/observer/impl/observer_test.go
  comp/anomalydetection/observer/impl/telemetry_test.go
  comp/core/agenttelemetry/impl/BUILD.bazel
  comp/core/agenttelemetry/impl/agenttelemetry.go
  comp/core/agenttelemetry/impl/agenttelemetry_test.go
  comp/core/remoteagent/impl-process/remoteagent.go
  comp/core/remoteagent/impl-systemprobe/remoteagent.go
  comp/core/remoteagentregistry/impl/services_test.go
  comp/core/telemetry/def/component.go
  comp/core/telemetry/def/options.go
  comp/core/telemetry/impl/noops/telemetry.go
  comp/core/telemetry/impl/telemetry.go
  comp/core/telemetry/impl/telemetry_mock.go
  comp/core/telemetry/impl/telemetry_test.go
  pkg/clusteragent/admission/mutate/appsec/BUILD.bazel
  pkg/clusteragent/admission/mutate/appsec/webhook_test.go
  pkg/collector/check/stats/BUILD.bazel
  pkg/collector/check/stats/stats.go
  pkg/collector/corechecks/telemetry/BUILD.bazel
  pkg/collector/corechecks/telemetry/check.go
  pkg/collector/corechecks/telemetry/check_test.go
  releasenotes/notes/telemetry-check-default-registry-4c1d0f2a9b7e3856.yaml
  tasks/libs/linter/releasenotes.py
  tasks/unit_tests/releasenotes_linter_tests.py
Due: copyright, go-mod-tidy, shell-check-no-set-x

unwind some frivolous clanker comments
  cmd/agent/dist/conf.d/openmetrics.d/adp_compat.yaml.example
  comp/core/telemetry/def/options.go
  pkg/collector/corechecks/telemetry/check.go
Due: copyright, go-mod-tidy

missed
  comp/core/agenttelemetry/impl/go.mod
Due: check-go-modules-in-python, protocol-buffer

remove dead code for HostnameUpdate telemetry
  comp/aggregator/demultiplexer/impl/status_templates/aggregator.tmpl
  comp/aggregator/demultiplexer/impl/status_templates/aggregatorHTML.tmpl
  pkg/aggregator/aggregator.go
  test/new-e2e/tests/fleet/agent/agent.go
Due: copyright, go-mod-tidy

add support for renaming metrics in telemetry core check + rename all three default metrics to avoid /telemetry conflict
  comp/core/agenttelemetry/impl/agenttelemetry_test.go
  comp/core/agenttelemetry/impl/defaultProfiles.yaml
  comp/forwarder/defaultforwarder/impl/test_common.go
  comp/forwarder/defaultforwarder/impl/worker_test.go
  comp/forwarder/defaultforwarder/internal/retry/point_count_telemetry.go
  comp/forwarder/defaultforwarder/transaction/transaction_test.go
  pkg/collector/check/stats/stats.go
  pkg/collector/corechecks/telemetry/check.go
  pkg/collector/corechecks/telemetry/check_test.go
  releasenotes/notes/telemetry-check-default-registry-4c1d0f2a9b7e3856.yaml
  tasks/libs/linter/releasenotes.py
  tasks/unit_tests/releasenotes_linter_tests.py
Due: copyright, go-mod-tidy, shell-check-no-set-x

add missing files
  cmd/agent/dist/conf.d/openmetrics.d/agent_stats.yaml.example
  releasenotes/notes/telemetry-check-default-registry-4c1d0f2a9b7e3856.yaml
Due: shell-check-no-set-x

lil comment tweak
  tasks/libs/linter/releasenotes.py
Due: none

fix unit test
  pkg/collector/corechecks/telemetry/check_test.go
Due: copyright, go-mod-tidy

full fix test
  pkg/collector/corechecks/telemetry/check_test.go
Due: copyright, go-mod-tidy

fix(installer): reject process manager switching on Windows
  .gitlab/test/e2e/e2e_fleet.yml
  .gitlab/windows/test/e2e_install_packages/windows.yml
  pkg/fleet/installer/packages/datadog_agent_ddot_windows.go
  pkg/fleet/installer/packages/datadog_agent_windows.go
  releasenotes/notes/process-manager-switch-8c46d98bb3a39b28.yaml
  test/new-e2e/tests/installer/windows/BUILD.bazel
  test/new-e2e/tests/installer/windows/installer.go
  test/new-e2e/tests/installer/windows/package_procmgr_switch_test.go
  tools/windows/DatadogAgentInstaller/CustomActions/InstallerHooksCustomAction.cs
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

feat(agent-health): standalone Cobra CLI for agent-health demo/QA environments (#56182)
  .gitlab/.ci-linters.yml
  .gitlab/JOBOWNERS
  .gitlab/build/source_test/go_generate_check.yml
  .pre-commit-config.yaml
  test/e2e-framework/common/config/environment.go
  test/e2e-framework/components/datadog/agentparams/BUILD.bazel
  test/e2e-framework/components/datadog/agentparams/params.go
  test/e2e-framework/components/datadog/agentparams/params_test.go
  test/e2e-framework/registry/BUILD.bazel
  test/e2e-framework/registry/run.go
  test/e2e-framework/registry/scenarios.go
  test/e2e-framework/run/BUILD.bazel
  test/e2e-framework/run/main.go
  test/e2e-framework/scenarios/aws/ec2/run.go
  test/new-e2e/go.mod
  test/new-e2e/run/.gitignore
  test/new-e2e/run/BUILD.bazel
  test/new-e2e/run/Pulumi.yaml
  test/new-e2e/run/main.go
  test/new-e2e/run/scenarios_import_gen.go
  test/new-e2e/tests/agent-health/BUILD.bazel
  test/new-e2e/tests/agent-health/cmd/agent-health-demo/BUILD.bazel
  test/new-e2e/tests/agent-health/cmd/agent-health-demo/awssso.go
  test/new-e2e/tests/agent-health/cmd/agent-health-demo/main.go
  test/new-e2e/tests/agent-health/cmd/agent-health-demo/ssh.go
  test/new-e2e/tests/agent-health/cmd/agent-health-demo/store.go
  test/new-e2e/tests/agent-health/demo.go
  test/new-e2e/tests/agent-health/docker_permission_test.go
  test/new-e2e/tests/agent-health/fixtures/30_seconds_healthplatform_forwarder.yaml
  test/new-e2e/tests/agent-health/fixtures/docker_permission_agent_config.yaml
  test/new-e2e/tests/agent-health/fixtures/invalid_agent_config.yaml
  test/new-e2e/tests/agent-health/provisioner.go
  test/new-e2e/tests/agent-health/provisioner_test.go
  test/new-e2e/tests/agent-health/scenario.go
  tools/generate-scenario-imports/.gitignore
  tools/generate-scenario-imports/BUILD.bazel
  tools/generate-scenario-imports/main.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer

fix(e2e): no longer bust `test-binaries`' build cache every commit (#56802)
  tasks/new_e2e_tests.py
  test/new-e2e/tests/containers/k8s_test.go
  test/new-e2e/tests/sbom/k8s_test.go
Due: copyright, go-mod-tidy

fix(ci): skip SMP detector in light pipelines
  .gitlab/test/functional_test/regression_detector.yml
Due: shell-check-no-set-x, gitlab-configuration

chore(rshell): bump version to v0.0.29 (#56751)
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

remove stale comment
  test/new-e2e/tests/cspm/host_benchmarks_nix_test.go
Due: copyright, go-mod-tidy

feat(healthplatform): split docker socket unavailable from permission issue (#56323)
  comp/healthplatform/AGENTS.md
  comp/healthplatform/README.md
  comp/healthplatform/issues/dockerpermissions/BUILD.bazel
  comp/healthplatform/issues/dockerpermissions/check.go
  comp/healthplatform/issues/dockerpermissions/check_noop.go
  comp/healthplatform/issues/dockerpermissions/check_test.go
  comp/healthplatform/issues/dockerpermissions/issue.go
  comp/healthplatform/issues/dockerpermissions/issue_test.go
  comp/healthplatform/issues/dockerpermissions/module.go
  comp/healthplatform/runner/def/types.go
  pkg/config/env/environment_containers.go
  pkg/config/env/environment_containers_test.go
  pkg/util/system/socket/socket.go
  pkg/util/system/socket/socket_test.go
  releasenotes/notes/docker-socket-unavailable-issue-1ac61c95bf94c65a.yaml
  test/new-e2e/tests/agent-health/docker_permission_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(gpu): set gpu_mig_profile on every GPU, not only MIG instances
  comp/core/tagger/collectors/workloadmeta_extract.go
  comp/core/tagger/collectors/workloadmeta_test.go
  pkg/collector/corechecks/gpu/spec/tags.yaml
  releasenotes/notes/add-gpu-mig-profile-tag-609ecdf9cee9d4ea.yaml
  test/new-e2e/tests/gpu/gpu_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(configfilesdiscovery): expect nginx default config file in env var e2e payload
  test/new-e2e/tests/discovery/configfilesdiscovery_docker_test.go
Due: copyright, go-mod-tidy

chore: codeowners
  .github/CODEOWNERS
Due: none

Changelog update for 7.83.3 release (#56810)
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

Improve component framework docs (#56682)
  .agents/skills/create-component/SKILL.md
  docs/public/architecture/components/fx.md
  docs/public/guidelines/components.md
  docs/public/how-to/components/optional-dependencies.md
  docs/public/tutorials/components/creating-components.md
  docs/public/tutorials/components/testing.md
Due: none

docs(e2e): fix stale -e2e AMI distinction claim in custom-amis.md
  docs/public/how-to/test/e2e/custom-amis.md
Due: none

Remove duplicate runtime service catalog definitions
  service.datadog.yaml
Due: shell-check-no-set-x

WIF-48: scope delegated auth writeback conflicts
  comp/core/delegatedauth/api/delegated_auth.go
  comp/core/delegatedauth/api/delegated_auth_test.go
  comp/core/delegatedauth/go.mod
  comp/core/delegatedauth/go.sum
  comp/core/delegatedauth/impl/BUILD.bazel
  comp/core/delegatedauth/impl/delegatedauth.go
  comp/core/delegatedauth/impl/delegatedauth_test.go
  pkg/config/model/types.go
  pkg/config/nodetreemodel/config.go
  pkg/config/nodetreemodel/config_test.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

pkg/collector/corechecks/cluster/ksm: skip log.Tracef arg formatting for unmapped metrics (#56808)
  pkg/collector/corechecks/cluster/ksm/kubernetes_state.go
Due: copyright, go-mod-tidy

chore: cleanup
  .gitlab/aix/build/aix_packaging.yml
  .gitlab/aix/test/aix_unit_tests.yml
Due: shell-check-no-set-x, gitlab-configuration

fix(e2e): resolve serverless-init Bazel output path in CI
  .gitlab/test/e2e/e2e_agent_runtimes.yml
Due: shell-check-no-set-x, gitlab-configuration

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
