Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format

revive:
  name: revive
  description: revive
  entry: python3 tasks/git-hooks/revive.py
  language: system

govet:
  name: govet
  description: go vet
  entry: python3 tasks/git-hooks/govet.py
  language: system
  require_serial: true

copyright:
  name: copyright
  description: copyright headers
  entry: python3 tasks/git-hooks/copyright.py
  language: system
  require_serial: true

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 tasks/git-hooks/clang-format.py
  language: system
  require_serial: true

pin integrations core 7.44 to updated psycopg2 version
  release.json
Due: none

pkg/trace: support disable_file_logging (#16996)
  cmd/trace-agent/config/config.go
  cmd/trace-agent/config/config_test.go
  cmd/trace-agent/config/testdata/disable_file_logging.yaml
  pkg/trace/writer/trace.go
  releasenotes/notes/apm-disable-file-logging-3cd11cf32b25b36d.yaml
Due: revive, govet, copyright

[usm] Improve `incompleteBuffer` (#17164)
  pkg/network/protocols/http/incomplete_stats.go
  pkg/network/protocols/http/incomplete_stats_test.go
  pkg/network/protocols/http/telemetry.go
  pkg/network/usm/monitor.go
Due: revive, govet, copyright

feat: Use platform.initStart to begin the cold start span
  cmd/serverless/main.go
  pkg/serverless/daemon/daemon.go
  pkg/serverless/logs/logs_collector.go
  pkg/serverless/logs/parse.go
  pkg/serverless/trace/cold_start_span_creator.go
  pkg/serverless/trace/sandbox_boot_time.go
Due: revive, govet, copyright

feat: specs
  pkg/serverless/trace/cold_start_span_creator_test.go
Due: revive, govet, copyright

Make cookie 64 bit
  pkg/network/event_common.go
  pkg/network/state.go
  pkg/network/tracer/connection/tracer.go
Due: revive, govet, copyright

Handle cookie collision
  pkg/network/state.go
Due: revive, govet, copyright

fix: Update logs_test
  pkg/serverless/logs/logs_test.go
Due: revive, govet, copyright

Fix windows
  pkg/network/event_windows.go
Due: revive, govet, copyright

poc span migrations
  migrations-test.yml
  pkg/trace/api/api.go
  pkg/trace/api/migrations.go
  pkg/trace/go.mod
Due: revive, govet, copyright

[process-agent] Add language detection from commandline
  pkg/languagedetection/detector.go
  pkg/languagedetection/detector_test.go
  pkg/languagedetection/parsing.go
Due: revive, govet, copyright

Fix compile/run
  pkg/network/ebpf/c/cookie.h
  pkg/network/ebpf/c/protocols/classification/defs.h
  pkg/network/ebpf/c/protocols/classification/dispatcher-helpers.h
Due: clang-format

Fix: Set init time on EC
  pkg/serverless/executioncontext/executioncontext.go
  pkg/serverless/executioncontext/executioncontext_test.go
Due: revive, govet, copyright

Add copyright
  pkg/languagedetection/detector.go
  pkg/languagedetection/detector_test.go
  pkg/languagedetection/parsing.go
Due: revive, govet, copyright

Fix
  pkg/network/state.go
Due: revive, govet, copyright

add trace message
  pkg/languagedetection/detector.go
Due: revive, govet, copyright

clusteragent: fix image-build task
  tasks/cluster_agent.py
Due: none

[system-probe] Do not drop connections if ebpf closed batch is full (#17118)
  pkg/network/ebpf/c/co-re/tracer-fentry.c
  pkg/network/ebpf/c/protocols/classification/routing.h
  pkg/network/ebpf/c/protocols/classification/tracer-maps.h
  pkg/network/ebpf/c/tracer.c
  pkg/network/ebpf/c/tracer/events.h
  pkg/network/ebpf/c/tracer/maps.h
  pkg/network/ebpf/c/tracer/stats.h
  pkg/network/ebpf/c/tracer/telemetry.h
  pkg/network/ebpf/c/tracer/tracer.h
  pkg/network/ebpf/kprobe_types.go
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/tracer/connection/tcp_close_consumer.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/tracer_classification_test.go
Due: revive, govet, copyright, clang-format

Fix linter error
  pkg/languagedetection/parsing.go
Due: revive, govet, copyright

Make CI profile configurable via env vars (#17003)
  test/new-e2e/runner/ci-profile.go
Due: revive, govet, copyright

Add entry to CODEOWNERS
  .github/CODEOWNERS
Due: none

Remove RT status update from connections check
  pkg/process/runner/submitter.go
Due: revive, govet, copyright

fix(check_notify_teams): correctly raise error when some teams are missing from the GITHUB_SLACK_MAP (#17183)
  tasks/libs/pipeline_notifications.py
  tasks/pipeline.py
Due: none

CWS: sync BTFhub constants
  pkg/security/probe/constantfetch/btfhub/constants.json
Due: none

[CWS] add procfs rate limiter (#17174)
  pkg/security/probe/field_handlers_linux.go
  pkg/security/resolvers/mount/resolver.go
  pkg/security/resolvers/process/resolver.go
  pkg/security/utils/limiter.go
Due: revive, govet, copyright

fix(macOS): macOS install script RC support with DD_AGENT_DIST_CHANNEL env variable support (#17185)
  cmd/agent/install_mac_os.sh
Due: none

feat(get_version_numeric_only): added version cache support (#16980)
  tasks/utils.py
Due: none

Release(mac_os_install_script): 1.2.0
  cmd/agent/install_mac_os.sh
Due: none

AP-2019 rename docker task to prevent name confusion with docker module import (#17175)
  tasks/__init__.py
  tasks/agent.py
  tasks/docker_tasks.py
Due: none

[CWS] remove useless procfs fallbacks (#17187)
  pkg/security/probe/field_handlers_linux.go
  pkg/security/probe/load_controller.go
  pkg/security/probe/probe_linux.go
  pkg/security/resolvers/mount/resolver.go
  pkg/security/resolvers/process/resolver.go
  pkg/security/secl/model/model.go
  pkg/security/secl/model/process_cache_entry.go
  pkg/security/utils/proc.go
Due: revive, govet, copyright

changes on non-oracle-dbm files
  .copyright-overrides.yml
  .github/CODEOWNERS
  cmd/agent/dist/conf.d/oracle-dbm.d/conf.yaml.example
  cmd/agent/subcommands/run/command.go
  pkg/obfuscate/obfuscate.go
  tasks/agent.py
Due: revive, govet, copyright

[e2e] fix linter on misspell
  test/new-e2e/utils/e2e/client/up_result_deserializer.go
Due: revive, govet, copyright

event interface
  go.mod
  go.sum
  pkg/collector/corechecks/oracle-dbm/activity.go
  pkg/collector/corechecks/oracle-dbm/activity_test.go
  pkg/collector/corechecks/oracle-dbm/common/constants.go
  pkg/collector/corechecks/oracle-dbm/common/utils.go
  pkg/collector/corechecks/oracle-dbm/config/README.md
  pkg/collector/corechecks/oracle-dbm/config/config.go
  pkg/collector/corechecks/oracle-dbm/config/metric.go
  pkg/collector/corechecks/oracle-dbm/oracle.go
  pkg/collector/corechecks/oracle-dbm/oracle_test.go
  pkg/collector/corechecks/oracle-dbm/processes.go
  pkg/collector/corechecks/oracle-dbm/sql/setup-rds.sql
  pkg/collector/corechecks/oracle-dbm/sql/setup.sql
  pkg/collector/corechecks/oracle-dbm/statements.go
  pkg/collector/corechecks/oracle-dbm/statements_test.go
  pkg/collector/corechecks/oracle-dbm/sysmetrics.go
  pkg/collector/corechecks/oracle-dbm/tablespaces.go
  pkg/collector/corechecks/oracle-dbm/testutil/dockerpool/dockerpool.go.bak
  pkg/collector/corechecks/oracle-dbm/testutil/testutil.go.bak
Due: revive, govet, copyright

Rename and add comments for clarity
  pkg/aggregator/internal/limiter/limiter.go
  pkg/aggregator/internal/limiter/limiter_test.go
Due: revive, govet, copyright

Clarify behavior when the key is not present on a context.
  pkg/aggregator/internal/limiter/limiter.go
Due: revive, govet, copyright

Remove debugging Println
  pkg/aggregator/time_sampler_test.go
Due: revive, govet, copyright

Add comment about the default value for the contexts limit.
  pkg/config/config.go
Due: revive, govet, copyright

Add more comments
  pkg/aggregator/internal/limiter/limiter.go
Due: revive, govet, copyright

dbm-oracle-beta-0.27
  go.sum
Due: none

Path conditions:
  revive: any of: \.go$
  govet: any of: \.go$
  copyright: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
