Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

[go migration] Clean up some gazelle:ignore instances
  BUILD.bazel
  comp/core/workloadmeta/BUILD.bazel
  comp/core/workloadmeta/collectors/BUILD.bazel
  comp/core/workloadmeta/collectors/internal/remote/BUILD.bazel
  comp/forwarder/connectionsforwarder/BUILD.bazel
  comp/forwarder/eventplatform/BUILD.bazel
  pkg/logs/util/BUILD.bazel
  pkg/logs/util/testutils/BUILD.bazel
  pkg/logs/util/windowsevent/BUILD.bazel
  pkg/network/protocols/http/gotls/lookup/internal/BUILD.bazel
  pkg/sbom/BUILD.bazel
  pkg/security/generators/accessors/BUILD.bazel
  pkg/util/kubernetes/apiserver/common/BUILD.bazel
  pkg/windowsdriver/BUILD.bazel
Due: none

Force-enable USM connection rollup in discovery mode
  pkg/system-probe/config/adjust_discovery.go
  pkg/system-probe/config/adjust_discovery_test.go
Due: copyright, go-mod-tidy

Explain the 16-byte request-fragment cap in discovery mode
  pkg/network/usm/monitor_windows.go
Due: copyright, go-mod-tidy

Treat usmstate.Restricted as active in eventmonitor check
  cmd/system-probe/modules/eventmonitor_linux.go
  pkg/network/usm/state/state.go
Due: copyright, go-mod-tidy

Tweak discovery startup log: drop billing, mention TLS
  pkg/system-probe/config/adjust_discovery.go
Due: copyright, go-mod-tidy

Re-read USM/NPM in post-adjust process inference guard
  pkg/system-probe/config/adjust.go
  pkg/system-probe/config/adjust_discovery_test.go
Due: copyright, go-mod-tidy

Mask USM inventory flags when discovery service map is on
  comp/metadata/inventoryagent/impl/inventoryagent.go
Due: copyright, go-mod-tidy

Refactor inventory mask to a single labeled override block
  comp/metadata/inventoryagent/impl/inventoryagent.go
Due: copyright, go-mod-tidy

Use if/else for inventory USM flag billing-intent mask
  comp/metadata/inventoryagent/impl/inventoryagent.go
Due: copyright, go-mod-tidy

Loop over masked keys in the discovery branch
  comp/metadata/inventoryagent/impl/inventoryagent.go
Due: copyright, go-mod-tidy

Disable discovery mode when sk_tracer is enabled
  pkg/system-probe/config/adjust_discovery.go
  pkg/system-probe/config/adjust_discovery_test.go
Due: copyright, go-mod-tidy

Disable discovery mode when ebpfless is enabled
  pkg/system-probe/config/adjust_discovery.go
  pkg/system-probe/config/adjust_discovery_test.go
Due: copyright, go-mod-tidy

Bump agent-payload to merge tip with master (daemonName field)
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

Bump `gazelle` to 0.51.0 and drop the override (#50547)
  MODULE.bazel
  MODULE.bazel.lock
Due: none

Implemented component
  cmd/agent/subcommands/run/command_observer.go
  comp/anomalydetection/observer/hfrunner/def/BUILD.bazel
  comp/anomalydetection/observer/hfrunner/def/component.go
  comp/anomalydetection/observer/hfrunner/fx/fx.go
  comp/anomalydetection/observer/hfrunner/impl/hfrunner.go
  comp/anomalydetection/observer/hfrunner/impl/runner.go
  comp/anomalydetection/observer/hfrunner/impl/sender.go
  comp/anomalydetection/observer/impl/engine.go
  comp/anomalydetection/observer/impl/observer.go
  comp/anomalydetection/observer/impl/system_filter_test.go
Due: copyright, go-mod-tidy

Added allium
  comp/anomalydetection/observer/hfrunner/hfrunner.allium
  comp/anomalydetection/observer/observer-engine.allium
Due: none

Fixed component issues
  comp/anomalydetection/observer/hfrunner/fx/fx.go
  internal/qbranch/anomalydetection-scorer/go.mod
  internal/qbranch/anomalydetection-scorer/go.sum
  internal/qbranch/anomalydetection-testbench/go.mod
  internal/qbranch/anomalydetection-testbench/go.sum
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

Addressed review, nil check
  comp/anomalydetection/hfrunner/impl/hfrunner.go
Due: copyright, go-mod-tidy

Tweaks
  comp/anomalydetection/observer/hfrunner/impl/hfrunner.go
Due: copyright, go-mod-tidy

Moved package + added build bazel
  cmd/agent/subcommands/run/command_observer.go
  comp/anomalydetection/hfrunner/def/BUILD.bazel
  comp/anomalydetection/hfrunner/def/component.go
  comp/anomalydetection/hfrunner/fx/BUILD.bazel
  comp/anomalydetection/hfrunner/fx/fx.go
  comp/anomalydetection/hfrunner/hfrunner.allium
  comp/anomalydetection/hfrunner/impl/BUILD.bazel
  comp/anomalydetection/hfrunner/impl/hfrunner.go
  comp/anomalydetection/hfrunner/impl/runner.go
  comp/anomalydetection/hfrunner/impl/sender.go
  comp/anomalydetection/observer/impl/engine.go
  comp/anomalydetection/observer/impl/observer.go
  comp/anomalydetection/observer/observer-engine.allium
Due: copyright, go-mod-tidy

Fix import
  comp/anomalydetection/observer/impl/observer.go
Due: copyright, go-mod-tidy

Fixed components lint
  .github/CODEOWNERS
  comp/README.md
Due: none

Excluded build bazel
  BUILD.bazel
  comp/anomalydetection/hfrunner/def/BUILD.bazel
  comp/anomalydetection/hfrunner/fx/BUILD.bazel
  comp/anomalydetection/hfrunner/impl/BUILD.bazel
Due: none

[ABLD-387] `bazel`ify proto generation: `process` (#50558)
  BUILD.bazel
  bazel/rules/write_pb_go/_gazelle_extension.go
  pkg/proto/datadog/process/BUILD.bazel
  pkg/proto/pbgo/process/BUILD.bazel
  tasks/protobuf.py
Due: copyright, go-mod-tidy, protocol-buffer

Modif go sum
  internal/qbranch/anomalydetection-testbench/go.sum
Due: none

[ABLD-387] `bazel`ify proto generation: `privateactionrunner`
  BUILD.bazel
  pkg/proto/datadog/privateactionrunner/BUILD.bazel
  pkg/proto/pbgo/privateactionrunner/actionsclient/BUILD.bazel
  pkg/proto/pbgo/privateactionrunner/errorcode/BUILD.bazel
  pkg/proto/pbgo/privateactionrunner/privateactions/BUILD.bazel
  tasks/protobuf.py
Due: protocol-buffer

Address PR review comments on hfrunner component
  comp/anomalydetection/hfrunner/fx/fx.go
  comp/anomalydetection/hfrunner/impl/hfrunner.go
Due: copyright, go-mod-tidy

[observer] Drop allium migration reference docs
  .agents/skills/allium/references/migration-v1-to-v2.md
  .agents/skills/allium/references/migration-v2-to-v3.md
Due: none

fix(modules): add missing replace rules for hostport/observer-def cross-references
  comp/anomalydetection/observer/def/go.mod
  pkg/util/hostport/go.mod
Due: check-go-modules-in-python, protocol-buffer

Move observer/logssource python build-tag gating into their fx packages
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/command_observer.go
  cmd/agent/subcommands/run/command_observer_stub.go
  comp/anomalydetection/logssource/fx/fx.go
  comp/anomalydetection/logssource/fx/fx_noop.go
  comp/anomalydetection/observer/fx/fx.go
  comp/anomalydetection/observer/fx/fx_noop.go
Due: copyright, go-mod-tidy

healthplatform: drop "check" terminology from the public API
  comp/core/agenttelemetry/impl/config.go
  comp/healthplatform/bundle_test.go
  comp/healthplatform/noop-impl/health_platform_noop.go
  comp/healthplatform/noop-impl/health_platform_noop_test.go
  comp/healthplatform/scheduler/def/component.go
  comp/healthplatform/scheduler/impl/scheduler.go
  comp/healthplatform/scheduler/impl/scheduler_test.go
  comp/healthplatform/scheduler/mock/mock.go
  comp/healthplatform/store/def/component.go
  comp/healthplatform/store/impl/store.go
  comp/healthplatform/store/impl/store_test.go
  comp/healthplatform/store/mock/mock.go
  comp/healthplatform/store/noop-impl/noop.go
  releasenotes/notes/health-platform-rename-issue-id-tag-fb0b7f34a03aa6ab.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix: stop demux tests from blocking on unstarted workers; add missing go.mod replace rules
  comp/anomalydetection/observer/def/go.mod
  pkg/aggregator/observer_handle_test.go
  pkg/util/hostport/go.mod
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

[SBOM] Tolerate extra non-empty entries in imgMeta.Layers (#50517)
  pkg/util/trivy/overlayfs.go
Due: copyright, go-mod-tidy

Fix exclude directives
  BUILD.bazel
  cmd/otel-agent/subcommands/coverage/BUILD.bazel
  cmd/trace-agent/subcommands/coverage/BUILD.bazel
  pkg/security/tests/testutils/BUILD.bazel
Due: none

test/new-e2e/tests/autoscaling/spot: eliminate pod startup delays for test pods
  test/new-e2e/tests/autoscaling/spot/deployment_test.go
  test/new-e2e/tests/autoscaling/spot/statefulset_test.go
  test/new-e2e/tests/autoscaling/spot/suite_test.go
Due: copyright, go-mod-tidy

fix(bazel): add fx_noop.go to anomalydetection observer/logssource fx BUILD.bazel
  comp/anomalydetection/logssource/fx/BUILD.bazel
  comp/anomalydetection/observer/fx/BUILD.bazel
Due: none

Migrate event_deep_copy codegen to Bazel
  bazel/rules/cws_codegen/defs.bzl
  pkg/discovery/tracermetadata/model/BUILD.bazel
  pkg/security/generators/event_deep_copy/BUILD.bazel
  pkg/security/generators/event_deep_copy/event_deep_copy.tmpl
  pkg/security/generators/event_deep_copy/main.go
  pkg/security/secl/compiler/eval/BUILD.bazel
  pkg/security/secl/model/BUILD.bazel
  pkg/security/secl/model/event_deep_copy_unix.go
  pkg/security/secl/model/utils/BUILD.bazel
  tasks/security_agent.py
Due: copyright, go-mod-tidy

Propagate visibility to the targets in macro
  bazel/rules/cws_codegen/defs.bzl
Due: none
