Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

fix race condition
  pkg/dyninst/module/module_test.go
Due: copyright, go-mod-tidy

chore: update rshell helper revision
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

fix(serverless-init): align inventory wire contract with REDAPL and EPRW
  cmd/serverless-init/cloudservice/cloudrun.go
  cmd/serverless-init/cloudservice/inventory.go
  cmd/serverless-init/inventory/inventory.go
Due: copyright, go-mod-tidy

fix(par): allow privileged read-only rshell actions
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command.go
  pkg/privateactionrunner/bundles/remoteaction/rshell/run_command_test.go
Due: copyright, go-mod-tidy

add setup time
  .github/workflows/serverless-perf.yml
  cmd/serverless-init/main.go
  test/integration/serverless_perf/compute.sh
Due: copyright, go-mod-tidy, shell-check-no-set-x

[Windows] Add E2E coverage for ddinjector crash telemetry
  .agents/skills/write-e2e/references/fakeintake.md
  .gitlab/JOBOWNERS
  .gitlab/windows/test/e2e_install_packages/windows.yml
  comp/checks/agentcrashdetect/impl/BUILD.bazel
  test/fakeintake/AGENTS.md
  test/fakeintake/aggregator/apmTelemetryAggregator.go
  test/fakeintake/aggregator/apmTelemetryAggregator_test.go
  test/fakeintake/client/client.go
  test/fakeintake/client/client_test.go
  test/fakeintake/version/VERSION
  test/new-e2e/tests/installer/windows/BUILD.bazel
  test/new-e2e/tests/installer/windows/apm_inject_crash_telemetry_test.go
  test/new-e2e/tests/installer/windows/apm_inject_injector_stats_test.go
  test/new-e2e/tests/installer/windows/fixtures/ddinjector_crash.ps1
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

refactor(remote-config): split TUF proof provider interface
  comp/core/autodiscovery/providers/datasecurity/data_security_test.go
  comp/core/autodiscovery/providers/datastreams/kafka_actions_test.go
  comp/dataobs/queryactions/impl/queryactions_test.go
  comp/remote-config/rcclient/def/component.go
  comp/remote-config/rcclient/impl/rcclient.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_test.go
  pkg/ebpf/rc_btf_test.go
  pkg/privateactionrunner/adapters/rcclient/BUILD.bazel
  pkg/privateactionrunner/adapters/rcclient/rc_client_adapter.go
  pkg/privateactionrunner/adapters/rcclient/rc_client_adapter_test.go
Due: copyright, go-mod-tidy

[CWS] regenerate BUILD.bazel for the hardening posture sources
  pkg/security/security_profile/activity_tree/BUILD.bazel
  pkg/security/security_profile/profile/BUILD.bazel
Due: none

Retry the IPC credential load in the configstream consumer (#55752)
  comp/core/configstreamconsumer/impl/BUILD.bazel
  comp/core/configstreamconsumer/impl/consumer.go
  comp/core/configstreamconsumer/impl/consumer_test.go
Due: copyright, go-mod-tidy

[CWS] add the probe config dep to the security_profile test target
  pkg/security/security_profile/BUILD.bazel
Due: none

add baseline job
  .github/workflows/serverless-perf.yml
Due: shell-check-no-set-x

Update INTEGRATIONS_CORE_VERSION in release.json
  release.json
Due: none

[CXP-3881] Resolve process users from host passwd
  pkg/process/checks/BUILD.bazel
  pkg/process/checks/process_nix.go
  pkg/process/checks/process_nix_test.go
  pkg/process/checks/user_nix.go
  pkg/process/checks/user_nix_test.go
  pkg/process/userresolver/BUILD.bazel
  pkg/process/userresolver/resolver_nix.go
  pkg/process/userresolver/resolver_nix_test.go
  releasenotes/notes/resolve-process-users-from-host-passwd-1f85cb7264e8a306.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

privateactionrunner: re-enroll when api_key changes
  cmd/privateactionrunner/subcommands/bootstrapparcontrol/enrollment.go
  comp/privateactionrunner/impl/privateactionrunner.go
  pkg/privateactionrunner/enrollment/BUILD.bazel
  pkg/privateactionrunner/enrollment/enrollment.go
  pkg/privateactionrunner/enrollment/enrollment_test.go
  pkg/privateactionrunner/enrollment/k8s_secret.go
  pkg/privateactionrunner/enrollment/storage.go
  pkg/privateactionrunner/enrollment/storage_test.go
Due: copyright, go-mod-tidy

fix(logs): Isolate partial container logs by stream (#55594)
  pkg/logs/internal/decoder/decoder.go
  pkg/logs/internal/decoder/decoder_test.go
  pkg/logs/internal/decoder/line_handler_test.go
  pkg/logs/internal/decoder/line_parser.allium
  pkg/logs/internal/decoder/line_parser.go
  pkg/logs/internal/decoder/line_parser_test.go
  pkg/logs/internal/decoder/multiline_handler.go
  pkg/logs/internal/decoder/preprocessor/aggregator_test.go
  pkg/logs/internal/decoder/preprocessor/combining_aggregator.go
  pkg/logs/internal/decoder/preprocessor/json_aggregator.go
  pkg/logs/internal/decoder/preprocessor/json_aggregator_test.go
  pkg/logs/internal/decoder/preprocessor/regex_aggregator.go
  pkg/logs/internal/decoder/preprocessor/regex_aggregator_test.go
  pkg/logs/internal/decoder/preprocessor/stack_trace_aggregator.go
  pkg/logs/internal/decoder/preprocessor/stack_trace_aggregator_test.go
  pkg/logs/internal/parsers/dockerfile/docker_file.go
  pkg/logs/internal/parsers/dockerfile/docker_file_test.go
  pkg/logs/internal/parsers/kubernetes/kubernetes.go
  pkg/logs/internal/parsers/kubernetes/kubernetes_test.go
  pkg/logs/message/message.go
  pkg/logs/message/message_test.go
  pkg/logs/tailers/file/tailer.go
  pkg/logs/tailers/file/tailer_test.go
  releasenotes/notes/fix-interleaved-container-log-streams-672b13f98db53069.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

add setup load time
  test/integration/serverless_perf/compute.sh
Due: shell-check-no-set-x

feat: unify unix socket cleanup
  comp/api/api/apiimpl/listener/listener_nix.go
  comp/core/remoteagent/helper/BUILD.bazel
  comp/core/remoteagent/helper/serverhelper.go
  pkg/fleet/daemon/BUILD.bazel
  pkg/fleet/daemon/local_api_unix.go
  pkg/network/tracer/testutil/proxy/BUILD.bazel
  pkg/network/tracer/testutil/proxy/unix_transparent_proxy.go
  pkg/privateactionrunner/executor/BUILD.bazel
  pkg/privateactionrunner/executor/transport_unix.go
  pkg/system-probe/api/server/listener_unix.go
  pkg/trace/api/loader/BUILD.bazel
  pkg/trace/api/loader/listeners.go
  pkg/trace/go.mod
  pkg/util/filesystem/BUILD.bazel
  pkg/util/filesystem/socket.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

Clean up other instances adding AKS selectors since it's centrally managed now
  pkg/clusteragent/admission/common/label_selectors.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/label_selectors.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/label_selectors_test.go
Due: copyright, go-mod-tidy

fix(logs): report wildcard sources that match no files
  pkg/logs/launchers/file/provider/file_provider.go
  pkg/logs/launchers/file/provider/file_provider_test.go
Due: copyright, go-mod-tidy

feat(logs): report files not tailed because of an unusable fingerprint
  pkg/logs/launchers/file/BUILD.bazel
  pkg/logs/launchers/file/fingerprint_tailer_diagnostics.go
  pkg/logs/launchers/file/fingerprint_tailer_diagnostics_test.go
  pkg/logs/launchers/file/launcher.go
  pkg/logs/tailers/file/fingerprint.go
  releasenotes/notes/log-file-tailer-skip-observability-4c1f7a20b8de6931.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(par): harden privileged rshell lifecycle
  pkg/config/example/datadog-agent_windows.yaml.example
  pkg/fleet/installer/packages/datadog_agent_linux.go
  pkg/fleet/installer/packages/datadog_agent_linux_test.go
  pkg/fleet/installer/packages/embedded/tmpl/datadog-agent-rshell-privileged.service.tmpl
  pkg/fleet/installer/packages/embedded/tmpl/datadog-agent-rshell-privileged.socket.tmpl
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/d/datadog-agent-rshell-privileged-exp.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/d/datadog-agent-rshell-privileged-exp.socket
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/d/datadog-agent-rshell-privileged.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/d/datadog-agent-rshell-privileged.socket
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/dn/datadog-agent-rshell-privileged-exp.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/dn/datadog-agent-rshell-privileged-exp.socket
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/dn/datadog-agent-rshell-privileged.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/dn/datadog-agent-rshell-privileged.socket
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/o/datadog-agent-rshell-privileged-exp.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/o/datadog-agent-rshell-privileged-exp.socket
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/o/datadog-agent-rshell-privileged.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/o/datadog-agent-rshell-privileged.socket
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/on/datadog-agent-rshell-privileged-exp.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/on/datadog-agent-rshell-privileged-exp.socket
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/on/datadog-agent-rshell-privileged.service
  pkg/fleet/installer/packages/embedded/tmpl/gen/r/on/datadog-agent-rshell-privileged.socket
  pkg/fleet/installer/packages/embedded/tmpl/main_test.go
  pkg/privateactionrunner/adapters/rcclient/BUILD.bazel
Due: copyright, go-mod-tidy, experiment-systemd-units

remove system-probe module-restart command (#55735)
  cmd/system-probe/api/BUILD.bazel
  cmd/system-probe/api/restart.go
  cmd/system-probe/api/server.go
  cmd/system-probe/subcommands/BUILD.bazel
  cmd/system-probe/subcommands/modrestart/BUILD.bazel
  cmd/system-probe/subcommands/modrestart/command.go
  cmd/system-probe/subcommands/modrestart/command_test.go
  cmd/system-probe/subcommands/subcommands.go
  pkg/system-probe/api/module/BUILD.bazel
  pkg/system-probe/api/module/loader.go
  pkg/system-probe/api/module/router.go
  pkg/system-probe/api/module/router_test.go
  releasenotes/notes/sysprobe-remove-module-restart-acd9666dbd6d56c7.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix ci
  comp/otelcol/ddflareextension/impl/BUILD.bazel
Due: none

Add AzureContainerAppsKind OTel source detection
  pkg/opentelemetry-mapping-go/otlp/attributes/source.go
  pkg/opentelemetry-mapping-go/otlp/attributes/source/source_provider.go
  pkg/opentelemetry-mapping-go/otlp/attributes/source_test.go
Due: copyright, go-mod-tidy

Add semconv v1.40.0 to bazel build file
  pkg/opentelemetry-mapping-go/otlp/attributes/BUILD.bazel
Due: none

Handle AzureContainerAppsKind in metrics and trace translators
  pkg/opentelemetry-mapping-go/otlp/metrics/metrics_translator.go
  pkg/opentelemetry-mapping-go/otlp/metrics/minimal_translator.go
  pkg/trace/api/otlp.go
Due: copyright, go-mod-tidy

Check FaaSInstanceID instead of ServiceInstanceID and remove container apps from trace path
  pkg/opentelemetry-mapping-go/otlp/attributes/source.go
  pkg/opentelemetry-mapping-go/otlp/attributes/source_test.go
  pkg/trace/api/otlp.go
Due: copyright, go-mod-tidy

Refactor Source.Identifier from string to struct with Primary and Dimensions
  comp/otelcol/otlp/components/exporter/datadogexporter/traces_exporter.go
  comp/otelcol/otlp/components/exporter/serializerexporter/exporter.go
  comp/otelcol/otlp/components/exporter/serializerexporter/serializer.go
  pkg/opentelemetry-mapping-go/inframetadata/reporter.go
  pkg/opentelemetry-mapping-go/otlp/attributes/attributes.go
  pkg/opentelemetry-mapping-go/otlp/attributes/source.go
  pkg/opentelemetry-mapping-go/otlp/attributes/source/source_provider.go
  pkg/opentelemetry-mapping-go/otlp/attributes/source_test.go
  pkg/opentelemetry-mapping-go/otlp/logs/transform.go
  pkg/opentelemetry-mapping-go/otlp/logs/translator.go
  pkg/opentelemetry-mapping-go/otlp/metrics/metrics_translator.go
  pkg/opentelemetry-mapping-go/otlp/metrics/metrics_translator_test.go
  pkg/opentelemetry-mapping-go/otlp/metrics/minimal_translator.go
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  pkg/trace/transform/transform.go
Due: copyright, go-mod-tidy

feat(orchestrator): collect KubeRay custom resources by default
  pkg/collector/corechecks/cluster/orchestrator/collector_bundle.go
  pkg/collector/corechecks/cluster/orchestrator/collector_bundler_test.go
  releasenotes-dca/notes/collect-kuberay-custom-resources-by-default-4dfe9813.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(releasenotes): use valid reno filename
  releasenotes-dca/notes/collect-kuberay-custom-resources-by-default-4dfe9813a92c74b1.yaml
Due: shell-check-no-set-x

[smp] quality_gate idle: allow 5 connections
  test/regression/cases/quality_gate_idle/experiment.yaml
Due: shell-check-no-set-x

[smp] QG idle_all_features: allow 5 connections
  test/regression/cases/quality_gate_idle_all_features/experiment.yaml
Due: shell-check-no-set-x

Add PowerShell cmdlet core check (Windows)
  .github/CODEOWNERS
  cmd/agent/dist/conf.d/powershell.d/conf.yaml.example
  pkg/collector/corechecks/system/powershell/BUILD.bazel
  pkg/collector/corechecks/system/powershell/allowlist.go
  pkg/collector/corechecks/system/powershell/allowlist_test.go
  pkg/collector/corechecks/system/powershell/command.go
  pkg/collector/corechecks/system/powershell/command_test.go
  pkg/collector/corechecks/system/powershell/config.go
  pkg/collector/corechecks/system/powershell/config_test.go
  pkg/collector/corechecks/system/powershell/mapping.go
  pkg/collector/corechecks/system/powershell/mapping_test.go
  pkg/collector/corechecks/system/powershell/powershell.go
  pkg/collector/corechecks/system/powershell/stub.go
  pkg/commonchecks/corechecks.go
  releasenotes/notes/powershell-cmdlet-check-6f3a1b2c8d4e5a90.yaml
  tasks/core_checks.py
Due: copyright, go-mod-tidy, shell-check-no-set-x

Refine PowerShell check: fail on invalid metric values, validate timeout
  cmd/agent/dist/conf.d/powershell.d/conf.yaml.example
  pkg/collector/corechecks/system/powershell/BUILD.bazel
  pkg/collector/corechecks/system/powershell/config.go
  pkg/collector/corechecks/system/powershell/config_test.go
  pkg/collector/corechecks/system/powershell/powershell.go
  releasenotes/notes/powershell-cmdlet-check-6f3a1b2c8d4e5a90.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Add powershell to WINDOWS_CORECHECKS in core_checks.bzl
  cmd/agent/dist/core_checks.bzl
Due: none

Validate powershell check config with a reflected JSON schema
  cmd/agent/dist/conf.d/powershell.d/conf.yaml.example
  pkg/collector/corechecks/system/powershell/BUILD.bazel
  pkg/collector/corechecks/system/powershell/config.go
  pkg/collector/corechecks/system/powershell/powershell.go
  pkg/collector/corechecks/system/powershell/schema.go
  pkg/collector/corechecks/system/powershell/schema_test.go
Due: copyright, go-mod-tidy

Enforce allowlist module pinning in the powershell check
  cmd/agent/dist/conf.d/powershell.d/conf.yaml.example
  pkg/collector/corechecks/system/powershell/allowlist.go
  pkg/collector/corechecks/system/powershell/allowlist_test.go
  pkg/collector/corechecks/system/powershell/command.go
  pkg/collector/corechecks/system/powershell/command_test.go
  pkg/collector/corechecks/system/powershell/powershell.go
Due: copyright, go-mod-tidy

Ship a sample powershell allowlist into the protected directory
  .github/CODEOWNERS
  cmd/agent/dist/protected/BUILD.bazel
  cmd/agent/dist/protected/powershell_allowlist.yaml.example
  packages/windows/BUILD.bazel
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog Agent/AgentInstaller.cs
Due: none

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
