Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

copyright:
  name: copyright
  description: copyright headers
  entry: inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: inv tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

gitlab-lint-jobs-codeowners:
  name: gitlab-lint-jobs-codeowners
  description: lint the gitlab configuration to verify jobs codeowners
  entry: inv linter.gitlab-ci-jobs-codeowners
  language: system
  require_serial: true
  pass_filenames: false

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: inv modules.validate
  language: system
  pass_filenames: false

hacky_dev_image_build: remove wrong bundle arg in `process_agent_build` (#31253)
  tasks/agent.py
Due: none

mark snmp e2e test as flaky
  test/new-e2e/tests/ndm/snmp/snmp_test.go
Due: copyright, go-mod-tidy

Address PR reviews
  tasks/github_tasks.py
  tasks/libs/ciproviders/github_api.py
Due: none

feat(fleet): Support integrations policies
  cmd/agent/common/autodiscovery.go
  comp/core/flare/providers.go
  comp/core/gui/guiimpl/checks.go
Due: copyright, go-mod-tidy

ci(requirements): Remove unseless requirement installation (#31244)
  .gitlab/source_test/slack.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

tests: stop collecting hash field values on non-matching events
  pkg/security/secl/compiler/eval/evaluators.go
  pkg/security/secl/rules/collected_events_functests.go
Due: copyright, go-mod-tidy

remove subscribers functionality from remote tagger
  comp/core/tagger/impl-remote/remote.go
  comp/core/tagger/impl-remote/tagstore.go
Due: copyright, go-mod-tidy

[tagger/fake] Simplify implementation (#31265)
  comp/core/tagger/impl/fake_tagger.go
  comp/core/tagger/impl/tagger.go
  comp/core/tagger/tagstore/tagstore.go
Due: copyright, go-mod-tidy

Fix test.
  comp/aggregator/demultiplexer/demultiplexerimpl/status_test.go
Due: copyright, go-mod-tidy

Update the milestones dates for RC1 and Staging deployment in the release calendar
  tasks/libs/releasing/documentation.py
Due: none

Fix probe.h
  pkg/network/ebpf/c/shared-libraries/probes.h
Due: win-clang-format

update override in windows
  test/new-e2e/tests/agent-subcommands/health/health_win_test.go
Due: copyright, go-mod-tidy

Add ASC as co-owners of the workloadmeta, tagger and autodicovery components
  .github/CODEOWNERS
  comp/README.md
  comp/core/autodiscovery/component.go
  comp/core/tagger/def/component.go
  comp/core/workloadmeta/def/component.go
Due: copyright, go-mod-tidy

improve error message for remote tagger when using the Subscribe function
  comp/core/tagger/impl-remote/remote.go
Due: copyright, go-mod-tidy

[NDM] mark snmp e2e test as flaky (#31266)
  test/new-e2e/tests/ndm/snmp/snmp_test.go
Due: copyright, go-mod-tidy

Add required needs directive
  .gitlab/deps_fetch/deps_fetch.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Update the base image of the (cluster-)agent to Ubuntu 24.04 noble (#26161)
  Dockerfiles/agent/Dockerfile
  Dockerfiles/cluster-agent/Dockerfile
  releasenotes-dca/notes/update-cluster-agent-base-image-to-ubuntu-24.04-c2174796d7736c4a.yaml
  releasenotes/notes/update-agent-base-image-to-ubuntu-24.04-0106b294f655a38a.yaml
Due: shell-check-no-set-x

Improve error handling
  pkg/fleet/installer/service/datadog_agent_windows.go
  pkg/fleet/installer/service/datadog_installer_windows.go
  pkg/fleet/installer/service/msiexec.go
  pkg/fleet/internal/bootstrap/bootstrap_windows.go
  pkg/fleet/internal/msi/msiexec.go
  pkg/fleet/internal/msi/product.go
Due: copyright, go-mod-tidy

Add tags to pick a runner
  .gitlab/deps_fetch/deps_fetch.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Add latest-ltsc2019 and latest-ltsc2022 images
  .gitlab/deploy_containers/deploy_containers_a7.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Add release note
  releasenotes/notes/windows-openjdk-566b5bfabd0fc9f5.yaml
Due: shell-check-no-set-x

Use the correct hash for the JRE archive.
  Dockerfiles/agent/install.ps1
Due: none

Release notes
  releasenotes/notes/add-ltsc2019-and-ltsc2022-images-b261c1821cc50116.yaml
Due: shell-check-no-set-x

rename os from 2022 to ltsc2022
  .gitlab/deploy_containers/deploy_containers_a7.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Add unit tests for the omnibus invoke task rpath-edit (#31245)
  tasks/omnibus.py
  tasks/unit_tests/omnibus_tests.py
Due: none

e2e: fix path to schemas
  test/new-e2e/tests/cws/common.go
Due: copyright, go-mod-tidy

Apply suggestions from code review
  comp/core/agenttelemetry/impl/agenttelemetry.go
  comp/core/agenttelemetry/impl/agenttelemetry_test.go
Due: copyright, go-mod-tidy

[task] add link to flake marker and test washer doc from go test logs (#31170)
  tasks/gotest.py
Due: none

[CWS] tests: stop collecting hash field values on non-matching events (#31268)
  pkg/security/secl/compiler/eval/evaluators.go
  pkg/security/secl/rules/collected_events_functests.go
Due: copyright, go-mod-tidy

Use single structure
  pkg/network/usm/sharedlibraries/ebpf.go
Due: copyright, go-mod-tidy

feat(unified-origin-detection): add dd.internal.card:none support
  comp/core/tagger/impl/tagger.go
  comp/core/tagger/impl/tagger_test.go
Due: copyright, go-mod-tidy

Remove redundant attribute
  pkg/network/usm/sharedlibraries/ebpf.go
Due: copyright, go-mod-tidy

Fix wait on stopImpl method
  pkg/network/usm/sharedlibraries/ebpf.go
Due: copyright, go-mod-tidy

Go mod tidy
  comp/otelcol/logsagentpipeline/go.sum
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/go.sum
  pkg/logs/pipeline/go.sum
  pkg/logs/sender/go.sum
Due: none

remove bundle support from omnibus
  omnibus/config/software/datadog-agent.rb
Due: none

remove launcher and setProcessName feature
  cmd/agent/launcher/launcher.c
  cmd/agent/main.go
  cmd/agent/main_common.go
  cmd/agent/main_linux_cgo.go
  cmd/agent/main_linux_no_cgo.go
  cmd/agent/process_agent.go
  cmd/agent/security_agent.go
  cmd/agent/system_probe.go
  cmd/agent/trace_agent.go
  tasks/agent.py
Due: copyright, win-clang-format, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$
