Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, gofmt, clang-format

revive:
  name: revive
  description: revive
  entry: python3 tasks/git-hooks/revive.py
  language: system

govet:
  name: govet
  description: go vet
  entry: python3 tasks/git-hooks/govet.py
  language: system
  require_serial: true

gofmt:
  name: gofmt
  description: go fmt
  entry: python3 tasks/git-hooks/gofmt.py
  language: system

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 tasks/git-hooks/clang-format.py
  language: system
  require_serial: true

[CWS] skip fallback constants on SLES
  pkg/security/tests/chown32_test.go
  pkg/security/tests/constants_test.go
  pkg/security/tests/module_tester.go
Due: revive, govet, gofmt

[CWS] upgrade ubuntu 21-04 arm64 ami version
  test/kitchen/platforms.json
Due: none

[CWS] skip fallback constants on Oracle (not supported by Nikos)
  pkg/security/tests/constants_test.go
  pkg/security/tests/module_tester.go
Due: revive, govet, gofmt

[CWS] improve skip check API
  pkg/security/tests/chown32_test.go
  pkg/security/tests/constants_test.go
  pkg/security/tests/module_tester.go
Due: revive, govet, gofmt

[CWS] upgrade ubuntu 21-10 amd64 urn version
  test/kitchen/platforms.json
Due: none

[CWS] add lint escape around function used only in tests
  pkg/security/tests/module_tester.go
Due: revive, govet, gofmt

[CWS] debub rhel 8
  .gitlab/functional_test/security_agent.yml
  test/kitchen/platforms.json
  test/kitchen/test/integration/security-agent-test/rspec/security-agent-test_spec.rb
Due: none

[CWS] cleanup rhel
  .gitlab/functional_test/security_agent.yml
  test/kitchen/test/integration/security-agent-test/rspec/security-agent-test_spec.rb
Due: none

Revert "[networks] Fix support for NAT with keep-alives (#10078)"
  pkg/network/http/http_statkeeper.go
  pkg/network/http/incomplete_stats.go
  pkg/network/http/incomplete_stats_test.go
  pkg/network/http/monitor.go
  pkg/network/http/monitor_test.go
Due: revive, govet, gofmt

use_local_ntp_servers: include chrony (#10915)
  pkg/collector/corechecks/net/ntp_local_defined_server_nowindows.go
  releasenotes/notes/use_local_defined_servers-include-chronyd-support-a5dd58318f5294ef.yaml
Due: revive, govet, gofmt

Fix serialization tests
  pkg/network/encoding/encoding_test.go
Due: revive, govet, gofmt

Revert "Add support for tracing HTTPS requests in GnuTLS (#9462)"
  pkg/ebpf/bytecode/runtime/http.go
  pkg/ebpf/bytecode/runtime/tracer.go
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/prebuilt/tracer.c
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/ebpf/c/runtime/tracer.c
  pkg/network/http/ebpf_main.go
  pkg/network/http/ebpf_ssl.go
  pkg/network/http/model.go
  pkg/network/http/model_test.go
Due: revive, govet, gofmt, clang-format

[releasenote] remove dsd sharding release note entry (not enabled yet) (#10953)
  releasenotes/notes/dogstatsd-sharding-b00c2a44ae0e83d3.yaml
Due: none

[demultiplexer] guard against configuration mistakes / inconsistent values.
  pkg/aggregator/demultiplexer.go
Due: revive, govet, gofmt

[agent] re-enable the vector.metric.* knobs (#10880)
  cmd/agent/app/run.go
Due: revive, govet, gofmt

Refactor samplers
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/event/memory_backend.go
  pkg/trace/event/sampler_max_eps.go
  pkg/trace/sampler/adjust.go
  pkg/trace/sampler/adjust_test.go
  pkg/trace/sampler/coresampler.go
  pkg/trace/sampler/coresampler_test.go
  pkg/trace/sampler/memory_backend.go
  pkg/trace/sampler/memory_backend_test.go
  pkg/trace/sampler/prioritysampler.go
  pkg/trace/sampler/prioritysampler_test.go
  pkg/trace/sampler/rare_sampler.go
  pkg/trace/sampler/rare_sampler_test.go
  pkg/trace/sampler/remote_rates.go
  pkg/trace/sampler/remote_rates_test.go
  pkg/trace/sampler/sampler.go
  pkg/trace/sampler/score.go
  pkg/trace/sampler/score_test.go
  pkg/trace/sampler/scoresampler.go
  pkg/trace/sampler/scoresampler_test.go
Due: revive, govet, gofmt

Apply suggestions from code review
  pkg/otlp/internal/serializerexporter/consumer.go
Due: revive, govet, gofmt

Typo.
  pkg/aggregator/demultiplexer.go
Due: revive, govet, gofmt

Migrate the containerd check to generic check infrastructure (#10383)
  LICENSE-3rdparty.csv
  pkg/collector/corechecks/containers/containerd/adapter.go
  pkg/collector/corechecks/containers/containerd/check.go
  pkg/collector/corechecks/containers/containerd/check_metrics_extension.go
  pkg/collector/corechecks/containers/containerd/check_test.go
  pkg/collector/corechecks/containers/containerd/containerd.go
  pkg/collector/corechecks/containers/containerd/containerd_test.go
  pkg/collector/corechecks/containers/containerd/events.go
  pkg/collector/corechecks/containers/containerd/events_test.go
  pkg/collector/corechecks/containers/containerd/utils.go
  pkg/collector/corechecks/containers/docker/check.go
  pkg/collector/corechecks/containers/docker/check_linux_test.go
  pkg/collector/corechecks/containers/docker/check_test.go
  pkg/collector/corechecks/containers/generic/check.go
  pkg/collector/corechecks/containers/generic/mock.go
  pkg/util/containerd/containerd_util.go
  pkg/util/containerd/fake/containerd_util.go
  pkg/util/containerd/namespaces.go
  pkg/util/containerd/namespaces_test.go
  pkg/util/containers/v2/metrics/containerd/collector.go
  pkg/util/containers/v2/metrics/containerd/collector_cgroupv1.go
  pkg/util/containers/v2/metrics/containerd/collector_cgroupv2.go
  pkg/util/containers/v2/metrics/containerd/collector_test.go
  pkg/util/containers/v2/metrics/containerd/collector_win.go
  releasenotes/notes/containerd-internal-change-ccc228609536c438.yaml
Due: revive, govet, gofmt

[orchestrator] Collect Ingress resources
  go.mod
  pkg/collector/corechecks/cluster/orchestrator/collector_bundle.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/collector.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/inventory/inventory.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cluster.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/clusterrole.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/clusterrolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/cronjob.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/daemonset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/deployment.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/ingress.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/job.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/node.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/persistentvolume.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/persistentvolumeclaim.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/pod_unassigned.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/replicaset.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/role.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/rolebinding.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/service.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/serviceaccount.go
  pkg/collector/corechecks/cluster/orchestrator/collectors/k8s/statefulset.go
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/ingress.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/ingress.go
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/ingress_test.go
  pkg/orchestrator/util.go
  releasenotes-dca/notes/collect-ingress-32290abb289ccea3.yaml
Due: revive, govet, gofmt

bump agent-payload
  go.mod
Due: none

minor test improvments
  pkg/collector/corechecks/cluster/orchestrator/transformers/k8s/ingress_test.go
Due: revive, govet, gofmt

delete unavailabe collector from cb.collectors
  pkg/collector/corechecks/cluster/orchestrator/collector_bundle.go
Due: revive, govet, gofmt

reset go.mod
  go.mod
Due: none

Fix merge conflicts
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
  pkg/aggregator/demultiplexer.go
  pkg/aggregator/time_sampler_worker.go
  pkg/metrics/sketch_series.go
  pkg/metricsserializer/sketch_series_list.go
Due: revive, govet, gofmt

[process-agent] Add process-agent runtime config to the core agent flare (#10901)
  cmd/process-agent/api/server.go
  cmd/process-agent/app/status.go
  pkg/flare/archive.go
  pkg/flare/archive_test.go
  pkg/status/status_process_agent.go
  releasenotes/notes/process-agent-add-runtime-cfg-to-core-flare-ed7231c140ad2c1b.yaml
Due: revive, govet, gofmt

Fix extra spaces introduced during the merge resolution.
  pkg/aggregator/aggregator.go
  pkg/aggregator/aggregator_test.go
Due: revive, govet, gofmt

[heroku-agent] Exclude the orchestrator tag from Heroku flavor (#10941)
  tasks/build_tags.py
Due: none

[corechecks] Add Helm cluster check
  cmd/agent/app/run.go
  cmd/cluster-agent/main.go
  pkg/collector/corechecks/cluster/helm/helm.go
  pkg/collector/corechecks/cluster/helm/helm_test.go
  pkg/collector/corechecks/cluster/helm/release.go
  pkg/collector/corechecks/cluster/helm/stub.go
Due: revive, govet, gofmt

Add release note
  releasenotes/notes/helm-cluster-check-0cff16a55a0fba87.yaml
Due: none

Migrate the cri check to generic check infrastructure
  pkg/collector/corechecks/containers/containerd/check.go
  pkg/collector/corechecks/containers/cri/adapter.go
  pkg/collector/corechecks/containers/cri/check.go
  pkg/collector/corechecks/containers/cri/check_metrics_extension.go
  pkg/collector/corechecks/containers/cri/check_test.go
  pkg/collector/corechecks/containers/cri/cri.go
  pkg/collector/corechecks/containers/cri/cri_test.go
  releasenotes/notes/cri-internal-change-9e48b3768678d6c1.yaml
Due: revive, govet, gofmt

SetKnown snmp_traps_config.users
  pkg/config/config.go
Due: revive, govet, gofmt

[pkg/otlp/model] Use exact sum and count for Datadog distributions
  pkg/otlp/model/translator/metrics_translator.go
  pkg/otlp/model/translator/metrics_translator_test.go
  pkg/otlp/model/translator/sketches_test.go
Due: revive, govet, gofmt

Remove APIServer auth resources check (#10900)
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/diagnosis.go
Due: revive, govet, gofmt

Add release note
  releasenotes/notes/otlp-exact-sum-count-ebab5aef6c5229d7.yaml
Due: none

Apply suggestions from code review
  docs/dev/agent_omnibus.md
Due: none

[CWS] functional tests cleanup (#10940)
  .gitlab/functional_test/security_agent.yml
  pkg/security/tests/chown32_test.go
  pkg/security/tests/constants_test.go
  pkg/security/tests/module_tester.go
  test/kitchen/platforms.json
Due: revive, govet, gofmt

Path conditions:
  revive: any of: \.go$
  govet: any of: \.go$
  gofmt: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
