Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

Log SNMP values slightly more compactly.
  pkg/snmp/gosnmplib/gosnmp_utils.go
  pkg/snmp/gosnmplib/gosnmp_utils_test.go
Due: copyright, go-mod-tidy

Only log complete SNMP values at trace level.
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/internal/fetch/fetch_column.go
  pkg/collector/corechecks/snmp/internal/fetch/fetch_scalar.go
Due: copyright, go-mod-tidy

[observer/logssource] Move ObserveLog out of processor hot path
  comp/logs/agent/agentimpl/agent.go
  comp/logs/agent/agentimpl/agent_core_init.go
  comp/logs/agent/agentimpl/agent_serverless_init.go
  comp/observer/logssource/impl/component.go
  comp/observer/logssource/impl/pipeline.go
  comp/otelcol/logsagentpipeline/logsagentpipelineimpl/agent.go
  pkg/compliance/reporter.go
  pkg/logs/pipeline/pipeline.go
  pkg/logs/pipeline/processor_only_provider.go
  pkg/logs/pipeline/provider.go
  pkg/logs/processor/passthrough.go
  pkg/logs/processor/processor.go
  pkg/security/reporter/reporter.go
Due: copyright, go-mod-tidy

lint
  releasenotes/notes/deprecated-install-ps1-0cba33afa6fa2347.yaml
Due: shell-check-no-set-x

Log all missing OIDs once instead of one line per OID.
  pkg/collector/corechecks/snmp/internal/report/report_metrics.go
  pkg/collector/corechecks/snmp/internal/report/report_metrics_test.go
  pkg/collector/corechecks/snmp/internal/report/report_utils.go
  pkg/collector/corechecks/snmp/internal/report/report_utils_test.go
  pkg/collector/corechecks/snmp/internal/valuestore/values.go
  pkg/collector/corechecks/snmp/internal/valuestore/values_test.go
Due: copyright, go-mod-tidy

Fix a few small typos in log messages.
  pkg/collector/corechecks/snmp/internal/valuestore/values.go
  pkg/snmp/gosnmplib/gosnmp_utils.go
Due: copyright, go-mod-tidy

pkg/trace/api: fix still-flaky TestHandleStats/timeout (#49531)
  pkg/trace/api/api_test.go
Due: copyright, go-mod-tidy

no default site. site user must fallback to want they want if empty
  pkg/fleet/installer/env/env.go
  pkg/fleet/installer/env/env_test.go
  pkg/fleet/installer/paths/installer_paths_windows.go
Due: copyright, go-mod-tidy

refactor(process): migrate processdiscoverycheck component to v2
  comp/process/bundle.go
  comp/process/processdiscoverycheck/def/component.go
  comp/process/processdiscoverycheck/fx/fx.go
  comp/process/processdiscoverycheck/impl/check.go
  comp/process/processdiscoverycheck/impl/check_test.go
Due: copyright, go-mod-tidy

fix(lint): migrate processdiscoverycheck impl to compdef, use ProvideComponentConstructor
  comp/process/processdiscoverycheck/impl/check.go
Due: copyright, go-mod-tidy

fix(lint): remove Module() from processdiscoverycheck impl, export NewCheck, update fx.go
  comp/process/processdiscoverycheck/fx/fx.go
  comp/process/processdiscoverycheck/impl/check.go
Due: copyright, go-mod-tidy

fix(test): replace removed Module() call with fx.Provide(NewCheck) in impl test
  comp/process/processdiscoverycheck/impl/check_test.go
Due: copyright, go-mod-tidy

fix(lint)
  comp/process/processdiscoverycheck/impl/check.go
  comp/process/processdiscoverycheck/impl/check_test.go
Due: copyright, go-mod-tidy

fix(test): use ProvideComponentConstructor in IsEnabled test
  comp/process/processdiscoverycheck/impl/check_test.go
Due: copyright, go-mod-tidy

Another one
  .devcontainer/datadog/default/devcontainer.json
Due: none

refactor(process): migrate status component to v2
  cmd/agent/subcommands/run/command.go
  cmd/process-agent/command/main_common.go
  comp/process/status/def/component.go
  comp/process/status/fx/fx.go
  comp/process/status/impl/fixtures/expvar_response.tmpl
  comp/process/status/impl/fixtures/text_error_response.tmpl
  comp/process/status/impl/status.go
  comp/process/status/impl/status_templates/processagent.tmpl
  comp/process/status/impl/status_test.go
Due: copyright, go-mod-tidy

fix(lint): migrate process status impl to compdef, use ProvideComponentConstructor
  comp/process/status/fx/fx.go
  comp/process/status/impl/status.go
Due: copyright, go-mod-tidy

fix(build): revert erroneous change to statusimpl.Module() call in command.go
  cmd/agent/subcommands/run/command.go
Due: copyright, go-mod-tidy

fix(test): fix process status import path in bundle_test.go
  comp/process/bundle_test.go
Due: copyright, go-mod-tidy

fix: add go:build test tag to process status test
  comp/process/status/impl/status_test.go
Due: copyright, go-mod-tidy

fix(lint): capitalize Provides type in status impl to fix unexported-return lint rule
  comp/process/status/impl/status.go
Due: copyright, go-mod-tidy

Force Linux platform for editor/IDE build tag configuration (#49457)
  tasks/build_tags.py
  tasks/claude.py
  tasks/emacs.py
  tasks/vim.py
  tasks/vscode.py
Due: none

fix(ci): remove stale logsagentpipelineimpl from go.mod and run tidy
  go.mod
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

[workloadmeta/ecs] Fix empty runtime assertion in v1 parser test
  comp/core/workloadmeta/collectors/internal/ecs/v1parser_test.go
Due: copyright, go-mod-tidy

impl
  comp/observer/impl/engine.go
  comp/observer/impl/notify.go
  comp/observer/impl/notify_test.go
Due: copyright, go-mod-tidy

fix(bazel): remove stale BUILD.bazel from comp/process/status root (component.go was moved to def/)
  comp/process/status/BUILD.bazel
Due: none

fix(healthplatform): use dedicated agenthealth intake endpoint (#48661)
  comp/healthplatform/impl/forwarder.go
  comp/healthplatform/impl/forwarder_test.go
  releasenotes/notes/fix-healthplatform-intake-url-7188f4f056d6e903.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(lint-license): Generate expected licence file
  pkg/discovery/module/rust/LICENSE-3rdparty.csv
Due: none

fix(lint): replace pkgconfigsetup usage with config component in process status impl
  comp/process/status/impl/status.go
Due: copyright, go-mod-tidy

Add 'tasks/agent.py' to the list of files taken into account by the global cache
  tasks/libs/common/omnibus.py
Due: none

Lil' fix
  comp/observer/impl/notify.go
Due: copyright, go-mod-tidy

[observer] Improve log anomaly reports (#49576)
  comp/observer/impl/engine.go
  comp/observer/impl/notify.go
  comp/observer/impl/notify_test.go
Due: copyright, go-mod-tidy

refactor(process): migrate connectionscheck component to v2
  comp/process/bundle.go
  comp/process/connectionscheck/def/component.go
  comp/process/connectionscheck/fx/fx.go
  comp/process/connectionscheck/impl/check.go
  comp/process/connectionscheck/impl/check_darwin_test.go
  comp/process/connectionscheck/impl/check_test.go
Due: copyright, go-mod-tidy

fix(lint): migrate connectionscheck impl to compdef, use ProvideComponentConstructor
  comp/process/connectionscheck/impl/check.go
Due: copyright, go-mod-tidy

fix(lint): remove Module() from connectionscheck impl, export NewCheck, update fx.go
  comp/process/connectionscheck/fx/fx.go
  comp/process/connectionscheck/impl/check.go
Due: copyright, go-mod-tidy

fix(test): replace removed Module() call with fx.Provide(NewCheck) in impl tests
  comp/process/connectionscheck/impl/check_darwin_test.go
  comp/process/connectionscheck/impl/check_test.go
Due: copyright, go-mod-tidy

fix(lint): add //go:build test tags and export result type in connectionscheck
  comp/process/connectionscheck/impl/check.go
  comp/process/connectionscheck/impl/check_darwin_test.go
  comp/process/connectionscheck/impl/check_test.go
Due: copyright, go-mod-tidy

fix(test): use ProvideComponentConstructor in IsEnabled test
  comp/process/connectionscheck/impl/check_test.go
Due: copyright, go-mod-tidy
