Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Add NDM gNMI foundation with feature flag and openconfig dependency
  .copyright-overrides.yml
  .github/CODEOWNERS
  LICENSE-3rdparty.csv
  deps/go.MODULE.bazel
  deps/openconfig/patches/openconfig-gnmi-gnmi-bazel-build.patch
  deps/openconfig/patches/openconfig-gnmi-gnmi-ext-bazel-build.patch
  go.mod
  go.sum
  pkg/collector/corechecks/network-devices/gnmi/BUILD.bazel
  pkg/collector/corechecks/network-devices/gnmi/encoding.go
  pkg/collector/corechecks/network-devices/gnmi/encoding_test.go
  pkg/networkdevice/integrations/integrations.go
  releasenotes/notes/ndm-gnmi-foundation-8f3a2c1b9d4e7a60.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x, check-go-modules-in-python, protocol-buffer

Add gNMI instance and profile configuration
  pkg/collector/corechecks/network-devices/gnmi/config/BUILD.bazel
  pkg/collector/corechecks/network-devices/gnmi/config/config.go
  pkg/collector/corechecks/network-devices/gnmi/config/config_test.go
  pkg/collector/corechecks/network-devices/gnmi/config/profile.go
  pkg/collector/corechecks/network-devices/gnmi/config/profile_test.go
  pkg/collector/corechecks/snmp/internal/lldp/BUILD.bazel
  pkg/collector/corechecks/snmp/internal/lldp/lldp.go
  pkg/networkdevice/lldp/BUILD.bazel
  pkg/networkdevice/lldp/doc.go
  pkg/networkdevice/lldp/lldp.go
Due: copyright, go-mod-tidy

Add in-process gNMI fakeserver for integration tests
  pkg/collector/corechecks/network-devices/gnmi/internal/fakeserver/BUILD.bazel
  pkg/collector/corechecks/network-devices/gnmi/internal/fakeserver/auth.go
  pkg/collector/corechecks/network-devices/gnmi/internal/fakeserver/server.go
  pkg/collector/corechecks/network-devices/gnmi/internal/fakeserver/server_test.go
  pkg/collector/corechecks/network-devices/gnmi/internal/fakeserver/values.go
Due: copyright, go-mod-tidy

Add gNMI streaming client with cache and reconnect
  pkg/collector/corechecks/network-devices/gnmi/client/BUILD.bazel
  pkg/collector/corechecks/network-devices/gnmi/client/cache.go
  pkg/collector/corechecks/network-devices/gnmi/client/client.go
  pkg/collector/corechecks/network-devices/gnmi/client/client_test.go
  pkg/collector/corechecks/network-devices/gnmi/client/path.go
  pkg/collector/corechecks/network-devices/gnmi/client/path_test.go
  pkg/collector/corechecks/network-devices/gnmi/client/value.go
Due: copyright, go-mod-tidy

Canonicalize JSON-IETF gNMI paths for Nokia telemetry.
  pkg/collector/corechecks/network-devices/gnmi/client/BUILD.bazel
  pkg/collector/corechecks/network-devices/gnmi/client/client.go
  pkg/collector/corechecks/network-devices/gnmi/client/json_ietf.go
  pkg/collector/corechecks/network-devices/gnmi/client/json_ietf_test.go
  pkg/collector/corechecks/network-devices/gnmi/client/path.go
  pkg/collector/corechecks/network-devices/gnmi/client/path_test.go
Due: copyright, go-mod-tidy

[SNMP] Fall back to the .1 root for device scans
  .agents/skills/create-release-note/SKILL.md
  comp/snmpscan/impl/devicescan.go
  comp/snmpscan/impl/devicescan_test.go
  pkg/snmp/gosnmplib/walk.go
  pkg/snmp/gosnmplib/walk_test.go
  releasenotes/notes/snmp-scan-root-fallback-6b336c8221acc892.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(ci): restore --impacted opt-out on e2e install-package jobs (#56642)
  .gitlab/test/e2e_install_packages/common.yml
Due: shell-check-no-set-x, gitlab-configuration

[DATASEC-317] Auto-run e2e on product and suite path changes (#56518)
  .gitlab/test/e2e/e2e_data_security.yml
Due: shell-check-no-set-x, gitlab-configuration

refactor(e2e-framework): share the scenario runner between run binaries
  test/e2e-framework/registry/BUILD.bazel
  test/e2e-framework/registry/run.go
  test/e2e-framework/run/BUILD.bazel
  test/e2e-framework/run/main.go
  test/new-e2e/run/main.go
Due: copyright, go-mod-tidy

docs(tools): point generate-scenario-imports at its real output path
  tools/generate-scenario-imports/main.go
Due: copyright, go-mod-tidy

feat(agent-health-demo): reject --site combined with --fakeintake
  test/new-e2e/tests/agent-health/cmd/agent-health-demo/main.go
Due: copyright, go-mod-tidy

fix(agent-health-demo): stop printing every error twice
  test/new-e2e/tests/agent-health/cmd/agent-health-demo/main.go
Due: copyright, go-mod-tidy

configfilesdiscovery: support Redis config includes in discovery (#55836)
  LICENSE-3rdparty.csv
  comp/core/configfilesdiscovery/impl/BUILD.bazel
  comp/core/configfilesdiscovery/impl/collectors/helpers.go
  comp/core/configfilesdiscovery/impl/collectors/helpers_test.go
  comp/core/configfilesdiscovery/impl/collectors/kafka.go
  comp/core/configfilesdiscovery/impl/collectors/kafka_test.go
  comp/core/configfilesdiscovery/impl/collectors/postgres.go
  comp/core/configfilesdiscovery/impl/collectors/postgres_test.go
  comp/core/configfilesdiscovery/impl/collectors/redis.go
  comp/core/configfilesdiscovery/impl/collectors/redis_test.go
  comp/core/configfilesdiscovery/impl/collectors/spark.go
  comp/core/configfilesdiscovery/impl/collectors/spark_test.go
  comp/core/configfilesdiscovery/impl/configfilesdiscovery_test.go
  comp/core/configfilesdiscovery/impl/docker_reader.go
  comp/core/configfilesdiscovery/impl/docker_reader_test.go
  comp/core/configfilesdiscovery/impl/kubernetes_reader.go
  comp/core/configfilesdiscovery/impl/kubernetes_reader_test.go
  comp/core/configfilesdiscovery/impl/reader_helpers.go
  comp/core/configfilesdiscovery/impl/reader_helpers_test.go
  comp/core/configfilesdiscovery/impl/types.go
  test/new-e2e/tests/discovery/configfilesdiscovery_docker_test.go
  test/new-e2e/tests/discovery/testdata/compose/docker-compose.configfilesdiscovery-redis.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Fix sysprobe tests
  test/new-e2e/tests/security-agent-functional/security_agent_test.go
  test/new-e2e/tests/sysprobe-functional/apmtags_test.go
  test/new-e2e/tests/sysprobe-functional/sysprobe_test.go
Due: copyright, go-mod-tidy

Add process-wide gNMI connection admission gate
  pkg/collector/corechecks/network-devices/gnmi/admission/BUILD.bazel
  pkg/collector/corechecks/network-devices/gnmi/admission/gate.go
  pkg/collector/corechecks/network-devices/gnmi/admission/gate_test.go
  pkg/collector/corechecks/network-devices/gnmi/client/BUILD.bazel
  pkg/collector/corechecks/network-devices/gnmi/client/client.go
  pkg/util/procfilestats/process_file_stats.go
  pkg/util/procfilestats/process_file_stats_others.go
Due: copyright, go-mod-tidy

[ACTP] Add scaleStatefulSet actions (#56646)
  pkg/privateactionrunner/bundle-support/test/BUILD.bazel
  pkg/privateactionrunner/bundle-support/test/test_support.go
  pkg/privateactionrunner/bundles/kubernetes/apps/BUILD.bazel
  pkg/privateactionrunner/bundles/kubernetes/apps/apps_test.go
  pkg/privateactionrunner/bundles/kubernetes/apps/entrypoint.gen.go
  pkg/privateactionrunner/bundles/kubernetes/apps/scale_stateful_set_horizontally.go
  pkg/privateactionrunner/bundles/kubernetes/apps/scale_stateful_set_horizontally_test.go
  pkg/privateactionrunner/bundles/kubernetes/apps/scale_stateful_set_vertically.go
  pkg/privateactionrunner/bundles/kubernetes/apps/scale_stateful_set_vertically_test.go
  releasenotes/notes/par-scale-stateful-set-3010b24516a31df7.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

One off try no cache to rule out a bug in cache
  .gitlab/build/bazel/test.yml
Due: shell-check-no-set-x, gitlab-configuration

feat(snmp): Include scan failure reasons in the cache
  comp/snmpscanmanager/impl/BUILD.bazel
  comp/snmpscanmanager/impl/devicescan.go
  comp/snmpscanmanager/impl/flare_test.go
  comp/snmpscanmanager/impl/snmpscanmanager.go
  comp/snmpscanmanager/impl/snmpscanmanager_test.go
Due: copyright, go-mod-tidy

fix(healthplatform): scope docker socket issue id by host and socket set
  comp/healthplatform/README.md
  comp/healthplatform/issues/dockerpermissions/BUILD.bazel
  comp/healthplatform/issues/dockerpermissions/check.go
  comp/healthplatform/issues/dockerpermissions/check_noop.go
  comp/healthplatform/issues/dockerpermissions/check_test.go
  comp/healthplatform/issues/dockerpermissions/module.go
  releasenotes/notes/docker-socket-issue-id-per-socket-9f3c1a7b2e4d6058.yaml
  test/new-e2e/tests/agent-health/docker_permission_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(configfilesdiscovery): use compose registry for nginx e2e
  test/new-e2e/tests/discovery/BUILD.bazel
  test/new-e2e/tests/discovery/configfilesdiscovery_docker_test.go
  test/new-e2e/tests/discovery/testdata/compose/docker-compose.configfilesdiscovery-nginx.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

[ACTP] add support for new PAR credentials with agent secret
  pkg/config/schema/yaml/private_action_runner.yaml
  pkg/config/setup/privateactionrunner.go
  pkg/privateactionrunner/adapters/config/config_adapter.go
  pkg/privateactionrunner/adapters/config/transform.go
  pkg/privateactionrunner/adapters/config/transform_test.go
  pkg/privateactionrunner/credentials/resolver/BUILD.bazel
  pkg/privateactionrunner/credentials/resolver/credential_catalog.go
  pkg/privateactionrunner/credentials/resolver/credential_catalog_test.go
  pkg/privateactionrunner/credentials/resolver/credentials_resolver.go
  pkg/privateactionrunner/runners/workflow_task_executor.go
  pkg/proto/datadog/privateactionrunner/private_actions.proto
  pkg/proto/pbgo/privateactionrunner/privateactions/private_actions.pb.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, protocol-buffer

iterate
  pkg/config/schema/yaml/private_action_runner.yaml
  pkg/privateactionrunner/credentials/resolver/credential_catalog.go
  pkg/privateactionrunner/credentials/resolver/credential_catalog_test.go
  pkg/proto/datadog/privateactionrunner/private_actions.proto
  pkg/proto/pbgo/privateactionrunner/privateactions/private_actions.pb.go
  releasenotes/notes/par-runner-configured-credentials-a4327572cf492ff9.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x, protocol-buffer

add scruber
  pkg/util/scrubber/default.go
  pkg/util/scrubber/yaml_scrubber_test.go
Due: copyright, go-mod-tidy

improve
  pkg/config/schema/yaml/private_action_runner.yaml
  pkg/privateactionrunner/adapters/config/transform_test.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

[SNMP] Share the scan base OID and revert unrelated skill changes
  .agents/skills/create-release-note/SKILL.md
  comp/snmpscan/impl/devicescan.go
  pkg/snmp/gosnmplib/walk.go
Due: copyright, go-mod-tidy

Remove unused rocky-linux AMI and resolver (#56433)
  tasks/e2e_framework/aws/common.py
  test/e2e-framework/resources/aws/platforms.json
  test/e2e-framework/scenarios/aws/ec2/os_resolver.go
Due: copyright, go-mod-tidy

feat(ndm): schedule NDM checks from Remote Configuration
  cmd/agent/subcommands/run/BUILD.bazel
  cmd/agent/subcommands/run/command.go
  comp/core/autodiscovery/providers/names/provider_names.go
  comp/core/autodiscovery/providers/ndm/BUILD.bazel
  comp/core/autodiscovery/providers/ndm/config_keys_test.go
  comp/core/autodiscovery/providers/ndm/document.go
  comp/core/autodiscovery/providers/ndm/document_test.go
  comp/core/autodiscovery/providers/ndm/handler/BUILD.bazel
  comp/core/autodiscovery/providers/ndm/handler/handler.go
  comp/core/autodiscovery/providers/ndm/handler/handler_test.go
  comp/core/autodiscovery/providers/ndm/ndm_test.go
  comp/core/autodiscovery/providers/ndm/provider.go
  comp/core/autodiscovery/providers/ndm/provider_test.go
  comp/core/autodiscovery/providers/ndm/snmp/BUILD.bazel
  comp/core/autodiscovery/providers/ndm/snmp/credentials.go
  comp/core/autodiscovery/providers/ndm/snmp/credentials_test.go
  comp/core/autodiscovery/providers/ndm/snmp/handler.go
  comp/core/autodiscovery/providers/ndm/snmp/handler_test.go
  comp/core/autodiscovery/providers/ndm/snmp/instance.go
  comp/core/autodiscovery/providers/ndm/snmp/instance_test.go
  comp/ndm/rcconfig/fx/BUILD.bazel
  comp/ndm/rcconfig/fx/fx.go
  comp/ndm/rcconfig/fx/fx_test.go
  pkg/config/remote/data/product.go
  pkg/config/schema/yaml/network_devices.yaml
  pkg/remoteconfig/state/configs_test.go
  pkg/remoteconfig/state/products.go
  releasenotes/notes/ndm-remote-config-provider-4d1e8a37c9b62f05.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

feat(ndm): read snmp credentials from the file Fleet Automation writes
  comp/core/autodiscovery/providers/ndm/BUILD.bazel
  comp/core/autodiscovery/providers/ndm/config_keys_test.go
  comp/core/autodiscovery/providers/ndm/ndm_test.go
  comp/core/autodiscovery/providers/ndm/snmp/BUILD.bazel
  comp/core/autodiscovery/providers/ndm/snmp/credentials.go
  comp/core/autodiscovery/providers/ndm/snmp/credentials_test.go
  comp/core/autodiscovery/providers/ndm/snmp/handler_test.go
  pkg/config/schema/yaml/network_devices.yaml
  releasenotes/notes/ndm-remote-config-provider-4d1e8a37c9b62f05.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

feat(ndm): move the snmp credential file next to datadog.yaml
  comp/core/autodiscovery/providers/ndm/ndm_test.go
  comp/core/autodiscovery/providers/ndm/snmp/credentials.go
  comp/core/autodiscovery/providers/ndm/snmp/credentials_test.go
  comp/core/autodiscovery/providers/ndm/snmp/handler_test.go
  releasenotes/notes/ndm-remote-config-provider-4d1e8a37c9b62f05.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

feat(ndm): read snmp credentials from network_devices.snmp_credentials
  comp/core/autodiscovery/providers/ndm/BUILD.bazel
  comp/core/autodiscovery/providers/ndm/config_keys_test.go
  comp/core/autodiscovery/providers/ndm/ndm_test.go
  comp/core/autodiscovery/providers/ndm/snmp/BUILD.bazel
  comp/core/autodiscovery/providers/ndm/snmp/credentials.go
  comp/core/autodiscovery/providers/ndm/snmp/credentials_test.go
  comp/core/autodiscovery/providers/ndm/snmp/handler_test.go
  pkg/config/schema/yaml/network_devices.yaml
  releasenotes/notes/ndm-remote-config-provider-4d1e8a37c9b62f05.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

feat(ndm): read snmp credentials from conf.d/snmp.d/credentials
  comp/core/autodiscovery/providers/ndm/BUILD.bazel
  comp/core/autodiscovery/providers/ndm/config_keys_test.go
  comp/core/autodiscovery/providers/ndm/ndm_test.go
  comp/core/autodiscovery/providers/ndm/snmp/BUILD.bazel
  comp/core/autodiscovery/providers/ndm/snmp/credentials.go
  comp/core/autodiscovery/providers/ndm/snmp/credentials_test.go
  comp/core/autodiscovery/providers/ndm/snmp/handler.go
  comp/core/autodiscovery/providers/ndm/snmp/handler_test.go
  comp/core/autodiscovery/providers/ndm/snmp/instance.go
  comp/core/autodiscovery/providers/ndm/snmp/instance_test.go
  pkg/config/schema/yaml/network_devices.yaml
  releasenotes/notes/ndm-remote-config-provider-4d1e8a37c9b62f05.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

[WP] Add scope in kill action precheck
  pkg/security/secl/rules/model.go
Due: copyright, go-mod-tidy

Fix test loading file on disk
  test/new-e2e/tests/cws/common.go
  test/new-e2e/tests/discovery/linux_test.go
  test/new-e2e/tests/ndm/snmp/common.go
  test/new-e2e/tests/sysprobe-functional/apmtags_test.go
Due: copyright, go-mod-tidy

[SNMP] Try an ordered list of scan root OIDs
  comp/snmpscan/impl/devicescan.go
  comp/snmpscan/impl/devicescan_test.go
  pkg/snmp/gosnmplib/walk.go
  pkg/snmp/gosnmplib/walk_test.go
Due: copyright, go-mod-tidy

[SNMP] Clarify the scan fallback release note
  releasenotes/notes/snmp-scan-root-fallback-6b336c8221acc892.yaml
Due: shell-check-no-set-x

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
