Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 3.9.2 # should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==21.11.28
        - flake8-comprehensions==3.7.0
        - flake8-unused-arguments==0.0.6
        - flake8-use-fstring==1.3.0
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
- repo: https://github.com/timothycrosley/isort/
  rev: 5.10.1
  hooks:
    - id: isort
- repo: https://github.com/jendrikseipp/vulture
  rev: v2.3
  hooks:
    - id: vulture
      args: ["--ignore-decorators", "@task", "--ignore-names", "test_*,Test*", "tasks"]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 2.1.5
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
    - id: go-fmt
      args: [ "-w", "-s" ]
- repo: local
  hooks:
    - id: revive
      name: revive
      description: revive
      entry: 'python3 tasks/git-hooks/revive.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: copyright
      name: copyright
      description: copyright headers
      entry: 'python3 tasks/git-hooks/copyright.py'
      language: system
      require_serial: true
      files: \.go$
    - id: win-clang-format
      name: win-clang-format
      description: clang-format
      entry: './tasks/git-hooks/wincpplang.py'
      language: system
      types_or: [c, c++, c#]
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 tasks/git-hooks/clang-format.py'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'

Update README.md
  README.md
Due: none

Update docs/dev/checks/jmxfetch.md
  docs/dev/checks/jmxfetch.md
Due: none

Bump github.com/docker/docker
  go.mod
  go.sum
Due: none

Remove the 10s sketches bucket delay for serverless-init (#20507)
  cmd/serverless-init/initcontainer/initcontainer.go
  cmd/serverless-init/main.go
  cmd/serverless/main.go
  comp/dogstatsd/server/component.go
  comp/dogstatsd/server/server.go
  comp/dogstatsd/server/server_mock.go
  pkg/serverless/metrics/metric.go
  pkg/serverless/metrics/metric_test.go
  pkg/serverless/otlp/otlp_test.go
Due: revive, govet, copyright

[NPM] suppress response errors in netlink dummy call (#20544)
  pkg/network/netlink/consumer.go
Due: revive, govet, copyright

remove directory after tests
  .gitignore
  pkg/serverless/tags/tags_test.go
Due: revive, govet, copyright

[PROCS-3430] Add Unix Domain Socket config for process-agent internal profiling (#20502)
  comp/process/profiler/profilerimpl/profiler.go
  test/regression/cases/process_agent_real_time_mode/experiment.yaml
  test/regression/cases/process_agent_standard_check/experiment.yaml
  test/regression/cases/process_agent_standard_check_with_stats/experiment.yaml
Due: revive, govet, copyright

Update pkg/config/config_template.yaml
  pkg/config/config_template.yaml
Due: none

SVLS-4101: Fix flaky test in httpClient timeout (#20552)
  cmd/serverless-init/cloudservice/helper/gcp_test.go
Due: revive, govet, copyright

7.47.1 changelog update (#19626)
  CHANGELOG.rst
Due: none

7.48.0 changelogs (#20018)
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

Changelog update for 7.48.1 (#20159)
  CHANGELOG.rst
Due: none

[serverless] basic fix for function url events (#20513)
  pkg/serverless/invocationlifecycle/init.go
  pkg/serverless/trace/inferredspan/span_enrichment.go
  pkg/serverless/trace/inferredspan/span_enrichment_test.go
Due: revive, govet, copyright

Changelogs for 7.49.0
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

[windows] Fix driver byte counts
  pkg/network/driver/ddnpmapi.h
  pkg/network/driver/handle.go
  pkg/network/driver/types_windows.go
  pkg/network/event_windows.go
  pkg/network/protocols/http/etw_http_service.go
  pkg/network/state.go
  release.json
Due: revive, govet, copyright, clang-format

add release notes
  releasenotes/notes/fixbyteovercount-71db480b4025b60d.yaml
Due: none

Fix TestUDPPythonReusePort for case where connections could be split up (#20361)
  pkg/network/testutil/cmd.go
  pkg/network/tracer/tracer_linux_test.go
Due: revive, govet, copyright

Experiment with fine-grained breaking up reference sources.
  comp/dogstatsd/server/batch.go
  comp/dogstatsd/server/server.go
  pkg/aggregator/check_sampler.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/demultiplexer.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_serverless.go
  pkg/aggregator/no_aggregation_stream_worker.go
  pkg/aggregator/sketch_map.go
  pkg/aggregator/time_sampler.go
  pkg/aggregator/time_sampler_worker.go
  pkg/metrics/metric_sample.go
  pkg/util/cache/intern.go
  pkg/util/cache/lru_cache.go
  pkg/util/cache/mmap_hash.go
  pkg/util/cache/refcount.go
Due: revive, govet, copyright

Retry until we read the required bytes
  pkg/network/tracer/tracer_linux_test.go
Due: revive, govet, copyright

[languagedetection] Fix Node.js installation in E2E test
  test/new-e2e/tests/language-detection/node_test.go
Due: revive, govet, copyright

Reduce allocation pressure in process_linux
  pkg/process/procutil/process_linux.go
  pkg/process/procutil/process_linux_test.go
Due: revive, govet, copyright

[windows] Fix http truncation miscounting
  cmd/system-probe/config/adjust_usm.go
  pkg/network/config/config_test.go
  pkg/network/protocols/http/model_windows.go
  pkg/network/protocols/http/model_windows_test.go
  releasenotes/notes/fixconnectiontruncation-a7fa7b4e5351b17e.yaml
Due: revive, govet, copyright

remove whitespace
  pkg/network/state.go
Due: revive, govet, copyright

undo unneeded change
  pkg/network/protocols/http/model_windows.go
Due: revive, govet, copyright

linter dings
  pkg/process/procutil/process_linux.go
Due: revive, govet, copyright

Create pkg/util/http module
  cmd/security-agent/subcommands/runtime/command.go
  comp/core/flare/helpers/send_flare.go
  comp/forwarder/defaultforwarder/default_forwarder.go
  comp/forwarder/defaultforwarder/forwarder_health.go
  comp/forwarder/defaultforwarder/sync_forwarder.go
  comp/forwarder/defaultforwarder/worker.go
  comp/trace/config/setup.go
  go.mod
  pkg/clusteragent/telemetry/collector.go
  pkg/config/remote/api/http.go
  pkg/logs/client/http/destination.go
  pkg/security/security_profile/dump/remote_storage.go
  pkg/serverless/apikey/api_key.go
  pkg/serverless/tags/testGetRuntimeRetries/13/environ
  pkg/util/cloudproviders/alibaba/alibaba.go
  pkg/util/cloudproviders/azure/azure.go
  pkg/util/cloudproviders/gce/gce.go
  pkg/util/cloudproviders/ibm/ibm.go
  pkg/util/cloudproviders/oracle/oracle.go
  pkg/util/cloudproviders/tencent/tencent.go
  pkg/util/ec2/imds_helpers.go
  pkg/util/http/client.go
  pkg/util/http/go.mod
  pkg/util/http/go.sum
  pkg/util/http/helpers.go
  pkg/util/http/helpers_test.go
  pkg/util/http/transport.go
  pkg/util/http/transport_test.go
  pkg/util/kubernetes/autoscalers/datadogclient.go
Due: revive, govet, copyright

remove un-needed files
  pkg/serverless/tags/testGetRuntimeRetries/13/environ
Due: none

test fixes
  pkg/process/procutil/process_linux_test.go
Due: revive, govet, copyright

Add to modules
  tasks/modules.py
Due: none

CWS: sync BTFhub constants
  pkg/security/probe/constantfetch/btfhub/constants.json
Due: none

update so that default is the driver max 512
  cmd/system-probe/config/adjust_usm.go
  pkg/network/config/config_test.go
Due: revive, govet, copyright

USM total hits TLS library tag (#20378)
  pkg/network/protocols/http/model_linux.go
  pkg/network/protocols/http/model_windows.go
  pkg/network/protocols/http/telemetry.go
  pkg/network/protocols/http/telemetry_linux.go
  pkg/network/protocols/http/telemetry_windows.go
Due: revive, govet, copyright

Use config component
  cmd/agent/subcommands/dogstatsd/command.go
Due: revive, govet, copyright

Lints
  cmd/agent/api/internal/agent/agent.go
  cmd/agent/subcommands/dogstatsd/command.go
  pkg/aggregator/context_resolver_debug.go
Due: revive, govet, copyright
