Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, gofmt, clang-format

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.3 # should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==20.1.4
        - flake8-unused-arguments==0.0.6
- repo: https://github.com/psf/black
  rev: 19.10b0
  hooks:
    - id: black
- repo: https://github.com/timothycrosley/isort/
  rev: 5.2.2
  hooks:
    - id: isort
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 2.1.1
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
      additional_dependencies: [] # Can be removed after this fix gets merged: https://github.com/jumanjihouse/pre-commit-hooks/pull/80
- repo: local
  hooks:
    - id: revive
      name: revive
      description: revive
      entry: 'python3 tasks/git-hooks/revive.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: gofmt
      name: gofmt
      description: go fmt
      entry: 'python3 tasks/git-hooks/gofmt.py'
      language: system
      files: \.go$
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 tasks/git-hooks/clang-format.py'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'

fix commit
  cmd/agent/app/snmp.go
Due: revive, govet, gofmt

Make endianness a compile time decision (#12906)
  pkg/ebpf/map_cleaner.go
  pkg/network/netlink/encoding.go
  pkg/network/tracer/offsetguess.go
  pkg/process/procutil/dirent_linux.go
  pkg/process/procutil/endian_big.go
  pkg/process/procutil/endian_little.go
  pkg/util/native/endian_be.go
  pkg/util/native/endian_le.go
  pkg/util/native/endian_test.go
Due: revive, govet, gofmt

Fix configuration being shown in expvar
  pkg/collector/corechecks/systemd/systemd_test.go
  pkg/metadata/inventories/inventories.go
  pkg/metadata/inventories/inventories_test.go
  pkg/metadata/inventories_collector.go
  pkg/status/status.go
Due: revive, govet, gofmt

Disable configs in inventories
  pkg/config/config.go
  pkg/metadata/inventories/inventories_test.go
Due: revive, govet, gofmt

Optimizing read_into_buffer helper (#12617)
  pkg/ebpf/bytecode/runtime/http.go
  pkg/network/ebpf/c/http-buffer.h
  pkg/network/ebpf/c/http-maps.h
  pkg/network/ebpf/c/prebuilt/http.c
  pkg/network/ebpf/c/runtime/http.c
  pkg/network/http/ebpf_main.go
  pkg/network/http/monitor.go
Due: revive, govet, gofmt, clang-format

pkg/trace/watchdog: skip flaky test TestCPUHigh
  pkg/trace/watchdog/info_test.go
Due: revive, govet, gofmt

Create new-style issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/support-request.md
Due: none

remove old issue template
  .github/ISSUE_TEMPLATE.md
Due: none

fix: TestLocalProviderExpectedTags would sometimes panic as IsFeaturePresent would be called on nil
  pkg/logs/internal/tag/local_provider_test.go
Due: revive, govet, gofmt

style: Tidying up some warnings in logs tests
  pkg/logs/agent_test.go
  pkg/logs/internal/tailers/file/tailer_test.go
Due: revive, govet, gofmt

fix: On macOS, logs.AgentTestSuite tends to fail with race detected
  pkg/config/mock.go
  pkg/logs/internal/util/containersorpods/containers_or_pods.go
Due: revive, govet, gofmt

[system-probe] Add static binary inspection to create lookup tables for crypto/tls.(*Conn).{Read,Write,Close} - copy (#12897)
  LICENSE-3rdparty.csv
  generate_tools.go
  go.mod
  go.sum
  pkg/network/go/asmscan/scan.go
  pkg/network/go/bininspect/inspect.go
  pkg/network/go/bininspect/types.go
  pkg/network/go/binversion/LICENSE
  pkg/network/go/binversion/buildinfo.go
  pkg/network/go/dwarfutils/compile_unit.go
  pkg/network/go/dwarfutils/entry.go
  pkg/network/go/dwarfutils/locexpr/exec.go
  pkg/network/http/gotls/lookup/internal/generate_luts.go
  pkg/network/http/gotls/lookup/internal/program.go
  pkg/network/http/gotls/lookup/luts.go
  pkg/network/http/gotls/lookup/main.go
  tasks/system_probe.py
Due: revive, govet, gofmt

switching type
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/syscalls.h
  pkg/security/secl/model/model.go
  pkg/security/secl/model/unmarshallers.go
Due: revive, govet, gofmt, clang-format

undo unnecessary changes
  pkg/security/ebpf/c/defs.h
  pkg/security/ebpf/c/exec.h
Due: clang-format

use single space after full-stop
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/support-request.md
Due: none

pkg/trace/watchdog: do not assert on cpu being above .5 as it flakes
  pkg/trace/watchdog/info_test.go
Due: revive, govet, gofmt

building again post-rebase
  pkg/ebpf/bytecode/runtime/runtime-security.go
  pkg/security/ebpf/c/exec.h
Due: revive, govet, gofmt, clang-format

refactor test to allow for skipping the test without breaking static check
  pkg/trace/watchdog/info_test.go
Due: revive, govet, gofmt

unmarshal index
  pkg/security/secl/model/unmarshallers.go
Due: revive, govet, gofmt

Create new-style issue templates (#12946)
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/support-request.md
Due: none

inv tidy-all
  go.sum
Due: none

hash update
  pkg/ebpf/bytecode/runtime/http.go
Due: revive, govet, gofmt

[process-agent] Correct counter for process check duration log
  cmd/process-agent/collector.go
Due: revive, govet, gofmt

Add a new `vscode` top level command to invoke task. (#12863)
  tasks/__init__.py
  tasks/vscode.py
Due: none

[process-agent] Remove process/checks dependency from core packages
  cmd/process-agent/api/server.go
  cmd/process-agent/app/status.go
  cmd/process-agent/app/status_test.go
  pkg/config/process.go
  pkg/flare/archive.go
  pkg/status/status_process_agent.go
Due: revive, govet, gofmt

unmarshalling
  pkg/security/ebpf/c/exec.h
  pkg/security/ebpf/c/syscalls.h
Due: clang-format

pkg/trace/watchdog: do not assert on cpu being above .5 as it flakes (#12947)
  pkg/trace/watchdog/info_test.go
Due: revive, govet, gofmt

Add enable_datadogmetric_autogen config option (#11433)
  pkg/clusteragent/externalmetrics/autoscaler_watcher.go
  pkg/clusteragent/externalmetrics/autoscaler_watcher_test.go
  pkg/clusteragent/externalmetrics/provider.go
  pkg/config/config.go
  releasenotes/notes/support-configurable-datadogmetric-autogen-1e31a0ef82c2bf1a.yaml
Due: revive, govet, gofmt

[CSPM] do not read file if no parser is provided
  pkg/compliance/checks/helpers.go
Due: revive, govet, gofmt

[CSPM] add raw parser, indicating that the rule is expecting the string content of the file
  pkg/compliance/checks/helpers.go
Due: revive, govet, gofmt

Change target to 10.13
  tasks/rtloader.py
Due: none

adding a test
  pkg/security/tests/chown_test.go
  pkg/security/tests/syscall_tester/c/syscall_tester.c
Due: revive, govet, gofmt, clang-format

Update codeowners for windows-agent
  .github/CODEOWNERS
Due: none

format hex string
  cmd/agent/app/snmp.go
Due: revive, govet, gofmt

[demultiplexer] simplify the no-agg pipeline mainloop.
  pkg/aggregator/demultiplexer_agent_test.go
  pkg/aggregator/no_aggregation_stream_worker.go
Due: revive, govet, gofmt

[CSPM] do not read file if no parser is provided (#12010)
  pkg/compliance/checks/helpers.go
Due: revive, govet, gofmt

make use of common helper
  pkg/security/tests/module_tester.go
  pkg/security/tests/process_test.go
Due: revive, govet, gofmt

CSPM: sync btfhub constants
  pkg/security/probe/constantfetch/btfhub/constants.json
Due: none

CSPM: sync btfhub constants (#12961)
  pkg/security/probe/constantfetch/btfhub/constants.json
Due: none
