Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

usm: http2: Do not keep ptr to a pooled object
  pkg/network/protocols/http2/incomplete_stats.go
Due: copyright, go-mod-tidy

[ddqa] Remove Kylian and add Florent from the Agent Delivery exclusion list
  .ddqa/config.toml
Due: none

Also bump timeout of `bazel` jobs on Windows to 1h
  .gitlab/bazel/defs.yaml
Due: shell-check-no-set-x

Trigger compare to linter when rules are changed (#38824)
  tasks/libs/ciproviders/gitlab_api.py
Due: none

Update the pr-commenter task to delete when force-delete is set (#41786)
  tasks/github_tasks.py
Due: none

feat(documentation): Add a page for e2e tests
  docs/public/how-to/test/e2e.md
  mkdocs.yml
  test/new-e2e/README.md
Due: shell-check-no-set-x

Make `bazel` fail faster on Windows (#41839)
  tools/bazel.bat
Due: none

address review
  comp/core/config/setup.go
  comp/workloadselection/impl/workloadselection.go
Due: copyright, go-mod-tidy

Work with crane pull directory instead of a tarball
  tasks/static_quality_gates/experimental_gates.py
  tasks/unit_tests/experimental_gates_tests.py
Due: none

Use persistent runners for bazel linux amd64 (#41385)
  .bazelrc
  .gitlab/bazel/build-deps.yaml
  tools/bazel
Due: shell-check-no-set-x

Fix manifest processing
  tasks/static_quality_gates/experimental_gates.py
Due: none

Remove cleaning function from SQG
  .gitlab/container_build/common.yml
Due: shell-check-no-set-x, gitlab-configuration

[CWS] change the gRPC connection
  pkg/security/agent/agent.go
  pkg/security/agent/agent_nix.go
  pkg/security/agent/agent_windows.go
  pkg/security/agent/server.go
  pkg/security/module/client.go
  pkg/security/module/cws.go
  pkg/security/module/grpc.go
  pkg/security/proto/api/api.proto
  pkg/security/proto/api/api_grpc.pb.go
Due: copyright, go-mod-tidy, protocol-buffer

mocks & cleanup
  pkg/security/agent/agent.go
  pkg/security/agent/mocks/security_module_client_wrapper.go
  pkg/security/module/client.go
  pkg/security/module/server.go
  pkg/security/proto/api/api.proto
  pkg/security/proto/api/mocks/security_module_client.go
  pkg/security/proto/api/mocks/security_module_server.go
Due: copyright, go-mod-tidy, protocol-buffer

move grpc server
  pkg/security/agent/agent.go
  pkg/security/module/client.go
  pkg/security/module/cws.go
  pkg/security/utils/grpc/grpc.go
Due: copyright, go-mod-tidy

dispatch events
  pkg/security/agent/agent.go
  pkg/security/agent/agent_nix.go
  pkg/security/agent/agent_windows.go
  pkg/security/agent/client.go
  pkg/security/agent/server.go
  pkg/security/proto/api/api.proto
  pkg/security/proto/api/api_grpc.pb.go
Due: copyright, go-mod-tidy, protocol-buffer

handle on connect
  pkg/security/agent/agent.go
  pkg/security/module/client.go
  pkg/security/module/server.go
Due: copyright, go-mod-tidy

refacto and add a cmd socket
  pkg/config/setup/config.go
  pkg/config/setup/system_probe_cws_notwin.go
  pkg/config/setup/system_probe_cws_windows.go
  pkg/security/agent/agent.go
  pkg/security/agent/agent_nix.go
  pkg/security/agent/agent_windows.go
  pkg/security/agent/client.go
  pkg/security/agent/server.go
  pkg/security/config/config.go
  pkg/security/module/client.go
  pkg/security/module/cws.go
  pkg/security/module/grpc.go
  pkg/security/module/server.go
  pkg/security/probe/config/config.go
  pkg/security/proto/api/api.proto
  pkg/security/proto/api/api_grpc.pb.go
Due: copyright, go-mod-tidy, protocol-buffer

fix lint
  pkg/security/agent/agent.go
  pkg/security/module/cws.go
  pkg/security/proto/api/mocks/security_module_client.go
  pkg/security/utils/grpc/grpc.go
Due: copyright, go-mod-tidy

fix after rebase
  pkg/security/module/client.go
Due: copyright, go-mod-tidy

fix windows port
  pkg/config/setup/config.go
  pkg/config/setup/config_windows.go
Due: copyright, go-mod-tidy

fix license
  LICENSE-3rdparty.csv
Due: none

fix review
  pkg/security/agent/agent.go
  pkg/security/probe/config/config.go
Due: copyright, go-mod-tidy

fix wg
  pkg/config/setup/config.go
  pkg/config/setup/system_probe_cws_notwin.go
  pkg/security/probe/selftests/tester.go
Due: copyright, go-mod-tidy

avoid race
  pkg/security/module/server.go
Due: copyright, go-mod-tidy

fix windows
  test/new-e2e/tests/cws/common.go
  test/new-e2e/tests/cws/windows_test.go
Due: copyright, go-mod-tidy

fix windows lint
  pkg/config/setup/system_probe_cws_windows.go
Due: copyright, go-mod-tidy

fix windows port
  pkg/config/setup/config_windows.go
  pkg/config/setup/system_probe_cws_windows.go
Due: copyright, go-mod-tidy

fix test
  pkg/security/module/client.go
  pkg/security/module/server.go
  pkg/security/rules/engine.go
  pkg/security/tests/module_tester_linux.go
Due: copyright, go-mod-tidy

make cmd_socket depend on socket
  pkg/config/setup/config.go
  pkg/config/setup/system_probe_cws_notwin.go
  pkg/config/setup/system_probe_cws_windows.go
  pkg/security/agent/client.go
  pkg/security/common/address_utils.go
  pkg/security/module/cws.go
Due: copyright, go-mod-tidy

fix close chan used
  pkg/security/probe/selftests/tester.go
Due: copyright, go-mod-tidy

fixes
  LICENSE-3rdparty.csv
  pkg/config/setup/config.go
  pkg/config/setup/system_probe_cws_notwin.go
Due: copyright, go-mod-tidy

fix e2e tests
  test/new-e2e/tests/cws/common.go
  test/new-e2e/tests/cws/windows_test.go
Due: copyright, go-mod-tidy

[EBPF-829] gpu: retry launching Docker workload in e2e test (#41690)
  test/new-e2e/tests/gpu/capabilities.go
  test/new-e2e/tests/gpu/gpu_test.go
Due: copyright, go-mod-tidy

Remove # from channel name
  tasks/fuzz_infra.py
Due: none

Fix missing manifest file
  tasks/static_quality_gates/experimental_gates.py
Due: none

Rename LoadWithSecret to Load
  CHANGELOG.rst
  cmd/agent/common/common_windows.go
  cmd/agent/common/import.go
  cmd/loader/main_nix.go
  cmd/otel-agent/config/agent_config.go
  cmd/serverless-init/main.go
  cmd/serverless/main.go
  comp/core/config/setup.go
  pkg/config/setup/config.go
  pkg/config/setup/config_secret_test.go
  pkg/config/setup/config_test.go
  pkg/network/nettop/main.go
  pkg/security/tests/module_tester.go
  pkg/serverless/metrics/metric_test.go
  releasenotes/notes/force-tls-12-db1564c0c1313d32.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Make LoadCustom private and introduce LoadSystemProbe
  cmd/loader/main_nix.go
  pkg/config/setup/config.go
  pkg/config/setup/config_secret_test.go
  pkg/config/setup/config_test.go
  pkg/system-probe/config/config.go
Due: copyright, go-mod-tidy

Remove warnings from LoadDatadog
  cmd/agent/common/common_windows.go
  cmd/agent/common/import.go
  cmd/otel-agent/config/agent_config.go
  cmd/serverless-init/main.go
  cmd/serverless/main.go
  comp/core/config/config.go
  comp/core/config/setup.go
  pkg/config/setup/config.go
  pkg/config/setup/config_test.go
  pkg/network/nettop/main.go
  pkg/security/tests/module_tester.go
Due: copyright, go-mod-tidy

Revert "[debug] Enable docker cache"
  .gitlab/container_build/docker_linux.yml
Due: shell-check-no-set-x, gitlab-configuration
