Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

copyright:
  name: copyright
  description: copyright headers
  entry: inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: inv tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

gitlab-lint-jobs-codeowners:
  name: gitlab-lint-jobs-codeowners
  description: lint the gitlab configuration to verify jobs codeowners
  entry: inv linter.gitlab-ci-jobs-codeowners
  language: system
  require_serial: true
  pass_filenames: false

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: inv modules.validate
  language: system
  pass_filenames: false

fix xslt build
  deps/libxslt/BUILD.bazel
Due: none

WIP openscap
  deps/openscap/BUILD.bazel
  deps/openscap/patches/0001-add-missing-include-dirs.patch
  deps/repos.MODULE.bazel
Due: none

WIP
  MODULE.bazel
  MODULE.bazel.lock
  deps/repos.MODULE.bazel
  rtloader/BUILD.bazel
Due: none

Add max_concurrent_requests option
  comp/forwarder/defaultforwarder/domain_forwarder.go
  comp/forwarder/defaultforwarder/domain_forwarder_test.go
  comp/forwarder/defaultforwarder/forwarder_test.go
  comp/forwarder/defaultforwarder/worker.go
  comp/forwarder/defaultforwarder/worker_test.go
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

Update env reset
  pkg/util/ec2/ec2_tags_test.go
  pkg/util/ec2/ec2_test.go
  pkg/util/ec2/network_test.go
Due: copyright, go-mod-tidy

Remove unneeded function call
  pkg/util/ec2/ec2_tags_test.go
Due: copyright, go-mod-tidy

fix(slack): Use a single token
  .github/workflows/assess_permissions.yml
  .github/workflows/assign_issue.yml
  .github/workflows/chase_release_managers.yml
  .github/workflows/create_rc_pr.yml
  .github/workflows/external-contributor.yml
  .github/workflows/label-analysis.yml
  .gitlab/internal_kubernetes_deploy/internal_kubernetes_deploy.yml
  .gitlab/notify/notify.yml
  .gitlab/trigger_release/trigger_release.yml
  tasks/github_tasks.py
  tasks/issue.py
  tasks/libs/notify/alerts.py
  tasks/libs/notify/failure_summary.py
  tasks/libs/notify/pipeline_status.py
  tasks/libs/pipeline/notifications.py
  tasks/notify.py
  tasks/pipeline.py
  tasks/release.py
  tasks/unit_tests/github_tasks_tests.py
  tasks/unit_tests/libs/notify/alerts_tests.py
  tasks/unit_tests/notify_tests.py
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

add labelRegExpression as const value
  pkg/collector/corechecks/system/disk/disk/disk_nix.go
Due: copyright, go-mod-tidy

Revert "fix(release): Move the prelude creation with the changelog update" (#34093)
  tasks/notes.py
  tasks/release.py
Due: none

[CONTINT-4587] Port legacy integration docker e2e tests
  test/new-e2e/tests/containers/docker_test.go
Due: copyright, go-mod-tidy

[shellcheck-gitlab] POC [skip-ci]
  tasks/linter.py
Due: none

move a type declaration and method to private
  pkg/collector/corechecks/system/disk/disk/disk_windows.go
Due: copyright, go-mod-tidy

feat(slack): Update channels
  tasks/libs/pipeline/github_slack_review_map.yaml
Due: shell-check-no-set-x

Call pre-go-build script in dev env initialization (#34091)
  tasks/windows_dev_env.py
Due: none

[shellcheck-gitlab] Before / after script support, more options, dont fail fast [skip ci]
  tasks/linter.py
Due: none

improve tests
  pkg/api/util/doget_test.go
  pkg/api/util/ipc_endpoint_test.go
Due: copyright, go-mod-tidy

fix appending variable when it's not a slice
  pkg/security/secl/compiler/eval/variables.go
Due: copyright, go-mod-tidy

Build dev image
  .gitlab/common/container_publish_job_templates.yml
  .gitlab/dev_container_deploy/docker_linux.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Force the milestone name to the '0' patch when opening a PR
  tasks/libs/ciproviders/github_api.py
  tasks/release.py
Due: none

otel internal image
  .gitlab/internal_image_deploy/internal_image_deploy.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Send metrics as the correct type
  pkg/collector/corechecks/gpu/gpu.go
  pkg/collector/corechecks/gpu/nvidia/clocks.go
  pkg/collector/corechecks/gpu/nvidia/collector.go
  pkg/collector/corechecks/gpu/nvidia/device.go
  pkg/collector/corechecks/gpu/nvidia/fields.go
  pkg/collector/corechecks/gpu/nvidia/remappedrows.go
  pkg/collector/corechecks/gpu/nvidia/samples.go
Due: copyright, go-mod-tidy

Report throughput in bytes per second
  pkg/collector/corechecks/gpu/nvidia/device.go
Due: copyright, go-mod-tidy

Add units
  pkg/collector/corechecks/gpu/nvidia/device.go
Due: copyright, go-mod-tidy

[EBPF-673] gpu: add container-level tags for NVML metrics (#34063)
  pkg/collector/corechecks/gpu/gpu.go
  pkg/collector/corechecks/gpu/gpu_stub.go
  pkg/collector/corechecks/gpu/nvidia/clocks.go
  pkg/collector/corechecks/gpu/nvidia/collector.go
  pkg/collector/corechecks/gpu/nvidia/device.go
  pkg/collector/corechecks/gpu/nvidia/fields.go
  pkg/collector/corechecks/gpu/nvidia/mocks.go
  pkg/collector/corechecks/gpu/nvidia/remappedrows.go
  pkg/collector/corechecks/gpu/nvidia/samples.go
  pkg/commonchecks/corechecks.go
Due: copyright, go-mod-tidy

inv -e tidy
  comp/core/log/mock/go.sum
  comp/otelcol/otlp/components/exporter/serializerexporter/go.sum
  pkg/config/viperconfig/go.mod
  pkg/config/viperconfig/go.sum
Due: check-go-modules-in-python

cleanup(network/ebpf): remove unreachable check
  pkg/network/ebpf/c/protocols/http/http.h
Due: win-clang-format

change after review
  pkg/security/secl/compiler/eval/variables.go
Due: copyright, go-mod-tidy

Switch to count
  pkg/collector/corechecks/gpu/gpu.go
Due: copyright, go-mod-tidy

Remove progress percentage in BatchDeviceScan
  pkg/networkdevice/metadata/payload_utils.go
Due: copyright, go-mod-tidy

enable API key refresh for additional endpoints
  comp/logs/agent/config/config.go
Due: copyright, go-mod-tidy

comment
  comp/logs/agent/config/config.go
Due: copyright, go-mod-tidy

Update release not to give more explicit information
  releasenotes/notes/enable-IMDSv2-by-default-c88a54308df3875f.yaml
Due: shell-check-no-set-x

syntax
  comp/logs/agent/config/config.go
Due: copyright, go-mod-tidy

cleanup prerm
  omnibus/package-scripts/agent-deb/prerm
  omnibus/package-scripts/agent-rpm/prerm
Due: none

ship popt .pc files
  deps/popt/BUILD.bazel
Due: none

add default values
  pkg/collector/corechecks/system/disk/disk/disk.go
Due: copyright, go-mod-tidy

Remove unused resetPackageVers function calls
  pkg/util/ec2/ec2_test.go
Due: copyright, go-mod-tidy

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$
