Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$

[clusteragent] Add support for PHP injection (SSI) in kubernetes (#29890)
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/auto_instrumentation_test.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/language_versions.go
  releasenotes/notes/ssi-php-k8s-a5beff276151f2d4.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Disable poll loop and bypass cache
  pkg/config/remote/service/service.go
  pkg/serverless/remoteconfig/remoteconfig.go
Due: copyright, go-mod-tidy

feat: build and deploy FIPS images with JMX support
  .gitlab/container_build/docker_linux.yml
  .gitlab/dev_container_deploy/docker_linux.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

basic ancestors func
  pkg/security/secl/model/string_array_iter.go
Due: copyright, go-mod-tidy

extract more accessors logic to new function
  pkg/security/secl/compiler/generators/accessors/accessors.tmpl
  pkg/security/secl/model/accessors_unix.go
  pkg/security/secl/model/accessors_windows.go
  pkg/security/secl/model/string_array_iter.go
Due: copyright, go-mod-tidy

pre-alloc ancestors result
  pkg/security/secl/model/string_array_iter.go
Due: copyright, go-mod-tidy

re-use ancestors count information across calls
  pkg/security/secl/compiler/eval/context.go
  pkg/security/secl/model/string_array_iter.go
Due: copyright, go-mod-tidy

Implements AllSettings getters (#30909)
  pkg/config/nodetreemodel/config.go
  pkg/config/nodetreemodel/config_test.go
  pkg/config/nodetreemodel/inner_node.go
  pkg/config/nodetreemodel/node.go
  pkg/config/nodetreemodel/struct_node.go
Due: copyright, go-mod-tidy

sync windows
  pkg/security/seclwin/model/accessors_win.go
  pkg/security/seclwin/model/string_array_iter.go
  tasks/security_agent.py
Due: copyright, go-mod-tidy

Trigger based on config
  comp/rdnsquerier/impl/config.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config.go
  pkg/collector/corechecks/snmp/internal/report/report_device_metadata.go
  pkg/collector/corechecks/snmp/snmp_test.go
  pkg/snmp/snmpintegration/config.go
Due: copyright, go-mod-tidy

[enhancement] add ocb custom collector support for ddflareextension (#30345)
  .gitlab/JOBOWNERS
  .gitlab/integration_test/otel.yml
  comp/core/tagger/types/go.mod
  comp/otelcol/collector/impl/collector.go
  comp/otelcol/converter/impl/go.mod
  comp/otelcol/ddflareextension/impl/configstore_test.go
  comp/otelcol/ddflareextension/impl/extension.go
  comp/otelcol/ddflareextension/impl/extension_test.go
  comp/otelcol/ddflareextension/impl/factory.go
  comp/otelcol/ddflareextension/impl/factory_test.go
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/ddflareextension/impl/server.go
  comp/otelcol/otlp/components/processor/infraattributesprocessor/go.mod
  go.mod
  test/new-e2e/go.mod
  test/otel/testdata/builder-config.yaml
  test/otel/testdata/collector-config.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

AMLII-1948 - create a framework for running tests without socket interaction
  comp/dogstatsd/listeners/uds_common_test.go
  comp/dogstatsd/server/server_util_test.go
Due: copyright, go-mod-tidy

AMLII-1948 - refactor tests utilizing testReceive
  comp/dogstatsd/server/server_integration_test.go
  comp/dogstatsd/server/server_test.go
  comp/dogstatsd/server/server_worker_test.go
Due: copyright, go-mod-tidy

AMLII-1948 - refactor remaining uds and udp unit tests to utilize mocks
  comp/dogstatsd/listeners/udp_integration_test.go
  comp/dogstatsd/listeners/udp_test.go
  comp/dogstatsd/listeners/uds_common_test.go
  comp/dogstatsd/listeners/uds_datagram_test.go
  comp/dogstatsd/listeners/uds_stream_test.go
Due: copyright, go-mod-tidy

AMLII-1948 - clean up and consolidate existing unit tests
  comp/dogstatsd/server/server_integration_test.go
  comp/dogstatsd/server/server_test.go
  comp/dogstatsd/server/server_worker_test.go
Due: copyright, go-mod-tidy

AMLII-1948 - remove extraneous unit test
  comp/dogstatsd/listeners/udp_integration_test.go
  comp/dogstatsd/server/server_integration_test.go
  comp/dogstatsd/server/server_test.go
Due: copyright, go-mod-tidy

Fix build
  pkg/gpu/probe_test.go
Due: copyright, go-mod-tidy

Check in e2e test
  test/new-e2e/tests/gpu/gpu_test.go
Due: copyright, go-mod-tidy

[EBPF-616] gpu: Use event consumer for processs monitoring (#30755)
  cmd/system-probe/config/config.go
  cmd/system-probe/config/config_test.go
  cmd/system-probe/modules/all_linux.go
  cmd/system-probe/modules/all_linux_arm64.go
  cmd/system-probe/modules/eventmonitor.go
  cmd/system-probe/modules/eventmonitor_windows.go
  cmd/system-probe/modules/gpu.go
  pkg/gpu/config/config.go
  pkg/gpu/config/config_linux.go
  pkg/gpu/config/config_other.go
  pkg/gpu/probe.go
  pkg/gpu/probe_stub.go
  pkg/gpu/probe_test.go
Due: copyright, go-mod-tidy

relint
  comp/rdnsquerier/impl/config.go
  pkg/collector/corechecks/snmp/internal/discovery/discovery.go
Due: copyright, go-mod-tidy

Remove process monitor call
  pkg/gpu/probe_test.go
Due: copyright, go-mod-tidy

Rename some e2e tests so easier to see which ones fail and what the test suite is testing (#30406)
  test/new-e2e/examples/agentenv_logs_test.go
  test/new-e2e/tests/agent-metrics-logs/log-agent/linux-log/file-tailing/file_tailing_test.go
  test/new-e2e/tests/agent-metrics-logs/log-agent/linux-log/journald/journald_tailing_test.go
  test/new-e2e/tests/agent-metrics-logs/log-agent/windows-log/file-tailing/file_tailing_test.go
Due: copyright, go-mod-tidy

usm: debugger: Add module name identifier
  cmd/system-probe/modules/network_tracer.go
  pkg/ebpf/uprobes/attacher.go
  pkg/gpu/probe.go
  pkg/network/usm/ebpf_gotls.go
  pkg/network/usm/istio.go
  pkg/network/usm/monitor.go
  pkg/network/usm/nodejs.go
  pkg/network/usm/sharedlibraries/watcher.go
  pkg/network/usm/utils/debugger.go
  pkg/network/usm/utils/debugger_testutils.go
  pkg/network/usm/utils/file_registry.go
Due: copyright, go-mod-tidy

usm: debugger: tests: Fixed tests to provide moduleName
  pkg/ebpf/uprobes/attacher_test.go
  pkg/gpu/probe_test.go
  pkg/network/usm/ebpf_ssl_test.go
  pkg/network/usm/kafka_monitor_test.go
  pkg/network/usm/monitor_tls_test.go
  pkg/network/usm/nodejs.go
  pkg/network/usm/postgres_monitor_test.go
  pkg/network/usm/tests/tracer_usm_linux_test.go
  pkg/network/usm/usm_grpc_monitor_test.go
  pkg/network/usm/usm_http2_monitor_test.go
  pkg/network/usm/utils/debugger.go
  pkg/network/usm/utils/debugger_testutils.go
  pkg/network/usm/utils/file_registry_test.go
Due: copyright, go-mod-tidy

Link SMP runs with CI Vis data using tags passed through both sides.
  .gitlab/functional_test/regression_detector.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Testing command tracing
  .gitlab/functional_test/regression_detector.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Removed trace
  .gitlab/functional_test/regression_detector.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Updated trace format
  .gitlab/functional_test/regression_detector.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Removed trace again.
  .gitlab/functional_test/regression_detector.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Testing multiple tags of same key in datadog-ci
  .gitlab/functional_test/regression_detector.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[CWS] set pid1 as an exec
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/secl/model/process_cache_entry_unix.go
  pkg/security/tests/snapshot_test.go
Due: copyright, go-mod-tidy

Add rdns querier to windows agent start
  cmd/agent/subcommands/run/command_windows.go
Due: copyright, go-mod-tidy

Address comments
  pkg/trace/api/otlp_test.go
Due: copyright, go-mod-tidy

working (i think) version of logs check feature (no print no stdout yet)
  cmd/agent/subcommands/logsanalyze/command.go
  comp/logs/agent/agentimpl/logs_analyze_init.go
  pkg/logs/launchers/file/launcher.go
  pkg/logs/sources/config_source.go
Due: copyright, go-mod-tidy

Update logic to include alternate env mapping
  comp/otelcol/otlp/components/processor/infraattributesprocessor/common.go
  comp/otelcol/otlp/components/processor/infraattributesprocessor/logs.go
  comp/otelcol/otlp/components/processor/infraattributesprocessor/metrics.go
  comp/otelcol/otlp/components/processor/infraattributesprocessor/traces.go
Due: copyright, go-mod-tidy

reduce GetInstance calls
  pkg/logs/sources/config_source.go
Due: copyright, go-mod-tidy

Remove service.name from resource attrs
  test/new-e2e/tests/otel/utils/pipelines_utils.go
Due: copyright, go-mod-tidy
