Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python

copyright:
  name: copyright
  description: copyright headers
  entry: inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: inv tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

gitlab-lint-jobs-codeowners:
  name: gitlab-lint-jobs-codeowners
  description: lint the gitlab configuration to verify jobs codeowners
  entry: inv linter.gitlab-ci-jobs-codeowners
  language: system
  require_serial: true
  pass_filenames: false

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: inv modules.validate
  language: system
  pass_filenames: false

remove unused functions
  pkg/network/tracer/connection/ebpfless/tcp_processor_test.go
Due: copyright, go-mod-tidy

[NPM-3530] Add TCP retransmit support to ebpfless
  pkg/network/tracer/connection/ebpfless/tcp_processor.go
  pkg/network/tracer/connection/ebpfless/tcp_processor_retransmit_test.go
  pkg/network/tracer/connection/ebpfless/tcp_processor_test.go
  pkg/network/tracer/tracer_linux_test.go
Due: copyright, go-mod-tidy

Add auth token requirement for trace-agent set log_level (APMSP-1204) (#31448)
  .github/CODEOWNERS
  cmd/trace-agent/test/testsuite/config_set_test.go
  comp/core/log/impl-trace/go.mod
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/statsprocessor/go.mod
  comp/trace/agent/impl/run.go
  comp/trace/config/config.go
  comp/trace/config/config_test.go
  comp/trace/config/setup.go
  go.mod
  pkg/trace/config/config.go
  pkg/trace/go.mod
  pkg/trace/remoteconfighandler/remote_config_handler.go
  pkg/trace/remoteconfighandler/remote_config_handler_test.go
  pkg/trace/stats/oteltest/go.mod
  releasenotes/notes/traceagent-loglevel-027cc2c0e581b195.yaml
  test/new-e2e/go.mod
  test/otel/go.mod
Due: copyright, go-mod-tidy, shell-check-no-set-x, check-go-modules-in-python

[e2e] mark TestAdmissionControllerWithAutoDetectedLanguage (#31728)
  test/new-e2e/tests/containers/k8s_test.go
Due: copyright, go-mod-tidy

Add bare minimum amount of code to allow streaming logs via kubelet api
  pkg/logs/launchers/container/launcher.go
  pkg/logs/launchers/container/tailerfactory/api.go
  pkg/logs/launchers/container/tailerfactory/factory.go
  pkg/logs/launchers/container/tailerfactory/tailers/api.go
  pkg/logs/tailers/api/reader.go
  pkg/logs/tailers/api/tailer.go
  pkg/util/kubernetes/kubelet/kubelet.go
  pkg/util/kubernetes/kubelet/kubelet_client.go
  pkg/util/kubernetes/kubelet/kubelet_orchestrator.go
Due: copyright, go-mod-tidy

Factorize code that resolve a cgroup path from a file
  pkg/security/probe/field_handlers_ebpf.go
  pkg/security/probe/probe_ebpf.go
  pkg/security/ptracer/utils.go
  pkg/security/resolvers/resolvers_ebpf.go
  pkg/security/secl/containerutils/cgroup.go
  pkg/security/secl/containerutils/helpers.go
  pkg/security/secl/containerutils/helpers_test.go
  pkg/security/secl/model/process_cache_entry_unix.go
  pkg/security/utils/cgroup.go
Due: copyright, go-mod-tidy

[AIDM-459] Remap OTel GraphQL resource to use query data
  pkg/trace/api/otlp.go
  pkg/trace/api/otlp_test.go
  releasenotes/notes/otel-graphql-resource-e31ae2262b52a873.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Add missing function definition
  pkg/util/kubernetes/kubelet/kubelet_interface.go
Due: copyright, go-mod-tidy

Fix failing tests
  pkg/logs/launchers/container/tailerfactory/factory.go
  pkg/logs/launchers/container/tailerfactory/factory_test.go
Due: copyright, go-mod-tidy

Fix more syntax errors because of build tags
  pkg/util/kubernetes/kubelet/kubelet_interface.go
Due: copyright, go-mod-tidy

Fix linter complaining about missing function comment
  pkg/util/kubernetes/kubelet/kubelet.go
Due: copyright, go-mod-tidy

Implement UnsetForSource method
  pkg/config/model/viper.go
  pkg/config/nodetreemodel/config.go
  pkg/config/nodetreemodel/config_test.go
Due: copyright, go-mod-tidy

Implement timestamp tracking
  pkg/util/kubernetes/kubelet/kubelet.go
Due: copyright, go-mod-tidy

enable omnibus git cache on windows (#31555)
  .gitlab-ci.yml
  .gitlab/package_build/windows.yml
  tasks/omnibus.py
  tasks/unit_tests/omnibus_tests.py
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Parse cgroup file only once
  pkg/security/resolvers/container/resolver.go
  pkg/security/resolvers/process/resolver_ebpf.go
  pkg/security/utils/cgroup.go
Due: copyright, go-mod-tidy

Set cache entry cgroup context when unmarshalling from kernel maps
  pkg/security/resolvers/process/resolver_ebpf.go
Due: copyright, go-mod-tidy

[HA Agent] Log leader state change
  comp/haagent/impl/haagent.go
  comp/haagent/impl/utils.go
  comp/haagent/impl/utils_test.go
Due: copyright, go-mod-tidy

add log
  comp/haagent/impl/haagent.go
Due: copyright, go-mod-tidy

[CWS] fix cws-instrumentation pipe to stderr instead of stdout
  cmd/cws-instrumentation/subcommands/tracecmd/trace.go
Due: copyright, go-mod-tidy

update log
  comp/haagent/impl/haagent.go
Due: copyright, go-mod-tidy

Use latest image
  .circleci/config.yml
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[CWS] sync yaml usage to v3 in `pkg/security/secl` (#31718)
  pkg/security/secl/go.mod
  pkg/security/secl/go.sum
  pkg/security/secl/rules/policy.go
Due: copyright, go-mod-tidy, check-go-modules-in-python

Address comments
  tasks/kernel_matrix_testing/ci.py
  tasks/kmt.py
  tasks/system_probe.py
  test/new-e2e/tests/sysprobe-functional/.gitignore
Due: none

Performance improvements of External Metrics controller and allow multiple workers (#31671)
  cmd/secrethelper/secret_helper.go
  cmd/secrethelper/secret_helper_test.go
  pkg/clusteragent/autoscaling/externalmetrics/datadogmetric_controller.go
  pkg/clusteragent/autoscaling/externalmetrics/datadogmetric_controller_test.go
  pkg/clusteragent/autoscaling/externalmetrics/metrics_retriever.go
  pkg/clusteragent/autoscaling/externalmetrics/metrics_retriever_test.go
  pkg/clusteragent/autoscaling/externalmetrics/model/datadogmetricinternal.go
  pkg/clusteragent/autoscaling/externalmetrics/provider.go
  pkg/clusteragent/autoscaling/externalmetrics/telemetry.go
  pkg/config/setup/config.go
  pkg/util/kubernetes/apiserver/apiserver.go
  pkg/util/kubernetes/apiserver/apiserver_nocompile.go
Due: copyright, go-mod-tidy

created BenchmarkConsumer
  pkg/network/protocols/events/consumer_test.go
  pkg/network/protocols/telemetry/metric.go
Due: copyright, go-mod-tidy

[tagger] Move entity ID functions to types package
  comp/core/tagger/collectors/workloadmeta_extract.go
  comp/core/tagger/collectors/workloadmeta_main.go
  comp/core/tagger/collectors/workloadmeta_test.go
  comp/core/tagger/common/entity_id_builder.go
  comp/core/tagger/impl-remote/remote.go
  comp/core/tagger/impl/local_tagger.go
  comp/core/tagger/impl/replay_tagger.go
  comp/core/tagger/impl/tagger.go
  comp/core/tagger/mock/fake_tagger.go
  comp/core/tagger/types/entity_id.go
  comp/dogstatsd/replay/impl/writer.go
  comp/otelcol/otlp/collector.go
  pkg/collector/corechecks/containers/kubelet/provider/cadvisor/provider_test.go
  pkg/collector/corechecks/containers/kubelet/provider/kubelet/provider_test.go
  pkg/collector/corechecks/containers/kubelet/provider/pod/provider_test.go
  pkg/collector/corechecks/containers/kubelet/provider/probe/provider_test.go
  pkg/collector/corechecks/containers/kubelet/provider/summary/provider_test.go
Due: copyright, go-mod-tidy

Use the correct build image tag
  .circleci/config.yml
  .gitlab-ci.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: .*go\.mod$
