Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: dda inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

gitlab-lint-jobs-codeowners:
  name: gitlab-lint-jobs-codeowners
  description: lint the gitlab configuration to verify jobs codeowners
  entry: dda inv linter.gitlab-ci-jobs-codeowners
  language: system
  require_serial: true
  pass_filenames: false

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Revert "Changed directory to default back to datadog-packages"
  .gitlab/packaging/oci.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

autoinstrumentation: respect ns labels_as_tags
  pkg/clusteragent/admission/mutate/autoinstrumentation/config.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/meta_as_tags.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/namespace_mutator.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/pod_meta_as_tags.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/service_name.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/service_name_test.go
Due: copyright, go-mod-tidy

add call for application metrics per appliance
  pkg/collector/corechecks/network-devices/versa/client/client.go
  pkg/collector/corechecks/network-devices/versa/client/client_test.go
  pkg/collector/corechecks/network-devices/versa/client/fixtures/payloads.go
  pkg/collector/corechecks/network-devices/versa/client/test_utils.go
  pkg/collector/corechecks/network-devices/versa/client/types.go
  pkg/collector/corechecks/network-devices/versa/report/sender.go
  pkg/collector/corechecks/network-devices/versa/report/sender_test.go
  pkg/collector/corechecks/network-devices/versa/versa.go
Due: copyright, go-mod-tidy

WIP pod instrumentation tags
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/pod.go
Due: copyright, go-mod-tidy

dyninst: add a more efficient way to resolve PCs (#38892)
  pkg/dyninst/gosym/pc_iterator.go
  pkg/dyninst/gosym/symtab.go
  pkg/dyninst/gosym/symtab_test.go
Due: copyright, go-mod-tidy

Rename package
  cmd/system-probe/modules/software_inventory_windows.go
  comp/metadata/inventorysoftware/inventorysoftware.go
  comp/metadata/inventorysoftware/inventorysoftware_test.go
  comp/metadata/inventorysoftware/mocks.go
  comp/metadata/inventorysoftware/payload.go
  comp/metadata/inventorysoftware/payload_test.go
  comp/metadata/inventorysoftware/status_test.go
  pkg/inventory/software/collector.go
  pkg/inventory/software/collector_nix.go
  pkg/inventory/software/collector_test.go
  pkg/inventory/software/collector_windows.go
  pkg/inventory/software/collector_windows_test.go
  pkg/inventory/software/config_test.go
  pkg/inventory/software/integration_windows_test.go
  pkg/inventory/software/msi_collector.go
  pkg/inventory/software/registry_collector.go
  pkg/inventory/software/types.go
  pkg/inventory/software/win32_windows.go
Due: copyright, go-mod-tidy

Rename file
  pkg/inventory/software/win32.go
Due: copyright, go-mod-tidy

Address https://github.com/DataDog/datadog-agent/pull/37407/files#r2112188569
  pkg/inventory/software/msi_collector.go
  pkg/inventory/software/win32.go
Due: copyright, go-mod-tidy

Add further gazelle:resolve directives to deal with dep cycles
  MODULE.bazel
Due: none

added changelog
  releasenotes/notes/windows-event-log-bookmark-fix-d8ae5cfd846ab0e2.yaml
Due: shell-check-no-set-x

go mod tidy + bazel mod tidy + gazelle
  MODULE.bazel
  go.mod
  go.sum
  pkg/serverless/appsec/BUILD.bazel
  pkg/serverless/appsec/httpsec/BUILD.bazel
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

update testing for libjection annotations
  pkg/collector/corechecks/cluster/orchestrator/processors/k8s/pod.go
Due: copyright, go-mod-tidy

Move the configuration flag to the Agent side
  cmd/agent/subcommands/run/dependent_services_windows.go
  comp/metadata/inventorysoftware/inventorysoftware.go
  pkg/config/setup/config.go
  pkg/config/setup/system_probe.go
  pkg/system-probe/config/config.go
Due: copyright, go-mod-tidy

add top user metrics
  pkg/collector/corechecks/network-devices/versa/client/client.go
  pkg/collector/corechecks/network-devices/versa/client/client_test.go
  pkg/collector/corechecks/network-devices/versa/client/fixtures/payloads.go
  pkg/collector/corechecks/network-devices/versa/client/test_utils.go
  pkg/collector/corechecks/network-devices/versa/client/types.go
  pkg/collector/corechecks/network-devices/versa/report/sender.go
  pkg/collector/corechecks/network-devices/versa/report/sender_test.go
  pkg/collector/corechecks/network-devices/versa/versa.go
Due: copyright, go-mod-tidy

rename to TopUsers
  pkg/collector/corechecks/network-devices/versa/client/client.go
  pkg/collector/corechecks/network-devices/versa/client/client_test.go
  pkg/collector/corechecks/network-devices/versa/client/fixtures/payloads.go
  pkg/collector/corechecks/network-devices/versa/client/test_utils.go
  pkg/collector/corechecks/network-devices/versa/client/types.go
  pkg/collector/corechecks/network-devices/versa/report/sender.go
  pkg/collector/corechecks/network-devices/versa/report/sender_test.go
  pkg/collector/corechecks/network-devices/versa/versa.go
Due: copyright, go-mod-tidy

update user metric prefix
  pkg/collector/corechecks/network-devices/versa/report/sender.go
  pkg/collector/corechecks/network-devices/versa/report/sender_test.go
Due: copyright, go-mod-tidy

Add a flag agent side
  comp/metadata/inventorysoftware/inventorysoftware.go
  pkg/system-probe/config/config.go
Due: copyright, go-mod-tidy

Add fixed size key and portrollup_use_fixed_size_key config option.
  comp/netflow/config/config.go
  comp/netflow/config/config_test.go
  comp/netflow/flowaggregator/aggregator.go
  comp/netflow/flowaggregator/flowaccumulator.go
  comp/netflow/flowaggregator/flowaccumulator_test.go
  comp/netflow/portrollup/portrollup.go
  comp/netflow/portrollup/portrollup_test.go
Due: copyright, go-mod-tidy

dyninst/irgen: refactor for efficiency
  pkg/dyninst/irgen/irgen.go
  pkg/dyninst/irgen/irgen_all_symbols_test.go
Due: copyright, go-mod-tidy

[Backport 7.68.9] Fix JMXFetch support for Java 7 (#39026)
  omnibus/config/software/jmxfetch.rb
  release.json
  releasenotes/notes/jmxfetch-0.49.9-a5383fc8199a8fb2.yaml
Due: shell-check-no-set-x

Add preludes for 7.68.2 release
  releasenotes-dca/notes/prelude-release-7.68.2-d9bd4777cdd2ff47.yaml
  releasenotes/notes/prelude-release-7.68.2-bd07ecba1d413ad7.yaml
Due: shell-check-no-set-x

Apply suggestions from code review
  releasenotes-dca/notes/prelude-release-7.68.2-d9bd4777cdd2ff47.yaml
  releasenotes/notes/prelude-release-7.68.2-bd07ecba1d413ad7.yaml
Due: shell-check-no-set-x

Changelog updates for 7.68.2 release
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

Changelog update for 7.68.2 release (#39035)
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

Changelog update for 7.68.0 release (#38618)
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

Changelog update for 7.68.1 release (#38823)
  CHANGELOG-DCA.rst
  CHANGELOG.rst
Due: none

Revert "Skip debian 10 on ddot install tests (#38747)"
  .gitlab/e2e_install_packages/debian.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[test-encoding-sections] update name
  .gitlab/lint/linux.yml
  tasks/gitlab_helpers.py
  tasks/libs/common/utils.py
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

[test-encoding-sections] Write at once
  tasks/libs/common/utils.py
Due: none

[test-encoding-sections] crlf
  tasks/libs/common/utils.py
Due: none

Remove unused script
  bzlbus.sh
Due: shell-check-no-set-x

fix functional tests
  pkg/security/tests/cgroup_test.go
Due: copyright, go-mod-tidy

[test-encoding-sections] dark magic
  tasks/libs/common/utils.py
Due: none

fix compile command
  pkg/ebpf/kernelbugs/c/detect-seccomp-bug.c
Due: win-clang-format

check errors when applying seccomp
  pkg/ebpf/kernelbugs/c/detect-seccomp-bug.c
Due: win-clang-format

[test-encoding-sections] Fixed errors
  tasks/libs/common/utils.py
Due: none

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
