Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: dda inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

gitlab-lint-jobs-codeowners:
  name: gitlab-lint-jobs-codeowners
  description: lint the gitlab configuration to verify jobs codeowners
  entry: dda inv linter.gitlab-ci-jobs-codeowners
  language: system
  require_serial: true
  pass_filenames: false

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Use defer unlocks
  pkg/config/nodetreemodel/config.go
  pkg/config/viperconfig/viper.go
Due: copyright, go-mod-tidy

[CWS] do not pragma unroll some core loops in fentry mode
  pkg/security/ebpf/c/include/hooks/dentry_resolver.h
  pkg/security/ebpf/c/include/hooks/exec.h
Due: win-clang-format

fix: add back env var in system probe e2e prepare build
  tasks/system_probe.py
Due: none

feat: add jsonv2 experiment flag
  tasks/libs/common/utils.py
  tasks/otel_agent.py
Due: none

system probe: use a higher compression level for BTFS
  tasks/system_probe.py
Due: none

[USM] Fix ssl_sock_by_ctx leak (#38069)
  pkg/network/ebpf/c/protocols/sockfd-probes.h
  pkg/network/ebpf/c/protocols/tls/https.h
  pkg/network/ebpf/c/protocols/tls/native-tls-maps.h
  pkg/network/usm/ebpf_main.go
  pkg/network/usm/ebpf_ssl.go
  pkg/network/usm/ebpf_ssl_test.go
Due: copyright, win-clang-format, go-mod-tidy

Add missing check for collectResourceTags
  comp/core/workloadmeta/collectors/internal/ecs/v4parser.go
Due: copyright, go-mod-tidy

Changed 90 seconds (testing log collection time) back to 900 (as per pool.ntp guidelines)
  pkg/collector/corechecks/net/ntp/ntp.go
Due: copyright, go-mod-tidy

Implemented sorting mechanism to resolve issue of the order of the elements alerting a chance, passed DS_AVOID_SELF flag, linked MSDN for future reference and changed the error to just a log waerning.
  pkg/collector/corechecks/net/ntp/ntp.go
  pkg/collector/corechecks/net/ntp/ntp_local_defined_server_windows.go
Due: copyright, go-mod-tidy

Fixed lint issues, added changelog, linked MSDN for future reference
  pkg/collector/corechecks/net/ntp/ntp_local_defined_server_windows.go
  releasenotes/notes/ntp-windows-resiliency-fixes-17c350b623dc859d.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Change notes and update test
  comp/core/workloadmeta/collectors/internal/ecs/v4parser.go
  comp/core/workloadmeta/collectors/internal/ecs/v4parser_test.go
Due: copyright, go-mod-tidy

new shorter changelog
  releasenotes/notes/ntp-windows-resiliency-fixes-17c350b623dc859d.yaml
Due: shell-check-no-set-x

Fixed a MSDN reference, changed log behavior to reduce noise on success
  pkg/collector/corechecks/net/ntp/ntp.go
  pkg/collector/corechecks/net/ntp/ntp_local_defined_server_windows.go
  pkg/collector/corechecks/net/ntp/ntp_local_defined_server_windows_test.go
  releasenotes/notes/ntp-windows-resiliency-fixes-17c350b623dc859d.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(agent): Report JMX checks again in the metadata payloads (#38075)
  comp/api/api/apiimpl/internal/agent/agent_jmx.go
  comp/collector/collector/collectorimpl/agent_check_metadata.go
  comp/metadata/inventorychecks/inventorychecksimpl/integrations_jmx.go
  comp/metadata/inventorychecks/inventorychecksimpl/integrations_nojmx.go
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks.go
  pkg/jmxfetch/state.go
  pkg/jmxfetch/stub.go
  pkg/jmxfetch/utils_test.go
  releasenotes/notes/jmx_agent_inventories-2cf6eba02a383060.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Remove lint depedency for build entrypoint
  .gitlab/binary_build/windows.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

tmp
  comp/core/filter/catalog/image.go
  comp/core/filter/catalog/utils.go
  comp/core/filter/catalog/utils_test.go
  comp/core/filter/def/component.go
  comp/core/filter/def/proto/filter.pb.go
  comp/core/filter/def/proto/filter.proto
  comp/core/filter/def/types.go
  comp/core/filter/impl/filter.go
  comp/core/filter/impl/filter_test.go
  comp/core/workloadmeta/collectors/internal/containerd/containerd.go
  comp/core/workloadmeta/collectors/internal/containerd/containerd_test.go
  pkg/collector/corechecks/containers/containerd/check.go
  pkg/collector/corechecks/containers/containerd/events.go
  pkg/collector/corechecks/containers/containerd/events_test.go
  pkg/collector/corechecks/containers/containerd/utils.go
  pkg/collector/corechecks/containers/docker/check.go
  pkg/collector/corechecks/containers/docker/check_test.go
  pkg/collector/corechecks/containers/docker/events.go
  pkg/collector/corechecks/containers/docker/utils.go
  pkg/collector/corechecks/containers/generic/check.go
  pkg/collector/corechecks/containers/generic/filters.go
  pkg/util/docker/client.go
Due: copyright, go-mod-tidy, protocol-buffer

fix: pass go build stderr to whydeadcode
  tasks/libs/common/go.py
Due: none

Add mock config to failing test
  pkg/logs/processor/processor_test.go
Due: copyright, go-mod-tidy

Add release notes
  releasenotes/notes/gpu-gpm-collector-b6d57e9c6132babb.yaml
Due: shell-check-no-set-x

Revert "Use defer unlocks"
  pkg/config/nodetreemodel/config.go
  pkg/config/viperconfig/viper.go
Due: copyright, go-mod-tidy

Testing newer version of dd-trace-go
  test/integration/serverless/src/go.mod
  test/integration/serverless/src/go.sum
Due: check-go-modules-in-python, protocol-buffer

Unlock before notifying
  pkg/config/nodetreemodel/config.go
  pkg/config/viperconfig/viper.go
Due: copyright, go-mod-tidy

[CWS] do not pragma unroll some core loops in fentry mode (#33352)
  pkg/security/ebpf/c/include/hooks/dentry_resolver.h
  pkg/security/ebpf/c/include/hooks/exec.h
Due: win-clang-format

Add datadog-lambda-go
  test/integration/serverless/src/go.mod
  test/integration/serverless/src/go.sum
Due: check-go-modules-in-python, protocol-buffer

Fetch runtime ID from the first span we see it on
  pkg/trace/writer/converter.go
Due: copyright, go-mod-tidy

add feature payload headers
  comp/process/submitter/submitterimpl/submitter.go
  pkg/process/runner/submitter.go
  pkg/process/runner/submitter_test.go
  pkg/process/util/api/headers/headers.go
Due: copyright, go-mod-tidy

Update templates
  pkg/fleet/installer/packages/embedded/templates/gen/debrpm/datadog-agent-ddot-exp.service
  pkg/fleet/installer/packages/embedded/templates/gen/debrpm/datadog-agent-ddot.service
  pkg/fleet/installer/packages/embedded/templates/gen/debrpm/datadog-agent-exp.service
  pkg/fleet/installer/packages/embedded/templates/gen/debrpm/datadog-agent.service
  pkg/fleet/installer/packages/embedded/templates/gen/oci/datadog-agent-ddot-exp.service
  pkg/fleet/installer/packages/embedded/templates/gen/oci/datadog-agent-ddot.service
  pkg/fleet/installer/packages/embedded/templates/gen/oci/datadog-agent-exp.service
  pkg/fleet/installer/packages/embedded/templates/gen/oci/datadog-agent.service
Due: experiment-systemd-units

[test-infra-definitions][manual] Bump test-infra-definitions to cf91ecdc2a60d5ef2772a6044b014b03d08c56fd
  .gitlab/common/test_infra_version.yml
  test/new-e2e/go.mod
  test/new-e2e/go.sum
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners, check-go-modules-in-python, protocol-buffer

Run with bottlecap.
  test/integration/serverless/run.sh
  test/integration/serverless/serverless.yml
Due: shell-check-no-set-x

feat: added persistence for isTruncated flag and line handlers set flag
  pkg/logs/internal/decoder/single_line_handler.go
  pkg/logs/tailers/container/tailer.go
  pkg/logs/tailers/file/tailer.go
  pkg/logs/tailers/journald/tailer.go
  pkg/logs/tailers/socket/tailer.go
Due: copyright, go-mod-tidy

fix tests
  pkg/process/runner/collector_api_test.go
  pkg/process/runner/submitter_test.go
Due: copyright, go-mod-tidy

Fix NIT - remove redundant check
  tools/windows/DatadogAgentInstaller/CustomActions/InstallInfoCustomActions.cs
Due: none

fix tests
  comp/otelcol/ddflareextension/impl/testdata/simple-dd/config-enhanced-result.yaml
  comp/otelcol/ddflareextension/impl/testdata/simple-dd/config-provided-result.yaml
  test/new-e2e/tests/otel/otel-agent/testdata/minimal-full-config.yml
  test/new-e2e/tests/otel/otel-agent/testdata/minimal-provided-config.yml
  test/new-e2e/tests/otel/otel-agent/testdata/no-dd-exporter-full-config.yml
  test/new-e2e/tests/otel/otel-agent/testdata/no-dd-exporter-provided-config.yml
Due: shell-check-no-set-x

Comment out other tests.
  test/integration/serverless/run.sh
Due: shell-check-no-set-x

dyninst/uploader: remove stale testdata fields
  pkg/dyninst/uploader/testdata/snapshot/failed_batch_outcome.yaml
  pkg/dyninst/uploader/testdata/snapshot/stop_partial_flush.yaml
  pkg/dyninst/uploader/testdata/snapshot/successful_batch_outcome.yaml
Due: shell-check-no-set-x

Remove lint depedency for build entrypoint (#38372)
  .gitlab/binary_build/windows.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

dyninst/ebpf: set up stack with link register on arm64
  pkg/dyninst/ebpf/event.c
Due: win-clang-format

test c6i instances
  .gitlab/trigger_distribution/conditions.yml
Due: shell-check-no-set-x, gitlab-configuration, gitlab-lint-jobs-codeowners

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  gitlab-lint-jobs-codeowners: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
