Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Add Milvus E2E framework scenario
  tasks/e2e_framework/aws/__init__.py
  tasks/e2e_framework/aws/milvus.py
  test/e2e-framework/components/datadog/apps/milvus/docker-compose.yaml
  test/e2e-framework/components/datadog/apps/milvus/docker.go
  test/e2e-framework/registry/scenarios.go
  test/e2e-framework/scenarios/aws/milvus/BUILD.bazel
  test/e2e-framework/scenarios/aws/milvus/run.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

bazel: allow a prefix to be provided to dd_cc_packaged
  bazel/rules/dd_packaging/dd_cc_packaged.bzl
  bazel/rules/so_symlink.bzl
Due: none

deps: start trimming down krb5 BUILD file
  deps/krb5/krb5.BUILD.bazel
  omnibus/config/software/datadog-agent-integrations-py3-dependencies.rb
Due: none

deps: krb5: migrate to dd_cc_packaged
  deps/krb5/krb5.BUILD.bazel
Due: none

bazel: dd_cc_packaged: expose a dest_dir attribute
  bazel/rules/dd_packaging/dd_cc_packaged.bzl
  bazel/rules/so_symlink.bzl
Due: none

deps: migrate msodbcsql18 to dd_collect_dependencies
  deps/msodbcsql18/BUILD.bazel
Due: none

omnibus: stop explicitly installing msodbcsql18
  omnibus/config/software/datadog-agent-integrations-py3-dependencies.rb
  omnibus/config/software/datadog-agent-integrations-py3.rb
Due: none

bazel: dd_collect_dependencies: allow nesting dependencies
  bazel/rules/dd_packaging/dd_collect_dependencies.bzl
Due: none

packages: install krb5 & msodbcsql18 through agent dependencies
  deps/krb5/krb5.BUILD.bazel
  deps/msodbcsql18/BUILD.bazel
  packages/agent/dependencies/BUILD.bazel
  packages/agent/linux/BUILD.bazel
Due: none

Merge inventory into NCMPayload
  pkg/collector/corechecks/networkconfigmanagement/networkconfigmanagement.go
  pkg/collector/corechecks/networkconfigmanagement/networkconfigmanagement_test.go
  pkg/networkconfigmanagement/report/payload.go
  pkg/networkconfigmanagement/report/payload_test.go
  pkg/networkconfigmanagement/sender/sender.go
  pkg/networkconfigmanagement/sender/sender_test.go
Due: copyright, go-mod-tidy

[Backport 7.80.x] chore(agent-data-plane): bump to 1.1.0 (#51014)
  release.json
Due: none

refactor(e2e): merge log-triggered suite into anomalydetection_nix_test.go
  test/new-e2e/tests/anomalydetection/anomalydetection_nix_test.go
  test/new-e2e/tests/anomalydetection/log_triggered_nix_test.go
Due: copyright, go-mod-tidy

fix(anomalydetection): add gazelle BUILD.bazel and CODEOWNERS for scorer
  .github/CODEOWNERS
  internal/qbranch/anomalydetection-scorer/BUILD.bazel
Due: none

Drop ineffective `pbgo` nuke loop from `tasks/protobuf.py` (#50983)
  tasks/protobuf.py
Due: protocol-buffer

Increase timeout for CodeQL Scan
  .gitlab/build/source_test/codeql_scan.yml
Due: shell-check-no-set-x, gitlab-configuration

fix(e2e): align detector choices and isolate log/metric paths
  test/new-e2e/tests/anomalydetection/anomalydetection_nix_test.go
Due: copyright, go-mod-tidy

fix(testwasher): skip blank lines in ResultJson.from_file to avoid JSONDecodeError
  tasks/libs/testing/result_json.py
Due: none

Document integration lab approach with E2E framework
  docs/dev/integration-labs-with-e2e-framework.md
Due: none

Migrate pkg/network/types
  BUILD.bazel
  pkg/network/types/BUILD.bazel
Due: none

Migrate cmd/trace-agent/config/remote
  BUILD.bazel
  cmd/trace-agent/config/remote/BUILD.bazel
Due: none

Migrate another bunch
  BUILD.bazel
  cmd/otel-agent/windows/controlsvc/BUILD.bazel
  cmd/secrethelper/BUILD.bazel
  cmd/secrethelper/providers/BUILD.bazel
  cmd/secrethelper/providers/file_test.go
  cmd/secrethelper/testdata/read-secrets-secret5-target
  cmd/secrethelper/testdata/read-secrets/secret1
  cmd/secrethelper/testdata/read-secrets/secret3
  cmd/secrethelper/testdata/read-secrets/secret4
  cmd/secrethelper/testdata/read-secrets/secret5
  cmd/secrethelper/testdata/read-secrets/secret6
  cmd/trace-agent/subcommands/config/BUILD.bazel
  comp/otelcol/dogtelextension/fx/BUILD.bazel
  pkg/clusteragent/clusterchecks/BUILD.bazel
  pkg/clusteragent/clusterchecks/types/BUILD.bazel
  pkg/logs/internal/decoder/BUILD.bazel
  pkg/logs/internal/decoder/preprocessor/BUILD.bazel
  pkg/security/agent/BUILD.bazel
  pkg/security/agent/mocks/BUILD.bazel
Due: copyright, go-mod-tidy

test(e2e): rewrite log-triggered test to use file-tailing instead of http_check
  test/new-e2e/tests/anomalydetection/anomalydetection_nix_test.go
Due: copyright, go-mod-tidy

reorder deps
  packages/agent/dependencies/BUILD.bazel
Due: none

[snmp] extract adaptive batch-size optimizer to pkg/snmp/batchsize
  pkg/snmp/batchsize/optimizer.go
  pkg/snmp/batchsize/optimizer_test.go
  pkg/snmp/batchsize/testhelpers.go
Due: copyright, go-mod-tidy

[snmp/fetch] compose batch-size optimizer holder from shared primitive
  pkg/collector/corechecks/snmp/internal/fetch/batch_size_optimizers.go
  pkg/collector/corechecks/snmp/internal/fetch/batch_size_optimizers_test.go
  pkg/collector/corechecks/snmp/internal/fetch/fetch_column.go
  pkg/collector/corechecks/snmp/internal/fetch/fetch_scalar.go
  pkg/collector/corechecks/snmp/internal/fetch/fetch_test.go
Due: copyright, go-mod-tidy

[snmpscan] make GetBulk max-repetitions configurable and adaptive
  cmd/agent/subcommands/snmp/command.go
  comp/snmpscan/def/component.go
  comp/snmpscan/impl/devicescan.go
  comp/snmpscan/impl/devicescan_test.go
Due: copyright, go-mod-tidy

chore(renovate): split linux-images updates into separate PRs for gitlab-ci and devcontainer
  renovate.json
Due: none

adding a configstream bootstrap
  cmd/system-probe/subcommands/run/command.go
  comp/core/config/config.go
  comp/core/config/params.go
  pkg/configstreambootstrap/bootstrap.go
  pkg/configstreambootstrap/bootstrap_test.go
Due: copyright, go-mod-tidy

[CXP-3539] process-agent: drive run() off the injected clock
  pkg/process/checks/process.go
  pkg/process/checks/process_test.go
Due: copyright, go-mod-tidy

don't assume that a module was loaded from memory just because we did not find a corresponding file
  pkg/security/probe/probe_ebpf.go
  pkg/security/tests/replay_test.go
  pkg/security/utils/proc_linux.go
  pkg/security/utils/proc_linux_test.go
Due: copyright, go-mod-tidy

fix(e2e): wrap Windows daemon args in single quotes for pwsh 7
  test/new-e2e/tests/fleet/backend/backend.go
Due: copyright, go-mod-tidy

register time_cluster.min_cluster_size default
  pkg/config/setup/common_settings.go
Due: copyright, go-mod-tidy

[PROF-14698] feat: enable option to launch ddprofiling on standalone
  comp/host-profiler/collector/impl/converters/converter_without_agent.go
  comp/host-profiler/collector/impl/converters/testdata/no_agent/rm-agent-ext/in.yaml
  comp/host-profiler/collector/impl/converters/testdata/no_agent/rm-agent-ext/out.yaml
  comp/host-profiler/collector/impl/otel_col_factories.go
  comp/otelcol/ddprofilingextension/impl/config.go
  comp/otelcol/ddprofilingextension/impl/extension.go
  comp/otelcol/ddprofilingextension/impl/extension_test.go
  comp/otelcol/ddprofilingextension/impl/factory.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

Applying feedback from PR review
  pkg/collector/corechecks/snmp/profile_lookup.go
  pkg/snmp/analyzer/analyzer.go
Due: copyright, go-mod-tidy

dogstatsd: add native columnar v3 serializer path
  pkg/aggregator/demultiplexer.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/direct_row_shadow.go
  pkg/aggregator/dogstatsd_columnar_v3.go
  pkg/aggregator/dogstatsd_columnar_v3_test.go
  pkg/aggregator/dogstatsd_pipeline_telemetry.go
  pkg/aggregator/tagset_telem.go
  pkg/metrics/series_row.go
  pkg/metrics/series_row_test.go
  pkg/serializer/internal/metrics/direct_sink.go
  pkg/serializer/internal/metrics/iterable_series.go
  pkg/serializer/internal/metrics/iterable_series_v3.go
  pkg/serializer/internal/metrics/iterable_series_v3_test.go
  pkg/serializer/internal/metrics/segment_shadow.go
  pkg/serializer/serializer.go
Due: copyright, go-mod-tidy

Use component to store last inventory report
  comp/networkconfigmanagement/def/component.go
  comp/networkconfigmanagement/impl/networkdeviceconfig.go
  comp/networkconfigmanagement/mock/mock.go
  pkg/collector/corechecks/networkconfigmanagement/networkconfigmanagement.go
  pkg/networkconfigmanagement/config/config.go
  pkg/networkconfigmanagement/config/config_test.go
  pkg/networkconfigmanagement/store/mem_store.go
  pkg/networkconfigmanagement/store/store.go
  pkg/networkconfigmanagement/store/store_test.go
  pkg/networkconfigmanagement/store/types.go
Due: copyright, go-mod-tidy

Remove pkgconfigsetup references from the diagnostic log package
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder.go
  comp/forwarder/eventplatform/eventplatformimpl/epforwarder_mock.go
  comp/forwarder/eventplatformreceiver/eventplatformreceiverimpl/BUILD.bazel
  comp/forwarder/eventplatformreceiver/eventplatformreceiverimpl/eventplatformreceiver.go
  comp/logs/agent/agentimpl/agent_core_init.go
  comp/logs/agent/agentimpl/agent_serverless_init.go
  comp/logs/agent/agentimpl/analyze_logs_init.go
  pkg/logs/diagnostic/BUILD.bazel
  pkg/logs/diagnostic/go.mod
  pkg/logs/diagnostic/message_receiver.go
  pkg/logs/diagnostic/message_receiver_test.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

add codeowners entry
  .github/CODEOWNERS
Due: none

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
