Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format

revive:
  name: revive
  description: revive
  entry: python3 tasks/git-hooks/revive.py
  language: system

govet:
  name: govet
  description: go vet
  entry: python3 tasks/git-hooks/govet.py
  language: system
  require_serial: true

copyright:
  name: copyright
  description: copyright headers
  entry: python3 tasks/git-hooks/copyright.py
  language: system
  require_serial: true

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 tasks/git-hooks/clang-format.py
  language: system
  require_serial: true

Fix proc containers import
  pkg/process/checks/process_rt.go
Due: revive, govet, copyright

remove unused SetTagsWithCardinality
  pkg/security/metrics/metrics.go
Due: revive, govet, copyright

move security telemetry
  pkg/compliance/agent.go
  pkg/security/agent/telemetry.go
  pkg/security/telemetry/telemetry.go
Due: revive, govet, copyright

Fix language detection
  pkg/languagedetection/internal/detectors/go_detector.go
Due: revive, govet, copyright

pr suggestion
  pkg/network/usm/ebpf_javatls.go
Due: revive, govet, copyright

Fixes
  pkg/network/state.go
Due: revive, govet, copyright

Add JRuby language detection (#18808)
  pkg/languagedetection/cli_detector.go
  pkg/languagedetection/detector_nix_test.go
  pkg/languagedetection/internal/detectors/jruby_detector.go
  releasenotes/notes/jruby-detection-ff54fa80eaa0a70e.yaml
Due: revive, govet, copyright

Rollback connection rollup changes
  pkg/network/ebpf/c/tracer/events.h
  pkg/network/ebpf/c/tracer/stats.h
  pkg/network/ebpf/c/tracer/tracer.h
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/event_common.go
  pkg/network/resolver.go
  pkg/network/state.go
  pkg/network/state_linux_test.go
  pkg/network/state_test.go
  pkg/network/tracer/connection/perf_batching.go
  pkg/network/tracer/connection/perf_batching_test.go
  pkg/network/tracer/connection/tracer.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_windows.go
Due: revive, govet, copyright, clang-format

Fix
  pkg/network/state.go
Due: revive, govet, copyright

Update releasenotes/notes/agent-diagnose-cmd-remote-7f95f8c7a9de15d6.yaml
  releasenotes/notes/agent-diagnose-cmd-remote-7f95f8c7a9de15d6.yaml
Due: none

Fetch config option from System Probe instead of regular Agent when creating flare (#18770)
  pkg/flare/archive.go
  pkg/flare/archive_linux.go
  releasenotes/notes/fix-bad-config-lookup-in-flare-b539979674b0a2fd.yaml
Due: revive, govet, copyright

Update hotspot.go
  pkg/network/protocols/tls/java/hotspot.go
Due: revive, govet, copyright

Fixed CR
  pkg/network/protocols/tls/java/hotspot.go
Due: revive, govet, copyright

add some logs in case of unexpected file format on Linux
  pkg/gohai/memory/memory_linux.go
Due: revive, govet, copyright

support batching from pa side as well
  cmd/system-probe/modules/network_tracer.go
  pkg/network/encoding/encoding.go
  pkg/process/checks/net.go
  pkg/process/net/common.go
Due: revive, govet, copyright

returned support for http batching
  pkg/process/checks/net.go
  pkg/process/checks/net_test.go
Due: revive, govet, copyright

wip
  pkg/process/checks/net.go
Due: revive, govet, copyright

Add a benchmark
  pkg/util/cgroups/cgroupv1_cpu_test.go
  pkg/util/cgroups/cgroupv1_memory_test.go
  pkg/util/cgroups/cgroupv2_cpu_test.go
  pkg/util/cgroups/cgroupv2_io_test.go
Due: revive, govet, copyright

Made system-probe compile
  pkg/network/ebpf/c/protocols/classification/dispatcher-helpers.h
  pkg/network/ebpf/c/protocols/classification/shared-tracer-maps.h
  pkg/network/ebpf/c/protocols/http/http.h
  pkg/network/ebpf/c/protocols/tls/https.h
  pkg/network/ebpf/c/protocols/tls/java/erpc_handlers.h
  pkg/network/ebpf/c/tracer/maps.h
  pkg/network/ebpf/kprobe_types_linux.go
  pkg/network/protocols/http/protocol.go
  pkg/network/protocols/types.go
Due: revive, govet, copyright, clang-format

create separate conn for main db
  release.json
Due: none

dbm-beta pin integrations-core
  release.json
Due: none

create separate conn for every thread
  release.json
Due: none

use main db conn for dynamic queries
  release.json
Due: none

update to newer version again
  release.json
Due: none

use pool of connection pools
  release.json
Due: none

update to newer version
  release.json
Due: none

Update comp/logs/agent/agent.go
  comp/logs/agent/agent.go
Due: revive, govet, copyright

[NDM] Preserve original requested metrics when autodetecting metrics. (#18648)
  pkg/collector/corechecks/snmp/internal/checkconfig/config.go
  pkg/collector/corechecks/snmp/internal/checkconfig/config_test.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck.go
  pkg/collector/corechecks/snmp/internal/devicecheck/devicecheck_test.go
Due: revive, govet, copyright

usm: javatls: Fix path creation (#18804)
  pkg/network/protocols/tls/java/hotspot.go
Due: revive, govet, copyright

[DDQA] Update @DataDog/agent-shared-components JIRA project ID (#18815)
  .ddqa/config.toml
Due: none

Fixing revert
  pkg/network/ebpf/c/protocols/classification/tracer-maps.h
  pkg/network/ebpf/c/tracer/maps.h
  pkg/network/ebpf/c/tracer/stats.h
Due: clang-format

Fixing revert
  pkg/network/ebpf/c/protocols/http/http.h
Due: clang-format

fix kv constant naming
  pkg/network/tracer/offsetguess/tracer.go
  pkg/network/tracer/tracer_linux_test.go
Due: revive, govet, copyright

Path conditions:
  revive: any of: \.go$
  govet: any of: \.go$
  copyright: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
