Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

Use OCI image digest in fleet extension install logic (#49621)
  pkg/fleet/installer/packages/extensions/db.go
  pkg/fleet/installer/packages/extensions/extensions.go
  pkg/fleet/installer/packages/extensions/extensions_digest_test.go
  pkg/fleet/installer/packages/extensions/extensions_test.go
Due: copyright, go-mod-tidy

[WP] Use Peek instead of Get when looking for SBOM (#49696)
  pkg/security/resolvers/sbom/resolver.go
Due: copyright, go-mod-tidy

[PROF-14204] lint
  MODULE.bazel.lock
Due: none

Use pipeline-built install_mac_os.sh in macOS install E2E
  .gitlab/deploy/e2e_testing_deploy/e2e_deploy.yml
  test/new-e2e/tests/agent-platform/install/install.go
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

more attempts at fixing config template
  pkg/config/config_template.yaml
  pkg/config/setup/apm.go
  tasks/schema/lint_exceptions.yaml
  tasks/schema/template.py
Due: copyright, go-mod-tidy, shell-check-no-set-x

Clean up install.MacOS shell command
  test/new-e2e/tests/agent-platform/install/install.go
Due: copyright, go-mod-tidy

[snmp] Add ExtractColumnSignature function for column-based filtering
  pkg/snmp/gosnmplib/column.go
  pkg/snmp/gosnmplib/column_test.go
Due: copyright, go-mod-tidy

macos: support DD_INFRASTRUCTURE_MODE at install time
  cmd/agent/macos/install_mac_os.sh
  omnibus/package-scripts/agent-dmg/postinst
  pkg/config/config_template.yaml
  releasenotes/notes/macos-install-infrastructure-mode-7200bc49066b4367.yaml
Due: shell-check-no-set-x

[snmp] Use GetBulk-based walk for device scan to prevent crashes and loops
  comp/snmpscan/impl/devicescan.go
  comp/snmpscan/impl/devicescan_test.go
Due: copyright, go-mod-tidy

bump rules_pkg commit to the most recent commit
  MODULE.bazel
Due: none

APM stats: add additional_metric_tags field and deprecate span_derived_primary_tags (#48912)
  comp/trace/config/impl/setup.go
  pkg/config/setup/apm.go
  pkg/proto/datadog/trace/stats.proto
  pkg/proto/pbgo/trace/stats.pb.go
  pkg/proto/pbgo/trace/stats_gen.go
  pkg/proto/pbgo/trace/stats_vtproto.pb.go
  pkg/trace/config/config.go
  pkg/trace/config/config_test.go
  pkg/trace/stats/aggregation.go
  pkg/trace/stats/aggregation_test.go
  pkg/trace/stats/client_stats_aggregator.go
  pkg/trace/stats/client_stats_aggregator_test.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/span_concentrator.go
  pkg/trace/stats/statsraw.go
  releasenotes/notes/apm-add-additional-metric-tags-71d0551664290b2d.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x, protocol-buffer

Small fixes found by opus
  cmd/serverless-init/cloudservice/cloudrun_jobs.go
  cmd/serverless-init/trace/span_modifier.go
  cmd/serverless-init/trace/span_modifier_test.go
  pkg/proto/pbgo/trace/idx/internal_span.go
  pkg/proto/pbgo/trace/idx/internal_span_test.go
  pkg/proto/pbgo/trace/idx/tracer_payload.go
  pkg/proto/pbgo/trace/idx/tracer_payload_test.go
  pkg/trace/agent/agent.go
  pkg/trace/agent/obfuscate.go
  pkg/trace/agent/obfuscate_test.go
  pkg/trace/api/api.go
  pkg/trace/api/fuzz_test.go
  pkg/trace/stats/concentrator.go
  pkg/trace/stats/concentrator_test.go
  pkg/trace/traceutil/processed_trace.go
  pkg/trace/writer/tracev1.go
Due: copyright, go-mod-tidy

[snmp] Add comparison mode to run both scan methods for testing
  comp/snmpscan/impl/devicescan.go
Due: copyright, go-mod-tidy

more cleanups
  pkg/trace/agent/agent.go
Due: copyright, go-mod-tidy

config: quote infrastructure_mode default in template
  pkg/config/config_template.yaml
Due: shell-check-no-set-x

set optimization goal to memory
  test/regression/cases/quality_gate_security_idle/experiment.yaml
  test/regression/cases/quality_gate_security_mean_fs_load/experiment.yaml
  test/regression/cases/quality_gate_security_no_fs_load/experiment.yaml
Due: shell-check-no-set-x

Read and set templateMetadata from new field in schema
  pkg/clusteragent/autoscaling/cluster/model/node_pool_internal.go
  pkg/clusteragent/autoscaling/cluster/model/rc_schema.go
Due: copyright, go-mod-tidy

Update tests
  pkg/clusteragent/autoscaling/cluster/model/node_pool_internal_test.go
Due: copyright, go-mod-tidy

updating template tags + minor fixes
  cmd/agent/dist/assets/windows_certificate/spec.yaml
  cmd/agent/dist/conf.d/windows_certificate.d/conf.yaml.example
  pkg/collector/corechecks/system/windowscertificate/windows_certificate.go
  pkg/collector/corechecks/system/windowscertificate/windows_certificate_tags_test.go
  pkg/collector/corechecks/system/windowscertificate/windows_certificate_util.go
  pkg/util/winutil/wincrypt.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

add dep to bazel
  pkg/trace/payload/BUILD.bazel
Due: none

[aggregator] Canonicalize options.BucketSize so Options() matches runtime
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_agent_test.go
Due: copyright, go-mod-tidy

[aggregator] Decouple no-agg pipeline from configurable bucket size
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_agent_test.go
  pkg/aggregator/no_aggregation_stream_worker.go
Due: copyright, go-mod-tidy

[aggregator] Pin no-agg Interval and rate normalization in existing test
  pkg/aggregator/demultiplexer_agent_test.go
Due: copyright, go-mod-tidy

[aggregator] Make DogStatsD bucket size configurable
  pkg/aggregator/aggregator.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_agent_test.go
  pkg/aggregator/demultiplexer_serverless.go
  pkg/aggregator/no_aggregation_stream_worker.go
  pkg/aggregator/time_sampler.go
  pkg/aggregator/time_sampler_test.go
  pkg/config/setup/common_settings.go
Due: copyright, go-mod-tidy

updating signature and SAN tags
  cmd/agent/dist/assets/windows_certificate/spec.yaml
  cmd/agent/dist/conf.d/windows_certificate.d/conf.yaml.example
  pkg/collector/corechecks/system/windowscertificate/windows_certificate_tags_test.go
  pkg/collector/corechecks/system/windowscertificate/windows_certificate_util.go
Due: copyright, go-mod-tidy, shell-check-no-set-x

more limit adjustments
  test/regression/cases/quality_gate_security_mean_fs_load/experiment.yaml
  test/regression/cases/quality_gate_security_no_fs_load/experiment.yaml
Due: shell-check-no-set-x

Add release note for windows_certificate additional tags
  releasenotes/notes/windows-certificate-additional-tags-f6acbe1a30d83228.yaml
Due: shell-check-no-set-x

Revert default gRPC max message size to 4 MB
  pkg/config/setup/common_settings.go
  releasenotes/notes/update-grpc-max-size-ef3375a28e937035.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

update azure container apps metric prefix to azure.app_containerapps
  cmd/serverless-init/cloudservice/containerapp.go
Due: copyright, go-mod-tidy

[observer/testbench] Classify log-derived metric anomalies as log anomalies
  comp/observer/impl/testbench.go
Due: copyright, go-mod-tidy

Fix logonduration Directory Deletion (#49427)
  test/new-e2e/tests/windows/install-test/autologger_test.go
  tools/windows/DatadogAgentInstaller/CustomActions/AutoLoggerCustomAction.cs
Due: copyright, go-mod-tidy

[observer] Tag log-derived anomalies with AnomalyTypeLog (#49739)
  comp/observer/impl/testbench.go
Due: copyright, go-mod-tidy

[CNM] Improve reliability of TestTCPRecoveryCount using multiple netem configs.
  pkg/network/tracer/tracer_linux_test.go
Due: copyright, go-mod-tidy

coordinator: panel-review fixes — brittleness, SRE, scientist, maximalist
  tasks/coordinator/QUICKSTART.md
  tasks/coordinator/README.md
  tasks/coordinator/config.py
  tasks/coordinator/driver.py
  tasks/coordinator/git_ops.py
  tasks/coordinator/proposer.py
  tasks/coordinator/reviewer.py
  tasks/coordinator/schema.py
  tasks/coordinator/scoring.py
  tasks/coordinator/sdk.py
  tasks/coordinator/seed_candidates.py
  tasks/coordinator/tests/test_new_additions.py
  tasks/coordinator/tests/test_proposer.py
Due: none

adjust quality gate limits
  test/regression/cases/quality_gate_idle/experiment.yaml
  test/regression/cases/quality_gate_idle_all_features/experiment.yaml
  test/regression/cases/quality_gate_logs/experiment.yaml
  test/regression/cases/quality_gate_metrics_logs/experiment.yaml
Due: shell-check-no-set-x

[observer/logssource] Remove debug logs from file launcher
  pkg/logs/launchers/file/launcher.go
Due: copyright, go-mod-tidy

fixing lint errors
  pkg/collector/corechecks/system/windowscertificate/windows_certificate_tags_test.go
Due: copyright, go-mod-tidy

Add graphify-out from cmd/otel-agent and comp/otelcol
  .gitignore
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
Due: none

more cpu bounds adjustments (more loose)
  test/regression/cases/quality_gate_security_idle/experiment.yaml
  test/regression/cases/quality_gate_security_mean_fs_load/experiment.yaml
  test/regression/cases/quality_gate_security_no_fs_load/experiment.yaml
Due: shell-check-no-set-x

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
