Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
- repo: https://github.com/pycqa/flake8
  rev: 3.9.2 # should match major Python version
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear==21.11.28
        - flake8-comprehensions==3.7.0
        - flake8-unused-arguments==0.0.6
        - flake8-use-fstring==1.3.0
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
- repo: https://github.com/timothycrosley/isort/
  rev: 5.12.0
  hooks:
    - id: isort
- repo: https://github.com/jendrikseipp/vulture
  rev: v2.3
  hooks:
    - id: vulture
      args: ["--ignore-decorators", "@task", "--ignore-names", "test_*,Test*", "tasks"]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 2.1.5
  hooks:
    - id: shellcheck
      args: ["--severity=info", "-e", "SC2059", "-e", "SC2028"]
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
    - id: go-fmt
      args: [ "-w", "-s" ]
- repo: local
  hooks:
    - id: protected-branches
      name: protected-branches
      description: checks that the commit isn't created on a protected branch
      entry: 'python3 tasks/git-hooks/protected-branches.py'
      language: system
    - id: revive
      name: revive
      description: revive
      entry: 'python3 tasks/git-hooks/revive.py'
      language: system
      files: \.go$
    - id: govet
      name: govet
      description: go vet
      entry: 'python3 tasks/git-hooks/govet.py'
      language: system
      require_serial: true
      files: \.go$
    - id: copyright
      name: copyright
      description: copyright headers
      entry: 'python3 tasks/git-hooks/copyright.py'
      language: system
      require_serial: true
      files: \.go$
    - id: win-clang-format
      name: win-clang-format
      description: clang-format
      entry: './tasks/git-hooks/wincpplang.py'
      language: system
      types_or: [c, c++, c#]
    - id: clang-format
      name: clang-format
      description: clang-format
      entry: 'python3 tasks/git-hooks/clang-format.py'
      language: system
      require_serial: true
      files: '^pkg/(ebpf|network|security)/.*\.(c|h)$'
      exclude: '^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$'

7.50.0 changelog (#21591)
  CHANGELOG-DCA.rst
  CHANGELOG.rst
  releasenotes/notes/process-agent-improve-parse-stat-content-allocations-8c6fd48fb63649f1.yaml
Due: none

Fix Heroku agent install script job for debian and ubuntu
  .gitlab/new-e2e_testing/debian.yml
  .gitlab/new-e2e_testing/ubuntu.yml
Due: none

usm: http2: Change frame idx and count to u16 (#21641)
  pkg/network/ebpf/c/protocols/http2/decoding-defs.h
  pkg/network/ebpf/c/protocols/http2/decoding.h
Due: clang-format

Resolve conflicts
  .gitlab/new-e2e_common/testing.yml
Due: none

usm: http2: Split http2_frame_parser to http2_headers_parser and http2_eos_praser
  pkg/network/ebpf/c/protocols/classification/defs.h
  pkg/network/ebpf/c/protocols/http2/decoding-defs.h
  pkg/network/ebpf/c/protocols/http2/decoding.h
  pkg/network/protocols/ebpf.go
  pkg/network/protocols/http2/protocol.go
Due: revive, govet, copyright, clang-format

fixup! Remove ContainerIDForInodeRetriever with AgentSidecar
  pkg/util/containers/metrics/system/collector_linux.go
Due: revive, govet, copyright

[dogstatsd] Add inode origin detection
  comp/dogstatsd/server/parse.go
  pkg/util/containers/metrics/provider/collector.go
  pkg/util/containers/metrics/provider/collector_cache.go
  pkg/util/containers/metrics/provider/collector_types.go
  pkg/util/containers/metrics/provider/metacollector.go
  pkg/util/containers/metrics/system/collector_linux.go
Due: revive, govet, copyright

fixup! [dogstatsd] Add inode origin detection
  comp/dogstatsd/server/parse.go
Due: revive, govet, copyright

[CWS] do not report internal policies
  pkg/config/system_probe_cws.go
  pkg/security/config/config.go
  pkg/security/probe/selftests/tester_linux.go
  pkg/security/probe/selftests/tester_others.go
  pkg/security/rules/bundled_policy_provider.go
  pkg/security/rules/engine.go
  pkg/security/rules/monitor/policy_monitor.go
  pkg/security/secl/rules/policy.go
Due: revive, govet, copyright

post-rebase refactoring
  pkg/security/rules/engine.go
  pkg/security/rules/monitor/policy_monitor.go
Due: revive, govet, copyright

rename include_internal_policies to report_internal_policies
  pkg/security/config/config.go
  pkg/security/rules/engine.go
Due: revive, govet, copyright

fix BindEnvAndSetDefault
  pkg/config/system_probe_cws.go
Due: revive, govet, copyright

fix rules_status metric
  pkg/security/rules/monitor/policy_monitor.go
Due: revive, govet, copyright

fix PR comments
  cmd/system-probe/modules/network_tracer.go
  pkg/network/protocols/grpc/monitor_test.go
  pkg/network/tracer/connection/dump.go
  pkg/network/tracer/tracer.go
Due: revive, govet, copyright

Address feedback
  comp/logs/agent/component.go
  comp/logs/agent/mock.go
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks.go
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks_test.go
  pkg/logs/internal/status/status.go
Due: revive, govet, copyright

go-ora 2.80.1
  go.mod
  go.sum
  releasenotes/notes/oracle-go-ora-2.81-9d9ad3b1c6f9904f.yaml
Due: none

[e2e] migrate snmp testsuite (#21505)
  test/new-e2e/tests/ndm/snmp/compose/snmpCompose.yaml
  test/new-e2e/tests/ndm/snmp/snmp_test.go
Due: revive, govet, copyright

Test case adjustments
  pkg/collector/corechecks/oracle-dbm/oracle_test.go
Due: revive, govet, copyright

Allow excluding checks from advanced dispatching (#21552)
  pkg/clusteragent/clusterchecks/dispatcher_main.go
  pkg/clusteragent/clusterchecks/dispatcher_nodes.go
  pkg/clusteragent/clusterchecks/dispatcher_rebalance.go
  pkg/config/config.go
Due: revive, govet, copyright

Remove ability to mock cpu count
  pkg/util/system/cpu_mock.go
  pkg/util/system/cpu_test.go
Due: revive, govet, copyright

[CWS] add ability to filter rules based on envs (#21603)
  pkg/security/rules/engine.go
  pkg/security/rules/rule_filters_model.go
  pkg/security/rules/rule_filters_model_linux.go
  pkg/security/rules/rule_filters_model_other.go
Due: revive, govet, copyright

Bump s6-overlay to latest v2 version (#21065)
  Dockerfiles/agent/Dockerfile
  Dockerfiles/agent/s6.amd64.sha256
  Dockerfiles/agent/s6.arm64.sha256
  releasenotes/notes/bump-s6-overlay-a4fa7ecd845fe093.yaml
  tasks/agent.py
Due: none

Update pkg/network/tracer/tracer_windows.go
  pkg/network/tracer/tracer_windows.go
Due: revive, govet, copyright

bump ebpf-manager version
  go.mod
  go.sum
Due: none

Update pkg/network/tracer/tracer_unsupported.go
  pkg/network/tracer/tracer_unsupported.go
Due: revive, govet, copyright

Update pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer.go
Due: revive, govet, copyright

Allow configuring check cancel timeout (#21543)
  cmd/agent/common/loader.go
  pkg/collector/collector.go
  pkg/collector/collector_demux_test.go
  pkg/collector/collector_test.go
  pkg/config/config.go
Due: revive, govet, copyright

[CSPM] Detect K8s managed environment via node-labels
  pkg/compliance/agent.go
  pkg/compliance/data.go
  pkg/compliance/k8sconfig/loader.go
Due: revive, govet, copyright

Remove verbose from gotestsum for intsall script test for readability (#21620)
  .gitlab/new-e2e_common/testing.yml
Due: none

Add extra fields
  comp/metadata/internal/util/inventory_payload.go
  comp/metadata/inventorychecks/README.md
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks.go
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks_test.go
Due: revive, govet, copyright

aggregator: refactor new metrics
  pkg/aggregator/aggregator.go
  pkg/aggregator/check_sampler.go
  pkg/aggregator/context_resolver.go
  pkg/aggregator/context_resolver_bench_test.go
  pkg/aggregator/context_resolver_debug.go
  pkg/aggregator/context_resolver_test.go
  pkg/aggregator/internal/tags/store.go
  pkg/aggregator/time_sampler.go
  pkg/util/size.go
Due: revive, govet, copyright

Update kmt.py
  tasks/kmt.py
Due: none

[CWS] use time unit in retry timeout
  pkg/security/tests/eventmonitor_test.go
Due: revive, govet, copyright

Remove metrics pattern from Windows Registry config (#21570)
  cmd/agent/dist/conf.d/windows_registry.d/conf.yaml.example
Due: none

Fix CI
  comp/metadata/inventorychecks/inventorychecksimpl/inventorychecks.go
Due: revive, govet, copyright

Adding notification system to the configuration
  pkg/config/model/types.go
  pkg/config/model/viper.go
  pkg/config/model/viper_test.go
Due: revive, govet, copyright

Leveraging the configuration notifications to refresh inventoryagent
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/settings.go
  cmd/cluster-agent/subcommands/start/command.go
  cmd/security-agent/subcommands/start/command.go
  comp/metadata/inventoryagent/component.go
  comp/metadata/inventoryagent/inventoryagent.go
  comp/metadata/inventoryagent/inventoryagent_test.go
  comp/process/apiserver/apiserver.go
  pkg/config/settings/runtime_setting_log_level.go
Due: revive, govet, copyright
