Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: revive, govet, copyright, clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

revive:
  name: revive
  description: revive
  entry: python3 tasks/git-hooks/revive.py
  language: system

govet:
  name: govet
  description: go vet
  entry: python3 tasks/git-hooks/govet.py
  language: system
  require_serial: true

copyright:
  name: copyright
  description: copyright headers
  entry: python3 -m tasks.git-hooks.copyright
  language: system
  require_serial: true

clang-format:
  name: clang-format
  description: clang-format
  entry: python3 tasks/git-hooks/clang-format.py
  language: system
  require_serial: true

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: python3 -m tasks.git-hooks.go-mod-tidy
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: inv pre-commit.shell-check-no-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: test the gitlab configuration on main
  entry: inv linter.gitlab-ci -t main
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

Fix tests
  pkg/network/encoding/encoding_test.go
Due: revive, govet, copyright, go-mod-tidy

lint
  pkg/fleet/installer/service/apm_inject.go
Due: revive, govet, copyright, go-mod-tidy

bump minimum supported kernel version for protocol classification
  pkg/network/tracer/connection/kprobe/tracer.go
Due: revive, govet, copyright, go-mod-tidy

fix(ci): Fix once again the tgz name (#25780)
  .gitlab/kitchen_testing/testing.yml
Due: shell-check-no-set-x, gitlab-configuration

fix(git): Prevent keywords masking some file patterns (#25781)
  .gitignore
Due: none

[CWS] fix dentry resolver close munmap (#25789)
  pkg/security/resolvers/dentry/resolver.go
Due: revive, govet, copyright, go-mod-tidy

[CWS] ptracer: fix missing file close (#25788)
  pkg/security/ptracer/utils.go
Due: revive, govet, copyright, go-mod-tidy

[CWS] default `use_secruntime_track` to true (#25787)
  pkg/config/setup/config.go
Due: revive, govet, copyright, go-mod-tidy

Bump the Circleci build immage (#25790)
  .circleci/config.yml
Due: shell-check-no-set-x

add dd connector
  comp/otelcol/collector-contrib/impl/collectorcontrib.go
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  go.mod
  go.sum
Due: revive, govet, copyright, go-mod-tidy

pkg/trace: add new Ticker package which executes tasks at intervals
  pkg/trace/agent/agent.go
  pkg/trace/agent/agent_test.go
  pkg/trace/stats/concentrator.go
Due: revive, govet, copyright, go-mod-tidy

WIP
  pkg/collector/corechecks/oracle/activity.go
  pkg/collector/corechecks/oracle/activity_queries.go
  pkg/collector/corechecks/oracle/oracle.go
Due: revive, govet, copyright, go-mod-tidy

add ticker
  pkg/trace/ticker/ticker.go
  pkg/trace/ticker/ticker_test.go
Due: revive, govet, copyright, go-mod-tidy

Release note
  releasenotes/notes/oracle-sql-substring-length-f2a2dd52b005d0a2.yaml
Due: shell-check-no-set-x

pkg/trace/agent: improve perf of CC Obfuscator
  pkg/obfuscate/credit_cards.go
  pkg/trace/agent/obfuscate.go
  pkg/trace/agent/obfuscate_test.go
Due: revive, govet, copyright, go-mod-tidy

Refactor to tag multiple entities
  comp/otelcol/otlp/components/processor/infraattributesprocessor/metrics.go
  comp/otelcol/otlp/components/processor/infraattributesprocessor/metrics_test.go
  go.mod
Due: revive, govet, copyright, go-mod-tidy

Rename
  comp/otelcol/otlp/components/processor/infraattributesprocessor/factory.go
  comp/otelcol/otlp/components/processor/infraattributesprocessor/logs.go
  comp/otelcol/otlp/components/processor/infraattributesprocessor/metadata.go
  comp/otelcol/otlp/components/processor/infraattributesprocessor/metrics.go
  comp/otelcol/otlp/components/processor/infraattributesprocessor/traces.go
Due: revive, govet, copyright, go-mod-tidy

improve `TestProcessMetadata/credentials`
  pkg/security/tests/process_test.go
Due: revive, govet, copyright, go-mod-tidy

start docker wrapper in TestContainerCreatedAt
  pkg/security/tests/container_test.go
Due: revive, govet, copyright, go-mod-tidy

fix process resolution wait
  pkg/security/tests/process_test.go
Due: revive, govet, copyright, go-mod-tidy

Fix tests
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/unmarshal/json.go
Due: revive, govet, copyright, go-mod-tidy

Fix
  pkg/collector/corechecks/oracle/activity.go
Due: revive, govet, copyright, go-mod-tidy

bpf_probe_read_str is defined after v4.11.0
  pkg/ebpf/c/bpf_cross_compile.h
Due: clang-format

close file
  pkg/serverless/logs/logs_test.go
Due: revive, govet, copyright, go-mod-tidy

fix refuse test
  pkg/network/ebpf/c/tracer.c
  pkg/network/tracer/connection/failure/matching.go
  pkg/network/tracer/tracer.go
  pkg/network/tracer/tracer_linux_test.go
  pkg/network/tracer/tracer_test.go
Due: revive, govet, copyright, clang-format, go-mod-tidy

Mark k8s test as flaky (#25785)
  test/new-e2e/tests/agent-metric-logs/log-agent/k8s-logs/file_tailing_test.go
Due: revive, govet, copyright, go-mod-tidy

4.9 verifier is not sophisticated enough to eliminate deadcode
  pkg/collector/corechecks/ebpf/c/runtime/cgroup.h
  pkg/collector/corechecks/ebpf/c/runtime/oom-kill-kern.c
  pkg/ebpf/c/bpf_cross_compile.h
Due: clang-format

fix test import
  pkg/network/tracer/tracer_linux_test.go
Due: revive, govet, copyright, go-mod-tidy

pkg/trace/writer: reduce sender count and improve retry
  pkg/trace/writer/sender.go
  pkg/trace/writer/stats.go
  pkg/trace/writer/trace.go
Due: revive, govet, copyright, go-mod-tidy

cleanup
  pkg/trace/writer/sender.go
Due: revive, govet, copyright, go-mod-tidy

fix flakyness on reset test
  pkg/network/tracer/tracer_linux_test.go
Due: revive, govet, copyright, go-mod-tidy

update service discovery with latest service naming code. Also properly build name with additional names.
  comp/otelcol/otlp/components/pipeline/provider/go.mod
  pkg/collector/corechecks/servicediscovery/impl_linux.go
  pkg/collector/corechecks/servicediscovery/service_detector.go
  pkg/collector/corechecks/servicediscovery/usm/java.go
  pkg/collector/corechecks/servicediscovery/usm/service.go
  pkg/collector/corechecks/servicediscovery/usm/service_test.go
  pkg/collector/corechecks/servicediscovery/usm/spring_test.go
  pkg/collector/corechecks/servicediscovery/usm/tomcat.go
Due: revive, govet, copyright, go-mod-tidy

[NPM-3384] Add CCMEnabled config (#25758)
  cmd/system-probe/config/config.go
  cmd/system-probe/config/config_linux_test.go
  cmd/system-probe/config/ns.go
  go.mod
  go.sum
  pkg/config/setup/system_probe.go
  pkg/network/encoding/encoding_test.go
  pkg/network/encoding/marshal/modeler.go
  pkg/network/encoding/unmarshal/json.go
Due: revive, govet, copyright, go-mod-tidy

Temp update mapping go attributes
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.sum
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.mod
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.sum
  comp/otelcol/otlp/components/exporter/serializerexporter/go.mod
  comp/otelcol/otlp/components/exporter/serializerexporter/go.sum
  comp/otelcol/otlp/components/pipeline/provider/go.mod
  go.mod
  go.sum
Due: go-mod-tidy

send CPU enhanced metrics
  go.mod
  pkg/serverless/metrics/enhanced_metrics.go
  pkg/serverless/metrics/enhanced_metrics_test.go
  pkg/serverless/proc/proc.go
  pkg/serverless/proc/proc_test.go
  pkg/serverless/proc/testData/invalid_stat_non_numerical_value
  pkg/serverless/proc/testData/invalid_stat_wrong_number_columns
  pkg/serverless/proc/testData/valid_stat
  pkg/serverless/serverless.go
Due: revive, govet, copyright, go-mod-tidy

kill process PoC
  cmd/process-agent/command/main_common.go
Due: revive, govet, copyright, go-mod-tidy

Path conditions:
  revive: any of: \.go$
  govet: any of: \.go$
  copyright: any of: \.go$
  clang-format: any of: ^pkg/(ebpf|network|security)/.*\.(c|h)$, but not: ^pkg/ebpf/(c/bpf_endian|c/bpf_helpers|compiler/clang-stdarg).h$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
