Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

[AMCC-158]dogstatsd workers share filterlist matcher (#43232)
  comp/dogstatsd/server/server.go
  pkg/aggregator/aggregator.go
  pkg/aggregator/demultiplexer.go
  pkg/aggregator/demultiplexer_agent.go
  pkg/aggregator/demultiplexer_serverless.go
  pkg/aggregator/time_sampler_worker.go
Due: copyright, go-mod-tidy

add DD_INSTALL_ONLY flag to MSI (#43250)
  .gitlab/e2e_install_packages/windows.yml
  releasenotes/notes/windows-msi-dd-install-only-flag-3d53b89e59c35e88.yaml
  test/new-e2e/tests/windows/common/agent/agent_install_params.go
  test/new-e2e/tests/windows/install-test/install_test.go
  tools/windows/DatadogAgentInstaller/CustomActions/ServiceCustomAction.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog Agent/AgentCustomActions.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog Agent/AgentInstaller.cs
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

refactor to `agent_restart.go`
  comp/logs/agent/agentimpl/agent.go
  comp/logs/agent/agentimpl/agent_restart.go
Due: copyright, go-mod-tidy

`tests_nodetreemodel`: fix `TestConfigAssignAtPathForIntMapKeys` failure (#43259)
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

[CWS] Recover panic when getting variable instances (#43284)
  pkg/security/rules/engine.go
Due: copyright, go-mod-tidy

add image resolver config type
  pkg/clusteragent/admission/mutate/autoinstrumentation/image_resolver.go
  pkg/clusteragent/admission/mutate/autoinstrumentation/imageresolver/config.go
Due: copyright, go-mod-tidy

Bump windows image (#43281)
  .gitlab-ci.yml
  MODULE.bazel
Due: shell-check-no-set-x, gitlab-configuration

`tests_flavor_dogstatsd_linux-x64`: fix flaky `TestSignalForwarding` (#43280)
  pkg/security/ptracer/ptracer_test.go
Due: copyright, go-mod-tidy

Enable retry on rate limit errors in Datadog API client calls
  tasks/libs/common/datadog_api.py
  tasks/libs/notify/jira_failing_tests.py
  tasks/macos.py
Due: none

Fix e2e tests for default APM Mode to expect absence of apm mode tag
  test/new-e2e/tests/apm/docker_test.go
  test/new-e2e/tests/apm/tests.go
  test/new-e2e/tests/apm/vm_test.go
Due: copyright, go-mod-tidy

Update compliance/gather_licenses.py
  compliance/gather_licenses.py
Due: none

remove nettop (#43253)
  pkg/network/event_common.go
  pkg/network/nettop/main.go
  pkg/network/nettop/readme.md
Due: copyright, go-mod-tidy

[CSPM] refactor compliance load command into pkg/compliance/cli (#43223)
  cmd/security-agent/subcommands/compliance/command.go
  cmd/security-agent/subcommands/compliance/command_test.go
  pkg/compliance/cli/load.go
Due: copyright, go-mod-tidy

Update and prevent `MODULE.bazel.lock` file from diverging again (#40394)
  .gitlab/bazel/lint.yaml
  MODULE.bazel
  MODULE.bazel.lock
  bazel/README.md
  bazel/patches/gcc-toolchain/0000-fix-no-repository-visible-as-@.patch
Due: shell-check-no-set-x

dockerfiles: agent: don't install recommended packages (#43263)
  Dockerfiles/agent/Dockerfile
Due: shell-check-no-set-x

[FA] Add a way to disable client ID check (#43236)
  pkg/fleet/daemon/daemon.go
  pkg/fleet/daemon/daemon_test.go
Due: copyright, go-mod-tidy

[KXP] Collect Kubernetes manifests from the OTLP logs exporter (#42786)
  comp/otelcol/ddflareextension/impl/go.mod
  comp/otelcol/otlp/components/connector/datadogconnector/go.mod
  comp/otelcol/otlp/components/exporter/datadogexporter/go.mod
  comp/otelcol/otlp/components/exporter/logsagentexporter/factory.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.mod
  comp/otelcol/otlp/components/exporter/logsagentexporter/go.sum
  comp/otelcol/otlp/components/exporter/logsagentexporter/logs_exporter.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/orchestrator_exporter.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/orchestrator_exporter_test.go
  go.mod
  releasenotes/notes/otel-k8s-8a66727338812f48.yaml
  test/otel/go.mod
  test/otel/go.sum
Due: copyright, go-mod-tidy, shell-check-no-set-x, check-go-modules-in-python, protocol-buffer

[CODEOWNERS] Update container-app to kubernetes-experiences (#42645)
  .ddqa/config.toml
  .github/CODEOWNERS
  .gitlab/e2e/e2e.yml
  comp/README.md
  comp/forwarder/orchestrator/component.go
  tasks/libs/pipeline/github_jira_map.yaml
  tasks/libs/pipeline/github_slack_map.yaml
  tasks/libs/pipeline/github_slack_review_map.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x, gitlab-configuration

More aggressive retry strategy for all the jobs (#43124)
  .gitlab/e2e/e2e.yml
  .gitlab/lint/linux.yml
  .gitlab/lint/technical_linters.yml
  .gitlab/source_test/ebpf.yml
  .gitlab/source_test/linux.yml
Due: shell-check-no-set-x, gitlab-configuration

[USM] Enforce Redis support for kernel 5.4 and above (#43174)
  comp/metadata/inventoryagent/inventoryagentimpl/inventoryagent_test.go
  pkg/network/config/usm_config_test.go
  pkg/network/protocols/redis/kernel_requirements.go
  pkg/network/protocols/redis/protocol.go
  pkg/network/usm/monitor_test.go
  pkg/network/usm/monitor_testutil.go
  pkg/network/usm/redis_monitor_test.go
  pkg/network/usm/tests/tracer_usm_linux_test.go
  pkg/network/usm/usm_http2_monitor_test.go
  pkg/system-probe/config/adjust_usm.go
  pkg/system-probe/config/config_darwin.go
  pkg/system-probe/config/config_linux.go
  pkg/system-probe/config/config_linux_bpf.go
  pkg/system-probe/config/config_linux_bpf_test.go
  pkg/system-probe/config/config_unsupported.go
  pkg/system-probe/config/config_windows.go
Due: copyright, go-mod-tidy

[EBPF-931] gpu: emit high cardinality tags for Docker containers (#43189)
  pkg/collector/corechecks/gpu/gpu.go
  pkg/collector/corechecks/gpu/gpu_test.go
  pkg/collector/corechecks/gpu/tags.go
  pkg/collector/corechecks/gpu/tags_test.go
Due: copyright, go-mod-tidy

[OTAGENT-671] remove deprecated otel ecstaskobserver extension (#43247)
  LICENSE-3rdparty.csv
  comp/otelcol/collector-contrib/impl/components.go
  comp/otelcol/collector-contrib/impl/go.mod
  comp/otelcol/collector-contrib/impl/go.sum
  comp/otelcol/collector-contrib/impl/manifest.yaml
  go.mod
  go.sum
  releasenotes/notes/ddot-remove-ecs-ext-210addd77b5.yaml
  tasks/unit_tests/testdata/collector/valid_datadog_manifest.yaml
  test/otel/testdata/builder-config.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x, check-go-modules-in-python, protocol-buffer

[chore] replace deprecated golang.org/x/net/context (#43248)
  pkg/security/probe/selftests/ebpfless.go
  pkg/security/probe/selftests/open_registry_key_windows.go
Due: copyright, go-mod-tidy

Gate ADP checks in E2E install script tests to only run for regular Agent build flavor. (#43276)
  test/new-e2e/tests/agent-platform/install-script/install_script_test.go
Due: copyright, go-mod-tidy

[EBPF-903] gpu: refresh agent PID on cgroup reapplication (#43216)
  cmd/system-probe/modules/gpu.go
  pkg/gpu/cgroups.go
Due: copyright, go-mod-tidy

discovery: Report tracer tags separately (#42976)
  comp/core/tagger/collectors/workloadmeta_extract.go
  comp/core/tagger/collectors/workloadmeta_test.go
  pkg/discovery/tracermetadata/tracer_memfd.go
  pkg/discovery/tracermetadata/tracer_memfd_test.go
  pkg/discovery/tracermetadata/tracer_metadata.go
  pkg/discovery/tracermetadata/tracer_metadata_test.go
  pkg/network/events/monitor.go
  pkg/network/events/monitor_linux.go
  pkg/network/events/monitor_test.go
  pkg/network/events/monitor_windows.go
  pkg/security/tests/tracer_memfd_test.go
Due: copyright, go-mod-tidy

[ABLD-238] Move omnibus builds of libpcap to the bazel rule (#43230)
  deps/libpcap/overlay/overlay.BUILD.bazel
  omnibus/config/software/libpcap.rb
Due: none

`tests_windows-x64`: fix unclosed channel in `TestRunnerRealtime` (#43242)
  comp/process/runner/runnerimpl/runner_test.go
Due: copyright, go-mod-tidy

Add e2e tests for vm and docker that set APM Mode via config file and env var, respectively
  test/new-e2e/tests/apm/docker_test.go
  test/new-e2e/tests/apm/vm_test.go
Due: copyright, go-mod-tidy

bump rules_pkg and try again
  MODULE.bazel
  omnibus/config/software/datadog-agent.rb
Due: none

adjusting for test failures
  test/new-e2e/tests/installer/windows/suites/agent-package/config_test.go
Due: copyright, go-mod-tidy

CI + reno
  releasenotes/notes/add-generic-transform-methods-ef699bef7e4b8a65.yaml
  tasks/linter.py
Due: shell-check-no-set-x

Modify hacky_dev_image_build to copy ebpf assets when building system-probe.
  tasks/agent.py
Due: none

[SMP] Add debug_dashboard link template to SMP reports (#43288)
  test/regression/config.yaml
Due: shell-check-no-set-x

Clean up SSH config logic when creating new NCM check context
  pkg/collector/corechecks/networkconfigmanagement/networkconfigmanagement_test.go
  pkg/networkconfigmanagement/config/config.go
  pkg/networkconfigmanagement/config/config_test.go
  pkg/networkconfigmanagement/remote/ssh.go
Due: copyright, go-mod-tidy

remove memory allocations
  pkg/network/containers/container_item_linux.go
  pkg/network/containers/container_store_linux.go
Due: copyright, go-mod-tidy

try as a span
  .gitlab/bazel/build-deps.yaml
  .gitlab/bazel/tests.yaml
Due: shell-check-no-set-x

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
