Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$

Fix breaking changes
  comp/host-profiler/collector/impl/otel_col_factories.go
  comp/otelcol/collector-contrib/impl/components.go
  comp/otelcol/ddflareextension/impl/configstore_test.go
  comp/otelcol/ddflareextension/impl/extension_test.go
  comp/otelcol/ddflareextension/impl/testdata/simple-dd/config-enhanced-result.yaml
  comp/otelcol/ddflareextension/impl/testdata/simple-dd/config-provided-result.yaml
  comp/otelcol/otlp/collector.go
  comp/otelcol/otlp/components/connector/datadogconnector/example_test.go
  comp/otelcol/otlp/internal/configutils/utils_test.go
  test/new-e2e/tests/otel/otel-agent/testdata/minimal-full-config.yml
  test/new-e2e/tests/otel/otel-agent/testdata/minimal-provided-config.yml
  test/new-e2e/tests/otel/otel-agent/testdata/no-dd-exporter-full-config.yml
  test/new-e2e/tests/otel/otel-agent/testdata/no-dd-exporter-provided-config.yml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Increases the data replica count to 50
  .gitlab/functional_test/regression_detector.yml
Due: shell-check-no-set-x, gitlab-configuration

When detecting CCRID, log only once, and don't worry about k8s
  pkg/util/cloudproviders/cloudproviders.go
  pkg/util/cloudproviders/cloudproviders_test.go
Due: copyright, go-mod-tidy

Fix function arg
  pkg/util/cloudproviders/cloudproviders.go
Due: copyright, go-mod-tidy

commititng analysis
  fix_analysis_benchmark.txt
  main_analysis_benchmark.txt
Due: none

reno
  releasenotes/notes/optimize-json-aggr-4fb20ed2db8454af.yaml
Due: shell-check-no-set-x

cleaning up
  fix_analysis_benchmark.txt
  fix_with_valid_check_analysis_benchmark.txt
  main_analysis_benchmark.txt
  main_analysis_benchmark_results.txt
  pkg/logs/internal/decoder/auto_multiline_detection/json_aggregator_benchmark_test.go
  run_benchmarks.sh
Due: copyright, go-mod-tidy, shell-check-no-set-x

fix(serverless): set defaults for non-relevant configs to suppress warnings
  pkg/config/setup/config.go
Due: copyright, go-mod-tidy

Introduce `bazel` CI config with detailed test errors (#42536)
  .bazelrc
  tools/bazel
  tools/bazel.bat
Due: none

add bypass env
  pkg/network/tracer/connection/tracer.go
Due: copyright, go-mod-tidy

Update draining
  comp/core/workloadmeta/impl/store.go
Due: copyright, go-mod-tidy

[AGNTLOG-330] Expand Logs File Rotation Analytics (#42587)
  pkg/logs/metrics/metrics.go
  pkg/logs/tailers/file/rotate.go
  pkg/logs/tailers/file/rotate_nix.go
  pkg/logs/tailers/file/rotate_windows.go
  pkg/logs/tailers/file/tailer.go
  pkg/logs/tailers/file/tailer_nix.go
  pkg/logs/tailers/file/tailer_windows.go
  releasenotes/notes/expand-rotation-analytics-3d20c71912790874.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

Update serverless agent to use internal spans
  cmd/serverless/main.go
  comp/trace/agent/impl/agent_mock.go
  pkg/serverless/appsec/httpsec/proxy.go
  pkg/serverless/appsec/httpsec/proxy_test.go
  pkg/serverless/appsec/httpsec/tags.go
  pkg/serverless/daemon/daemon_test.go
  pkg/serverless/trace/cold_start_span_creator.go
  pkg/serverless/trace/cold_start_span_creator_test.go
  pkg/serverless/trace/inferredspan/inferred_span.go
  pkg/serverless/trace/inferredspan/inferred_span_test.go
  pkg/serverless/trace/modifier/tracer_payload_modifier_test.go
  pkg/serverless/trace/span_modifer_test.go
  pkg/serverless/trace/span_modifier.go
  pkg/serverless/trace/trace.go
  pkg/serverless/trace/trace_test.go
  pkg/trace/agent/agent.go
  pkg/trace/api/converter_test.go
Due: copyright, go-mod-tidy

Skip generation of extraneous symlinks
  bazel/rules/so_symlink.bzl
Due: none

Replace comment with extracted names
  bazel/rules/so_symlink.bzl
Due: none

delete non-passing experiment for now
  test/regression/cases/otlp_ingest_logs/datadog-agent/datadog.yaml
  test/regression/cases/otlp_ingest_logs/experiment.yaml
  test/regression/cases/otlp_ingest_logs/lading/lading.yaml
Due: shell-check-no-set-x

more serverless fixes
  cmd/serverless/main.go
  pkg/serverless/daemon/daemon_test.go
  pkg/serverless/trace/span_modifer_test.go
  pkg/serverless/trace/span_modifier.go
  pkg/serverless/trace/trace.go
  pkg/serverless/trace/trace_test.go
Due: copyright, go-mod-tidy

update inv devcontainer task and add claude code support (#41838)
  tasks/build_tags.py
  tasks/devcontainer.py
Due: none

IPC socket ownership
  omnibus/config/templates/datadog-agent/gui.launchd.plist.erb
  omnibus/package-scripts/agent-dmg/postinst
  pkg/collector/corechecks/net/wlan/wlan_darwin.go
Due: copyright, go-mod-tidy

Merge conflicts
  comp/otelcol/collector-contrib/impl/components.go
Due: copyright, go-mod-tidy

[Backport 7.73.x] When detecting CCRID, log only once, and don't worry about k8s (#42813)
  pkg/util/cloudproviders/cloudproviders.go
  pkg/util/cloudproviders/cloudproviders_test.go
Due: copyright, go-mod-tidy

[Experimental] Pre-allocate nodes for nodetreemodel config
  pkg/config/create/new.go
  pkg/config/nodetreemodel/inner_node.go
  pkg/config/nodetreemodel/leaf_node.go
  pkg/config/structure/unmarshal.go
Due: copyright, go-mod-tidy

remove unused var
  omnibus/package-scripts/agent-dmg/postinst
Due: none

Check if Windows services unexpectedly restarted
  test/new-e2e/tests/windows/service-test/startstop_test.go
Due: copyright, go-mod-tidy

add direct marshal support to USM encoders
  pkg/network/encoding/marshal/format.go
  pkg/network/encoding/marshal/modeler.go
  pkg/network/encoding/marshal/usm.go
  pkg/network/encoding/marshal/usm_encoders_linux.go
  pkg/network/encoding/marshal/usm_encoders_unsupported.go
  pkg/network/encoding/marshal/usm_encoders_windows.go
  pkg/network/encoding/marshal/usm_http.go
  pkg/network/encoding/marshal/usm_http2.go
  pkg/network/encoding/marshal/usm_kafka.go
  pkg/network/encoding/marshal/usm_postgres.go
  pkg/network/encoding/marshal/usm_redis.go
Due: copyright, go-mod-tidy

Modifying tag of persistent runners
  .gitlab/bazel/defs.yaml
Due: shell-check-no-set-x

[gopacket] Upgrade to latest to pick up (*TPacket).Close fix (#42724)
  go.mod
  go.sum
Due: go-mod-tidy, check-go-modules-in-python, protocol-buffer

attempt to trigger permission popup
  comp/core/gui/guiimpl/systray/Sources/main.swift
Due: none

Fix data race in TestGetPendingConns.
  pkg/network/tracer/connection/perf_batching_test.go
Due: copyright, go-mod-tidy

Skip generation of extraneous symlinks (#42776)
  bazel/rules/so_symlink.bzl
Due: none

Fix another data race in TestGetPendingConns.
  pkg/network/tracer/connection/perf_batching_test.go
Due: copyright, go-mod-tidy

Fix data race in TestPerfBatchStateCleanup.
  pkg/network/tracer/connection/perf_batching_test.go
Due: copyright, go-mod-tidy

[RC-2932] deflake TestSlowReceiver
  pkg/config/remote/service/subscriptions_test.go
Due: copyright, go-mod-tidy

package and deploy iox tar file
  .github/CODEOWNERS
  .gitlab-ci.yml
  .gitlab/JOBOWNERS
  .gitlab/network_device_build/network_device_build.yml
Due: shell-check-no-set-x, gitlab-configuration

testing
  comp/core/agenttelemetry/impl/agenttelemetry_test.go
  comp/core/agenttelemetry/impl/config.go
Due: copyright, go-mod-tidy

add COAT for DDOT/agent otlp ingest for metrics, logs and traces
  comp/otelcol/otlp/components/exporter/datadogexporter/telemetry.go
  comp/otelcol/otlp/components/exporter/datadogexporter/traces_exporter.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/logs_exporter.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/telemetry.go
  comp/otelcol/otlp/components/exporter/serializerexporter/exporter.go
  comp/otelcol/otlp/components/exporter/serializerexporter/factory.go
  comp/otelcol/otlp/components/exporter/serializerexporter/telemetry.go
Due: copyright, go-mod-tidy

remove unecessary changes
  comp/otelcol/otlp/collector.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/factory.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/logs_exporter.go
Due: copyright, go-mod-tidy

remove unecessary changes
  comp/otelcol/otlp/components/exporter/serializerexporter/factory.go
Due: copyright, go-mod-tidy

Add counters for requests and events for otlp logs WIP
  comp/core/agenttelemetry/impl/config.go
  comp/otelcol/otlp/collector.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/factory.go
  comp/otelcol/otlp/components/exporter/logsagentexporter/logs_exporter.go
  comp/otelcol/otlp/components/exporter/serializerexporter/factory.go
Due: copyright, go-mod-tidy

add otlp metric telemetry, fix naming
  comp/otelcol/otlp/components/exporter/logsagentexporter/telemetry.go
Due: copyright, go-mod-tidy
