Repository DataDog/datadog-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, win-clang-format, go-mod-tidy, shell-check-no-set-x, gitlab-configuration, check-go-modules-in-python, protocol-buffer, experiment-systemd-units

copyright:
  name: copyright
  description: copyright headers
  entry: dda inv linter.copyrights --only-staged-files
  language: system
  require_serial: true
  pass_filenames: false

win-clang-format:
  name: win-clang-format
  description: clang-format
  entry: dda inv pre-commit.check-winclang-format
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go-mod-tidy
  description: check that all go.mod files are tidy
  entry: bash -c 'GOTOOLCHAIN=go$(cat .go-version) dda inv tidy'
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

shell-check-no-set-x:
  name: shell-check-no-set-x
  description: check that no `set -x` is set within github / gitlab workflows
  entry: dda inv pre-commit.check-set-x
  language: system
  require_serial: true
  pass_filenames: false

gitlab-configuration:
  name: gitlab-configuration
  description: Lint and test GitLab CI configuration files
  entry: dda inv linter.full-gitlab-ci -t main --pre-push-linters --fail-fast
  language: system
  require_serial: true
  pass_filenames: false
  stages:
  - pre-push

check-go-modules-in-python:
  name: check-go-modules-in-python
  description: Validate all go modules are declared in Invoke tasks
  entry: dda inv modules.validate --fix-format
  language: system
  pass_filenames: false

protocol-buffer:
  name: validate-protocol-buffer-generated-files
  description: Validate that the generated protocol buffer files are up to date
  entry: dda inv protobuf.generate --pre-commit
  language: system
  pass_filenames: false

experiment-systemd-units:
  name: validate-experiment-systemd-units
  description: Validate that the generated systemd experimrent units are up to date
  entry: dda inv installer.generate-experiment-units --check
  language: system
  pass_filenames: false

metriclookback: update qbranch tests for config SetInTest
  pkg/collector/metriclookback/scheduler_test.go
Due: copyright, go-mod-tidy

fix: docker compose install adress
  test/e2e-framework/components/docker/install.go
Due: copyright, go-mod-tidy

Remove ADP launchd service on macOS uninstall
  cmd/agent/macos/uninstall_mac_os.sh
  tasks/unit_tests/adp_macos_packaging_tests.py
Due: shell-check-no-set-x

Assert macOS ADP service lifecycle parity
  tasks/unit_tests/adp_macos_packaging_tests.py
Due: none

[QB1HZ-5] Add shadow lookback status and telemetry (#51984)
  cmd/agent/subcommands/run/command.go
  cmd/agent/subcommands/run/metriclookback.go
  pkg/collector/metriclookback/BUILD.bazel
  pkg/collector/metriclookback/lookbacksender/BUILD.bazel
  pkg/collector/metriclookback/lookbacksender/sender.go
  pkg/collector/metriclookback/lookbacksender/sender_test.go
  pkg/collector/metriclookback/lookbacksender/telemetry.go
  pkg/collector/metriclookback/scheduler.go
  pkg/collector/metriclookback/telemetry.go
  pkg/collector/runner/BUILD.bazel
  pkg/collector/worker/BUILD.bazel
  pkg/config/setup/common_settings.go
  pkg/config/setup/config_test.go
  pkg/status/collector/status.go
  pkg/status/collector/status_templates/collector.tmpl
  pkg/status/collector/status_templates/collectorHTML.tmpl
  pkg/status/collector/status_test.go
Due: copyright, go-mod-tidy

Update releasenotes-dca/notes/orchestrator-skip-subresource-discovery-38455c45c93f0040.yaml
  releasenotes-dca/notes/orchestrator-skip-subresource-discovery-38455c45c93f0040.yaml
Due: shell-check-no-set-x

[Backport 7.80.x] chore: bump Agent Data Plane to 1.1.3 (#52141)
  release.json
Due: none

deps: openssl: update to 3.5.7 (#52056)
  deps/openssl/0002-OSSL_PARAM_BLD_push_octet_allow_NULL_buffer.patch
  deps/openssl/version.bzl
  deps/repos.MODULE.bazel
  packaging/aix/stages/01-native-libs.sh
Due: shell-check-no-set-x

add explaintion comment about manual tags
  compliance/package_licenses.bzl
  packages/installer/linux/BUILD.bazel
Due: none

[Backport 7.80.x] Fix AKS selectors on admission probe webhook (#52017)
  pkg/clusteragent/admission/controllers/webhook/config.go
  pkg/clusteragent/admission/controllers/webhook/controller_base.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1_test.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1.go
  pkg/clusteragent/admission/controllers/webhook/controller_v1beta1_test.go
  releasenotes-dca/notes/fix-admission-probe-aks-selectors-e307c388794f1d9a.yaml
Due: copyright, go-mod-tidy, shell-check-no-set-x

implement changes and add unit tests
  comp/netflow/goflowlib/formatdriver.go
  comp/netflow/goflowlib/formatdriver_test.go
  comp/netflow/goflowlib/netflowstate/BUILD.bazel
  comp/netflow/goflowlib/netflowstate/netflow.go
Due: copyright, go-mod-tidy

require in_bytes before splitting out_bytes records
  comp/netflow/goflowlib/formatdriver.go
Due: copyright, go-mod-tidy

serverless: respect context deadline in provider.Flush
  comp/logs-library/pipeline/provider.go
Due: copyright, go-mod-tidy

logs pipeline: add debug log on flush outcome
  cmd/serverless-init/main.go
  comp/logs-library/pipeline/provider.go
  comp/logs/agent/impl/serverless.go
Due: copyright, go-mod-tidy

chore(logs-library/pipeline): add pkg/util/log to BUILD.bazel deps
  comp/logs-library/pipeline/BUILD.bazel
Due: none

feat(snmp): add NCM autodiscovery config writer for SNMP listener
  comp/core/autodiscovery/listeners/snmp_ncm.go
  comp/core/autodiscovery/listeners/snmp_ncm_test.go
Due: copyright, go-mod-tidy

Add ADP support to Windows packaging
  omnibus/config/projects/agent.rb
  omnibus/config/software/datadog-agent-data-plane.rb
  omnibus/config/software/datadog-agent-dependencies.rb
  release.json
  tasks/libs/common/omnibus.py
  tasks/unit_tests/adp_macos_packaging_tests.py
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog Agent/AgentBinaries.cs
  tools/windows/DatadogAgentInstaller/WixSetup/Datadog Agent/AgentInstaller.cs
Due: none

Simplify Windows ADP hash key selection
  omnibus/config/software/datadog-agent-data-plane.rb
Due: none

Format ADP packaging unit test file
  tasks/unit_tests/adp_macos_packaging_tests.py
Due: none

feat(snmp): integrate NCM config generation with device registration
  pkg/snmp/snmp.go
  pkg/snmp/snmp_test.go
Due: copyright, go-mod-tidy

feat(snmp): hook NCM device tracking into SNMP registration and eviction
  comp/core/autodiscovery/listeners/snmp.go
Due: copyright, go-mod-tidy

modified teh config template in consequence
  pkg/config/config_template.yaml
Due: shell-check-no-set-x

pkg/dyninst: add wire-format slots for capture-failure reasons
  pkg/dyninst/ebpf/framing.h
  pkg/dyninst/output/drop_notification.go
  pkg/dyninst/output/event.go
  pkg/dyninst/output/event_test.go
  pkg/dyninst/output/framing_linux.go
  pkg/dyninst/output/truncation_reason.go
Due: copyright, win-clang-format, go-mod-tidy

pkg/dyninst: Carrier A placeholder emission + ExprStatusBits=4
  pkg/dyninst/decode/return_marshal_test.go
  pkg/dyninst/ebpf/context.h
  pkg/dyninst/ebpf/scratch.h
  pkg/dyninst/ebpf/stack_machine.h
  pkg/dyninst/ir/expression.go
  pkg/dyninst/testdata/decoded/sample/testManyStrings.json
Due: copyright, win-clang-format, go-mod-tidy

pkg/dyninst: propagate drop-reason cause and side from eBPF
  pkg/dyninst/ebpf/context.h
  pkg/dyninst/ebpf/event.c
  pkg/dyninst/ebpf/framing.h
  pkg/dyninst/ebpf/scratch.h
  pkg/dyninst/ebpf/stack_machine.h
  pkg/dyninst/integration_first_flush_fail_test.go
  pkg/dyninst/module/sink.go
  pkg/dyninst/module/sink_reassembly_test.go
  pkg/dyninst/output/drop_notification.go
Due: copyright, win-clang-format, go-mod-tidy

pkg/dyninst/ebpf: stamp reason bits and surface chase-failure cause
  pkg/dyninst/ebpf/chased_slices.h
  pkg/dyninst/ebpf/context.h
  pkg/dyninst/ebpf/stack_machine.h
Due: win-clang-format

pkg/dyninst: decoder + sink surface capture-failure reasons in snapshots
  pkg/dyninst/decode/BUILD.bazel
  pkg/dyninst/decode/decoder.go
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/not_captured_reason.go
  pkg/dyninst/decode/reason.go
  pkg/dyninst/decode/types.go
  pkg/dyninst/ebpf/context.h
  pkg/dyninst/ebpf/framing.h
  pkg/dyninst/ebpf/scratch.h
  pkg/dyninst/ebpf/stack_machine.h
  pkg/dyninst/eventbuf/buffer.go
  pkg/dyninst/ir/expression.go
  pkg/dyninst/module/runtime_impl.go
  pkg/dyninst/module/sink.go
  pkg/dyninst/output/event.go
  pkg/dyninst/output/truncation_reason.go
  pkg/dyninst/testdata/decoded/sample/testManyStrings.json
  pkg/dyninst/testdata/decoded/simple/condCompound_or_not_isempty.json
  pkg/dyninst/testdata/decoded/simple/condString_cond.json
  pkg/dyninst/testdata/decoded/simple/indexStructSliceField_capture.json
  pkg/dyninst/testdata/decoded/simple/lenStructFields_nocond.json
Due: copyright, win-clang-format, go-mod-tidy

pkg/dyninst: unit tests, smoke recipe, condition-eval-error counters
  pkg/dyninst/decode/reason_test.go
  pkg/dyninst/module/sink_condition_eval_error_test.go
  pkg/dyninst/output/truncation_reason.go
Due: copyright, go-mod-tidy

pkg/dyninst: distinguish any/all iteration-cap exhaustion from other condition errors
  pkg/dyninst/decode/decoder.go
  pkg/dyninst/decode/decoder_test.go
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/ebpf/context.h
  pkg/dyninst/ebpf/event.c
  pkg/dyninst/ebpf/stack_machine.h
  pkg/dyninst/module/runtime_impl.go
  pkg/dyninst/module/sink.go
  pkg/dyninst/module/sink_condition_eval_error_test.go
  pkg/dyninst/testdata/decoded/simple/allIntSlice_positive.json
  pkg/dyninst/testdata/decoded/simple/anyIntSlice_andOuter.json
  pkg/dyninst/testdata/decoded/simple/anyIntSlice_eq42.json
  pkg/dyninst/testdata/decoded/simple/anyIntSlice_notAny.json
  pkg/dyninst/testdata/decoded/simple/anyIntSlice_orAll.json
  pkg/dyninst/testdata/decoded/simple/captureAllIntSlice_positive.json
  pkg/dyninst/testdata/decoded/simple/captureAnyIntSlice_eq42.json
  pkg/dyninst/testdata/decoded/simple/captureAny_nested_err.json
  pkg/dyninst/testdata/decoded/simple/captureAny_outerScope_err.json
  pkg/dyninst/testdata/decoded/simple/captureContainsIntSlice_42.json
  pkg/dyninst/testdata/decoded/simple/containsIntSlice_eq42.json
  pkg/dyninst/testdata/decoded/simple/regression_condEvalErrorIsolation.json
  pkg/dyninst/testdata/decoded/simple/templateAllIntSlice_positive.json
  pkg/dyninst/testdata/decoded/simple/templateAnyIntSlice_eq42.json
  pkg/dyninst/testdata/decoded/simple/templateAnyIntSlice_toolarge.json
  pkg/dyninst/testdata/decoded/simple/templateContainsIntSlice_42.json
Due: copyright, win-clang-format, go-mod-tidy

pkg/dyninst: review feedback — tighten notCapturedReason invariant and fix placeholder reason-bit leak
  pkg/dyninst/decode/decoder.go
  pkg/dyninst/decode/marshal.go
  pkg/dyninst/decode/not_captured_reason.go
  pkg/dyninst/decode/types.go
  pkg/dyninst/ebpf/framing.h
  pkg/dyninst/ebpf/scratch.h
  pkg/dyninst/module/sink_condition_eval_error_test.go
  pkg/dyninst/output/event_test.go
  pkg/dyninst/testdata/decoded/sample/testMapMassive.json
  pkg/dyninst/testdata/decoded/sample/testMapMassiveWithSizeLimit.json
  pkg/dyninst/testdata/decoded/sample/testMapWithSmallValueMassive.json
  pkg/dyninst/testdata/decoded/sample/testVeryLargeSlice.json
  pkg/dyninst/testdata/decoded/sample/testVeryLargeSliceWithSizeLimit.json
Due: copyright, win-clang-format, go-mod-tidy

pkg/dyninst/ebpf: reduce verifier complexity on older kernels
  pkg/dyninst/ebpf/event.c
  pkg/dyninst/ebpf/stack_machine.h
Due: win-clang-format

Remove MCP dependencies from cluster-agent
  cmd/cluster-agent/subcommands/start/command.go
  deps/go.MODULE.bazel
  go.mod
  go.sum
  pkg/clusteragent/mcp/BUILD.bazel
  pkg/clusteragent/mcp/main.go
  pkg/clusteragent/mcp/tools/BUILD.bazel
  pkg/clusteragent/mcp/tools/get_leader.go
  pkg/config/setup/common_settings.go
Due: copyright, go-mod-tidy, check-go-modules-in-python, protocol-buffer

Path conditions:
  copyright: any of: \.go$
  win-clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  go-mod-tidy: any of: (\.go|^go\.mod|^go\.sum)$
  shell-check-no-set-x: any of: (\.yaml|\.yml|\.sh|Dockerfile)$
  gitlab-configuration: any of: .*gitlab.*\.yml$
  check-go-modules-in-python: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py)$
  protocol-buffer: any of: (.*go\.mod|modules\.yml|.*gomodules\.py|.*modules\.py|.*.proto|.protoc-version|.*protobuf\.py)$
  experiment-systemd-units: any of: ^pkg/fleet/installer/packages/embedded/.*\.service$
